﻿@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;}

@font-face {
	font-family: 'Sansumi';
	src: url('../fonts/Sansumi-ExtraBold.eot');
	src: url('../fonts/Sansumi-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Sansumi-ExtraBold.woff') format('woff'),
		url('../fonts/Sansumi-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;}

.clear {clear: both;}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light.ttf') format('truetype'), url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold.woff2') format('woff2'), url('../fonts/opensans-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

*{padding: 0px;
margin: 0px;}

body {
    background: #FFF;
    font-family: 'ProximaNova-Light';
    font-size: 16px;
    color: #4c4c4c;
    line-height: 28px;
    font-weight: normal;
	overflow-x: hidden;}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;}

section, aside, article, details, header, figure, footer, figcaption, hgroup, menu, nav {
    padding: 0px;
    margin: 0px;
    display: block;}

a {-webkit-transition: all 0.7s ease-in;
-o-transition: all 0.7s ease-in;
-moz-transition: all 0.7s ease-in;
transition: all 0.7s ease-in;}

ul, li {
    list-style-type: none;
}

nav ul {
    list-style: none;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
    line-height: normal;
    font-weight: normal;
}

img {
    padding: 0px;
    margin: 0px;
    border: none;
    -ms-interpolation-mode: bicubic;
}

h1 {
 color: #f7901e;
    font-family: "Sansumi";
    font-size: 45px;
    font-weight: normal;
    line-height:55px;
    margin: 0;
    padding-bottom:15px;
}

    h1 span {
        font-size: 72px;
        line-height: 70px;
    }

h2 {
    font-family: 'ProximaNova-Regular';
    font-size: 30px;
    color: #454345;
    line-height: 28px;
    font-weight: normal;
    margin: 0px;
    text-align: left;
}

h3 {
    font-family: 'ProximaNova-Regular';
    font-size: 22px;
    color: #3c3d3f;
    line-height: 26px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

h4 {
    font-family: 'ProximaNova-Regular';
    font-size: 20px;
    color: #3c3d3f;
    line-height: 26px;
    font-weight: normal;
    margin: 0px;
}

p {
    font-family: 'ProximaNova-Light';
    font-size: 17px;
    color: #464746;
    font-weight: normal;
	padding-bottom:15px;
    margin: 0px;
    line-height: 30px;
    /*text-align: center;*/
}

.bttn {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

    .bttn a {
        font-family: 'ProximaNova-Regular';
        font-size: 16px;
        color: #FFF;
        font-weight: normal;
        text-decoration: none;
        background: #f7901e;
        padding: 8px 35px;
        text-transform: uppercase;
    }

        .bttn a:hover {
            background: #d5a147;
        }

        .bttn a.more:hover {
            background: #b4c238;
        }

#page {
    padding: 0px;
    margin: 0px;
}

#mid_body {
    padding: 0px;
    margin: 0px;
}

.heading {
    padding: 0px;
    margin: 0px;
}

.choksey_contt_sec {
    padding: 0px;
    margin-top:10px;
}

.dashboard_sec {
    padding: 0px;
    margin-top: 18px;}

canvas{ padding:0px;
margin:chartContainer}

.choksey_contt_section {
    padding: 0px;
    margin: 0px;
}

.border_line {
    position: relative;
    border: 1px solid #ffffff;
    text-align: center;
    width: 45%;
    margin-top: 20px;
}

.choksey_contt_box {
    padding: 0px 25px;
    margin: 0px;
}

    .choksey_contt_box h3 {
        padding-bottom: 12px;
    }

.border_line.border_line_two {
    width: 29%;
}

.blue_border_line {
    border: 4px solid #f7901e;
    left: -1px;
    position: absolute;
    right: 0;
    top: -3px;
    width: 20%;
}

/*header****************************************************Start*************************************************/

header {
    background: #ffffff;
    border-top: 2px solid #ffffff;
    /*padding:25px 0px;*/
    padding: 22px 0px;
}

.header_box {
    padding: 0px;
    margin: 0 auto;
    width:96%;
    text-align: center;
}

.logo {
    padding: 0px;
    margin: 0px;
    float: left;
    text-align: left;
}

    .logo p {
        text-align: left;
    }

        .logo p span {
            font-size: 24px;
            padding-left: 5px;
            font-family: 'open_sanssemibold';
            color: #37383d;
        }

    .logo img {
        width: auto;
    }

.header_right {
    padding: 0px;
    margin: 0px;
    float: right;
}

.search_ber_sec {
    padding: 0px;
    margin: 0px 0px 0px 0px;
    float: left;
}

    .search_ber_sec.for_quote_search {
        margin: 0px;
    }

.all_bttn_sec {
    padding: 0px;
    margin: 0px;
    float: left;
}

.log_in_button {
    /*background:#d5a147;*/
    background: #f7901e;
    padding: 7px 15px;
    color: #FFF;
    border: none;
    margin: 0px;
    font-family: 'ProximaNova-Regular';
}

.modal-dialog {
    margin: 30px auto;
    width: 40%;
}

.log_in_bttn {
    padding: 0px;
    margin-right: 10px;
    float: left;
}

.modal-body {
    padding: 0px;
    position: relative;
}

.modal_body_left {
    /*padding:20px 10px;*/
    padding: 33px 10px;
    margin: 0px;
    background: #f7901e;
    float: left;
    width: 45%;
}

.modal-header h2 {
    text-align: center;
}

.modal_body_right {
    padding: 10px 10px;
    margin: 0px;
    background: #FFFFFF;
    float: left;
    width: 50%;
}

    .modal_body_right p {
        text-align: left;
        line-height: 18px;
        padding-bottom: 8px;
    }

        .modal_body_right p span a {
            font-family: 'ProximaNova-Regular';
            color: #f7901e;
            font-size: 15px;
            text-align: right;
            padding-bottom: 20px;
            text-align: right;
        }

.modal_body_left h3 {
    padding: 15px 0px;
    text-align: left;
    color: #FFF;
}

.modal_body_left p {
    text-align: left;
}

.modal_body_left img {
    width: auto;
}

button.close {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}

.modal-header {
    border-bottom: 1px solid #bbbbbb;
    padding: 15px;
}

.sign_up_bttn {
    padding: 0px;
    margin-top: 6px;
    float: left;
}

    .sign_up_bttn a {
        font-family: 'ProximaNova-Regular';
        color: #FFFFFF;
        background: #c9873c;
        padding: 11px 25px;
        font-size: 16px;
        margin-right: 10px;
    }

        .sign_up_bttn a:hover {
            background: #a66e2e;
        }

.current_time {
	padding-top:5px;
    margin: 0px 25px;
    float: left;
}

    .current_time p {
        text-align: center;
    }

/*log_in bttn**********************/

.btn-group-lg > .btn, .btn-lg {
    border-radius: 0px;
    font-size: 18px;
    padding: 10px 16px;
}

.btn-primary {
    background: #F00;
    color: #fff;
}

/*header Social Section********************/

.footer_in_touch {
float: left;
text-align: center;
}

.footer_in_touch ul {
padding: 0px;
}

.footer_in_touch ul li {
display: inline-block;
}

.footer_in_touch ul li a {
border: 1px solid #7a7a7a;
-o-border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
color: #7a7a7a;
font-size: 22px;
/*line-height: 30px;*/
line-height: 40px;
margin: 0 5px;
/*padding: 7px 13px;*/
padding: 11px 18px;
text-align: center;}



.footer_in_touch ul li a:hover {
opacity: 0.8;
color: #a72024;
border: 1px solid #FF0000;
}


/*newsletter********************/

.newsletter {
    padding: 0px;
    margin: 0px 10px;
    float: left;
}

.all_news_box {
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid #c1c1c1;
}

    .all_news_box:nth-last-child(1) {
        border-bottom: none;
    }

.newsletter.newsletter_quote {
    margin: 0px;
}

.newsletter_input {
    width: 400px;
    height: 42px;
    font-family: 'ProximaNova-Regular';
    color: #151515;
    font-size: 15px;
    background: #FFF;
    vertical-align: middle;
    float: left;
    border: none;
    border: 1px solid #cecccc;
    padding-left: 10px;
}

.newsletter_bot_sec {
    padding: 0px;
    margin: 0px;
    float: left;
    background: #000000;
    border: none;
}

.newsletter_bot {
    height: 42px;
    cursor: pointer;
    border: none;
    background: #f7901e;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'ProximaNova-Regular';
    width: 115px;
}

/*navigation****************************************************Start*************************************************/

.dropdown-menu > li h3 {
    font-size: 18px;
    padding: 0px 10px 10px 10px;
    color: #FFF;
    border-bottom: 1px dashed #FFF;
}

.navbar-nav > li {
    margin-right: 20px;
}

.navbar-default {
    margin-bottom: 0px;
}

.dropdown-menu > li a {
    color: #FFF;
    font-size: 15px;
    font-family: 'ProximaNova-Regular';
    background: url(../images/dropdown-arrow.png) no-repeat 0px 12px;
    line-height: 30px;
    margin-left: 10px;
}

    .dropdown-menu > li a:hover {
        background: url(../images/dropdown-arrow-hover.png) no-repeat 0px 12px;
        color: #f7901e;
        margin-left: 25px;
        -webkit-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }

.dropdown-menu {
    min-width: 230px;
    background: rgba(0,0,0,0.8);
    /*border: 3px solid #f7901e;*/
    border-radius: 5px;
}

.navbar-default {
    background-color: #33373c;
}

    .navbar-default .navbar-nav > li > a {
        font-size: 17px;
        font-family: 'ProximaNova-Regular';
        color: #FFF !important;
    }

        .navbar-default .navbar-nav > li > a:hover {
            color: #f7901e !important;
        }

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
        background: #f7901e;
        color: #FFF !important;
    }

.nav_box {
    padding: 0px;
    margin: 0 auto;
    width: 85%;
    text-align: left;
}

/*banner****************************************************Start*************************************************/

#banner {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#camera_wrap_1 {
    height: 800px !important;
}

.dashboard_bttn_sec {
    text-align: center;
    margin: 0 auto;
    display: none;
}

.dashboard_bttn {
    padding: 0px;
    margin-top: 12px;
    text-align: center;
}

    .dashboard_bttn a {
        font-family: 'ProximaNova-Regular';
        font-size: 18px;
        border: 1px solid rgba(255,255,255,0.6);
        color: #FFF;
        font-weight: normal;
        text-decoration: none;
        background: transparent;
        padding: 12px 55px;
        text-transform: uppercase;
    }

        .dashboard_bttn a:hover {
            background: #f7901e;
            border: 1px solid #f7901e;
        }

.banner_contt_box {
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1300px;
    height: 500px;
    overflow: hidden;
    cursor: move;
}

.banner_box {
    padding: 0px;
    margin: 0px;
    position: relative;
}

.banner_box img {
	width: auto;
}

.banner_content {
    position: absolute;
    top: 100px;
    left: 10%;
    z-index: 888888;
}

.banner_tab {
    padding: 0px;
    margin: 0px;
	height:335px;
}

.banner_tab_sub_heading {
    padding: 10px 20px;
    margin: 0px;
    float: left;
    width: 25%;}
	
.banner_tab_sub_heading.no_sub_pad{ padding:0px;}

    /*.banner_tab_sub_heading::before{ content:",";
position:absolute;
z-index:500;
left:-252px;
background:url(../images/circle-curve-bg.png) no-repeat;
width:253px;
height:265px;
top:-1px;}*/

/*.banner_tab_sub_heading ul {
list-style-type: none;
}

.banner_tab_sub_heading ul li {
display: block !important;
padding-bottom: 15px;
}

.banner_tab_sub_heading ul li a {
margin-bottom: 15px;
}

.banner_tab_sub_heading ul li a .currency_part {
margin: 0px;
float: left;
background: url(../images/currency-icon.png) no-repeat 0px 3px;
width: 30px;
height: 30px;
text-decoration: none;
}

.banner_tab_sub_heading ul li a:hover .currency_part {
background: url(../images/currency-icon-hover.png) no-repeat 0px 3px;
width: 30px;
height: 30px;
}

.banner_tab_sub_heading ul li a .icon_part__text_sec {
padding: 0px;
margin-left: 10px;
float: left;
font-family: 'ProximaNova-Regular';
font-size: 18px;
color: #FFF;
text-decoration: none;
font-weight: normal;
-webkit-transition: all 0.5s ease 0s;
-o-transition: all 0.5s ease 0s;
-moz-transition: all 0.5s ease 0s;
transition: all 0.5s ease 0s;
}

.banner_tab_sub_heading ul li a:hover .icon_part__text_sec {
color: #f7901e;
}


.banner_tab_sub_heading ul li a .commodities {
background: url(../images/commodities-icon.png) no-repeat 0px 5px;
float: left;
margin: 0px;
width: 28px;
height: 30px;
text-decoration: none;
}

.banner_tab_sub_heading ul li a:hover .commodities {
background: url(../images/commodities-icon-hover.png) no-repeat 0px 5px;
}

.banner_tab_sub_heading ul li a .equity {
background: url(../images/equity-icon.png) no-repeat 0px 5px;
float: left;
margin: 0px;
width: 28px;
height: 30px;
text-decoration: none;
}

.banner_tab_sub_heading ul li a:hover .equity {
background: url(../images/equity-icon-hover.png) no-repeat 0px 5px;
}

.banner_tab_sub_heading ul li a .research {
background: url(../images/research-icon.png) no-repeat 0px 5px;
float: left;
margin: 0px;
width: 28px;
height: 30px;
text-decoration: none;
}

.banner_tab_sub_heading ul li a:hover .research {
background: url(../images/research-icon-hover.png) no-repeat 0px 5px;
}

.banner_tab_sub_heading ul li a .insurance {
background: url(../images/insurance-icon.png) no-repeat 0px 5px;
float: left;
margin: 0px;
width: 28px;
height: 30px;
text-decoration: none;
}

.banner_tab_sub_heading ul li a:hover .insurance {
background: url(../images/insurance-icon-hover.png) no-repeat 0px 5px;
}

.banner_tab_sub_heading ul li a .pms {
background: url(../images/pms-icon.png) no-repeat 0px 7px;
float: left;
margin: 0px;
width: 28px;
height: 30px;
text-decoration: none;
}

.banner_tab_sub_heading ul li a:hover .pms {
background: url(../images/pms-icon-hover.png) no-repeat 0px 7px;
}

.banner_tab_sub_heading ul li a .bonds {
background: url(../images/bonds-icon.png) no-repeat 0px 7px;
float: left;
margin: 0px;
width: 28px;
height: 30px;
text-decoration: none;
}

.banner_tab_sub_heading ul li a:hover .bonds {
background: url(../images/bonds-icon-hover.png) no-repeat 0px 7px;
}*/

.banner_tab_content {
    padding:5px 25px;
    margin: 0px;
    float: left;
    width: 75%;
}

#investment_bg {
    padding: 0px;
    margin: 0px;
}

    #investment_bg img {
        width: auto;
    }

.banner_tab_content.wealth_box {
    width: 80%;
}

.banner_tab_content h3 {
    color: #FFFFFF;
    font-size: 24px;
    padding-bottom:7px;
    font-family: 'ProximaNova-Regular';
	text-align:left;
}

.banner_tab_content h4 {
    color: #FFF;
	text-align:left;
	padding-bottom:5px;
	font-size:18px;
}

.banner_tab_content h5 {
    color: #f7901e;
    font-size: 20px;
    padding-bottom: 7px;
	text-align:left;
}

.modal-backdrop {
    position: inherit !important;
    background: rgba(0,0,0,0.6);
}

.banner_tab_content p {
    color: #FFF;
    font-size: 16px;
    text-align: left;
    padding-bottom: 10px;
}

.banner_tab_image_sec {
    padding: 50px 20px 0px 20px;
    margin: 0px;
    float: left;
    width: 20%;
    text-align: center;
}

.banner_tab_image_sec.invest_img_banner{ display:none;}

    .banner_tab_image_sec img {
        width: 100%;
    }
	

.read_more {
    padding: 0px;
    margin: 0px;
	float:left;
}

    .read_more a {
        font-family: 'ProximaNova-Regular';
        font-size: 16px;
        color: #f7901e;
        text-decoration: none;
    }

        .read_more a:hover {
            color: #f7901e;
        }

#on-button > span img {
    padding-left: 5px !important;
    padding-right: 5px !important;
    width: 100%;
}

#menu-items .top, #menu-items .bottom {
    border: none;
}

#menu-items .middle .bg-piece {
    background: #444444;
}

#menu-items .bottom {
    background: -webkit-linear-gradient(#515151, #323232); /* For Safari 5.1 to 6.0 */
    background: -o-linear-ggradient(#515151, #323232); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#515151, #323232); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#515151, #323232); /* Standard syntax (must be last) */
}

#menu-items .middle .top .bg-piece:nth-of-type(1)m {
    background: -webkit-linear-gradient(#515151, #323232); /* For Safari 5.1 to 6.0 */
    background: -o-linear-ggradient(#515151, #323232); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#515151, #323232); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#515151, #323232); /* Standard syntax (must be last) */
}

#menu-items label:hover {
    background: #ef8c1d;
}

/*banner 02*****************Start**********************/

#menu-items .bg-piece.active {
    background: -webkit-linear-gradient(#f7901e, #f7751e) !important;
    background: -o-linear-gradient(#f7901e, #f7751e) !important;
    background: -moz-linear-gradient(#f7901e, #f7751e) !important;
    background: linear-gradient(#f7901e, #f7751e) !important;
}

.banner_content_two {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 888888;
    width: 94%;
}

.banner_content_two_sec {
    margin: 0 auto;
}

.banner_content_three_sec {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

    .banner_content_three_sec h2 {
        color: #FFF;
    }

.banner_content_two_sec table td {
    height: 35px;
}

.markets {
    /*padding:10px;*/
    padding: 5px;
    margin: 0px 0px 7px 0px;
    float: left;
    width: 33%;
    border: 1px solid rgba(255,255,255,0.6);
    height: 375px;
}

.heading_left {
	padding-left:5px;
    margin: 0px;
    float: left;
}

    .heading_left h3 {
        color: #FFF;
    }

.heading_right {
    padding: 0px;
    margin: 0px;
    float: right;
}

.research_box_sec {
    /*padding:10px;*/
    padding: 5px;
    margin: 0 5px 7px 5px;
    float: left;
    /*width:40%;*/
    width: 33%;
    border: 1px solid rgba(255,255,255,0.6);
    height: 375px;
}

.my_choksey_sec {
    padding: 5px;
    margin: 0px 0px 7px 0px;
    float: left;
    width: 33%;
    border: 1px solid rgba(255,255,255,0.6);
    height: 375px;
}


.log_in {
    padding: 0px;
    margin-right: 10px;
    float: left;
}

    .log_in a {
        text-align: center;
        border: 1px solid #999999;
        color: #999999;
        font-size: 14px;
        font-family: 'ProximaNova-Regular';
        text-decoration: none;
        padding: 7px 20px;
        text-transform: uppercase;
    }

        .log_in a:hover {
            border: 1px solid #f7901e;
            color: #f7901e;
        }



.rate a:hover {
    text-decoration: none;
}

.research_box_sec img {
    width: auto;
}

.research_box_sec p {
    color: #FFF;
    font-size: 14px;
}

.research_box_sec h4 {
    font-size: 16px;
    padding-bottom: 0px;
    line-height: 18px;
    color: #f7901e;
}

.target_text {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    margin-left: 10px;
}

.ui-tabs9 {
    padding: 0px;
}

    .ui-tabs9 .ui-tabs9-nav .ui-tabs9-anchor {
        float: left;
        padding: 6px 12px;
        text-decoration: none;
        background: #FF0000;
        color: #FFF;
        font-size: 14px;
    }

.ui-tabs10 {
    padding: 0px;
}

    .ui-tabs10 .ui-tabs9-nav .ui-tabs9-anchor {
        float: left;
        padding: 6px 12px;
        text-decoration: none;
        background: #FF0000;
        color: #FFF;
        font-size: 14px;
    }

.ui-widget-content {
    border: none;
    background: none;
}

.demoHeaders {
    margin-top: 2em;
}

#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}

    #dialog-link span.ui-icon {
        margin: 0 5px 0 0;
        position: absolute;
        left: .2em;
        top: 50%;
        margin-top: -8px;
    }

#icons {
    margin: 0;
    padding: 0;
}

    #icons li {
        margin: 2px;
        position: relative;
        padding: 4px 0;
        cursor: pointer;
        float: left;
        list-style: none;
    }

    #icons span.ui-icon {
        float: left;
        margin: 0 4px;
    }

.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}

.security_code {
    /*padding:0px;
margin:0px 00px;*/
    padding: 1px;
    margin: 1px -2px;
}

.ui-tabs1 .ui-tabs1-panel {
    padding: 0px 5px;
}

.security_code input {
    width: 100%;
    height: 32px;
    border: 1px solid #b9b9b9;
    background: #FFFFFF;
    display: block;
    margin-bottom: 15px;
    color: #595a5c;
    font-size: 14px;
    font-family: 'ProximaNova-Regular';
    margin-bottom: 0px;
    padding-left: 12px;
}

.markets_box {
    padding: 0px;
    margin: 0 px;
}

.markets_box_sec {
    padding: 0px;
    margin-top: 12px;
}

.up_arrow {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

    .up_arrow img {
        width: auto !important;
    }

.share_arrow {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.share_arro img {
    width: auto;
}

.banner_content_two_sec h4 {
    font-size: 16px;
    padding-bottom: 0px;
    line-height: 18px;
    color: #FFF;
    text-align:left;
}

.banner_content_two_sec p {
    font-size: 14px;
    color: #FFF;
    text-align:left;
    padding-bottom:0px;
}

.banner_content_two_sec p a{
    font-size: 13px;
    color: #FFF;
    text-align:left;}

.banner_content_two_sec p a:hover{ text-decoration: underline; }

    .banner_content_two_sec p span {
        color: #F00;
    }

.rate {
    width: 100px;
    margin-top: 5px;
    text-align: center;
    margin: 0 auto;
    color: #85dd7c;
    font-size: 14px;
    font-family: 'ProximaNova-Regular';
}

    .rate.down {
        color: #F00;
    }

    .rate a:hover {
        text-decoration: none;
    }

.view_more {
    padding: 0px;
    margin-top: 10px;
    float: right;
}

    .view_more a {
        padding: 0px;
        margin: 0px;
        margin-top: 0px;
        color: #f7901e;
        font-size: 14px;
        font-family: 'ProximaNova-Regular';
        margin-top: 12px;
        background: background:url(../images/view-more-arrow.png) no-repeat right;
    }

        .view_more a:hover {
            background: url(../images/view-more-arrow-hover.png) no-repeat;
            color: #4f5051;
        }

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-size: 14px;
}

/*banner 03*****************Start**********************/

.banner_content_three {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 888888;
    width: 94%;}


.banner_content_three_sec {
    padding: 0px;
	margin-top:20px;
    text-align: center;
}

#image_part_choksey{ padding:0px;
margin:0px;}

.image_part {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 40%;
}

.image_part.cool {
	height: 240px;
	width: 272px;
}

    .image_part img {
        width: 100%;
    }

.wpf-demo-6:hover .view-caption h4 {
    color: #FFF;
    font-size: 24px;
    text-align: left;
}

.wpf-demo-6:hover .view-caption p {
    color: #FFF;
    font-size: 16px;
    text-align: left;
    padding-bottom: 10px;
}

.image_part_text {
    padding:7px;
    margin: 0px;
    float: right;
    width: 67%;
}

    .image_part_text h4 {
        text-align: left;
        padding-bottom: 10px;
        color: #FFF;
    }

    .image_part_text p {
        text-align: left;
        color: #FFF;
        padding-bottom: 0px;
    }

.about_choksey {
    padding: 0px;
    margin-bottom: 50px;
}

.about_choksey_text {
    padding: 0px;
    margin: 0px;
    /*width:65%;*/
    width: 77%;
    padding-right: 20px;
    float: left;
    border-right: 2px solid #FFF;
}

.banner_three h2 {
    color: #FFF;
}

.about_choksey_text p {
    color: #FFF;
    text-align: left;
}

.about_choksey_bttn {
    padding: 0px;
    margin: 0px;
    /*width:30%;*/
    width: 23%;
    float: left;
    position: relative;
}


.banner_bttn {
    padding: 0px;
    margin: 0px;
    position: absolute;
    z-index: 2222;
    top: 210px;
}

    .banner_bttn a {
        font-family: 'ProximaNova-Regular';
        font-size: 16px;
        color: #FFF;
        font-weight: normal;
        text-decoration: none;
        background: #f7901e;
        padding: 12px 60px;
        text-transform: uppercase;
    }

        .banner_bttn a:hover {
            background: #FFFFFF;
            color: #f7901e;
        }


/*Image_overlay_effect*****************Start**********************/

.management {
    padding: 0px;
    margin: 0px;
}

.management_left {
    margin: 0px;
    width: 49%;
    padding-right: 20px;
    float: left;
}

    .management_left:nth-last-child(1) {
        padding-right: 0px;
    }



/*share_news_ber****************************************************Start*************************************************/

#share_news_ber {
    padding: 0px 0px;
    margin: 0px;
    background: #f7901e;
}

.share_news_box {
    width: 96%;
    padding:3px 0px 0px 0px;
    margin: 0 auto;
    text-align: center;
}

.bse_nse_box {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 67%;
}

.bse_news_box_sec {
    padding: 0px;
    margin: 0px;
    min-height: 30px;
}

.bse_news_text {
    padding: 0px;
    margin-right: 15px;
    float: left;
}

    .bse_news_text h3 {
        color: #FFF;
        font-size: 17px;
        color: #FFF;
        line-height: 26px !important;
    }

.bse_news {
    padding: 0px;
    /*margin:0px;*/
    margin: 0px;
    float: left;
}

    .bse_news p {
        text-transform: uppercase;
        color: #000 !important;
    }

.js-marquee {
    color: #000;
}

    .js-marquee strong {
        color: #339939;
    }

    .js-marquee span {
        color: #ff0000;
    }


.marquee,
.marquee-with-options,
.marquee-vert-before,
.marquee-vert {
    width: 1154px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    color: #FFF;
    font-size: 16px;
    line-height: 22px;
}

.ui-widget-header {
    border: none;
    background: none;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    background: #ed3516 !important;
}

/*bse_nse_tab***************************/

.bse_nse_tab {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 33%;
}

.ui-tabs {
padding: 0px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
 background: #f7601e none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-size: 13px;
    padding: 2px 18px;
    text-decoration: none;}

.ui-tabs .ui-tabs-nav li {
    float: left;
    list-style: outside none none;
	margin:0px 5px 0px 0px;
    padding: 0;
    position: relative;
    top: 0;
    white-space: nowrap;}
	
.ui-tabs .ui-tabs-nav li:nth-last-child(1){ margin:0px;}

.log_bg {
    padding: 7px 15px;
}

.demoHeaders {
    margin-top: 2em;
}

#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}

    #dialog-link span.ui-icon {
        margin: 0 5px 0 0;
        position: absolute;
        left: .2em;
        top: 50%;
        margin-top: -8px;
    }

#icons {
    margin: 0;
    padding: 0;
}

    #icons li {
        margin: 2px;
        position: relative;
        padding: 4px 0;
        cursor: pointer;
        float: left;
        list-style: none;
    }

    #icons span.ui-icon {
        float: left;
        margin: 0 4px;
    }

.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}

.security_code {
    padding: 0px;
    margin: 0px 00px;
}

.ui-tabs .ui-tabs-panel {
    padding: 0px 3px;
}

.security_code input {
    width: 100%;
    height: 32px;
    border: 1px solid #b9b9b9;
    background: #FFFFFF;
    display: block;
    margin-bottom: 15px;
    color: #595a5c;
    font-size: 14px;
    font-family: 'ProximaNova-Regular';
    margin-bottom: 0px;
    padding-left: 12px;
}

/*middle_body****************************************************Start*************************************************/

#middle_body {
    background: url(../images/mid-body.jpg) repeat;
    padding: 20px 0px;
    margin: 0px;
}

.middle_body_box{ padding:0px;
width:96%;
margin:0 auto;}


.calculator {
    padding: 0px;
    margin: 0px;
	width:32%;
	float:left;}

.quick_cott {
    padding: 0px;
    margin: 0px;
	width:33%;
	float:left;
}

.calculator_box {
padding: 0px;
margin-top: 25px;
}

.calculator_box ul {
list-style-type: none;
}

.calculator_box ul li {
display: block;
margin-bottom: 20px;
}

.calculator_box ul li:nth-last-child(1) {
margin-bottom: 0px;
}

.calculator_box ul li a {
text-decoration: none;
}

.calculator_box ul li a .box_one {
padding: 14px 15px;
margin: 0px;
background: #f7891e;
width: 100%;
font-family: 'ProximaNova-Regular';
font-size: 18px;
color: #FFF;
line-height: 22px;
}

.calculator_box ul li a .box_two {
padding: 14px 15px;
margin: 0px;
background: #d5a147;
width: 100%;
font-family: 'ProximaNova-Regular';
font-size: 18px;
color: #FFF;
line-height: 22px;
}

.calculator_box ul li a .box_three {
padding: 14px 15px;
margin: 0px;
background: #c9873c;
width: 100%;
font-family: 'ProximaNova-Regular';
font-size: 18px;
color: #FFF;
line-height: 22px;
}

.calculator_box ul li a .box_four {
padding: 14px 15px;
margin: 0px;
background: #f76b1e;
width: 100%;
font-family: 'ProximaNova-Regular';
font-size: 18px;
color: #FFF;
line-height: 22px;
}

.calculator_box ul li a .box_five {
padding: 14px 15px;
margin: 0px;
background: #aa8b41;
width: 100%;
font-family: 'ProximaNova-Regular';
font-size: 18px;
color: #FFF;
line-height: 22px;
}

.calculator_box ul li a img {
padding-right: 10px;
}

/*social_media******************/

.news_feed_box_sec {
    padding: 0px;
	margin:0px 20px;
	width:32%;
	float:left;
}

.social_media_box {
    padding-bottom: 10px;
    margin-top: 25px;
}

    .social_media_box:before {
        content: ",";
        position: absolute;
        top: 0;
        right: 0;
        left: -10px;
        bottom: 0;
        z-index: 9999;
        background: url(../images/shadow-bg.png) no-repeat;
        width: 91px;
        height: 499px;
    }

    .social_media_box ul {
        list-style-type: none;
    }

        .social_media_box ul li {
            display: block;
            margin-bottom: 12px;
            border-bottom: 1px solid #8b8a8a;
        }

            .social_media_box ul li:nth-last-child(1) {
                margin-bottom: 0px;
            }

            .social_media_box ul li a {
                text-decoration: none;
            }

.calculator_box ul li a .media_sec__box {
    margin: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #8b8a8a;
}

.media_icon_part {
    padding: 0px;
    margin-right: 6px;
    float: left;
    width: 16%;
}

.icon_text {
    padding: 0px;
    float: left;
    width: 78%;
}

    .icon_text p {
        font-size: 13px;
        text-align: left;
    }

.social_heading {
    padding: 0px;
    margin: 0px;
    float: left;
}

    .social_heading h3 {
        font-size: 18px;
    }

.social_heading_time {
    padding: 0px;
    margin: 0px;
    float: right;
}

.shares {
    padding: 0px;
    margin-bottom: 5px;
    margin-right: 5px;
    float: left;
}

    .shares img {
        padding-right: 5px;
    }

/*quick_contact******************/


.contact_page1 {
    padding: 0;
    margin: 0px;
}

.contact_name_field {
    padding: 0px;
    margin: 0px 22px 10px 0px;
    float: left;
    width: 31%;
    position: relative;
}

    .contact_name_field.name_field_sec {
        width: 27%;
    }

    .contact_name_field.gender_sec {
        width: 10%;
    }

    .contact_name_field:nth-last-child(1) {
        margin-right: 0px;
    }

.gender_box {
    padding: 0px;
    margin: 0px 10px 15px 10px;
    float: left;
    width: 10%;
}

.gender_box_one {
    padding: 0px;
    margin: 0px 10px 15px 10px;
    float: left;
    width: 75%;
}

    .gender_box_one label {
        width: 8%;
    }

.contact_name_field_one {
    padding: 0px;
    margin: 0px 10px 15px 0px;
    float: left;
    width: 19%;
}

.contact_name_field_two {
    padding: 0px;
    margin: 0px 18px 10px 0px;
    float: left;
    width: 49%;
    position: relative;
}

.form_box_area {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #b4b3b1;
    background: #e0e3ec;
}

.contact_name_field_two:nth-last-child(1) {
    margin-right: 0px;
}

label {
    float: left;
    font-weight: normal;
    margin-right: 10px;
}

.contact_page4 {
    padding: 0px;
    margin: 0px;
}

.mandatory_sign {
    padding: 0px;
    margin: 0px;
    position: absolute;
    z-index: 2000;
    top: -15px;
    right: 0;
    color: #F00;
    font-family: 'ProximaNova-Regular';
    font-size: 20px;
}

.contact_page4 input {
    background: #FFFFFF;
    border: 1px solid #b8b8b8;
    font-family: 'ProximaNova-Regular';
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 16px;
    color: #4d4e50;
}

.contact_page5 {
    padding: 0px;
    margin: 0px;
}

    .contact_page5 input {
        background: #2e2f30;
        border: rgba(0,0,0,0.4);
        font-family: 'ProximaNova-Regular';
        height: 45px;
        width: 100%;
        margin-bottom: 10px;
        padding-left: 10px;
        font-size: 16px;
        color: #4d4e50;
    }

.contact_page6 {
    padding: 0px;
    margin: 0px;
}

    .contact_page6 input {
        background: #FFFFFF;
        border: rgba(0,0,0,0.4);
        font-family: 'ProximaNova-Regular';
        height: 40px;
        width: 100%;
        margin-bottom: 0px;
        padding-left: 10px;
        font-size: 16px;
        color: #4d4e50;
    }

    .contact_page6 textarea {
        width: 99%;
        height: 40px;
        border: 1px solid #c6c5c5;
        background: transparent;
        display: block;
        color: #595a5c;
        font-size: 14px;
        font-family: 'ProximaNova-Regular';
        padding-left: 12px;
        resize: none;
        background: #FFF;
    }

.contact_page4 input[type="date"] {
    background: #FFFFFF;
    border: 1px solid #b8b8b8;
    font-family: 'ProximaNova-Regular';
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 16px;
}

.contact_image_sec {
    padding: 0px;
    margin-right: 20px;
    float: left;
    width: 45%;
}

    .contact_image_sec img {
        width: 100%;
    }

.contact_image_sec_one {
    padding: 0px;
    float: right;
    width: 52%;
}


.field_sec_box {
    padding: 0px;
    margin-bottom: 10px;
}


.contact_page2 {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

    .contact_page2 input {
        background: transparent;
        border: 1px solid #c6c5c5;
        height: 38px;
        width: 100%;
        margin-bottom: 0px;
        padding-left: 10px;
        font-size: 13px;
    }

.contact_page1 input {
    background: #e5ddd6;
    border: 1px solid #dbd1c8;
    font-family: 'ProximaNova-Regular';
    height: 48px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 16px;
}

.contact_page4 select {
    background: #FFFFFF;
    border: 1px solid #b9b9b9;
    height: 48px;
    width: 100%;
    padding-left: 10px;
    color: #8e8f93;
}

.contact_page6 select {
    background: #FFFFFF;
    border: 1px solid #b9b9b9;
    height: 42px;
    width: 100%;
    padding-left: 10px;
    color: #8e8f93;
}



.contact_page4 input[type="radio"] {
    background: #3c6eaa;
    border: 0 none;
    color: #FFFFFF;
    display: block;
    font-family: 'ProximaNova-Regular';
    font-size: 18px;
    height: 20px !important;
    line-height: 35px;
    outline: 0 none;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    width: 100%;
    border-radius: 50%;
}

.contact_page1 select {
    background: #FFFFFF;
    border: 1px solid #b9b9b9;
    height: 36px;
    width: 75%;
    padding-left: 10px;
}

.contact_page input {
    width: 100%;
    height: 44px;
    border: none;
    background: #17181b;
    display: block;
    margin-bottom: 15px;
    color: #595a5c;
    font-size: 14px;
    font-family: 'ProximaNova-Regular';
    margin-bottom: 12px;
    padding-left: 12px;
}

.contact_page1 .upload input {
    border: none;
}

.contact_page2 textarea {
    width: 99%;
    height: 60px;
    border: 1px solid #c6c5c5;
    background: transparent;
    display: block;
    color: #595a5c;
    font-size: 14px;
    font-family: 'ProximaNova-Regular';
    padding-left: 12px;
    resize: none;
}

.contact_page4 textarea {
    width: 99%;
    background: #FFFFFF;
    height: 100px;
    border: 1px solid #c6c5c5;
    display: block;
    color: #595a5c;
    font-size: 14px;
    font-family: 'ProximaNova-Regular';
    padding-left: 12px;
    resize: none;
    margin-bottom: 10px;
}

.contact_page1 input[type="checkbox"] {
    background: #3c6eaa;
    border: 0 none;
    color: #FFFFFF;
    display: block;
    font-family: 'ProximaNova-Regular';
    font-size: 18px;
    height: 20px !important;
    line-height: 35px;
    outline: 0 none;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    width: 100%;
}

.contact_page5 input[type="submit"] {
    background: #f7901e;
    border: 0 none;
    color: #FFFFFF;
    display: block;
    font-family: 'ProximaNova-Regular';
    font-size: 18px;
    height: 44px;
    line-height: 35px;
    outline: 0 none;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 100%;
}

.contact_page1 input[type="submit"] {
    background: #f7901e;
    border: 0 none;
    color: #FFFFFF;
    display: block;
    font-family: 'ProximaNova-Regular';
    font-size: 18px;
    height: 44px;
    line-height: 35px;
    outline: 0 none;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 100%;
}

.contact_page2 input[type="submit"] {
    background: #f7901e;
    border: 0 none;
    color: #FFFFFF;
    display: block;
    font-family: 'ProximaNova-Regular';
    font-size: 18px;
    height: 44px;
    line-height: 35px;
    outline: 0 none;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 99%;
}

.contact_page4 input[type="submit"] {
    background: #f7901e;
    border: 0 none;
    color: #FFFFFF;
    display: block;
    font-family: 'ProximaNova-Regular';
    font-size: 18px;
    height: 44px;
    line-height: 35px;
    outline: 0 none;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 100%;
}

.contact_page6 input[type="submit"] {
    background: #f7901e;
    border: 0 none;
    color: #FFFFFF;
    display: block;
    font-family: 'ProximaNova-Regular';
    font-size: 18px;
    height: 44px;
    line-height: 35px;
    outline: 0 none;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 100%;
}



/*footer****************************************************Start*************************************************/

footer {
    padding:20px 0 7px;
    margin: 0px;
    background: #1c1d1f;
}

    footer h3 {
        color: #e4e6eb;
        font-size: 18px;
    }

.footer_form_box_sec {
    padding: 0px;
    margin: 0px;
}

.footer_box_sec {
    padding: 0px;
    margin: 0 auto;
    width: 96%;
}

.footer_top {
    border-bottom: 1px solid #313235;
    margin-bottom: 7px;
    padding-bottom: 7px;
}

.footer_bottom {
    padding-bottom: 7px;
    margin-bottom: 0px;
    border-bottom: 1px solid #313235;
}

    .footer_bottom h3 {
        font-size: 14px;
    }

    .footer_bottom h2 {
        font-size: 22px;
        color: #FFF;
		line-height:22px;
        padding-bottom:0px;
    }

        .footer_bottom h2 span a {
            color: #d7d9dd;
        }

.footer_bottom_box {
    padding: 0px;
    margin: 0px;
}

.footer_finish {
    padding: 0px;
    margin: 0px;
}

    .footer_finish p {
        color: #a1a1a1;
        font-size: 14px;
        text-align: left;
    }

.registration_details_box_area {
    padding: 0px;
    margin: 0px;
}

.registration_details_box {
    margin-right: 40px;
    padding: 0px;
    float: left;
    width: 49%;
}

.registration_details_box_one {
    margin: 0px;
    padding: 0px;
    float: left;
}

.registration_details_box_area h4 {
    color: #FFF;
    font-size: 13px;
}

.registration_details_box_area p {
    text-align: left;
}

.address_details_box {
    padding: 0px;
    margin-top: 5px;
}

.address_details_box_two {
    float: left;
}

.address_details_box_three {
    float: right;
}

.address_details_box_one {
    padding: 0px;
    margin: 0px;
    float: right;
}

.address_details_box_left {
    padding: 0px;
    margin-right: 40px;
    float: left;
    width: 49%;
}

.address_details_box_right {
    padding: 0px;
    margin-right: 0px;
    float: left;
    width: 48%;
}

/*.address_details_box ul{ list-style-type:none;}

.address_details_box ul li{ display:inline-block;
margin-bottom:10px;
margin-right:20px;
width:49%;}

.address_details_box ul li:nth-last-child(1){ margin-right:0px;}*/

.footer_bottom_table {
    padding: 0px;
    margin-top: 7px;
}

.footer_choksey {
    margin-bottom: 10px;
}

.footer_choksey_bottom {
    padding: 0px;
    margin-right: 25px;
    float: left;
}

    .footer_choksey_bottom:nth-last-child(1) {
        margin-right: 0px;
    }




.footer_bottom_table p {
    text-align: center !important;
    padding: 3px 0px;
    padding-bottom: 5px !important;
    font-size: 15px;
    color: #FFF;
}

.footer_bottom_table table td {
    border: 1px solid #36383a;
    padding: 0px 3px;
}

    .footer_bottom_table table td.mutual_sub_heading {
        background: #171819;
        padding: 0px 5px;
        border: 1px solid #36383a;
    }









.footer_bottom_right {
    padding: 0px;
    margin-top: 25px;
    text-align: right;
}

    .footer_bottom_right p {
        text-align: right !important;
    }

        .footer_bottom_right p span a {
            color: #ababb0;
            text-decoration: none;
        }

    .footer_bottom_right a {
        font-family: 'ProximaNova-Regular';
        color: #6a6a6e;
        text-decoration: none;
        padding: 0px 10px;
    }

        .footer_bottom_right a:hover {
            color: #f7901e;
        }

.footer_bottom p {
    text-align: left;
    font-size: 12px;
    color: #a1a1a1;
    line-height: 15px;
}

.footer_box {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 15%;
}

.footer_header {
    margin-right: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #313235;
}

.footer_box.footer_products {
    padding: 0px;
    margin: 0px;
    width: 25%;
}

.footer_box_left {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 50%;
}

.footer_box ul {
    list-style-type: none;
}

    .footer_box ul li {
        display: block;
        padding-bottom: 0px;
		line-height:25px;
		
    }

        .footer_box ul li a {
            background: url(../images/footer-arrow-icon.png) no-repeat 0px 2px;
            padding-left: 20px;
            color: #6a6a6e;
            text-decoration: none;
            font-family: 'ProximaNova-Regular';
            font-size: 15px;
            -webkit-transition: all 0.5s ease 0s;
            -o-transition: all 0.5s ease 0s;
            -moz-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
        }

            .footer_box ul li a:hover {
                color: #f7901e;
                background: url(../images/footer-arrow-icon-hover.png) no-repeat 0px 2px;
                margin-left: 12px;
            }

/*curved****************************************************Start*************************************************/

.curved-container {
    height: 0;
    margin: -53px auto auto 65px;
    position: relative;
    transform: rotate(13deg);
    width: auto;
}

    .curved-container h3 {
        border: none;
        font-size: 20px;
        font-family: 'ProximaNova-Regular';
        color: #FFF;
        line-height: 18px;
    }

    .curved-container span {
        font-family: 'ProximaNova-Regular';
        font-size: 22px;
        height: 150px;
        position: absolute;
        width: 20px;
        left: 0;
        top: 0;
        transform-origin: bottom center;
        -moz-transform-origin: bottom center;
        -webkit-transform-origin: bottom center;
    }

.char0 {
    transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
}

.char1 {
    transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
}

.char2 {
    transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
}

.char3 {
    transform: rotate(24deg);
    -moz-transform: rotate(24deg);
    -webkit-transform: rotate(24deg);
}

.char4 {
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
}

.char5 {
    transform: rotate(36deg);
    -moz-transform: rotate(36deg);
    -webkit-transform: rotate(36deg);
}

.char6 {
    transform: rotate(42deg);
    -moz-transform: rotate(42deg);
    -webkit-transform: rotate(42deg);
}

.char7 {
    transform: rotate(48deg);
    -moz-transform: rotate(48deg);
    -webkit-transform: rotate(48deg);
}

.char8 {
    transform: rotate(54deg);
    -moz-transform: rotate(54deg);
    -webkit-transform: rotate(54deg);
}

.char9 {
    transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}

.char10 {
    transform: rotate(66deg);
    -moz-transform: rotate(66deg);
    -webkit-transform: rotate(66deg);
}

.char11 {
    transform: rotate(72deg);
    -moz-transform: rotate(72deg);
    -webkit-transform: rotate(72deg);
}

.char12 {
    transform: rotate(78deg);
    -moz-transform: rotate(78deg);
    -webkit-transform: rotate(78deg);
}

.char13 {
    transform: rotate(84deg);
    -moz-transform: rotate(84deg);
    -webkit-transform: rotate(84deg);
}

.char14 {
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.char15 {
    transform: rotate(96deg);
    -moz-transform: rotate(96deg);
    -webkit-transform: rotate(96deg);
}

.char16 {
    transform: rotate(102deg);
    -moz-transform: rotate(102deg);
    -webkit-transform: rotate(102deg);
}

.char17 {
    transform: rotate(108deg);
    -moz-transform: rotate(108deg);
    -webkit-transform: rotate(108deg);
}

.char18 {
    transform: rotate(114deg);
    -moz-transform: rotate(114deg);
    -webkit-transform: rotate(114deg);
}

.char19 {
    transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
}

.char20 {
    transform: rotate(126deg);
    -moz-transform: rotate(126deg);
    -webkit-transform: rotate(126deg);
}

.char21 {
    transform: rotate(132deg);
    -moz-transform: rotate(132deg);
    -webkit-transform: rotate(132deg);
}

.char22 {
    transform: rotate(138deg);
    -moz-transform: rotate(138deg);
    -webkit-transform: rotate(138deg);
}

.char23 {
    transform: rotate(144deg);
    -moz-transform: rotate(144deg);
    -webkit-transform: rotate(144deg);
}



.curved-container1 {
    height: 0;
    margin: -89px auto auto 38px;
    position: relative;
    transform: rotate(-53deg);
    width: auto;
}

    .curved-container1 h3 {
        border: none;
        font-size: 20px;
        font-family: 'ProximaNova-Regular';
        color: #FFF;
        line-height: 18px;
    }

    .curved-container1 span {
        font-family: 'ProximaNova-Regular';
        font-size: 22px;
        height: 150px;
        position: absolute;
        width: 20px;
        left: 0;
        top: 0;
        transform-origin: bottom center;
        -moz-transform-origin: bottom center;
        -webkit-transform-origin: bottom center;
    }

.curved-container2 {
    height: 0;
    margin: -72px auto auto 61px;
    position: relative;
    transform: rotate(-29deg);
    width: auto;
}

    .curved-container2 h3 {
        border: none;
        font-size: 20px;
        font-family: 'ProximaNova-Regular';
        color: #FFF;
        line-height: 18px;
    }

    .curved-container2 span {
        font-family: 'ProximaNova-Regular';
        font-size: 22px;
        height: 142px;
        position: absolute;
        width: 20px;
        left: 0;
        top: 0;
        transform-origin: bottom center;
        -moz-transform-origin: bottom center;
        -webkit-transform-origin: bottom center;
    }


.curved-container3 {
  height: 0;
    margin: -48px auto auto 59px;
    position: relative;
    transform: rotate(29deg);
    width: auto;}

    .curved-container3 h3 {
        border: none;
        font-size: 20px;
        font-family: 'ProximaNova-Regular';
        color: #FFF;
        line-height: 18px;
    }

    .curved-container3 span {
        font-family: 'ProximaNova-Regular';
        font-size: 22px;
        height: 150px;
        position: absolute;
        width: 20px;
        left: 0;
        top: 0;
        transform-origin: bottom center;
        -moz-transform-origin: bottom center;
        -webkit-transform-origin: bottom center;
    }


#back_to_camera {
    clear: both;
    display: block;
    height: 80px;
    line-height: 40px;
    padding: 20px;
}

.fluid_container {
    margin: 0 auto;
    width: 100%;
}

/*inner_page****************************************************Start*************************************************/

#inner_page {
    padding: 0px;
    margin: 0px;
}

#inner_page p{ /*text-align:justify;*/}

#inner_banner {
    padding: 0px;
    margin: 0px;
}

.banner_box_sec {
padding: 0px;
margin: 0 auto;
width: 85%;}

.main_image	{ padding:0px;
margin:0px;
position:relative;}

.main_image img{ width:auto;}

.slider_text{
position: absolute;
right:0;
left:0;
color: #ffffff;
top:40px;
margin:0 auto;
width:96%;}

.slider_text_content { padding:0px;
margin:0px;
float:left;
width:65%;}

.slider_image_content { padding:0px;
margin:0px;
float:right;
padding-top:12%;
text-align:right;}

.slider_image_section{padding: 0;
position: absolute;
right: 8%;
top: 100%;
z-index: 800;}

.slider_sub_heading {
left: 8%;
padding: 0;
position: absolute;
top:97%;
z-index: 750;
width:60%;}

.slider_text h4{font-family: 'Sansumi';
font-size:24px;
line-height:30px;
text-align:left;
color:#6a6a6a;
padding-bottom:15px;}

.slider_text p{font-family: 'Sansumi';
font-size:34px;
line-height:45px;
text-align:left;
color:#6a6a6a;}

/*Wealth managemet page****************************************************Start*************************************************/

#wealth_managemet_page {
    padding: 0px;
    margin: 0px;
}

#interoduction_sec {
    padding: 0px;
    margin: 0px;
}

#interoduction_sec p{ text-align:left;}

#common_sec {
    padding: 0px;
    margin: 0px;
}

#apprtoach_sec {
    padding: 0px;
    margin: 0px;
    border-top: 1px solid #dedbdb;
}

    #apprtoach_sec ul {
        list-style-type: none;
        margin-top: 30px;
    }

        #apprtoach_sec ul li {
            display: inline-block;
            font-size: 20px;
            line-height: 28px;
            color: #474747;
            font-family: 'open_sanssemibold';
            background: url(../images/orange-divider.jpg) no-repeat 0px 6px;
            padding-left: 18px;
            padding-bottom: 12px;
            margin-right: 20px;
        }

.interoduction_sec_box {
    margin: 0 auto;
    padding: 50px 0px;
    width: 96%;
}

.research_box {
    padding: 0px;
    margin-top: 20px;
}

.research_box_individual {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 33%;
}






.interoduction_sec_box ul {
list-style-type: none;
margin-bottom: 18px;
}

.interoduction_sec_box ul li {
display: block;
font-family: 'ProximaNova-Light';
color: #464746;
/*color: #464746;*/
background: url(../images/arrow.png) no-repeat 0px 5px;
padding-left: 25px;
padding-bottom: 10px;
font-size: 17px;
line-height: 24px;
font-weight:normal;
}

.interoduction_sec_box ul li.no_choksey_bg {
background: none;
padding-left: 0px;
}

.interoduction_sec_box ul li a {
color: #545454;
font-family: 'ProximaNova-Regular';
}

.interoduction_sec_box ul li a:hover {
color: #f76b1e;
}

 .interoduction_sec_box ul li.no_arrow{ background:none;}
 
  .interoduction_sec_box ul li.no_arrow img{ padding-right:15px;}

.baner_contt_sec__box {
padding: 0px;
margin-top:5px;}

.baner_contt_sec__box p {
font-size: 18px;}

.baner_contt_sec__box ul {
list-style-type: none;}

.baner_contt_sec__box ul li {
display: block;
font-family: 'ProximaNova-Regular';
color: #FFF !important;
background: url(../images/arrow7.png) no-repeat 0px 5px;
padding-left: 25px;
padding-bottom: 10px;
font-size: 16px;
font-weight: normal;
line-height: 24px;
text-align:left;}

.interoduction_sec_box img.wrap {
    float: right;
    margin: 0px 0px 15px 25px;
}

.interoduction_sec_box h4{ padding-bottom:10px;}

.interoduction_sec_box img.wrap1 {
    float: left;
    margin: 0px 25px 15px 0px;
}

.interoduction_content_sec_box {
    padding: 0px;
}

.what_next_bttn_box {
    padding: 0px;
    margin: 15px 0px;
}

.what_next_bttn {
background: #f77a1e none repeat scroll 0 0;
    border: 1px solid #dd6e1c;
    color: #fff;
    float: left;
    font-family: "ProximaNova-Regular";
    font-size: 18px;
    height: 50px;
    margin-right: 12px;
    padding-left: 20px;
    padding-top: 7px;
    width: 317px;
}

.what_next_bttn a{ text-decoration:none;
color:#FFF;}

.what_next_bttn_one {
padding: 5px 10px;
margin-right: 12px;
border: 1px solid #cf4c13;
float: left;
 height: 50px;
margin-right: 12px;
padding-left: 20px;
padding-top: 7px;
width: 317px;
background:#f7601e;}

.what_next_bttn_one.download_bttn{ background:#f89724;
border:1px solid #cc7a18;}

.what_next_bttn_one img {
	padding-right:7px;
}

.what_next_bttn_one a {
	text-decoration: none;
	font-family: 'ProximaNova-Regular';
	color: #FFFFFF;
	font-size: 18px;
}

	.what_next_bttn_one a:hover {
		text-decoration: none;
		font-family: 'ProximaNova-Regular';
		color: #FFFFFF;
		font-size: 18px;
	}

.what_next_bttn img {
    padding-right: 10px;
}

.inner_page_pad_box {
    padding-left: 30px;
}

.inner_page_pad_box_one {
    padding-right: 30px;
}

.interoduction_content_sec_box.content_part_two {
    padding: 0px 0px 0px 0px;
}

.brief_details.content_part_two {
    padding: 30px 50px 0px 0px;
}

.interoduction_content_sec_box ul {
    list-style-type: none;
    margin-bottom: 18px;
}

.brief_details {
    padding: 0px;
    margin: 0px;
}

    .brief_details ul {
        list-style-type: none;
    }

        .brief_details ul li {
            display: block;
            font-family: 'ProximaNova-Regular';
            color: #545454;
            background: url(../images/arrow.png) no-repeat 678px 5px;
            padding-left: 55px;
            padding-bottom: 10px;
            font-size: 18px;
            line-height: 24px;
        }

.interoduction_sec_box.sign_up_box {
    padding: 0px;
    margin: 0px;
    background: #e5e8f2;
    width: 100%;
}

.insurance_body {
    padding: 0px;
    margin: 0 auto;
    width: 100%;
}

    .insurance_body h2 {
        padding-bottom: 25px;
    }

.sign_up_body {
    padding: 0px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 96%;
}

    .sign_up_body.sign_full_body {
        width: 85%;
    }

.interoduction_sec_box h3 {
    color: #f7891e;
    padding-bottom: 12px;
}

.inter_para_text {
    margin: 0px;
    padding-right: 35px;
    float: left;
    width: 58%;
}

.inter_para_image {
    padding: 0px;
    margin: 0px;
    float: left;
}

.inter_para_text_one {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 56%;
}

.inter_para_text_body {
    padding: 20px 20px 0px 50px;
}

    .inter_para_text_body.approach {
        padding: 0px;
    }

        .inter_para_text_body.approach ul {
            list-style-type: none;
        }

            .inter_para_text_body.approach ul li {
                display: block;
                font-family: 'ProximaNova-Regular';
                color: #545454;
                background: url(../images/arrow.png) no-repeat 0px 5px;
                padding-left: 25px;
                padding-bottom: 10px;
                font-size: 18px;
                line-height: 24px;
            }

.inter_para_text_body_one {
    padding: 0px;
}

    .inter_para_text_body_one.derivatives {
        padding: 0px;
    }

.mutual_funds {
    padding: 0px;
    margin-bottom: 15px;
    width: 60%;
}

.user_selection{ padding:0px;
margin-bottom:10px;
width:38%;}

.user_selection_left{ padding:0px;
margin-right:15px;
float:left;
width:65%;}

.user_selection_right{ padding:0px;
margin:0px;
float:left;
width:32%;}


    .mutual_funds.mutual_full_width {
        width: 100%;
    }

    .mutual_funds.mutual_funds_box {
        width: 100%;
    }

    .mutual_funds p {
        text-align: center !important;
        padding: 3px 0px;
        padding-bottom: 5px !important;
        font-size: 15px;
    }

    .mutual_funds img {
        padding: 7px 0px;
    }

    .mutual_funds table td {
        border: 1px solid #9b9a99;
        padding: 0px 3px;
    }

        .mutual_funds table td.mutual_sub_heading {
            background: #dad8d7;
            padding: 0px;
            border: none;
        }

        .mutual_funds table td.mutual_para {
            padding: 0px;
            border: none;
            border-right: 1px solid #9b9a99;
        }

        .mutual_funds table td.mutual_sub_heading p {
            color: #353635;
            padding-bottom: 5px !important;
        }

        .mutual_funds table td.mutual_heading {
            background: #f7891e;
        }

            .mutual_funds table td.mutual_heading p {
                color: #FFF;
                font-size: 18px;
                text-align: center !important;
                padding-bottom: 0px !important;
            }

        .mutual_funds table td label {
            color: #838488;
            font-size: 16px;
            text-align: center !important;
            padding-bottom: 0px !important;
            font-family: 'ProximaNova-Regular';
            font-weight: normal;
            text-align: center;
            float: none !important;
        }

.inter_para_text_body_one.derivatives ul {
    list-style-type: none;
    margin-bottom: 25px;
}

    .inter_para_text_body_one.derivatives ul li {
        display: block;
        font-family: 'ProximaNova-Regular';
        color: #545454;
        background: url(../images/arrow.png) no-repeat 0px 5px;
        padding-left: 25px;
        padding-bottom: 10px;
        font-size: 18px;
        line-height: 24px;
    }

.terminals {
    padding: 0px;
    margin-top: 0px;
}

    .terminals ul {
        list-style-type: none;
    }

        .terminals ul li {
            display: inline-block !important;
            margin-right: 15px;
        }

            .terminals ul li a {
                font-family: 'ProximaNova-Regular';
                color: #d5a147;
                font-size: 18px;
                text-decoration: none;
            }

                .terminals ul li a:hover {
                    color: #f7901e;
                }

.inter_para_text_body_one h3 {
    color: #f7901e;
    padding-bottom: 12px;
}

.inter_para_text_body h3 {
    color: #f7901e;
    padding-bottom: 12px;
}

.inter_para_image {
    padding: 0px;
    margin: 0px;
    float: right;
}

.inter_para_image_one {
    padding: 0px;
    margin: 0px 35px 0px 0px;
    float: left;
}

.insurance_policy {
    padding: 0px;
    margin: 0px;
}

    .insurance_policy ul {
        list-style-type: none;
        margin-bottom: 25px;
    }

        .insurance_policy ul li {
            display: block;
            font-family: 'ProximaNova-Regular';
            color: #545454;
            background: url(../images/arrow.png) no-repeat 0px 5px;
            padding-left: 25px;
            padding-bottom: 10px;
            font-size: 18px;
            line-height: 24px;
        }

#forms {
    padding: 0px;
    margin: 0px;
}

#pms {
    padding: 0px;
    margin: 0px;
}

#derivative_research {
    padding: 0px;
    margin: 0px;
}

#depository_tariff_structure {
    padding: 0px;
    margin: 0px;
}


.deposite_sec {
    padding: 0px;
    margin-bottom: 15px;
}

    .deposite_sec.deposite_box {
        margin-bottom: 25px;
    }

    .deposite_sec ul {
        list-style-type: none;
    }

        .deposite_sec ul li {
            display: block margin-right:15px;
        }

            .deposite_sec ul li a {
                font-family: 'ProximaNova-Regular';
                color: #cd8f23;
                font-size: 18px;
                background: url(../images/arrow1.png) no-repeat 0px 5px !important;
                padding-left: 25px;
                padding-bottom: 10px;
                text-decoration: underline;
            }

                .deposite_sec ul li a:hover {
                    color: #f76b1e;
                    background: url(../images/arrow1-hover.png) no-repeat 0px 5px !important;
                }

/*we_follow*******************/

#we_follow {
    padding: 60px 0px;
    margin: 0px;
    background: #000;
}

    #we_follow p {
        font-size: 18px;
        color: #d0cfce !important;
    }

    #we_follow h2 {
        font-family: 'ProximaNova-Light';
        font-size: 28px;
        color: #FFF;
        text-align: center;
    }

        #we_follow h2 span {
            font-family: 'ProximaNova-Regular';
            color: #FFF;
        }

.we_follow_heading {
    margin: 0 auto;
    border: 2px solid #494741;
    margin-bottom: 40px;
    text-align: center;
    width: 400px;
    padding: 10px;
}

.stratedgy_box {
    padding: 20px 10px 0px 0px;
    margin-bottom: 25px;
    border: 1px solid #48453d;
}

    .stratedgy_box p {
        padding-bottom: 0px;
    }

    .stratedgy_box p {
        color: #b5b4b4;
    }

#we_follow ul {
    list-style-type: none;
}

    #we_follow ul li {
        display: block;
        font-family: 'ProximaNova-Regular';
        color: #b5b4b4;
        font-size: 16px;
    }

.icon_part {
    padding: 0px 10px 0px 10px;
    margin-right: 0px;
    float: left;
    height: 150px;
    width: 15%;
}

    .icon_part img {
        width: auto;
        height: auto;
        padding-top: 40px;
    }

.objectives_box {
    padding: 0px;
    margin: 0px;
}

    .objectives_box h4 {
        color: #FFF;
        padding-bottom: 10px;
    }

#scrollbar3 {
    margin: 0px 0 10px;
    width: auto;
}

/*calculator_portfolio*******************/

#calculator_portfolio {
    padding: 50px 0px;
    margin: 0px;
}

.portfolio_sec {
    padding: 0px 0px;
    margin: 0px;
}

.portfolio_box {
    padding: 5px 10px;
    margin: 0px;
    border-right: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    background: #FFF;
}

#menu #on-check:checked ~ .info {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    transition: all 0.2s linear 0.4s;
}

.portfolio_box p {
    padding-bottom: 0px !important;
}

.request_back_sec {
    padding: 0px;
    margin-top: 18px;
}

.portfolio_box p span {
    font-size: 13px;
}

.number_box {
    padding: 0px;
    float: left;
    margin-top: -9px;
}

.number_box_input {
    width: 100%;
    height: 42px;
    font-family: 'ProximaNova-Light';
    color: #151515;
    font-size: 15px;
    font-style: italic;
    background: #FFF;
    vertical-align: middle;
    float: left;
    border: none;
    border: 1px solid #cecccc;
    padding-left: 10px;
}

.request_bttn {
    padding: 0px;
    margin-right: 20px;
    text-align: center;
    float: left;
}

    .request_bttn a {
        font-family: 'ProximaNova-Regular';
        font-size: 18px;
        color: #FFF;
        font-weight: normal;
        text-decoration: none;
        background: #f7891e;
        padding: 12px 55px;
        text-transform: uppercase;
    }

        .request_bttn a:hover {
            background: #5f499e;
        }

.right_away_box {
    float: left;
    width: 35%;
    background: #bababa;
    border-right: 2px solid #f48b25;
    padding: 59px 15px;
}

    .right_away_box h3 {
        color: #000000;
        text-transform: uppercase;
        font-size: 20px;
        padding-bottom: 15px;
    }

    .right_away_box h2 {
        color: #000000;
        text-transform: uppercase;
    }

.form_box_sec {
    padding: 0px;
    margin: 0px;
    background: #e7e7e7;
}

.right_away_box_area {
    padding: 0px;
    margin-left: 30px;
    float: left;
    width: 60%;
}

    .right_away_box_area h3 {
        padding-bottom: 7px;
    }

.right_away_box h3 span {
    color: #FFF;
}

.field_box {
    padding: 0px;
    margin-bottom: 5px;
}

.field_box_area {
    padding: 0px;
    margin-right: 10px;
    float: left;
    width: 32%;
}

    .field_box_area:nth-last-child(1) {
        margin-right: 0px !important;
    }

/*Equity and Derivatives t page****************************************************Start*************************************************/

#service {
    padding: 50px 0px;
    margin: 0px;
}

.service_box {
    width: 85%;
    margin: 0 auto;
}

.service_product_sec {
    padding: 0px;
    margin-top: 30px;
    text-align: center;
}

.service_product {
    padding: 20px 8px;
    float: left;
    width: 24%;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #d1d0cf;
    min-height: 240px;
}

    .service_product:nth-child(4n+4) {
        margin-right: 0px;
    }

    .service_product p {
        font-size: 18px;
    }

.service_icon_part {
    padding: 0px;
    text-align: center;
    margin-bottom: 20px;
}

.service_product_sec h3 {
    color: #f7901e;
    padding-bottom: 12px;
}

.service_product_sec p {
    text-align: center !important;
    padding-bottom: 0px !important;
}

#service h2 {
    text-align: center;
}

#online_trading {
    padding: 0px 0px 0px 0px;
    margin: 0px;
}

/*company_snapshot page****************************************************Start*************************************************/

#quote_sec {
    padding: 20px 0px;
    margin: 0px;
    background: #666666;
}

    #quote_sec p {
        font-size: 14px;
        color: #FFF;
        padding-bottom: 0px;
    }

.quote_sec_box {
    width: 80%;
    padding: 0px;
    margin: 0px;
}

.quote_text_box {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 25%;
}

.quote_search_box {
    padding: 0px;
    margin: 0px;
    float: left;
}

.quote_text_box h3 {
    color: #FFF;
}

/*bharti_airtel*******************/

#bharti_airtel {
    padding: 50px 0px;
    margin: 0px;
}

.company_board_sec {
    padding: 0px;
    margin-bottom: 30px;
}

    .company_board_sec h3 {
        color: #f7901e;
        font-size: 24px;
    }

.company_background {
    padding: 0px;
    margin: 0px;
}

.company_background_box {
    padding: 0px;
    margin: 0px;
    border: 1px solid #c1c1c1;
}

.company_background_box_left {
    padding: 15px 10px;
    margin-right: 15px;
    float: left;
    width: 45%;
}

    .company_background_box_left p {
        font-size: 15px;
    }

    .company_background_box_left h5 {
        font-family: 'ProximaNova-Regular';
        font-size: 15px;
        color: #F00;
        line-height: 20px;
        padding-bottom: 5px;
    }

.company_background_box table td {
    padding: 10px 10px;
    border: 1px solid #c1c1c1;
}

    .company_background_box table td p {
        padding-bottom: 0px !important;
        line-height: 18px;
        font-size: 15px;
    }

    .company_background_box table td h4 {
        padding-bottom: 0px !important;
        line-height: 18px;
        font-size: 15px;
        text-transform: uppercase;
    }

.gray_bg_box {
    padding: 0px;
    margin: 0px;
    background: #e3e3e3;
}

.eod_box_sec {
    padding: 0px;
    margin: 0px;
}

.eod_image_sec {
    padding: 60px 10px;
    margin: 0px;
    border: 1px solid #c1c1c1;
    background: #f0f0f0;
}

    .eod_image_sec img {
        width: 100%;
    }

.news_box_sec {
    padding: 0px;
    margin: 0px;
}

.news_background_box {
    padding: 0px;
    margin: 0px;
    border: 1px solid #c1c1c1;
}


.news_update_box {
    padding: 5px 5px;
    margin: 0px;
    border-bottom: 1px solid #c1c1c1;
}

    .news_update_box:nth-last-child(1) {
        border-bottom: none;
    }

    .news_update_box a {
        text-decoration: none;
        color: #404040;
        font-size: 15px;
    }

        .news_update_box a:hover {
            text-decoration: none;
            color: #f7901e;
        }

.news_time {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 20%;
}

.news_content {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 70%;
}


/* Accordian Jquery (open and  close) ***********************************/

.news_box_button {
    background: #FFFFFF;
    padding: 7px 15px;
    color: #464746;
    border: none;
    margin: 0px;
    font-family: 'ProximaNova-Regular';
}

.news_box_button_one {
    background: none !important;
    color: #FFFFFF;
    border: none;
    margin: 0px;
    font-family: 'ProximaNova-Regular';
    /*font-size:14px;*/
    font-size: 11px !important;
}

.rlAccordion > h3 {
    background-color: #f7901e;
    border-radius: 2px;
    border-bottom: 1px solid #FFF;
    color: #fff;
    font-family: 'ProximaNova-Regular';
    font-size: 18px;
    font-weight: normal;
    margin: 0 auto;
    text-decoration: none;
    padding: 10px 10px;
    cursor: pointer;
}

    .rlAccordion > h3 > span {
        float: right;
        font-family: arial, serif, sans-serif;
    }

    .rlAccordion > h3 + div {
        display: none;
        padding: 10px 0px;
    }

        .rlAccordion > h3 + div .deposite_features {
            padding: 0px;
            margin-top: 0px;
        }

            .rlAccordion > h3 + div .deposite_features ul {
                list-style-type: none;
            }

                .rlAccordion > h3 + div .deposite_features ul li {
                    display: block;
                    font-family: 'ProximaNova-Regular';
                    color: #545454;
                    background: url(../images/arrow.png) no-repeat 0px 5px;
                    padding-left: 25px;
                    padding-bottom: 10px;
                    font-size: 18px;
                    line-height: 24px;
                }

.accordian_box {
    padding: 0px;
    margin-bottom: 50px;
}

/* contact us ***********************************/

#contact_us {
    padding: 50px 0px 0px 50px;
    margin: 0px;
}

.ui-widget-content { /*border:1px solid #c3c4c7;*/
    /*background:#FFF;*/
}

.ui-datepicker .ui-datepicker-title {
    background: #cdcdcd;
}

.ui-datepicker .ui-datepicker-next {
    background: #cdcdcd;
}

.ui-datepicker .ui-datepicker-prev {
    background: #cdcdcd;
}

.ui-icon, .ui-widget-content .ui-icon {
    background: url(../images/ui-icons_222222_256x240.png) no-repeat;
}

.login_box_sec {
    padding: 0px;
    margin-top: 10px;
    text-align: left;
}

    .login_box_sec h3 {
        text-align: left;
        text-transform: uppercase;
        padding-bottom: 10px;
    }

    .login_box_sec p a {
        font-family: 'ProximaNova-Regular';
        color: #363535;
        font-size: 16px;
        padding-bottom: 7px;
    }

.login_bttn_link_sec {
    margin-top: 60px;
}


.login_bttn {
    padding: 0px;
    text-align: left;
    margin-bottom: 35px;
}

    .login_bttn a {
        font-family: 'ProximaNova-Regular';
        font-size: 15px;
        color: #FFF;
        font-weight: normal;
        text-decoration: none;
        text-transform: uppercase;
        background: #e5851a;
        border: 1px solid #f4b269;
        padding: 15px 45px;
    }

        .login_bttn a:hover {
            background: #f7901e;
        }

        .login_bttn a.krc_account {
            padding: 15px 58px;
        }



/*test and delete**********************************************************************************************************/

#test {
    padding: 0px;
    margin: 0px;
}

.test1 {
    padding: 0px;
    margin: 0px;
    float: left;
}

.test2 {
    padding: 0px;
    margin: 0px;
}

    .test2 p img.wrap {
        float: right;
    }


/*Added by Sourav(DEV. Team)*/

.choksey_dve {
    padding: 0px;
    text-align: right;
    margin-top: 25px;
}

    .choksey_dve p {
        text-align: right !important;
    }

.research_box_newsec {
    padding: 7px;
    margin: 0px 07px 5px 07px;
    display: inline-block;
    width: 32%;
    border: 1px solid rgba(255,255,255,0.6);
}

.news_box_button_one_sec {
    padding: 0px;
    margin: 0px;
}


    .news_box_button_one_sec p {
        color: #464746;
        text-align: left;
    }

.company_background_box_left h6 {
    font-family: 'ProximaNova-Regular';
    font-size: 18px;
    color: #28c255;
    line-height: 20px;
    padding-bottom: 5px;
}

.company_background_box_left p span {
    color: #ff0000;
}

.company_background_box_left p strong {
    color: #28c255;
}

.oldWebsiteLink {
    float: left;
    /* margin-right: 0px; */
    margin-left: -69px;
    margin-top: 24px;
    font-size: 16px;
    text-decoration: underline;
}


.cool {
    height: 240px;
    width: 272px;
}

/*Added by Sourav(DEV. Team)*/


/*Individual dashboard page****************************************************Start*************************************************/


#individual_dashboard_page {
    padding: 50px 0px;
    background: #4c4c4c;
}

#menu.anim {
    animation: shake .5s linear 1 forwards;
    -webkit-animation: shake .5s 1 infinite forwards;
}


@-webkit-keyframes shake {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes shake {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}


.ui-tabs .ui-tabs-nav li{ border:none;}


/*19-11-16********************************************************/

.all_calculator_box{ padding:0px;
margin:0px;
background:#eae4e0;}

.all_calculator_box_sec{ padding:0px;
margin:0px;}

.all_calculator_box_sec h4{ color:#FFF;}

.contact_name_field_calculator {
    padding: 0px;
    margin: 0px 18px 10px 0px;
    float: left;
    width:31%;
    position: relative;
}

.all_calculator_box_sec h5{ color:#272829;
padding-bottom:0px;
line-height:24px;
font-size:18px;}

.all_calculator_box_sec h6{ color:#f7901e;
font-family: 'open_sanssemibold';
font-size:30px;
text-align:left;}


/*21-11-16********************************************************/

.emi_calculator_box{ padding:0px;
margin:0px;}

.emi_calculator_box h4{  color:#454345;
font-family: 'open_sanssemibold';
font-size:24px;
text-align:left;}

.search_sec_box {
    width: 50%;}

.search_sec_box ul{ list-style-type:none;
margin-top:20px;}

.search_sec_box ul li {
    display:block !important;
    background: none;
    padding-left: 0px !important;
    margin-bottom: 30px;
    width: 50%;
    border: 1px solid #d3d1ce;
    padding-top:5px;
    background: #ffffff;
       text-align: center;
}

.search_sec_box ul li a {
    padding: 14px 30px;
    margin: 0px;
    /* background: #f7f2ed; */
    /* border: 1px solid #d3d1ce; */
    /* width: 100%; */
    font-family: 'ProximaNova-Regular';
    font-size: 18px;
    color: #f7901e;
    line-height: 22px;
    text-align: center;
}

.search_sec_box ul li:hover{
border:1px solid #f7901e;
  border: 1px solid #f7901e;
color:#FFF;}

/***********************************24-11-16 CSS**********************************************/

@-moz-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Firefox */
@-webkit-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Webkit */
@-ms-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* IE */
@keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Opera and prob css3 final iteration */
{
-moz-transition:all 1s ease-in-out;
-webkit-transition:all 1s ease-in-out;
-o-transition:all 1s ease-in-out;
-ms-transition:all 1s ease-in-out;
transition:all 1s ease-in-out;
/* order: name, direction, duration, iteration-count, timing-function */  
-moz-animation:blink normal 2s infinite ease-in-out; /* Firefox */
-webkit-animation:blink normal 2s infinite ease-in-out; /* Webkit */
-ms-animation:blink normal 2s infinite ease-in-out; /* IE */
animation:blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}​

.camera_wrap{ position:relative;}

.banner_trailer_text{ padding:10px;
margin:0px;
position:absolute;
z-index:500;
right:0;
bottom:0;}

.banner_trailer_text p{ color:#FFF;}

.easy_invest_box{ padding: 10px;
margin-bottom: 25px;
background: #fff;
border: 1px solid #b7b9bb;}

.easy_invest_box h3{ padding-bottom: 10px;}

.easy_invest_box p{font-family: 'ProximaNova-Regular';
font-size: 14px;
color: #464746;
padding-bottom: 0px;}

.easy_invest_box ul{ list-style-type: none;}

.easy_invest_box ul li{ display: block;
font-family: 'ProximaNova-Regular';
color: #464746;
/*color: #464746;*/
background: url(../images/arrow.png) no-repeat 0px 5px;
padding-left: 25px;
padding-bottom: 10px;
font-size: 18px;
line-height: 24px;
font-weight:normal;}

.easy_invest_bttn {padding: 0px;
margin:15px 0px 5px 0px;}

.easy_invest_bttn a {
font-family: 'ProximaNova-Regular';
font-size: 16px;
color: #FFF;
font-weight: normal;
text-decoration: none;
background: #f7901e;
padding: 12px 60px;
text-transform: uppercase;
-webkit-transition: all 0.5s ease 0s;
-o-transition: all 0.5s ease 0s;
-moz-transition: all 0.5s ease 0s;
transition: all 0.5s ease 0s;}

.easy_invest_bttn a.agree_bttn{padding: 12px 10px;
font-size: 14px;}

.easy_invest_bttn a:hover {
background: #d5a147;
color: #fff;}

/*08-12-16=====================================Start================================*/

.easy_invest_header{ background: #f7901e;
padding: 10px;}

.get_quote_bttn {padding: 0px;
margin: 0px;}

.get_quote_bttn a {
font-family: 'ProximaNova-Regular';
font-size: 16px;
color: #FFF;
font-weight: normal;
text-decoration: none;
background: #f7901e;
padding: 12px 260px;
text-transform: uppercase;
-webkit-transition: all 0.5s ease 0s;
-o-transition: all 0.5s ease 0s;
-moz-transition: all 0.5s ease 0s;
transition: all 0.5s ease 0s;}

.get_quote_bttn a:hover {
background: #d5a147;
color: #fff;}

#easy_invest_bg{ padding: 20px 0px;
margin: 0px;}

.easy_invest_box.no_easy_bg{ background: none;
border: none;
margin-bottom: 0px;
padding-top: 0px;}

.easy_invest_box_sec{ padding: 10px;
    margin: 0 auto;
 position:relative;
 width: 70%;}


#wrapper
{
    padding:0px;
    margin:0px auto;
    font-family:helvetica;

}

.easy_invest_bg_box{ padding: 0px 0px 10px 0px;
margin: 0px;
background: #fff;
-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.29);
-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.29);
box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.29);}

h1 p
{
    text-align:center;
    margin:0px;
    font-size:18px;
    text-decoration:underline;
    color:white;
}
#wrapper .baricon
{
    display:inline-block;
    border-radius:100%;
    padding:12px;
    background-color:#38610B;
    color:white;
}
#wrapper .progress_bar
{
    width:200px;
    height:5px;
    border-radius:20px;
    background-color:#D8D8D8;
    display:inline-block;
}

#wrapper form .easy_invest_bg_left{ padding: 0px;
float: left;
width: 45%;
margin-left: 20px;
margin-top: 20px;}

    #wrapper form .easy_invest_bg_left.agree_buttton_box { width:100%;
    }

#wrapper form div p
{
    color:#F2F2F2;
    margin:0px;
    margin-top:10px;
    font-weight:bold;
}
#wrapper form div .form_head
{       font-family: 'ProximaNova-Regular';
    font-size:24px;
     color: #454345;
     font-weight: normal;
}

#wrapper form div input[type="text"]
{
    width: 100%;
    height: 32px;
    border: 1px solid #b9b9b9;
    background: #FFFFFF;
    display: block;
    margin-bottom: 15px;
    color: #3d3c3b;
    font-size: 14px;
    font-family: 'ProximaNova-Regular';
    margin-bottom: 25px;
    padding-left: 12px;
}
#wrapper form div input[type="button"],input[type="submit"]
{
    width:45%;
    font-family: 'ProximaNova-Regular';
    height:45px;
    font-size: 18px;
    border:1px solid white;
    background:#f7891e;
    color:white;
    margin-right: 20px;
}

#wrapper form article input[type="button"],input[type="submit"]
{
    width:95%;
}

#wrapper form div input[type="submit"]
{
    /*width:50px;*/
    font-family: 'ProximaNova-Regular';
    height:45px;
    font-size: 18px;
    border:1px solid white;
    background:#f7891e;
    color:white;
}

#wrapper form article input[type="submit"]
{
    width:95%;
    font-family: 'ProximaNova-Regular';
    height:45px;
    font-size: 18px;
    border:1px solid white;
    background:#f7891e;
    color:white;
}

#wrapper form div input:hover[type="button"],input[type="submit"]{ background: #e57a13;}
#user_details,#qualification
{
    display:none;
}


.plan_box_sec { padding:0px;
                margin:0px;
}

    .plan_box_sec p {
        font-size: 25px;
        color: #ff0000;
    }

/*25-12-17=====================================dd_dc_page================================*/

#banking_process{ padding: 0px;
margin: 0px; }

.interoduction_sec_box.orange_service{ padding: 0px; }

.dd_dc_page{ padding: 0px;
margin: 0px;
background: #eae6e6; }

.three_circle_sec{ padding:60px 0px;
margin: 0px; }

.cheques_sec{ padding: 0px;
margin: 0px;
float: left;
width: 33%;
text-align: center; }

.cheques_sec_top{ padding: 0px;
margin-bottom: 15px; }

.cheques_sec_top img{ width: auto; } 

.cheques_sec_bttn{ padding: 0px;
margin: 0px;}

.cheques_sec_bttn h3{font-family: 'open_sanssemibold';
font-size: 24px;
line-height: 35px;
padding-bottom: 10px;
color: #054177;
text-transform:uppercase;}

.product_services{ padding: 0px;
margin: 0px; }

.product_services h4{font-family: 'ProximaNova-Regular';
font-size: 20px;
color: #000000;
padding-bottom: 10px;}

.product_services h5{font-family: 'ProximaNova-Regular';
font-size: 20px;
color: #5a5a5a;
padding-top: 20px;}

.product_services_contt{ padding: 0px;
margin-bottom: 20px; }

.product_services_contt p{ padding-bottom: 0px; }

.product_services_contt ul{ list-style-type: none;
margin-bottom: 0px; }

.product_services_contt ul li{ display:inline-block; 
font-family: 'open_sanssemibold';
font-size: 20px;
color: #f7901e;
background: none;
padding: 0px;}

.product_services_contt ul li img{ padding: 0px 5px; }

.orange_bg{ padding: 0px 0px;
margin: 0px;
text-align: center;
background: #f7901e; }

.orange_bg h3{ color: #000000;
font-family: 'ProximaNova-Regular';
font-size: 24px; }

.orange_bg h2{ font-size:45px;
text-align: center;
color: #ffffff;
font-family: 'open_sanssemibold';
padding-bottom: 12px; }

.manage_bg{ padding: 30px 0px;
margin: 0px;
text-align: center; }

.manage_bg h2{ font-size: 60px;
color: #f7901e;
 font-family: 'open_sanssemibold'; 
text-transform: uppercase;
text-align: center;}

.manage_bg h2 span{ color: #000000; }

.slider_text.dd_dc {top: 20%;}

.slider_dd_content { padding:0px;
margin:0px;
text-align: center;}

.slider_dd_content img{ width: auto !important;
height: auto !important; }

.slider_dd_content h1 {
font-family: 'Proxima Nova';
font-size: 65px;
text-align: center;
text-transform: uppercase;
color: #f7901e;
line-height: 50px;}

.slider_dd_content h5{font-family: 'Proxima Nova';
font-size: 35px;
text-align: center;
text-transform: uppercase;
color: #5f5f5f;
line-height: 40px;}

/*30-01-17=====================================sign_page================================*/

.sign_up_box{ padding: 0px;
margin:0px; }

.sign_up_box_left{ margin: 0px;
padding-right: 40px;
float: left;
width: 33%; }

.sign_up_box_left img{ width: 100%; }

.sign_up_box_left p{ font-size: 12px;
line-height: 18px !important; }

.sign_up_box_middle{ margin: 0px;
padding-right: 30px;
float: left;
width: 33%; }

.sign_up_box_right{ margin: 0px;
float: left;
width: 33%; }

.help_desk_box{ padding: 0px;
margin-top:40px; }

.help_desk_box h3{ color: #f7901e;
font-family: 'open_sanssemibold';
font-size: 28px;
padding-bottom: 12px; }

.help_desk_box h4{ padding-bottom: 0px !important; }

.help_desk_box h4 strong{ color: #f7901e;
font-size: 25px; }

.pls_login{ padding: 0px;
margin: 0px; }

.pls_login h4{ padding-bottom: 10px;
font-size: }

/*20-02-17=====================================sign_page================================*/

.mutual_fund_page{ padding: 0px;
margin: 0px;
background: #fdf1dc; }

.mutual_fund_page_l{ padding: 0px;
margin: 0px;
float: left;
width: 50%;
padding-right: 60px; }

.mutual_fund_page_l img{ width:90%; }



/*21-02-17============correction on 21-02-17===========*/

.easy_invest_box.half_w{ width: 40%;
background:#f9f2e6; }

.easy_invest_pdf{ padding: 0px;
margin-bottom:15px; }

.easy_invest_pdf.no_bt_m{ margin-bottom: 0px; }

.easy_invest_pdf a{ text-decoration: none;
 font-family: 'ProximaNova-Light';
color: #464746;
line-height: 24px;
font-weight:normal;
font-size: 15px; }

.easy_invest_pdf a:hover{ text-decoration: none;
color: #262626; }

.easy_invest_pdf img{ padding-right: 10px; }

.ex_bttn{ padding: 0px;
margin-top:30px;}

.reports_pop_up{ padding: 0px;
margin: 0px; }

.reports_pop_up button{ background: none;
border: none;
font-family: 'ProximaNova-Light';
font-size: 15px;
color: #464746; }



/*============correction on 24-02-17===========*/

.label_pdf_bx{ padding: 0px;
margin: 0px 10px;
float: left; }

.label_pdf{ padding: 0px;
margin: 0px 5px 0px 3px;
float: left;
height: 40px; }

.label_pdf p{ padding-top: 8px; }

.label_pdf_msg{ padding: 0px;
margin-bottom: 10px; }

.pdf_msg_sub{ padding: 0px;
margin-top:30px;
width: 20% }

.label_pdf_msg textarea {
width: 99%;
height: 140px;
border: 1px solid #c6c5c5;
background: transparent;
display: block;
color: #595a5c;
font-size: 14px;
font-family: 'ProximaNova-Regular';
padding-left: 12px;
resize: none;
background: #FFF;}

.view_d{ padding: 0px;
margin-right:15px;
margin-top: 20px;
float: left; }

.cli_d{ padding: 0px;
margin-top: 20px;}

.cli_d label{font-family: 'ProximaNova-Regular';
color: #505051;
font-size: 17px;}

.cli_d label span{ color: #505051; }

.contact_page6 input[type="radio"] {
margin-bottom: 5px;
color: #7a7a7a;
font-size: 18px;
font-family: 'latoregular';
display: block;
margin-top: 17px;
height: 12px;
width: 12px;}

.contact_page input[name="upload"] {
margin-bottom: 15px;
color: #7a7a7a;
font-size: 15px;
font-family: 'ProximaNova-Regular';
font-weight: normal;
background-color: none !important;
}
input[type="file"] {
display: block;
background: none !important;
border: none !important;
}

.contact_page6 input {
background: #FFFFFF;
border:1px solid #b9b9b9;
font-family: 'ProximaNova-Regular';
height: 40px;
width: 100%;
margin-bottom: 0px;
padding-left: 10px;
font-size: 16px;
color: #4d4e50;
}

.contact_page6 input[type="checkbox"] {
background: #FFFFFF;
border:1px solid #b9b9b9;
display: block;
height: 15px;
width: 15px;
border-radius: 0px;
margin-top: 16px;}

/* sip page ============correction on 04-03-17 ===========*/

#sip_page{ padding: 0px;
margin: 0px; }

#invest{ padding: 0px;
margin: 0px; }

#invest h2{ text-transform: uppercase;
font-size: 40px;
color: #f7901e;
font-family: 'open_sanssemibold';
text-align: center;
line-height: 40px; }

#invest h2 span{ color: #454545; }

.slider_dd_content h1 {
font-family: 'Proxima Nova';
font-size: 65px;
text-align: center;
text-transform: uppercase;
color: #f7901e;
line-height: 50px;}

.invest_bx_sec{ padding: 0px;
margin-top:20px;
text-align: center; }

.invest_bx{ padding: 0px;
margin-bottom:5vh;
float: left;
width:33%;}

.invest_cr_bx{ padding: 0px;
margin: 0px;
text-align: center;}

.invest_contt_bx{ padding: 0px;
margin-top:15px;
text-align: center; }

.invest_contt_bx h3{ font-family: 'open_sanssemibold';
text-transform: uppercase;
color: #f7901e;}

.interoduction_sec_box.sip_in_bx{ padding-bottom: 0px; }

.sip_invest{ padding: 0px;
margin: 0px; }

.sip_invest h2{ text-transform: uppercase;
font-size: 40px;
color: #f7901e;
 font-family: 'open_sanssemibold';
 text-align: center;
 line-height: 40px; }

.sip_invest h2 span{ color: #454545; }

.sip_invest_bx{ padding: 0px;
margin-top: 30px; }

.sip_invest_bx ul{ margin-top: 20px; }

.sip_invest_bx ul li{ list-style-type: none;
margin-bottom: 0px;
background: none;
padding-left: 0px; }

.slider_text.sip_invest {top: 20%;}

/* PMS Landing Page ============correction on 09-03-17 ===========*/


.sip_invest h6{ text-align: center;
margin: 0 auto;
margin-bottom: 20px; }

.sip_invest img{ text-align: center;
width: 80%;
margin: 0 auto; }


/* client dashboard ============correction on 09-03-17 ===========*/

.cli_d {padding: 0px;
margin-top: 10px;}

.view_rep{ padding: 0px;
margin: 0px;}

.view_rep table thead tr{
    display:block;
}

.view_rep table th,table td{
    width:350px;
}


.view_rep table  tbody{
  display:block;
  height:300px;
  overflow:auto;
}

.view_rep table thead tr th.mutual_heading {
    background: #f7891e;
    color: #ffffff;
}

.view_rep table thead tr th.mutual_heading p{ color: #ffffff;}


.view_rep table thead tr th {
    padding: 2px;
    border-right: 1px solid #9b9a99;
}

.view_rep table thead tr th:nth-last-child(1){ border-right: none; }

.mutual_funds table td label a{ text-decoration: none;
color: #838488; }

.mutual_funds table td label a:hover{ text-decoration: underline;
color: #ed3516; }


/*============correction on 16-03-17===========*/

.pop_form{ padding: 0px;
margin-right: 10px;
float: left; }

.pop_form.sign_list{ padding: 0px;
margin-right: 10px;
float: none;
margin-bottom: 10px; }

.pop_form input[type="checkbox"]{ display: inline-block;
height: auto;
margin-right: 7px; }



/*============correction on 24-03-17 for portfolio management services===========*/

.pms_text{ padding:0px;
margin:0px;
float:right;
padding-top:0%;
text-align:right;}

.pms_text img{ width: auto; }