.section-krc-slip {
  padding-left: 16px;
}

.div-slip-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 16px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.img-logo {
  height: 40px;
  padding-right: 16px;
}

.div-slip-1-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.div-slip-1-1.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-slip-1-1.vertical.border {
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 4px;
  border: 1px solid #000;
}

.div-slip-1-1.bottom-align {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.form-wrap-slip-1-1-1 {
  margin-bottom: 0px;
}

.form-wrap-slip-1-1-1.full-width {
  width: 100%;
}

.form-slip-1-1-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-slip-1-1-1._2-bot-pad {
  padding-bottom: 2px;
}

.txt-box {
  width: 24px;
  height: 28px;
  margin-bottom: 0px;
  padding: 0px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
  text-transform: uppercase;
}

.txt-box.left-text-box {
  border-left: 1px solid #000;
}

.txt-box.left-text-box._300width {
  width: 300px;
}

.txt-box.left-text-box.auto-width {
  width: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.txt-box.left-margin {
  margin-left: 2px;
  border-left: 1px solid #000;
}

.lbl-title {
  margin-bottom: 0px;
  padding-right: 8px;
  padding-left: 8px;
  color: #464746;
  font-family: 'ProximaNova-Regular';
}

.lbl-title.rupee-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 192px;
  height: 28px;
  margin-left: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  font-size: 18px;
}

.lbl-title.rupee-box.bigger-lbl {
  width: 256px;
}

.lbl-title._48width {
  width: 48px;
}

.lbl-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 28px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.lbl-box.left-lbl {
  border-left: 1px solid #000;
}

.lbl-box.left-lbl.big-width {
  width: auto;
  padding-right: 4px;
  padding-left: 4px;
}

.lbl-box.left-lbl.big-width.bold {
  font-weight: 700;
}

.lbl-box.left-margin {
  margin-left: 2px;
  border-left: 1px solid #000;
}

.div-1-1-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2px;
  padding-bottom: 2px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.div-1-1-1.flex-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.div-1-1-1.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-under-tick {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.txt-under-tick {
  width: 64px;
  padding: 2px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

.txt-under-tick.left-border-txt {
  border-left: 1px solid #000;
}

.txt-under-tick.left-border-txt.bottom-border-txt {
  border-bottom: 1px solid #000;
}

.txt-under-tick.bottom-border-txt {
  border-bottom: 1px solid #000;
}

.txt-under-tick.bottom-border-txt._20-width {
  width: 20px;
}

.txt-under-tick._20-width {
  width: 20px;
  text-align: center;
}

.txt-frequency {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
}

.txt-frequency.bold {
  font-weight: 700;
}

.txt-small {
  margin-bottom: 8px;
  padding-left: 8px;
  font-size: 9px;
  line-height: 10px;
  text-align: justify;
}

.txt-small._7-txt-size {
  font-size: 7px;
  line-height: 8px;
}

.txt-period {
  width: 70px;
  margin-top: -15px;
  background-color: #fff;
  font-weight: 700;
  text-align: center;
}

.txt-sign {
  width: 224px;
  margin-top: 8px;
  border-bottom: 1px solid #000;
  color: #dadada;
  font-weight: 600;
  text-align: center;
}

.div-1111 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.txt-sign-count {
  margin-top: 8px;
  padding-right: 4px;
  font-weight: 600;
}