﻿@{
    //ViewBag.Title = "About Us";
    //ViewBag.Title = "About KRChoksey | Best Brokerage Firm in India";
    //ViewBag.MetaDescription = "KRChoksey is the best brokerage firm in India. We provide wealth management, financial planning, equity, derivatives, portfolio management and depository service.";
    ViewBag.Title = "About KRChoksey | Your Wealth Management Partner";
    ViewBag.MetaDescription = "KRChoksey is your wealth management partner in India. We provide wealth management, financial planning, equity, derivatives, portfolio management and depository service.";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}


<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner">
            <div class="main_image clearfix">
                <div class="slider_text clearfix">
                    <div class="slider_text_content clearfix">
                        <h1 class="wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">About KRChoksey</h1>
                        <h4 class="wow evnt_pakg fadeInUp animated" data-wow-duration="800ms" data-wow-delay="450ms">KRChoksey Investment Managers Private Limited are Mumbai based wealth managers established in 1979.</h4>
                    </div>
                    <div class="slider_image_content clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="900ms" data-wow-delay="700ms"><img src="~/Content/images/about-us-banner-image.png" alt="about-us-banner-image" title="about-us-banner-image"></div>
                </div>
                <img src="~/Content/images/inner-banner-bg.jpg" alt="Inner banner bg" title="Inner banner bg">
            </div>
        </section>
        <!------------------------------ About kr choksey Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <img src="~/Content/images/equity-derivativies-image.jpg" alt="Equity derivativies image" title="Equity derivativies image" class="wrap wow evnt_pakg bounceInRight animated" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="interoduction_content_sec_box clearfix wow evnt_pakg bounceInLeft animated" data-wow-duration="500ms" data-wow-delay="200ms">
                    <div class="heading">
                        <h2>About KRChoksey</h2>
                    </div>
                    <div class="choksey_contt_sec clearfix">
                        <p>KRChoksey Investment Managers Private Limited are Mumbai based wealth managers established in 1979.</p>
                        <p>KRChoksey group is spread across various asset verticals, offering services in Wealth Management, Financial Planning, Equity, Derivatives, Portfolio Management, Depository Services & NBFC.</p>
                        <h4>We operate under licenses with:</h4>
                        <ul>
                            <li>Stock Exchanges: BSE | NSE | MCX | NCDEX | MCX-SX</li>
                            <li>Depositaries: CDSL</li>
                            <li>Insurance Companies | Mutual Funds | NBFC</li>
                        </ul>
                        <p>With an AUM of more than INR 1500 crores, our clientele comprises of high net worth individuals, corporates, NRI, mutual funds, as well as other financial institutions. More than 75,000 investors are served through online platforms & our physical presence is spread over 250 locations across the country.</p>
                        <p>We are one of the leading wealth management firm serving investors both in India and overseas. With an impressive track record in terms of services to its broad clientele, the key ingredient for the company's success has been its customer centric approach and capital growth through structured counselling and focus.</p>
                    </div>


                </div>


            </article>
        </section>
        <!------------------------------ Vision Section ------------------------------>
        <section id="common_sec">
            <article class="interoduction_sec_box clearfix">
                <img src="~/Content/images/vision-image.jpg" alt="Vision image" title="Vision image" class="wrap1 wow evnt_pakg bounceInLeft  animated" data-wow-duration="500ms" data-wow-delay="200ms">
                <article class="interoduction_content_sec_box content_part_two clearfix wow evnt_pakg bounceInRight animated" data-wow-duration="500ms" data-wow-delay="200ms">
                    <div class="heading">
                        <h2>Vision</h2>
                    </div>
                    <div class="choksey_contt_sec clearfix">
                        <p>We will emerge as leaders in the financial industry by growing our brand into every part of the country and to every part of the world through our integrated financial solutions to cater to varied customer segments. While growing our brand, we will always stay true to our values and beliefs in safeguarding customer’s wealth and interests.</p>
                        <div class="heading">
                            <h2>Mission</h2>
                        </div>
                        <div class="choksey_contt_sec clearfix">
                            <p>We will achieve our vision by remaining focused on:</p>
                            <ul>
                                <li class="no_choksey_bg">Our People: By providing an environment that nurtures the individual and enhances personal and professional growth</li>
                                <li class="no_choksey_bg">Our Performance: By always focusing on safeguarding customer growth and customer requirements</li>
                                <li class="no_choksey_bg">Our Growth Plans: By bringing in innovative products and practices to grow the organization and the industry</li>
                            </ul>
                        </div>
                    </div>

                </article>
            </article>
        </section>
        <!------------------------------ Mission Section ------------------------------>
        <!-- <section id="interoduction_sec">
             <article class="interoduction_sec_box clearfix">
                 <img src="~/Content/images/mission-image.jpg" alt="Mission image" title="Mission image" class="wrap wow evnt_pakg bounceInRight animated" data-wow-duration="500ms" data-wow-delay="200ms">
                 <div class="interoduction_content_sec_box clearfix wow evnt_pakg bounceInLeft animated" data-wow-duration="500ms" data-wow-delay="200ms">
                     <div class="heading">
                         <h2>Mission</h2>
                     </div>
                     <div class="choksey_contt_sec clearfix">
                         <p>We will achieve our vision by remaining focused on:</p>
                         <ul>
                             <li>Our People: By providing an environment that nurtures the individual and enhances personal and professional growth</li>
                             <li>Our Performance: By always focusing on safeguarding customer growth and customer requirements</li>
                             <li>Our Growth Plans: By bringing in innovative products and practices to grow the organization and the industry</li>
                         </ul>
                     </div>
                 </div>
             </article>
         </section>-->
        <!------------------------------ Kisan choksey Section ------------------------------>
        <section id="common_sec">
            <article class="interoduction_sec_box clearfix">
                <img src="~/Content/images/kr-choksey-large-image.jpg" alt="kisan choksey image" title="kisan choksey image" class="wrap wow evnt_pakg bounceInRight  animated" data-wow-duration="500ms" data-wow-delay="200ms">
                <article class="interoduction_content_sec_box content_part_two clearfix wow evnt_pakg bounceInLeft animated" data-wow-duration="500ms" data-wow-delay="200ms">
                    <div class="heading">
                        <h2>Kisanbhai R. Choksey</h2>
                    </div>
                    <div class="choksey_contt_sec clearfix">
                        <p><strong>Kisanbhai</strong>, as he is respectfully called, is a fatherly figure of India’s Capital Markets. He has a vast experience of more than 5 decades in India’s capital markets. He is an encyclopedia on India’s corporate sector. He is passionate about reading, understanding and investing in listed companies. Such is the vastness of his knowledge that he can read in between the lines the minds of the people behind the company. </p>
                        <p>Invariably, he ends up picking up the business and the company therein for investments when it is at its nascent state. It is this ability of buying the company for investments for long term, which has produced superlative returns in the portfolios of investors. Many of the listed companies, the bluechips of today are having the foot prints of Kisanbhai in their journey of capital markets. </p>
                        <p>Kisanbhai follows a very simple philosophy in selecting companies for investments. He believes that people who own and manage the business should be understood more than the financial statements of the company. </p>
                        <ul>
                            <li class="no_arrow"><img src="~/Content/images/arrow.png">He believes that extraordinary performance is produced by such ordinary promoters when they are ethical and work in the interest of all the stakeholders of the company.</li>
                            <li class="no_arrow"><img src="~/Content/images/arrow.png">He believes that success in investment is an outcome of discipline approach in investing. <strong>His mantra is “be consistent with the disciplined approach in investing and the wealth creation would happen on its own”.</strong></li>
                        </ul>
                        <p><strong>Kisanbhai actively manages investors’ wealth. Investors from various walks of life including corporate, business families, doctors and professionals have been benefitting from investment advices of Kisanbhai, all these years. He is also a known face to people of Dalal Street who enjoy regular interactions with him on every possible occasion.</strong> </p>
                        <p><strong>Kisanbhai is the promoter and the Chairman of KRChoksey Group of Companies. KRChoksey</strong> is the most trusted and prominent brand in India’s financial markets and corporate world. Investors are at home when they deal with KRChoksey; be it equity or other than equity products like commodity, currency, insurance, fixed income products or the financial planning.</p>
                        <p><strong>Kisanbhai</strong> has also had a long career with Bombay Stock Exchange. He has held various positions in his long standing association with the exchange. <strong>He is currently the Trustee of BSE and Investor’s protection fund of the exchange.</strong> He has held positions of Vice President, Treasurer and Director on the board of the exchange. As a trustee, he has played a key role in institutionalizing a specialized course of MBA in Capital Markets, jointly run by BSE with NMIMS and other management institutes.</p>
                        <p><strong>Kisanbhai</strong> is a familiar face with investors, a person with high thinking yet simple and easily accessible to all.He is presently associated with and serving Santacruz General Hospital in honorary capacities in the areas of management, taking special efforts of improving the facilities for patience in the hospital.  </p>
                        <p>He is also a trustee of the <strong>Shree Venktesh Mandir Trust</strong>, Girgaum, Mumbai. </p>
                        <p>He also serves Shree LAD Parishad in various capacities as office bearer, and takes care of their properties developed for recreational purpose for the community.</p>
                    </div>
                </article>
            </article>
        </section>
        <!------------------------------ Devan choksey Section ------------------------------>
        <section id="common_sec">
            <article class="interoduction_sec_box clearfix">
                <img src="~/Content/images/dr-choksey-large-image.jpg" alt="Dr choksey image" title="Dr choksey image" class="wrap1 wow evnt_pakg bounceInLeft animated" data-wow-duration="500ms" data-wow-delay="200ms">
                <article class="interoduction_content_sec_box content_part_two clearfix wow evnt_pakg bounceInRight animated" data-wow-duration="500ms" data-wow-delay="200ms">
                    <div class="heading">
                        <h2>Deven R Choksey</h2>
                    </div>
                    <div class="choksey_contt_sec clearfix">
                        <p>Mr. Deven Choksey is the promoter of KRChoksey Group & the Managing Director of KRChoksey Investment Managers Private Limited. KRChoksey has been a respected and distinguished name in the Indian capital markets, for over three decades.</p>
                        <p>He carried the vision of transforming stock brokerage business into wealth management practice. Today, KRChoksey runs twin integrated platforms under wealth management and transaction based services.</p>
                        <h4>KRChoksey Personal </h4>
                        <p>A brand offering wealth management services to wide spectrum of customers from ultra HNIs & family offices of corporate to NRIs served under 250 locations present across the country.</p>
                        <h4>KRChoksey Institutional </h4>
                        <p>A brand offering equity, equity derivatives, currency to institutional segment of customers across AMCs to insurance companies, banks & corporate houses.</p>
                        <p>Armed with a distinction in Commerce and Accountancy with academic training as CA. He has also undergone Advance Management Development Program (MDP) with specialization in Management of Funds and Portfolio Investments from IIM Ahmedabad. He has spearheaded the expansion and growth of KRChoksey Group with a clear vision and has nurtured it to become a complete investment solution provider. In addition to his academic success he has secured indispensable experience in capital markets. He is the distinguished market voice at business media channels like CNBC-TV18, ET Now & all other business channels and in the print & electronic media.</p>
                        <p>He has played major roles as a member of the committee in digitizing market platform with contributions in development of online trading, online surveillance systems and dematerialization of shares into digital receipt.</p>
                        <p>He has Represented BSE at The Forum for International Tandem Users Group San Jose, USA.He served BSE as the Director post BSE Demutualization & also as board member of Governing Council of the Derivative Stock Exchange, Mumbai.</p>
                        <p>He has held various positions including in the area of technology for capital markets and also serving exchange as a member of finance committee etc.</p>
                    </div>
                </article>
            </article>
        </section>


    </section>
</section>


@*<section id="mid_body">
        <section id="inner_page">
            <!------------------------------ Banner ------------------------------>
            <section id="inner_banner"><img src="~/Content/images/wealth-management-banner.jpg" alt="Wealth management banner" title="Wealth management banner"></section>
            <!------------------------------ About kr choksey Section ------------------------------>
            <section id="interoduction_sec">
                <article class="interoduction_sec_box clearfix">
                    <img src="~/Content/images/equity-derivativies-image.jpg" alt="Equity derivativies image" title="Equity derivativies image" class="wrap">
                    <div class="interoduction_content_sec_box clearfix">
                        <div class="heading">
                            <h2>About KRChoksey</h2>
                        </div>
                        <div class="choksey_contt_sec clearfix">
                            <p>KRChoksey Investment Managers Private Limited are Mumbai based wealth managers established in 1979.</p>
                            <p>KRChoksey group is spread across various asset verticals, offering services in Wealth Management, Financial Planning, Equity, Derivatives, Portfolio Management, Depository Services & NBFC.</p>
                            <h4>We operate under licenses with:</h4>
                            <ul>
                                <li>Stock Exchanges: BSE | NSE | MCX | NCDEX | MCX-SX</li>
                                <li>Depositaries: CDSL</li>
                                <li>Insurance Companies | Mutual Funds | NBFC</li>
                            </ul>
                            <p>With an AUM of more than INR 1500 crores, our clientele comprises of high net worth individuals, corporates, NRI, mutual funds, as well as other financial institutions. More than 75,000 investors are served through online platforms & our physical presence is spread over 250 locations across the country.</p>
                            <p>We are one of the leading wealth management firm serving investors both in India and overseas. With an impressive track record in terms of services to its broad clientele, the key ingredient for the company's success has been its customer centric approach and capital growth through structured counselling and focus.</p>
                        </div>


                    </div>


                </article>
            </section>
            <!------------------------------ Vision Section ------------------------------>
            <section id="common_sec">
                <article class="interoduction_sec_box clearfix">
                    <img src="~/Content/images/vision-image.jpg" alt="Vision image" title="Vision image" class="wrap1">
                    <article class="interoduction_content_sec_box content_part_two clearfix">
                        <div class="heading">
                            <h2>Vision</h2>
                        </div>
                        <div class="choksey_contt_sec clearfix">
                            <p>We will emerge as leaders in the financial industry by growing our brand into every part of the country and to every part of the world through our integrated financial solutions to cater to varied customer segments. While growing our brand, we will always stay true to our values and beliefs in safeguarding customer’s wealth and interests.</p>
                        </div>
                    </article>
                </article>
            </section>
            <!------------------------------ Mission Section ------------------------------>
            <section id="interoduction_sec">
                <article class="interoduction_sec_box clearfix">
                    <img src="~/Content/images/mission-image.jpg" alt="Mission image" title="Mission image" class="wrap">
                    <div class="interoduction_content_sec_box clearfix">
                        <div class="heading">
                            <h2>Mission</h2>
                        </div>
                        <div class="choksey_contt_sec clearfix">
                            <p>We will achieve our vision by remaining focused on:</p>
                            <ul>
                                <li>Our People: By providing an environment that nurtures the individual and enhances personal and professional growth</li>
                                <li>Our Performance: By always focusing on safeguarding customer growth and customer requirements</li>
                                <li>Our Growth Plans: By bringing in innovative products and practices to grow the organization and the industry</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </section>
            <!------------------------------ Kisan choksey Section ------------------------------>
            <section id="Kisanbhai">
                <section id="common_sec">
                    <article class="interoduction_sec_box clearfix">
                        <img src="~/Content/images/kr-choksey-large-image.jpg" alt="kisan choksey image" title="kisan choksey image" class="wrap1">
                        <article class="interoduction_content_sec_box content_part_two clearfix">
                            <div class="heading">
                                <h2>Shri Kisanbhai R. Choksey</h2>
                            </div>
                            <div class="choksey_contt_sec clearfix">
                                <p><strong>Kisanbhai</strong>, as he is respectfully called, is a fatherly figure of India’s Capital Markets. He has a vast experience of more than 5 decades in India’s capital markets. He is an encyclopedia on India’s corporate sector. He is passionate about reading, understanding and investing in listed companies. Such is the vastness of his knowledge that he can read in between the lines the minds of the people behind the company. </p>
                                <p>Invariably, he ends up picking up the business and the company therein for investments when it is at its nascent state. It is this ability of buying the company for investments for long term, which has produced superlative returns in the portfolios of investors. Many of the listed companies, the bluechips of today are having the foot prints of Kisanbhai in their journey of capital markets. </p>
                                <p>Kisanbhai follows a very simple philosophy in selecting companies for investments. He believes that people who own and manage the business should be understood more than the financial statements of the company. </p>
                                <ul>
                                    <li>He believes that extraordinary performance is produced by such ordinary promoters when they are ethical and work in the interest of all the stakeholders of the company.</li>
                                    <li>He believes that success in investment is an outcome of discipline approach in investing. <strong>His mantra is “be consistent with the disciplined approach in investing and the wealth creation would happen on its own”.</strong></li>
                                </ul>
                                <p><strong>Kisanbhai actively manages investors’ wealth. Investors from various walks of life including corporate, business families, doctors and professionals have been benefitting from investment advices of Kisanbhai, all these years. He is also a known face to people of Dalal Street who enjoy regular interactions with him on every possible occasion.</strong> </p>
                                <p><strong>Kisanbhai is the promoter and the Chairman of KRChoksey Group of Companies. KRChoksey</strong> is the most trusted and prominent brand in India’s financial markets and corporate world. Investors are at home when they deal with KRChoksey; be it equity or other than equity products like commodity, currency, insurance, fixed income products or the financial planning.</p>
                                <p><strong>Kisanbhai</strong> has also had a long career with Bombay Stock Exchange. He has held various positions in his long standing association with the exchange. <strong>He is currently the Trustee of BSE and Investor’s protection fund of the exchange.</strong> He has held positions of Vice President, Treasurer and Director on the board of the exchange. As a trustee, he has played a key role in institutionalizing a specialized course of MBA in Capital Markets, jointly run by BSE with NMIMS and other management institutes.</p>
                                <p><strong>Kisanbhai</strong> is a familiar face with investors, a person with high thinking yet simple and easily accessible to all.He is presently associated with and serving Santacruz General Hospital in honorary capacities in the areas of management, taking special efforts of improving the facilities for patience in the hospital.  </p>
                                <p>He is also a trustee of the <strong>Shree Venktesh Mandir Trust</strong>, Girgaum, Mumbai. </p>
                                <p>He also serves Shree LAD Parishad in various capacities as office bearer, and takes care of their properties developed for recreational purpose for the community.</p>
                            </div>
                        </article>
                    </article>
                </section>
            </section>
            <!------------------------------ Devan choksey Section ------------------------------>
            <section id="Deven">
                <section id="common_sec">
                    <article class="interoduction_sec_box clearfix">
                        <img src="~/Content/images/dr-choksey-large-image.jpg" alt="Dr choksey image" title="Dr choksey image" class="wrap1">
                        <article class="interoduction_content_sec_box content_part_two clearfix">
                            <div class="heading">
                                <h2>Deven R Choksey</h2>
                            </div>
                            <div class="choksey_contt_sec clearfix">
                                <p>Mr. Deven Choksey is the promoter of KRChoksey Group & the Managing Director of KRChoksey Investment Managers Private Limited. KRChoksey has been a respected and distinguished name in the Indian capital markets, for over three decades.</p>
                                <p>He carried the vision of transforming stock brokerage business into wealth management practice. Today, KRChoksey runs twin integrated platforms under wealth management and transaction based services.</p>
                                <h4>KRChoksey Personal </h4>
                                <p>A brand offering wealth management services to wide spectrum of customers from ultra HNIs & family offices of corporate to NRIs served under 250 locations present across the country.</p>
                                <h4>KRChoksey Institutional </h4>
                                <p>A brand offering equity, equity derivatives, currency to institutional segment of customers across AMCs to insurance companies, banks & corporate houses.</p>
                                <div class="inner_page_pad_box clearfix">
                                    <p>Armed with a distinction in Commerce and Accountancy with academic training as CA. He has also undergone Advance Management Development Program (MDP) with specialization in Management of Funds and Portfolio Investments from IIM Ahmedabad. He has spearheaded the expansion and growth of KRChoksey Group with a clear vision and has nurtured it to become a complete investment solution provider. In addition to his academic success he has secured indispensable experience in capital markets. He is the distinguished market voice at business media channels like CNBC-TV18, ET Now & all other business channels and in the print & electronic media.</p>
                                    <p>He has played major roles as a member of the committee in digitizing market platform with contributions in development of online trading, online surveillance systems and dematerialization of shares into digital receipt.</p>
                                    <p>He has Represented BSE at The Forum for International Tandem Users Group San Jose, USA.He served BSE as the Director post BSE Demutualization & also as board member of Governing Council of the Derivative Stock Exchange, Mumbai.</p>
                                    <p>He has held various positions including in the area of technology for capital markets and also serving exchange as a member of finance committee etc.</p>
                                </div>
                            </div>
                        </article>
                    </article>
                </section>
            </section>
        </section>
    </section>*@
