﻿
@{
    ViewBag.Title = "Calculators";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">

    <section id="interoduction_sec">
        <article class="interoduction_sec_box clearfix">
            <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="1600ms" data-wow-delay="1100ms">
                <h2>Calculator</h2>
            </div>
            <div class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1900ms" data-wow-delay="1400ms">
                <div class="all_calculator_box_sec clearfix">
                    <div class="banner_tab_sub_heading no_sub_pad clearfix">
                        <div class="bhoechie-tab-menu">
                            <div class="list-group">
                                <a href="#" class="list-group-item  active">
                                    <h4><img src="../Content/images/calculator-icon.png" alt="calculator icon" title="alculator icon">EMI Calculator</h4>
                                </a>
                                <!--<a href="#" class="list-group-item ">
                                <h4 class="currency_part">i-derivatives</h4>
                                 </a>
                                <a href="#" class="list-group-item ">
                                  <h4 class="commodities">i-plan</h4>
                                </a>
                                <a href="#" class="list-group-item ">
                                  <h4 class="research_icon">i-PMS</h4>
                                </a>
                                <a href="#" class="list-group-item">
                                 <h4 class="insurance_icon">i-fund</h4>
                                </a>
                                <a href="#" class="list-group-item">
                                 <h4 class="pms_icon">i-hold</h4>
                                </a>
                                 <a href="#" class="list-group-item">
                                 <h4 class="bond_icon">i-lend</h4>
                                </a>-->
                            </div>
                        </div>

                    </div>
                    <div class="banner_tab_content">
                        <div class="bhoechie-tab">
                            <!-- flight section -->
                            @Html.Action("EMI_Calculator", "Home")
                            <!-- train section -->
                            <!--<div class="bhoechie-tab-content">
                               <center>
                                    <h3>i-Derivatives</h3>
                                    <h5>Future and Options </h5>
                                    <h4>Why should You invest in Future and Options?</h4>
                                    <div class="baner_contt_sec__box clearfix">
                                        <ul>
                                            <li>Excellent tools to hedge risk</li>
                                            <li>Minimize exposure to riskier assets</li>
                                            <li>Emanation of Arbitrage opportunities</li>
                                            <li>Effective discovery of price of an asset</li>
                                            <li>Multiple pay off scenarios can be created</li>
                                         </ul>
                                    </div>
                                    <div class="read_more"><a href="i-derivatives.html" target="_blank">Read more</a></div>
                                </center>
                            </div>-->
                            <!-- hotel search -->
                            <!--<div class="bhoechie-tab-content">
                                <center>
                                    <h3>i-Plan</h3>
                                    <h5>Mutual Funds</h5>
                                    <h4>Why invest in Mutual Funds?</h4>
                                    <div class="baner_contt_sec__box clearfix">
                                        <ul>
                                            <li>Professional management</li>
                                            <li>Diversification</li>
                                            <li>More choice</li>
                                            <li>Affordability</li>
                                            <li>Tax benefits</li>
                                         </ul>
                                    </div>
                                    <div class="read_more"><a href="i-plan.html" target="_blank">Read more</a></div>
                                </center>
                            </div>-->
                            <!--<div class="bhoechie-tab-content">
                                <center>
                                    <h3>Portfolio Management</h3>
                                    <h4>Why do you need Portfolio Management Services (PMS)?</h4>
                                   <div class="baner_contt_sec__box clearfix">
                                        <ul>
                                            <li>Provides you professional support to manage your portfolio</li>
                                            <li>Ensures personalized management to generate higher returns in various investment cycles</li>
                                            <li>Enhances returns through timely decision & online monitoring of portfolio</li>
                                         </ul>
                                    </div>
                                    <h4>Brief details </h4>
                                    <p>Active investors, Corporates, NRIs and professionals seeking to earn better ROI and ride with the India growth story can opt for our PMS services.</p>
                                    <div class="read_more"><a href="i-pms.html" target="_blank">Read more</a></div>
                                </center>
                            </div>-->
                            <!--<div class="bhoechie-tab-content">
                                <center>
                                    <h3>i-Fund</h3>
                                    <h5>Loan against Shares</h5>
                                    <h4>Why do you need Loan Against Shares (LAS)?</h4>
                                   <div class="baner_contt_sec__box clearfix">
                                        <ul>
                                            <li>If you are a business owner requiring immediate funds, LAS is the most appropriate financing solution for you</li>
                                            <li>Businesses with expansion plans, or those requiring funds to procure additional manpower, machinery to scale operations should consider Loan against Securities</li>
                                            <li>Additionally, salaried individuals in need of immediate liquidity may also opt for this financing solution</li>
                                         </ul>
                                    </div>
                                    <div class="read_more"><a href="i-fund.html" target="_blank">Read more</a></div>
                                </center>
                            </div>-->
                            <!--<div class="bhoechie-tab-content">
                                <center>
                                    <h3>Coming Soon</h3>
                                </center>
                            </div>-->
                            <!--<div class="bhoechie-tab-content">
                                <center>
                                    <h3>i-lend</h3>
                                    <h4>Why to invest in I lend?</h4>
                                   <div class="baner_contt_sec__box clearfix">
                                        <ul>
                                            <li>Easy way of earning lending fees from borrower of your stock.</li>
                                            <li>Continue to keep all beneficiary rights with yourself. </li>
                                            <li>Assured 100 % protection of holdings. </li>
                                            <li>Earnings dose not impact on your short & long term taxation implication. </li>
                                         </ul>
                                        <h4>Brief details</h4>
                                        <ul>
                                            <li>The Securities Lending and Borrowing (hereinafter referred as SLB) is a scheme that has been launched to enable settlement of securities sold short. </li>
                                         </ul>
                                    </div>
                                    <div class="read_more"><a href="i-lend.html" target="_blank">Read more</a></div>
                                </center>
                            </div>-->
                        </div>
                    </div>
                </div>
        </article>
    </section>
</section>

