﻿@{
    //ViewBag.Title = "Careers";
    //ViewBag.Title = "Career of KRChoksey - We are hiring for exciting job opportunities";
    //ViewBag.MetaDescription = "Come join one of the fastest growing wealth management & financial service companies in India, today. If you interested in building your career with KRChoksey, email us your resume at hr@XXXXXXX.XXX";
    ViewBag.Title = "Career of KRChoksey | Wealth Management Partner";
    ViewBag.MetaDescription = "Come & join one of the fastest growing wealth management & financial service companies in India, today. If you interested in building your career with KRChokey, email us your resume at hr@XXXXXXX.XXX";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}


<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner">
            <div class="main_image clearfix">
                <div class="slider_text clearfix">
                    <div class="slider_text_content clearfix">
                        <h1 class="wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">To succeed... you need to find something to hold on to, something to motivate you.</h1>
                    </div>
                    <div class="slider_image_content clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="1000ms"><img src="~/Content/images/careers-banner-image.png" alt="careers-banner-image" title="careers-banner-image"></div>
                </div>
                <img src="~/Content/images/inner-banner-bg.jpg" alt="Inner banner bg" title="Inner banner bg">
            </div>
        </section>
        <!------------------------------ Subscribe Report------------------------------>
        <section id="online_trading">
            <article class="interoduction_sec_box clearfix">
                <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">
                    <h2>Careers with KRC</h2>
                </div>
                <article class="choksey_contt_sec clearfix wow evnt_pakg fadeinup animated" data-wow-duration="500ms" data-wow-delay="250ms">
                   <!-- <h3>To succeed... you need to find something to hold on to, something to motivate you, something to inspire you. </h3>
                    <p><strong>At KRChoksey Shares & Securities Pvt. Ltd</strong>., we have a vision of where we want to go, and it's really exciting. We invest in our most valuable asset, our people. Would you like to be part of a company that is making history?  </p>
                    <p>It's a place where you can contribute, innovate, work and grow with other intelligent and motivated people. Everyone at every level in every function at KRChoksey is encouraged to have original ideas and to share them - here; an entrepreneurial bent of mind isn't just an asset, it's a prerequisite.</p>-->
                       <div class="career_box_mail clearfix">
    	<p>Interested in building your career with KRC. Mail us your resume at <span><a href="mailto:hr@XXXXXXX.XXX">hr@XXXXXXX.XXX</a></span></p>
    </div>
                </article>
            </article>
        </section>
    </section>
</section>

@*<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner"><img src="~/Content/images/careers-page.jpg" alt="Wealth management banner" title="Wealth management banner"></section>
        <!------------------------------ Subscribe Report------------------------------>
        <section id="online_trading">
            <article class="interoduction_sec_box clearfix">
                <article class="insurance_body clearfix">
                    <div class="heading">
                        <h2>Careers with KRC</h2>
                    </div>
                    <article class="choksey_contt_sec clearfix">
                        <h3>To succeed... you need to find something to hold on to, something to motivate you, something to inspire you. </h3>
                        <p><strong>At KRChoksey Shares & Securities Pvt. Ltd</strong>., we have a vision of where we want to go, and it's really exciting. We invest in our most valuable asset, our people. Would you like to be part of a company that is making history?  </p>
                        <p>It's a place where you can contribute, innovate, work and grow with other intelligent and motivated people. Everyone at every level in every function at KRChoksey is encouraged to have original ideas and to share them - here; an entrepreneurial bent of mind isn't just an asset, it's a prerequisite.</p>
                        <p>
                            <strong>If you can crave for growth and have knowledge about stock market then here is the opportunity you can grab upon: please apply at</strong>
                            <span><a href="mailto:hr@XXXXXXX.XXX">hr@XXXXXXX.XXX</a></span>
                        </p>
                    </article>
                </article>
            </article>
        </section>
    </section>
</section>*@

