﻿
@{
    //ViewBag.Title = "Contact Us";
    //ViewBag.Title = "Find Contact Details of KRChoksey";
    //ViewBag.MetaDescription = "Get all our contact details like registered office address, phone numbers, e-mail addresses, and more! For enquiries and assistance, visit us online at www.XXXXXXX.XXX";
    ViewBag.Title = "Find Contact Details of KRChoksey | Wealth Management Partner";
    ViewBag.MetaDescription = "Get all our contact details like registered office address, phone numbers, e-mail addresses, and more! For enquiries and assistance, visit us online at www.XXXXXXX.XXX.";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
    <section id="inner_page">
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">
                    <h2>Contact Us</h2>
                </div>
                <article class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="500ms" data-wow-delay="250ms">
                    <div class="mutual_funds mutual_funds_box clearfix">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" valign="middle" class="mutual_heading" width="35%">
                                    <p>Office Address</p>
                                </td>
                                <td align="center" valign="middle" class="mutual_heading" width="15%">
                                    <p>State</p>
                                </td>
                                <td align="center" valign="middle" class="mutual_heading" width="15%">
                                    <p>City</p>
                                </td>
                                <td align="center" valign="middle" class="mutual_heading" width="35%">
                                    <p>Phone numbers</p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="mutual_sub_heading" align="center" valign="middle">
                                    <p>Registered Office</p>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle" width="35%">
                                    <p>1102, Stock Exchange Tower, Dalal Street,Mumbai-400 001</p>
                                </td>
                                <td align="center" valign="middle" width="15%">
                                    <p><strong>Maharashtra</strong></p>
                                </td>
                                <td align="center" valign="middle" width="15%">
                                    <p><strong>Mumbai</strong></p>
                                </td>
                                <td align="center" valign="middle" width="35%">
                                    <p><span><a href="tel:91-22-66535000">Phone: 91-22-66535000</a></span></p>
                                    <p>Fax No:91-22-66338060</p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="mutual_sub_heading" align="center" valign="middle">
                                    <p>Corporate Office</p>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle" width="35%">
                                    <p>Abhishek, 5th Floor, Besides Monginis Cake Factory,New Link Road, Andheri (W),Mumbai - 400 058</p>
                                </td>
                                <td align="center" valign="middle" width="15%">
                                    <p><strong>Maharashtra</strong></p>
                                </td>
                                <td align="center" valign="middle" width="15%">
                                    <p><strong>Mumbai</strong></p>
                                </td>
                                <td align="center" valign="middle" width="35%">
									<p><span><a href="tel:91-22-66965555">Phone: 91-22-66965555</a></span></p>
                                    <p>Fax No:91-22-66919576</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    @*<p>In case of any Branch or Franchisee Queries kindly mail us at <span><a href="mailto:npcare@XXXXXXX.XXX">npcare@XXXXXXX.XXX</a></span> or contact us at <span><a href="tel:02266965523">022-66965523</a></span></p>*@
                    <p>In case of queries kindly mail us at <span><a href="service@XXXXXXX.XXX">service@XXXXXXX.XXX</a></span> or call us on  <span><a href="tel:02266965513">022-66965513/5</a></span></p>
                    <p>In case of grievances for Securities Broking write to <span><a href="customercare@XXXXXXX.XXX">customercare@XXXXXXX.XXX</a></span></p>
                </article>
            </article>
        </section>
    </section>
</section>


@*<section id="mid_body">
    <section id="inner_page">
        <section id="contact_us">
            <article class="interoduction_sec_box clearfix">
                <article class="insurance_body clearfix">
                    <div class="heading">
                        <h2>Contact Us</h2>
                    </div>
                    <article class="choksey_contt_sec clearfix">
                        <div class="mutual_funds mutual_funds_box clearfix">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" valign="middle" class="mutual_heading" width="35%">
                                        <p>Office Address</p>
                                    </td>
                                    <td align="center" valign="middle" class="mutual_heading" width="15%">
                                        <p>State</p>
                                    </td>
                                    <td align="center" valign="middle" class="mutual_heading" width="15%">
                                        <p>City</p>
                                    </td>
                                    <td align="center" valign="middle" class="mutual_heading" width="35%">
                                        <p>Phone numbers</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="mutual_sub_heading" align="center" valign="middle">
                                        <p>Registered Office</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" width="35%">
                                        <p>1102, Stock Exchange Tower, Dalal Street,Mumbai-400 001</p>
                                    </td>
                                    <td align="center" valign="middle" width="15%">
                                        <p><strong>Maharashtra</strong></p>
                                    </td>
                                    <td align="center" valign="middle" width="15%">
                                        <p><strong>Mumbai</strong></p>
                                    </td>
                                    <td align="center" valign="middle" width="35%">
                                        <p>Phone: +91-22-66535000 </p>
                                        <p>Fax No: +91-22-66338060</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="mutual_sub_heading" align="center" valign="middle">
                                        <p>Corporate Office</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" width="35%">
                                        <p>Abhishek, 5th Floor, Besides Monginis Cake Factory,New Link Road, Andheri (W),Mumbai - 400 058</p>
                                    </td>
                                    <td align="center" valign="middle" width="15%">
                                        <p><strong>Maharashtra</strong></p>
                                    </td>
                                    <td align="center" valign="middle" width="15%">
                                        <p><strong>Mumbai</strong></p>
                                    </td>
                                    <td align="center" valign="middle" width="35%">
                                        <p>Phone: +91-22-66965555 </p>
                                        <p>Fax No: +91-22-66919576</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <p>In case of any Branch or Franchisee Queries kindly mail us at <span><a href="mailto:npcare@XXXXXXX.XXX">npcare@XXXXXXX.XXX</a></span> or contact us at <a href="tel:022-66965523">022-66965523</a></p>
                    </article>
                </article>
            </article>
        </section>
    </section>
</section>*@

