﻿
@{
    ViewBag.Title = "Wealth Sign Up | KRChoksey";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
    //Layout = null;
}


@using (Html.BeginForm("CreateWealthSignUp", "Home", FormMethod.Post, new { @class = "contact_page4" }))
{
    <div style="text-align:center" class="@ViewBag.HideClass">
        @ViewBag.Message
    </div>

    <section id="mid_body">
        <section id="inner_page">
            <article class="interoduction_sec_box sign_up_box clearfix">
                <article class="sign_up_body clearfix">
                    @*<div class="heading">
                        <h2>Wealth Sign Up</h2>
                    </div>*@
                    @*<div class="choksey_contt_sec clearfix">*@
                        
                            @*<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeC0PfRrMlX6rZwo3qBdOKs9coJJcIRXDQ-Wy6rWzf1HDLbvQ/viewform?embedded=true#start=embed" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>*@
                    @*<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeC0PfRrMlX6rZwo3qBdOKs9coJJcIRXDQ-Wy6rWzf1HDLbvQ/viewform?embedded=true#start=embed" width="100%" max-height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>*@
                    <iframe id="JotFormIFrame-70261659063456" onload="window.parent.scrollTo(0,0)" allowtransparency="true" src="https://form.jotform.me/70261659063456" frameborder="0" style="width:100%; height:663px; border:none;" scrolling="no"> </iframe>
                    <script type="text/javascript"> window.handleIFrameMessage = function(e) { var args = e.data.split(":"); var iframe = false; if (args.length > 2) { iframe = document.getElementById("JotFormIFrame-" + args[2]); } else { iframe = document.getElementById("JotFormIFrame"); } if (!iframe) return; switch (args[0]) { case "scrollIntoView": iframe.scrollIntoView(); break; case "setHeight": iframe.style.height = args[1] + "px"; break; case "collapseErrorPage": if (iframe.clientHeight > window.innerHeight) { iframe.style.height = window.innerHeight + "px"; } break; case "reloadPage": window.location.reload(); break; } var isJotForm = (e.origin.indexOf("jotform") > -1) ? true : false; if(isJotForm && "contentWindow" in iframe && "postMessage" in iframe.contentWindow) { var urls = {"docurl":encodeURIComponent(document.URL),"referrer":encodeURIComponent(document.referrer)}; iframe.contentWindow.postMessage(JSON.stringify({"type":"urls","value":urls}), "*"); } }; if (window.addEventListener) { window.addEventListener("message", handleIFrameMessage, false); } else if (window.attachEvent) { window.attachEvent("onmessage", handleIFrameMessage); } if(window.location.href && window.location.href.indexOf("?") > -1) { var ifr = false; if (args.length > 2) { ifr = document.getElementById("JotFormIFrame-" + args[2]); } else { ifr = document.getElementById("JotFormIFrame"); } var get = window.location.href.substr(window.location.href.indexOf("?") + 1); if(ifr && get.length > 0) { var src = ifr.src; src = src.indexOf("?") > -1 ? src + "&" + get : src + "?" + get; ifr.src = src; } } </script>
                        
                    @*</div>*@
                </article>
            </article>
        </section>
    </section>
}
