﻿@model KR_Choksey.Models.KrcQuickContacts

@using (Html.BeginForm("Demonetisation", "Home", FormMethod.Post, new { @class = "contact_page4" }))
{
    <div class="modal fade" id="myModalDemonetisation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class=" modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@

                <div class="modal-body clearfix" id="MainDiv">
                    <div id="tabs12">
                        <div id="tabs-1">
                            <div class="security_code">
                                <div class="login_box_sec clearfix">
                                    <div class="choksey_contt_section clearfix">
                                        <div class="field_sec_box clearfix">
                                            @*<a href="~/Content/WB_Reports/Demonetisation.pdf" target="_blank">*@
                                            @*<a href="~/Content/WB_Reports/Digitalisation-InvestmentThemes2017.pdf" target="_blank">*@
                                            @*<a href="~/Content/WB_Reports/Performance Budget_website.pdf" target="_blank">*@
                                            @*<a href="~/Content/WB_Reports/Perf_Digitization.pdf" target="_blank">*@
                                            @*<a href="~/Content/WB_Reports/PerformanceDemonitization.pdf" target="_blank">*@
                                            @*<a href="@Url.Action("CreateWealthSignUp", "Home")" target="_blank">*@
                                            @*<a href="~/Content/WB_Reports/Budget_Expectation_2017_KRChoksey.pdf" target="_blank">*@
                                            @*<a href="~/Content/WB_Reports/KRC-Ins-Report.pdf" target="_blank">*@
                                            <a href="http://bit.ly/2lJQ5lt" target="_blank">
                                                @*<img src="~/Content/images/KRC_pop up infographics.jpg" style="width:100%;padding: 0px 10px 0px 10px;" />*@
                                                @*<img src="~/Content/images/KRC_digitalisation_WA_revised.jpg" style="width:100%;padding: 0px 10px 0px 10px;" />*@
                                                @*<img src="~/Content/images/KRC_Popup_final.jpg" style="width:100%;padding: 0px 10px 0px 10px;" />*@
                                                @*<img src="~/Content/images/KRC_Popup_Digitalization_17012017.jpg" style="width:100%;padding: 0px 10px 0px 10px;" />*@
                                                @*<img src="~/Content/images/KRC_Popup_Digitalization_17012017(1).jpg" id="budget-2017-18" style="width:100%;padding: 0px 10px 0px 10px;" />*@
                                                @*<img src="~/Content/images/KRC_Outbeaten_Sensex_GIF_27 01 2017.gif" id="budget-2017-18" style="width:100%;padding: 0px 10px 0px 10px;" />*@
                                                @*<img src="~/Content/images/KRC_Insurance_06 02 2017.gif" id="budget-2017-18" style="width:100%;padding: 0px 10px 0px 10px;" />*@
                                                <img src="~/Content/images/KRC_BSE_NSE_17-02-2017.gif" id="budget-2017-18" style="width:100%;padding: 0px 10px 0px 10px;" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="single-effect">
                        <figure class="wpf-demo-6">
                            <a href="#">
                                <div id="image_part_choksey">
                                    <div class="image_part cool"><img src="~/Content/images/KRC_pop up infographics.jpg" alt="Kr Choksey Image" title="Kr Choksey Image"></div>
                                </div>
                            </a>
                        </figure>
                    </div>*@

                @*<div style="text-align:center" class="@ViewBag.HideClass">
                        @ViewBag.Message
                    </div>*@

                @*<img src="~/Content/images/KRC_pop up infographics.jpg" style="width:auto;" />*@

                @*<div class="modal-body clearfix" id="MainDiv">
                        <img src="~/Content/images/KRC_pop up infographics.jpg" style="width:595px;" />
                    </div>*@


            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#Contact').click(function () {
                var name1 = $('#Name').val();
                var emailid1 = $('#EmailId').val();
                var phone = $('#QuickContactPhone').val();
                var topic = $('#QuickTopic').val();

                if (name1 == "") {
                    alert('Please Enter Name!')
                }
                else if (emailid1 == "") {
                    alert('Please Enter Email Id!')
                }
                else if (phone == "") {
                    alert('Please Enter Phone!')
                }
                else if (topic == "") {
                    alert('Please Enter Topic!')
                }
                else {
                    $.ajax({
                        url: '@Url.Action("QuickContact")',
                        type: "POST",
                        data: { Name: name1, EmailId: emailid1, PhoneNumber: phone, QuickTopic: topic },
                        error: function (xmlHttpRequest, errorText, thrownError) {
                            //$('#myModalQuickSignup').dialog(close);

                            $('#myModalQuickSignup').style.visibility = 'hidden'
                            alert(xmlHttpRequest + "|" + errorText + "|" + thrownError);
                        },
                        success: function (data) {

                            //window.location.href = data;

                            if (data == "Success") {
                                //alert("Thanks for contacting us! Our team shall get back to you very soon.");
                                //$('#Name').val("");
                                //$('#EmailId').val("");
                                //$('#QuickContactPhone').val("");
                                //$('#QuickTopic').val("");
                                document.getElementById('MainDiv').style.visibility = 'hidden'
                                document.getElementById('ErrorText').style.visibility = 'visible'
                                document.getElementById('ErrorText').style.color = 'green';
                                $('#ErrorText').val('Thanks for contacting us! Our team shall get back to you very soon.');
                            }
                            else {
                                $('#ErrorText').val(data);
                                document.getElementById('MainDiv').style.visibility = 'visible'
                                document.getElementById('SuccessDiv').style.visibility = 'visible'
                                //document.getElementById('ErrorText').style.display = 'visible'
                                //document.getElementById('SuccessDiv').style.backgroundColor = 'red';
                                document.getElementById('ErrorText').style.color = 'red';
                            }
                            ////$('#myModalQuickSignup').hide();
                            //document.getElementById('MainDiv').style.visibility = 'hidden'
                            //document.getElementById('SuccessDiv').style.visibility = 'visible'
                            ////                        $('#myModalQuickSignup').style.visibility = 'hidden'
                        }
                    });

                }
            });

        });
    </script>
}
