﻿@model IEnumerable<KR_Choksey.Models.LocateUs>

<div class="choksey_contt_sec clearfix">
    <div class="heading">
        <h3>@ViewBag.State</h3>
        <h4>@ViewBag.City</h4>
    </div>
    <div class="mutual_funds mutual_full_width clearfix">
        @if (Model != null)
        {
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" valign="middle" width="20%" class="mutual_heading">
                        <p>Contact Person</p>
                    </td>
                    <td align="center" valign="middle" width="20%" class="mutual_heading">
                        <p>Address</p>
                    </td>
                    <td align="center" valign="middle" width="20%" class="mutual_heading">
                        <p>Phone No.</p>
                    </td>
                    <td align="center" valign="middle" width="20%" class="mutual_heading">
                        <p>	Mobile No.	</p>
                    </td>
                    <td align="center" valign="middle" width="20%" class="mutual_heading">
                        <p>	Email	</p>
                    </td>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td align="center" valign="middle" width="20%">
                            <p>@item.Contact_Person</p>
                        </td>
                        <td align="center" valign="middle" width="20%">
                            <p>@item.Address</p>
                        </td>
                        <td align="center" valign="middle" width="20%">
                            <p><a style="color:#464746;" href="tel:@item.PhoneNo">@item.PhoneNo</a></p>
                            @*<p>@item.PhoneNo</p>*@
                        </td>
                        <td align="center" valign="middle" width="20%">
                            <p><a style="color:#464746;" href="tel:@item.MobileNo">@item.MobileNo</a></p>
                            @*<p>@item.MobileNo</p>*@
                        </td>
                        <td align="center" valign="middle" width="20%">
                            <p><a style="color:#464746;" href="mailto:@item.Email">@item.Email</a></p>
                            @*<p>@item.Email</p>*@
                        </td>
                    </tr>
                }
            </table>
        }

    </div>
</div>






