﻿@{
    ViewBag.Title = "Disclaimer";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
    <section id="inner_page">
        <section id="interoduction_sec">
            <article class="interoduction_sec_box  clearfix">
                <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">
                    <h2>Disclaimer</h2>
                </div>
                <div class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="500ms" data-wow-delay="250ms">
                    <p>All reasonable care has been taken to ensure that the information contained herein is not misleading or untrue at the time of publication. However, we make no long standing commitment as to its accuracy or completeness. All information is for the private use of the person to whom it is provided without any liability whatsoever on the part of KRChoksey Shares & Securities Pvt Ltd. or any associated company or any member of employee thereof. </p>
                    <p> The company KRChoksey Shares & Securities Pvt Ltd may have open and investment interest in the stocks mentioned herein. Nothing contained herein should be construed as an offer to buy or sell or a solicitation of an offer to buy or sell. The value of any investment may fall as well as rise. Investors are advised to avail personal counseling from our research or dealing desk if they wish for any further clarity or clarifications in the understanding on various aspects of investment. </p>
                </div>
            </article>
        </section>
    </section>
</section>
<div class="clear"></div>

@*<section id="mid_body">
    <section id="inner_page">
        <article class="interoduction_sec_box  clearfix">
            <article class="sign_up_body clearfix">
                <div class="heading">
                    <h2>Disclaimer</h2>
                </div>
                <div class="choksey_contt_sec clearfix">
                    <p>All reasonable care has been taken to ensure that the information contained herein is not misleading or untrue at the time of publication. However, we make no long standing commitment as to its accuracy or completeness. All information is for the private use of the person to whom it is provided without any liability whatsoever on the part of KRChoksey Shares & Securities Pvt Ltd. or any associated company or any member of employee thereof. </p>
                    <p> The company KRChoksey Shares & Securities Pvt Ltd may have open and investment interest in the stocks mentioned herein. Nothing contained herein should be construed as an offer to buy or sell or a solicitation of an offer to buy or sell. The value of any investment may fall as well as rise. Investors are advised to avail personal counseling from our research or dealing desk if they wish for any further clarity or clarifications in the understanding on various aspects of investment. </p>
                </div>
            </article>
        </article>
    </section>
</section>
<div class="clear"></div>*@

