﻿@model IEnumerable<KR_Choksey.Areas.Admin.Models.IndicativeMarginReport>
@{
    //ViewBag.Title = "Downloads";
    //ViewBag.Title = "Downloads | KRChoksey, Stock Brokerage Firm";
    //ViewBag.MetaDescription = "Download all types of forms including change/ modification form, nomination form, Pledge request form, indicate margin report and depository tariff structure from KRChoksey.";
    ViewBag.Title = "Downloads | Wealth Management Partner | KRChoksey";
    ViewBag.MetaDescription = "Download all types of forms including change/modification form, nomination form, pledge request form and indicate margin report, depository tariff structure from KRChoksey.";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
    <section id="inner_page">
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">
                    <h2>DOWNLOADS</h2>
                </div>
                <div class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="500ms" data-wow-delay="250ms">
                    <section id="forms">
                        <h4>Forms</h4>
                        @*<div class="deposite_sec deposite_box clearfix">
                            <ul>
                                <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX:83/ekrc/content/sreports/ANNEXURE%20FOR%20COMPLIANCE%20to%20Sebi%20Circular%20final.pdf" target="_blank">Annexure for compliance to sebi circular</a></li>
                                <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX:83/ekrc/content/sreports/SMS%20Plan%205inONE.pdf" target="_blank">Subscription form for 5in1 sms plan</a></li>
                                <li class="no_choksey_bg"><a href="http://www.w3schools.com:83/html/tryit.asp?filename=tryhtml_input_date" target="_blank">Form for free cdsl sms alerts</a></li>
                                <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX:83/ekrc/content/sreports/Request%20Form%20new%2000.pdf" target="_blank">Change/ modification form</a></li>
                                <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX:83/ekrc/content/sreports/Annexure-3.2-Nomination%20Form.pdf" target="_blank">Nomination form</a></li>
                                <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX:83/ekrc/content/sreports/Annexure-8.1-Pledge%20Request%20Form.pdf" target="_blank">Pledge request form (prf)</a></li>
                                <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX:83/ekrc/content/sreports/Annexure-8.2-Unpledge%20Request%20Form.pdf" target="_blank">Unpledge request form (urf)</a></li>
                                <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX:83/ekrc/content/sreports/Annexure-9.1-Rematerialisation%20Request%20Form.pdf" target="_blank">Rematerialization request form [rrf]</a></li>
                                <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX:83/ekrc/content/sreports/Annexure-4.2-Transposition%20Request%20Form.pdf" target="_blank">Application form for transposition [tprf]</a></li>
                                <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX:83/ekrc/content/sreports/Annexure-4.pdf" target="_blank">Transmission-cum-dematerialization form</a></li>
                                <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX:83/ekrc/content/sreports/Annexure-7.pdf" target="_blank">Transmission request form</a></li>
                                <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX:83/ekrc/content/sreports/Annexure-7.2.pdf" target="_blank">Transmission request form</a></li>

                            </ul>
                        </div>*@
                        <div class="deposite_sec deposite_box clearfix">
                            <h5>ACCOUNT OPENING</h5>
                            <ul>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/Account transfer Form.pdf" target="_blank">Account transfer Form</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/Brokerage Change Request - HO.doc" target="_blank">Brokerage Change Request - HO</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/Brokerage Change Request -NP.doc" target="_blank">Brokerage Change Request -NP</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/Broking Account Closure Request Letter.doc" target="_blank">Broking Account Closure Request Letter</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/C_KYC Form.pdf" target="_blank">C_KYC Form</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/Change of DP.doc" target="_blank">Change of DP</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/change of non krcDP.doc" target="_blank">change of non krcDP</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/Clients Confirmation Letter.doc" target="_blank">Clients Confirmation Letter</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/Currency Broking Account  Closure Request Format.doc" target="_blank">Currency Broking Account  Closure Request Format.doc</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/Demat Account Closure Request Form_new.pdf" target="_blank">Demat Account Closure Request Form_new</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/DEPOSITORY TARIFF STRUCTURE-NEW0001.pdf" target="_blank">DEPOSITORY TARIFF STRUCTURE-NEW0001</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/FATCA_CRS_Declaration_form_Individual.pdf" target="_blank">FATCA_CRS_Declaration_form_Individual</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/FATCA_CRS_Declaration_form_Non-Induvudual.pdf" target="_blank">FATCA_CRS_Declaration_form_Non-Induvudual</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/Fema Declaration.doc" target="_blank">Fema Declaration</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/handover Delivery Instruction Letter.txt" target="_blank">handover Delivery Instruction Letter</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/HUF Decleration form 10 02 2016.doc" target="_blank">HUF Decleration form 10 02 2016</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/KYC - Change Individuals Forms 10022016.pdf" target="_blank">KYC - Change Individuals Forms 10022016</a></li>
                                @*<li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/Modification Form.pdf_Individual.pdf" target="_blank">Modification Form.pdf_Individual</a></li>*@
                                @*<li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/Modification Form.pdf_Non Individual.pdf" target="_blank">Modification Form.pdf_Non Individual</a></li>*@
                                @*<li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/Nomination Form_Modifed.pdf" target="_blank">Nomination Form_Modifed</a></li>*@
                                @*<li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/NOMINEE FORM_NEW0001.pdf" target="_blank">NOMINEE FORM_NEW0001</a></li>*@
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/Request Letter for Instruction slip book.doc" target="_blank">Request Letter for Instruction slip book</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/ACCOUNT OPENING/Trading Preferences.doc" target="_blank">Trading Preferences</a></li>

                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/Account_Opening_Modification/Consent Letter for Email and Mobile.pdf" target="_blank">Consent Letter for Email and Mobile</a></li>

                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/Account_Opening_Modification/Trading Code Reactivation Letter for Dormant Clients .doc" target="_blank">Trading Code Reactivation Letter for Dormant Clients</a></li>


                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/Account_Opening_Modification/Account Details Modification Request Form.pdf" target="_blank">Account Details Modification Request Form</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/Account_Opening_Modification/Nomination Form.pdf" target="_blank">Nomination Form</a></li>
                                
                                                                
                            </ul>
                            <h5>DP</h5>
                            <ul>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/DP/Account Closure Request Form.pdf" target="_blank">Account Closure Request Form</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/DP/BSDA CANCELLATION FORM.pdf" target="_blank">BSDA CANCELLATION FORM</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/DP/Freeze & unfreeze form.pdf" target="_blank">Freeze & unfreeze form</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/DP/Pledge Request Form (new).pdf" target="_blank">Pledge Request Form (new)</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/DP/Redemption Repurchase.pdf" target="_blank">Redemption Repurchase</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/DP/Rematerialisation Request Form.pdf" target="_blank">Rematerialisation Request Form</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/DP/SOA to Demat _CDSL.pdf" target="_blank">SOA to Demat _CDSL</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/DP/Transmission-cum-Dematerialization Form.pdf" target="_blank">Transmission-cum-Dematerialization Form.pdf</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/DP/TRANSMISSION (WITH NOMINEE).pdf" target="_blank">TRANSMISSION (WITH NOMINEE)</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/DP/Transmission Request Form (join holder).pdf" target="_blank">Transmission Request Form (join holder)</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/DP/Transmission Request Form.pdf" target="_blank">Transmission Request Form</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/DP/Transmission Request Form.pdf(sole holder).pdf" target="_blank">Transmission Request Form.pdf(sole holder)</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/DP/Transposition Request Form.pdf" target="_blank">Transposition Request Form</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/DP/Unpledge Request Form (NEW).pdf" target="_blank">Unpledge Request Form (NEW)</a></li>
                                
                            </ul>
                            <h5>PMS</h5>
                            <ul>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/PMS/PMS-Acceptance Of Proposal.pdf" target="_blank">PMS-Acceptance Of Proposal</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/PMS/PMS-Account Closer Form.pdf" target="_blank">PMS-Account Closer Form</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/PMS/PMS-Account Opening Form.pdf" target="_blank">PMS-Account Opening Form</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/PMS/PMS-Agreement.pdf" target="_blank">PMS-Agreement</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/PMS/PMS-Modification Of Management Fees.pdf" target="_blank">PMS-Modification Of Management Fees</a></li>
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/FORMS & DOCUMENTS/PMS/PMS-RDD Declaration By Client.pdf" target="_blank">PMS-RDD Declaration By Client</a></li>
                               
                            </ul>

                            <h5>Mobile Application</h5>
                            <ul>
                                
                                <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/Content/WB_Reports/BoltPlus.apk" target="_blank">Mobile Application Setup File</a></li>

                            </ul>
                        </div>

                    </section>
                    @*<section id="pms">
                        <h4>PMS</h4>
                        <div class="deposite_sec clearfix">
                            <ul>
                                <li class="no_choksey_bg"><a href="pms.html" target="_blank">Click here to download the form for rdd</a></li>
                            </ul>
                        </div>
                    </section>*@
                    @*<section id="derivative_research">
                        <h4>Derivative Research</h4>
                        <div class="deposite_sec clearfix">
                            <ul>
                                <li class="no_choksey_bg"><a href="@Url.Action("Research", "Product")" target="_blank">KRC indicative margin</a></li>
                            </ul>
                        </div>
                    </section>*@
                    <section id="derivative_research">
                        <h4>Indicative Margin Report</h4>
                        <div class="deposite_sec clearfix">
                            <ul>
                                @if (Model != null && Model.Count() != 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <li class="no_choksey_bg"><a href="https://XXXXXXX.XXX/IndicativeMarginReport/@item.ReportName" target="_blank">@item.ReportName</a></li>
                                        @*<li class="no_choksey_bg"><a href="http://localhost:11546/IndicativeMarginReport/@item.ReportName" target="_blank">@item.ReportName</a></li>*@
                                    }
                                }
                                else
                                {
                                    <h5>No Reports Uploaded</h5>
                                }
                                @*<li class="no_choksey_bg"><a href="@Url.Action("Research", "Product")" target="_blank">KRC indicative margin</a></li>*@
                            </ul>
                        </div>
                    </section>
                    <section id="depository_tariff_structure">
                        <h4>Depository Tariff Structure</h4>
                        <div class="deposite_sec clearfix">
                            <ul>
                                <li class="no_choksey_bg"><a href="@Url.Action("i_Lend", "Product")" target="_blank">Depository tariff structure</a></li>
                            </ul>
                        </div>
                    </section>
                </div>
            </article>
        </section>
    </section>
    <div class="clear"></div>
</section>


@*<section id="mid_body">
    <section id="inner_page">
        <article class="interoduction_sec_box sign_up_box clearfix">
            <article class="sign_up_body clearfix">
                <div class="heading">
                    <h2>DOWNLOADS</h2>
                </div>
                <div class="choksey_contt_sec clearfix">
                    <section id="forms">
                        <h4>Forms</h4>
                        <div class="deposite_sec deposite_box clearfix">
                            <ul>
                                <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX/ekrc/content/sreports/ANNEXURE%20FOR%20COMPLIANCE%20to%20Sebi%20Circular%20final.pdf" target="_blank">Annexure for compliance to sebi circular</a></li>
                                <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX/ekrc/content/sreports/SMS%20Plan%205inONE.pdf" target="_blank">Subscription form for 5in1 sms plan</a></li>
                                <li class="no_choksey_bg"><a href="http://www.w3schools.com/html/tryit.asp?filename=tryhtml_input_date" target="_blank">Form for free cdsl sms alerts</a></li>
                                <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX/ekrc/content/sreports/Request%20Form%20new%2000.pdf" target="_blank">Change/ modification form</a></li>
                                <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX/ekrc/content/sreports/Annexure-3.2-Nomination%20Form.pdf" target="_blank">Nomination form</a></li>
                                <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX/ekrc/content/sreports/Annexure-8.1-Pledge%20Request%20Form.pdf" target="_blank">Pledge request form (prf)</a></li>
                                <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX/ekrc/content/sreports/Annexure-8.2-Unpledge%20Request%20Form.pdf" target="_blank">Unpledge request form (urf)</a></li>
                                <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX/ekrc/content/sreports/Annexure-9.1-Rematerialisation%20Request%20Form.pdf" target="_blank">Rematerialization request form [rrf]</a></li>
                                <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX/ekrc/content/sreports/Annexure-4.2-Transposition%20Request%20Form.pdf" target="_blank">Application form for transposition [tprf]</a></li>
                                <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX/ekrc/content/sreports/Annexure-4.pdf" target="_blank">Transmission-cum-dematerialization form</a></li>
                                <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX/ekrc/content/sreports/Annexure-7.pdf" target="_blank">Transmission request form</a></li>
                                <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX/ekrc/content/sreports/Annexure-7.2.pdf" target="_blank">Transmission request form</a></li>

                            </ul>
                        </div>
                    </section>
                    <section id="pms">
                        <h4>PMS</h4>
                        <div class="deposite_sec clearfix">
                            <ul>
                                <li class="no_choksey_bg"><a href="@Url.Action("i_PMS", "Product")" target="_blank">Click here to download the form for rdd</a></li>
                            </ul>
                        </div>
                    </section>
                    <section id="derivative_research">
                        <h4>Derivative Research</h4>
                        <div class="deposite_sec clearfix">
                            <ul>
                                <li class="no_choksey_bg"><a href="@Url.Action("Research", "Product")" target="_blank">KRC indicative margin</a></li>
                            </ul>
                        </div>
                    </section>
                    <section id="depository_tariff_structure">
                        <h4>Depository Tariff Structure</h4>
                        <div class="deposite_sec clearfix">
                            <ul>
                                <li class="no_choksey_bg"><a href="@Url.Action("i_Lend", "Product")" target="_blank">Depository tariff structure</a></li>
                            </ul>
                        </div>
                    </section>
                </div>
            </article>
        </article>
    </section>
    <div class="clear"></div>
</section>*@

