﻿@model KR_Choksey.Models.OTPVerification
@{
    ViewBag.Title = "Easy Invest";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}




@*<div style="text-align:center" class="@ViewBag.HideClass">
        @ViewBag.Message
    </div>*@

<section id="easy_invest_bg">
    <article class="easy_invest_box_sec clearfix wow evnt_pakg fadeInUp animated animated" data-wow-duration="500ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 200ms; animation-name: fadeInUp;">
        <div id="wrapper">
            <div class="easy_invest_bg_box clearfix">
                <div class="easy_invest_header clearfix">
                    <h3><img src="~/Content/images/kr-choksey-logo-invest-logo.png" alt="kr-choksey logo invest logo" title="kr-choksey logo invest logo"></h3>
                </div>
                @using (Html.BeginForm("EasyInvest", "Home", FormMethod.Post, new { @id = "EsInv" }))
                {
                    <div style="text-align:center" class="@ViewBag.HideClass">
                        @ViewBag.ErrorMessage
                    </div>
                    if (@ViewBag.Message == "EnterMobileNo")
                    {
                        <div id="account_details">
                            <div class="easy_invest_bg_left clearfix">
                                @*<input type="text" placeholder="Enter your Mobile Number as registered with KRChoksey">*@
                                @Html.TextBoxFor(model => model.MobileNo, null, new { @class = "form-control", @maxlength = "10", placeholder = "Enter your Mobile Number as registered with KRChoksey" })
                                <div class="get_quote_bttn clearfix">
                                    @*<a href="#" id="submit_link" name="Submit" value="GetOtp">GET OTP</a>*@
                                    <input type="submit" name="Submit" value="GET OTP">
                                </div>
                            </div>
                            <div class="easy_invest_bg_left clearfix">
                                <div class="easy_invest_box no_easy_bg clearfix">
                                    <h3>EASY INVEST</h3>
                                    <ul>
                                        @*<li>Enjoy automatic exposure.</li>
                                        <li>Access Trading Mobile App.</li>
                                        <li>Complimentary Portfolio Health Check and Advisory Notifications and Alerts with Real-time monitoring of Portfolio.</li>
                                        <li> Free sign up with EASY BANK for to and fro transfer of funds for investments and other loans.</li>*@
                                        <li>Enjoy automatic exposure.</li>
                                        <li>Complimentary Portfolio Health Check and Advisory Notifications and Alerts.</li>
                                        <li>Free sign up with EASY BANK for transfer of funds for investments and other loans.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    else if (@ViewBag.Message == "EnterOTP")
                    {
                        <div id="otp_details">
                            <div class="easy_invest_bg_left clearfix">
                                @*<input type="text" placeholder='Enter OTP' id="Otp" name="Otp" class="OnlyNumeric">*@

                                @Html.HiddenFor(model => model.MobileNo)
                                @Html.HiddenFor(model => model.MobileNoResponse)
                                @Html.TextBoxFor(model => model.OTP, null, new { @class = "form-control", @maxlength = "10", placeholder="Enter OTP" })
                                <div class="get_quote_bttn clearfix">
                                    <input type="submit" name="Submit" value="Submit">
                                    @*<a href="#" id="submit_link1" name="Submit" value="EnterOtp">Submit</a>*@
                                </div>
                            </div>
                            <div class="easy_invest_bg_left clearfix">
                                <div class="easy_invest_box no_easy_bg clearfix">
                                    <h3>EASY INVEST</h3>
                                    <ul>
                                        @*<li>Enjoy automatic exposure.</li>
                                        <li>Access Trading Mobile App.</li>
                                        <li>Complimentary Portfolio Health Check and Advisory Notifications and Alerts with Real-time monitoring of Portfolio.</li>
                                        <li> Free sign up with EASY BANK for to and fro transfer of funds for investments and other loans.</li>*@
                                        <li>Enjoy automatic exposure.</li>
                                        <li>Complimentary Portfolio Health Check and Advisory Notifications and Alerts.</li>
                                        <li>Free sign up with EASY BANK for transfer of funds for investments and other loans.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    else if (@ViewBag.Message == "Agree")
                    {
                        <div id="agree">

                            <div class="easy_invest_bg_left agree_buttton_box  clearfix ">
                                <div class="easy_invest_box no_easy_bg clearfix">
                                    <h3>EASY INVEST</h3>
                                    @Html.HiddenFor(model => model.MobileNo)
                                    @Html.HiddenFor(model => model.MobileNoResponse)
                                    @Html.HiddenFor(model => model.OTP)
                                    <ul>
                                        @*<li>Enjoy automatic exposure.</li>
                                        <li>Access Trading Mobile App.</li>
                                        <li>Complimentary Portfolio Health Check and Advisory Notifications and Alerts with Real-time monitoring of Portfolio.</li>
                                        <li> Free sign up with EASY BANK for to and fro transfer of funds for investments and other loans.</li>*@
                                        <li>Enjoy automatic exposure.</li>
                                        <li>Complimentary Portfolio Health Check and Advisory Notifications and Alerts.</li>
                                        <li>Free sign up with EASY BANK for transfer of funds for investments and other loans.</li>
                                    </ul>
                                </div>
                                <div class="easy_invest_bttn clearfix">
                                    @*<a href="#" class="agree_bttn" id="submit_link1" name="Submit" value="Agree">I agree to signup for the EASY INVEST services and the features offered.</a>*@
                                    <article><input type="submit" name="Submit" value="I agree to signup for the EASY INVEST services and the features offered." /></article>
                                </div>
                            </div>

                        </div>
                    }
                }


            </div>
        </div>
    </article>
</section>




<!--easy invest -->
<script>

    $(function () {
        $('a#submit_link').click(function () {
            $('form#EsInv').submit();
        });
    });

    //function show_next(id, nextid, bar) {
    //    var ele = document.getElementById(id).getElementsByTagName("input");
    //    var error = 0;
    //    for (var i = 0; i < ele.length; i++) {
    //        if (ele[i].type == "text" && ele[i].value == "") {
    //            error++;
    //        }
    //    }

    //    if (error == 0) {
    //        document.getElementById("account_details").style.display = "none";
    //        document.getElementById("user_details").style.display = "none";
    //        document.getElementById("qualification").style.display = "none";
    //        $("#" + nextid).fadeIn();
    //        document.getElementById(bar).style.backgroundColor = "#38610B";
    //    }
    //    else {
    //        alert("Fill All The details");
    //    }
    //}
    //function show_prev(previd, bar) {
    //    document.getElementById("account_details").style.display = "none";
    //    document.getElementById("user_details").style.display = "none";
    //    document.getElementById("qualification").style.display = "none";
    //    $("#" + previd).fadeIn();
    //    document.getElementById(bar).style.backgroundColor = "#D8D8D8";
    //}
</script>


<!-- bank slip -->
<!-- Bank Bill jquery-->
@*<script src="~/Content/js/webflow.js" type="text/javascript"></script>
    <script src="~/Content/js/modernizr.js" type="text/javascript"></script>*@

<!--Bank slip Script -->
<script type="text/javascript">
    WebFont.load({
        google: {
            families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic"]
        }
    });
</script>

