﻿
@{
    ViewBag.Title = "Easy Invest";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}


@*<div style="text-align:center" class="@ViewBag.HideClass">
    @ViewBag.Message
</div>*@

<section id="easy_invest_bg">
    <article class="easy_invest_box_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="500ms" data-wow-delay="200ms">
        <div id="wrapper">
            <div class="easy_invest_bg_box clearfix">
@using (Html.BeginForm("EasyInvestDone", "Home", FormMethod.Post, new { @id = "EsInvAgree" }))
{
                <div class="easy_invest_header clearfix">
                    <h3><img src="~/Content/images/kr-choksey-logo-invest-logo.png" alt="kr-choksey logo invest logo" title="kr-choksey logo invest logo"></h3>
                </div>
                @*<form method="post" action="~/Views/Home/EasyInvestOtp.cshtml">*@
                
                    <div id="account_details">

                        @*<div class="easy_invest_bg_left clearfix">
                            <div class="easy_invest_box no_easy_bg clearfix">
                                <h3>EASY INVEST</h3>
                                
                                
                            </div>
                        </div>*@
                        <div class="clearfix">
                            <h4>Thank you. We have received your digital acceptance. Our team will get in touch with you for physical signing of the Banking Slips.</h4>
                        </div>

                    </div>
                    @*</form>*@

                }
            </div>
        </div>
    </article>
</section>


<!-- easy invest jquery-->
<script type="text/javascript" src="~/Content/js/jquery.js"></script>
<script src="~/Content/Validations/CommonTextBoxValidations.js"></script>


<!-- bank slip -->
<!-- Bank Bill Css -->
<link href="~/Content/css/normalize.css" rel="stylesheet" type="text/css">
<link href="~/Content/css/webflow.css" rel="stylesheet" type="text/css">
<link href="~/Content/css/krc-easy-bank.webflow.css" rel="stylesheet" type="text/css">

<!-- Bank Bill jquery-->
@*<script src="~/Content/js/webflow.js" type="text/javascript"></script>
    <script src="~/Content/js/modernizr.js" type="text/javascript"></script>*@

<!--Bank slip Script -->
<script type="text/javascript">

    $(function () {
        $('a#submit_link2').click(function () {
            $('form#EsInvAgree').submit();
        });
    });


    WebFont.load({
        google: {
            families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic"]
        }
    });
</script>

