﻿<div class="bhoechie-tab-content active">
    <center>
        <form class="contact_page4" method="post" action="">
            <div class="choksey_contt_section clearfix">
                <div class="contact_name_field_calculator">
                    <h3>Loan Amount</h3>
                    <input name="" type="text" placeholder="Loan Amount" id="LoanAmount" class="number" maxlength="12">
                </div>
                <div class="contact_name_field_calculator">
                    <h3>Interest Rate (% / Annum)</h3>
                    <input name="" type="text" placeholder="Interest Rate" id="InterestRate" class="number" maxlength="5">
                </div>
                <div class="contact_name_field_calculator">
                    <h3>No. of Months</h3>
                    <input name="" type="text" placeholder="No. of Months" id="NoOfMonths" class="OnlyNumeric" maxlength="3">
                </div>
            </div>
            <div class="choksey_contt_section clearfix">
                <div class="contact_name_field_calculator clearfix">
                    <input value="submit" type="button" id="Submit" style="width:100%;background-color:#f7901e;color:white">
                </div>
            </div>
        </form>
        <div class="emi_calculator_box clearfix">
            <div class="contact_name_field clearfix">
                <h5>You need to make a monthly payment of</h5>
                <h6><i class="fa fa-inr"></i>&nbsp;<span id="EMI"> 0</span></h6>
            </div>
            <div class="contact_name_field clearfix">
                <h5>Total Interest Payable</h5>
                <h4 style="color:#454345;"><i class="fa fa-inr"></i>&nbsp;<span id="IntPay"> 0</span></h4>
            </div>
            <div class="contact_name_field clearfix">
                <h5>Total Payment (Principal + Interest)</h5>
                <h4 style="color:#454345;"><i class="fa fa-inr"></i>&nbsp;<span id="TotPay"> 0</span></h4>
            </div>
        </div>
    </center>
</div>

<script src="~/Content/Validations/CommonTextBoxValidations.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#Submit').click(function () {
            //var p1 = $('#LoanAmount').val();
            //var r1 = $('#InterestRate').val();
            //var n1 = $('#NoOfMonths').val();

            var p1 = document.getElementById("LoanAmount").value;
            var r1 = document.getElementById("InterestRate").value;
            var n1 = document.getElementById("NoOfMonths").value;
            
            if(p1 == "")
            {
                alert('Enter loan amount!');
                $('#LoanAmount').focus();
            }
            else if (p1 == 0) {
                alert('Enter valid Loan Amount- (Zero(0) not allowed)!');
                document.getElementById('LoanAmount').innerHTML = '';
                $('#LoanAmount').focus();
            }
            else if (r1 > 99.99) {
                alert('Enter a valid interest rate- (Range between 0.01 to 99.99)');
                document.getElementById('InterestRate').innerHTML = '';
                $('#InterestRate').focus();
            }
            else if (r1 == 0) {
                alert('Enter valid interest rate- (Zero(0) not allowed)!');
                document.getElementById('InterestRate').innerHTML = '';
                $('#InterestRate').focus();
            }
            else if (r1 == "") {
                alert('Enter interest rate!');
                $('#InterestRate').focus();
            }
            else if (n1 == "") {
                alert('Enter no of months!');
                $('#NoOfMonths').focus();
            }
            else if (n1 == 0) {
                alert('Enter valid no of months- (Zero(0) not allowed)!');
                document.getElementById('NoOfMonths').innerHTML = '';
                $('#NoOfMonths').focus();
            }
            else {
                $.ajax({
                    url: '@Url.Action("EMI_Calculator")',
                    type: "POST",
                    data: { p: p1, r: r1, n: n1 },
                    error: function (xmlHttpRequest, errorText, thrownError) {

                        //alert(xmlHttpRequest + "|" + errorText + "|" + thrownError);
                        //document.getElementById('ErrorDiv').style.visibility = 'visible'
                    },
                    success: function (data) {
                        //alert(data);
                        //$('#EMI').val(data);
                        document.getElementById('EMI').innerHTML = data.emi;
                        document.getElementById('IntPay').innerHTML = data.ipay;
                        document.getElementById('TotPay').innerHTML = data.totpay;
                    }
                });
            }
        });

    });
</script>
