﻿@model KR_Choksey.Models.EasyInvest
@{
    ViewBag.Title = "Easy Invest";
    Layout = null;
}

<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com -->
<!--  Last Published: Thu Dec 08 2016 11:31:40 GMT+0000 (UTC)  -->
<html data-wf-page="58480d80dd9f996062872dc1" data-wf-site="58480d80dd9f996062872dc0">
<head>
    <meta charset="utf-8">
    <title>krc easy bank</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Webflow" name="generator">
    <link href="~/Content/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/webflow.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/krc-easy-bank.webflow.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script type="text/javascript">
    WebFont.load({
      google: {
        families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic"]
      }
    });
    </script>
    <script src="~/Content/js/modernizr.js" type="text/javascript"></script>
    <link href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>
<body class="body">
    <div class="section-krc-slip">
        <div class="div-krc-slip">
            <div class="div-slip-1">
                <img class="img-logo" sizes="(max-width: 479px) 80vw, 204.6015625px" src="~/Content/images/Krchoksey-Logo.png" srcset="~/Content/images/Krchoksey-Logo-p-500x107.png 500w, ~/Content/images/Krchoksey-Logo-p-800x170.png 800w, ~/Content/images/Krchoksey-Logo-p-1080x230.png 1080w, ~/Content/images/Krchoksey-Logo-p-1600x340.png 1600w, ~/Content/images/Krchoksey-Logo-p-2000x425.png 2000w, ~/Content/images/Krchoksey-Logo-p-2600x552.png 2600w, ~/Content/images/Krchoksey-Logo-p-3200x679.png 3200w, ~/Content/images/Krchoksey-Logo.png 7662w">
                <div class="div-slip-1-1">
                    <div class="form-wrap-slip-1-1-1 w-form">
                        <form class="form-slip-1-1-1" data-name="Email Form" id="email-form" name="email-form">
                            <label class="lbl-title" for="field">UMRN</label>
                            <input class="left-text-box txt-box w-input" id="field" maxlength="256" name="field" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 21" id="field-21" maxlength="256" name="field-21" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 20" id="field-20" maxlength="256" name="field-20" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 19" id="field-19" maxlength="256" name="field-19" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 18" id="field-18" maxlength="256" name="field-18" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 17" id="field-17" maxlength="256" name="field-17" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 16" id="field-16" maxlength="256" name="field-16" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 15" id="field-15" maxlength="256" name="field-15" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 14" id="field-14" maxlength="256" name="field-14" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 13" id="field-13" maxlength="256" name="field-13" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 12" id="field-12" maxlength="256" name="field-12" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 11" id="field-11" maxlength="256" name="field-11" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 10" id="field-10" maxlength="256" name="field-10" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 9" id="field-9" maxlength="256" name="field-9" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 8" id="field-8" maxlength="256" name="field-8" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 7" id="field-7" maxlength="256" name="field-7" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 6" id="field-6" maxlength="256" name="field-6" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 5" id="field-5" maxlength="256" name="field-5" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 4" id="field-4" maxlength="256" name="field-4" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 3" id="field-3" maxlength="256" name="field-3" required="required" type="text">
                        </form>
                        <div class="w-form-done">
                            <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="w-form-fail">
                            <div>Oops! Something went wrong while submitting the form</div>
                        </div>
                    </div>
                    <div class="form-wrap-slip-1-1-1 w-form">
                        <form class="form-slip-1-1-1" data-name="Email Form" id="email-form" name="email-form">
                            <label class="lbl-title" for="field-22">Date</label>
                            <input class="left-text-box txt-box w-input" data-name="Field 22" id="field-22" maxlength="256" name="field-22" placeholder="D" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 23" id="field-23" maxlength="256" name="field-23" placeholder="D" required="required" type="text">
                            <input class="left-margin txt-box w-input" data-name="Field 24" id="field-24" maxlength="256" name="field-24" placeholder="M" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 25" id="field-25" maxlength="256" name="field-25" placeholder="M" required="required" type="text">
                            <input class="left-margin txt-box w-input" data-name="Field 26" id="field-26" maxlength="256" name="field-26" placeholder="Y" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 44" id="field-44" maxlength="256" name="field-44" placeholder="Y" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 46" id="field-46" maxlength="256" name="field-46" placeholder="Y" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 45" id="field-45" maxlength="256" name="field-45" placeholder="Y" required="required" type="text">
                        </form>
                        <div class="w-form-done">
                            <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="w-form-fail">
                            <div>Oops! Something went wrong while submitting the form</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-slip-1">
                <div class="div-slip-1-1 vertical">
                    <div>Tick (✓)</div>
                    <div class="div-under-tick">
                        <div class="left-border-txt txt-under-tick">CREATE</div>
                        <div class="_20-width txt-under-tick">✓</div>
                    </div>
                    <div class="div-under-tick">
                        <div class="left-border-txt txt-under-tick">MODIFY</div>
                        <div class="_20-width txt-under-tick">X</div>
                    </div>
                    <div class="div-under-tick">
                        <div class="bottom-border-txt left-border-txt txt-under-tick">CANCEL</div>
                        <div class="_20-width bottom-border-txt txt-under-tick">X</div>
                    </div>
                </div>
                <div class="div-slip-1-1 vertical">
                    <div class="div-1-1-1">
                        <div class="form-wrap-slip-1-1-1 w-form">
                            <form class="form-slip-1-1-1" data-name="Email Form" id="email-form" name="email-form">
                                <label class="lbl-title" for="field-47">Sponsor Bank Code</label>
                                <label class="lbl-box left-lbl" for="field-48">H</label>
                                <label class="lbl-box" for="field-48">D</label>
                                <label class="lbl-box" for="field-48">F</label>
                                <label class="lbl-box" for="field-48">C</label>
                                <label class="lbl-box" for="field-48">0</label>
                                <label class="lbl-box" for="field-48">0</label>
                                <label class="lbl-box" for="field-48">0</label>
                                <label class="lbl-box" for="field-48">0</label>
                                <label class="lbl-box" for="field-48">0</label>
                                <label class="lbl-box" for="field-48">6</label>
                                <label class="lbl-box" for="field-48">0</label>
                            </form>
                            <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                            </div>
                            <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form</div>
                            </div>
                        </div>
                        <div class="form-wrap-slip-1-1-1 w-form">
                            <form class="form-slip-1-1-1" data-name="Email Form" id="email-form" name="email-form">
                                <label class="lbl-title" for="field-67">Utility Code</label>
                                <label class="lbl-box left-lbl" for="field-68">H</label>
                                <label class="lbl-box" for="field-68">D</label>
                                <label class="lbl-box" for="field-68">F</label>
                                <label class="lbl-box" for="field-68">C</label>
                                <label class="lbl-box" for="field-68">0</label>
                                <label class="lbl-box" for="field-68">0</label>
                                <label class="lbl-box" for="field-68">0</label>
                                <label class="lbl-box" for="field-68">8</label>
                                <label class="lbl-box" for="field-68">0</label>
                                <label class="lbl-box" for="field-68">0</label>
                                <label class="lbl-box" for="field-68">0</label>
                                <label class="lbl-box" for="field-68">0</label>
                                <label class="lbl-box" for="field-68">0</label>
                                <label class="lbl-box" for="field-68">0</label>
                                <label class="lbl-box" for="field-68">6</label>
                                <label class="lbl-box" for="field-68">1</label>
                                <label class="lbl-box" for="field-68">0</label>
                                <label class="lbl-box" for="field-68">5</label>
                            </form>
                            <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                            </div>
                            <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form</div>
                            </div>
                        </div>
                    </div>
                    <div class="div-1-1-1">
                        <div class="form-wrap-slip-1-1-1 w-form">
                            <form class="form-slip-1-1-1" data-name="Email Form" id="email-form" name="email-form">
                                <label class="lbl-title" for="field-47">I/We hereby authorize</label>
                                <label class="big-width lbl-box left-lbl" for="field-48">Kisan Ratilal Choksey Shares And Securities Private Limited</label>
                            </form>
                            <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                            </div>
                            <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form</div>
                            </div>
                        </div>
                        <div class="form-wrap-slip-1-1-1 w-form">
                            <form class="form-slip-1-1-1" data-name="Email Form" id="email-form" name="email-form">
                                <label class="lbl-title" for="field-67">to debit (tick✓)</label>
                                <label class="big-width bold lbl-box left-lbl" for="field-48">SB/CA/CC/SB-NRE/SB-NRO/Other</label>
                            </form>
                            <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                            </div>
                            <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form</div>
                            </div>
                        </div>
                    </div>
                    <div class="div-1-1-1">
                        @Html.HiddenFor(model => model.Account_No, new { id="BankAccountNo"})
                        <div class="form-wrap-slip-1-1-1 w-form">
                            <form class="form-slip-1-1-1" data-name="Email Form" id="email-form" name="email-form">
                                <label class="lbl-title" for="field-47">Bank a/c Number</label>
                                @*<input class="left-text-box txt-box w-input" data-name="Field 47" id="field-47" maxlength="256" name="field-47" required="required" type="text">
    <input class="txt-box w-input" data-name="Field 48" id="field-48" maxlength="256" name="field-48" required="required" type="text">
    <input class="txt-box w-input" data-name="Field 49" id="field-49" maxlength="256" name="field-49" required="required" type="text">*@
                                <input class="left-text-box txt-box w-input" data-name="Field 47" id="field-79" maxlength="256" name="field-47" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 48" id="field-78" maxlength="256" name="field-48" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 49" id="field-77" maxlength="256" name="field-49" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 76" id="field-76" maxlength="256" name="field-76" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 75" id="field-75" maxlength="256" name="field-75" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 74" id="field-74" maxlength="256" name="field-74" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 73" id="field-73" maxlength="256" name="field-73" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 72" id="field-72" maxlength="256" name="field-72" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 71" id="field-71" maxlength="256" name="field-71" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 70" id="field-70" maxlength="256" name="field-70" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 69" id="field-69" maxlength="256" name="field-69" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 68" id="field-68" maxlength="256" name="field-68" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 67" id="field-67" maxlength="256" name="field-67" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 66" id="field-66" maxlength="256" name="field-66" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 65" id="field-65" maxlength="256" name="field-65" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 64" id="field-64" maxlength="256" name="field-64" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 63" id="field-63" maxlength="256" name="field-63" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 62" id="field-62" maxlength="256" name="field-62" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 61" id="field-61" maxlength="256" name="field-61" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 60" id="field-60" maxlength="256" name="field-60" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 59" id="field-59" maxlength="256" name="field-59" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 58" id="field-58" maxlength="256" name="field-58" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 57" id="field-57" maxlength="256" name="field-57" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 56" id="field-56" maxlength="256" name="field-56" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 55" id="field-55" maxlength="256" name="field-55" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 54" id="field-54" maxlength="256" name="field-54" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 53" id="field-53" maxlength="256" name="field-53" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 52" id="field-52" maxlength="256" name="field-52" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 51" id="field-51" maxlength="256" name="field-51" required="required" type="text">
                                <input class="txt-box w-input" data-name="Field 50" id="field-50" maxlength="256" name="field-50" required="required" type="text">
                            </form>
                            <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                            </div>
                            <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-slip-1">
                <div class="form-wrap-slip-1-1-1 w-form">
                    <form class="form-slip-1-1-1" data-name="Email Form" id="email-form" name="email-form">
                        @*<label class="lbl-title" for="field-77">with Bank</label>*@
                        <label class="lbl-title" for="field-80">with Bank</label>
                        @Html.HiddenFor(model => model.Bank_Name, new { @id="BankName"})
                        <input class="_300width left-text-box txt-box w-input" data-name="Field 145" id="field-145" maxlength="256" name="field-145" placeholder="Name of Customers Bank" required="required" type="text" >
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form</div>
                    </div>
                </div>
                <div class="form-wrap-slip-1-1-1 w-form">
                    <form class="form-slip-1-1-1" data-name="Email Form" id="email-form" name="email-form">
                        <label class="lbl-title" for="field-125">IFSC</label>
                        @Html.HiddenFor(model => model.IFSC, new { id="IFSC"})
                        <input class="left-text-box txt-box w-input" data-name="Field 125" id="field-125" maxlength="256" name="field-125" required="required" type="text">
                        <input class="txt-box w-input" data-name="Field 126" id="field-126" maxlength="256" name="field-126" required="required" type="text">
                        <input class="txt-box w-input" data-name="Field 127" id="field-127" maxlength="256" name="field-127" required="required" type="text">
                        <input class="txt-box w-input" data-name="Field 128" id="field-128" maxlength="256" name="field-128" required="required" type="text">
                        <input class="txt-box w-input" data-name="Field 129" id="field-129" maxlength="256" name="field-129" required="required" type="text">
                        <input class="txt-box w-input" data-name="Field 130" id="field-130" maxlength="256" name="field-130" required="required" type="text">
                        <input class="txt-box w-input" data-name="Field 131" id="field-131" maxlength="256" name="field-131" required="required" type="text">
                        <input class="txt-box w-input" data-name="Field 132" id="field-132" maxlength="256" name="field-132" required="required" type="text">
                        <input class="txt-box w-input" data-name="Field 133" id="field-133" maxlength="256" name="field-133" required="required" type="text">
                        <input class="txt-box w-input" data-name="Field 134" id="field-134" maxlength="256" name="field-134" required="required" type="text">
                        <input class="txt-box w-input" data-name="Field 135" id="field-135" maxlength="256" name="field-135" required="required" type="text">
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form</div>
                    </div>
                </div>
                <div class="form-wrap-slip-1-1-1 w-form">
                    <form class="form-slip-1-1-1" data-name="Email Form" id="email-form" name="email-form">
                        <label class="lbl-title" for="field-136">or MICR</label>
                        <input class="left-text-box txt-box w-input" data-name="Field 136" id="field-136" maxlength="256" name="field-136" required="required" type="text">
                        <input class="txt-box w-input" data-name="Field 137" id="field-137" maxlength="256" name="field-137" required="required" type="text">
                        <input class="txt-box w-input" data-name="Field 138" id="field-138" maxlength="256" name="field-138" required="required" type="text">
                        <input class="txt-box w-input" data-name="Field 139" id="field-139" maxlength="256" name="field-139" required="required" type="text">
                        <input class="txt-box w-input" data-name="Field 140" id="field-140" maxlength="256" name="field-140" required="required" type="text">
                        <input class="txt-box w-input" data-name="Field 141" id="field-141" maxlength="256" name="field-141" required="required" type="text">
                        <input class="txt-box w-input" data-name="Field 142" id="field-142" maxlength="256" name="field-142" required="required" type="text">
                        <input class="txt-box w-input" data-name="Field 143" id="field-143" maxlength="256" name="field-143" required="required" type="text">
                        <input class="txt-box w-input" data-name="Field 144" id="field-144" maxlength="256" name="field-144" required="required" type="text">
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form</div>
                    </div>
                </div>
            </div>
            <div class="div-slip-1">
                <div class="form-wrap-slip-1-1-1 full-width w-form">
                    <form class="form-slip-1-1-1" data-name="Email Form" id="email-form" name="email-form">
                        <label class="lbl-title" for="field-167">an amount of Rupees</label>
                        <input class="auto-width left-text-box txt-box w-input" data-name="Field 167" id="field-167" maxlength="256" name="field-167" required="required" type="text">
                        <label class="lbl-title rupee-box" for="field-167">₹</label>
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form</div>
                    </div>
                </div>
            </div>
            <div class="div-slip-1">
                <div class="div-slip-1-1">
                    <div class="bold txt-frequency">FREQUENCY</div>
                    <div class="txt-frequency">☒ Mthly</div>
                    <div class="txt-frequency">☒ Qtly</div>
                    <div class="txt-frequency">☒ H-Yrly</div>
                    <div class="txt-frequency">☒ Yrly</div>
                    <div class="txt-frequency">☑ As &amp; When presented</div>
                </div>
                <div class="div-slip-1-1">
                    <div class="bold txt-frequency">DEBIT TYPE</div>
                    <div class="txt-frequency">☒ Fixed Amount</div>
                    <div class="txt-frequency">☑ Maximum Amount</div>
                </div>
            </div>
            <div class="div-slip-1">
                <div class="form-wrap-slip-1-1-1 full-width w-form">
                    <form class="form-slip-1-1-1" data-name="Email Form" id="email-form" name="email-form">
                        @Html.HiddenFor(model => model.Reference_1, new { id="Reference_1"})
                        <label class="lbl-title" for="field-169">REFERENCE 1</label>
                        <input class="auto-width left-text-box txt-box w-input" data-name="Field 169" id="field-169" maxlength="256" name="field-169" required="required" type="text">
                        <label class="lbl-title" for="field-169">Phone No.</label>
                        @Html.HiddenFor(model => model.Phone_No)
                        <label class="bigger-lbl lbl-title rupee-box" for="field-167"  >@ViewBag.Phone_No</label>
                        
                        @*<input class="auto-width left-text-box txt-box w-input" data-name="Field 169" id="phoneno" maxlength="256" name="field-169" required="required" type="text">*@
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form</div>
                    </div>
                </div>
            </div>
            <div class="div-slip-1">
                <div class="form-wrap-slip-1-1-1 full-width w-form">
                    <form class="form-slip-1-1-1" data-name="Email Form" id="email-form" name="email-form">
                        <label class="lbl-title" for="field-170">REFERENCE 2</label>
                        <input class="auto-width left-text-box txt-box w-input" data-name="Field 170" id="field-170" maxlength="256" name="field-170" required="required" type="text">
                        <label class="lbl-title" for="field-169">Email ID &nbsp;&nbsp;&nbsp;</label>
                        @Html.HiddenFor(model => model.Email, new { id="Email"})
                        <label class="bigger-lbl lbl-title rupee-box" for="field-167" id="emailid">@ViewBag.EmailId</label>
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form</div>
                    </div>
                </div>
            </div>
            <div class="div-slip-1">
                <div class="txt-small">I agree for the debit of Mandate processing charges by the Bank whom I am authorizing to debit my account as per latest Schedule of charges of the Bank.</div>
            </div>
            <div class="div-slip-1">
                <div class="border div-slip-1-1 vertical">
                    <div class="txt-period">PERIOD</div>
                    <div class="form-wrap-slip-1-1-1 w-form">
                        <form class="_2-bot-pad form-slip-1-1-1" data-name="Email Form" id="email-form" name="email-form">
                            <label class="_48width lbl-title" for="field-171">From</label>
                            <input class="left-text-box txt-box w-input" data-name="Field 171" id="field-171" maxlength="256" name="field-171" placeholder="D" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 172" id="field-172" maxlength="256" name="field-172" placeholder="D" required="required" type="text">
                            <input class="left-margin txt-box w-input" data-name="Field 173" id="field-173" maxlength="256" name="field-173" placeholder="M" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 174" id="field-174" maxlength="256" name="field-174" placeholder="M" required="required" type="text">
                            <input class="left-margin txt-box w-input" data-name="Field 175" id="field-175" maxlength="256" name="field-175" placeholder="Y" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 176" id="field-176" maxlength="256" name="field-176" placeholder="Y" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 177" id="field-177" maxlength="256" name="field-177" placeholder="Y" required="required" type="text">
                            <input class="txt-box w-input" data-name="Field 178" id="field-178" maxlength="256" name="field-178" placeholder="Y" required="required" type="text">
                        </form>
                        <div class="w-form-done">
                            <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="w-form-fail">
                            <div>Oops! Something went wrong while submitting the form</div>
                        </div>
                    </div>
                    <div class="form-wrap-slip-1-1-1 w-form">
                        <form class="form-slip-1-1-1" data-name="Email Form" id="email-form" name="email-form">
                            <label class="_48width lbl-title" for="field-179">To</label>
                            <label class="lbl-box left-lbl" for="field-180">X</label>
                            <label class="lbl-box" for="field-181">X</label>
                            <label class="lbl-box left-margin" for="field-181">X</label>
                            <label class="lbl-box" for="field-181">X</label>
                            <label class="lbl-box left-margin" for="field-181">X</label>
                            <label class="lbl-box" for="field-181">X</label>
                            <label class="lbl-box" for="field-181">X</label>
                            <label class="lbl-box" for="field-181">X</label>
                        </form>
                        <div class="w-form-done">
                            <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="w-form-fail">
                            <div>Oops! Something went wrong while submitting the form</div>
                        </div>
                    </div>
                    <div class="div-1-1-1 flex-left">
                        <div class="bold txt-frequency">Or &nbsp; &nbsp; &nbsp;</div>
                        <div class="bold txt-frequency">☑ Until Cancelled</div>
                    </div>
                </div>
                <div class="bottom-align div-slip-1-1">
                    <div class="div-1-1-1 vertical">
                        <div class="txt-sign">Signature Primary Account Holder</div>
                        <div class="div-1111">
                            <div class="txt-sign-count">1.</div>
                            <div class="txt-sign">Name as in bank records</div>
                        </div>
                    </div>
                </div>
                <div class="bottom-align div-slip-1-1">
                    <div class="div-1-1-1 vertical">
                        <div class="txt-sign">Signature of Account Holder</div>
                        <div class="div-1111">
                            <div class="txt-sign-count">2.</div>
                            <div class="txt-sign">Name as in bank records</div>
                        </div>
                    </div>
                </div>
                <div class="bottom-align div-slip-1-1">
                    <div class="div-1-1-1 vertical">
                        <div class="txt-sign">Signature of Account Holder</div>
                        <div class="div-1111">
                            <div class="txt-sign-count">3.</div>
                            <div class="txt-sign">Name as in bank records</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-slip-1">
                <div class="_7-txt-size txt-small">
                    • This is to confirm that the declaration has been carefully read,understood and made by me/us.I am authorising the user entity/corporate to debit my account.
                    <br>• I have understood that I am authorised to cancel/amend this mandate by appropriately communicating the cancellation/amendment request to the user entity/corporate or the bank where i have authorized the debit.
                    <br>The new mandate format implementation date is October 01, 2015. All the member banks are advced to take note and implement.
                    <br> I/We hereby declare that the above information is true and correct and that the mobile number listed above is registered in my/our name(s) and/or is the number that I/we use in the ordinary course. I/We hereby declare that, irrespective of my/our registration of the above mobile in the provider customer preference register, or in any similar register maintained under applicable laws, now or subsequent to the date hereof, I/We consent to the Bank communicating to me/us about the transactions carried out in my/our aforesaid account(s).
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/js/webflow.js" type="text/javascript"></script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

    <script type="text/javascript">

        bnkAccNo();

        function bnkAccNo() {
            var str = $('#BankAccountNo').val();

            for (var i = 0, len = 30; i < 30; i++) {
                //alert(str[i]);
                $('#field-' + (79 - i)).val(str[i]);
            }

            var ifscStr = $('#IFSC').val();
            for (var i = 0, len = 10; i < 10; i++) {
                //alert(str[i]);
                $('#field-' + (125 + i)).val(ifscStr[i]);
            }

            $('#field-145').val($('#BankName').val());
            $('#field-169').val($('#Reference_1').val());
            // $('#phoneno').val($('#Phone_No').val());
            //document.getElementById('phoneno').value = $('#Phone_No').val();
            //$('#emailid').val($('#Email').val());
            

        };
    </script>


</body>
</html>