﻿@model IEnumerable<KR_Choksey.Areas.Admin.Models.ResearchRptUpload>
@{
    //ViewBag.Title = "Home";
    //ViewBag.Title = "Online Trading in India | Share & Stock Market | BSE, NSE | KRChoksey";
    //ViewBag.MetaDescription = "Get live update on share & stock market news, equity research, nifty chart today, financial services like BSE and NSE. KRChoksey is leading online trading company in India.";

    ViewBag.Title = "KRChoksey | 360° Wealth Management Partner";
    ViewBag.MetaDescription = "KRChoksey is 360° wealth management partner. Get live update on share & stock market news, equity research, nifty chart today, financial services like BSE and NSE in India.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    //For Sec Popup
    function getCookieValue(key) {
        var cookies = document.cookie.split('; ');
        for (var i = 0, parts; (parts = cookies[i] && cookies[i].split('=')) ; i++) {
            if (decode(parts.shift()) === key) {
                return decode(parts.join('='));
            }
        }
        return null;
    }
    function decode(s) {
        return decodeURIComponent(s.replace(/\+/g, ' '));
    }


    $(function () {
        var x = getCookieValue("AllowCookie");
        //var x = document.cookie.AllowCookie.toString();
        //alert(x);
        if (x == "Yes") {
        }
        else {
            if ('@System.Web.HttpContext.Current.Session["NotifPopUp"]' == null) {
                //var NTFt = setTimeout(NTFPOPUP, 2000);
                NTFPOPUP();
            }
            else if ('@System.Web.HttpContext.Current.Session["NotifPopUp"].ToString()' == "No") {

            }
            else if ('@System.Web.HttpContext.Current.Session["NotifPopUp"].ToString()' == "Yes") {
                //var NTFt = setTimeout(NTFPOPUP, 2000);
                NTFPOPUP();
            }


            //var NTFt = setTimeout(NTFPOPUP, 2000);

            function NTFPOPUP() {
                if (confirm('Stay updated with XXXXXXX.XXX! Would you like to receive notifications?')) {
                    //var result = document.getElementById('Hidden1').value;
                    //var BID = result.substr(-152);
                    //$.ajax({
                    //    type: "POST",
                    //    url: "/Home/SetBrowserID?BrowserID=" + BID,
                    //    dataType: "JSON",
                    //    async: false,
                    //    success: function (result) {
                    //    }
                    //});
                    // window.open("../WebForm1.aspx", 'popup_window', 'width=300,height=300,left=250,top=150,resizable=no');
                    window.open("https://www.XXXXXXX.XXX/Home/Notification", 'popup_window', 'width=300,height=200,left=450,top=200,resizable=no');
                    //window.open("http://localhost:11546//Home/Notification", 'popup_window', 'width=300,height=200,left=450,top=200,resizable=no');
                } else {
                    $.ajax({
                        type: "POST",
                        url: "/Home/SetNoNotification",
                        dataType: "JSON",
                        async: false,
                        success: function (result) {
                        }
                    });
                }
            }
        }
    });
</script>

<input id="Hidden1" type="hidden" value="" />

<section id="mid_body">
    <!------------------------------ Banner ------------------------------>
    <section id="banner">
        <div class="fluid_container">
            <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
                <!------------------------------- Banner 01 ---------------------------->
                <div data-thumb="../Content/images/slides/thumbs/banner-small-01.jpg" data-src="../Content/images/slides/1st-baner-bg.jpg">
                    <div class="banner_box clearfix">
                        <div class="banner_content clearfix">
                            <div id="menu">
                                <input type="checkbox" id="on-check" name="on-check" />
                                <label id="on-button" for="on-check">
                                    <span><span class="ss-plus"><img src="../Content/images/kr-choksey-circle-logo.gif" alt="kr choksey circle logo" title="kr choksey circle logo"> </span></span>
                                    <!--<span><span class="ss-plus"><img src="../Content/images/kr-choksey-circle-logo.png" alt="kr choksey circle logo" title="kr choksey circle logo"> </span></span>-->
                                    <span><span class="ss-hyphen"><img src="../Content/images/kr-choksey-circle-logo-hypen.png" alt="kr choksey circle logo" title="kr choksey circle logo"> </span></span>
                                </label>

                                <input type="radio" id="info-home" name="radio-check" />
                                <input type="radio" id="info-compass" name="radio-check" checked />
                                <input type="radio" id="info-rss" name="radio-check" />
                                <input type="radio" id="info-refresh" name="radio-check" />

                                <div id="menu-items">
                                    <div class="middle">
                                        <div class="top">
                                            <span class="bg-piece"> </span>
                                            <label class="ss-home" for="info-home">
                                                <div><img src="../Content/images/aim-icon.png" alt="Aim Icon" title="Aim Icon"></div>
                                                <div class="curved-container">
                                                    <h3 class="curved-text">Wealth</h3>
                                                </div>
                                            </label>
                                            <span class="bg-piece active"></span>
                                            <label class="ss-compass" for="info-compass">
                                                <div><img src="../Content/images/grow-icon.png" alt="Grow Icon" title="Grow Icon"></div>
                                                <div class="curved-container3">
                                                    <h3 class="curved-text2">Research</h3>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="bottom">
                                            <span class="bg-piece"> </span>
                                            <label class="ss-rss" for="info-rss">
                                                <div><img src="../Content/images/do-icon.png" alt="Do Icon" title="Do Icon"></div>
                                                <div class="curved-container2">
                                                    <h3 class="curved-text3">Invest</h3>
                                                </div>
                                            </label>
                                            <span class="bg-piece"> </span>
                                            <label class="ss-refresh" for="info-refresh">
                                                <div><img src="../Content/images/lend-icon.png" alt="Lend Icon"></div>
                                                <div class="curved-container1 ">
                                                    <h3 class="curved-text4">Trade</h3>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="info home-info">
                                    <div class="banner_tab clearfix">
                                        <div class="banner_tab_content wealth_box">
                                            <!--<h3>Wealth Management</h3>-->
                                            <h3>Financial Planning</h3>
                                            <h4>Why do you need Financial Planning?</h4>
                                            <div class="baner_contt_sec__box clearfix">
                                                <p>We live in a world of uncertainty. A structured Financial Planning takes the uncertainty out of financial decisions and helps you plan a brighter future. It further ensures you a peace of mind by way of:</p>
                                                <ul>
                                                    <li>Setting realistic financial and personal goals</li>
                                                    <li>Assessing your current financial health</li>
                                                </ul>
                                            </div>
                                            <div class="read_more">
                                                <a href="@Url.Action("Financial_Planning", "Product")">Read more</a>
                                            </div>
                                        </div>
                                        <div class="banner_tab_image_sec">
                                            <img src="../Content/images/equity-image.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="info compass-info">
                                    <div class="banner_tab clearfix">
                                        <div class="banner_tab_content wealth_box">
                                            <h3>Research</h3>
                                            <h4>Why KRChoksey Research?</h4>
                                            <p>Research being our core strength, a dedicated research team is available to provide clients with both fundamental as well as technical research. We identify the potential growth in a company and the right value you pay for it. Till date we have identified over 66 companies across small, mid and large cap and identified the valuations for efficient investing.</p>
                                            <p>The team is actively covered in leading local and international newspapers, news channels as well as newswires/magazines and covers more than two-thirds of the total BSE market float. </p>
                                            <div class="read_more">
                                                <a href="@Url.Action("Research", "Product")">Read more</a>
                                            </div>
                                        </div>
                                        <div class="banner_tab_image_sec">
                                            <img src="../Content/images/research-image.png" alt="Research-image" title="Research-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="info refresh-info">
                                    <div class="banner_tab clearfix">
                                        <div class="banner_tab_content wealth_box">
                                            <h3>Online trading</h3>
                                            <h4>Why online trading?</h4>
                                            <p>Our User-friendly Online Trading portal helps investors to buy and sell their trades online using the online platform. </p>
                                            <h3>Brief details</h3>
                                            <div class="baner_contt_sec__box clearfix">
                                                <ul>
                                                    <li>Get real-time prices for NSE &amp; BSE, Cash and F&amp;O </li>
                                                    <li>Live market watch with customizable overviews</li>
                                                    <li>Live tic by tic charting facilities</li>
                                                </ul>
                                            </div>
                                            <div class="read_more">
                                                <a href="@Url.Action("Online_trading", "Product")">Read more</a>
                                            </div>
                                        </div>
                                        <div class="banner_tab_image_sec">
                                            <img src="../Content/images/trade-image.png" alt="Trade image" title="Trade image">
                                        </div>
                                    </div>
                                </div>
                                <div class="info rss-info">
                                    <div class="banner_tab clearfix">
                                        <div class="banner_tab_sub_heading no_sub_pad clearfix">
                                            <div class="bhoechie-tab-menu">
                                                <div class="list-group">
                                                    <a href="#" class="list-group-item  active">
                                                        <h4 class="equity">i-equity</h4>
                                                    </a>
                                                    <a href="#" class="list-group-item ">
                                                        <h4 class="currency_part">i-derivatives</h4>
                                                    </a>
                                                    <a href="#" class="list-group-item ">
                                                        <h4 class="commodities">i-plan</h4>
                                                    </a>
                                                    <a href="#" class="list-group-item ">
                                                        <h4 class="research_icon">i-PMS</h4>
                                                    </a>
                                                    <a href="#" class="list-group-item">
                                                        <h4 class="insurance_icon">i-fund</h4>
                                                    </a>
                                                    <a href="#" class="list-group-item">
                                                        <h4 class="pms_icon">i-hold</h4>
                                                    </a>
                                                    <a href="#" class="list-group-item">
                                                        <h4 class="bond_icon">i-lend</h4>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="banner_tab_content">
                                            <div class="bhoechie-tab">
                                                <!-- flight section -->
                                                <div class="bhoechie-tab-content active">
                                                    <center>
                                                        <h3>i-equity</h3>
                                                        <h4>Why equity trading?</h4>
                                                        <p>Equity trading gives you the option to grow your investments with the market dynamics. It can fulfil your short-term as well as long-term financial goals, depending on your needs. At KRChoksey, our expert advisers will always guide you on the best scripts and the investment timing in order to book profits and minimise risks market volatility risks. </p>
                                                        <h4>Brief details</h4>
                                                        <div class="baner_contt_sec__box no_brief clearfix">
                                                            <ul>
                                                                <li class="no_equity">Online and offline trading solutions with value-added tools & services</li>
                                                            </ul>
                                                        </div>
                                                        <div class="read_more"><a href="@Url.Action("i_Equity", "Product")" target="_blank">Read more</a></div>
                                                    </center>
                                                </div>
                                                <!-- train section -->
                                                <div class="bhoechie-tab-content">
                                                    <center>
                                                        <h3>i-derivatives</h3>
                                                        <h5>Future and Options </h5>
                                                        <h4>Why should You invest in Future and Options?</h4>
                                                        <div class="baner_contt_sec__box clearfix">
                                                            <ul>
                                                                <li>Excellent tools to hedge risk</li>
                                                                <li>Minimize exposure to riskier assets</li>
                                                                <li>Emanation of Arbitrage opportunities</li>
                                                                <li>Effective discovery of price of an asset</li>
                                                                <li>Multiple pay off scenarios can be created</li>
                                                            </ul>
                                                        </div>
                                                        <div class="read_more"><a href="@Url.Action("i_Derivatives", "Product")" target="_blank">Read more</a></div>
                                                    </center>
                                                </div>

                                                <!-- hotel search -->
                                                <div class="bhoechie-tab-content">
                                                    <center>
                                                        <h3>i-plan</h3>
                                                        <h5>Mutual Funds</h5>
                                                        <h4>Why invest in Mutual Funds?</h4>
                                                        <div class="baner_contt_sec__box clearfix">
                                                            <ul>
                                                                <li>Professional management</li>
                                                                <li>Diversification</li>
                                                                <li>More choice</li>
                                                                <li>Affordability</li>
                                                                <li>Tax benefits</li>
                                                            </ul>
                                                        </div>
                                                        <div class="read_more"><a href="@Url.Action("i_Plan", "Product")" target="_blank">Read more</a></div>
                                                    </center>
                                                </div>
                                                <div class="bhoechie-tab-content">
                                                    <center>
                                                        <h3>Portfolio Management</h3>
                                                        <h4>Why do you need Portfolio Management Services (PMS)?</h4>
                                                        <div class="baner_contt_sec__box clearfix">
                                                            <ul>
                                                                <li>Provides you professional support to manage your portfolio</li>
                                                                <li>Ensures personalized management to generate higher returns in various investment cycles</li>
                                                                <li>Enhances returns through timely decision & online monitoring of portfolio</li>
                                                            </ul>
                                                        </div>
                                                        <h4>Brief details </h4>
                                                        <p>Active investors, Corporates, NRIs and professionals seeking to earn better ROI and ride with the India growth story can opt for our PMS services.</p>
                                                        <div class="read_more"><a href="@Url.Action("i_PMS", "Product")" target="_blank">Read more</a></div>
                                                    </center>
                                                </div>
                                                <div class="bhoechie-tab-content">
                                                    <center>
                                                        <h3>i-fund</h3>
                                                        <h5>Loan against Shares</h5>
                                                        <h4>Why do you need Loan Against Shares (LAS)?</h4>
                                                        <div class="baner_contt_sec__box clearfix">
                                                            <ul>
                                                                <li>If you are a business owner requiring immediate funds, LAS is the most appropriate financing solution for you</li>
                                                                <li>Businesses with expansion plans, or those requiring funds to procure additional manpower, machinery to scale operations should consider Loan against Securities</li>
                                                                <li>Additionally, salaried individuals in need of immediate liquidity may also opt for this financing solution</li>
                                                            </ul>
                                                        </div>
                                                        <div class="read_more"><a href="@Url.Action("i_Fund", "Product")" target="_blank">Read more</a></div>
                                                    </center>
                                                </div>
                                                <div class="bhoechie-tab-content">
                                                    <center>
                                                        <h3>Coming Soon</h3>
                                                    </center>
                                                </div>
                                                <div class="bhoechie-tab-content">
                                                    <center>
                                                        <h3>i-lend</h3>
                                                        <h4>Why to invest in I lend?</h4>
                                                        <div class="baner_contt_sec__box clearfix">
                                                            <ul>
                                                                <li>Easy way of earning lending fees from borrower of your stock.</li>
                                                                <li>Continue to keep all beneficiary rights with yourself. </li>
                                                                <li>Assured 100 % protection of holdings. </li>
                                                                <li>Earnings dose not impact on your short & long term taxation implication. </li>
                                                            </ul>
                                                            <h4>Brief details</h4>
                                                            <ul>
                                                                <li>The Securities Lending and Borrowing (hereinafter referred as SLB) is a scheme that has been launched to enable settlement of securities sold short. </li>
                                                            </ul>
                                                        </div>
                                                        <div class="read_more"><a href="@Url.Action("i_Lend", "Product")" target="_blank">Read more</a></div>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="banner_tab_image_sec invest_img_banner">
                                        </div>
                                    </div>
                                </div>
                                <div class="faux-shadow"> </div>
                            </div>
                        </div>
                    </div>
                    <div id="banner_slider_text_box"><img src="../Content/images/welcome-krchoksey-text.png" alt="Welcome krchoksey text" title="Welcome krchoksey text"></div>
                    <div class="banner_nav">
                        <ul>
                            <li>Home</li>
                            <li>Dashboard</li>
                            <li>About Us</li>
                        </ul>
                    </div>
                </div>
                <!------------------------------- Banner 02 ---------------------------->
                <div data-thumb="../Content/images/slides/thumbs/banner-small-02.jpg" data-src="../Content/images/slides/2nd-banner-bg.jpg">
                    <div class="banner_box clearfix">
                        <div class="banner_content_two clearfix">
                            <article class="banner_content_two_sec clearfix">
                                @*<article class="research_box_sec clearfix">*@
                                @*<article class="my_choksey_sec clearfix">*@
                                <article class="markets clearfix">
                                    @Html.Action("EQUITY", "CMOT")
                                </article>
                                @*<article class="research_box_sec clearfix">*@
                                @*<article class="research_box_newsec clearfix">*@
                                <article class="research_box_sec clearfix">
                                    @Html.Action("Derivatives", "CMOT")
                                </article>
                                @*<article class="research_box_newsec clearfix">*@
                                <article class="my_choksey_sec clearfix">
                                    @Html.Action("Mutual_Fund", "CMOT")
                                </article>
                                @*<article class="research_box_sec clearfix">*@
                                <article class="markets market_dashboard clearfix">
                                    @Html.Action("Commodities", "CMOT")
                                </article>
                                @*<article class="research_box_sec clearfix">*@
                                <article class="research_box_sec researche_box_two clearfix">
                                    @Html.Action("Capital_Market", "CMOT")
                                </article>
                                @*<article class="my_choksey_sec ind_my_choksey clearfix">
                                        @Html.Action("IPO", "CMOT")
                                    </article>*@
                                <div class="dashboard_bttn_sec">
                                    <div class="dashboard_bttn">
                                        <a href="@Url.Action("Individual_Dashboard", "Home")">View All</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="banner_nav">
                        <ul>
                            <li>Home</li>
                            <li>Dashboard</li>
                            <li>About Us</li>
                        </ul>
                    </div>
                </div>
                <!------------------------------- Banner 03 ---------------------------->
                <div data-thumb="../Content/images/slides/thumbs/banner-small-03.jpg" data-src="../Content/images/slides/3rd-banner-bg.jpg">
                    <div class="banner_box clearfix">
                        <div class="banner_content_two clearfix">
                            <article class="banner_content_three_sec clearfix">
                                <article class="about_choksey clearfix">
                                    <article class="about_choksey_text clearfix">
                                        <div class="heading">
                                            <h2>About KRChoksey</h2>
                                            <div class="border_line clearfix">
                                                <div class="blue_border_line"></div>
                                            </div>
                                        </div>
                                        <div class="choksey_contt_sec clearfix">
                                            <p>KRChoksey Investment Managers Private Limited are Mumbai based wealth managers established in 1979. KRChoksey group is spread across various asset verticals, offering services in Wealth Management, Financial Planning, Equity, Derivatives, Portfolio Management, Depository Services & NBFC. With an AUM of more than INR 1500 crores, our clientele comprises of high net worth individuals, corporates, NRI, mutual funds, as well as other financial institutions. </p>
                                            <p>
                                                More than 75,000 investors are served through online platforms & our physical presence is spread over 250 locations across the country. We are one of the leading wealth management firm serving investors both in India and overseas. With an impressive track record in terms of services to its broad clientele, the key ingredient for the company's success has been its customer centric approach and capital growth through structured counselling and focus.
                                            </p>
                                        </div>
                                    </article>
                                    <article class="about_choksey_bttn clearfix">
                                        <div class="banner_bttn">
                                            <a href="@Url.Action("About_Us", "Home")">Know More About Us</a>
                                        </div>
                                    </article>
                                </article>
                                <article class="management clearfix">
                                    <div class="heading">
                                        <h2>Management</h2>
                                        <div class="border_line border_line_two clearfix">
                                            <div class="blue_border_line"></div>
                                        </div>
                                    </div>
                                    <div class="choksey_contt_sec clearfix">
                                        <div class="management_left clearfix">
                                            <div class="single-effect">
                                                <figure class="wpf-demo-6">
                                                    <a href="#">
                                                        <div id="image_part_choksey">
                                                            <div class="image_part cool"><img src="../Content/images/kisan-choksey-image.jpg" alt="kisan Choksey Image" title="kisan Choksey Image"></div>
                                                        </div>
                                                        @*<div class="image_part cool"><img src="../Content/images/kisan-choksey-image.jpg" alt="kisan Choksey Image" title="kisan Choksey Image"></div>*@
                                                        <div class="image_part_text">
                                                            <div class="heading">
                                                                <h4>Kisanbhai R. Choksey</h4>
                                                            </div>
                                                            <div class="choksey_contt_section">
                                                                <p>Kisanbhai, as he is respectfully called, is a fatherly figure of India’s Capital Markets.</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <figcaption class="view-caption">
                                                        <div id="scrollbar1">
                                                            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                                                            <div class="viewport">
                                                                <div class="overview">
                                                                    <h4>Kisanbhai R. Choksey</h4>
                                                                    <p>
                                                                        <strong>Kisanbhai</strong>, as he is respectfully called, is a fatherly figure of India’s Capital Markets. He has a vast experience of more than 5 decades in India’s capital markets.
                                                                        He is an encyclopedia on India’s corporate sector. He is passionate about reading, understanding and investing in listed companies. Such is the
                                                                        vastness of his knowledge that...
                                                                        <a href="@Url.Action("About_Us", "Home")#Kisanbhai" style="margin-top:0px;border:0px;font-size:15px;padding: 0px 0px;color:#f7901e">[Read more]</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="management_right clearfix">
                                            <div class="single-effect">
                                                <figure class="wpf-demo-6">
                                                    <a href="#">
                                                        <div id="image_part_choksey">
                                                            <div class="image_part cool"><img src="../Content/images/kr-choksey.jpg" alt="Kr Choksey Image" title="Kr Choksey Image"></div>
                                                        </div>
                                                        <div class="image_part_text">
                                                            <div class="heading">
                                                                <h4>Deven Choksey</h4>
                                                            </div>
                                                            <div class="choksey_contt_section">
                                                                @*<p>Promoter of KRChoksey Group and Managing Director of KRChoksey Shares and Securities Pvt. Ltd.</p>*@
                                                                <p>Promoter of KRChoksey Group and Managing Director of KRChoksey Investment Managers Private Limited</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <figcaption class="view-caption">
                                                        <div id="scrollbar2">
                                                            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                                                            <div class="viewport">
                                                                <div class="overview">
                                                                    @*<h4>Deven R Choksey</h4>*@
                                                                    <h4>Deven Choksey</h4>
                                                                    <p>
                                                                        Mr. Deven Choksey is the promoter of KRChoksey Group and the Managing Director of
                                                                        KRChoksey Investment Managers Private Limited. KRChoksey has been a respected and
                                                                        distinguished name in the Indian capital markets, for over three decades...
                                                                        <a href="@Url.Action("About_Us", "Home")#Deven" style="margin-top:0px;border:0px;font-size:15px;padding: 0px 0px;color:#f7901e">[Read more]</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </article>

                            </article>
                        </div>
                    </div>
                    <div class="banner_nav">
                        <ul>
                            <li>Home</li>
                            <li>Dashboard</li>
                            <li>About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!------------------------------ share_news_ber ------------------------------>
    <section id="share_news_ber">
        <article class="share_news_box clearfix">
            <article class="bse_nse_box clearfix">
                @{Html.RenderAction("Home_Ticker", "CMOT");}
            </article>
            <article class="bse_nse_tab clearfix">
                <div id="tabs">
                    <ul>
                        @*<li><a href="#tabs-1">Get Quote</a></li>*@
                        <li><a href="#tabs-2">Equity</a></li>
                        @*<li><a href="#tabs-3">Derivatives</a></li>*@
                        @*<li><a href="#tabs-4">MF/ETFs</a></li>*@
                        @*<li><a href="#tabs-5">Debt/Others</a></li>*@
                    </ul>
                    @*<div id="tabs-1">
                            @{Html.RenderAction("Company_Quote", "Company");}
                        </div>*@
                    <div id="tabs-2">
                        @{Html.RenderAction("Company_Equity", "Company");}
                    </div>
                    @*<div id="tabs-3">
                            @{Html.RenderAction("Company_Derivatives", "Company");}
                        </div>*@
                    @*<div id="tabs-4">
                            @{Html.RenderAction("Company_MF_ETFs", "Company");}
                        </div>*@
                    @*<div id="tabs-5">
                            @{Html.RenderAction("Company_Debt_Others", "Company");}
                        </div>*@
                </div>
            </article>
        </article>
    </section>
    <!------------------------------ middle_body ------------------------------>
    <section id="middle_body">
        <article class="middle_body_box clearfix">
            <!------- calculator --------->
            <!--<article class="calculator clearfix">
                        <div class="heading">
                            <h2>Calculator</h2>
                        </div>
                        <div class="calculator_box clearfix">
                            <ul>
                                <li>
                                    <a href="@Url.Action("Calculators", "Home")">
                                        <div class="box_one clearfix"><img src="../Content/images/calculator-icon.png" alt="Calculator Icon" title="Calculator Icon">EMI Calculator</div>
                                    </a>
                                </li>
                                 <li>
                <a href="javascript:void(0)">
                    <div class="box_two clearfix"><img src="../Content/images/planner-icon.png" alt="Goal planner Icon" title="Goal planner Icon">Goal Planner</div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <div class="box_three clearfix"><img src="../Content/images/wealth-icon.png" alt="Wealth Icon" title="Wealth Icon">Wealth Accumulation Calculator</div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <div class="box_four clearfix"><img src="../Content/images/insurance-calculator-icon.png" alt="Insurance Icon" title="Insurance Icon">Insurance Need Calculator</div>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <div class="box_five clearfix"><img src="../Content/images/retirement-icon.png" alt="Retirement Icon" title="Retirement Icon">Retirement Calculator</div>
                </a>
            </li>

                            </ul>

                            <div class="log_in_bttn">
                                <button type="button" id="btnDemo" data-toggle="modal" data-target="#myModalDemonetisation" style="display:none;"></button>
                                @{Html.RenderAction("Demonetisation", "Home");}
                            </div>

                            </div>
                    </article>-->

            <article class="calculator clearfix">
                <div class="heading">
                    <h2><!--<img src="../Content/images/easy-invest-icon.png" alt="Easy invest icon" title="Easy invest icon">-->Latest from KRChoksey</h2>
                </div>
                <div class="social_media_box clearfix">
                    <div class="easy_invest_box clearfix">
                        @*<div class="easy_invest_pdf clearfix">
                                <a href="#" download><img src="../Content/images/pdf-icon.png" alt="Pdf icon" title="Pdf icon">Lorem ipsum is simply</a>
                            </div>
                            <div class="easy_invest_pdf clearfix">
                                <a href="#" download><img src="../Content/images/pdf-icon.png" alt="Pdf icon" title="Pdf icon">Lorem ipsum is simply</a>
                            </div>
                            <div class="easy_invest_pdf clearfix">
                                <a href="#" download><img src="../Content/images/pdf-icon.png" alt="Pdf icon" title="Pdf icon">Lorem ipsum is simply</a>
                            </div>*@
                        @if (Model.Count() > 0)
                        {
                            foreach (var data in Model)
                            {
                                if (@System.Web.HttpContext.Current.Session["UserId"] != null)
                                {
                                    <div class="easy_invest_pdf clearfix">
                                        <a href="../ResearchReport/@data.OriginalRptName" download><img src="../Content/images/pdf-icon.png" alt="Pdf icon" title="Pdf icon">@data.ReportName</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="easy_invest_pdf clearfix" data-toggle="modal" data-target="#myModal">
                                        @*<button type="button" data-toggle="modal" data-target="#myModal">*@
                                        <img src="../Content/images/pdf-icon.png" alt="Pdf icon" title="Pdf icon">@data.ReportName
                                        @*</button>*@
                                    </div>

                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h2 class="modal-title" id="myModalLabel">Login</h2>
                                                </div>
                                                <div class="modal-body clearfix">
                                                    <div class="modal_body_left clearfix">
                                                        <p><a href="@Url.Action("Index", "Home")"><img src="~/Content/images/kr-choksey-logo-login.png" alt="KRChoksey logo" title="KRChoksey logo"></a></p>
                                                        <div class="login_bttn_link_sec clearfix">
                                                            <div class="login_bttn clearfix">
                                                                <a href="http://portfolio.myXXXXXXX.XXX/" target="_blank">KRC Wealth Tracker</a>
                                                            </div>
                                                            <div class="login_bttn clearfix">
                                                                @*<a href="@Url.Action("PMS", "Product")" target="_blank" class="krc_account">My PMS Account</a>*@
                                                                @*<a href="http://www.krchokseypms.com/" target="_blank" class="krc_account">My PMS Account</a>*@
                                                                <a href="https://www.XXXXXXX.XXX/myportfolio/" target="_blank" class="krc_account">My PMS Account</a>
                                                            </div>
                                                            @*<div class="login_bttn clearfix">
                                                                    <a href="http://www.pas.krchokseypms.com/" class="krc_account" target="_blank">My PAS Account</a>
                                                                </div>*@
                                                        </div>
                                                    </div>
                                                    <div class="modal_body_right clearfix">
                                                        <div id="tabs12">
                                                            <ul>
                                                                <li><a href="#tabs-1">Customer</a></li>
                                                                @*<li><a href="#tabs-2">Network Partner</a></li>*@
                                                            </ul>
                                                            <div id="tabs-1">
                                                                <div class="security_code">
                                                                    <div class="login_box_sec clearfix">
                                                                        @*<p>Please fill up the forms </p>*@
                                                                        <form class="contact_page4" method="post" action="">
                                                                            <div class="choksey_contt_section clearfix">
                                                                                <input type="text" placeholder="User name" value="" id="UserName" name="UserName" />
                                                                                <input type="password" placeholder="Password" value="" id="Password" name="Password" />
                                                                                @*<p id="ErrorDiv" style="visibility:hidden;color:red; font-weight:bold;">Username or Password is incorrect !</p>*@
                                                                                <input value="Sign In" type="button" id="SignIn" style="width:100%;background-color:#f7901e;color:white">
                                                                            </div>
                                                                        </form>
                                                                        <p><span><a href="@Url.Action("Forgot_Password","Account")">Forgot your password ?</a></span></p>
                                                                        @*<p><span><a href="@Url.Action("SignUp", "Account")" target="_blank">Create new account / Sign Up </a></span></p>*@
                                                                        <p><span><a href="@Url.Action("SignUp", "Account")" target="_blank">Sign Up to Start Creating Wealth</a></span></p>
                                                                        <p><span><a href=" http://www.krcintellect.com" target="_blank">Network Partner</a></span></p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }

                            }
                            <div class="easy_invest_bttn ex_bttn clearfix">
                                @*<a href="@Url.Action("LatestReports", "KRChokseyReports")">Read more</a>*@
                                <a href="@Url.Action("LatestReports", "KRChokseyReports")">View more</a>
                            </div>
                        }
                        else
                        {
                            <p>No Reports To Show</p>
                        }


                        @*<ul>
                                <li>Enjoy automatic exposure.</li>
                                <li>Access Trading Mobile App.</li>
                                <li>Complimentary Portfolio Health Check and Advisory Notifications and Alerts with Real-time monitoring of Portfolio.</li>
                                <li> Free sign up with EASY BANK for to and fro transfer of funds for investments and other loans.</li>
                                <li>Enjoy automatic exposure.</li>
                                <li>Complimentary Portfolio Health Check and Advisory Notifications and Alerts.</li>
                                <li>Free sign up with EASY BANK for transfer of funds for investments and other loans.</li>
                            </ul>*@

                    </div>
                    <div class="calculator_box clearfix">
                        <ul>
                            <li>
                                <a href="@Url.Action("Calculators", "Home")">
                                    <div class="box_one clearfix"><img src="../Content/images/calculator-icon.png" alt="Calculator Icon" title="Calculator Icon">EMI Calculator</div>
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("EasyInvest", "Home")">
                                    <div class="box_one clearfix"><img src="../Content/images/easy-invest-icon-wh.png" alt="Easy invest icon" title="Easy invest icon">START EASY INVEST</div>
                                </a>
                            </li>

                        </ul>


                        <div class="log_in_bttn">
                            <button type="button" id="btnDemo" data-toggle="modal" data-target="#myModalDemonetisation" style="display:none;"></button>
                            @{Html.RenderAction("Demonetisation", "Home");}
                        </div>

                    </div>
                </div>
            </article>

            <!------- social_media_box --------->
            <article class="news_feed_box_sec clearfix">
                <div class="heading">
                    <h2>Like Us on Facebook</h2>
                </div>
                <div class="social_media_box clearfix">
                    <div class="fb-page" data-href="https://www.facebook.com/krchoksey" data-tabs="timeline" data-width="450" data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/krchoksey" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/krchoksey">Facebook</a></blockquote></div>
                    @*<div class="fb-page" data-href="https://www.facebook.com/krchoksey" data-tabs="timeline" data-height="450" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/krchoksey" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/krchoksey">Facebook</a></blockquote></div>*@

                </div>
            </article>
            <!------- quick Contact --------->
            <article class="quick_cott clearfix">
                <div class="heading">
                    <h2>Follow Us on Twitter</h2>
                </div>
                <div class="social_media_box clearfix">
                    <a class="twitter-timeline" data-height="400" href="https://twitter.com/KRChokseyShares">Tweets by KRChokseyShares</a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

                </div>
            </article>
        </article>
    </section>
    <!--------------------------------------caluculator and Social Section End----------------------------------------->
</section>

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


<script type="text/javascript">
    //For Sec Popup
    $(function () {
        var QCt1 = setTimeout(QCPOPUP1, 3000);
        function QCPOPUP1() {
            var value = '@Request.RequestContext.HttpContext.Session["UserId"]';

            if (value == "") {

                $("#btnDemo").trigger('click');
            }
            //$("#btnDemo").trigger('click');
        }
    });
</script>



@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>*@

@*<script type="text/javascript">

        $(document).ready(function () {
            if (confirm('KRChoksey wants to send you update notification')) {
                alert("#Hidden1").val();
                //window.open("../WebForm1.aspx", 'popup_window', 'width=300,height=300,left=250,top=150,resizable=no');
            } else {
                // Do nothing!
            }
        });
    </script>*@

