﻿@{
    ViewBag.Title = "Individual Dashboard";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
    <!------------------------------ Banner ------------------------------>
    <section id="individual_dashboard_page">
		 <article class="individual_dashboard_page_contt clearfix">
			<article class="banner_content_two_sec clearfix">
				@*<article class="research_box_sec clearfix">*@
				<article class="markets clearfix">
					@Html.Action("EQUITY", "CMOT")
				</article>
				@*<article class="research_box_sec clearfix">*@
				<article class="research_box_sec ind_research_box_sec clearfix">
					@Html.Action("Derivatives", "CMOT")
				</article>
				@*<article class="research_box_sec clearfix">*@
				<article class="my_choksey_sec ind_my_choksey clearfix">
					@Html.Action("Mutual_Fund", "CMOT")
				</article>
				@*<article class="research_box_sec clearfix">*@
				<article class="markets clearfix">
					@Html.Action("Commodities", "CMOT")
				</article>
				@*<article class="research_box_sec clearfix">*@
				<article class="research_box_sec ind_research_box_sec clearfix">
					@Html.Action("Capital_Market", "CMOT")
            	</article>
                <article class="my_choksey_sec ind_my_choksey clearfix">
                    @Html.Action("IPO", "CMOT")
                </article>
			 </article>
        </article>
    </section>
</section>

