﻿@model KR_Choksey.Models.LocateUs
@{
    //ViewBag.Title = "Locate Us";
    //ViewBag.Title = "Locate Us | KRChoksey";
    //ViewBag.MetaDescription = "Locate our network partner in different cities in India.";

    ViewBag.Title = "Locate Us | Wealth Management Partner | KRChoksey";
    ViewBag.MetaDescription = "Locate our network partner in different cities in India.";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}
<script src="~/Content/js/jquery-1.11.1.min.js"></script>
<script src="~/Content/js/jquery.min.js"></script>

<script type="text/javascript">
    function FillCity() {
        var stateId = $('#state').val();
        $.ajax({
            url: '/Home/GetCities',
            type: "POST",
            dataType: "JSON",
            data: { state: stateId },
            success: function (cities) {
                //alert(cities);
                $("#City").html(""); // clear before appending new list
                $.each(cities, function (i, city) {
                    //alert(city.Value);
                    $("#City").append(
                        $('<option></option>').val(city.Text).html(city.Value));
                });
            }
        });
    }
</script>




@using (Html.BeginForm("Locate_Us", "Home", FormMethod.Post, new { @class = "contact_page4" }))
{
    <section id="mid_body">
        <section id="inner_page">
            <section id="interoduction_sec">
                <article class="interoduction_sec_box clearfix">
                    <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">
                        <h2>Network Partner Locator</h2>
                    </div>
                    <div class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="500ms" data-wow-delay="250ms">
                        @*<form class="contact_page4" method="post" action="">*@
                        <div class="choksey_contt_section clearfix">
                            <div class="contact_name_field_two">
                                @Html.DropDownListFor(model => model.State, ViewBag.State as SelectList, "Please select", new { id = "state", @onchange = "FillCity()" })
                                @*@Html.ValidationMessageFor(model => model.City, null, new { @class = "alert-danger" })*@
                                @*<select id="state" name="state"></select>*@
                            </div>
                            <div class="contact_name_field_two">
                                @*<select id="city" name="City"></select>*@
                                @Html.DropDownListFor(model => model.City, new SelectList(Enumerable.Empty<SelectListItem>(), "Text", "Value"),
                                        "Select city",
                                        new { @class = "form-control" })
                                @*@Html.ValidationMessageFor(model => model.City, null, new { @class = "alert-danger" })*@
                            </div>
                        </div>
                        <div class="choksey_contt_section clearfix">
                            <input id="ViewOffice" value="submit" type="submit">
                        </div>
                        @{Html.RenderAction("Details", "Home");}
                    </div>
                </article>
            </section>
        </section>
        <div class="clear"></div>
    </section>

}