﻿@{
    ViewBag.Title = "Network Partner";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
    <section id="inner_page">
        <section id="contact_us">
            <article class="interoduction_sec_box clearfix">
                <article class="insurance_body clearfix">
                    <div class="heading">
                        @*<h2>Franchisee Application</h2>*@
                        <h2>Network Partner</h2>
                    </div>
                    <article class="choksey_contt_sec clearfix">
                        <h3>PARTNERING GROWTH</h3>
                        <p>KRC <span><a href="@Url.Action("Partners", "Home")" target="_blank">Network Partner</a></span>  is an integral part of the KRChoksey value system, a significant member of the KRChoksey family and its strong tradition of Safe Secure Growth. </p>
                        <p>Twenty-five years of expertise and experience have led to a rising growth graph in our services, and our clientele and it is this growth that we seek to share with our network partners. Our Network Partners can benefit of our expertise and <span><a href="@Url.Action("Network_Services", "Home")" target="_blank">our services</a></span> that span the spectrum of investments from Equity investments, Portfolio Management, Insurance to Fixed Income Planning and Servicing. </p>
                        <p>KRChoksey's back office infrastructure and value added services provide a cost benefit advantage, which results in higher business and lower costs of running the financial services operations. This gives our network partners the freedom of concentrating on enhancing customer satisfaction and ensuring business expansion. Peripheral services such as Depositories, and Daily Research reports through web services also aid investment decisions and efficient client servicing.The Network Partner's are key drivers for Business Growth, therefore there are some predifined 
                        <span><a href="@Url.Action("Network_Trust_Area", "Home")" target="_blank">Major Thrust Area</a></span> (MTA) for them.
                        </p>
                        <p>The specialized reports (over 1200 annually) published by our Research Division provide in depth analysis of the economy and comprehensive information to keep our clientele on the cutting edge of developments. KRChoksey is the only organization, which offers on-line research support with advisory management on clients' funds.</p>
                        <p>KRChoksey also offers a unique advantage through its multi-product marketing, multi-purpose solutions, and expertise - an advantage that can be utilized by our clientele and converted into monetary gain.</p>
                        <div class="accordian_box clearfix">
                            <div id="first">
                                <h3>KRC Network Partner </h3>
                                <div>
                                    <h3>Objective of association as NP</h3>
                                    <p>The KRC Network Partner is an organization which will play an entrepreneurial role in developing a market for financial services to customers being provided by KRChoksey in a specified region; directly and / or associate.</p>
                                    <h3>CRM + Clientele addition</h3>
                                    <p>The KRC Network Partner would also play an important role in Customer Relationship Management and in smoothening the process of delivery of the services to the Customer.</p>
                                    <h3>Business planning and execution</h3>
                                    <p> The KRC Network Partner would be responsible for developing and implementing a business plan for a particular territory in association with KRChoksey and would accordingly take part in developing the business according to a mutually agreed plan.</p>
                                    <h3>Risk Management Responsibility</h3>
                                    <p>The KRC Network Partner would share in the risk management responsibility covering Security / Exposure, payments, shares, clients, business practices, compliances and all other area of business</p>
                                    <h3>Sharing Prospects</h3>
                                    <p>Accordingly for such efforts, the franchisee would share in the revenues generated from his efforts through a profit sharing mechanism. </p>
                                    <h3>Operations Management</h3>
                                    <p>This document seeks to put down clarity on the various issues involved, the manner of operations and compensation structure.</p>
                                </div>

                                <h3>Business Goals </h3>
                                <div>
                                    <div class="insurance_policy clearfix">
                                        <ul>
                                            <li>To provide high quality financial services in the stated territory with value added services so that all customers get the same quality of services they would get on being directly served by KRC. To enable this, KRC would concentrate on service delivery and decision making for investments and the Network Partner would focus on new client addition, marketing and relationship management.</li>
                                            <li>To follow high standards of business ethics set by KRC in all dealings with clients.</li>
                                            <li>To ensure sustained and consistent overall business growth so that adequate income be generated and thereafter shared between KRC, Network Partner and his associates for services rendered to the customers.</li>
                                        </ul>
                                    </div>
                                </div>

                                <h3>Major offerings to the Network Partner</h3>
                                <div>
                                    <h3>Major offerings to the network Partner </h3>
                                    <p>The major offerings to the network partner as a part of this proposal are as follows:</p>
                                    <div class="insurance_policy clearfix">
                                        <ul>
                                            <li>Investment Products and Advisory Services on investment products to clients of NP </li>
                                            <li>Web trading to the customers of NP</li>
                                            <li>Subscription of KRC Research to the clients of NP</li>
                                            <li>Distribution of  Life Insurance, Mutual Funds, IPOs and other Products to the customers of NP </li>
                                            <li>Offer other services, viz, web access to KRC's back office, etc to the customers of NP </li>
                                        </ul>
                                    </div>
                                    <h3>Relationship Model</h3>
                                    <p>This section describes the relationship model between the network partner and KRChoksey. It elucidates the roles and responsibilities of both entities and operational relationships. </p>
                                    <h3>Role of KRChoksey</h3>
                                    <p>KRChoksey would pro-actively support the various initiatives of NP as a part of this relationship. We would provide you cutting edge services and support to build a successful symbiotic relationship between us. The following section describes the key responsibilities of KRChoksey. </p>
                                    <h3>Product Delivery</h3>
                                    <p>KRChoksey would offer its entire basket of services to NP who can in turn will offer it to all clients. </p>
                                    <h3>Broking</h3>
                                    <p>As a Trading Cum Clearing Member of the BSE and NSE, KRC would providesfull Trading and Clearing services to its clients. </p>
                                    <h3>Derivative </h3>
                                    <p>As a registered Trading cum Clearing member with the BSE & NSE derivatives segment, our clients would enjoy the full gamut of derivative services as well as fast, efficient service with the immediate effect of the pay in / pay out of funds.  </p>
                                    <h3>ShareBank </h3>
                                    <p>Registered with Central Depository Service (India) Ltd. (CDSL), the depository arm of KRChoksey would provide convenience and value added services to all our customers. </p>
                                    <h3>PMS</h3>
                                    <p>KRChoksey provides both discretionary and non-discretionary portfolio management services to its clients. </p>
                                    <h3>E-Trading</h3>
                                    <p>The KRChoksey portal provides smart trader- CTCL Solution for your trading needs. It provides a typical stock exchange terminal, streaming quotes, real time charting, options trading  and many other useful features. </p>
                                    <h2>Insurance</h2>
                                    <h3>Life</h3>
                                    <p> KRChoksey offers various policies to fulfill the protection and investment requirements of various   stages of the life cycle of human life. </p>
                                    <h3>Non-life</h3>
                                    <p> KRChoksey offers policies like Mediclaim, health insurance, hospital cash, personal accident insurance, travel ins. etc. to suit the various needs of people. </p>
                                    <h3>Fixed Income</h3>
                                    <p> KRChoksey provides customized advisory services, formulating Safety-Liquidity-Returns plans as per each client's requirements in bonds, fixed deposits, mutual funds, IPO and other fixed return instruments.</p>
                                    <h3>Financial Planning</h3>
                                    <p>KRChoksey provides planning to make the hard earned money work more effectively. Offers holistic solutions rather than fragmented product specific investment choices. </p>
                                    <h3>Research</h3>
                                    <p> KRChoksey offers ubiquitous knowledge bank that provides the basis of sound investment strategies through a systematic analysis of the economy. </p>
                                    <h3>Training Support</h3>
                                    <p>KRChoksey would provide training for all its products and services to its Network Partners on a continuing basis. This would help the Network Partners to have better understanding of overall services offered and would enable them to up-sell and cross-sell the products.</p>
                                    <p>KRChoksey would provide training in case of handling equity, derivatives and depository activities. The concerned person of NP can sit with KRC's team for the first fortnight to get trained in the respective activities. </p>
                                    <h3>Operational Support</h3>
                                    <p>KRChoksey would provide adequate support along with relevant tools for management and monitoring of back office operations and client level risk management. </p>
                                    <h3>Brand Building & Business Promotion Activites</h3>
                                    <p>KRChoksey would be actively involved in brand building and promotional activities with its network partners. Its primary responsibilities in this area would be: </p>
                                    <div class="insurance_policy">
                                        <ul>
                                            <li>To assist in carrying out sustained campaigns & promotional activities for brand building and business growth.</li>
                                            <li>To provide speakers and content for seminars and corporate presentations. </li>
                                            <li>To be a part of road shows at strategic locations.</li>
                                            <li>To participate in client meetings at regular intervals for feedback and new product information.</li>
                                            <li>To review and monitor these activities through an agreed scheduler on a periodic basis</li>
                                        </ul>
                                    </div>
                                    <h3>How Can KRC add value to your business?</h3>
                                    <p>With our expertise and range of value added services we at KRC offer a cost benefit advantage that results in higher business and reduce the cost of running financial services operations. This means that you have more time to focus on your customers and work towards expanding your business and less worries about your back office infrastructure.</p>
                                    <p>Our integrated services include:</p>
                                    <div class="insurance_policy">
                                        <ul>
                                            <li>Depository facility</li>
                                            <li>Complete Back Office Management</li>
                                            <li>Common Risk Management Solution for Cash & Derivatives </li>
                                            <li>nvestment advice through KRC research reports to aid investment decisions and efficient client servicing</li>
                                        </ul>
                                    </div>
                                    <p>KRC offers a unique advantage through its multi-marketing, multi-purpose solutions, and expertise in depth knowledge - an advantage that can be utilized by our clientele and converted into monetary gain.</p>
                                </div>

                                <h3>Major Thrust Area (MTAs) for the KRC Network Partner</h3>
                                <div>
                                    <h3>Major Thrust Area (MTAs) for the KRC Network Partner</h3>
                                    <p>KRC’s network partners would be the key drivers for development and growth of its business. The role of the network partner is elucidated in the following section:</p>
                                    <h3>Business Development - HNI Personal Selling</h3>
                                    <p>KRC wishes that its network partners be actively involved in business development activities and achieve quality business growth. As a part of this the major activities expected out of our network partner are:</p>
                                    <div class="insurance_policy clearfix">
                                        <ul>
                                            <li> To ensure qualitative and quantitative business growth through continuous addition of new clients.</li>
                                            <li>  To associate with HNI clients and build up long lasting relationships with them.</li>
                                            <li>To offer entire basket of services provided by KRC to them.</li>
                                        </ul>
                                    </div>
                                    <h3>Management of Clients </h3>
                                    <p>The network partner is KRC's arm for client management. The major activities expected out of our partner in this area are:</p>
                                    <div class="insurance_policy clearfix">
                                        <ul>
                                            <li>To manage the client relationship and ensure prompt and proper service to the customers.</li>
                                            <li> To attend to any complaints and grievances of customers and maintain a record of such complaints and corrective action.</li>
                                            <li>To maintain service standards set by KRC and obtain feedback from the clients regarding service levels.</li>
                                        </ul>
                                    </div>
                                    <h3>Multi Level Referral Marketing & Lead Generation Program</h3>
                                    <p>The activities for lead generation and referral marketing would primarily be:</p>
                                    <div class="insurance_policy clearfix">
                                        <ul>
                                            <li>To exploit the potential in terms of customer base and geographical coverage.</li>
                                            <li>To engage in up-selling and cross selling of products offered by KRC in order to generate maximum revenue per customer.</li>
                                            <li> To engage in lead generation activities and target clients based on their class and profession.  </li>
                                        </ul>
                                    </div>
                                </div>

                                <h3>Risk Management and Compliance </h3>
                                <div>
                                    <h3>Risk Management and Compliance </h3>
                                    <p>The compliance and risk management role of a network partner would involve:</p>
                                    <div class="insurance_policy clearfix">
                                        <ul>
                                            <li>To ensure business and risk compliance as specified by KRC in accordance with regulatory provisions. (see annexure)</li>
                                            <li>To attend to payment & recovery of all dues of all the customers on time.</li>
                                            <li> To minimize the trade risk by implementing proper checks and procedures.</li>
                                            <li>To engage in market intelligence through information sharing in order to take proactive steps in the area of risk management.</li>
                                        </ul>
                                    </div>
                                </div>

                                <h3>Brand Building & Business Promotion Activities </h3>
                                <div>
                                    <h3>Brand Building & Business Promotion Activities </h3>
                                    <p>In addition to KRC efforts, the network partner is expected to carry out the following activities towards building of the KRC brand.</p>
                                    <div class="insurance_policy">
                                        <ul>
                                            <li>To carry out sustained campaigns & promotional activities for brand building and business growth.</li>
                                            <li>  To hold seminars and corporate presentations. </li>
                                            <li> To organize road shows at strategic locations.</li>
                                            <li> To arrange client meetings at regular intervals for feedback and new product information.</li>
                                            <li>To present & monitor these activities through an agreed scheduler on a periodic basis.    </li>
                                        </ul>
                                    </div>
                                    <h3>Details of KRC's proposed offerings</h3>
                                    <p>The following section details out the offerings of the proposal.</p>
                                    <h3>Trading - Equity Markets - Online Viewing Terminal - CTCL</h3>
                                    <p>KRC will provide you with an online viewing terminal at your premises manned by your Office/dealer who will update clients on the current market prices and take down orders to be executed on the system. Your dealer would be connected to our office through messenger/ chat or through VoIP telephony and we would provide you a sales representative / dealer in Mumbai who would execute and provide online confirmation of transactions being placed by your local office. As a contingency provision as an alternative mechanism; your office/dealers/customers could directly place trades with the KRC CRM/dealer in Mumbai. KRC would train your office/dealer; on the operating issues relating to the trading software and the back office software;    Sub-NP training would be the responsibility of main NP. In case business volumes are substantial to left an additional person to be based in your/local area; KRC could depute a person to assist NP and associates.</p>
                                    <p>At a later date, we could appoint your dealer as an Authorized Person who can enter the trades through the terminal from Local area/   associate office. The terminal would enable your clients to trade on four markets i.e. BSE Cash, NSE Cash, BSE F & O and NSE F & O. We will also provide you and associate with access to our back office so that you will be able to view the client balances of cash and stocks in our risk management system thereby ensuring that clients limits are restricted to cash available in their accounts as well as the shares in the depository. This would enable your staff to obtain the best rates for the clients and give feedback online which would provide clients timely information for decision making. </p>
                                    <p>Along with the online trading terminal, we will also provide you with complete accounting and clearing and settlement support online which will enable your staff to view the clients ledger accounts, contracts, settlement position and other related information. Contract Notes will be printed at your end and can be delivered/faxed to clients at the end of the day.</p>  											<h3>E -Trading</h3>
                                    <p>We would also provide online trading services for your clients who will be provided access to krctrades.com the online trading platform of KRC. Clients using krctrades.com will be in a position to log in and directly place their trades which would be settled directly by the bank and shares transferred to our account directly through the KRC dp accounts.This would mean that once a client is enrolled, he would be able to place trades from any corner of the world.</p>
                                    <p>Portfolio Management Services</p>
                                    <p>KRC would provide Portfolio Management Services for equity and mutual funds on a discretionary or non discretionary basis. NP and associates would explain the obligations of the services to the customer and the entire portfolio management services would be provided directly by KRC Mumbai. NP and associates would complete necessary documentation for carrying out portfolio advisory services. </p>
                                    <h3>Portfolio Management Services would include</h3>
                                    <div class="insurance_policy clearfix">
                                        <ul>
                                            <li>Review and Restructuring of the existing portfolio</li>
                                            <li>  Fresh Investments in Equity and Mutual Funds</li>
                                            <li> Review and Monitoring of Portfolio</li>
                                            <li>Reporting and Administrative Support on Portfolio</li>
                                        </ul>
                                    </div>
                                    <p>KRChoksey would provide portfolio reports to the clients for their easy monitoring of portfolios on a monthly basis and would carry out a quarterly review of the portfolio along with the customer. These services could also be provided to the customer through the web through mykrc - the web services site of KRChoksey where customers could log in and view all the reports pertaining to their transactions.</p>
                                    <h3>KRC Research</h3>
                                    <p>KRC Research provides the basis for sound investment strategies through a systematic analysis of the economy and fundamentals of corporate.  The research reports are provided through e mail/ on KRC website and are subscription based. Sample report copies are available on the website www. XXXXXXX.XXX and subscription can be made online or the form can be downloaded from the site and sent to us. On receipt of the form and subscription fees, the customer account is activated for research.</p>
                                    <p>The various research products published by KRC are as follows:</p>
                                    <h3>Futures & Options</h3>
                                    <p>A daily Guide on Futures and Options which clearly states the Stock position to be taken in the Derivative Segment along with strategy.</p>
                                    <h3>Between The Lines</h3>
                                    <p>A daily corporate analysis aimed at providing unique analytical points that will inform investors of cutting-edge corporate developments and breakthroughs in the market and help them make informed investment decisions</p>
                                    <h3>Good Morning KRC</h3>
                                    <p> This product brings the impact analysis of corporate and other events influencing the fortunes of companies and markets.</p>
                                    <h3>Good Evening KRC</h3>
                                    <p>A post market analysis and an action guide for the next day of trading. Good Evening KRC provides a technical view on the market and stocks.</p>
                                    <h3>Cherry Picks</h3>
                                    <p>KRC's top recommendations for the week. These recommendations across sectors are provided on Mondays to pick the likely star performers for that week.</p>
                                    <h3>Market Outlook</h3>
                                    <p>Provides incisive analysis and powerful insights into the key counters and their effects on the stock market.</p>
                                    <h3>Weekender</h3>
                                    <p>A unique product that has been focused towards providing an informative background on investment planning to everyday investors. With a unique quasi-educational approach, Weekender has been rightly dubbed, 'Your Think Tank for Investment'.</p>
                                    <h3>Ecoreview</h3>
                                    <p>This product offers a weekly overview and analysis in different segments of the Indian Economy, currency movements, trends in the International market and the impact of various factors on the corporate sector.</p>
                                    <h3>Special Reports</h3>
                                    <p>like Budget Impact Analysis, India Market Strategy etc</p>
                                    <p>These tools are invaluable for educating customers to taking better investment decisions and also enable them to keep up to date with the latest happenings on the corporate world in India.</p>
                                    <h3>Fixed Income Products</h3>
                                    <p>KRC Fixed Income Division provides information on all fixed income products available for investment by Non Resident Indians including mutual funds and similar products, bonds, IPOs and Company Fixed Deposits. KRC Fixed Income Division would provide the operational support to enable overseas Indians to invest into these products as well as assist them in redemption and other formalities. KRC would provide necessary training to your staff to be able to service customers for these products.</p>
                                    <h3>KRC Insurance</h3>
                                    <p>KRC Insurance would provide you with customized insurance solutions for your clients and take care of all formalities needed for policy issuance, underwriting and monitoring of insurance plans. KRC covers a wide range of insurance solutions both in life insurance as well as general insurance such as property, health etc. Claim Assistance for processing claims will also be provided by KRC. KRC would provide necessary training to your staff to be able to service customers for these products.</p>
                                    <h3>KRC Financial Planning</h3>
                                    <p>KRC provides complete financial planning services to its customers which involve complete understanding of clients risk profile, review of present investments, investment objectives, working out investment strategies to achieve the objectives, monitoring and review of investments made. KRC would provide your staff with product orientation to be able to handle the customer relationship management and provide complete end to end solution from its office in Mumbai. In case the volumes grow and it becomes necessary to depute a person to Local area, KRC would depute its personnel to take care of customer requirements there.</p>
                                    <h3>KRC Customer Care</h3>
                                    <p>KRC Customer care offers an entire gamut of services to ensure customer satisfaction and delight. These primarily include.</p>
                                    <div class="insurance_policy clearfix">
                                        <ul>
                                            <li>On line information, views and recommendation dissemination on web chat / web</li>
                                            <li>Casting helping investors to take timely decisions.</li>
                                            <li>Research reports covering Market Research, Company Research and Technical</li>
                                            <li> Research in Pre-market, Market and Post Market Sessions</li>
                                            <li>Contract Notes: Contract Notes are sent everyday to our Broking clients for viewing their Equity/Derivatives details. Alternatively, clients can view the contract notes by accessing online the relevant information through a personalized ID allotted to them.</li>
                                            <li>Bills: Through e-banking, KRC can provide facility for online payments & receipts through a highly secured payment gateway mechanism.</li>
                                            <li>Ledger: Demat ledger balances can be viewed by accessing the information online which is part of the e-DP services being provided by KRC to its clients</li>
                                        </ul>
                                    </div>                                    
                                </div>
                            </div>
                        </div>

                        <p>In case of any Branch or Franchisee Queries kindly mail us at <span><a href="mailto:npcare@XXXXXXX.XXX">npcare@XXXXXXX.XXX</a></span> or contact us at <span><a href="tel:02266965523">022-66965523</a></span></p>
                    </article>
                </article>
            </article>
        </section>
    </section>
</section>

