﻿@model KR_Choksey.Models.NetworkPartnerEnquiry
@{
    ViewBag.Title = "Network Partner Enquiry";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}
<script src="~/Content/js/jquery-1.11.1.min.js"></script>
<script src="~/Content/js/jquery.min.js"></script>

@using (Html.BeginForm("Network_Partner_Enquiry", "Home", FormMethod.Post, new { @class = "contact_page4" }))
{
    <div style="text-align:center" class="@ViewBag.HideClass">
        @ViewBag.Message
    </div>

    @*<div style="text-align:center" class="@ViewBag.HideClass">
        @ViewBag.Message
    </div>*@

    <section id="mid_body">
        <section id="inner_page">
            <article class="interoduction_sec_box sign_up_box clearfix">
                <article class="sign_up_body clearfix">
                    <div class="heading">
                        <h2>Network Partner Enquiry Form</h2>
                    </div>
                    <div class="choksey_contt_sec clearfix">
                        @*<form class="contact_page4" method="post" action="">*@
                        <div class="choksey_contt_section clearfix">
                            <div class="contact_name_field_two">
                                @*<input type="text" placeholder="Name *" value="" maxlength="100" id="Name" />*@
                                @Html.TextBoxFor(model => model.Name, null, new { placeholder = "Name *", maxlength = 100 })
                                @Html.ValidationMessageFor(model => model.Name, null, new { @class = "alert-danger" })

                            </div>
                            <div class="contact_name_field_two">
                                @*<input type="text" placeholder="Date of Birth *" value="" />*@
                                @Html.TextBoxFor(model => model.DOB, null, new { placeholder = "Date of Birth *", @class = "date1" })
                                @Html.ValidationMessageFor(model => model.DOB, null, new { @class = "alert-danger" })
                            </div>
                        </div>
                        <div class="choksey_contt_section clearfix">
                            <div class="contact_name_field_two">
                                @*<select name="Qualification">
                                        <option>Qualification</option>
                                        <option>Under Graduate</option>
                                        <option>Graduate</option>
                                        <option>Post Graduate</option>
                                        <option>Professional</option>
                                    </select>*@
                                @Html.DropDownListFor(model => model.Qualification, ViewData["Qualification1"] as IEnumerable<SelectListItem>,
                                "Qualification", new { @class = ".chzn-select form-control ", id = "Qualification" })
                                @Html.ValidationMessageFor(model => model.Qualification, null, new { @class = "alert-danger" })
                            </div>
                            <div class="contact_name_field_two">
                                @*<input type="text" placeholder="Mobile Number *" value="" />*@
                                @Html.TextBoxFor(model => model.MobileNumber, null, new { placeholder = "Mobile Number *", maxlength = "10" })
                                @Html.ValidationMessageFor(model => model.MobileNumber, null, new { @class = "alert-danger" })
                            </div>
                        </div>
                        <div class="choksey_contt_section clearfix">
                            <div class="contact_name_field_two">
                                @*<input type="text" placeholder="Telephone Number *" value="" />*@
                                @Html.TextBoxFor(model => model.TelephoneNumber, null, new { placeholder = "Telephone Number ", maxlength = "10" })
                                @Html.ValidationMessageFor(model => model.TelephoneNumber, null, new { @class = "alert-danger" })
                            </div>
                            <div class="contact_name_field_two">
                                @*<input type="text" placeholder="Email Address *" value="" />*@
                                @Html.TextBoxFor(model => model.EmailAddress, null, new { placeholder = "Email Address *", maxlength = "100" })
                                @Html.ValidationMessageFor(model => model.EmailAddress, null, new { @class = "alert-danger" })
                            </div>
                        </div>
                        <div class="choksey_contt_section clearfix">
                            <div class="contact_name_field_two">
                                @*<textarea name="" cols="" rows="" placeholder="Address"></textarea>*@
                                @Html.TextAreaFor(model => model.Address, new { placeholder = "Address ", maxlength = "200" })
                                @Html.ValidationMessageFor(model => model.Address, null, new { @class = "alert-danger" })
                            </div>
                            <div class="contact_name_field_two">
                                @*<select name="City">
                                        <option>City</option>
                                        <option>Kochi</option>
                                        <option>Kolkata</option>
                                        <option>Mumbai</option>
                                        <option>Pune</option>
                                    </select>*@
                                @Html.DropDownListFor(model => model.City, ViewData["City1"] as IEnumerable<SelectListItem>,
                                "City", new { @class = ".chzn-select form-control ", id = "City" })
                                @Html.ValidationMessageFor(model => model.City, null, new { @class = "alert-danger" })
                            </div>
                        </div>
                        <div class="choksey_contt_section clearfix">
                            <div class="contact_name_field_two">
                                @*<select name="State">
                                        <option>State</option>
                                        <option>West Bengal</option>
                                        <option>Maharastra</option>
                                        <option>Bihar</option>
                                        <option>Tamilnadu</option>
                                    </select>*@
                                @Html.DropDownListFor(model => model.State, ViewData["State1"] as IEnumerable<SelectListItem>,
                                "State", new { @class = ".chzn-select form-control ", id = "State" })
                                @Html.ValidationMessageFor(model => model.State, null, new { @class = "alert-danger" })
                            </div>
                            <div class="contact_name_field_two">
                                @*<input type="text" placeholder="Pincode" value="" />*@
                                @Html.TextBoxFor(model => model.Pincode, null, new { placeholder = "Pincode ", maxlength = "10" })
                                @Html.ValidationMessageFor(model => model.Pincode, null, new { @class = "alert-danger" })
                            </div>
                        </div>
                        <div class="choksey_contt_section clearfix">
                            <div class="contact_name_field_two">
                                @*<textarea name="" cols="" rows="" placeholder="How did you know about Us *"></textarea>*@
                                @Html.TextAreaFor(model => model.HowYouKnowAboutUs, new { placeholder = "How did you now about us ", maxlength = "200" })
                                @Html.ValidationMessageFor(model => model.HowYouKnowAboutUs, null, new { @class = "alert-danger" })
                            </div>
                            <div class="contact_name_field_two">
                                @*<textarea name="" cols="" rows="" placeholder="Expectation's from KRC *"></textarea>*@
                                @Html.TextAreaFor(model => model.ExpectationsFromKRC, new { placeholder = "Expectation's from KRC ", maxlength = "200" })
                                @Html.ValidationMessageFor(model => model.ExpectationsFromKRC, null, new { @class = "alert-danger" })
                            </div>
                        </div>
                        <div class="form_box_area clearfix">
                            <div class="choksey_contt_section clearfix">
                                <p>Experience in Capital Market:</p>
                                <div class="contact_name_field_two">
                                    @*<input type="text" placeholder="Years" value="" />*@
                                    @Html.TextBoxFor(model => model.ExperienceInCapitalMarket, new { placeholder = "Years", maxlength = "10" })
                                    @Html.ValidationMessageFor(model => model.ExperienceInCapitalMarket, null, new { @class = "alert-danger" })
                                </div>
                            </div>
                            <div class="choksey_contt_section clearfix">
                                <p>Current Client Base:</p>
                                <div class="contact_name_field_two">
                                    @*<input type="text" placeholder="Equity" value="" />*@
                                    @Html.TextBoxFor(model => model.Equity, null, new { placeholder = "Equity", maxlength = "100" })
                                    @Html.ValidationMessageFor(model => model.Equity, null, new { @class = "alert-danger" })
                                </div>
                                <div class="contact_name_field_two">
                                    @*<input type="text" placeholder="MF" value="" />*@
                                    @Html.TextBoxFor(model => model.MF, null, new { placeholder = "MF", maxlength = "100" })
                                    @Html.ValidationMessageFor(model => model.MF, null, new { @class = "alert-danger" })
                                </div>
                                <div class="contact_name_field_two">
                                    @*<input type="text" placeholder="Derivatives" value="" />*@
                                    @Html.TextBoxFor(model => model.Derivatives, null, new { placeholder = "Derivatives", maxlength = "100" })
                                    @Html.ValidationMessageFor(model => model.Derivatives, null, new { @class = "alert-danger" })
                                </div>
                                <div class="contact_name_field_two">
                                    @*<input type="text" placeholder="Insurance" value="" />*@
                                    @Html.TextBoxFor(model => model.Insurance, null, new { placeholder = "Insurance", maxlength = "100" })
                                    @Html.ValidationMessageFor(model => model.Insurance, null, new { @class = "alert-danger" })
                                </div>
                                <div class="contact_name_field_two">
                                    @*<input type="text" placeholder="IPO" value="" />*@
                                    @Html.TextBoxFor(model => model.IPO, null, new { placeholder = "IPO", maxlength = "100" })
                                    @Html.ValidationMessageFor(model => model.IPO, null, new { @class = "alert-danger" })
                                </div>
                            </div>
                            <div class="choksey_contt_section clearfix">
                                <p>Brokerage House Associated with:</p>
                                <div class="contact_name_field_two">
                                    @*<input type="text" placeholder="" value="" />*@
                                    @Html.TextBoxFor(model => model.BrokHouseAssWith, null, new { placeholder = "", maxlength = "100" })
                                    @Html.ValidationMessageFor(model => model.BrokHouseAssWith, null, new { @class = "alert-danger" })
                                </div>
                            </div>
                            <div class="choksey_contt_section clearfix">
                                <p>Volume of business(Monthly):</p>
                                <div class="contact_name_field_two">
                                    @*<input type="text" placeholder="Trading" value="" />*@
                                    @Html.TextBoxFor(model => model.Trading, null, new { placeholder = "Trading", maxlength = "100" })
                                    @Html.ValidationMessageFor(model => model.Trading, null, new { @class = "alert-danger" })
                                </div>
                                <div class="contact_name_field_two">
                                    @*<input type="text" placeholder="Delivery" value="" />*@
                                    @Html.TextBoxFor(model => model.Delivery, null, new { placeholder = "Delivery", maxlength = "100" })
                                    @Html.ValidationMessageFor(model => model.Delivery, null, new { @class = "alert-danger" })
                                </div>
                            </div>
                            <div class="choksey_contt_section clearfix">
                                <p>Mode of trading terminal:</p>
                                <div class="contact_name_field_two">
                                    @*<input type="text" placeholder="#VSAT" value="" />*@
                                    @Html.TextBoxFor(model => model.VSAT, null, new { placeholder = "#VSAT", maxlength = "100" })
                                    @Html.ValidationMessageFor(model => model.VSAT, null, new { @class = "alert-danger" })
                                </div>
                                <div class="contact_name_field_two">
                                    @*<input type="text" placeholder="#Lease Line" value="" />*@
                                    @Html.TextBoxFor(model => model.LeaseLine, null, new { placeholder = "#LeaseLine", maxlength = "100" })
                                    @Html.ValidationMessageFor(model => model.LeaseLine, null, new { @class = "alert-danger" })
                                </div>
                                <div class="contact_name_field_two">
                                    @*<input type="text" placeholder="Others" value="" />*@
                                    @Html.TextBoxFor(model => model.Others, null, new { placeholder = "Others", maxlength = "100" })
                                    @Html.ValidationMessageFor(model => model.Others, null, new { @class = "alert-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="choksey_contt_section clearfix">
                            <input value="submit" type="submit">
                        </div>
                        @*</form>*@
                        <p>* Mandatory Fields</p>
                    </div>
                </article>
            </article>
        </section>
        <div class="clear"></div>
    </section>


    <!--Calender Jquery Script -->
    <script>
        $(function () {
            //$("#datepicker").datepicker();
            $(".date1").datepicker({ dateFormat: 'dd/M/yy', customformat: true });
            //$("#datepicker").datepicker({ dateFormat: 'dd/M/yy', changeMonth: true, changeYear: true, customformat: true });
        });

    </script>

}
