﻿@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<link rel="icon" href="~/Content/images/FavIcon_72X72_18012017.jpg" type="image/x-icon" />
<link rel="shortcut icon" href="~/Content/images/FavIcon_72X72_18012017.jpg" type="image/x-icon" />

<style>
    .img {
        width: 100%;
        text-align: center;
        padding: 20px 0px;
    }

    .text {
        text-align: center;
        width: 100%;
    }


    .divbtn {
        border: none;
        text-align: center;
        padding: 20px 0px;
    }

    .btn {
        height: 42px;
        cursor: pointer;
        border: none;
        background: #f7901e;
        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-family: 'ProximaNova-Regular';
        width: 115px;
    }
</style>

@*<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>*@
<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
<link rel="manifest" href="../manifest.json">

<div>
    
    <!-- New Code for design-->
    <div class="img">
        <img src="~/Content/images/kr-choksey-logo.png" />
    </div>
    <div id="token_div" class="text">
        @Html.TextArea("token", new { @id = "token" })
        @*<p>Thank You</p>*@
    </div>
    <div id="permission_div" style="display: none;">
    </div>
    @*<div id="permission_div" style="display: none;">
        <h4>Needs Permission</h4>
        <button onclick="requestPermission();return false;" class="btn btn-primary">Request Permission</button>
    </div>*@
    <div id="messages"></div>
    <div class="divbtn">
        <input type="button" onclick="CloseMe();" id="CloseBtn" class="btn" value="Not Now" style="display:none;">
        <input type="button" class="btn" id="Continue" value="Please Wait..." onclick="SaveBrowserId()">
    </div>
    
</div>
<script src="../main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        requestPermission();

        var NTFt = setTimeout(SaveBrowserId, 15000);

        var data = document.getElementById('token').value;
        if (data != "loading...") {
            alert(data);
            SaveBrowserId();
        }
        else {
            var NTFt = setTimeout(SaveBrowserId, 10000);
        }



        //$('#token').onload(function () {
        //    var token = $('#token').val();
        //    alert(token);
        //    SaveBrowserId();
        //    });

        //});

        function SaveBrowserId() {
            var BID = document.getElementById('token').value;
            //alert(BID);
            $.ajax({
                type: "POST",
                url: "/Home/SetBrowserID?BrowserID=" + BID,
                dataType: "JSON",
                async: false,
                success: function (result) {
                }
            });
           // window.close();
        }




        function CloseMe() {

            //window.close();
        }
    });
</script>
