﻿@{
    ViewBag.Title = "Policies & Procedures";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
    <section id="inner_page">
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="1600ms" data-wow-delay="1100ms">
                    <h2>KRChoksey Policies & Procedures</h2>
                </div>
                <div class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1900ms" data-wow-delay="1400ms">
                    <div class="deposite_sec deposite_box clearfix">
                        <ul>
                            <li class="no_choksey_bg"><a href="~/Content/WB_Reports/Investor%20Education%20Program%20for%20PMLA.pdf" target="_blank">KRChoksey Policies & Procedure (Mandatory)</a></li>
                            <li class="no_choksey_bg"><a href="~/Content/WB_Reports/KRChoksey%20Policy%20&%20Procedure(Voluntary).pdf" target="_blank">KRChoksey Policies & Procedure (Voluntary)</a></li>
                            <li class="no_choksey_bg"><a href="~/Content/WB_Reports/KRChoksey%20Policy%20&%20Procedure(Mandatory).pdf" target="_blank">Investor Education Program(PMLA)</a></li>
                        </ul>
                    </div>
                    <h3>RMS Policy</h3>
                    <div class="deposite_sec deposite_box clearfix">
                        <ul>
                            <li class="no_choksey_bg"><a href="~/Content/WB_Reports/Risk%20Policy/Branch/Version%201.0%20KRC%20Risk%20Norms_KRC%20Branch.pdf" target="_blank">KRChoksey Risk Norms for Branches ( Version 1.0)</a></li>
                            <li class="no_choksey_bg"><a href="~/Content/WB_Reports/Risk%20Policy/Branch/VERSION%20%201.1%20KRC%20Risk%20Norms_KRC%20Branch.pdf" target="_blank">KRChoksey Risk Norms for Branches (Version 1.1)</a></li>
                            <li class="no_choksey_bg"><a href="~/Content/WB_Reports/Risk%20Policy/NP/version%201.0%20KRC%20Risk%20norms_NP.pdf" target="_blank">KRChoksey Risk Norms for Network Partners ( Version 1.0)</a></li>
                            <li class="no_choksey_bg"><a href="~/Content/WB_Reports/Risk%20Policy/NP/VERSION%201.1%20KRC%20Risk%20Norms%20for%20NP.pdf" target="_blank">KRChoksey Risk Norms for Network Partners (Version 1.1)</a></li>
                        </ul>
                    </div>
                    <div class="deposite_sec deposite_box clearfix">
                        <ul>
                            <li class="no_choksey_bg"><a href="~/Content/WB_Reports/Account_Opening_Modification/Account%20Opening%20Form%20Booklet%20A.pdf" target="_blank">Account Opening Form Booklet A</a></li>
                            <li class="no_choksey_bg"><a href="~/Content/WB_Reports/Account_Opening_Modification/Account%20Opening%20Form%20Booklet%20B.pdf" target="_blank">Account Opening Form Booklet B</a></li>
                        </ul>
                    </div>

                    <div class="deposite_sec deposite_box clearfix">
                        <ul>
                            @*<li class="no_choksey_bg"><a href="http://XXXXXXX.XXX/ekrc/content/sreports/Running%20account%20authorization%20Form%20f.y.%2010-11.pdf" target="_blank">Running Account Authorization Form - FY 10-11</a></li>
                            <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX/ekrc/content/sreports/Running%20account%20authorization%20Form%20f.y.%2011-12.pdf" target="_blank"> Running Account Authorization Form - FY 11-12</a></li>
                            <li class="no_choksey_bg"><a href="http://XXXXXXX.XXX/ekrc/content/sreports/Authorisation%20For%20Electronic%20Contract%20Note.pdf" target="_blank"> Authorisation For Electronic Contract Note</a></li>*@
                            <li class="no_choksey_bg"><a href="~/Content/WB_Reports/Account_Opening_Modification/Account%20Details%20Modification%20Form.pdf" target="_blank">Account Details Modification Form</a></li>
                        </ul>
                    </div>
                    <h3>Standard Documents - Vernacular Languages</h3>
                    <div class="deposite_sec deposite_box clearfix">
                        <ul>
                            <li class="no_choksey_bg"><a href="http://www.bseindia.com/investors/client_regislanguages.aspx?expandable=3" target="_blank">Click here for BSE</a></li>
                            <li class="no_choksey_bg"><a href="https://www.nseindia.com/membership/content/complinc_trading_mem.htm" target="_blank">Click here for NSE</a></li>
                        </ul>
                        <ul>
                            <li class="no_choksey_bg"><a href="https://www.mcxindia.com/membership/members-compliance/vernacular-language" target="_blank">Click Here for MCX - Commodity</a></li>
                        </ul>
                    </div>
                </div>
            </article>
        </section>
    </section>
</section>
<div class="clear"></div>

