﻿@{
    ViewBag.Title = "Privacy Statement";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
    <section id="inner_page">
        <article class="interoduction_sec_box  clearfix">
            <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">
                <h2>Privacy Statement</h2>
            </div>
            <div class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="500ms" data-wow-delay="250ms">
                <p>XXXXXXX.XXX is strongly committed to every individual's right to privacy and to keeping personal and financial information secure. As part of the effort to earn your trust and confidence in our commitment, we are fully disclosing our privacy practices. We therefore encourage you to read our privacy statement to familiarize and understand the types of personally identifiable information we collect and how we use this information. </p>
                <p> XXXXXXX.XXX only collects the necessary personally identifiable information in order to respond to your requests for our customized products and services. Personally identifiable information is defined as any information that identifies or can be used to identify, contact, or locate the person to whom such information pertains. Such information pertinent to the site includes, but is not limited to, first and last name, physical address, e-mail address, phone number, birth date, and any other information that itself identifies or when tied to the above information, may identify you as a specific individual. </p>
                <p>XXXXXXX.XXX is strongly committed to every individual's right to privacy and to keeping personal and financial information secure. As part of the effort to earn your trust and confidence in our commitment, we are fully disclosing our privacy practices. We therefore encourage you to read our privacy statement to familiarize and understand the types of personally identifiable information we collect and how we use this information. </p>
                <p>XXXXXXX.XXX only collects the necessary personally identifiable information in order to respond to your requests for our customized products and services. Personally identifiable information is defined as any information that identifies or can be used to identify, contact, or locate the person to whom such information pertains. Such information pertinent to the site includes, but is not limited to, first and last name, physical address, e-mail address, phone number, birth date, and any other information that itself identifies or when tied to the above information, may identify you as a specific individual. </p>
            </div>

        </article>
    </section>
</section>
<div class="clear"></div>

@*<section id="mid_body">
    <section id="inner_page">
        <article class="interoduction_sec_box  clearfix">
            <div class="heading">
                <h2>Privacy Statement</h2>
            </div>
            <div class="choksey_contt_sec clearfix">
                <p>XXXXXXX.XXX is strongly committed to every individual's right to privacy and to keeping personal and financial information secure. As part of the effort to earn your trust and confidence in our commitment, we are fully disclosing our privacy practices. We therefore encourage you to read our privacy statement to familiarize and understand the types of personally identifiable information we collect and how we use this information. </p>
                <p> XXXXXXX.XXX only collects the necessary personally identifiable information in order to respond to your requests for our customized products and services. Personally identifiable information is defined as any information that identifies or can be used to identify, contact, or locate the person to whom such information pertains. Such information pertinent to the site includes, but is not limited to, first and last name, physical address, e-mail address, phone number, birth date, and any other information that itself identifies or when tied to the above information, may identify you as a specific individual. </p>
                <p>XXXXXXX.XXX is strongly committed to every individual's right to privacy and to keeping personal and financial information secure. As part of the effort to earn your trust and confidence in our commitment, we are fully disclosing our privacy practices. We therefore encourage you to read our privacy statement to familiarize and understand the types of personally identifiable information we collect and how we use this information. </p>
                <p>XXXXXXX.XXX only collects the necessary personally identifiable information in order to respond to your requests for our customized products and services. Personally identifiable information is defined as any information that identifies or can be used to identify, contact, or locate the person to whom such information pertains. Such information pertinent to the site includes, but is not limited to, first and last name, physical address, e-mail address, phone number, birth date, and any other information that itself identifies or when tied to the above information, may identify you as a specific individual. </p>
            </div>

        </article>
    </section>
</section>
<div class="clear"></div>*@

