﻿@model KR_Choksey.Models.KrcQuickContacts





@using (Html.BeginForm("QuickContact", "Home", FormMethod.Post, new { @class = "contact_page4" }))
{
    <div class="modal fade" id="myModalQuickSignup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title" id="myModalLabel">Hi, how can we help you?</h2>
                </div>

                @*<div style="text-align:center" class="@ViewBag.HideClass">
                    @ViewBag.Message
                </div>*@

                <div id="SuccessDiv" style="visibility:hidden; font-weight:bold; margin-bottom:-35px;text-align:center;">
                    <input type="text" id="ErrorText" style="font-weight:bold;border:none;text-align:center" readonly="readonly" />
                @*@Html.Hidden("ErrorText", new { id = "ErrorText" })*@
                </div>

                    <div class="modal-body clearfix" style="padding:10px;" id="MainDiv">
                        <div id="tabs12">
                            <div id="tabs-1">
                                <div class="security_code">
                                    <div class="login_box_sec clearfix">
                                        <div class="choksey_contt_section clearfix">
                                            <div class="field_sec_box clearfix">
                                                @Html.TextBoxFor(model => model.Name, null, new { placeholder = "Full Name *" ,id="Name"})
                                                @Html.ValidationMessageFor(model => model.Name, null, new { @class = "alert-danger" })

                                            </div>
                                            <div class="field_sec_box clearfix">
                                                @Html.TextBoxFor(model => model.EmailId, null, new { placeholder = "Email *",id="EmailId" })
                                                @Html.ValidationMessageFor(model => model.EmailId, null, new { @class = "alert-danger" })
                                            </div>
                                            <div class="field_sec_box clearfix">
                                                @Html.TextBoxFor(model => model.PhoneNumber, null, new { @class = "number", placeholder = "Mobile Number *", maxlength = 10, id = "QuickContactPhone" })
                                                @Html.ValidationMessageFor(model => model.PhoneNumber, null, new { @class = "alert-danger" })
                                            </div>
                                            <div class="field_sec_box clearfix">
                                                @Html.TextAreaFor(model => model.QuickTopic,  new { placeholder = "Message *", id = "QuickTopic" })
                                                @Html.ValidationMessageFor(model => model.QuickTopic, null, new { @class = "alert-danger" })
                                            </div>

                                            <div class="field_sec_box clearfix">
                                                <div class="pop_form clearfix">
                                                    <label> <input style="width:auto !important;" name="item1" id="MutualFundID" type="checkbox" value="one"> SIP/Mutual Fund</label>
                                                </div>

                                                <div class="pop_form clearfix">
                                                    <label> <input style="width:auto !important;" name="item1" id="Insurance" type="checkbox" value="one"> Insurance</label>
                                                </div>

                                                <div class="pop_form clearfix">
                                                    <label> <input style="width:auto !important;" name="item1" id="FinancialPlanning" type="checkbox" value="one"> Financial Planning</label>
                                                </div>

                                                <div class="pop_form clearfix">
                                                    <label> <input style="width:auto !important;" name="item1" id="IFund" type="checkbox" value="one"> i-fund</label>
                                                </div>

                                                <div class="pop_form clearfix">
                                                    <label> <input style="width:auto !important;" name="item1" id="IPms" type="checkbox" value="one">i-PMS</label>
                                                </div>

                                                <div class="pop_form clearfix">
                                                    <label> <input style="width:auto !important;" name="item1" id="IBrokerage" type="checkbox" value="one">i-Brokerage</label>
                                                </div>

                                                <div class="pop_form clearfix">
                                                    <label> <input style="width:auto !important;" name="item1" id="ILend" type="checkbox" value="one">i-Lend</label>
                                                </div>

                                                <div class="pop_form clearfix">
                                                    <label> <input style="width:auto !important;" name="item1" id="IHold" type="checkbox" value="one">i-Hold (Demat)</label>
                                                </div>

                                                <div class="pop_form clearfix">
                                                    <label> <input style="width:auto !important;" name="item1" id="SubBrokerage" type="checkbox" value="one">Sub Brokerage</label>
                                                </div>
                                            </div>

                                            @*<input id="Contact" value="Contact" type="submit" style="width:100%">*@
                                            <input id="Contact" value="Contact" type="button" style="width:100%;background-color:#f7901e;color:white" onclick="QuickPost();">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
        </div>
    </div>



    <script type="text/javascript">
    //$(document).ready(function () {

    //$('#Contact').click(function () {
    function QuickPost() {
        //alert('QP');
        var name1 = $('#Name').val();
        var emailid1 = $('#EmailId').val();
        var phone = $('#QuickContactPhone').val();
        var topic = $('#QuickTopic').val();

        var DMutualFund = document.getElementById("MutualFundID").checked;
        var DInsurance = document.getElementById("Insurance").checked;
        var DFinancialPlanning = document.getElementById("FinancialPlanning").checked;
        var DIFund = document.getElementById("IFund").checked;
        var DIPms = document.getElementById("IPms").checked;
        var DIBrokerage = document.getElementById("IBrokerage").checked;
        var DILend = document.getElementById("ILend").checked;
        var DIHold = document.getElementById("IHold").checked;
        var DSubBrokerage = document.getElementById("SubBrokerage").checked;
        //alert('Manish')

        if (DMutualFund == true) {
            DMutualFund = 'SIP/Mutual Fund, ';
            //alert(DMutualFund);
        }
        if (DInsurance == true) {
            DInsurance = 'Insurance, ';
        }
        if (DFinancialPlanning == true) {
            DFinancialPlanning = 'Financial Planning, ';
        }
        if (DIFund == true) {
            DIFund = 'i-fund, ';
        }
        if (DIPms == true) {
            DIPms = 'i-PMS, ';
        }
        if (DIBrokerage == true) {
            DIBrokerage = 'i-Brokerage, ';
        }
        if (DILend == true) {
            DILend = 'i-Lend, ';
        }
        if (DIHold == true) {
            DIHold = 'i-Hold (Demat), ';
        }
        if (DSubBrokerage == true) {
            DSubBrokerage = 'Sub Brokerage, ';
        }

        //alert('Manish');

        if (name1 == "") {
            alert('Please Enter Name!')
        }
        else if (emailid1 == "") {
            alert('Please Enter Email Id!')
        }
        else if (phone == "") {
            alert('Please Enter Phone!')
        }
        else if (topic == "") {
            alert('Please Enter Topic!')
        }
        else {
            $.ajax({
                url: '@Url.Action("QuickContact")',
                type: "POST",
                data: {
                    Name: name1, EmailId: emailid1, PhoneNumber: phone, QuickTopic: topic, PMutualFund: DMutualFund, PInsurance: DInsurance,
                    PFinancialPlanning: DFinancialPlanning,
                    PIFund: DIFund,
                    PIPms: DIPms,
                    PIBrokerage: DIBrokerage,
                    PILend: DILend,
                    PIHold: DIHold,
                    PSubBrokerage: DSubBrokerage
                },
                error: function (xmlHttpRequest, errorText, thrownError) {
                    //$('#myModalQuickSignup').dialog(close);

                    $('#myModalQuickSignup').style.visibility = 'hidden'
                    alert(xmlHttpRequest + "|" + errorText + "|" + thrownError);
                },
                success: function (data) {

                    //window.location.href = data;

                    if (data == "Success") {
                        //alert("Thanks for contacting us! Our team shall get back to you very soon.");
                        //window.location.href = 'http://localhost:11546/';
                        ////$('#Name').val("");
                        ////$('#EmailId').val("");
                        ////$('#QuickContactPhone').val("");
                        ////$('#QuickTopic').val("");
                        document.getElementById('MainDiv').style.visibility = 'hidden'
                        document.getElementById('ErrorText').style.visibility = 'visible'
                        document.getElementById('ErrorText').style.color = 'green';
                        $('#ErrorText').val('Thanks for contacting us! Our team shall get back to you very soon.');
                    }
                    else {
                        $('#ErrorText').val(data);
                        document.getElementById('MainDiv').style.visibility = 'visible'
                        document.getElementById('SuccessDiv').style.visibility = 'visible'
                        //document.getElementById('ErrorText').style.display = 'visible'
                        //document.getElementById('SuccessDiv').style.backgroundColor = 'red';
                        document.getElementById('ErrorText').style.color = 'red';
                    }
                    ////$('#myModalQuickSignup').hide();
                    //document.getElementById('MainDiv').style.visibility = 'hidden'
                    //document.getElementById('SuccessDiv').style.visibility = 'visible'
                    ////                        $('#myModalQuickSignup').style.visibility = 'hidden'
                }
            });

        }
    }//);

    //});
    </script>

}
