﻿@model KR_Choksey.Models.KrcQuickContacts

@using (Html.BeginForm("QuickContact", "Home", FormMethod.Post, new { @class = "contact_page4" }))
{
    <div class="modal fade" id="myModalQuickSignup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title" id="myModalLabel">Hi, how can we help you?</h2>
                </div>
                <div class="modal-body clearfix" style="padding:10px;" id="MainDiv">
                    <div id="tabs12">
                        <div id="tabs-1">
                            <div class="security_code">
                                <div class="login_box_sec clearfix">
                                    <div class="choksey_contt_section clearfix">
                                        <div class="field_sec_box clearfix">
                                            @Html.TextBoxFor(model => model.Name, null, new { placeholder = "Full Name *" ,id="Name"})
                                            @Html.ValidationMessageFor(model => model.Name, null, new { @class = "alert-danger" })

                                        </div>
                                        <div class="field_sec_box clearfix">
                                            @Html.TextBoxFor(model => model.EmailId, null, new { placeholder = "Email *",id="EmailId" })
                                            @Html.ValidationMessageFor(model => model.EmailId, null, new { @class = "alert-danger" })
                                        </div>
                                        <div class="field_sec_box clearfix">
                                            @Html.TextBoxFor(model => model.PhoneNumber, null, new { @class = "number", placeholder = "Mobile Number *", maxlength = 10, id = "QuickContactPhone" })
                                            @Html.ValidationMessageFor(model => model.PhoneNumber, null, new { @class = "alert-danger" })
                                        </div>
                                        <div class="field_sec_box clearfix">
                                            @Html.TextBoxFor(model => model.QuickTopic, null, new { placeholder = "Message *", id = "QuickTopic" })
                                            @Html.ValidationMessageFor(model => model.QuickTopic, null, new { @class = "alert-danger" })
                                        </div>
                                        @*<input id="Contact" value="Contact" type="submit" style="width:100%">*@
                                        <input id="Contact" value="Contact" type="button" style="width:100%;background-color:#f7901e;color:white">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="SuccessDiv" style="visibility:hidden; margin-bottom:25px; color:green; font-weight:bold;">
                    Thanks For Contacting Us! We will get to you very soon.
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function () {
            
            $('#Contact').click(function () {
                var name1=$('#Name').val();
                var emailid1 = $('#EmailId').val();
                var phone = $('#QuickContactPhone').val();
                var topic = $('#QuickTopic').val();

                if (name1 == "") {
                    alert('Please Enter Name!')
                }
                else {
                    $.ajax({
                        url: '@Url.Action("QuickContact")',
                        type: "POST",
                        data: { Name: name1, EmailId: emailid1, PhoneNumber: phone, QuickTopic: topic },
                        error: function (xmlHttpRequest, errorText, thrownError) {
                            //$('#myModalQuickSignup').dialog(close);

                            $('#myModalQuickSignup').style.visibility = 'hidden'
                            alert(xmlHttpRequest + "|" + errorText + "|" + thrownError);
                        },
                        success: function (data) {
                            //$('#myModalQuickSignup').hide();
                            document.getElementById('MainDiv').style.visibility = 'hidden'
                            document.getElementById('SuccessDiv').style.visibility = 'visible'
                            //                        $('#myModalQuickSignup').style.visibility = 'hidden'
                        }
                    });

                }
            });

        });
    </script>
}
