﻿@model IEnumerable<KR_Choksey.Models.Website_Search>
@{
    ViewBag.Title = "Search Result";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}
<section id="mid_body">
    <section id="interoduction_sec">
        <article class="interoduction_sec_box clearfix">
            <article class="search_sec_box clearfix">
                <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="1600ms" data-wow-delay="1100ms">
                    <h2>Showing results for "@ViewBag.SearchText"</h2>
                </div>
                <div class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1900ms" data-wow-delay="1400ms">
                    <ul>
                        @if (Model.Count() != 0)
                        {
                            foreach (var item in Model)
                            {
                                <li><a href="https://www.XXXXXXX.XXX/@item.URL_Link" target="_blank">@item.Navigation</a></li>
                            }
                        }
                        else
                        {
                            <h3>No Result Found</h3>
                        }
                    </ul>
                </div>
            </article>
        </article>
    </section>
</section>
