﻿
@{
    ViewBag.Title = "SiteMap";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>    
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <style type="text/css">
 

        #cont {
            margin: auto;
            width: 800px;
            text-align: left;
        }

 

       

           

        

      

        .pager, .pager a {
            background-color: #00AEEF;
            color: #fff;
            padding: 3px;
        }

        .lhead {
            background-color: #fff;
            padding: 3px;
            font-weight: bold;
            font-size: 16px;
        }

        h2 {
            font-family: 'ProximaNova-Regular';
            font-size: 30px;
            color: #454345;
            line-height: 28px;
            font-weight: normal;
            margin: 0px;
            text-align: left;
        }

        .lpart {
       
            padding: 0px;
        }

        .lpage {
            font: normal 12px verdana;
        }

        .lcount {
            background-color: #f7891e;
            color: #fff;
            padding: 2px;
            margin: 2px;
            font: bold 12px verdana;
        }

        a.aemphasis {
            color: #009;
            font-weight: bold;
        }
    </style>

</head>
<body>
    <div id="cont">
        <h2>KRChoksey Site Map</h2>
        <p>Last updated: 2016, November 19</p>
        </h3>


        <table cellpadding="0" cellspacing="0" border="0" width="100%">

            <tr valign="top">
                <td class="lpart" colspan="100">
                    <div class="lhead">
                        /
                        <span class="lcount">1 pages</span>
                    </div>

                    <table cellpadding="0" cellspacing="0" border="0" width="100%">

                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/" title="Home | KRChoksey">Home | KRChoksey</a></td></tr>
                    </table>
                </td>
            </tr>



            <tr valign="top">
                <td class="lbullet">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="lpart" colspan="99">
                    <div class="lhead">Home</div>

                    <table cellpadding="0" cellspacing="0" border="0" width="100%">

                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Home/Individual_Dashboard" title="Individual Dashboard | KRChoksey">Individual Dashboard</a></td></tr>
                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Home/About_Us" title="About Us | KRChoksey">About Us </a></td></tr>
                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Home/Contact_Us" title="Contact Us | KRChoksey">Contact Us</a></td></tr>
                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Home/Downloads" title="Downloads | KRChoksey">Downloads </a></td></tr>
                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Home/Locate_Us" title="Locate Us | KRChoksey">Locate Us </a></td></tr>
                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Home/Careers" title="Careers | KRChoksey">Careers </a></td></tr>
                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Home/Disclaimer" title="Disclaimer | KRChoksey">Disclaimer </a></td></tr>
                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Home/Terms_of_Use" title="Terms of Use | KRChoksey">Terms of Use </a></td></tr>
                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Home/Privacy_Statement" title="Privacy Statement | KRChoksey">Privacy Statement </a></td></tr>
                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Home/Network_Partner_Enquiry" title="Network Partner Enquiry | KRChoksey">Network Partner Enquiry</a></td></tr>
                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Home/Network_Partner" title="Network Partner | KRChoksey">Network Partner </a></td></tr>
                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Home/Partners" title="Partners | KRChoksey">Partners </a></td></tr>
                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Home/Network_Services" title="Network Services | KRChoksey">Network Services</a></td></tr>
                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Home/Network_Trust_Area" title="Network Trust Area | KRChoksey">Network Trust Area </a></td></tr>
                    </table>
                </td>
            </tr>

            <tr valign="top">
                <td class="lbullet">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="lpart" colspan="99">
                    <div class="lhead">
                        Product/
                        <span class="lcount">10 pages</span>
                    </div>

                    <table cellpadding="0" cellspacing="0" border="0" width="100%">

                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Product/Financial_Planning" title="Wealth Management | KRChoksey">Wealth Management</a></td></tr>
                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Product/Research" title="Research | KRChoksey">Research </a></td></tr>
                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Product/Online_trading" title="Online trading | KRChoksey">Online trading </a></td></tr>
                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Product/i_Equity" title="i-Equity | KRChoksey">i-Equity </a></td></tr>
                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Product/i_Derivatives" title="i-Derivatives | KRChoksey">i-Derivatives </a></td></tr>
                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Product/i_Plan" title="i-Plan | KRChoksey">i-Plan</a></td></tr>
                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Product/i_PMS" title="i-PMS | KRChoksey">i-PMS </a></td></tr>
                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Product/i_Fund" title="i-Fund | KRChoksey">i-Fund </a></td></tr>
                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Product/i_Lend" title="i-Lend | KRChoksey">i-Lend </a></td></tr>
                        <tr><td class="lpage"><a href="http://XXXXXXX.XXX/Product/i_Hold" title="i-Holding | KRChoksey">i-Holding</a></td></tr>
                    </table>
                </td>
            </tr>

        </table>


        <!--
        Please note:
        You are not allowed to remove the copyright notice below.
        Thank you!
        www.xml-sitemaps.com
        -->

    </div>

    <!--base js -->

    <script type="text/ecmascript" src="js/jquery-1.11.1.min.js"></script>
    <!--bootstrap js -->
    <script type="text/ecmascript" src="js/bootstrap.min.js"></script>

    <!--marquee Js-->
    <script src="js/jquery.marquee.js" type="text/javascript"></script>
    <!--auto verticale Js-->
    <script src="js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <!-- animation plugin -->
    <script type="text/javascript" src="js/wow.min.js"></script>
    <!-- Verticle Text Scrool in banner 03 Js -->
    <script type="text/javascript" src="js/jquery.tinyscrollbar.min.js"></script>

    <script type="text/ecmascript" src="js/jquery.min.js"></script>

    <script type='text/javascript' src='js/jquery.easing.1.3.js'></script>
    <script type='text/javascript' src='js/camera.min.js'></script>


    <!--Verticle Text Scrool in banner 03 Script -->
    <script type="text/javascript">
$(document).ready(function(){
$('#scrollbar1').tinyscrollbar();
$('#scrollbar2').tinyscrollbar();
});
    </script>

    <!--Auto Scroll Script -->
    <script>
$(function(){
  var $mwo = $('.marquee-with-options');
  $('.marquee').marquee();
  $('.marquee-with-options').marquee({
    //speed in milliseconds of the marquee
    speed: 7000,
    //gap in pixels between the tickers
    gap: 30,
    //gap in pixels between the tickers
    delayBeforeStart: 0,
    //'left' or 'right'
    direction: 'left',
    //true or false - should the marquee be duplicated to show an effect of continues flow
    duplicated: true,
    //on hover pause the marquee - using jQuery plugin https://github.com/tobia/Pause
    pauseOnHover: true
  });
});
    </script>

    <!--Horizonta tab Jquery Script -->
    <script>
	$(function() {
	$( "#tabs" ).tabs();
	$( "#tabs1" ).tabs();
	$( "#tabs2" ).tabs();
	$( "#tabs3" ).tabs();
	$( "#tabs4" ).tabs();
	$( "#tabs9" ).tabs();
	});
    </script>

    <!--Animation jquery script -->
    <script>
	// page animation script

    var wow = new WOW ({

        boxClass:     'wow',      // animated element css class (default is wow)
        animateClass: 'animated', // animation css class (default is animated)
        offset:       120,          // distance to the element when triggering the animation (default is 0)
        mobile:       false,       // trigger animations on mobile devices (default is true)
        live:         true        // act on asynchronously loaded content (default is true)

      }

    );

    wow.init();

    </script>

    <!--text bend Script-->
    <script>
$(document).ready(function() {
	var str = $('.curved-text').html();
	var curved = '';
	for (var i = 0, len = str.length; i < len; i++) {
		curved += '<span class="char';
		curved += i;
		curved += '">';
		curved += str[i];
		curved += '</span>';
	}
	$('.curved-text').html(curved);
});
    </script>

    <!--Banner Script-->
    <script>
		jQuery(function(){
			jQuery('#camera_wrap_1').camera({
				thumbnails: true,
				autoplay:false,
				 thumbnails: true,
       autoAdvance: false,

			});

			jQuery('#camera_wrap_2').camera({
				height: '400px',
				loader: 'bar',
				pagination: false,

				thumbnails: true
			});
		});
    </script>

    <!--Bootstrap Drpdown Script-->
    <script>
	$('ul.nav li.dropdown').hover(function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
}, function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
});
    </script>
</body>
</html>


