﻿
@{
    //ViewBag.Title = "Terms of Use";
    //ViewBag.Title = "Terms of Use | KRChoksey";
    //ViewBag.MetaDescription = "Click our terms of use page and know all of our terms and conditions. KRChoksey is the best stock broker firm in India.";
    ViewBag.Title = "Terms of Use | Wealth Management Partner | KRChoksey";
    ViewBag.MetaDescription = "Click our terms of use page and know all of our terms and conditions. KRChoksey is the best stock broker firm in India.";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
    <section id="inner_page">
        <section id="interoduction_sec">
            <article class="interoduction_sec_box  clearfix">
                <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">
                    <h2>Terms Of Use</h2>
                </div>
                <div class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="500ms" data-wow-delay="250ms">
                    <p>We invite you to fully experience, enjoy and participate in the many unique services and features offered on XXXXXXX.XXX. However, the use of the website is offered to you on your acceptance of the Terms of Use, our Privacy Policy and other notices posted on this website. Your use of this website or of any content presented in any and all areas of the website indicates your acknowledgment and agreement to these Terms of Use, our Privacy Policy and other notices posted on this website. </p>
                    <p> XXXXXXX.XXX also reserve the right at its sole discretion, to modify, add or remove any terms or conditions of these Terms of Use without notice or liability to you. Any changes to these Terms of Use shall be effective immediately, following the posting of such changes on this website. Your continued use of XXXXXXX.XXX means that you accept any new or modified terms and conditions that are maintained. We would thus encourage you to re-visit the 'Terms of Use' link at our site from time to time to stay abreast of any changes that are introduced.</p>
                </div>
            </article>
        </section>
    </section>
</section>
<div class="clear"></div>



@*<section id="mid_body">
    <section id="inner_page">
        <article class="interoduction_sec_box  clearfix">
            <article class="sign_up_body clearfix">
                <div class="heading">
                    <h2>Terms Of Use</h2>
                </div>
                <div class="choksey_contt_sec clearfix">
                    <p>We invite you to fully experience, enjoy and participate in the many unique services and features offered on XXXXXXX.XXX. However, the use of the website is offered to you on your acceptance of the Terms of Use, our Privacy Policy and other notices posted on this website. Your use of this website or of any content presented in any and all areas of the website indicates your acknowledgment and agreement to these Terms of Use, our Privacy Policy and other notices posted on this website. </p>
                    <p> XXXXXXX.XXX also reserve the right at its sole discretion, to modify, add or remove any terms or conditions of these Terms of Use without notice or liability to you. Any changes to these Terms of Use shall be effective immediately, following the posting of such changes on this website. Your continued use of XXXXXXX.XXX means that you accept any new or modified terms and conditions that are maintained. We would thus encourage you to re-visit the 'Terms of Use' link at our site from time to time to stay abreast of any changes that are introduced.</p>
                </div>
            </article>
        </article>
    </section>
</section>
<div class="clear"></div>*@

