﻿@model KR_Choksey.Models.Website_Search

@using (Html.BeginForm("Search_Result", "Home", FormMethod.Post))
{
    
        @Html.TextBoxFor(model => model.SearchTest, null, new { @class = "newsletter_input", placeholder = "Search KRChoksey Products", id = "search_text" })
        @Html.ValidationMessageFor(model => model.SearchTest, null, new { @class = "alert-danger" })
        @*<input id="search_text" type="text" class="newsletter_input" value="" placeholder="Search your product ...." />*@
        <div class="newsletter_bot_sec">
            <input id="search_btn" type="button" class="newsletter_bot" value="Search" name="search_btn" />
        </div>
    

    <script type="text/javascript">
    $(document).ready(function () {

        $('#search_btn').click(function () {
            var Text = $('#search_text').val();
            if (Text == "") {
                alert('Please Enter Product!')
            }
            else {
                @*$.ajax({
                    url: '@Url.Action("Search_Result")',
                    type: "GET",
                    data: { Search_text: Text },
                    error: function (xmlHttpRequest, errorText, thrownError) {
                        //$('#myModalQuickSignup').style.visibility = 'hidden'
                        //alert(xmlHttpRequest + "|" + errorText + "|" + thrownError);
                    },
                    success: function (data) {
                        //if (data == "Success") {
                        //    window.location.href = '/Home/Search_Result?Search_Text=' + Text;
                        //    }
                        //    else
                        //    {
                        //    window.location.href = '/Home/Search_Result?Search_Text=' + Text;
                        //    }
                        }
                    });*@
                window.location.href = '/Home/Search_Result?Search_Text=' + Text;
                }
            });


        //$("#Search_Result").submit(function (e) {
        //    var Text = $('#search_text').val();
        //    if (Text == "")
        //    {
        //        alert('Please Enter Name!')
        //    }
        //    else
        //    {
        //        alert(Text);
        //    window.location.href = '/Home/Search_Result?Search_Text=' + Text;
        //    }
        //});

        //$("#Search_Result").submit(function (e)
        //{

        //        //e.preventDefault();
        //        alert('Manish');

        //        var Text = $('#search_text').val();
        //        if (Text == "") {
        //            alert('Please Enter Product!')
        //        }
        //        else {

        //        window.location.href = '/Home/Search_Result?Search_Text=' + Text;
        //        }


        //    });

        //$(this).on('keypress click', '.unlocked figcaption .check', function (e) {
        //    if ((e.type === 'keypress' && e.keyCode === 13) || e.type === 'click') {
        //        // All your code inside the .on()
        //        alert('Manish');
        //    }
        //});

    });



    </script>
}