﻿@model IEnumerable<KR_Choksey.Areas.Admin.Models.LeadDetails>
<div class="mutual_funds mutual_full_width clearfix">
    <form class="contact_page6" method="post" action="">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" valign="middle" class="mutual_heading" width="9%">
                    <p>Date</p>
                </td>
                <td align="center" valign="middle" class="mutual_heading" width="13%">
                    <p>Name</p>
                </td>
                <td align="center" valign="middle" class="mutual_heading" width="13%">
                    <p>Email</p>
                </td>
                <td align="center" valign="middle" class="mutual_heading" width="13%">
                    <p>Phone</p>
                </td>
                <td align="center" valign="middle" class="mutual_heading" width="13%">
                    <p>Page Source</p>
                </td>
                <td align="center" valign="middle" class="mutual_heading" width="35%">
                    <p>Message</p>
                </td>
                <td align="center" valign="middle" class="mutual_heading" width="35%">
                    <p>Products</p>
                </td>
                @*<td align="center" valign="middle" class="mutual_heading" width="13%">
                        <p>Approached?</p>
                    </td>
                    <td align="center" valign="middle" class="mutual_heading" width="13%">
                        <p>Converted?</p>
                    </td>
                    <td align="center" valign="middle" class="mutual_heading" width="13%">
                        <p>Remarks</p>
                    </td>*@
            </tr>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td align="center" valign="middle" width="9%">
                            <p>@item.CreatedOn</p>
                        </td>
                        <td align="center" valign="middle" width="13%">
                            <label>@item.Name</label>
                        </td>
                        <td align="center" valign="middle" width="13%">
                            <label>@item.EmailId</label>
                        </td>
                        <td align="center" valign="middle" width="13%">
                            <label>@item.PhoneNumber</label>
                        </td>
                        <td align="center" valign="middle" width="13%">
                            <label>@item.Screen</label>
                        </td>
                        <td align="center" valign="middle" width="35%">
                            <label>@item.QuickTopic</label>
                        </td>
                        <td align="center" valign="middle" width="35%">
                            <label>@item.Products</label>
                        </td>
                        @*<td align="center" valign="middle" width="13%">
                                <input name="" type="checkbox" value="">
                            </td>
                            <td align="center" valign="middle" width="13%">
                                <input name="" type="checkbox" value="">
                            </td>
                            <td align="center" valign="middle" width="13%">
                                <textarea name="" cols="" rows=""></textarea>
                            </td>*@
                    </tr>
                }
            }
        </table>
    </form>
</div>
