﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section id="mid_body">
    <section id="inner_page">
        <article class="interoduction_sec_box sign_up_box clearfix">
            <article class="sign_up_body  clearfix">
                <div class="heading">
                    <h2>Admin Dashboard</h2>
                </div>
                <div style="text-align:center" class="@ViewBag.HideClass">
                    @ViewBag.Message
                </div>
                <div class="choksey_contt_sec clearfix">
                    <div id="tabs13">
                        <ul>
                            <li><a href="#tabs-1">Website Performence</a></li>
                            <li><a href="#tabs-2">Contact Details of Leads Generated</a></li>
                            <li><a href="#tabs-3">Registered Client Information</a></li>
                            <li><a href="#tabs-4">Indicative Margin Report</a></li>
                            <li><a href="@Url.Action("ResearchReportUpload", "Dashboard")">Research Report</a></li>
                            @*<li><a href="#tabs-5">View All Reports</a></li>*@
                            <li><a href="@Url.Action("ViewAllResearchReport", "Dashboard")">View All Reports</a></li>
                        </ul>
                        <article class="markets_box_sec clearfix">
                            <div id="tabs-1">
                                @Html.Action("WebsitePerformence", "Dashboard")
                            </div>
                            <div id="tabs-2">
                                @Html.Action("ContactDetails", "Dashboard")
                            </div>
                            <div id="tabs-3">
                                @Html.Action("RegisteredClients", "Dashboard")
                            </div>
                            <div id="tabs-4">
                                @Html.Action("IndicativeMarginReportUpload", "Dashboard")
                            </div>
                            @*<div id="tabs-5">
                                @Html.Action("ResearchReportUpload", "Dashboard")
                            </div>*@
                        </article>
                    </div>
                </div>
            </article>
        </article>
    </section>
    <div class="clear"></div>
</section>

