﻿@model KR_Choksey.Areas.Admin.Models.IndicativeMarginReport
@{
    ViewBag.Title = "Dashboard";
    Layout = null;
}
@*@using (Html.BeginForm("IndicativeMarginReportUpload", "Dashboard", FormMethod.Post))
    {

                        <input type="file" name="filename1" id="filename1" value="" />
                        <input type="submit" name="Create" value="Upload" class="btn btn-success btn-default" id="Create" />
                    

    }*@

@using (Html.BeginForm("IndicativeMarginReportUpload", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="text-align:center" class="@ViewBag.HideClass">
        @ViewBag.Message
    </div>
    
    <input type="file" name="filename1" />
    <input type="submit" />
}