﻿<div class="mutual_funds mutual_full_width clearfix">
    <form class="contact_page6" method="post" action="">
        <div class="user_selection clearfix">
            <div class="user_selection_left clearfix">
                @*<select name="Select hour">
                        <option>Select hourr</option>
                        <option>Select hourr</option>
                        <option>Select hourr</option>
                        <option>Select hourr</option>
                        <option>Select hourr</option>
                    </select>*@
                <div class="search_ber_sec for_quote_search clearfix">
                    <div class="newsletter newsletter_quote clearfix">
                        <input id="Client_Name" type="text" class="newsletter_input" value="" placeholder="Client Name" />
                        <input id="client_master_code" type="hidden" />
                    </div>
                </div>
            </div>
            @*<div class="user_selection_right clearfix">
                    <input value="Show" type="submit">
                </div>*@
        </div>

        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>Client Code</p>
                </td>
                <td align="center" valign="middle" width="50%">
                    @*<label></label>*@
                    <label id="ClientCode"></label>
                </td>
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>Client Full Name</p>
                </td>
                <td align="center" valign="middle" width="50%">
                    <label id="bo_long_name"></label>
                </td>
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>Client Addesss</p>
                </td>
                <td align="center" valign="middle" width="50%">
                    <label id="bo_addr1"></label>
                </td>
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>Mobile Number</p>
                </td>
                <td align="center" valign="middle" width="50%">
                    <label id="bo_mobile"></label>
                </td>
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>Email</p>
                </td>
                <td align="center" valign="middle" width="50%">
                    <label id="bo_email"></label>
                </td>
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>PAN</p>
                </td>
                <td align="center" valign="middle" width="50%">
                    <label id="bo_pan"></label>
                </td>
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>Products Subscribed</p>
                </td>
                <td align="center" valign="middle" width="50%">
                    <label id="product"></label>
                </td>
                @*<td align="center" valign="middle" width="50%">
                        <label><input name="" type="checkbox" value=""></label>
                        <label><input name="" type="checkbox" value=""></label>
                        <label><input name="" type="checkbox" value=""></label>
                        <label><input name="" type="checkbox" value=""></label>
                        <label><input name="" type="checkbox" value=""></label>
                        <label><input name="" type="checkbox" value=""></label>
                        <label><input name="" type="checkbox" value=""></label>
                        <label><input name="" type="checkbox" value=""></label>
                        <label><input name="" type="checkbox" value=""></label>
                        <label><input name="" type="checkbox" value=""></label>
                        <label><input name="" type="checkbox" value=""></label>
                        <label><input name="" type="checkbox" value=""></label>
                        <label><input name="" type="checkbox" value=""></label>
                        <label><input name="" type="checkbox" value=""></label>
                        <label><input name="" type="checkbox" value=""></label>
                        <label><input name="" type="checkbox" value=""></label>
                    </td>*@
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>Last access by client</p>
                </td>
                <td align="center" valign="middle" width="50%">
                    <label id="last_access_date"></label>
                </td>
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>income slab</p>
                </td>
                <td align="center" valign="middle" width="50%">
                    <label id="income_slab"></label>
                </td>
                @*<td align="center" valign="middle" width="50%">
                        <select name="income slab">
                            <option>income slab</option>
                            <option>05- 08 lacs</option>
                            <option>05- 08 lacs</option>
                            <option>05- 08 lacs</option>
                            <option>05- 08 lacs</option>
                        </select>
                    </td>*@
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>net worth slab</p>
                </td>
                <td align="center" valign="middle" width="50%">
                    <label id="net_worth_slab"></label>
                </td>
                @*<td align="center" valign="middle" width="50%">
                        <input type="text" placeholder="" value="" />
                    </td>*@
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>username for website</p>
                </td>
                <td align="center" valign="middle" width="50%">
                    <label id="username"></label>
                </td>
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>occupation</p>
                </td>
                <td align="center" valign="middle" width="50%">
                    <label id="occupation"></label>
                </td>
                @*<td align="center" valign="middle" width="50%">
                        <input type="text" placeholder="" value="" />
                    </td>*@
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>account creation date</p>
                </td>
                <td align="center" valign="middle" width="50%">
                    <label id="bo_active_date"></label>
                </td>
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>internal MF ID</p>
                </td>
                <td align="center" valign="middle" width="50%">
                    <label id="mf_id"></label>
                </td>
                @*<td align="center" valign="middle" width="50%">
                        <input type="text" placeholder="" value="" />
                    </td>*@
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>Aadhaar</p>
                </td>
                <td align="center" valign="middle" width="50%">
                    <label id="aadhaar"></label>
                </td>
                @*<td align="center" valign="middle" width="50%">
                        <input type="text" placeholder="" value="" />
                    </td>*@
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>internal PMS ID</p>
                </td>
                <td align="center" valign="middle" width="50%">
                    <label id="pms_internal_code"></label>
                </td>
                @*<td align="center" valign="middle" width="50%">
                        <input type="text" placeholder="" value="" />
                    </td>*@
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>Skype ID</p>
                </td>
                <td align="center" valign="middle" width="50%">
                    <label id="skype_id"></label>
                </td>
                @*<td align="center" valign="middle" width="50%">
                        <input type="text" placeholder="" value="" />
                    </td>*@
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>Facebook ID</p>
                </td>
                <td align="center" valign="middle" width="50%">
                    <label id="facebook_id"></label>
                </td>
                @*<td align="center" valign="middle" width="50%">
                        <input type="text" placeholder="" value="" />
                    </td>*@
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>Twitter ID</p>
                </td>
                <td align="center" valign="middle" width="50%">
                    <label id="twitter_id"></label>
                </td>
                @*<td align="center" valign="middle" width="50%">
                        <input type="text" placeholder="" value="" />
                    </td>*@
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>Instagram ID</p>
                </td>
                @*<td align="center" valign="middle" width="50%">
                        <input type="text" placeholder="" value="" />
                    </td>*@
                <td align="center" valign="middle" width="50%">
                    <label id="instagram_id"></label>
                </td>
            </tr>

            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>Snapchat ID</p>
                </td>
                @*<td align="center" valign="middle" width="50%">
                        <input type="text" placeholder="" value="" />
                    </td>*@
                <td align="center" valign="middle" width="50%">
                    <label id="snapchat_id"></label>
                </td>
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>Linkedin ID</p>
                </td>
                @*<td align="center" valign="middle" width="50%">
                        <input type="text" placeholder="" value="" />
                    </td>*@
                <td align="center" valign="middle" width="50%">
                    <label id="linkedin_id"></label>
                </td>
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>Apple ID</p>
                </td>
                @*<td align="center" valign="middle" width="50%">
                        <input type="text" placeholder="" value="" />
                    </td>*@
                <td align="center" valign="middle" width="50%">
                    <label id="apple_id"></label>
                </td>
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>Enable Login</p>
                </td>
                @*<td align="center" valign="middle" width="50%">
                        <input name="" type="checkbox" value="">
                    </td>*@
                <td align="center" valign="middle" width="50%">
                    <label id="enable_login"></label>
                </td>
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>modify on</p>
                </td>
                <td align="center" valign="middle" width="50%">
                    <label id="modified_on"></label>
                </td>
            </tr>
            <tr>
                <td align="center" valign="middle" width="50%">
                    <p>modify by</p>
                </td>
                <td align="center" valign="middle" width="50%">
                    <label id="modified_by"></label>
                </td>
            </tr>
        </table>
    </form>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
@*<link href="~/Content/Validations/jquery-ui.css" rel="stylesheet" />*@

<script src="~/Content/Validations/JqueryUi.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Client_Name").autocomplete({
            source: function (request, response) {
                $('.cmp_submit').prop('disabled', true);
                var customer = new Array();
                $.ajax({
                    url: "/Dashboard/GetClientName",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Text,
                                Id: item.Value
                            }
                            // alert(item);
                        }));
                    }
                });
            },
            minLength: 3,
            select: function (event, ui) {
                //$('#co_code').val(ui.item.Id);
                //window.location.href = '/Dashboard/Client_Details?id=' + ui.item.Id;
                $.ajax({
                    url: "/Dashboard/RegisteredClients",
                    type: "POST",
                    dataType: "json",
                    data: { id: ui.item.Id },
                    success: function (data) {
                        //$('#ClientCode').val(data.client_master_code);
                        //alert(data.bo_active_date);
                        var date = new Date(parseInt(data.bo_active_date.substr(6)));
                        //alert(date);
                        var displayDate = $.datepicker.formatDate("mm/dd/yy", date);
                        //alert(displayDate);
                        document.getElementById('ClientCode').innerHTML = data.client_master_code;
                        document.getElementById('bo_long_name').innerHTML = data.bo_long_name;
                        document.getElementById('bo_addr1').innerHTML = data.bo_addr1;
                        document.getElementById('bo_mobile').innerHTML = data.bo_mobile;
                        document.getElementById('bo_email').innerHTML = data.bo_email;
                        document.getElementById('bo_pan').innerHTML = data.bo_pan;
                        document.getElementById('income_slab').innerHTML = data.income_slab;
                        document.getElementById('occupation').innerHTML = data.occupation;

                        var bo_active_date = new Date(parseInt(data.bo_active_date.substr(6)));
                        var bo_active_date1 = $.datepicker.formatDate("mm/dd/yy", bo_active_date);

                        document.getElementById('bo_active_date').innerHTML = bo_active_date1;
                        document.getElementById('mf_id').innerHTML = data.mf_id;
                        document.getElementById('aadhaar').innerHTML = data.aadhaar;
                        document.getElementById('pms_internal_code').innerHTML = data.pms_internal_code;
                        document.getElementById('skype_id').innerHTML = data.skype_id;
                        document.getElementById('facebook_id').innerHTML = data.facebook_id;
                        document.getElementById('twitter_id').innerHTML = data.twitter_id;
                        document.getElementById('instagram_id').innerHTML = data.instagram_id;
                        document.getElementById('snapchat_id').innerHTML = data.snapchat_id;
                        document.getElementById('linkedin_id').innerHTML = data.linkedin_id;
                        document.getElementById('apple_id').innerHTML = data.apple_id;

                        var modified_on = new Date(parseInt(data.bo_active_date.substr(6)));
                        var modified_on1 = $.datepicker.formatDate("mm/dd/yy", modified_on);

                        document.getElementById('modified_on').innerHTML = modified_on1;
                        document.getElementById('modified_by').innerHTML = data.modified_by;
                        document.getElementById('username').innerHTML = data.username;
                        document.getElementById('enable_login').innerHTML = data.enable_login;
                        document.getElementById('net_worth_slab').innerHTML = data.net_worth_slab;
                        document.getElementById('product').innerHTML = data.product;

                        var last_access = new Date(parseInt(data.last_access_date.substr(6)));
                        var last_access1 = $.datepicker.formatDate("mm/dd/yy", last_access);
                        document.getElementById('last_access_date').innerHTML = last_access1;
                    }
                });
            }
        });


        function formatDate(date) {
            //var hours = date.getHours();
            //var minutes = date.getMinutes();
            //var ampm = hours >= 12 ? 'pm' : 'am';
            //hours = hours % 12;
            //hours = hours ? hours : 12; // the hour '0' should be '12'
            //minutes = minutes < 10 ? '0' + minutes : minutes;
            //var strTime = hours + ':' + minutes + ' ' + ampm;
            //return date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear() + "  " + strTime;

            var date = new Date(parseInt(date.substr(6)));
            return newDate;

        }

    });
</script>
