﻿@model KR_Choksey.Areas.Admin.Models.ResearchRptUpload
@{
    ViewBag.Title = "Dashboard";
    Layout = null;
}

@using (Html.BeginForm("ResearchReportUpload", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data",@class="contact_page6" }))
{
    <section id="mid_body">
        <section id="inner_page">
            <article class="interoduction_sec_box  clearfix">
                
                    <div class="heading">
                        <h2>Research Report Upload</h2>
                    </div>

                    <article class="markets_box_sec clearfix">

                        <div id="tabs-4">
                            <div class="mutual_funds mutual_full_width clearfix">
                                @*<form class="contact_page6" method="post" action="">*@
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="center" valign="top" width="20%">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td align="left" valign="top" style="border: none; padding: 0px; width: 30%;">
                                                            <label>Upload pdf</label>
                                                        </td>
                                                        <td align="left" valign="top" style="border: none; padding: 0px; width: 70%;">
                                                            <input name="upload" type="file">
                                                        </td>
                                                    </tr>
                                                </table>


                                            </td>
                                            <td align="center" valign="top" width="20%">
                                                <input type="text" value="" placeholder="Pdf Report" name="ReportName" />
                                            </td>
                                            <td align="center" valign="top" width="20%">
                                                <div class="choksey_contt_section clearfix">
                                                    <div class="label_pdf_bx clearfix">
                                                        <div class="label_pdf clearfix">
                                                            <input type="radio" name="rating" value="PMS report">
                                                        </div>
                                                        <div class="label_pdf clearfix">
                                                            <p>PMS report</p>
                                                        </div>
                                                    </div>

                                                    <div class="label_pdf_bx clearfix">
                                                        <div class="label_pdf clearfix">
                                                            <input type="radio" name="rating" value="Research report">
                                                        </div>
                                                        <div class="label_pdf clearfix">
                                                            <p>Research report</p>
                                                        </div>
                                                    </div>
                                                    
                                                </div>

                                            </td>
                                            <td align="center" valign="top" width="20%">
                                                <select name="Selecthour">
                                                    <option>Result Updates</option>
                                                    <option>Initiative Coverage</option>
                                                    <option>Management Meet</option>
                                                    <option>Monthly Sector Updates</option>
                                                    <option>Sales Note</option>
                                                    <option>Sector Update</option>
                                                    <option>Teaser Note</option>
                                                    <option>IPO</option>
                                                    <option>Preview</option>
                                                    <option>Thematic</option>
                                                </select>
                                                
                                            </td>
                                            <td align="center" valign="top" width="25%">
                                                <div class="label_pdf_msg clearfix">
                                                    <textarea name="FBMessage" cols="" rows="" placeholder="Facebook Message"></textarea>
                                                </div>
                                                <div class="label_pdf_msg clearfix">
                                                    <textarea name="TWMessage" cols="" rows="" placeholder="Twitter Message"></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="pdf_msg_sub clearfix">
                                        <input type="submit" name="" value="Submit">
                                    </div>


                                @*</form>*@
                            </div>
                        </div>

                    </article>

                
            </article>
        </section>
        <div class="clear"></div>
    </section>


    <script type="text/javascript">
        $(document).ready(function () {
            $('.date1').each(function () {
                $(this).datepicker({ dateFormat: 'dd/M/yy', changeMonth: true, changeYear: true, customformat: true });
                //$(this).datepicker({ minDate: '0', changeMonth: true, changeYear: true, time:true});
            });

        });
    </script>
    
}

