﻿@model IEnumerable<KR_Choksey.Areas.Admin.Models.ResearchRptUpload>
@{
    ViewBag.Title = "Dashboard";
    Layout = null;
}

@using (Html.BeginForm("ViewAllResearchReport", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data", @class = "contact_page6" }))
{
    <section id="mid_body">
        <section id="inner_page">
            <article class="interoduction_sec_box  clearfix">

                <div class="heading">
                    <h2>View All Research Report</h2>
                </div>

                <article class="markets_box_sec clearfix">
                                        
                        <div id="tabs-5">
                            <div class="mutual_funds mutual_full_width clearfix">
                                <div class="view_rep">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th align="center" valign="middle" class="mutual_heading" width="20%"><p>Delete</p></th>
                                                <th align="center" valign="middle" class="mutual_heading" width="20%"><p>Report ID</p></th>
                                                <th align="center" valign="middle" class="mutual_heading" width="20%"><p>Report Name</p></th>
                                                <th align="center" valign="middle" class="mutual_heading" width="20%"><p>Report Type</p></th>
                                                <th align="center" valign="middle" class="mutual_heading" width="20%"><p>PMS/Research</p></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach(var data in Model)
                                            { 
                                            <tr>
                                                <td align="center" valign="middle" width="20%"><label><a href="@Url.Action("DeleteResearchReport", "Dashboard", new { @id=data.AutoId})">Delete</a></label></td>
                                                <td align="center" valign="middle" width="20%"><label>@data.AutoId</label></td>
                                                <td align="center" valign="middle" width="20%"><label>@data.ReportName</label></td>
                                                <td align="center" valign="middle" width="20%"><label>@data.ReportType</label></td>
                                                <td align="center" valign="middle" width="20%"><label>@data.PMS_Research</label></td>
                                            </tr>
                                            }
                                        </tbody>


                                    </table>
                                </div>

                            </div>
                        </div>
                    

                </article>


            </article>
        </section>
        <div class="clear"></div>
    </section>
}