﻿@model IEnumerable<KR_Choksey.Areas.Admin.Models.WebsitePerformance>
<div class="mutual_funds mutual_full_width clearfix">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="middle" width="30%" class="mutual_heading">
                <p>Page</p>
            </td>
            @*<td align="center" valign="middle" width="25%" class="mutual_heading">
                <p>Page Views (till date)</p>
            </td>*@            
            <td align="center" valign="middle" width="15%" class="mutual_heading">
                <p>Views (Signed User)</p>
            </td>
            <td align="center" valign="middle" width="20%" class="mutual_heading">
                <p>Avg. Time spent (Sec.)</p>
            </td>
            <td align="center" valign="middle" width="15%" class="mutual_heading">
                <p>Views (UnSigned User)</p>
            </td>
            <td align="center" valign="middle" width="20%" class="mutual_heading">
                <p>Avg. Time spent (Sec.)</p>
            </td>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td align="center" valign="middle" width="30%">
                        <p>@item.PageName</p>
                    </td>
                    <td align="center" valign="middle" width="15%">
                        <label>@item.SignedUser</label>
                    </td>
                    <td align="center" valign="middle" width="20%">
                        <label>@item.SignedTimeSpent Sec.</label>
                    </td>
                    <td align="center" valign="middle" width="15%">
                        <label>@item.UnSignedUser</label>
                    </td>
                    <td align="center" valign="middle" width="20%">
                        <label>@item.UnSignedTimeSpent Sec.</label>
                    </td>
                    @*<td align="center" valign="middle" width="33%">
                        <label>10000</label>
                    </td>*@
                </tr>
            }
        }
    </table>
</div>
@*<div class="mutual_funds mutual_full_width clearfix">
        <h4>Company Information Searched by Users</h4>
        <form class="contact_page4" method="post" action="">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" valign="middle">
                        <select name="Date picker">
                            <option>Date picker</option>
                            <option>Date picker</option>
                            <option>Date picker</option>
                            <option>Date picker</option>
                            <option>Date picker</option>
                        </select>
                    </td>
                    <td align="center" valign="middle">
                        <select name="Select hour">
                            <option>Select hourr</option>
                            <option>Select hourr</option>
                            <option>Select hourr</option>
                            <option>Select hourr</option>
                            <option>Select hourr</option>
                        </select>
                    </td>
                </tr>
            </table>
        </form>
    </div>*@
@*<div class="mutual_funds mutual_full_width clearfix">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" valign="middle" width="33%" class="mutual_heading">
                    <p>Company Name</p>
                </td>
                <td align="center" valign="middle" width="33%" class="mutual_heading">
                    <p>Price of Share Then</p>
                </td>
                <td align="center" valign="middle" width="33%" class="mutual_heading">
                    <p>Last Closing Price</p>
                </td>
            </tr>
        </table>
    </div>*@
