﻿
@{
    ViewBag.Title = "Bonds";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}
<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner"><img src="~/Content/images/wealth-management-banner.jpg" alt="Wealth management banner" title="Wealth management banner"></section>
        <!------------------------------ Introduction Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <article class="inter_para_text">
                    <article class="inter_para_text_body approach clearfix">
                        <div class="heading">
                            <h2>Introduction</h2>
                        </div>
                        <div class="choksey_contt_sec">
                            <p><strong>Content Pending</strong></p>
                        </div>
                    </article>
                </article>
                <article class="inter_para_image">
                    <img src="~/Content/images/research-intro-image.jpg" alt="Research Introduction image" title="Research Introduction image">
                </article>
            </article>
        </section>

        <!------------------------------ calculator portfolio  ------------------------------>
        <section id="calculator_portfolio">
            <article class="container">
                <article class="row">
                    <article class="portfolio_sec clearfix">
                        <div class="choksey_contt_sec clearfix">
                            <div class="portfolio_box clearfix">
                                <div class="request_back_sec clearfix">
                                    <div class="request_bttn">
                                        <a href="#">Request Call Back</a>
                                    </div>
                                    <div class="number_box">
                                        <input type="text" class="newsletter_input" value="" placeholder="Enter 10 Digit Mobile no" />
                                    </div>
                                </div>
                                <p><span>Our Relationship Managers shall connect back within 12 hours</span></p>
                            </div>
                            <div class="form_box_sec clearfix">
                                <div class="right_away_box clearfix">
                                    <h3>Get in touch <span>with us right away</span></h3>
                                    <h2>999 999 9999</h2>
                                </div>
                                <div class="right_away_box_area clearfix">
                                    <h3>Interested, send me more details</h3>
                                    <form class="contact_page2" method="post" action="">
                                        <div class="field_box clearfix">
                                            <div class="field_box_area clearfix">
                                                <input type="text" placeholder="Your Number" value="" />
                                            </div>
                                            <div class="field_box_area clearfix">
                                                <input type="text" placeholder="Phone Number" value="" />
                                            </div>
                                            <div class="field_box_area clearfix">
                                                <input type="text" placeholder="Email Address" value="" />
                                            </div>
                                        </div>
                                        <div class="field_box clearfix">
                                            <textarea name="Message" cols="" rows="" placeholder="Message"></textarea>
                                        </div>
                                        <div class="little_contt_section clearfix">
                                            <input value="submit" type="submit">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </article>

                </article>
            </article>
        </section>
    </section>
</section>

