﻿@{
    //ViewBag.Title = "Online trading";
    //ViewBag.Title = "Online Trading in India | KRChoksey";
    //ViewBag.MetaDescription = "KRChoksey is the one of the best online trading in India. We provide real time price for NSE, BSE and market update on forex trading, forex exchange, currency trading and more.";
    ViewBag.Title = "DD DC | KRChoksey";
    ViewBag.MetaDescription = "";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
    <section id="inner_page">
        <section id="inner_banner">
            <div class="main_image clearfix">
                <div class="slider_text dd_dc clearfix">
                    <div class="slider_dd_content clearfix">
                        <h1 class="wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">direct debit <span><img src="~/Content/images/inner-banner-divider.jpg"></span> direct credit</h1>
                        <h5 class="wow evnt_pakg fadeInUp animated" data-wow-duration="800ms" data-wow-delay="450ms">automization beyond digitization</h5>
                    </div>
                </div>
                <img src="~/Content/images/inner-banner-bg.jpg" alt="Inner banner bg" title="Inner banner bg">
            </div>
        </section>
        <section id="interoduction_sec">
            <article class="dd_dc_page clearfix">
                <article class="interoduction_sec_box clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="700ms" data-wow-delay="500ms">
                    <article class="dd_dc_page clearfix">
                        <p>Capital Market is the only market where the customer doesn’t have to wait for his payments/receipts. Its invariably comes on time from stock exchanges to brokers and from brokers to clients. SEBI has successfully installed the regulations under which you receive your dues on 3rd day of the transaction (T+2 day).</p>
                        <p>SEBI now make it mandatory for the brokers the payment to the customer per settlement on T+2 day but not later than the end of the week. It means by every Friday the payables to clients must be paid by the broker. It also means that as per SEBI circular brokers are required to settle client’s accounts on weekly basis</p>
                        <p>KRChoksey Shares is happy to introduced fully digital system [DD-DC]. Under arrangements with your bank, our banker HDFC Bank has provided us with an efficient payment gateway, whereby:</p>
                        <ul>
                            <li>Payment is deposited directly into your bank account on receipt of payout file from stock exchange / clearing house</li>
                            <li>Payment is collected directly from your bank account against the transaction confirmation file provided by the stock exchange / clearing house</li>
                        </ul>
                        <p>The beauty of DD-DC, entire transaction is carried out without any human intervention (No exchange of cheques between broker and the client now) and the funds are transferred from one bank to the other only against the official file provided by the stock exchanges / clearing house, making the entire process of payments full proof (like ECS payments for electricity bills).</p>
                        <p>
                            As soon as payment is received or made, your bank would send SMS to you, on your mobile phone. You no more require to do / nor require an accountant for doing accounting and banking work with online availability of records.
                            Second, the payments are effected in the account of the client who has transacted, which is also mandatory under the regulations.
                        </p>
                        <p>The EASE of doing business is at the center point of DD-DC. All you need to do is, give one signature on KYC form to help you start.</p>
                    </article>
                </article>
            </article>
        </section>
        <section id="banking_process">
            <article class="interoduction_sec_box clearfix">
                <article class="three_circle_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="900ms" data-wow-delay="700ms">
                    <article class="cheques_sec clearfix">
                        <article class="cheques_sec_top"><img src="~/Content/images/write-cheques-image.jpg" alt="write cheques image" title="write cheques image"></article>
                        <article class="cheques_sec_bttn">
                            <h3>no more write cheques</h3>
                        </article>
                    </article>
                    <article class="cheques_sec clearfix">
                        <article class="cheques_sec_top"><img src="~/Content/images/mobile-banking.jpg" alt="mobile banking" title="mobile banking"></article>
                        <article class="cheques_sec_bttn">
                            <h3>no mobile banking</h3>
                        </article>
                    </article>
                    <article class="cheques_sec clearfix">
                        <article class="cheques_sec_top"><img src="~/Content/images/internet-banking-required-image.jpg" alt="internet banking required image" title="internet banking required image"></article>
                        <article class="cheques_sec_bttn">
                            <h3>internet banking required</h3>
                        </article>
                    </article>
                </article>
                <article class="product_services clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1100ms" data-wow-delay="900ms">
                    <h4>We take pleasure in bringing to you host of newly designed products and services. They are:</h4>
                    <div class="product_services_contt clearfix">
                        <ul>
                            <li>1.  EASY </li>
                            <li><img src="~/Content/images/divider.jpg" alt="divider" title="divider"> HOLD</li>
                        </ul>
                        <p>You can now view your investment holding on www.XXXXXXX.XXX along with:</p>
                        <p>Valuation of your equity, MF investment portfolio</p>
                        <p>Computation of ST and LT Capital Gains – on line accounting of your equity portfolio to help you</p>
                    </div>
                    <div class="product_services_contt clearfix">
                        <ul>
                            <li>2.  EASY </li>
                            <li><img src="~/Content/images/divider.jpg" alt="divider" title="divider"> INVEST</li>
                        </ul>
                        <p>Notifications on your investment portfolio for effective decision making</p>
                    </div>
                    <div class="product_services_contt clearfix">
                        <ul>
                            <li>3.  EASY </li>
                            <li><img src="~/Content/images/divider.jpg" alt="divider" title="divider"> LEND</li>
                        </ul>
                        <p>Notifications for stock lending for making extra earnings out of equity holdings</p>
                    </div>
                    <div class="product_services_contt clearfix">
                        <ul>
                            <li>4.  EASY </li>
                            <li><img src="~/Content/images/divider.jpg" alt="divider" title="divider"> TRADE</li>
                        </ul>
                        <p>
                            Online markets for trading in equity | commodity | currency on your mobile and desktop
                        </p>
                    </div>
                    <div class="product_services_contt clearfix">
                        <ul>
                            <li>5.  EASY </li>
                            <li><img src="~/Content/images/divider.jpg" alt="divider" title="divider"> MF</li>
                        </ul>
                        <p>Buy and Sell / redeem MF online</p>
                    </div>
                    <div class="product_services_contt clearfix">
                        <ul>
                            <li>6.  EASY </li>
                            <li><img src="~/Content/images/divider.jpg" alt="divider" title="divider"> Insurance</li>
                        </ul>
                        <p>Buy Insurance Products for your complete requirement of Life, Health, Motor Car and other non-life</p>
                    </div>
                    <div class="product_services_contt clearfix">
                        <ul>
                            <li>7.  EASY </li>
                            <li><img src="~/Content/images/divider.jpg" alt="divider" title="divider"> FUND</li>
                        </ul>
                        <p>Avail funding facility from non banking finance company to make payments to the broker</p>
                    </div>
                    <div class="product_services_contt clearfix">
                        <p>2017 is full of hope, full of opportunity. Demonetization to Digitization has just begun with currency. Equity was digitized 2 decades ago. Now with banking digitizing, EASE of doing investment transaction is taking a quantum leap and it will help us serve you with better efficiency. We want you to be part of this wonderful change.</p>
                        <p>We are reaching you for completing KYC formalities for enabling services stated above on your e-mail and mobile phone. We are thankful to you for your continued support.</p>
                        <h5>To fulfill the requirement, we have kept the last date also to complete the KYC formalities dated 31st Jan 2017.</h5>
                    </div>
                </article>
            </article>
        </section>
        <section id="interoduction_sec">
            <article class="orange_bg clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1100ms" data-wow-delay="900ms">
                <article class="interoduction_sec_box clearfix">
                    <h3>In case you have any queries in above matters, you may send us a mail at</h3>
                    <h2>service@XXXXXXX.XXX</h2>
                    <h3>or call us at</h3>
                    <h2>022-66965523</h2>
                </article>
            </article>
        </section>
        <section id="interoduction_sec">
            <article class="manage_bg clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1100ms" data-wow-delay="900ms">
                <article class="interoduction_sec_box orange_service clearfix">
                    <h2>we manage! <span>you earn!</span></h2>
                </article>
            </article>
        </section>



    </section>
</section>


