﻿@{
    ViewBag.Title = "i-Derivatives";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner">
            <div class="main_image clearfix">
                <div class="slider_text clearfix">
                    <div class="slider_text_content clearfix">
                        <h1 class="wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">Market Uncertainties,Currency Fluctuations, Inflation</h1>
                        <h4 class="wow evnt_pakg fadeInUp animated" data-wow-duration="800ms" data-wow-delay="450ms">Wondering about how to hedge your investments against risky assets and generating stable returns?</h4>
                        <p class="wow evnt_pakg fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="800ms">Your Concerns. Our Solutions.</p>
                    </div>
                    <div class="slider_image_content clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="1000ms"><img src="~/Content/images/i-derivatives-banner-image.png" alt="derivatives-image" title="derivatives-image"></div>
                </div>
                <img src="~/Content/images/inner-banner-bg.jpg" alt="Inner banner bg" title="Inner banner bg">
            </div>
        </section>
        <!------------------------------ i-Fund Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="1600ms" data-wow-delay="1100ms">
                    <h2>i-derivatives</h2>
                </div>
                <div class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1900ms" data-wow-delay="1400ms">
                    <div id="first">
                        <h3>Future and Options </h3>
                        <div>
                            <h3>Why should You invest in Future and Options?</h3>
                            <ul>
                                <li>Excellent tools to hedge risk</li>
                                <li>Minimize exposure to riskier assets</li>
                                <li>Emanation of Arbitrage opportunities</li>
                                <li>Effective discovery of price of an asset</li>
                                <li>Multiple pay off scenarios can be created</li>
                                <li>Advantage can be taken of even a non-directional market</li>
                                <li>Futures can be short sold for more than one trading session</li>
                                <li>Improve market efficiency</li>
                                <li>Lower transaction costs as compared to equity</li>
                            </ul>
                            <h3>Brief details</h3>
                            <p>Derivatives in Indian futures and options trading financial markets have come a long way from being constantly avoided to becoming an essential part of one's portfolio. They offer a host of money making opportunities that help in minimizing risk in futures and options trading</p>
                            <p>All class of investor who wants to minimize risk in Futures & Options segment and are willing to take calculative risk in the range of 5 -8 % on capital invested for generating profits in range of 20 –25 % p.a</p>
                            <p>We@KRChoksey take responsibility for strategy generation, execution, monitoring mechanism as per the customer’s profile for prudent utilization of funds, minimizing risk & maximize returns</p>
                            <h3>So, what next?</h3>
							<div class="what_nxt_bttn_box clearfix">
								<ul>
									<li>
										 <a href="tel:+912266965513">
											<div class="box_one clearfix" >
												<img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</div>
											 </a>
										</li>
									 <li>
										 <a href="mailto:service@XXXXXXX.XXX">
											<div class="box_two clearfix" >
												<img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon">service@XXXXXXX.XXX</div>
											 </a>
										</li>
								 </ul>
							</div>
							
							<!--<div class="what_next_bttn_box clearfix">
                                <div class="what_next_bttn clearfix">
                                    <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                                </div>
                                <div class="what_next_bttn_one clearfix">
                                    <a href="mailto: eservice@XXXXXXX.XXX"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                                </div>
                               <div class="what_next_bttn_one clearfix">
                                     <a href="#"><img src="images/download-icon.png" alt="Download icon" title="Download icon">Put the file</a>
                                 </div>  
                            </div>-->
                        </div>

                        <h3>Currency</h3>
                        <div>
                            <h3>Why to trade in Currency?</h3>
                            <ul>
                                <li>Standardized Lot Size</li>
                                <li>Transaction Costs as low as 0.07%</li>
                                <li>High Liquidity</li>
                               <li>Instant Transactions</li>
                                <li>Low Margin and High Leverage</li>
                                <li>Interbank Market </li>
                            </ul>
                            <h3>Brief details</h3>
                            <p>Currency market attracts about $5.2 trillion in daily volume and is recognized among the largest markets globally, accessible 24 hours. The advantage of small margin requirements and lower entry barriers makes it an important part of a retail investor’s portfolio. What’s more, you can trade in currencies through your existing equity account. Currency Derivatives are also very efficient risk management instruments.</p>
                            <h3>So, what next?</h3>
							<div class="what_nxt_bttn_box clearfix">
								<ul>
									<li>
										 <a href="tel:+912266965513">
											<div class="box_one clearfix" >
												<img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</div>
											 </a>
										</li>
									 <li>
										 <a href="mailto:service@XXXXXXX.XXX">
											<div class="box_two clearfix" >
												<img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon">service@XXXXXXX.XXX</div>
											 </a>
										</li>
								 </ul>
							</div>
							
							
                            <!--<div class="what_next_bttn_box clearfix">
                                <div class="what_next_bttn clearfix">
                                    <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                                </div>
                                <div class="what_next_bttn_one clearfix">
                                    <a href="mailto: eservice@XXXXXXX.XXX"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                                </div>
                                <div class="what_next_bttn_one clearfix">
                                    <a href="#"><img src="images/download-icon.png" alt="Download icon" title="Download icon">Put the file</a>
                                </div>   
                            </div>-->
                        </div>

                        <h3>Commodities</h3>
                        <div>
                            <h3>Why to invest in Commodities?</h3>
                            <ul>
                                <li>Beat Inflation</li>
                                <li>Portfolio diversification</li>
                                <li>Hedging of Risks</li>
                                <li>Surplus fund utilisation</li>
                            </ul>
                            <h3>Brief details</h3>
                            <p>Commodities can benefit investors, importers, exporters, commodity producers and high-volume consumers in the following ways:</p>
                            <div class="mutual_funds clearfix">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center" valign="middle" class="mutual_heading" width="50%">
                                            <p>Investors</p>
                                        </td>
                                        <td align="center" valign="middle" class="mutual_heading" width="50%">
                                            <p>Importers/Exporters </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle" width="50%">
                                            <p>Importers/Exporters </p>
                                            <p>Less manipulation</p>
                                            <p>Diversification</p>
                                        </td>
                                        <td align="center" valign="top" width="50%">
                                            <p>Hedge against price fluctuations</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle" class="mutual_heading" width="50%">
                                            <p>Commodity producer</p>
                                        </td>
                                        <td align="center" valign="middle" class="mutual_heading" width="50%">
                                            <p>Commodity Consumer </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle" width="50%">
                                            <p>Lock-in price for your produce</p>
                                            <p>Assured demand at the time of harvest </p>
                                        </td>
                                        <td align="center" valign="top" width="50%">
                                            <p>Control your cost</p>
                                            <p>Ensure continuous supply</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <h3>So, what next?</h3>
							<div class="what_nxt_bttn_box clearfix">
								<ul>
									<li>
										 <a href="tel:+912266965513">
											<div class="box_one clearfix" >
												<img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</div>
											 </a>
										</li>
									 <li>
										 <a href="mailto:service@XXXXXXX.XXX">
											<div class="box_two clearfix" >
												<img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon">service@XXXXXXX.XXX</div>
											 </a>
										</li>
								 </ul>
							</div>
							
							
                            <!--<div class="what_next_bttn_box clearfix">
                                <div class="what_next_bttn clearfix">
                                    <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                                </div>
                                <div class="what_next_bttn_one clearfix">
                                    <a href="mailto: eservice@XXXXXXX.XXX"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </section>
</section>





@*<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner"><img src="~/Content/images/iderivatives-banner.jpg" alt="iderivatives banner" title="iderivatives banner"></section>
        <!------------------------------ i-Fund Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading">
                    <h2>i-Derivatives</h2>
                </div>
                <div class="choksey_contt_sec clearfix">
                    <div id="first">
                        <h3>Future and Options </h3>
                        <div>
                            <h3>Why should You invest in Future and Options?</h3>
                            <ul>
                                <li>Excellent tools to hedge risk</li>
                                <li>Minimize exposure to riskier assets</li>
                                <li>Emanation of Arbitrage opportunities</li>
                                <li>Effective discovery of price of an asset</li>
                                <li>Multiple pay off scenarios can be created</li>
                                <li>Advantage can be taken of even a non-directional market</li>
                                <li>Futures can be short sold for more than one trading session</li>
                                <li>Improve market efficiency</li>
                                <li>Lower transaction costs as compared to equity</li>
                            </ul>
                            <h3>Brief details</h3>
                            <p>Derivatives in Indian futures and options trading financial markets have come a long way from being constantly avoided to becoming an essential part of one's portfolio. They offer a host of money making opportunities that help in minimizing risk in futures and options trading</p>
                            <p>All class of investor who wants to minimize risk in Futures & Options segment and are willing to take calculative risk in the range of 5 -8 % on capital invested for generating profits in range of 20 –25 % p.a</p>
                            <p>We@KRChoksey take responsibility for strategy generation, execution, monitoring mechanism as per the customer’s profile for prudent utilization of funds, minimizing risk & maximize returns</p>
                            <h3>So, what next?</h3>
                            <div class="what_next_bttn_box clearfix">
                                <div class="what_next_bttn clearfix">
                                    <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                                </div>
                                <div class="what_next_bttn_one clearfix">
                                    <a href="mailto: eservice@XXXXXXX.XXX?subject=Enquiry from i-Derivaties (Future and Options)"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                                </div>
                            </div>
                        </div>

                        <h3>Currency</h3>
                        <div>
                            <h3>Why to trade in Currency?</h3>
                            <ul>
                                <li>Standardized Lot Size</li>
                                <li>Transaction Costs as low as 0.07%</li>
                                <li>High Liquidity</li>
                                <li>High Liquidity</li>
                                <li>Instant Transactions</li>
                                <li>Low Margin and High Leverage</li>
                                <li>Interbank Market </li>
                            </ul>
                            <h3>Brief details</h3>
                            <p>Currency market attracts about $5.2 trillion in daily volume and is recognized among the largest markets globally, accessible 24 hours. The advantage of small margin requirements and lower entry barriers makes it an important part of a retail investor’s portfolio. What’s more, you can trade in currencies through your existing equity account. Currency Derivatives are also very efficient risk management instruments.</p>
                            <h3>So, what next?</h3>
                            <div class="what_next_bttn_box clearfix">
                                <div class="what_next_bttn clearfix">
                                    <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                                </div>
                                <div class="what_next_bttn_one clearfix">
                                    <a href="mailto: eservice@XXXXXXX.XXX?subject=Enquiry from i-Derivaties (Currency)"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                                </div>
                            </div>
                        </div>

                        <h3>Commodities</h3>
                        <div>
                            <h3>Why to invest in Commodities?</h3>
                            <ul>
                                <li>Beat Inflation</li>
                                <li>Portfolio diversification</li>
                                <li>Hedging of Risks</li>
                                <li>Surplus fund utilisation</li>
                            </ul>
                            <h3>Brief details</h3>
                            <p>Commodities can benefit investors, importers, exporters, commodity producers and high-volume consumers in the following ways:</p>
                            <div class="mutual_funds clearfix">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center" valign="middle" class="mutual_heading" width="50%">
                                            <p>Investors</p>
                                        </td>
                                        <td align="center" valign="middle" class="mutual_heading" width="50%">
                                            <p>Importers/Exporters </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle" width="50%">
                                            <p>Importers/Exporters </p>
                                            <p>Less manipulation</p>
                                            <p>Diversification</p>
                                        </td>
                                        <td align="center" valign="top" width="50%">
                                            <p>Hedge against price fluctuations</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle" class="mutual_heading" width="50%">
                                            <p>Commodity producer</p>
                                        </td>
                                        <td align="center" valign="middle" class="mutual_heading" width="50%">
                                            <p>Commodity Consumer </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle" width="50%">
                                            <p>Lock-in price for your produce</p>
                                            <p>Assured demand at the time of harvest </p>
                                        </td>
                                        <td align="center" valign="top" width="50%">
                                            <p>Control your cost</p>
                                            <p>Ensure continuous supply</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <h3>So, what next?</h3>
                            <div class="what_next_bttn_box clearfix">
                                <div class="what_next_bttn clearfix">
                                    <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                                </div>
                                <div class="what_next_bttn_one clearfix">
                                    <a href="mailto: eservice@XXXXXXX.XXX?subject=Enquiry from i-Derivaties (Commodities)"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </section>
</section>*@




