﻿@{
    ViewBag.Title = "i-Fund";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}


<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner">
            <div class="main_image clearfix">
                <div class="slider_text clearfix">
                    <div class="slider_text_content clearfix">
                        <h1 class="wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">Market Uncertainties,Currency Fluctuations, Inflation</h1>
                        <h4 class="wow evnt_pakg fadeInUp animated" data-wow-duration="800ms" data-wow-delay="450ms">Wondering about how to hedge your investments against risky assets and generate stable returns?</h4>
                        <p class="wow evnt_pakg fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="800ms">Your Concerns. Our Solutions.</p>
                    </div>
                    <div class="slider_image_content clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="1000ms"><img src="~/Content/images/i-fund-banner-image.png" alt="i-fund-banner-image" title="i-fund-banner-image"></div>
                </div>
                <img src="~/Content/images/inner-banner-bg.jpg" alt="Inner banner bg" title="Inner banner bg">
            </div>
        </section>
        <!------------------------------ i-Fund Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="1600ms" data-wow-delay="1100ms">
                    <h2>i-fund</h2>
                </div>
                <div class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1900ms" data-wow-delay="1400ms">
                    <div class="inner_page_pad_box_one clearfix">
                        <div id="first">
                            <h3>Loan against Shares</h3>
                            <div>
                                <h3>Why do you need Loan Against Shares (LAS)?</h3>
                                <ul>
                                    <li>If you are a business owner requiring immediate funds, LAS is the most appropriate financing solution for you</li>
                                    <li>Businesses with expansion plans, or those requiring funds to procure additional manpower, machinery to scale operations should consider Loan against Securities</li>
                                    <li>Additionally, salaried individuals in need of immediate liquidity may also opt for this financing solution</li>
                                    <li>Loan against Securities may also be taken for personal reasons as well – consider it in lieu of loan for marriage or for your child's education loan</li>
                                </ul>
                                <h3>Brief details </h3>
                                <ul>
                                    <li>LAS is a loan against equity shares you own</li>
                                    <li>It helps you gain the financial flexibility that you need without disrupting your long-term investment strategy</li>
                                    <li>You do not need to sell your stocks; there is immediate liquidity once the shares are pledged in our favour</li>
                                    <li>The bonuses and dividends on the pledged shares will continue to accrue to you during the loan period</li>
                                    <li>These loans typically attract lower interest rates than other forms of credit and interest is charged only for the period the loan amount is used.</li>
                                </ul>
                                <h3>So, what next?</h3>
								<div class="what_nxt_bttn_box clearfix">
                            <ul>
                                <li>
                                     <a href="tel:+912266965513">
									 	<div class="box_one clearfix" >
											<img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</div>
									     </a>
                                	</li>
								 <li>
									 <a href="mailto:service@XXXXXXX.XXX">
										<div class="box_two clearfix" >
											<img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon">service@XXXXXXX.XXX</div>
										 </a>
									</li>
                               
                            </ul>
                        </div>
                               <!-- <div class="what_next_bttn_box clearfix">
                                    <div class="what_next_bttn clearfix">
                                        <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                                    </div>
                                    <div class="what_next_bttn_one clearfix">
                                        <a href="mailto: eservice@XXXXXXX.XXX"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                                    </div>
                                </div>-->
                            </div>

                            <h3>Margin Trade Finance</h3>
                            <div>
                                <h3>Is Margin Trade Finance for you?</h3>
                                <ul>
                                    <li>If you are looking for increased exposure in the capital market, it is advisable to consider Margin Trade Finance to leverage your existing shareholdings</li>
                                    <li>Margin Trade Finance is a far more practical option as opposed to futures trading, if you require finance facility</li>
                                    <li>It is also advised for investing in stocks not included on the futures list</li>
                                    <li>With a margin loan, you gain the flexibility of earning money over smaller price movements against the large numbers of stocks you can purchase with the loan amount</li>
                                    <li>KRChoksey charges interest on the utilised portion of the loan amount </li>
                                </ul>
                                <h3>Brief details </h3>
                                <ul>
                                    <li>Offers customers the opportunity to invest/leverage/trade in equity shares at a pre-defined margin. </li>
                                    <li>Enables the customer to take a larger share of the equity market to a level that goes above his resources at hand; Thus, it is a mechanism that allows trading with borrowed funds or securities</li>
                                    <li>Permits the customer to pay just a part of the total scrip purchase price, while KRChoksey will provide a loan to account for the balance amount</li>
                                </ul>
                                <h3>So, what next?</h3>
								<div class="what_nxt_bttn_box clearfix">
                            <ul>
                                <li>
                                     <a href="tel:+912266965513">
									 	<div class="box_one clearfix" >
											<img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</div>
									     </a>
                                	</li>
								 <li>
									 <a href="mailto:service@XXXXXXX.XXX">
										<div class="box_two clearfix" >
											<img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon">service@XXXXXXX.XXX</div>
										 </a>
									</li>
                               
                            </ul>
                        </div>
                                <!--<div class="what_next_bttn_box clearfix">
                                    <div class="what_next_bttn clearfix">
                                        <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                                    </div>
                                    <div class="what_next_bttn_one clearfix">
                                        <a href="mailto: eservice@XXXXXXX.XXX"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                                    </div>
                                </div>-->
                            </div>

                            <h3>Loan against Mutual Funds units</h3>
                            <div>
                                <h3>Why you need Loan Against Mutual Funds (LAMF)?</h3>
                                <ul>
                                    <li>The LAMF is a beneficial monetary tool for those looking to leverage their otherwise idle mutual fund investments, and raise capital quickly for short term financing needs</li>
                                    <li>You need not sell your mutual fund units, nor is your ownership of the fund units divested after pledging them for a loan</li>
                                    <li>You may take a loan against the mutual funds you own to earn immediate returns on it, as well as earn surplus reserves to invest elsewhere.</li>
                                    <li>KRChoksey also enables the borrower to buy additional mutual fund units even when they don't have the entire amount of money required</li>
                                    <li>The borrower may bring in the margin amount and we will provide the balance amount as loan</li>
                                </ul>
                                <h3>Brief details of Loan Against Mutual Funds (LAMF):</h3>
                                <ul>
                                    <li>Offers customers the opportunity of receiving immediate liquidity against the mutual fund units they own</li>
                                    <li>Provides an overdraft facility for short-term monetary requirements, with a relatively shorter tenure than other loans. </li>
                                </ul>
                                <h3>So, what next?</h3>
									<div class="what_nxt_bttn_box clearfix">
                            <ul>
                                <li>
                                     <a href="tel:+912266965513">
									 	<div class="box_one clearfix" >
											<img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</div>
									     </a>
                                	</li>
								 <li>
									 <a href="mailto:service@XXXXXXX.XXX">
										<div class="box_two clearfix" >
											<img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon">service@XXXXXXX.XXX</div>
										 </a>
									</li>
                               
                            </ul>
                        </div>
						
						
                                <!--<div class="what_next_bttn_box clearfix">
                                    <div class="what_next_bttn clearfix">
                                        <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                                    </div>
                                    <div class="what_next_bttn_one clearfix">
                                        <a href="mailto: eservice@XXXXXXX.XXX"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                                    </div>
                                </div>-->
                            </div>

                            <h3>Business Loans</h3>
                            <div>
                                <h3>Is a Business Loan for you?</h3>
                                <ul>
                                    <li>Your business can profit from borrowing essential funds required to upscale operations, purchase of new premises and machinery, acquire the latest technology etc</li>
                                    <li>Taking a business loan at competitive interest rates will propel your goals towards rapid fruition</li>
                                </ul>
                                <h3>Brief details</h3>
                                <ul>
                                    <li>Facilitates businesses in an increasingly competitive environment by providing the edge through funding – companies can take loans for business expansion, machinery purchase, or to even start a new business</li>
                                    <li>Offers businesses the opportunity to realise their goals by fulfilling various financial needs, from working capital requirement to debt consolidation and asset acquisition</li>
                                </ul>
                                <h4>Documents required to process application:</h4>
                                <ul>
                                    <li>Latest audited financials and Income Tax Returns filed for last two years along with computation of income</li>
                                    <li>Bank statement for the last 6 months</li>
                                    <li>KYC documents as required</li>
                                </ul>
                                <h3>So, what next?</h3>
								<div class="what_nxt_bttn_box clearfix">
                            <ul>
                                <li>
                                     <a href="tel:+912266965513">
									 	<div class="box_one clearfix" >
											<img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</div>
									     </a>
                                	</li>
								 <li>
									 <a href="mailto:service@XXXXXXX.XXX">
										<div class="box_two clearfix" >
											<img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon">service@XXXXXXX.XXX</div>
										 </a>
									</li>
                               
                            </ul>
                        </div>
                               <!-- <div class="what_next_bttn_box clearfix">
                                    <div class="what_next_bttn clearfix">
                                        <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                                    </div>
                                    <div class="what_next_bttn_one clearfix">
                                        <a href="mailto: eservice@XXXXXXX.XXX"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                                    </div>
                                </div>-->
                            </div>

                            <h3>Personal Loans</h3>
                            <div>
                                <h3>Is a personal loan for you? </h3>
                                <ul>
                                    <li>Yes, if your primary goal for your loved ones is to fulfil their every dream</li>
                                    <li>You might find yourself short of funds when you need them the most, and taking a loan serviced by KRChoksey can set you on a guaranteed path to wish fulfilment</li>
                                    <li>Often, people are tempted to borrow money from such private sources as friends and relatives, but taking a personal loan for marriage or home renovation (among many other purposes) from a reputed financial institution has many more benefits</li>
                                </ul>
                                <h3>Brief details of Personal loans</h3>
                                <ul>
                                    <li>KRChoksey caters to the personal loans requirement of various of borrowers.</li>
                                    <li>This loan product helps individuals borrow funds to pay for such expenses as debt consolidation, medical purposes, purchase of household or electronic goods, medical treatment, children's education or wedding, home improvement and even travel</li>
                                    <li>Broadly, it covers an individual's immediate personal need for funds</li>
                                </ul>
                                <h4> Documents required to process application:</h4>
                                <ul>
                                    <li>Last six months salary slip or latest audited financials and Income Tax Returns filed for last two years along with computation of income</li>
                                    <li>Bank statement for the last 6 months</li>
                                    <li>KYC documents as required</li>
                                </ul>
                                <h3>So, what next?</h3>
								<div class="what_nxt_bttn_box clearfix">
                            <ul>
                                <li>
                                     <a href="tel:+912266965513">
									 	<div class="box_one clearfix" >
											<img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</div>
									     </a>
                                	</li>
								 <li>
									 <a href="mailto:service@XXXXXXX.XXX">
										<div class="box_two clearfix" >
											<img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon">service@XXXXXXX.XXX</div>
										 </a>
									</li>
                               
                            </ul>
                        </div>
                                <!--<div class="what_next_bttn_box clearfix">
                                    <div class="what_next_bttn clearfix">
                                        <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                                    </div>
                                    <div class="what_next_bttn_one clearfix">
                                        <a href="mailto: eservice@XXXXXXX.XXX"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </section>
</section>


@*<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner"><img src="~/Content/images/ifund-banner.jpg" alt="I-fund banner" title="I-fund banner"></section>
        <!------------------------------ i-Fund Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading">
                    <h2>i-Fund</h2>
                </div>
                <div class="choksey_contt_sec clearfix">
                    <div class="inner_page_pad_box_one clearfix">
                        <div id="first">
                            <h3>Loan against Shares</h3>
                            <div>
                                <h3>Why do you need Loan Against Shares (LAS)?</h3>
                                <ul>
                                    <li>If you are a business owner requiring immediate funds, LAS is the most appropriate financing solution for you</li>
                                    <li>Businesses with expansion plans, or those requiring funds to procure additional manpower, machinery to scale operations should consider Loan against Securities</li>
                                    <li>Additionally, salaried individuals in need of immediate liquidity may also opt for this financing solution</li>
                                    <li>Loan against Securities may also be taken for personal reasons as well – consider it in lieu of loan for marriage or for your child's education loan</li>
                                </ul>
                                <h3>Brief details </h3>
                                <ul>
                                    <li>LAS is a loan against equity shares you own</li>
                                    <li>It helps you gain the financial flexibility that you need without disrupting your long-term investment strategy</li>
                                    <li>You do not need to sell your stocks; there is immediate liquidity once the shares are pledged in our favour</li>
                                    <li>The bonuses and dividends on the pledged shares will continue to accrue to you during the loan period</li>
                                    <li>These loans typically attract lower interest rates than other forms of credit and interest is charged only for the period the loan amount is used.</li>
                                </ul>
                                <h3>So, what next?</h3>
                                <div class="what_next_bttn_box clearfix">
                                    <div class="what_next_bttn clearfix">
                                        <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                                    </div>
                                    <div class="what_next_bttn_one clearfix">
                                        <a href="mailto: eservice@XXXXXXX.XXX?subject=Enquiry from i-Fund (Loan against Shares)"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                                    </div>
                                </div>
                            </div>

                            <h3>Margin Trade Finance</h3>
                            <div>
                                <h3>Is Margin Trade Finance for you?</h3>
                                <ul>
                                    <li>If you are looking for increased exposure in the capital market, it is advisable to consider Margin Trade Finance to leverage your existing shareholdings</li>
                                    <li>Margin Trade Finance is a far more practical option as opposed to futures trading, if you require finance facility</li>
                                    <li>It is also advised for investing in stocks not included on the futures list</li>
                                    <li>With a margin loan, you gain the flexibility of earning money over smaller price movements against the large numbers of stocks you can purchase with the loan amount</li>
                                    <li>KRChoksey charges interest on the utilised portion of the loan amount </li>
                                </ul>
                                <h3>Brief details </h3>
                                <ul>
                                    <li>Offers customers the opportunity to invest/leverage/trade in equity shares at a pre-defined margin. </li>
                                    <li>Enables the customer to take a larger share of the equity market to a level that goes above his resources at hand; Thus, it is a mechanism that allows trading with borrowed funds or securities</li>
                                    <li>Permits the customer to pay just a part of the total scrip purchase price, while KRChoksey will provide a loan to account for the balance amount</li>
                                </ul>
                                <h3>So, what next?</h3>
                                <div class="what_next_bttn_box clearfix">
                                    <div class="what_next_bttn clearfix">
                                        <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                                    </div>
                                    <div class="what_next_bttn_one clearfix">
                                        <a href="mailto: eservice@XXXXXXX.XXX?subject=Enquiry from i-Fund (Margin Trade Finance)"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                                    </div>
                                </div>
                            </div>

                            <h3>Loan against Mutual Funds units</h3>
                            <div>
                                <h3>Why you need Loan Against Mutual Funds (LAMF)?</h3>
                                <ul>
                                    <li>The LAMF is a beneficial monetary tool for those looking to leverage their otherwise idle mutual fund investments, and raise capital quickly for short term financing needs</li>
                                    <li>You need not sell your mutual fund units, nor is your ownership of the fund units divested after pledging them for a loan</li>
                                    <li>You may take a loan against the mutual funds you own to earn immediate returns on it, as well as earn surplus reserves to invest elsewhere.</li>
                                    <li>KRChoksey also enables the borrower to buy additional mutual fund units even when they don't have the entire amount of money required</li>
                                    <li>The borrower may bring in the margin amount and we will provide the balance amount as loan</li>
                                </ul>
                                <h3>Brief details of Loan Against Mutual Funds (LAMF):</h3>
                                <ul>
                                    <li>Offers customers the opportunity of receiving immediate liquidity against the mutual fund units they own</li>
                                    <li>Provides an overdraft facility for short-term monetary requirements, with a relatively shorter tenure than other loans. </li>
                                </ul>
                                <h3>So, what next?</h3>
                                <div class="what_next_bttn_box clearfix">
                                    <div class="what_next_bttn clearfix">
                                        <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                                    </div>
                                    <div class="what_next_bttn_one clearfix">
                                        <a href="mailto: eservice@XXXXXXX.XXX?subject=Enquiry from i-Fund (Loan against Mutual Funds units)"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                                    </div>
                                </div>
                            </div>

                            <h3>Business Loans</h3>
                            <div>
                                <h3>Is a Business Loan for you?</h3>
                                <ul>
                                    <li>Your business can profit from borrowing essential funds required to upscale operations, purchase of new premises and machinery, acquire the latest technology etc</li>
                                    <li>Taking a business loan at competitive interest rates will propel your goals towards rapid fruition</li>
                                </ul>
                                <h3>Brief details</h3>
                                <ul>
                                    <li>Facilitates businesses in an increasingly competitive environment by providing the edge through funding – companies can take loans for business expansion, machinery purchase, or to even start a new business</li>
                                    <li>Offers businesses the opportunity to realise their goals by fulfilling various financial needs, from working capital requirement to debt consolidation and asset acquisition</li>
                                </ul>
                                <h4>Documents required to process application:</h4>
                                <ul>
                                    <li>Latest audited financials and Income Tax Returns filed for last two years along with computation of income</li>
                                    <li>Bank statement for the last 6 months</li>
                                    <li>KYC documents as required</li>
                                </ul>
                                <h3>So, what next?</h3>
                                <div class="what_next_bttn_box clearfix">
                                    <div class="what_next_bttn clearfix">
                                        <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                                    </div>
                                    <div class="what_next_bttn_one clearfix">
                                        <a href="mailto: eservice@XXXXXXX.XXX?subject=Enquiry from i-Fund (Business Loans)"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                                    </div>
                                </div>
                            </div>

                            <h3>Personal Loans</h3>
                            <div>
                                <h3>Is a personal loan for you? </h3>
                                <ul>
                                    <li>Yes, if your primary goal for your loved ones is to fulfil their every dream</li>
                                    <li>You might find yourself short of funds when you need them the most, and taking a loan serviced by KRChoksey can set you on a guaranteed path to wish fulfilment</li>
                                    <li>Often, people are tempted to borrow money from such private sources as friends and relatives, but taking a personal loan for marriage or home renovation (among many other purposes) from a reputed financial institution has many more benefits</li>
                                </ul>
                                <h3>Brief details of Personal loans</h3>
                                <ul>
                                    <li>KRChoksey caters to the personal loans requirement of various of borrowers.</li>
                                    <li>This loan product helps individuals borrow funds to pay for such expenses as debt consolidation, medical purposes, purchase of household or electronic goods, medical treatment, children's education or wedding, home improvement and even travel</li>
                                    <li>Broadly, it covers an individual's immediate personal need for funds</li>
                                </ul>
                                <h4> Documents required to process application:</h4>
                                <ul>
                                    <li>Last six months salary slip or latest audited financials and Income Tax Returns filed for last two years along with computation of income</li>
                                    <li>Bank statement for the last 6 months</li>
                                    <li>KYC documents as required</li>
                                </ul>
                                <h3>So, what next?</h3>
                                <div class="what_next_bttn_box clearfix">
                                    <div class="what_next_bttn clearfix">
                                        <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                                    </div>
                                    <div class="what_next_bttn_one clearfix">
                                        <a href="mailto: eservice@XXXXXXX.XXX?subject=Enquiry from i-Fund (Personal Loans)"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                                    </div
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </section>
</section>*@




