﻿@{
    ViewBag.Title = "i-Holding";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}
<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner">
            <div class="main_image clearfix">
                <div class="slider_text clearfix">
                    <div class="slider_text_content clearfix">
                        <h1 class="wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">Coming Soon</h1>
                    </div>
                    <div class="slider_image_content clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="1000ms"><img src="~/Content/images/i-hold-banner-image.png" alt="i-hold-banner-image" title="i-hold-banner-image"></div>
                </div>
                <img src="~/Content/images/inner-banner-bg.jpg" alt="Inner banner bg" title="Inner banner bg">
            </div>
        </section>
        <!------------------------------ About kr choksey Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="1600ms" data-wow-delay="1100ms">
                    <h2>Coming Soon</h2>
                </div>
            </article>
        </section>
    </section>
</section>






@*<section id="inner_banner">
    <div id="first-slider" style="height:100%;">
        <div id="carousel-example-generic" class="carousel slide carousel-fade">
            <!-- Wrapper for slides -->
            <div class="carousel-inner main_slider" role="listbox">
                <!-- Item 1 -->
                <div class="item active">
                    <div class="banner_box_sec">
                        <article class="slider_text clearfix">
                            <div class="slider_text_content clearfix">
                                <div class="heading">
                                    <h1 data-animation="animated slideInRight">Coming Soon</span></h1>
                                </div>
                            </div>
                            <div class="slider_image_section clearfix">
                                <p data-animation="animated slideInLeft">
                                    <img src="~/Content/images/i-hold-banner-image.png" alt="i-hold-banner-image" title="i-hold-banner-image">
                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="main_image clearfix">
                        <img src="~/Content/images/inner-banner-bg.jpg" alt="Inner banner bg" title="Inner banner bg">
                    </div>
                </div>
            </div>
            <!-- End Wrapper for slides-->
        </div>
    </div>
</section>*@

