﻿@model IEnumerable<KR_Choksey.Areas.Admin.Models.ResearchRptUpload>
@{
    ViewBag.Title = "i-PMS";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner">
            <div class="main_image clearfix">
                <div class="slider_text clearfix">
                    <div class="slider_text_content clearfix">
                        <h1 class="wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">No time to track your portfolio?</h1>
                        <h4 class="wow evnt_pakg fadeInUp animated" data-wow-duration="800ms" data-wow-delay="450ms">Worries about your investment positions as you are caught up with your daily business/job commitments?</h4>
                        <p class="wow evnt_pakg fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="800ms">Your Worries. Our Monitoring Solutions.</p>
                    </div>
                    <div class="slider_image_content clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="1000ms"><img src="~/Content/images/i-pms-banner-image.png" alt="i-pms-banner-image" title="i-pms-banner-image"></div>
                </div>
                <img src="~/Content/images/inner-banner-bg.jpg" alt="Inner banner bg" title="Inner banner bg">
            </div>
        </section>
        <!------------------------------ About kr choksey Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="1600ms" data-wow-delay="1100ms">
                    <h2>Portfolio Management</h2>
                </div>
                <div class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1900ms" data-wow-delay="1400ms">
                    <h3>Why do you need Portfolio Management Services (PMS)?</h3>
                    <ul>
                        <li>Provides you professional support to manage your portfolio</li>
                        <li>Ensures personalized management to generate higher returns in various investment cycles</li>
                        <li>Enhances returns through timely decision & online monitoring of portfolio</li>
                    </ul>
                    <h3>Brief details </h3>
                    <p>Active investors, Corporates, NRIs and professionals seeking to earn better ROI and ride with the India growth story can opt for our PMS services. We ensure that:</p>
                    <ul>
                        <li>Your portfolio is customised with the strategies as per your need</li>
                        <li>Your objectives to investment in equities and return expectations are primarily set</li>
                        <li>Your portfolio will be regularly tracked, monitored and reviewed reducing your attention and time to be spent on portfolio</li>
                        <li>With fast changing dynamics and business environment, we provide customer centric solutions for wealth creation</li>
                    </ul>
                    <div class="deposite_sec clearfix">
                        <ul>
                            <li class="no_choksey_bg"><a href="~/Content/WB_Reports/Risk Disclosure Document.pdf" target="_blank">Click here for Risk Disclosure Document</a></li>
                        </ul>
                    </div>
                    <h3>So, what next?</h3>
                    <div class="what_nxt_bttn_box clearfix">
                        <ul>
                            <li>
                                <a href="tel:+912266965513">
                                    <div class="box_one clearfix">
                                        <img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:service@XXXXXXX.XXX">
                                    <div class="box_two clearfix">
                                        <img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon">service@XXXXXXX.XXX
                                    </div>
                                </a>
                            </li>

                            @*<li>
    <a href="javascript:void(0)">
        <div class="box_three clearfix" >
            <img src="~/Content/images/download-icon.png" alt="Download icon" title="Download icon">Download</div>
         </a>
    </li>*@

                        </ul>
                    </div>


                    <div class="easy_invest_box half_w clearfix">
                        <h3>KRChoksey PMS Reports</h3>
                        @*<div class="easy_invest_pdf clearfix">
                                <a href="#" download>
                                    <img src="../Content/images/pdf-icon.png" alt="Pdf icon" title="Pdf icon">Lorem ipsum is simply
                                </a>
                            </div>
                            <div class="easy_invest_pdf clearfix">
                                <a href="#" download>
                                    <img src="../Content/images/pdf-icon.png" alt="Pdf icon" title="Pdf icon">Lorem ipsum is simply
                                </a>
                            </div>
                            <div class="easy_invest_pdf clearfix">
                                <a href="#" download>
                                    <img src="../Content/images/pdf-icon.png" alt="Pdf icon" title="Pdf icon">Lorem ipsum is simply
                                </a>
                            </div>*@
                        @if (Model.Count() > 0)
                        {
                            foreach (var data in Model)                            
                            {
                                if (@System.Web.HttpContext.Current.Session["UserId"] != null)
                                {
                                    <div class="easy_invest_pdf clearfix">
                                        <a href="../ResearchReport/@data.OriginalRptName" download>
                                            <img src="../Content/images/pdf-icon.png" alt="Pdf icon" title="Pdf icon">@data.ReportName
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="easy_invest_pdf clearfix" data-toggle="modal" data-target="#myModal">
                                        @*<button type="button" data-toggle="modal" data-target="#myModal">*@
                                        <img src="../Content/images/pdf-icon.png" alt="Pdf icon" title="Pdf icon">@data.ReportName
                                        @*</button>*@
                                    </div>

                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h2 class="modal-title" id="myModalLabel">Login</h2>
                                                </div>
                                                <div class="modal-body clearfix">
                                                    <div class="modal_body_left clearfix">
                                                        <p><a href="@Url.Action("Index", "Home")"><img src="~/Content/images/kr-choksey-logo-login.png" alt="KRChoksey logo" title="KRChoksey logo"></a></p>
                                                        <div class="login_bttn_link_sec clearfix">
                                                            <div class="login_bttn clearfix">
                                                                <a href="http://portfolio.myXXXXXXX.XXX/" target="_blank">KRC Wealth Tracker</a>
                                                            </div>
                                                            <div class="login_bttn clearfix">
                                                                @*<a href="@Url.Action("PMS", "Product")" target="_blank" class="krc_account">My PMS Account</a>*@
                                                                @*<a href="http://www.krchokseypms.com/" target="_blank" class="krc_account">My PMS Account</a>*@
                                                                <a href="https://www.XXXXXXX.XXX/myportfolio/" target="_blank" class="krc_account">My PMS Account</a>
                                                            </div>
                                                            @*<div class="login_bttn clearfix">
                                                                    <a href="http://www.pas.krchokseypms.com/" class="krc_account" target="_blank">My PAS Account</a>
                                                                </div>*@
                                                        </div>
                                                    </div>
                                                    <div class="modal_body_right clearfix">
                                                        <div id="tabs12">
                                                            <ul>
                                                                <li><a href="#tabs-1">Customer</a></li>
                                                                @*<li><a href="#tabs-2">Network Partner</a></li>*@
                                                            </ul>
                                                            <div id="tabs-1">
                                                                <div class="security_code">
                                                                    <div class="login_box_sec clearfix">
                                                                        @*<p>Please fill up the forms </p>*@
                                                                        <form class="contact_page4" method="post" action="">
                                                                            <div class="choksey_contt_section clearfix">
                                                                                <input type="text" placeholder="User name" value="" id="UserName" name="UserName" />
                                                                                <input type="password" placeholder="Password" value="" id="Password" name="Password" />
                                                                                @*<p id="ErrorDiv" style="visibility:hidden;color:red; font-weight:bold;">Username or Password is incorrect !</p>*@
                                                                                <input value="Sign In" type="button" id="SignIn" style="width:100%;background-color:#f7901e;color:white">
                                                                            </div>
                                                                        </form>
                                                                        <p><span><a href="@Url.Action("Forgot_Password","Account")">Forgot your password ?</a></span></p>
                                                                        @*<p><span><a href="@Url.Action("SignUp", "Account")" target="_blank">Create new account / Sign Up </a></span></p>*@
                                                                        <p><span><a href="@Url.Action("SignUp", "Account")" target="_blank">Sign Up to Start Creating Wealth</a></span></p>
                                                                        <p><span><a href=" http://www.krcintellect.com" target="_blank">Network Partner</a></span></p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }
                            <div class="easy_invest_bttn ex_bttn clearfix">
                                @*<a href="@Url.Action("LatestReports", "KRChokseyReports")">Read more</a>*@
                                <a href="@Url.Action("LatestReports", "KRChokseyReports")">View more</a>
                            </div>
                        }
                        else
                        {
                            <p>No Record To Show</p>
                        }
                    </div>



                    <!--<div class="what_next_bttn_box clearfix">
                        <div class="what_next_bttn clearfix">
                            <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                        </div>
                        <div class="what_next_bttn_one clearfix">
                            <a href="mailto: eservice@XXXXXXX.XXX"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                        </div>
                        <div class="what_next_bttn_one download_bttn clearfix">
                            <a href="#"><img src="~/Content/images/download-icon.png" alt="Download icon" title="Download icon">Download</a>
                        </div>
                    </div>-->
                </div>

            </article>
        </section>
        <!------------------------------ Vision Section ------------------------------>

    </section>
</section>




@*<section id="mid_body">
        <section id="inner_page">
            <!------------------------------ Banner ------------------------------>
            <section id="inner_banner"><img src="~/Content/images/i-pms-banner.jpg" alt="i-pms banner" title="i-pms banner"></section>
            <!------------------------------ About kr choksey Section ------------------------------>
            <section id="interoduction_sec">
                <article class="interoduction_sec_box clearfix">
                    <div class="heading">
                        <h2>Portfolio Management</h2>
                    </div>
                    <div class="choksey_contt_sec clearfix">
                        <h3>Why do you need Portfolio Management Services (PMS)?</h3>
                        <ul>
                            <li>Provides you professional support to manage your portfolio</li>
                            <li>Ensures personalized management to generate higher returns in various investment cycles</li>
                            <li>Enhances returns through timely decision & online monitoring of portfolio</li>
                        </ul>
                        <h3>Brief details </h3>
                        <p>Active investors, Corporates, NRIs and professionals seeking to earn better ROI and ride with the India growth story can opt for our PMS services. We ensure that:</p>
                        <ul>
                            <li>Your portfolio is customised with the strategies as per your need</li>
                            <li>Your objectives to investment in equities and return expectations are primarily set</li>
                            <li>Your portfolio will be regularly tracked, monitored and reviewed reducing your attention and time to be spent on portfolio</li>
                            <li>With fast changing dynamics and business environment, we provide customer centric solutions for wealth creation</li>
                        </ul>
                        <h3>So, what next?</h3>
                        <div class="what_next_bttn_box clearfix">
                            <div class="what_next_bttn clearfix">
                                <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                            </div>
                            <div class="what_next_bttn_one clearfix">
                                <a href="mailto: eservice@XXXXXXX.XXX?subject=Enquiry from i-PMS"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                            </div>
                        </div>
                    </div>

                </article>
            </section>
            <!------------------------------ Vision Section ------------------------------>

        </section>
    </section>*@

