﻿
@{
    ViewBag.Title = "Mutual Funds";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}
<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner"><img src="~/Content/images/wealth-management-banner.jpg" alt="Wealth management banner" title="Wealth management banner"></section>
        <!------------------------------ Introduction Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <article class="inter_para_text">
                    <article class="inter_para_text_body approach clearfix">
                        <div class="heading">
                            <h2>Introduction</h2>
                        </div>
                        <div class="choksey_contt_sec">
                            <p>The mass-affluent of India has an increasing appetite for mutual fund investments, looking for a robust choice of products as well as recommendations you can act upon and grow. KRChoksey is expanding its reach across to reach the mass-affluent investor across the breadth of the country. As one of India’s leading companies engaged in the activity of mutual fund advisory and distribution of Mutual Funds, KRCHOKSEY has positioned itself to serve as the bridge between large financial service providers and a multitude of resident and non-resident Indian investors.</p>
                            <p>Investing in a Mutual fund is an excellent way of diversifying risk as well as portfolio. </p>
                            <p>KRC presents its Mutual fund services that strive to meet all your mutual fund investment needs. We have a wide spectrum of investment schemes from all top mutual fund houses.KRC also provides recommendations based on in-depth research, mutual fund performance and mutual fund ratings to help meet your investment goals..</p>
                        </div>
                    </article>
                </article>
                <article class="inter_para_image">
                    <img src="~/Content/images/research-intro-image.jpg" alt="Research Introduction image" title="Research Introduction image">
                </article>
            </article>
        </section>
        <!------------------------------ Overview Section ------------------------------>
        <section id="online_trading">
            <article class="interoduction_sec_box clearfix">
                <article class="inter_para_image_one">
                    <img src="~/Content/images/mutual-funds-overview-image.jpg" alt="Mutual funds overview image" title="Mutual funds overview image">
                </article>
                <article class="inter_para_text_one">
                    <article class="inter_para_text_body_one derivatives clearfix">
                        <div class="heading">
                            <h2>Overview</h2>
                        </div>
                        <div class="choksey_contt_sec">
                            <p>Access to a diversified portfolio with a low investment, professional fund management, tax savings, liquidity, etc. are some of the factors that have contributed to making mutual funds an integral component of an investment portfolio.</p>
                            <p>At KRC, we believe that mutual funds enable you to fulfil your various life goals ranging from regular income generation to capital appreciation to planning for a secure retirement. There is a scheme for one and all. The key is to select schemes which will take you closer to your goals. Armed with this belief, we have emerged as one of the market leaders for advisory in equity and mutual fund investments.</p>
                        </div>
                    </article>
                </article>
            </article>
        </section>
        <!------------------------------ Features ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <article class="inter_para_text">
                    <article class="inter_para_text_body approach clearfix">
                        <div class="heading">
                            <h2>Features</h2>
                        </div>
                        <div class="choksey_contt_sec">
                            <ul>
                                <li>Team of relationship managers to help select the right scheme</li>
                                <li>Dedicated customer help desk</li>
                                <li>
                                    Client profiling<br>
                                    we study individual needs of our clients to determine a portfolio tailor-made to meet their requirements based on their risk tolerance.
                                </li>
                                <li>Seek to first understand our client's investment objectives, his risk taking ability and the investment horizon. </li>
                                <li>Recommend the best basket of schemes across various categories, to build a portfolio unique to his needs.</li>
                                <li>Monitor the portfolio regularly, to ensure that the performance is as per expectations</li>
                                <li>
                                    Portfolio tracking<br>
                                    Believing that the work does not end at investing, KRC regularly monitor client portfolio and provides periodic portfolio report updates on:
                                </li>
                                <li>Portfolio performance</li>
                                <li>Portfolio composition</li>
                                <li>Profit/loss statements</li>
                                <li>Summary of investments</li>
                                <li>Capital gains details</li>
                                <li>Dividend income statements</li>
                            </ul>
                        </div>
                    </article>
                </article>
                <article class="inter_para_image">
                    <img src="~/Content/images/mutual-funds-right-scheme-image.jpg" alt="Mutual funds right scheme image" title="Mutual funds right scheme image">
                </article>
            </article>
        </section>
        <!------------------------------ Advantages & Strengths of Mutual Fund Investment------------------------------>
        <section id="online_trading">
            <article class="interoduction_sec_box clearfix">
                <article class="inter_para_image_one">
                    <img src="~/Content/images/mutual-funds-investment-image.jpg" alt="Mutual funds investment image" title="Mutual funds investment image">
                </article>
                <article class="inter_para_text_one">
                    <article class="inter_para_text_body_one derivatives clearfix">
                        <div class="heading">
                            <h2>Advantages & Strengths of Mutual Fund Investment</h2>
                        </div>
                        <div class="choksey_contt_sec">
                            <ul>
                                <li>Unbiased and regular professional advice, based on individual needs</li>
                                <li>Professional management</li>
                                <li>Diversification</li>
                                <li>Affordability</li>
                                <li>Tax benefits</li>
                                <li>Liquidity</li>
                                <li>Rupee-cost averaging</li>
                                <li>Transparencyg</li>
                            </ul>
                        </div>
                    </article>
                </article>
            </article>
        </section>
        <!------------------------------ Services Approach ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <article class="inter_para_text">
                    <article class="inter_para_text_body approach clearfix">
                        <div class="heading">
                            <h2>Services Approach</h2>
                        </div>
                        <div class="choksey_contt_sec">
                            <p>We consider the following criteria for recommendation</p>
                            <h3>Reviewing the clients portfolio</h3>
                            <p>KRC helps you to systematically plan and execute financial strategies based on an in-depth understanding of your needs, your appetite for risk and the products that are available in the market.</p>
                            <p>We follow a three-step process for managing your wealth</p>
                            <ul>
                                <li>
                                    Step 1 - Understanding your needs and goals <br>
                                    Different individuals have diverse needs and goals in life. The practice of wealth management tries to ensure that your finances support these goals at every stage of your life. So, our first step to developing your customized investment portfolio is analyzing your needs and goals.
                                </li>

                                <li>
                                    Step 2 - Executing investments<br>
                                    While channelling your finances towards achieving your goals, we take in to account aspects like your cash flow requirements and your risk appetite. A right balance is struck between investing in liquid assets and in medium and long term investments. We suggest investment across various asset classes such as stocks (equities), mutual funds, debt assets etc. in varying proportions, depending on your profile. This helps in optimizing returns and ensuring risk mitigation through a diversified portfolio
                                </li>

                                <li>
                                    Step 3 - Reviewing portfolio at regular intervals<br>
                                    With constant changes in the business and economic environment it is important to review the portfolio from time to time and make necessary alterations whenever necessary. This helps in aligning the portfolio to the investment objective.
                                </li>
                            </ul>
                        </div>
                    </article>
                </article>
                <article class="inter_para_image">
                    <img src="~/Content/images/mutual-funds-service-approach-image.jpg" alt="Mutual funds service approach image" title="Mutual funds service approach image">
                </article>
            </article>
        </section>
        <!------------------------------ Recommended Investment Portfolios  ------------------------------>
        <section id="online_trading">
            <article class="interoduction_sec_box clearfix">
                <article class="inter_para_image_one">
                    <img src="~/Content/images/mutual-funds-portfolio-image.jpg" alt="Mutual funds portfolio image" title="Mutual funds portfolio image">
                </article>
                <article class="inter_para_text_one">
                    <article class="inter_para_text_body_one derivatives clearfix">
                        <div class="heading">
                            <h2>Recommended Investment Portfolios </h2>
                        </div>
                        <div class="choksey_contt_sec">
                            <p>At KRC, we believe that there are some who wish to invest with no particular financial goal in mind - they are looking only at wealth build-up. To cater to this segment, we have created 3 mutual fund investment portfolios based on the risk appetite of the investors. So, if you are one of them, then, allocate your investment as per the recommended portfolio which matches your risk taking ability.</p>
                            <h3>Low risk appetite </h3>
                            <p>If you are a low risk taker, we understand that capital preservation with stability of income is of importance to you. Hence, we recommend an investment portfolio which is more aligned towards debt in comparison with equity. A nominal exposure to equity is recommended to marginally improve the overall returns without taking on undue additional risk.</p>
                            <div class="mutual_funds clearfix">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center" valign="middle" class="mutual_heading" width="50%">
                                            <p>Mutual Fund Scheme Type</p>
                                        </td>
                                        <td align="center" valign="middle" class="mutual_heading" width="50%">
                                            <p>Allocation (in %)</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle" width="50%">
                                            <p>Debt</p>
                                        </td>
                                        <td align="center" valign="middle" width="50%">
                                            <p>70 - 100</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle" width="50%">
                                            <p>Equity</p>
                                        </td>
                                        <td align="center" valign="middle" width="50%">0 - 30</td>
                                    </tr>
                                </table>
                            </div>

                            <h3>Medium risk appetite  </h3>
                            <p>If you are a medium risk taker, we understand that you wish to strike a balance between long-term growth and safety of capital. Hence, we recommend an investment portfolio where debt and equity enjoy a similar proportion.</p>
                            <div class="mutual_funds clearfix">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center" valign="middle" class="mutual_heading" width="50%">
                                            <p>Mutual Fund Scheme Type</p>
                                        </td>
                                        <td align="center" valign="middle" class="mutual_heading" width="50%">
                                            <p>Allocation (in %)</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle" width="50%">
                                            <p>Debt</p>
                                        </td>
                                        <td align="center" valign="middle" width="50%">
                                            <p>65 - 100</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle" width="50%">
                                            <p>Equity</p>
                                        </td>
                                        <td align="center" valign="middle" width="50%">0 - 35</td>
                                    </tr>
                                </table>
                            </div>

                            <h3>High risk appetite </h3>
                            <p>In case you have a high risk appetite, we understand for you capital growth over the long term is important. Hence, we recommend an investment portfolio which is more aligned towards equity in comparison with debt. A nominal exposure to debt is recommended to lend stability to the portfolio.</p>
                            <div class="mutual_funds clearfix">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center" valign="middle" class="mutual_heading" width="50%">
                                            <p>Mutual Fund Scheme Type</p>
                                        </td>
                                        <td align="center" valign="middle" class="mutual_heading" width="50%">
                                            <p>Allocation (in %)</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle" width="50%">
                                            <p>Debt</p>
                                        </td>
                                        <td align="center" valign="middle" width="50%">
                                            <p>0 - 20</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle" width="50%">
                                            <p>Equity</p>
                                        </td>
                                        <td align="center" valign="middle" width="50%">>80 - 100</td>
                                    </tr>
                                </table>
                            </div>
                            <h3>Investing Process</h3>
                            <ul>
                                <li>Collect the application form from our office.</li>
                                <li>Submit the completed form along with a copy of the PAN Card and the KYC acknowledgement received, along with the cheque/DD drawn in favour of the scheme.</li>
                                <li>On successful application, your bank account will be debited and you will be allotted units based on the prevailing day's NAV.</li>
                            </ul>
                        </div>
                    </article>
                </article>
            </article>
        </section>
        <!------------------------------ calculator portfolio  ------------------------------>
        <section id="calculator_portfolio">
            <article class="container">
                <article class="row">
                    <article class="portfolio_sec clearfix">
                        <div class="choksey_contt_sec clearfix">
                            <div class="portfolio_box clearfix">
                                <div class="request_back_sec clearfix">
                                    <div class="request_bttn">
                                        <a href="#">Request Call Back</a>
                                    </div>
                                    <div class="number_box">
                                        <input type="text" class="newsletter_input" value="" placeholder="Enter 10 Digit Mobile no" />
                                    </div>
                                </div>
                                <p><span>Our Relationship Managers shall connect back within 12 hours</span></p>
                            </div>
                            <div class="form_box_sec clearfix">
                                <div class="right_away_box clearfix">
                                    <h3>Get in touch <span>with us right away</span></h3>
                                    <h2>999 999 9999</h2>
                                </div>
                                <div class="right_away_box_area clearfix">
                                    <h3>Interested, send me more details</h3>
                                    <form class="contact_page2" method="post" action="">
                                        <div class="field_box clearfix">
                                            <div class="field_box_area clearfix">
                                                <input type="text" placeholder="Your Number" value="" />
                                            </div>
                                            <div class="field_box_area clearfix">
                                                <input type="text" placeholder="Phone Number" value="" />
                                            </div>
                                            <div class="field_box_area clearfix">
                                                <input type="text" placeholder="Email Address" value="" />
                                            </div>
                                        </div>
                                        <div class="field_box clearfix">
                                            <textarea name="Message" cols="" rows="" placeholder="Message"></textarea>
                                        </div>
                                        <div class="little_contt_section clearfix">
                                            <input value="submit" type="submit">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </article>

                </article>
            </article>
        </section>
    </section>
</section>

