﻿@model IEnumerable<KR_Choksey.Areas.Admin.Models.ResearchRptUpload>
@{
    ViewBag.Title = "Research";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}


<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner">
            <div class="main_image clearfix">
                <div class="slider_text clearfix">
                    <div class="slider_text_content clearfix">
                        <h1 class="wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">Research-driven approach. Conviction. Real-time news updates and notifications. </h1>
                        <h4 class="wow evnt_pakg fadeInUp animated" data-wow-duration="800ms" data-wow-delay="450ms">Looking forward to understand a company’s business fundamentals and technical charts?</h4>
                        <p class="wow evnt_pakg fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="800ms">Your queries. Our analysis. </p>
                    </div>
                    <div class="slider_image_content clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="1000ms"><img src="~/Content/images/research-banner-image.png" alt="research-banner-image" title="research-banner-image"></div>
                </div>
                <img src="~/Content/images/inner-banner-bg.jpg" alt="Inner banner bg" title="Inner banner bg">
            </div>
        </section>
        <!------------------------------ Why KRChoksey Research Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="1600ms" data-wow-delay="1100ms">
                    <h2>Research</h2>
                </div>
                <div class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1900ms" data-wow-delay="1400ms">
                    <h3>Why KRChoksey Research?</h3>
                    <p>Research being our core strength, a dedicated research team is available to provide clients with both fundamental as well as technical research. We identify the potential growth in a company and the right value you pay for it. Till date we have identified over 66 companies across small, mid and large cap and identified the valuations for efficient investing. </p>
                    <p>The team is actively covered in leading local and international newspapers, news channels as well as newswires/magazines and covers more than two-thirds of the total BSE market float. </p>
                    <h3>Brief details</h3>
                    <h4>Fundamental research</h4>
                    <p>Focus on high growth, undervalued companies with an aim of wealth creation Research products include:</p>
                    <div class="research_box clearfix">
                        <div class="research_box_individual clearfix">
                            <ul>
                                <li>Coverage of 66 companies</li>
                                <li>9 report types</li>
                            </ul>
                        </div>

                    </div>
                    <h3>Technical Research</h3>
                    <p>Focuses on forecasting the probable future price movements based on an examination of past price movements to anticipate “likely” to happen prices over time. Technical analysis is applicable to stocks, indices, commodities, futures or any tradable instrument where the price is influenced by the forces of supply and demand.</p>
                    <h4>Technical Analysis syndrome, a complex psychic</h4>
                    <ul>
                        <li>Technical analysis is based on the belief that past market trends can predict the future behaviour for the market and for individual stocks</li>
                        <li>Uses the charts to identify trends and changes in those trends</li>
                        <li>Demand & Supply scenario plays crucial role in the analysis</li>
                        <li>Prices move in trends and usually follow known patterns</li>
                    </ul>
                    <h4>Meets the expectations!!!!!</h4>
                    <ul>
                        <li>If an investor can correctly interpret a chart's "message" and predict a stock's movement, he or she can make good amount of money</li>
                        <li>Combining technical and fundamental analysis is the best way to evaluate entry points and exit, even for long term investment</li>
                    </ul>
                    <h4>Our offerings include:</h4>
                    <ul>
                        <li>Reports (derivative, index & cash stocks)</li>
                        <li>Stocks Recommendation</li>
                        <li>Technical Trading</li>
                        <li>PMS - technical</li>
                    </ul>
                    <h3>So, what next?</h3>
                    <div class="what_nxt_bttn_box clearfix">
                        <ul>
                            <li>
                                <a href="tel:+912266965513">
                                    <div class="box_one clearfix">
                                        <img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:service@XXXXXXX.XXX">
                                    <div class="box_two clearfix">
                                        <img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon">service@XXXXXXX.XXX
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="easy_invest_box half_w clearfix">
                        <h3>KRChoksey Research Reports</h3>
                        @*<div class="easy_invest_pdf clearfix">
                                <a href="#" download>
                                    <img src="../Content/images/pdf-icon.png" alt="Pdf icon" title="Pdf icon">Lorem ipsum is simply
                                </a>
                            </div>
                            <div class="easy_invest_pdf clearfix">
                                <a href="#" download>
                                    <img src="../Content/images/pdf-icon.png" alt="Pdf icon" title="Pdf icon">Lorem ipsum is simply
                                </a>
                            </div>
                            <div class="easy_invest_pdf clearfix">
                                <a href="#" download>
                                    <img src="../Content/images/pdf-icon.png" alt="Pdf icon" title="Pdf icon">Lorem ipsum is simply
                                </a>
                            </div>*@
                        @if (Model.Count() > 0)
                        {
                            foreach (var data in Model)                            
                            {
                                if (@System.Web.HttpContext.Current.Session["UserId"] != null)
                                {
                                    <div class="easy_invest_pdf clearfix">
                                        <a href="../ResearchReport/@data.OriginalRptName" download>
                                            <img src="../Content/images/pdf-icon.png" alt="Pdf icon" title="Pdf icon">@data.ReportName
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="easy_invest_pdf clearfix" data-toggle="modal" data-target="#myModal">
                                        @*<button type="button" data-toggle="modal" data-target="#myModal">*@
                                        <img src="../Content/images/pdf-icon.png" alt="Pdf icon" title="Pdf icon">@data.ReportName
                                        @*</button>*@
                                    </div>

                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h2 class="modal-title" id="myModalLabel">Login</h2>
                                                </div>
                                                <div class="modal-body clearfix">
                                                    <div class="modal_body_left clearfix">
                                                        <p><a href="@Url.Action("Index", "Home")"><img src="~/Content/images/kr-choksey-logo-login.png" alt="KRChoksey logo" title="KRChoksey logo"></a></p>
                                                        <div class="login_bttn_link_sec clearfix">
                                                            <div class="login_bttn clearfix">
                                                                <a href="http://portfolio.myXXXXXXX.XXX/" target="_blank">KRC Wealth Tracker</a>
                                                            </div>
                                                            <div class="login_bttn clearfix">
                                                                @*<a href="@Url.Action("PMS", "Product")" target="_blank" class="krc_account">My PMS Account</a>*@
                                                                @*<a href="http://www.krchokseypms.com/" target="_blank" class="krc_account">My PMS Account</a>*@
                                                                <a href="https://www.XXXXXXX.XXX/myportfolio/" target="_blank" class="krc_account">My PMS Account</a>
                                                            </div>
                                                            @*<div class="login_bttn clearfix">
                                                                    <a href="http://www.pas.krchokseypms.com/" class="krc_account" target="_blank">My PAS Account</a>
                                                                </div>*@
                                                        </div>
                                                    </div>
                                                    <div class="modal_body_right clearfix">
                                                        <div id="tabs12">
                                                            <ul>
                                                                <li><a href="#tabs-1">Customer</a></li>
                                                                @*<li><a href="#tabs-2">Network Partner</a></li>*@
                                                            </ul>
                                                            <div id="tabs-1">
                                                                <div class="security_code">
                                                                    <div class="login_box_sec clearfix">
                                                                        @*<p>Please fill up the forms </p>*@
                                                                        <form class="contact_page4" method="post" action="">
                                                                            <div class="choksey_contt_section clearfix">
                                                                                <input type="text" placeholder="User name" value="" id="UserName" name="UserName" />
                                                                                <input type="password" placeholder="Password" value="" id="Password" name="Password" />
                                                                                @*<p id="ErrorDiv" style="visibility:hidden;color:red; font-weight:bold;">Username or Password is incorrect !</p>*@
                                                                                <input value="Sign In" type="button" id="SignIn" style="width:100%;background-color:#f7901e;color:white">
                                                                            </div>
                                                                        </form>
                                                                        <p><span><a href="@Url.Action("Forgot_Password","Account")">Forgot your password ?</a></span></p>
                                                                        @*<p><span><a href="@Url.Action("SignUp", "Account")" target="_blank">Create new account / Sign Up </a></span></p>*@
                                                                        <p><span><a href="@Url.Action("SignUp", "Account")" target="_blank">Sign Up to Start Creating Wealth</a></span></p>
                                                                        <p><span><a href=" http://www.krcintellect.com" target="_blank">Network Partner</a></span></p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }
                            <div class="easy_invest_bttn ex_bttn clearfix">
                                @*<a href="@Url.Action("LatestReports", "KRChokseyReports")">Read more</a>*@
                                <a href="@Url.Action("LatestReports", "KRChokseyReports")">View more</a>
                            </div>
                        }
                        else
                        {
                            <p>No Record To Show</p>
                        }
                    </div>

                    <!-- <div class="what_next_bttn_box clearfix">
                        <div class="what_next_bttn clearfix">
                            <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                        </div>
                        <div class="what_next_bttn_one clearfix">
                            <a href="mailto: eservice@XXXXXXX.XXX"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                        </div>
                    </div>-->
                </div>
            </article>
        </section>
    </section>

</section>


@*<section id="mid_body">
        <section id="inner_page">
            <!------------------------------ Banner ------------------------------>
            <section id="inner_banner"><img src="~/Content/images/research-banner.jpg" alt="Research banner" title="Research banner"></section>
            <!------------------------------ Why KRChoksey Research Section ------------------------------>
            <section id="interoduction_sec">
                <article class="interoduction_sec_box clearfix">
                    <div class="heading">
                        <h2>Research</h2>
                    </div>
                    <div class="choksey_contt_sec clearfix">
                        <h3>Why KRChoksey Research?</h3>
                        <p>Research being our core strength, a dedicated research team is available to provide clients with both fundamental as well as technical research. We identify the potential growth in a company and the right value you pay for it. Till date we have identified over 66 companies across small, mid and large cap and identified the valuations for efficient investing. </p>
                        <p>The team is actively covered in leading local and international newspapers, news channels as well as newswires/magazines and covers more than two-thirds of the total BSE market float. </p>
                        <h3>Brief details</h3>
                        <h4>Fundamental research</h4>
                        <p>Focus on high growth, undervalued companies with an aim of wealth creation Research products include:</p>
                        <div class="research_box clearfix">
                            <div class="research_box_individual clearfix">
                                <ul>
                                    <li>Coverage of 66 companies</li>
                                    <li>9 report types</li>
                                </ul>
                            </div>
                        </div>
                        <h3>Technical Research</h3>
                        <p>Focuses on forecasting the probable future price movements based on an examination of past price movements to anticipate “likely” to happen prices over time. Technical analysis is applicable to stocks, indices, commodities, futures or any tradable instrument where the price is influenced by the forces of supply and demand.</p>
                        <h4>Technical Analysis syndrome, a complex psychic</h4>
                        <ul>
                            <li>Technical analysis is based on the belief that past market trends can predict the future behaviour for the market and for individual stocks</li>
                            <li>Uses the charts to identify trends and changes in those trends</li>
                            <li>Demand & Supply scenario plays crucial role in the analysis</li>
                            <li>Prices move in trends and usually follow known patterns</li>
                        </ul>
                        <h4>Meets the expectations!!!!!</h4>
                        <ul>
                            <li>If an investor can correctly interpret a chart's "message" and predict a stock's movement, he or she can make good amount of money</li>
                            <li>Combining technical and fundamental analysis is the best way to evaluate entry points and exit, even for long term investment</li>
                        </ul>
                        <h4>Our offerings include:</h4>
                        <ul>
                            <li>Reports (derivative, index & cash stocks)</li>
                            <li>Stocks Recommendation</li>
                            <li>Technical Trading</li>
                            <li>PMS - technical</li>
                        </ul>
                        <h3>So, what next?</h3>
                        <div class="what_next_bttn_box clearfix">
                            <div class="what_next_bttn clearfix">
                                <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                            </div>
                            <div class="what_next_bttn_one clearfix">
                                <a href="mailto: eservice@XXXXXXX.XXX?subject=Enquiry from Research"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </section>
    </section>*@


