﻿
@{
    ViewBag.Title = "KRC Blasters";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
<section id="inner_page">
    <!------------------------------ Banner ------------------------------>
    <section id="inner_banner"><img src="~/Content/images/wealth-management-banner.jpg" alt="Wealth management banner" title="Wealth management banner"></section>
    <!------------------------------ Subscribe Report------------------------------>
    <section id="online_trading">
        <article class="interoduction_sec_box clearfix">
            <article class="insurance_body clearfix">
                <div class="heading">
                    <h2>KRC Blasters</h2>
                </div>
                <article class="choksey_contt_sec clearfix">
                    <p>KRC Blasters uses the medium of cellular technology and provides you with SMS Alerts Daily 2 - 4 intraday / intraweek calls -- instant information and earning ideas to maximize your market opportunities in both the cash and derivatives market.</p>
                    <p>Clients can accrue of this on paid subscription.</p>
                    <p>To View Our Past Perfomance <span><a href="http://www.XXXXXXX.XXX/ekrc/content/sreports/Past%20Performance%20Report.pdf">Click Here</a></span></p>
                </article>
            </article>
        </article>
    </section>
</section>
	</section>

