﻿
@{
    ViewBag.Title = "GetBSEGroupList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetBSEGroupList</h2>

@using (Html.BeginForm("GetBSEGroupList", "OnlineCMOTSApi", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{


    <div class="row">

        <input type="text" id="Mobile" name="Mobile" />

    </div>




    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {

        myFunc();

        function myFunc() {


            $.ajax(
      {
          type: 'GET',
          url: "http://krchokseyapi.cmlinks.com/Equity/Equity.svc/Group-List/bse",
          data: { responsetype: "json" },
          success: function (response)
          {
              //alert(response);
              var result = response.slice(78, -4);
              //alert(result);
              $("#Mobile").val(result);

              mpost(result);
              alert('Data Inserted');
          },
          error: function (xhr, ajaxOptions, thrownError) {
             // alert('GET failed.');
          }

      });

        }



        function mpost(result)
        {

            $.ajax(
     {

         type: 'POST',
         url: "/OnlineCMOTSApi/GetBSEGroupList/",
         //url: "/OnlineCMOTSApi/TestData/",
         data: {
             group: result
         },
         success: function (response) {

         },
         error: function (xhr, ajaxOptions, thrownError) {
           //  alert('Post failed.');
         }

     });
        }
    });



    </script>
}