﻿@model IEnumerable<KR_Choksey.Models.CmotsCompanyNews>
@{
    ViewBag.Title = "GetCmotsCompanyNews_Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>

<h2>GetCmotsCompanyNews_Details</h2>

@using (Html.BeginForm("GetCmotsCompanyNews_Details", "OnlineCMOTSApi", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{

    <div class="jumbotron">
        @*<h1>ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

    <div class="row">

        <input type="text" id="CompanyDetails" name="CompanyDetails" />

        <input type="text" id="sc_code" name="sc_code" />
        <input type="text" id="lname" name="lname" />
        <input type="text" id="co_code" name="co_code" />
        <input type="text" id="symbol" name="symbol" />
        <input type="text" id="caption" name="caption" />
        <input type="text" id="date" name="date" />
        <input type="text" id="memo" name="memo" />

        <input type="submit" id="Post" name="Post" />


        @foreach (var item in Model)
        {
            <script type="text/javascript">

                var urldata = "http://krchokseyapi.cmlinks.com/Company-Information/Company-Info.svc/companynews_details/@item.sr_no";
   // var urldata = "http://krchokseyapi.cmlinks.com/Company-Information/Company-Info.svc/companynews_details/15293010116";
                var sr_no=@item.sr_no;
                JK(urldata,sr_no)
                function JK(urldata,sr_no) {

        //$('#CompanyDetails').val(co_code);
        //alert(urldata);

        $.ajax(
  {
      type: 'GET',
      url: urldata,
      data: { responsetype: "json" },
      success: function (response) {
          //alert(response);
          var result = response.slice(105, -4);
          //var result = response.slice(90, -4);
          // alert(result);

          //var str = result;
          //var new_re = str.replace(/<p>/g, " ");
          //alert(new_re);

          @*var new_result =  @HtmlDecode(result);
          alert(new_result);*@
          // $("#CompanyDetails").val(result);


          //$.each($.parseJSON(result), function (idx, obj) {
          //    alert(obj.sc_code);
          //    $("#sc_code").val(obj.sc_code);
          //    $("#lname").val(obj.lname);
          //    $("#co_code").val(obj.co_code);
          //    $("#symbol").val(obj.symbol);
          //    $("#caption").val(obj.caption);
          //    $("#date").val(obj.date);
          //    $("#memo").val(obj.memo);
          //});


          mpost(result,sr_no);
          // mpost();
          sleep(50000);
      },
      error: function (xhr, ajaxOptions, thrownError) {
          // alert('GET failed.');
      }

  });


    }

    function sleep(milliseconds) {
        var start = new Date().getTime();
        for (var i = 0; i < 1e7; i++) {
            if ((new Date().getTime() - start) > milliseconds) {
                break;
            }
        }
    }




    function mpost(result,sr_no) {
        //alert(result);
        //alert(co_code);
        $.ajax(
 {

     type: 'POST',
     url: "/OnlineCMOTSApi/GetCmotsCompanyNews_Details/",
     dataType: 'json',
     data:
         {
             'group': result,
             'sr_no1':sr_no
         },
     // contentType: 'application/json; charset=utf-8',
     success: function (response) {

     },
     error: function (xhr, ajaxOptions, thrownError) {
         //alert(xhr);
     }

 });
    }


            </script>
        }

    </div>


}