﻿
@{
    ViewBag.Title = "GetCmotsMFNewFundOffer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>

<h2>GetCmotsMFNewFundOffer</h2>

@using (Html.BeginForm("GetCmotsMFNewFundOffer", "OnlineCMOTSApi", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{

    <div class="jumbotron">
        @*<h1>ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

    <div class="row">

        <input type="text" id="CompanyDetails" name="CompanyDetails" />

        <input type="submit" id="Post" name="Post" />


    </div>

    <script type="text/javascript">

        var urldata = "http://krchokseyapi.cmlinks.com/Mutualfund/Mutualfund.svc/newfundoffer/";
        JK(urldata)
        function JK(urldata) {

            //$('#CompanyDetails').val(co_code);
            //alert(urldata);

            $.ajax(
      {
          type: 'GET',
          url: urldata,
          data: { responsetype: "json" },
          success: function (response) {
              //alert(response);
              var result = response.slice(88, -4);
              // alert(result);
              mpost(result);
              sleep(50000);
          },
          error: function (xhr, ajaxOptions, thrownError) {
              // alert('GET failed.');
          }

      });


        }

        function sleep(milliseconds) {
            var start = new Date().getTime();
            for (var i = 0; i < 1e7; i++) {
                if ((new Date().getTime() - start) > milliseconds) {
                    break;
                }
            }
        }


        function mpost(result) {
            $.ajax(
     {

         type: 'POST',
         url: "/OnlineCMOTSApi/GetCmotsMFNewFundOffer/",
         data:
             {
                 group: result
             },
         success: function (response) {

         },
         error: function (xhr, ajaxOptions, thrownError) {
             //  alert('Post failed.');
         }

     });
        }


    </script>
}