﻿@model IEnumerable<KR_Choksey.Models.CmotsCorporateNews>
@if (Model != null)
{
    <div class="choksey_contt_section clearfix">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            @*<tr>
                <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                    <h4>Headlines</h4>
                </td>
            </tr>*@
            <tr>
                <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                    <h4>Headlines</h4>
                </td>
            </tr>
            @{ int i = 0;
             int count = 0;
             foreach (var item in Model)
             {
                 string dvName = "CN" + (i + 1);
                <tr>
                    <td align="centre" valign="middle">
                        <div class="all_news_box clearfix">
                            <button type="button" class="news_box_button_one" data-toggle="modal" data-target="#@dvName">
                                @item.heading.ToString().PadRight(60).Substring(0, 60).TrimEnd()
                            </button>
                            <div class="modal fade" id="@dvName" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            @*<h2 class="modal-title" id="myModalLabel"></h2>*@
                                        </div>
                                        <div class="modal-body clearfix">
                                            <div class="choksey_contt_sec clearfix">
                                                <div class="choksey_contt_box clearfix">
                                                    <div class="news_box_button_one_sec">
                                                        <h3>@item.heading</h3>
                                                        <p>@Html.Raw(item.arttext)</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                 i++;
                 count++;
             }
            }
        </table>
        @*<div class="view_more clearfix">
                <a href="#">View more</a>
            </div>*@
    </div>
}




