﻿<article class="heading clearfix">
    <div class="heading_left">
        <h3>CAPITAL MARKET - Live News</h3>
    </div>
    @*<div class="heading_right">
        <p><a href="#"><img src="../Content/images/cross-icon.png" alt="Cross Icon" title="Cross Icon"></a></p>
    </div>*@
</article>
<article class="dashboard_sec clearfix">
    <div id="tabs13">
        <ul>
            <li><a href="#tabs-1">Hot Pursuit</a></li>
            <li><a href="#tabs-2">Corporate News</a></li>
            <li><a href="#tabs-3">Economy</a></li>
            <li><a href="#tabs-4">Stock Alert</a></li>
        </ul>
        <article class="markets_box_sec clearfix">            
            <div id="tabs-1">
                @Html.Action("Capital_Market_Hot_Pursuit", "CMOT")
            </div>
            <div id="tabs-2">
                @Html.Action("Capital_Market_Corporate_News", "CMOT")
            </div>
            <div id="tabs-3">
                @Html.Action("Capital_Market_Economy", "CMOT")
            </div>
            <div id="tabs-4">
                @Html.Action("Capital_Market_Stock_Alert", "CMOT")
            </div>
        </article>
    </div>
</article>
