﻿@model IEnumerable<KR_Choksey.Models.CmotsCommoditiesGainers>
@if (Model != null)
{

    <div id="tabs-1">
        <div class="choksey_contt_section clearfix">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px; width:16% ">
                        <h4>Commodity</h4>
                    </td>
                    <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px; width:17% ">
                        <h4>Expiry Date</h4>
                    </td>
                    <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px; width:12% ">
                        <h4>LTP <span class="fa fa-inr"></span></h4>
                    </td>
                    <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px; width:24% ">
                        <h4>Previous Close <span class="fa fa-inr"></span></h4>
                    </td>
                    <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px; width:18% ">
                        <h4>Difference <span class="fa fa-inr"></span></h4>
                    </td>
                    <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px; width:13% ">
                        <h4>Change(%)</h4>
                    </td>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td align="centre" valign="middle" width="16%">
                            <p>@item.CommName</p>
                        </td>
                        <td align="centre" valign="middle" width="17%">
                            <p>@Convert.ToDateTime(item.Exp_Date).ToString("dd/MM/yyyy")</p>
                        </td>
                        <td align="centre" valign="middle" width="12%">
                            <p>@item.ClosePrice</p>
                        </td>
                        <td align="centre" valign="middle" width="24%">
                            <p>@item.PrevClose</p>
                        </td>
                        <td align="centre" valign="middle" width="18%">
                            <p style="color: #28c255;">+@item.Diff</p>
                        </td>
                        <td align="centre" valign="middle" width="13%">
                            <p style="color: #28c255;">+@item.Change</p>
                    </td>
                </tr>

                }
            </table>
        </div>
    </div>
}

