﻿
<article class="heading clearfix">
    <div class="heading_left">
        <h3>COMMODITIES</h3>
    </div>
    @*<div class="heading_right">
        <p><a href="#"><img src="../Content/images/cross-icon.png" alt="Cross Icon" title="Cross Icon"></a></p>
    </div>*@
</article>
<article class="dashboard_sec clearfix">
    <div id="tabs11">
        <ul>
            @*<li><a href="#tabs-1">Gainers & Losers</a></li>
            <li><a href="#tabs-2">Closing Prices</a></li>*@
            <li><a href="#tabs-1">Gainers</a></li>
            <li><a href="#tabs-2">Losers</a></li>
            <li><a href="#tabs-3">Closing Prices</a></li>
        </ul>
        <article class="markets_box_sec clearfix">
            <div id="tabs-1">
                @Html.Action("Commodities_Gain", "CMOT")
            </div>
            <div id="tabs-2">
                @Html.Action("Commodities_Lose", "CMOT")
            </div>
            <div id="tabs-3">
                @Html.Action("Commodities_Closed_Price", "CMOT")
            </div>
        </article>
    </div>
</article>




