﻿@model IEnumerable<KR_Choksey.Models.CmotsCommoditiesClosingPrices>
@if (Model != null)
{

    <div class="choksey_contt_section clearfix">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            @*<tr>
                <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                    <h4>Comp. Name</h4>
                </td>
                <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                    <h4>Close Price</h4>
                </td>
                <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                    <h4>Diff. </h4>
                </td>
            </tr>*@
            <tr>
                <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                    <h4>Comp. Name</h4>
                </td>
                <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                    <h4>Close Price</h4>
                </td>
                <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                    <h4>Diff. </h4>
                </td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="centre" valign="middle">
                        <p>@item.CommName</p>
                    </td>
                    <td align="centre" valign="middle">
                        <p>@item.ClosePrice</p>
                    </td>
                    <td align="centre" valign="middle">
                        <p>@item.Diff</p>
                    </td>
                </tr>
            }
        </table>
        @*<div class="view_more clearfix">
                <a href="#">View more</a>
            </div>*@
    </div>
}

