﻿
<article class="heading clearfix">
    <div class="heading_left">
        <h3>DERIVATIVES</h3>
    </div>
    @*<div class="heading_right">
        <p><a href="#"><img src="../Content/images/cross-icon.png" alt="Cross Icon" title="Cross Icon"></a></p>
    </div>*@
</article>
<article class="dashboard_sec clearfix">
    <div id="tabs5">
        <ul>
            <li><a href="#tabs-1">Top Gainers</a></li>
            <li><a href="#tabs-2">Top Losers</a></li>
        </ul>
        <article class="markets_box_sec clearfix">
            <div id="tabs-1">
                <div id="tabs6">
                    <ul>
                        <li><a href="#tabs-8">OPTIONS</a></li>
                        <li><a href="#tabs-7">FUTURES</a></li>
                        
                    </ul>
                    <article class="markets_box_sec clearfix">
                        <div id="tabs-8">
                            @Html.Action("OPTIONS_GAINERS", "CMOT")
                        </div>
                        <div id="tabs-7">
                            @Html.Action("FUTURES_GAINERS", "CMOT")
                        </div>
                       
                    </article>
                </div>
            </div>
            <div id="tabs-2">
                <div id="tabs7">
                    <ul>
                        <li><a href="#tabs-11">OPTIONS</a></li>
                        <li><a href="#tabs-10">FUTURES</a></li>
                        
                    </ul>
                    <article class="markets_box_sec clearfix">
                        <div id="tabs-11">
                            @Html.Action("OPTIONS_LOSERS", "CMOT")
                        </div>
                        <div id="tabs-10">
                            @Html.Action("FUTURES_LOSERS", "CMOT")
                        </div>
                        
                    </article>
                </div>
            </div>            
        </article>
    </div>
</article>


