﻿<article class="heading clearfix">
    <div class="heading_left">
        <h3>EQUITY</h3>
    </div>
    @*<div class="heading_right">
        <p><a href="#"><img src="../Content/images/cross-icon.png" alt="Cross Icon" title="Cross Icon"></a></p>
    </div>*@
</article>
<article class="dashboard_sec clearfix">
    <div id="tabs1">
        <ul>
            <li><a href="#tabs-1">Top Gainers</a></li>
            <li><a href="#tabs-2">Top Losers</a></li>
            <li><a href="#tabs-3">Index Movers</a></li>
        </ul>
        <article class="markets_box_sec clearfix">
            <div id="tabs-1">
                <div id="tabs2">
                    <ul>
                        <li><a href="#tabs-7">NSE</a></li>
                        <li><a href="#tabs-8">BSE</a></li>
                    </ul>
                    <article class="markets_box_sec clearfix">
                        <div id="tabs-7">
                            @Html.Action("NSE_GAINERS", "CMOT")
                        </div>
                        <div id="tabs-8">
                            @Html.Action("BSE_GAINERS", "CMOT")
                        </div>
                    </article>
                </div>
            </div>
            <div id="tabs-2">
                @*<p>hakhfksdhf</p>*@
                <div id="tabs3">
                    <ul>
                        <li><a href="#tabs-10">NSE</a></li>
                        <li><a href="#tabs-11">BSE</a></li>
                    </ul>
                    <article class="markets_box_sec clearfix">
                        <div id="tabs-10">
                            @Html.Action("NSE_LOSERS", "CMOT")
                        </div>
                        <div id="tabs-11">
                            @Html.Action("BSE_LOSERS", "CMOT")
                        </div>
                    </article>
                </div>
            </div>
            <div id="tabs-3">
                @*<p>hakhfksdhf</p>*@
                <div id="tabs4">
                    <ul>
                        <li><a href="#tabs-13">NSE</a></li>
                        <li><a href="#tabs-14">BSE</a></li>
                    </ul>
                    <article class="markets_box_sec clearfix">
                        <div id="tabs-13">
                            @Html.Action("NSE_Movers", "CMOT")
                        </div>
                        <div id="tabs-14">
                            @Html.Action("BSE_Movers", "CMOT")
                        </div>
                    </article>
                </div>
            </div>
        </article>
    </div>
</article>

