﻿
<article class="bse_news_box_sec clearfix">
    <div class="bse_news_text">
        <h3>BSE</h3>
    </div>
    @Html.Action("BSE_Ticker", "CMOT")
</article>
<article class="bse_news_box_sec clearfix">
    <div class="bse_news_text">
        <h3>NSE</h3>
    </div>
    @Html.Action("NSE_Ticker", "CMOT")
</article>
