﻿
<article class="heading clearfix">
    <div class="heading_left">
        <h3>IPO</h3>
    </div>
    @*<div class="heading_right">
            <p><a href="#"><img src="../Content/images/cross-icon.png" alt="Cross Icon" title="Cross Icon"></a></p>
        </div>*@
</article>

        <article class="dashboard_sec clearfix">
            <div id="tabs15">
                <ul>
                    <li><a href="#tabs-1">New Listing</a></li>
                    <li><a href="#tabs-2">Closed issues</a></li>
                    <li><a href="#tabs-3">Forthcoming issues</a></li>
                    <li><a href="#tabs-4">Open issues</a></li>
                </ul>
                <article class="markets_box_sec clearfix">
                    <div id="tabs-1">
                        <div id="tabs16">
                            <ul>
                                <li><a href="#tabs-7">NSE</a></li>
                                <li><a href="#tabs-8">BSE</a></li>
                            </ul>
                            <article class="markets_box_sec clearfix">
                                <div id="tabs-7">
                                    @Html.Action("IPO_NewListing_NSE", "CMOT")
                                   
                                </div>
                                <div id="tabs-8">
                                    @Html.Action("IPO_NewListing_BSE", "CMOT")
                                    @*<div class="markets_box clearfix">
                                        <div class="choksey_contt_section clearfix">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px; width:25% ">
                                                        <h4>Company</h4>
                                                    </td>
                                                    <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px; width:14% ">
                                                        <h4>Date</h4>
                                                    </td>
                                                    <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px; width:19% ">
                                                        <h4>Listing price</h4>
                                                    </td>
                                                    <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px; width:14% ">
                                                        <h4>High &#8377;</h4>
                                                    </td>
                                                    <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px; width:14% ">
                                                        <h4>Low &#8377;</h4>
                                                    </td>
                                                    <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px; width:14% ">
                                                        <h4>LTP &#8377;</h4>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="centre" valign="middle" width="25%">
                                                        <p><a href="#">Madhav Copper </a></p>
                                                    </td>
                                                    <td align="centre" valign="middle" width="14%">
                                                        <p>63.20</p>
                                                    </td>
                                                    <td align="centre" valign="middle" width="19%">
                                                        <p>63.20</p>
                                                    </td>
                                                    <td align="centre" valign="middle" width="14%">
                                                        <p>63.20</p>
                                                    </td>
                                                    <td align="centre" valign="middle" width="14%">
                                                        <p>63.20</p>
                                                    </td>
                                                    <td align="centre" valign="middle" width="14%">
                                                        <p>63.20</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="centre" valign="middle" width="25%">
                                                        <p><a href="#">BSE </a></p>
                                                    </td>
                                                    <td align="centre" valign="middle" width="14%">
                                                        <p>63.20</p>
                                                    </td>
                                                    <td align="centre" valign="middle" width="19%">
                                                        <p>63.20</p>
                                                    </td>
                                                    <td align="centre" valign="middle" width="14%">
                                                        <p>63.20</p>
                                                    </td>
                                                    <td align="centre" valign="middle" width="14%">
                                                        <p>63.20</p>
                                                    </td>
                                                    <td align="centre" valign="middle" width="14%">
                                                        <p>63.20</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="centre" valign="middle" width="25%">
                                                        <p><a href="#">Maheshwari Logi </a></p>
                                                    </td>
                                                    <td align="centre" valign="middle" width="14%">
                                                        <p>63.20</p>
                                                    </td>
                                                    <td align="centre" valign="middle" width="19%">
                                                        <p>63.20</p>
                                                    </td>
                                                    <td align="centre" valign="middle" width="14%">
                                                        <p>63.20</p>
                                                    </td>
                                                    <td align="centre" valign="middle" width="14%">
                                                        <p>63.20</p>
                                                    </td>
                                                    <td align="centre" valign="middle" width="14%">
                                                        <p>63.20</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="centre" valign="middle" width="25%">
                                                        <p><a href="#">Maheshwari Logi </a></p>
                                                    </td>
                                                    <td align="centre" valign="middle" width="14%">
                                                        <p>63.20</p>
                                                    </td>
                                                    <td align="centre" valign="middle" width="19%">
                                                        <p>63.20</p>
                                                    </td>
                                                    <td align="centre" valign="middle" width="14%">
                                                        <p>63.20</p>
                                                    </td>
                                                    <td align="centre" valign="middle" width="14%">
                                                        <p>63.20</p>
                                                    </td>
                                                    <td align="centre" valign="middle" width="14%">
                                                        <p>63.20</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>*@
                                </div>
                            </article>
                        </div>
                    </div>
                    <div id="tabs-2">
                        @Html.Action("IPO_ClosedIssues", "CMOT")                        
                    </div>
                    <div id="tabs-3">
                        @Html.Action("IPO_ForthcomingIssues", "CMOT")
                    </div>
                    <div id="tabs-4">
                        @Html.Action("IPO_OpenIssues", "CMOT")
                    </div>
                </article>




                @*<article class="markets_box_sec clearfix">
                        <div id="tabs-1">
                            <div id="tabs9">
                                <ul>
                                    <li><a href="#tabs-12">BSE</a></li>
                                    <li><a href="#tabs-13">NSE</a></li>
                                </ul>
                                <article class="markets_box_sec clearfix">
                                    <div id="tabs-12">
                                        @Html.Action("IPO_NewListing_BSE", "CMOT")
                                    </div>
                                    <div id="tabs-13">
                                        @Html.Action("IPO_NewListing_NSE", "CMOT")
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div id="tabs-2">
                            @Html.Action("IPO_ClosedIssues", "CMOT")
                        </div>
                        <div id="tabs-3">
                            @Html.Action("IPO_OpenIssues", "CMOT")
                        </div>
                        <div id="tabs-4">

                        </div>
                    </article>*@
            </div>
        </article>



