﻿@model IEnumerable<KR_Choksey.Models.CmotsIPONewListingNSE>
@if (Model != null)
{
    <div class="markets_box clearfix">
        <div class="choksey_contt_section clearfix">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                @*<tr>
                        <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                            <h4>INST Type</h4>
                        </td>
                        <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                            <h4>Symbol</h4>
                        </td>
                        <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                            <h4>Expiry Date</h4>
                        </td>
                        <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                            <h4>Last Price</h4>
                        </td>
                        <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                            <h4>Change (%)</h4>
                        </td>
                    </tr>*@
                <tr>
                    <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                        <h4>Company</h4>
                    </td>
                    <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                        <h4>Date</h4>
                    </td>
                    <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                        <h4>Listing Price</h4>
                    </td>
                    <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                        <h4>High <span class="fa fa-inr"></span></h4>
                    </td>
                    <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                        <h4>Low <span class="fa fa-inr"></span></h4>
                    </td>
                    <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                        <h4>Ltp <span class="fa fa-inr"></span></h4>
                    </td>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td align="center" valign="middle">
                            <p>@item.co_name</p>
                        </td>
                        <td align="centre" valign="middle">
                            <p>@Convert.ToDateTime(item.listdate).ToString("dd/MM/yyyy").Replace("/", "-")</p>
                        </td>
                        <td align="centre" valign="middle">
                            <p>@item.listprice</p>
                        </td>
                        <td align="centre" valign="middle">
                            <p>@item.high</p>
                        </td>
                        <td align="centre" valign="middle">
                            <p>@item.low</p>
                        </td>
                        <td align="centre" valign="middle">
                            <p>@item.close</p>
                        </td>
                    </tr>
                }
            </table>
            @*<div class="view_more clearfix">
                    <a href="#">View more</a>
                </div>*@
        </div>
    </div>
}


