﻿@model IEnumerable<KR_Choksey.Models.CmotsMFNewFundOffer>
@if (Model != null)
{
    <div class="choksey_contt_section clearfix">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            @*<tr>
                <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                    <h4>Scheme Name</h4>
                </td>
                <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                    <h4>Open Date</h4>
                </td>
                <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                    <h4>Close Date</h4>
                </td>
            </tr>*@
            <tr>
                <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                    <h4>Scheme Name</h4>
                </td>
                <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                    <h4>Open Date</h4>
                </td>
                <td align="centre" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                    <h4>Close Date</h4>
                </td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="centre" valign="middle">
                        <p>@item.Sch_Name</p>
                    </td>
                    <td align="centre" valign="middle">
                        <p>@Convert.ToDateTime(item.Launc_Date).ToString("dd/MM/yyyy").Replace("/", "-")</p>
                    </td>
                    <td align="centre" valign="middle">
                        <p>@Convert.ToDateTime(item.CLDATE).ToString("dd/MM/yyyy").Replace("/", "-")</p>
                    </td>
                </tr>
            }
        </table>
        @*<div class="view_more clearfix">
            <a href="#">View more</a>
        </div>*@
    </div>
}