﻿
<article class="heading clearfix">
    <div class="heading_left">
        <h3>MUTUAL FUND</h3>
    </div>
    @*<div class="heading_right">
            <p><a href="#"><img src="../Content/images/cross-icon.png" alt="Cross Icon" title="Cross Icon"></a></p>
        </div>*@
</article>
<article class="dashboard_sec clearfix">
    <div id="tabs8">
        <ul>
            <li><a href="#tabs-1">Top Performance</a></li>
            <li><a href="#tabs-2">NFO</a></li>
            <li><a href="#tabs-3">MF News</a></li>
            <li><a href="#tabs-4">Manager's Talk</a></li>
        </ul>
        <article class="markets_box_sec clearfix">
            <div id="tabs-1">
                <div id="tabs9">
                    <ul>
                        <li><a href="#tabs-12">EQUITY</a></li>
                        <li><a href="#tabs-13">DEBT</a></li>
                        <li><a href="#tabs-14">HYBRID</a></li>
                    </ul>
                    <article class="markets_box_sec clearfix">
                        <div id="tabs-12">
                            @Html.Action("Performance_Equity", "CMOT")
                        </div>
                        <div id="tabs-13">
                            @Html.Action("Performance_DEBT", "CMOT")
                        </div>
                        <div id="tabs-14">
                            @Html.Action("Performance_Hybrid", "CMOT")
                        </div>
                    </article>
                </div>
            </div>
            <div id="tabs-2">
                @Html.Action("Mutual_NFO", "CMOT")
            </div>
            <div id="tabs-3">
                @Html.Action("Mutual_MF_News", "CMOT")
            </div>
            <div id="tabs-4">
                    @Html.Action("Mutual_Managers", "CMOT")
                </div>
        </article>
    </div>
</article>



