﻿@model IEnumerable<KR_Choksey.Models.NSENetPriceLosersData>
@if (Model != null)
{
    <div class="markets_box clearfix">
        <div class="choksey_contt_section clearfix">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                @*<tr>
                    <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                        <h4>Company</h4>
                    </td>
                    <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                        <h4>Current</h4>
                    </td>
                    <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                        <h4>Prev. Close</h4>
                    </td>
                    <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                        <h4>Change</h4>
                    </td>
                    <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                        <h4>Gain (%)</h4>
                    </td>
                </tr>*@
                <tr>
                    <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                        <h4>Company</h4>
                    </td>
                    <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                        <h4>Current</h4>
                    </td>
                    <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                        <h4>Prev. Close</h4>
                    </td>
                    <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                        <h4>Change</h4>
                    </td>
                    <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                        <h4>Gain (%)</h4>
                    </td>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td align="center" valign="middle">
                            <p>@item.co_name</p>
                        </td>
                        <td align="centre" valign="middle">
                            <p>@item.close_price</p>
                        </td>
                        <td align="centre" valign="middle">
                            <p>@item.Prevclose</p>
                        </td>
                        <td align="centre" valign="middle">
                            <p><span>@item.Netchg</span></p>
                        </td>
                        <td align="centre" valign="middle">
                            <p><span>@item.Perchg</span></p>
                        </td>
                    </tr>
                }
            </table>
                    @*<div class="view_more clearfix">
                            <a href="#">View more</a>
                        </div>*@
                </div>
            </div>
}