﻿@model IEnumerable<KR_Choksey.Models.CmotsDerivativeOptionsTopLosers_Nifty>
@if (Model != null)
{
<div class="markets_box clearfix">
    <div class="choksey_contt_section clearfix">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            @*<tr>
                <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                    <h4>INST Type</h4>
                </td>
                <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                    <h4>Symbol</h4>
                </td>
                <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                    <h4>Expiry Date</h4>
                </td>
                <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                    <h4>Last Price</h4>
                </td>
                <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                    <h4>Change (%)</h4>
                </td>
            </tr>*@
            <tr>
                <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                    <h4>INST Type</h4>
                </td>
                <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                    <h4>Symbol</h4>
                </td>
                <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                    <h4>Expiry Date</h4>
                </td>
                <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                    <h4>Last Price</h4>
                </td>
                <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                    <h4>Change (%)</h4>
                </td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="center" valign="middle">
                        <p>@item.instname</p>
                    </td>
                    <td align="centre" valign="middle">
                        <p>@item.Symbol</p>
                    </td>
                    <td align="centre" valign="middle">
                        <p>@Convert.ToDateTime(item.expdate).ToString("dd/MM/yyyy").Replace("/", "-")</p>
                    </td>
                    <td align="centre" valign="middle">
                        <p>@item.Ltp</p>
                    </td>
                    <td align="centre" valign="middle">
                        <p><span>-@item.Faodiff</span></p>
                    </td>
                </tr>
            }
        </table>
        @*<div class="view_more clearfix">
                <a href="#">View more</a>
            </div>*@
    </div>
</div>
}


