﻿@model IEnumerable<KR_Choksey.Models.CmotsMFTopPerform_OneYearEquity>
@if (Model != null)
{
<div class="markets_box clearfix">
    <div class="choksey_contt_section clearfix">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            @*<tr>
                <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                    <h4>Scheme Name</h4>
                </td>                
                <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c; height:35px; padding-bottom:15px;">
                    <h4>Returns in 1Year (%)</h4>
                </td>
            </tr>*@
            <tr>
                <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                    <h4>Scheme Name</h4>
                </td>
                <td align="center" valign="middle" style="border-bottom:1px solid #9b9c9c;">
                    <h4>Returns in 1Year (%)</h4>
                </td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="center" valign="middle">
                        <p>@item.Sch_Name.ToString().PadRight(60).Substring(0, 60).TrimEnd()</p>
                    </td>
                    <td align="centre" valign="middle">
                        <p style="color:#28c255">@item.oneyear</p>
                    </td>                    
                </tr>
            }
        </table>
        @*<div class="view_more clearfix">
                <a href="#">View more</a>
            </div>*@
    </div>
</div>
}
