@charset "utf-8";
/* CSS Document */

.container{ padding:0px;
margin:0px;
width:1170px;}


/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
  height:46px;
  border-bottom:1px solid rgba(255,255,255,0.3);
  }
  
 a.list-group-item, button.list-group-item{font-family: 'ProximaNova-Regular';
 font-size:15px;}

/*div.bhoechie-tab-menu div.list-group>a.equity{background: url(../images/equity-icon.png) no-repeat 0px 5px;
margin: 0px;
width: 28px;
height: 30px;
text-decoration: none;}

div.bhoechie-tab-menu div.list-group>a.active.equity{
background: url(../images/equity-icon-hover.png) no-repeat 0px 5px;}*/


div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;}

div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #f7791e;

  color: #ffffff;
}



.list-group-item h4{ padding-top:}



div.bhoechie-tab-menu div.list-group>a .equity{background: url(../images/equity-icon.png) no-repeat 0px 5px;
margin: 0px;
text-decoration: none ;
content:"";
padding-left:35px;
color:#FFF;
font-size:17px;
line-height:34px;
margin-left:10px;}

div.bhoechie-tab-menu div.list-group>a.active .equity{background: url(../images/equity-icon.png) no-repeat 0px 5px;}




div.bhoechie-tab-menu div.list-group>a .currency_part{background:url(../images/currency-icon.png) no-repeat 0px 5px;
margin: 0px;
text-decoration: none ;
content:"";
padding-left:35px;
color:#FFF;
font-size:17px;
line-height:34px;
margin-left:10px;}

div.bhoechie-tab-menu div.list-group>a.active .currency_part{background:url(../images/currency-icon.png) no-repeat 0px 5px;}





div.bhoechie-tab-menu div.list-group>a .commodities{background: url(../images/commodities-icon.png) no-repeat 0px 5px;
margin: 0px;
text-decoration: none ;
content:"";
padding-left:35px;
color:#FFF;
font-size:17px;
line-height:34px;
margin-left:10px;}

div.bhoechie-tab-menu div.list-group>a.active .commodities{background: url(../images/commodities-icon.png) no-repeat 0px 5px;}






div.bhoechie-tab-menu div.list-group>a .research_icon{background:url(../images/research-icon.png) no-repeat 0px 5px;
margin: 0px;
text-decoration: none ;
content:"";
padding-left:35px;
color:#FFF;
font-size:17px;
line-height:34px;
margin-left:10px;}

div.bhoechie-tab-menu div.list-group>a.active .research_icon{background:url(../images/research-icon.png) no-repeat 0px 5px;}





div.bhoechie-tab-menu div.list-group>a .insurance_icon{background:url(../images/insurance-icon.png) no-repeat 0px 5px;
margin: 0px;
text-decoration: none ;
content:"";
padding-left:35px;
color:#FFF;
font-size:17px;
line-height:34px;
margin-left:10px;}

div.bhoechie-tab-menu div.list-group>a.active .insurance_icon{background:url(../images/insurance-icon.png) no-repeat 0px 5px;}





div.bhoechie-tab-menu div.list-group>a .pms_icon{background:url(../images/pms-icon.png) no-repeat 0px 5px;
margin: 0px;
text-decoration: none ;
content:"";
padding-left:35px;
color:#FFF;
font-size:17px;
line-height:34px;
margin-left:10px;}

div.bhoechie-tab-menu div.list-group>a.active .pms_icon{background:url(../images/pms-icon.png) no-repeat 0px 5px;}



div.bhoechie-tab-menu div.list-group>a .bond_icon{background:url(../images/bonds-icon.png) no-repeat 0px 5px;
margin: 0px;
text-decoration: none ;
content:"";
padding-left:35px;
color:#FFF;
font-size:17px;
line-height:34px;
margin-left:10px;}

div.bhoechie-tab-menu div.list-group>a.active .bond_icon{background:url(../images/bonds-icon.png) no-repeat 0px 5px;}







div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #f7791e;
}

div.bhoechie-tab-content{ padding:0px;
margin:0px;}

div.bhoechie-tab-content h2{ color:#FFF;}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

div.bhoechie-tab-menu div.list-group > a:hover{ background:#f85218; }