﻿@charset "utf-8";
/* CSS Document */

@media (min-width:1401px) and (max-width:1700px){
	
/*navigaton*************************/


.header_box{ width:98%;}

.newsletter_bot{ width:110px;}

.newsletter_input{ width:300px;}

.logo p span{ font-size:22px;}

.search_ber_sec{ margin:0px 0px;}

.current_time{ margin:0px 5px;}

.newsletter{ margin:0px 0px 0px 5px;}

.log_in_bttn{ margin:0px 5px;}


/*log_in*************************/

.modal_body_left img{ width:90%;}

.login_bttn a{ padding:15px 35px;}

.login_bttn a.krc_account{ padding:15px 49px;}

/*

.header_box{ width:100%;}

.current_time{ margin:0px 12px;}

.search_ber_sec{ margin:0px 12px 0px 0px;}

.log_in{ margin-right:0px;}

.newsletter_bot{ width:100px;}

.newsletter_input{ width:325px;}

/*banner01 modify*************************/

#camera_wrap_1{ height:663px !important;}

#menu .info { width:900px;
top:-80px;}

.banner_content{ top:50px;}

.banner_tab_sub_heading{ width:23%;
padding:10px 7px;}

.banner_tab_sub_heading ul li a{ font-size:16px;}

.banner_tab_sub_heading ul li a{ padding:7px 0 7px 30px;}

.share_news_box{ width:98%;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:860px;}



/*banner02 modify*************************/

.banner_content_two{ width:99%;
top:8px;}

.banner_content_two_sec {
    margin: 0 auto;
    margin-top: 20px;}

.markets{ margin: 0px 0px 7px 0px;
padding:0px 2px;
height:300px;}

.research_box_sec{ margin-bottom:5px;
height:300px;}

research_box_sec{ margin:0px 7px 12px 0px;
padding:5px;}

.my_choksey_sec{ margin: 0px 0px 7px 0px;
padding:5px;
height:300px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ padding:1px 10px;}

.log_in a.sign_up{ margin-left:12px;
padding:7px 25px;}

.my_choksey_sec{ width:33%;}

.banner_content_two_sec table td h4{ font-size:14px;}

.banner_content_two_sec table td{ height:25px;
padding:0px 3px;}

.banner_content_two_sec p{ font-size:12px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ font-size:13px;}

.dashboard_sec{ padding:0px;
margin-top:5px;}

.markets_box_sec{ margin-top:5px;}

.heading p{ line-height:10px;}

.rate{ height:27px;}

/*banner03 modify*************************/
.about_choksey{ padding:0px;
margin-bottom:20px;}

.about_choksey p{ font-size:16px;}

.choksey_contt_sec{ margin-top:15px;}

.banner_bttn{ top:166px;}

.image_part{ padding:0px;
margin:0px;
width:40%;}

.image_part img{ width:100%;}

/*.banner_box img{ width:95%;}*/

.image_part_text p{ font-size:15px;
line-height:22px;}

.image_part_text h4{ padding-bottom:0px;}

#menu .info {width:900px;}

.banner_tab_content{padding:15px 15px;}

.banner_tab_image_sec img{ width:100% !important;}

.banner_tab_sub_heading ul li a .icon_part__text_sec{ font-size:16px !important;}

.banner_tab_image_sec{ padding: 50px 10px 0px 10px;}

.banner_content_three_sec{ margin-top:50px;}



/*wealth management*************************/

.inter_para_image{ width:38%;}

.inter_para_image img{ width:100%;}

.inter_para_image_one{ width:38%;}

.inter_para_image_one img{ width:100%;}

.inter_para_text_body {padding: 5% 20px 0 40px;}

.inter_para_text_body_one {padding:2% 40px 0 20px;}

#apprtoach_sec ul{ margin-top:0px;}

#apprtoach_sec ul li{ margin-bottom:0px;
line-height:20px;}

/*footer*************************/

.footer_box_sec{ width:98%;}

.about_choksey_text p:nth-last-child(1){ display:none !important;}

.slider_image_content{ padding:8% 0 0;}

.slider_text {width: 98%;}

.interoduction_sec_box{ width:98%;}

.interoduction_sec_box img {width: 40%;}

.interoduction_sec_box ul li.no_arrow img{ width:auto;}

.interoduction_sec_box{ padding:30px 0px;}

h1{ font-size:35px;
line-height:45px;
padding-bottom:20px;}

.slider_text h4{ font-size:22px;
padding-bottom:20px;}

.slider_text p{ font-size:30px;}

.what_next_bttn img{ width:auto;}

.what_next_bttn_one img{ width:auto;}

.banner_tab_image_sec.invest_img_banner{ display:none;}

.image_part_text{ width:66%;
padding:2px;}

.management_left{ width:48%;
margin-right:38px;}

.management_right{ width:48%;}

.image_part.cool {
    height:180px;
    width:200px;}
	
.main_image img {
    width: 100%;}
	
header{ padding:17px 0px;}

#menu #on-check:checked ~ .info{ margin-top:39px;
margin-left:-8px;}

#menu{ left:50px;}

.middle_body_box{ width:98%;}

.modal-dialog{ width:45%;}


}


@media (min-width:1281px) and (max-width:1400px){
/* (min-device-width: 1366px and max-device-width:660px)*/	
/*navigaton*************************/

.nav_box{ width:98%;}

header{ padding:10px 0px;}

/*header*************************/
	
.header_box{ width:98%;}

#menu{ top:120px;}

.current_time{ margin:0px 7px 0px 0px;}

.search_ber_sec{ margin:0px 0px 0px 0px;}

.log_in{ margin-right:0px;}

.newsletter_bot{ width:100px;}

.logo img{ width:78%;}

.newsletter_bot{ width:110px;}

.newsletter_input{ width:300px;}

.logo p span{ font-size:22px;}

.login_bttn a{ padding:15px 22px;}

.login_bttn a.krc_account {padding: 15px 35px;}

p{ font-size:15px;
line-height:23px;}

.choksey_contt_sec { margin-top:10px;}

/*banner01 modify*************************/

#camera_wrap_1{ height:535px !important;}

#menu .info { width:830px;
top:-80px;}

.border_line{ margin-top:10px;}

.banner_content{ top:-40px;}

.banner_tab_image_sec{ padding:100px 5px 10px 5px;}

.banner_tab_sub_heading{ width:23%;
padding:10px 7px;}

.banner_tab_sub_heading ul li a{ font-size:15px;}

.banner_tab_sub_heading ul li a{ padding:7px 0 7px 30px;}

.share_news_box{ width:97%;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:780px;}

.banner_tab_sub_heading{ width:29%;
padding:10px 5px;}

.banner_tab_content{ padding:10px 15px;
width:70%;}

.banner_tab_content h3{ padding-bottom:5px;}

.banner_tab_content h5{ padding-bottom:3px;}

.baner_contt_sec__box ul li{ padding-bottom:3px;}

.banner_tab_sub_heading ul li{ padding-bottom:18px;}

.banner_tab_sub_heading ul li a .icon_part__text_sec{ font-size:15px !important;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:700px;}

.icon_part__text_sec{ margin-left:3px !important;}

/*banner02 modify*************************/

.banner_content_two{ width:99%;
top:5px;}

.dashboard_bttn a{ font-size:13px;
padding:8px 45px;}

.markets{ margin:0px 0px 30px 0px;
padding:5px;
height:335px;}

.research_box_sec{ margin:0px 16px 30px 16px;
padding:5px;
height:335px;}

.my_choksey_sec{ margin:0px 7px 30px 0px;
padding:5px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ padding:2px 7px;}

.log_in a.sign_up{ margin-left:12px;
padding:7px 25px;}

.my_choksey_sec{ width:31%;
height:335px;}

.heading_left h3{ font-size:18px;
padding-bottom:4px;}

.heading_right img{ width:60%;}

.banner_content_two_sec table td h4{ font-size:14px;}

.banner_content_two_sec table td{ height:22px;
padding:0px 1px;}

.markets_box_sec{ margin-top:5px;}

.banner_content_two_sec p{ font-size:12px !important;}

.dashboard_sec{ padding:0px;
margin-top:0px;}

.heading p{ line-height:10px;}

.rate{ height:27px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ padding:0px 8px;
font-size:13px;}

.share_arrow img{ width:25% !important;
height:25% !important;}

/*banner03 modify*************************/

.about_choksey{ padding:0px;
margin-bottom:15px;}

.image_part_text{ width:38%;
padding:10px;}

.management_left{ width:48%;
margin-right:36px;}

.management_right{ width:48%;}

.image_part{ width:40%;}

.image_part img{ width:100%;}

.image_part_text{ width:63%;
padding:2px 5px;}

.image_part_text h4{ padding-bottom:0px;}

.border_line.border_line_two {width: 33%;}

.banner_bttn{ top:207px;}

.banner_content_three_sec{ margin-top:10px;}

/*middle body modify*************************/

.bse_nse_box{ width:55%;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:600px;}

.bse_nse_tab{ width:45%;}

.icon_text{ width:84%;}

.shares img{ padding-right:3px;}

.shares:nth-last-child(1){ margin-right:0px;}

.media_icon_part{ width:13%;}

.media_icon_part img{ width:100%;}

/*navigaton***********************************************************************inner page********************************************************************************************/

.inter_para_image{ width:38%;}

.inter_para_image img{ width:100%;}

.inter_para_image_one{ width:38%;}

.inter_para_image_one img{ width:100%;}

.inter_para_text_body {padding: 5% 20px 0 40px;}

.inter_para_text_body_one {padding:2% 40px 0 20px;}

#apprtoach_sec ul{ margin-top:0px;}

#apprtoach_sec ul li{ margin-bottom:0px;
line-height:20px;}

/*company snapshot**************************/

.search_ber_sec.for_quote_search{ float:none !important;}

.address_details_box_left{ width:48%;}

.footer_bottom_box p{ font-size:12px;}

/*footer*************************/

.footer_box_sec{ width:96%;}

.registration_details_box{ width:48%;}

.footer_bottom{ margin-bottom:5px;}

.news_box_button_one{ font-size:11px;}

.footer_in_touch ul li a{ padding:8px 15px;
margin:0px 3px;}

.markets.market_dashboard{ display:none !important;}

research_box_sec.researche_box_two{ display:none !important;}

.dashboard_bttn_sec{ display:block !important;}

.banner_content_two_sec{ margin-top:50px;}

.interoduction_sec_box img.wrap {
    width: 40%;}
	
.interoduction_sec_box img.wrap1 {
    width: 40%;}
	
.research_box_sec.researche_box_two{ display:none;}

.slider_text{
position: absolute;
right:0;
left:0;
color: #ffffff;
top:10px;
width:98%;
margin:0 auto;}

.interoduction_sec_box{ width:98%;}
h1{ font-size:35px;
line-height:45px;
padding-bottom:20px;}

.slider_text h4{ font-size:22px;
padding-bottom:20px;}

.slider_text p{ font-size:30px;}

.slider_image_content img{ width:75%;}

.image_part.cool {
    height: 180px;
    width:200px;}
	
.main_image img {width: 100%;}

.slider_image_content{ padding-top:9%;}

.middle_body_box{ width:98%;}

.news_feed_box_sec{ margin:0px 18px;}

.individual_dashboard_page_contt{ width:99%;}

}

@media (max-width:1280px){
	
/* (min-device-width: 1280px and max-device-width:600px)*/	
	
/*navigaton*************************/

.nav_box{ width:98%;}

header{ padding:12px 0px;}

/*header*************************/
	
.header_box{ width:98%;}

.current_time{ margin:0px 12px;}

.search_ber_sec{ margin:0px 0px 0px 0px;}

.log_in{ margin-right:0px;}

.newsletter{ margin-left:0px;}

.newsletter_bot{ width:100px;}

.current_time{ margin:0px 5px;}

.footer_in_touch{ margin-top:5px;}

.logo img{ width:75%;}

.newsletter_input{ width:275px;}

.newsletter_input{ font-size:13px;}

p{ font-size:15px; 
line-height:24px;}

.about_choksey_text p:nth-last-child(1){ display:none;}

.interoduction_sec_box ul li{ font-size:15px; 
line-height:24px;
padding-bottom:7px;}

.interoduction_sec_box h4{ padding:3px 0px;
font-size:18px;}
   
.image_part_text p{ font-size:13px;
line-height:21px;}

.choksey_contt_sec { margin-top:15px;}

.login_bttn a{ padding:15px 22px;}

.login_bttn a.krc_account {padding: 15px 35px;}

.modal_body_left img {width: 100%;}

.modal_body_left{ padding:24px 10px;}

.logo{ width:28%;}

.logoimg{ width:100%;}

.sign_up_bttn a{ padding:11px 15px;}


/*banner01 modify*************************/

#camera_wrap_1{ height:475px !important;}

#menu .info { width:770px;
left:300px;}

.banner_tab_sub_heading ul li a .icon_part__text_sec{ font-size:15px;
margin-left:0px;}

.banner_content{ top:10px;}

#menu{ top:60px;}

.banner_content_three_sec {
    margin-top: -16px;}

.banner_tab_image_sec{ padding:100px 5px 10px 5px;}

.banner_tab_sub_heading{ width:33%;
padding:10px 7px;}

.banner_tab_sub_heading ul li a{ font-size:15px;}

.banner_tab_sub_heading ul li a{ padding:7px 0 7px 30px;}

.share_news_box{ width:98%;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:780px;}

.banner_tab_sub_heading{ width:25%;
padding:10px 5px;}


.banner_tab_content h3{ padding-bottom:3px;
font-size:22px;}

.baner_contt_sec__box{ margin-top:0px;}

.baner_contt_sec__box ul li{ padding-bottom:5px;
font-size:15px;}

.banner_tab_content {
    padding: 3px 15px;}

.banner_tab_sub_heading ul li{ padding-bottom:18px;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:700px;}

.banner_tab_sub_heading ul li a .icon_part__text_sec{ font-size:15px !important;}

#on-check:checked ~ #menu-items {
    height: 420px;
    left: -138px;
    top: -50px;
    width: 420px;}
	
#on-check:checked ~ .faux-shadow {
     height: 420px;
    left: -175px;
    top: -50px;
    width: 420px;}
	
#on-check:checked ~ .faux-shadow{ left:-138px;}

#on-button{ margin-top:80px;}

#menu-items{ top:97px;}

#menu-items .top .ss-compass {
    left: 250px;
    top:33px;}
	
#menu-items .bottom .ss-rss {
    left: 99px;
    top: 322px;}
	
#menu-items .bottom .ss-refresh {
    left: 313px;
    top: 275px;}

/*banner02 modify*************************/

.banner_content_two{ width:99%;
top:20px;}

.individual_dashboard_page_contt{ width:98%;}

.markets{ margin:0px 0px 18px 0px;
padding:5px;
height:390px;}

.research_box_sec{ margin:0px 6px 18px 6px;
padding:5px;
height:390px;}

.my_choksey_sec{ margin:0px 0px 18px 0px;
padding:5px;
height:390px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ padding:2px 7px;}

.log_in a.sign_up{ margin-left:12px;
padding:7px 25px;}

.banner_content_two_sec table td h4{ font-size:14px;}

.banner_content_two_sec table td{ height:30px;
padding:0px 3px;}

.banner_content_two_sec p{ font-size:13px;}

.dashboard_sec{ padding:0px;
margin-top:0px;}

.heading p{ line-height:10px;}

.rate{ height:27px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ padding:0px 8px;
font-size:13px;}

.dashboard_bttn_sec{ display:block;}

    .heading_left h3 {
     font-size:18px;
     line-height:24px;
    }

    .dashboard_bttn a {
     font-size:13px;
     padding:8px 35px;
    }

/*banner03 modify*************************/

.about_choksey{ padding:0px;
margin-bottom:15px;}

.image_part_text{ width:54%;
padding:5px;}

.image_part_text h4{ padding-bottom:0px;}

.address_details_box_left{ width:48%;}

/*.banner_box img{ width:95%;}*/

.management_left{ width:48%;}

.image_part{ width:35%;}

.image_part img{ width:100%;}

.border_line{ margin-top:10px;}

/*middle body modify*************************/

.bse_nse_box{ width:65%;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:750px;}

.bse_nse_tab{ width:35%;}

.media_icon_part{ width:12%;
margin-right:10px;}

.media_icon_part img{ width:100%;}

.icon_text{ width:83%;}

/*wealth management*************************/

.inter_para_image{ width:38%;}

.inter_para_image img{ width:100%;}

.inter_para_image_one{ width:38%;}

.inter_para_image_one img{ width:100%;}

.inter_para_text_body {padding: 5% 20px 0 40px;}

.inter_para_text_body_one {padding:2% 40px 0 20px;}

#apprtoach_sec ul{ margin-top:0px;}

#apprtoach_sec ul li{ margin-bottom:0px;
line-height:20px;}

/*company snapshot**************************/

.search_ber_sec.for_quote_search{ float:none !important;}

.markets.market_dashboard{ display:none !important;}

.research_box_sec.researche_box_two{ display:none !important;}

.my_choksey_sec.research_report{ display:none !important;}

.banner_bttn {top:115px;}

/*footer*************************/

.footer_box_sec{ width:98%;}

.contact_name_field_one:nth-last-child(1){ margin-right:0px;}

footer h3{ font-size:18px;}

.footer_bottom h2{ font-size:22px;}

.footer_bottom p{ font-size:10px !important;}

.address_details_box ul li{ width:auto !important;
margin-right:60px;}

.address_details_box ul li:nth-last-child(1){ margin-right:0px;}

/*last updated 29-10-16 modify*************************/

.interoduction_sec_box{ width:98%;}

.news_box_button_one{ font-size:11px;}

.interoduction_sec_box img.wrap {
    width: 40%;}
	
.interoduction_sec_box img.wrap1 {
    width: 40%;}
	
.footer_in_touch ul li a {
    border: 1px solid #7a7a7a;
    border-radius: 50%;
    color: #7a7a7a;
    font-size: 21px;
    line-height: 25px;
    margin: 0 2px;
    padding:8px 12px;
    text-align: center;}
}

.about_choksey_text{ width:74%;}

.about_choksey_bttn{ width:25%;}

h1 {
    line-height: 35px;
    padding-bottom: 15px;}
	
.slider_text h4 {
    font-size: 20px;
    padding-bottom: 15px;}
	
.slider_text p {
    line-height: 40px;
    padding-bottom: 15px;}
	
.faux-shadow{ top:96px;}

#menu #on-check:checked ~ .info{ margin-top:39px;}

/*.image_part.cool {
    height: 140px;
    width:170px;}*/
	
.slider_image_content img{ width:75%;}

.main_image img {width: 100%;}

.slider_image_content{ padding-top:6%;}

.slider_image_content img{ width:75%;}

/*.middle_body_box{ width:98%;}*/

.news_feed_box_sec{ margin:0px 18px;}


@media (max-width:1200px){
	
/*navigaton*************************/

.navbar-default .navbar-nav > li > a{ font-size:17px;}

.nav_box{ width:98%;}

	
/*header**************************/
	
.logo{ width:24%;}

.logo img{ width:70%;}

.header_box {width: 99%;}

.newsletter_bot { width:80px;
font-size:13px;}

.bttn a.log_in {font-size: 15px;
padding: 3px 14px !important;}

.newsletter{ margin-right:5px;
margin-left:0px;}

.newsletter_input{ height:36px;}

.newsletter_bot{ height:36px;}

.current_time{ margin:0px !important;}

#on-button > span img{ width:100% !important;}

search_ber_sec{ margin-right:0px !important;}

.log_in_button{ padding:4px 15px;
font-size:13px;}

.sign_up_bttn a{ padding:9px 15px;}

.modal-dialog{ width:50%;}

.sign_up_bttn{ margin-top:3px;}

/*banner 01**************************/

#camera_wrap_1{ height:470px !important;}

.camera_wrap .camera_pag .camera_pag_ul{ top:-50px;}

#menu .info { width:700px;
margin-top:50px !important;}

.banner_box{ margin-top:-15px;}

.banner_tab_image_sec{ display:block;}

.banner_tab_sub_heading{ width:34%;}

.banner_tab_content{ width:65%;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:490px;}

.footer_in_touch ul li a{ font-size:18px;
padding:5px 10px;
margin:0px 3px;}

.footer_in_touch{ margin-left:5px;}

/*Banner 02**************************/

.markets{ margin-bottom:15px;
padding:3px;
height:400px;}

.research_box_sec{ margin:0px 5px 15px 5px;
padding:3px;
height:400px;}

.my_choksey_sec{ margin-bottom:15px;
padding:3px;
height:400px;}

.markets.market_dashboard{ display:none !important;}

.research_box_sec.researche_box_two{ display:none !important;}

.my_choksey_sec.research_report{ display:none !important;}

/*Banner 03**************************/

.banner_bttn{ top:115px;}

.image_part {width:38%;}

.image_part img{ width:100%;}

.image_part_text {
padding:5px;
width: 68%;}

.image_part_text h4{ padding-bottom:2px;}

.image_part_text p{ font-size:13px ;
line-height:20px;}

#scrollbar1 .viewport{ width:96%;}

#scrollbar1{ margin:0px;}

.wpf-demo-6 .view-caption{ padding:10px !important;}up_arrow

.share_arrow img{ width:20% !important;
height:20% !important;}

.up_arrow img{ width:30% !important;
height:30% !important;}

.dashboard_bttn{ margin-top:20px;}

.news_box_button_one{ font-size:11px;}

.interoduction_sec_box img.wrap {
    width: 40%;}
	
.interoduction_sec_box img.wrap1 {
width: 40%;}

.slider_text{ width:98%;}

h1 {
    font-size: 30px;
    line-height: 45px;
    padding-bottom: 20px;}
	
.slider_text h4 {
    font-size: 22px;
    padding-bottom: 20px;}
	
.slider_text p {
    font-size: 30px;}
	
.middle_body_box{ width:98%;}

.news_feed_box_sec{ margin:0px 18px;}
}


@media (max-width:1024px){
	
/*navigaton*************************/

.navbar-default .navbar-nav > li > a{ font-size:16px;}

.nav_box{ width:98%;}

/*header*************************/

header{ padding:25px 0px;}
	
.header_box{ width:98%;}

.modal-dialog{ width:50%;}

.current_time{ margin:0px 12px;}

.search_ber_sec{ margin:0px 0px 0px 0px;}

.log_in{ margin-right:0px;}

.management_left{ width:48%;
margin-right:28px;}

.management_right{ width:48%;}

.newsletter_bot{ width:100px;}

.logo img{ width:75%;}

.newsletter_input{ width:200px;}

.sign_up_bttn a{ padding:10px 15px;
font-size:13px;}

.choksey_contt_sec { margin-top:10px;}

.newsletter_bot{ width:70px;}

.newsletter_bot{ font-size:12px;}

.bttn a.log_in{ padding:7px 15px !important;}	

.logo{ width:28%;}

.logo img{ width:70%;}

.logo p span{ font-size:20px;}

p{ font-size:15px;}

.login_bttn a { padding: 10px 9px;}

.login_bttn a.krc_account {padding: 10px 22px;}

.login_bttn{ margin-bottom:25px;}

.modal_body_right{ padding:10px 10px 0px 10px;}

.contact_page4 input{ height:40px;}

.modal_body_right{ width:55%;}

.login_bttn_link_sec{ margin-top:50px;}

.login_box_sec{ margin-top:17px;}

/*banner image*************************/

#camera_wrap_1{ height:513px !important;}

/*banner01 modify*************************/

#on-button > span img{ width:100% !important;
height:auto !important;
padding-top:50px;}

#menu-items .bottom .ss-rss img{
height:100% !important;}

#menu{ top:149px;}

#menu-items .top .ss-home img{ height:100% !important;}

.camera_pag_ul li img{ width:100px !important;
height:75px !important;}

.heading_right p a img{ height:auto !important;
width:auto !important;}

#menu-items .bottom .ss-refresh img{ height:100% !important;}

#menu #on-check:checked ~ .info{ margin-left:-50px;}

#menu-items .top .ss-compass img{ height:100% !important;}

#info-heart:checked ~ #menu-items, #menu-items .top .ss-home img{ 
height:100% !important;}

.banner_tab_image_sec{ display:none;}

.banner_tab_image_sec img{ display:none;}

#menu .info { width:600px;}

.banner_content{ top:0px;}

.banner_tab_image_sec{ padding:100px 5px 10px 5px;}

.banner_tab_sub_heading ul li a{ font-size:14px;}

.banner_tab_sub_heading ul li a{ padding:7px 0 7px 30px;}

.share_news_box{ width:98%;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:780px;}

.banner_tab_sub_heading{ width:28%;
padding:10px 5px;
margin-right:10px;}

.banner_tab_content{ padding:10px 7px;
width:70%;}

.banner_tab_content.wealth_box{ width:100%;}

.baner_contt_sec__box ul li{ font-size:15px;}

.banner_tab{ height:345px;}

.banner_tab_content h3{ padding-bottom:5px;}

.banner_tab_sub_heading ul li{ padding-bottom:18px;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:700px;}

.banner_tab_sub_heading ul li a{ font-size:14px;}

.banner_tab_content p{ font-size:14px;}

.baner_contt_sec__box ul li{ font-size:14px;
padding-bottom:3px;}

.banner_tab_content h4{ font-size:16px;
padding-bottom:0px;}

.read_more a{ font-size:14px;}

.quick_cott{ padding:0px;
margin:0px;}

.social_media_box::before{ background:none;}

.banner_tab_sub_heading ul li a{ padding:7px 0 7px 30px;}

.curved-container span{ font-size:17px;}

.curved-container2 span{ font-size:17px;}

.curved-container1 span{ font-size:17px;}

.curved-container3 span{ font-size:17px;}

.curved-container span{ height:122px;}

.curved-container2 span{ height:122px;}

.curved-container1 span{ height:122px;}

.curved-container3 span{ height:122px;}

/*Circle part*************************/

#on-check:checked ~ .faux-shadow{ height:350px;
width:350px;
left:-120px;}

#on-button{ margin-left:-15px;
margin-top:50px;
height:140px;
width:140px;}

#on-button::after{height: 120px;
    left: -19px;
    top: 46px;
    width: 120px;}

#on-button > span{
height: 120px;
left: -18px;
top: 47px;
width: 120px;}

#menu-items{ left:-3px;
top:61px;
height: 120px;
width: 120px;}

.faux-shadow{  left: -21px;
top: 61px;
height: 120px;
width: 120px;}

#on-check:checked ~ #menu-items {
height:350px;
width:350px;
left:-120px;}

#menu-items label{ height:50px;
width:50px;
line-height:66px;}

#menu-items .top .ss-home img{ width:70% !important;}

#menu-items .top .ss-home{ left:20px;}

#menu-items .top .ss-compass {
left: 230px;
top: 43px;}

#menu-items .bottom .ss-rss {
left: 92px;
top: 269px;}

#menu-items .bottom .ss-refresh {
left: 265px;
top: 210px;}

.banner_content{ left:9%;}

.banner_tab_sub_heading::before{ background:none;}

#menu #on-check:checked ~ .info{ margin-left:-55px;}

/*banner02 modify*************************/

.banner_content_two_sec p{ font-size:13px !important;}

.target_text{ margin-left:2px !important;}

.log_in a{ font-size:13px !important;
padding:7px 10px;
margin:0px 5px;}

.rate {
border: 1px solid #85dd7c;
font-size: 13px;
height: 24px;
line-height: 20px;
margin: 5px auto 0;
width: 50px;}

.view_more a{ font-size:13px;}

.banner_content_two_sec h3{ font-size:13px !important;}

.banner_content_two{ width:98% !important;
top:50px;}

.markets{ margin:0px 0px 0px 0px;
padding:3px;}

.dashboard_sec{ padding:0px;
margin:0px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ font-size:11px;
padding:2px 5px;
line-height:20px;}

.ui-tabs .ui-tabs-nav li{ margin-right:2px;}

.ui-tabs .ui-tabs-nav{ padding:0px;}

.banner_content_two_sec h4{ font-size:13px;}

.banner_content_two_sec table td{ height:30px !important;
padding:0px 0px;}

.banner_content_two_sec h4{ text-align:center;}

.banner_content_two_sec p{ font-size:13px !important;}

.heading_right p a img {
    height: 70% !important;
    width: 70% !important;}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{ border:none;}

.target_text p img{ height:100% !important;
width:100% !important;}

.research_box_sec{ padding:5px;
margin:0px 10px 0px 10px;}

.up_arrow img{ height:10% !important;
width:10%  !important;}

.share_arrow img{ height:50% !important;
width:50% !important;}

/*banner03 modify*************************/

.about_choksey_text{ width:75%;}

.about_choksey_bttn{ width:23%;}

.banner_bttn a{ padding:12px 25px;}

.about_choksey{ padding:0px;
margin-bottom:15px;}

.banner_bttn {top: 151px;}

.image_part.cool {
    height: auto;
    width: auto;}
	
.image_part img{ width:1005 !important;
height:100% !important;}

.image_part{ width:35%;}

.image_part_text{ width:75%;}

.wpf-demo-6:hover .view-caption{ padding:7px;}

#scrollbar1{ margin:10px;}

.wpf-demo-6 .view-caption h4{ margin-bottom:5px !important;}

#scrollbar1 .viewport{ width:98% !important;}

.my_choksey_sec{ width:31%;
padding:3px;
margin:0px 0px 15px 0px;}

.image_part_tex h4{ font-size:16px;}

.ui-tabs .ui-tabs-panel{ padding:0px;}

.view_more a{ font-size:12px;}

.wpf-demo-6 .view-caption h4{ font-size:20px !important;}


/*middle body modify*************************/

.bse_nse_box{ width:64%;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:560px;}

.bse_nse_tab{ width:36%;}

/*footer modify*************************/

.footer_box{ float:left;
width:21%;
margin-bottom:10px;}

.footer_box ul li{ padding-bottom:5px;}

.footer_box.footer_products{ width:35%;}

.address_details_box_left{ width:47%;}

.footer_bottom_table table td.mutual_sub_heading{ padding:0px;}

/*.registration_details_box{ margin-right:20px;
width:44%;}

.footer_bottom_table p{ line-height:22px;
font-size:11px;}

.footer_bottom_table table td{ padding:0px;}*/

/*wealth management*************************/

.inter_para_image{ width:38%;}

.inter_para_image img{ width:100%;}

.inter_para_image_one{ width:38%;}

.inter_para_image_one img{ width:100%;}

.inter_para_text_body {padding: 5% 20px 0 40px;}

.inter_para_text_body_one {padding:2% 40px 0 20px;}

#apprtoach_sec ul{ margin-top:0px;}

#apprtoach_sec ul li{ margin-bottom:0px;
line-height:20px;
font-size:16px;}

.icon_part{ width:18%;
height:180px;}

.portfolio_sec{ margin-top:30px;}

/*company snapshot**************************/

.quote_text_box{ width:32%;}

.search_ber_sec.for_quote_search{ float:none !important;}

.footer_box_left { width:50%;}

.camera_wrap .camera_pag .camera_pag_ul{ top:-47px;}

.curved-container2 {
height: 0;
margin: -71px auto auto 34px;
position: relative;
transform: rotate(-31deg);
width: auto;}

#menu-items .top .ss-compass {
    left: 197px;
    top: 23px;}
	
.curved-container3 {
    height: 0;
    margin: -42px auto auto 45px;
    position: relative;
    transform: rotate(34deg);
    width: auto;}
	
.footer_top {
    border-bottom: 1px solid #313235;
    margin-bottom: 5px;
    padding-bottom: 0;}
	
.interoduction_sec_box img.wrap{ width:40%;}

.interoduction_content_sec_box{ padding:10px 0 0;}

.interoduction_sec_box ul li{ font-size:15px;}

.interoduction_sec_box{ padding:10px 0px;}

.interoduction_sec_box img.wrap1{ width:40%;}

.inner_page_pad_box{ padding-left:0px;}

.footer_bottom h2{ font-size:20px;}

.news_box_button_one{ font-size:11px;}

.registration_details_box{ padding-right:20px;}

.footer_bottom_table table td{ padding:0px;}

.registration_details_box{ width:47%;}

.registration_details_box_one{ width:48%;}

/* updated on 04-11-16**************************/

.navbar-nav > li{ margin-right:0px;}

.curved-container1 {
    height: 0;
    margin: -74px auto auto 22px;
    position: relative;
    transform: rotate(-58deg);
    width: auto;}
	
.about_choksey_text p:nth-last-child(1){ display:none !important;}

.slider_text{ width:98%;
top:15px;}

.slider_image_content img{ width:75%;}

.slider_image_content{ text-align:right;
width:34%;}

.slider_image_content{ padding:10% 0px 0px 0px;}

.what_next_bttn{ margin-right:10px;
width:243px;}

.what_next_bttn_one{ margin-right:10px;
width:243px;}

.what_next_bttn_one:nth-last-child(1){ margin-right:0px;}

.image_part.cool {
    height: 110px;
    width:120px;}
	
.main_image img {width: 100%;}

h1 {
font-size: 22px;
line-height: 28px;
padding-bottom: 5px;}

.slider_text h4 {
font-size: 18px;
padding-bottom: 10px;}

.slider_text p {
font-size: 22px;}

.slider_image_content  img{ width:40%;}

h2{ font-size:26px;}

.interoduction_sec_box h3{ padding-bottom:3px;}

.middle_body_box{ width:98% !important;}

.news_feed_box_sec{ margin:0px 15px;}

.shares{ margin-right:2px;}

.shares img{ padding-right:3px;}

.image_part_text{ padding:3px;}

.calculator_box ul li a .box_one{ padding:10px 15px;}

.all_calculator_box_sec h5 {
    line-height: 19px;
    font-size: 15px;}
	
.contact_name_field_calculator:nth-last-child(1){ margin-right:0px;}

.banner_tab_content h3{ padding-bottom:3px;
font-size:20px;}
}



@media (min-width:768px) and (max-width:991px){
	
/*navigaton*************************/

.nav_box{ width:98%;}

h2{ font-size:24px;
line-height:32px;}

.rlAccordion > h3{ font-size:16px;
padding:8px 10px;}

.modal-dialog{ width:65%;}

h3{ font-size:18px;}

.navbar-nav > li > a {font-size: 15px !important;
 padding:5px 10px;}
 
.navbar {
min-height: 40px;
position: relative;}

/*header*************************/
	
.logo{ width:28%;}

.sign_up_bttn a {
font-size: 12px;
padding: 9px 7px;}

.sign_up_bttn{ margin-top:0px;}

.log_in_button {
font-size: 12px;
padding:2px 8px;}

.what_next_bttn{ margin-right:10px;
width:243px;
padding-left:5px;
height:45px;}

.what_next_bttn a{ font-size:15px;}

.what_next_bttn_one{ margin-right:10px;
width:243px;
padding-left:5px;
height:45px;}

.what_next_bttn_one a{ font-size:15px;}

.newsletter_bot {width:55px;}

.logo img{ width:70%;}

.logo p span{ font-size:16px;}

.newsletter_input {width: 200px;
height:30px;
font-size:13px;}

.newsletter{ margin:0px 0px 0px 5px;}

.bttn a.log_in {padding: 3px 15px !important;}

.newsletter_bot{ height:32px;
font-size:11px;}

.current_time p{ font-size:12px !important;}

.search_ber_sec{ margin-right:0px;}

.current_time{ margin:0px;}

.newsletter_input{ width:140px;
font-size:11px;}

.all_bttn_sec{ margin-left:2px;}

.log_in_bttn{ margin-right:2px;}

.footer_in_touch ul li a {
font-size: 16px;
line-height: 20px;
margin: 0 2px;
padding: 4px 9px;}

.footer_in_touch{ margin-left:5px;}


.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:357px;}

.bse_news_text h3{ font-size:15px;}

.bse_news_text{ margin-right:5px;}

.js-marquee{ font-size:13px;}

.bse_nse_box { width: 55%;
margin-bottom:0px;}

.bse_nse_tab {width:45%;}

.share_news_box{ padding:5px 0px;}

.news_feed_box_sec{ margin:25px 0px;
width:100%;}

.banner_tab_sub_heading ul li a {font-size: 13px;}

#menu .info {width:400px;}

#camera_wrap_1{ height:470px !important;}

#camera_wrap_1 img{ height:470px !important;}

.camera_pag_ul li img{ direction:none;}

#menu{ left:55px;}

.banner_tab_sub_heading ul li a .icon_part__text_sec{ font-size:13px;
margin-left:0px;
width:67%;
line-height:20px;}

.banner_tab_sub_heading{ width:32%;
padding:10px 2px;}

.banner_tab_content.wealth_box{ width:100%;}

.banner_tab_content h3{ font-size:18px;
padding-bottom:2px;}

.banner_tab_content h4{ font-size: 14px;
padding-bottom: 0px;
line-height: 18px;}

.baner_contt_sec__box ul li{ font-size:12px;
line-height:18px;
padding-bottom:0px;
padding-left:22px;}

.baner_contt_sec__box ul li.no_equity{ display:none;}

.banner_tab_content p{ line-height:18px;
font-size:13px;
text-align:justify;}

.banner_tab_sub_heading ul li a .research {background:url(../images/research-icon.png) no-repeat 0px 0px;}

.banner_tab_sub_heading ul li a .insurance {background:url(../images/insurance-icon.png) no-repeat 0px 2px;}

.banner_tab_sub_heading ul li a .pms { background:url(../images/pms-icon.png) no-repeat 0px 0px;}

.banner_tab_sub_heading ul li a .bonds {background: rgba(0, 0, 0, 0) url("../images/bonds-icon.png") no-repeat scroll 0 0px;}

.media_icon_part{ width:5%;}

.icon_text{ width:92%;}

.shares {margin-right: 15px;}

.social_media_box ul li{ margin-bottom:15px;}

.footer_bottom_right p{ text-align:left !important;}

.footer_bottom_right a{ padding-left:0px;}

.footer_bottom_right{ float:left;
text-align:left;}

#menu-items .top .ss-compass {
left: 192px;
top: 21px;}

.curved-container3 {
margin: -49px auto auto 60px;
transform: rotate(27deg);}

.curved-container {
height: 0;
margin: -53px auto auto 56px;
position: relative;
transform: rotate(7deg);
width: auto;}

.banner_content{ top:45px;}

.curved-container2 {
margin: -72px auto auto 30px;
transform: rotate(-41deg);}

.camera_pag_ul li img{ display:none !important;}

#menu-items .bottom .ss-refresh {
left: 271px;
top: 207px;}

.curved-container1 {
    height: 0;
    margin: -75px auto auto 23px;
    position: relative;
    transform: rotate(-61deg);
    width: auto;}

#menu-items .bottom .ss-rss {
left: 103px;
top: 275px;}

#menu #on-check:checked ~ .info{ margin-left:0px !important;}

#menu #on-check:checked ~ .info {
    margin-left: -69px !important;
	height:310px;}
	
#investment_bg img{ width:100% !important;
height:100% !important;
margin-top:80px;}

#menu { top: 85px;}

/******************banner 02******************/

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
font-size: 11px;
padding: 2px 3px;}

.markets{ padding:2px;
margin-right:0px;
margin-bottom:0px;}

.up_arrow img{ height:10% !important;
width:10% !important;}

.markets_box_sec{ margin-top:5px;}

.research_box_sec{ padding:2px;
margin-right:0px;}

.rate {
border: 1px solid #85dd7c;
font-size: 12px;
height: 21px;
line-height:17px;
margin: 1px auto 0;
width: 45px;}

.my_choksey_sec{
padding:2px;
margin-bottom:5px;}

.log_in a {
font-size: 11px !important;
margin: 0 5px;
padding: 5px 9px;}

.share_arrow img{ height:20% !important;
width:20% !important;}

.banner_content_two_sec h4{ font-size:12px;}

.research_box_sec{ 
margin-bottom:2px;
margin-left:10px;}

.banner_content_two{ top:5px;}

.dashboard_bttn{ margin:0px;}

.dashboard_bttn a{ font-size:13px;
padding:7px 40px;}

/******************banner 03******************/

.about_choksey_text{ width:75%;
padding-right:5px;}

.about_choksey_text p{ font-size:14px !important;
line-height:21px}

.banner_bttn a{ padding:12px 8px;}

.banner_bttn a{ font-size:12px;
padding:12px 22px;}

.about_choksey_bttn {width: 25%;}

.banner_bttn {top:135px;}

.border_line{ width:92%;}

.blue_border_line{ width:20%;
border:2px solid #2px solid #f7901e;}

.border_line.border_line_two {width: 68%;}

.image_part.cool {
height: 110px;
width: 127px;}

.image_part{ width:18%;}

.image_part img{ width:100% !important;
height:auto !important;}

.management_left{ width:100%;
margin:0px;}

.management_right{ width:100%;
margin:0px;}

.image_part_text{ padding:2px 5px;
width:83%;}

.banner_content_three_sec {
    margin-top: 25px;}

.wpf-demo-6{ height:auto;}

.image_part_text h4{    font-size: 18px;
padding-bottom: 0px;
padding-bottom: 6px;
line-height: 20px;}

.image_part_text p{ font-size:14px !important;}

.management_left{ padding:0px;
margin:0px;}

.about_choksey{ margin-bottom:7px;}

.camera_wrap .camera_pag .camera_pag_ul {
    top: -50px;}

.wpf-demo-6 .view-caption { padding: 0 !important;}

#scrollbar2{ margin:5px;}

.border_line{ margin-top:5px;}

.dashboard_bttn a{ font-size:15px;}

/*wealth management*************************/

.inter_para_text{ width:100%;
float:none;}

.inter_para_image{ width:100%;
float:none;
margin-bottom:25px;}

.inter_para_image_one{ width:100%;
margin-bottom:25px;}

.inter_para_text_one{ width:100%;
float:none;
margin-bottom:30px;}

.inter_para_text_body{ padding:5% 20px 0 20px}

.footer_top {
    border-bottom: 1px solid #313235;
    margin-bottom: 5px;
    padding-bottom: 0;}



/*company snapshot**************************/

.quote_text_box{ width:28%;}

.quote_text_box h3{ font-size:15px;}

.quote_text_box p{ font-size:12px;}

.quote_search_box{ width:72%;}

.search_ber_sec.for_quote_search{ float:none !important;}

.company_background{ margin-bottom:30px;}

#bharti_airtel{ padding-bottom:0px;}

.footer_box.footer_products {width: 47%;
height:300px;}

.footer_box{ height:290px;
width:26%;}

.footer_box:nth-last-child(1){ width:35%;}
	
header { padding: 15px 0px;}

.footer_bottom h2 {
    font-size: 19px;
    line-height: 22px;
    padding-bottom: 5px;}
	
.address_details_box_left{ margin-right:35px;}

.address_details_box{ margin-top:0px;}

/* update on 04-11-16********************************/

.banner_content_two_sec table td h4{ font-size:12px;
line-height:16px;}

.banner_content_two_sec table td{ height:23px !important;}

.banner_content_two_sec table td h4 {
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 0;
    text-align:left;
}
	
.banner_content_two_sec p {font-size: 11px !important;}

.markets{ height:330px;
          width:48%;
          margin-left:10px;
          margin-bottom:30px;
}

.research_box_sec { height: 330px;
                     width:48%;
                      margin-bottom:30px;
}

.my_choksey_sec{ display:none;
}

.dashboard_bttn_sec{ margin-top:10px;}

.banner_content_two_sec{ margin-top:30px;}

.registration_details_box_area h4 {
color: #fff;
font-size: 12px;}

.registration_details_box {
    width: 46%;}
	
.footer_bottom_table p{ font-size:8px !important;
padding-bottom:0px;
line-height:15px !important;}

div.bhoechie-tab-menu div.list-group > a .equity{ font-size:14px;padding-left:30px;}

div.bhoechie-tab-menu div.list-group > a .currency_part{ font-size:14px;padding-left:30px;}

div.bhoechie-tab-menu div.list-group > a .commodities{ font-size:14px;padding-left:30px;}

div.bhoechie-tab-menu div.list-group > a .research_icon{ font-size:14px;padding-left:30px;}

div.bhoechie-tab-menu div.list-group > a .insurance_icon{font-size:14px;padding-left:30px;}

div.bhoechie-tab-menu div.list-group > a .pms_icon{font-size:14px;padding-left:30px;}

div.bhoechie-tab-menu div.list-group > a .bond_icon{font-size:14px;padding-left:30px;}

.banner_tab_content{ width:64%;
padding:3px 5px;}

#image_part_choksey img{height: 100px !important;
    width: 120px !important;}
	
.slider_text{ top:10px;}

h1 {font-size: 16px;
line-height: 25px;
padding-bottom: 5px;}

.slider_text h4 {
font-size: 14px;
padding-bottom: 5px;
line-height: 24px;}

.slider_text p{font-size: 16px;
line-height: 25px;
padding-bottom: 5px;}

div.bhoechie-tab-menu div.list-group>a{ height:42px;}

.read_more a{ font-size:12px;}

.banner_tab_content h5 {
font-size: 16px;
padding-bottom: 3px;}


.slider_image_content {padding:10% 0px 0px 0px;}

.slider_text_content{ width:70%;}

.slider_image_content{ width:20%;}

.calculator{ width:100%;}

.quick_cott{ width:100%;}

.what_nxt_bttn_box ul li{ margin-bottom:10px;}

.what_nxt_bttn_box ul li a .box_one{ font-size:15px;}

.what_nxt_bttn_box ul li a .box_two{ font-size:15px;}

.what_nxt_bttn_box ul li a .box_three{ font-size:15px;}

.contact_name_field_calculator{ width:100%;}

.contact_name_field{ width:100%;}

.interoduction_sec_box h4{ padding:0px;}

}

/*------------large mobiles potrait and small mobile landscape-------------------------(Apple iPhone 6 Plus, 6s Plus 414x736)----*/

@media (max-width:767px){

/*navigaton*************************/

h4{ font-size:18px;}

.navbar-default .navbar-nav > li > a{ font-size:16px;}

.nav_box{ width:98%;}

.navbar-default .navbar-toggle{ border:1px solid #888888;}

.navbar-toggle:focus,.navbar-default .navbar-toggle:hover{ background:#f7901e !important;}

.dropdown-menu > li a:hover{}

.dropdown-menu{ min-width:100%;
border:none;
background:#4889b7;}

h2{ font-size:22px;
line-height:26px;
padding-bottom:0px;}

.modal-dialog {
    width: 70%;
}

.navbar-default .navbar-toggle .icon-bar {background-color: #ffffff;}

.navbar-default .navbar-toggle {
    border: 1px solid #888888;}

	
/* ----------------------header----------------------------------*/

header{ padding:5px 0px;}

.header_box{ width:99%;}

.all_bttn_sec{ margin-left:2px;}
	
.logo{ width:22%;}

.newsletter_input{ height:30px;
font-size:11px;}

.bttn a.log_in {padding: 3px 32px !important;}

.logo img{ width:60%;}

.logo p span{ font-size:12px;}

.footer_in_touch ul li a{ margin:0px;}


.newsletter_input {width: 148px;}

.js-marquee{ font-size:12px;}

.log_in_button {
    font-size: 13px;
    padding: 1px 11px;}

.newsletter_bot {width:61px;
height:30px;
font-size:13px;}

.newsletter{ margin:0px;}

.search_ber_sec{ margin-bottom:20px;
margin-right:0px;}
	
/*banner image*************************/

.view_more{ margin-top:0px;}

#camera_wrap_1{ height:275px !important;}

.banner_tab_content h3{ font-size:17px;
padding-bottom:3px;
line-height:24px;}

.banner_tab_content h4{ font-size:16px;
line-height:22px;}

.my_choksey_sec.research_report{ width:100%;}

.banner_content_two_sec table td{ height:28px !important;
padding:0px 0px;}

.footer_in_touch{text-align:left;
float:left;}

.current_time{ margin-left:5px !important;}

.log_in_bttn{ margin-right:0px;}

.current_time p{ text-align:right;
padding-right:2px;
font-size:11px !important;}

.search_ber_sec{ margin-bottom:5px;}

.footer_in_touch ul li a {
font-size: 14px;
line-height: 20px;
padding: 2px 6px;
text-align: center;}

.banner_tab_content p:nth-last-child(2){ display:none;}

/*Circle part*************************/

#menu{ top:55px;
left:35px;}


#menu #on-check:checked ~ .info {}

#menu #on-check:checked ~ .info {margin-left: -115px;}

#menu #on-check:checked ~ .info{ margin-top:40px;}

#menu .info {width:460px;}

#on-button > span {
height: 100px;
left: -18px;
top:25px;
width: 100px;}

#on-button::after {height: 100px;
width: 100px;
top:25px;}

.faux-shadow {
height: 100px;
left: -5px;
top: 61px;
width: 100px;}

#menu-items {
height: 100px;
left: -4px;
top: 41px;
width: 100px;}

.faux-shadow {
height: 100px;
left: -5px;
top: 41px;
width: 100px;}

#on-button {
height: 120px;
margin-left: -14px;
margin-top: 30px;
width: 120px;}

#on-button > span img{ padding-top:40px;}

#menu-items label {
    height: 35px;
    line-height: 50px;
    width: 35px;}

#menu-items .top .ss-home {
left: 23px;
top: 78px;}

.curved-container{ margin:-46px auto auto 34px;
transform:rotate(9deg);}

#menu-items .top .ss-compass {
    left: 157px;
    top: 17px;}

.curved-container span{ font-size:13px;
height:100px;}

.curved-container3 span{ font-size:13px;
height:110px;}

.curved-container2 span{ font-size:13px;
height:110px;}

.curved-container1 span{ font-size:13px;
height:110px;}

#on-check:checked ~ #menu-items {
    height: 265px;
    left: -96px;
    width: 265px;}
	
#on-check:checked ~ .faux-shadow {
    height: 265px;
    left: -96px;
    width: 265px;}
	
.curved-container3 {
margin: -37px auto auto 44px;
transform: rotate(43deg);}

#menu-items .bottom .ss-rss {
    left: 68px;
    top: 205px;}

#menu-items .bottom .ss-refresh {
    left: 210px;
    top: 157px;}
	
.curved-container1 {margin: -52px auto auto 22px;}

.curved-container2 {
margin: -55px auto auto 28px;
transform: rotate(-24deg);}

#menu-items .bottom .ss-refresh img{ width:85% !important;}

#menu-items .top .ss-compass img{ width:95% !important;}

#menu-items .bottom .ss-rss img{ width:95% !important;}

.banner_tab_sub_heading {
padding: 5px 0px;
width:26%;}

.banner_tab_sub_heading ul li a .icon_part__text_sec{ font-size:12px !important;
margin-left:5px;
width:80%;
line-height:32px;}

.banner_tab_sub_heading ul li a .equity{ width:23px;}

.banner_tab_sub_heading ul li a .currency_part{ width:23px;}

.banner_tab_sub_heading ul li a .commodities{ width:23px;}

.banner_tab_sub_heading ul li a .research{ width:23px;}

.banner_tab_sub_heading ul li a .insurance{ width:23px;}

.banner_tab_sub_heading ul li a .pms{ width:23px;}

.banner_tab_sub_heading ul li a .bonds{ width:23px;}

.banner_tab_sub_heading {
padding: 5px 0;
width: 32% !important;}

.banner_tab_sub_heading::before{ background:none !important;}

.banner_tab_sub_heading ul li{ padding-bottom:5px;}

.banner_tab_content h3 {
padding-bottom: 5px;}

.banner_tab_content.wealth_box{ width:96%;}

.banner_tab_content {
padding:5px 4px;
width:75%;}

.camera_wrap .camera_pag .camera_pag_ul {
    top: -40px;}
	
.banner_tab_content p{ line-height:26px;
padding-bottom:12px;
font-size:13px !important;
display:block !important;
line-height:20px;}

.banner_tab_content p{ padding-bottom:0px;}

.baner_contt_sec__box ul li{ font-size:14px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ font-size:13px;
padding:3px 10px;}

.banner_content_two_sec table td h4 {font-size: 15px;}

/********************banner 02************************/


.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
font-size: 10px;
padding: 3px 2px;}

.banner_content_two_sec h4{ font-size:11px;}

.rate {
font-size: 11px;
height: 21px;
margin: -3px auto 0;
width: 45px;}

.banner_content_two{ top:5px;}

.banner_box{ margin:0px;}

.markets_box_sec{ margin-top:3px;}

.markets {height: 310px;}

.dashboard_bttn{ margin-top:0px;}

.about_choksey{ margin-top:5px;
margin-bottom:0px;}

.dashboard_bttn a{ padding:7px 45px;;}
	
.research_box_sec{ display:none;}

.banner_content_two_sec h3 {font-size: 16px !important;
padding-bottom:3px;}
	
.banner_content_two_sec p{ font-size:11px !important;}

.share_arrow img {
height: 25% !important;
width: 25% !important;}

.up_arrow img {
height: 15% !important;
width: 15% !important;}

.my_choksey_sec { display:none !important;}

.markets.market_dashboard{ padding:0px;
margin:0px;
width:100%;}

.dashboard_bttn{ margin-top:5px;}

.dashboard_bttn a{ font-size:13px;}


/********************banner 03************************/

.banner_content_three_sec{ margin-top:0px;}

.about_choksey_text{ width:75%;
padding:0px;
margin-bottom:5px;}

.choksey_contt_sec p{ font-size:13px !important;
line-height:18px;}

.interoduction_sec_box ul li{ font-size:14px;
padding-bottom:2px;}

#inner_page p strong{ font-size:14px;}

.border_line{ width:96%;
margin-top:3px;}

#on-check:checked ~ #menu-items{ left:-87px;}

#on-check:checked ~ .faux-shadow{ left:-87px;}

.blue_border_line {border: 2px solid #f7901e;}

.choksey_contt_sec {
    margin-top: 5px;}

.border_line.border_line_two{ width:96%;
margin-top:10px;}

.about_choksey_bttn { width:25%;
margin:0px;}

.banner_bttn a {
font-size: 11px;
padding: 7px 30px;}

.banner_bttn {top:100px;
position:relative;
float:left;}

.management{ display:none;}

footer h3{ font-size:13px;}

.footer_box ul li a{ font-size:13px;
padding-left:15px;}

.management_left { width:45;
margin-top:0px;}

.image_part {width:15%;}

.image_part_text {width:85%;}

.image_part_text h4{ font-size:15px !important;
padding-bottom:0px;
line-height:18px;}

.management_left{ margin-right:10px;
width:48%;}

.management_left:nth-last-child(1){ margin-right:0px !important;}

.image_part_text{ height:106px;}

.image_part img{ width:100% !important;
height:100% !important;}

.image_part_text{ padding:0px 3px !important;}

.image_part_text p{ line-height:15px !important;
font-size:12px !important;}


/********************middle body************************/

.bse_nse_box {width:61%;
margin-bottom:0px;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:405px;}

.bse_news_text h3{ font-size:15px;}

#share_news_ber{ padding:0px 0px;}

.bse_nse_tab {width:39%;}

.news_feed_box_sec{ margin-top:25px;}

.footer_bottom_right p{ text-align:left !important;}

.footer_bottom_right a{ padding-left:0px;}

.footer_bottom_right{ float:left;
text-align:left;}

.markets{ width:100%;
margin-right:0px;
padding:1px;}

.research_box_sec{ width:100%;
margin-right:0px;}

.research_box_sec.researche_box_two{ width:100%;}

.target_text p img {
    height: 70% !important;
    width: 70% !important;}
	
/*wealth management*************************/

.inter_para_text{ width:100%;
float:none;}

.inter_para_image{ width:100%;
float:none;
margin-bottom:25px;}

.inter_para_image_one{ width:100%;
margin-bottom:25px;}

.inter_para_text_one{ width:100%;
float:none;
margin-bottom:30px;}

.inter_para_text_body{ padding:5% 20px 0 20px}

.request_bttn {
float: none;
margin-right:0px;
text-align: left;
margin-bottom:30px;}

.number_box{ float:none;
width:100%;}

.request_bttn a{ padding:12px 38px;}

.right_away_box{ float:none;
margin-bottom:15px;
width:100%;}

.right_away_box_area{ margin:0px 10px;
width:100%;
float:none;}

/*company snapshot**************************/

.quote_text_box{ width:28%;}

.quote_text_box h3{ font-size:15px;}

.quote_text_box p{ font-size:12px;}

.quote_search_box{ width:72%;}

.search_ber_sec.for_quote_search{ float:none !important;}

.company_background{ margin-bottom:30px;}

.company_background_box table td{ padding:0px 3px;}

.company_background_box table td p{ font-size:14px !important;}

.company_background_box table td h4{ font-size:14px !important;}

.news_update_box a .news_time{ margin-right:15px;}

#bharti_airtel{ padding-bottom:0px;}

.news_background_box { margin-bottom:30px;}

.footer_box.footer_products{ width:50% !important;}

#investment_bg img{ height:100% !important;
width:100% !important;
margin-top:30px;}

#menu .info {width:420px;}

#menu #on-check:checked ~ .info {margin-left: -103px;}
	
#menu #on-check:checked ~ .info {margin-left: -127px;}

.footer_top {margin-bottom: 5px;
padding-bottom: 0;}

.footer_box ul li{ margin-bottom:3px;}

.footer_bottom h2 {font-size: 16px;
line-height:22px;
padding-bottom:3px;}

.footer_choksey{ margin-bottom:5px;}

.footer_bottom {
    margin-bottom: 5px;
    padding-bottom: 5px;}
	
footer{ padding:25px 0px;}

.footer_choksey { margin-bottom: 5px;}

.footer_bottom {margin-bottom: 5px;
    padding-bottom: 7px;}
	
.footer_bottom h3{ font-size:12px;
line-height:16px;
padding-bottom:0px;}
	
.registration_details_box_area h4{ font-size:11px;}

.footer_box {
    float: left;
    height: 243px;
    margin-bottom: 10px;
    width: 24%;}
	
div.bhoechie-tab-menu div.list-group>a .equity {
margin-left: 4px;
font-size:13px;
padding-left:30px;}

div.bhoechie-tab-menu div.list-group>a .currency_part {
margin-left: 4px;
font-size:13px;
padding-left:30px;}

div.bhoechie-tab-menu div.list-group>a .commodities {
margin-left: 4px;
font-size:13px;
padding-left:30px;}

div.bhoechie-tab-menu div.list-group>a .research_icon {
margin-left: 4px;
font-size:13px;
padding-left:30px;}

div.bhoechie-tab-menu div.list-group>a .insurance_icon {
margin-left: 4px;
font-size:13px;
padding-left:30px;}

div.bhoechie-tab-menu div.list-group>a .pms_icon {
margin-left: 4px;
font-size:13px;
padding-left:30px;}

div.bhoechie-tab-menu div.list-group>a .bond_icon {
margin-left: 4px;
font-size:13px;
padding-left:30px;}

.banner_tab_content {
    padding: 5px 4px;
    width: 64%;}
	
div.bhoechie-tab-menu div.list-group>a {height: 34px;}

.banner_tab_content h3{ padding-bottom:0px;}

.banner_tab_content p {
font-size: 12px !important;
line-height: 15px;}

.banner_tab_content h4 {
font-size: 14px;
line-height: 22px;}

.banner_tab_content {width: 64%;}

.baner_contt_sec__box ul li {
font-size: 12px;
line-height: 15px;}

.read_more a {font-size: 12px;}

.banner_tab_content h3{ font-size:14px;
padding-bottom:0px;
line-height:18px;}

.banner_tab_content h4{ font-size:13px;
padding-bottom:0px;
line-height:17px;}

.baner_contt_sec__box ul li { padding-bottom:1px;}

.read_more{ margin-top:-5px;}

.banner_tab{ height:200px;}

.share_news_box {width: 98%;}

.bse_news_text h3 {font-size: 13px;}

.bse_news_text {margin-right: 5px;}
	
.share_news_box {
    width: 99%;}
	
.security_code input {
height: 30px;
margin-bottom: 0px;
font-size: 12px;
padding-left: 3px;}

.slider_text {
    width: 98%;
    top: 7px;}
	
h1{ font-size:15px;
padding-bottom:2px;
line-height:22px;}

h3{ font-size:18px;
padding-bottom:2px;
line-height:22px;}

.slider_text h4{ font-size:13px;
line-height:22px;
padding-bottom:2px;}

.slider_text p {font-size: 15px;
line-height:22px;}

.what_next_bttn{ width:225px;
padding-left:8px;
font-size:15px;}

.what_next_bttn_one a { font-size:15px;}

.what_next_bttn_one{ width:225px;
padding-left:8px;
font-size:15px;}

.what_next_bttn img{ padding-right:5px;}

.what_next_bttn_one img {
    padding-right:3px;}
	
.banner_tab_content h5{ font-size:16px;}

}

@media (max-width:667px){

.banner_content_two_sec h3{ font-size:13px;
padding-bottom:0px;
line-height:18px;}

.modal-dialog {
    width: 70%;}

.banner_content_two_sec table td h4{ font-size:12px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    font-size: 11px;
    padding: 0 7px;}
	
.banner_content_two_sec table td{ height:20px !important;}

.banner_content_two_sec p{ font-size:10px;
line-height:14px;
padding-bottom:0px;}

.markets {height: 196px;}

.dashboard_bttn a {font-size: 10px;}

.dashboard_bttn {margin-top: -7px;}

h1{ font-size:15px;
padding-bottom:2px;
line-height:22px;}

.slider_text h4{ font-size:13px;
line-height:22px;
padding-bottom:2px;}

.slider_text p {font-size: 14px;
line-height:22px;}

.what_next_bttn{ width:200px;
padding-left:3px;
font-size:15px;}

.what_next_bttn_one a { font-size:14px;}

.what_next_bttn_one{ width:200px;
padding-left:3px;
font-size:14px;}

.what_next_bttn img{ padding-right:5px;}

.what_next_bttn_one img {
    padding-right:3px;}
	
.banner_tab_content p {
    font-size: 11px !important;}
	
.baner_contt_sec__box ul li{ font-size:11px;}

.banner_tab_sub_heading {
    padding: 5px 0;
    width: 27% !important;}
	
#menu .info {
    width: 394px;}
	
.banner_tab_content {
    width: 70%;}
	
.banner_bttn a {
    font-size: 11px;
    padding: 7px 20px;}
	
.bse_news_text h3 {
font-size: 12px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    font-size: 7px;
    padding: 0 7px;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert {
width: 368px;}
}

/*------------large mobiles potrait and small mobile landscape--------------(320x568, 600x960)-------*/

/*@media all and (min-width: 603px ) and (max-width: 767px )*/
	
@media (max-width:603px){
	
#camera_wrap_1 {
height:244px !important;}

#camera_wrap_1 img {
height:244px !important;}

.footer_header{ margin-bottom:0px;
padding-bottom:5px;}

	
.curved-container span {
    font-size: 13px;}
	
#on-button::after{ left:-29px;}
	
.logo{ width:22%;}
	
.logo img {width:65%;}

.newsletter_bot {
    width: 50px;
	font-size:10px;}
	
.curved-container {
margin: -20px auto auto 28px;
transform: rotate(-4deg);}

#menu-items .top .ss-compass {
    left: 102px;
    top: 12px;}

.curved-container3 {
    margin: -21px auto auto 29px;
    transform: rotate(42deg);}
	
.curved-container span{ font-size:12px;
height:90px;}

.curved-container1 span{ font-size:11px;
height:90px;}
	
.curved-container2 span{ font-size:11px;
height:90px;}
	
.curved-container3 span{ font-size:11px;
height:80px;}

.banner_tab_content p{ font-size:11px !important;
padding-bottom:3px;
line-height:15px;
text-align:justify;}

.baner_contt_sec__box ul li{ font-size:12px;
line-height:18px;
padding-bottom:3px;}

.about_choksey_text{ width:70%;}

.banner_tab_sub_heading{ width:20% !important;}

.banner_tab_content h4{ padding-bottom:0px;}

.banner_tab_content h3{ font-size:12px;
padding-bottom:0px;
line-height:15px;}

.banner_tab_content h4{ font-size:12px;
padding-bottom:0px;}

.curved-container span{ font-size:11px;
height:85px;}

.curved-container2 {
    margin: -37px auto auto 14px;
    transform: rotate(-26deg);}
	
.security_code input{ height:28px;}

.log_in_bttn{ margin-top:-4px;}

#share_news_ber{ padding-bottom:5px;}
	
#menu #on-check:checked ~ .info {
    margin-left: -200px;
	height:176px;}
	
.bse_nse_box{ margin-bottom:5px;}
	
.banner_tab_content{ padding:2px;}

.camera_wrap .camera_pag .camera_pag_ul li{ width:30px;
height:3px;
margin:20px 2px;}
	
.banner_tab_content.wealth_box{ width:100%;}

.curved-container1 span{ font-size:11px;
height:80px;}

.curved-container1 {
    margin: -36px auto auto 13px;}

#menu-items .bottom .ss-rss {
    left: 50px;
    top: 139px;}

.curved-container2 span{ font-size:11px;
height:85px;}

.curved-container4 span{ font-size:13px;
height:100px;}

#menu-items .bottom .ss-refresh {
    left: 140px;
    top: 107px;}

.logo p span{ font-size:11px;}

.newsletter_input{ width:98px;
font-size:9px;
height:26px;
padding-left:5px;}

.newsletter_bot{ height:26px;}

.newsletter_bot_sec{ background:none;
margin-top:-4px;}

.search_ber_sec{ margin-bottom:0px;}

#camera_wrap_1{ height:190px;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:480px;}

.js-marquee{ font-size:13px;}

.js-marquee strong{ font-size:13px;}

.js-marquee span{ font-size:13px;}

.icon_part{ width:12%;}

.banner_tab_sub_heading {padding:0px !important;
width: 32%;}

.banner_tab_sub_heading ul li a .icon_part__text_sec{ width:60%;}

#menu .info {width:335px;}

.banner_tab_sub_heading {
padding: 5px 0;
width:33% !important;}

.banner_tab_content p:nth-last-child(2){ display:block !important;
padding-bottom:0px !important;}

#scrollbar1 { margin:0px !important;}

#scrollbar2{ margin:0px !important;}

.image_part {width: 25%;}

.image_part_text {width: 75%;}

.camera_wrap .camera_pag .camera_pag_ul{ top:-32px;}

.footer_in_touch ul li a { margin:0px;
font-size:13px;}

.log_in_button{ font-size:11px;
padding:1px 7px;
margin-top:-1px;
height:26px;}

.footer_bottom p{ font-size:9px !important;
line-height:14px;}

.bse_news_text h3 {
color: #fff;
font-size: 13px !important;
line-height: 26px !important;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ font-size:11px;}

footer{ padding:30px 0px 15px 0px;}

.footer_bottom h2 {
    font-size: 17px;
    line-height: 22px;}
	
.footer_box ul li{ padding-bottom:3px;
line-height:22px;}

.footer_top{ padding-bottom:0px;
margin-bottom:7px;}

.footer_bottom {
    margin-bottom: 2px;
    padding-bottom: 7px;}

.footer_choksey {
    margin-bottom: 2px;}
	
.registration_details_box_area h4{ font-size:12px;
line-height:16px;}

.footer_finish p{ font-size:12px !important;}

.camera_pag_ul li img {
    height: 30px !important;
    width: 50px !important;
	border:1px solid #e6e6e6;}

.address_details_box{ margin-top:3px;}

.footer_bottom h3{ font-size:12px;
line-height:18px;}


/*circle**********************/

#on-check:checked ~ #menu-items{ height:240px;
width:250px;}

#on-check:checked ~ .faux-shadow{ height:240px;
width:250px;}

#menu{ left:51px;}

#on-button::after {
    height: 90px;
    top: 3px;
    width: 90px;}
	
#on-button > span {
height: 90px;
left: -30px;
top: 2px;
width:90px;}
	

#menu-items{ height:90px;
width:90px;
left:-14px;
top:18px;}

.faux-shadow{ height:55px;
width:55px;
left:-14px;
top:18px;}

#menu-items .top .ss-home{ left:16px;}

/*last update 29-10-16**********************/

.what_next_bttn_box{ margin:7px 0px;}

.interoduction_sec_box ul li{ padding-bottom:5px;}

.footer_box.footer_products{ width:50%;}

#on-check:checked ~ #menu-items {
    left: -83px;}
	
#on-check:checked ~ .faux-shadow{    left: -83px;}

#menu-items .top .ss-home {
    top: 47px;}
	
#menu-items label{ line-height:24px;
height:30px;
width:30px;}

#menu-items .top .ss-home {
    transform: rotateZ(-50deg);}
	
#menu-items .top .ss-home img {
    width: 50% !important;}

/*for circle 02-11-16**********************/

#on-button::after{ height:55px;
width:55px;}

#on-button{ height:70px;
width:70px;
margin-left:-22px;
margin-top:12px;}

#on-button > span img{ padding-top:5px;
width:100% !important;}

.faux-shadow{ height:55px;
width:55px;}

#on-button > span{ height:55px;
width:55px;}

#menu-items{ height:55px;
width:55px;}

#on-check:checked ~ #menu-items{ height:185px;
width:185px;
top:-42px;}

#on-check:checked ~ .faux-shadow {
height:185px;
width:185px;
top:-42px;}

.about_choksey_bttn{ width:20%;}

.banner_content_two_sec h3{ font-size:12px;
padding-bottom:0px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ padding:2px 7px;}

.banner_content_two_sec table td h4{ font-size:13px;}

/* update on 04-11-16*************************/

.banner_content_two_sec table td{ height:18px !important;}

.banner_content_two_sec p{ font-size:11px;
line-height:13px;}

.markets {height:330px;
          margin-bottom:30px;
}

.research_box_sec{ display:none !important;}

.dashboard_bttn{ margin-top:-7x;}

.dashboard_bttn a{ font-size:11px;}

.banner_content_two_sec table td h4{ font-size:12px;}
}

/* ------------------------------------- iPhone 6+ ------------------------------------------- (min-device-width: 414px and max-device-width: 736px)*/
@media all and (max-width: 480px ){
	
/*navigaton*************************/

.footer_header{ margin-bottom:10px;}

.modal-dialog { width:90%;}

.navbar-default .navbar-nav > li > a{ font-size:16px;}

.footer_bottom p{ font-size:7px !important;}

.nav_box{ width:98%;}

.log_in_button{ padding:1px 22px;}

.navbar-default .navbar-toggle{ border:1px solid #888888;}

.navbar-toggle:focus,.navbar-default .navbar-toggle:hover{ background:#f7901e !important;}

.dropdown-menu > li a:hover{}

.dropdown-menu{ min-width:100%;
border:none;
background:#4889b7;}

.calculator{ width:100%;}

.newsletter_input {
    width:235px !important;}
	
.footer_bottom h3{ font-size:11px;}

.footer_bottom h2{ font-size:15px;
padding-bottom:3px;}
/* ---------header-----------*/

header{ padding:5px 0px;}
	
.logo{ width:100%;
margin-bottom:5px;
text-align:center;}

.logo img{ width:30%;
text-align:center;}

.logo p{ text-align:center;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ font-size:10px;}

.logo p span { font-size: 10px;}

.newsletter_input{ height:30px;
font-size:10px;}

.bttn a.log_in {padding: 3px 32px !important;}

.newsletter_bot {font-size: 13px;
height:35px;}

.header_right{ width:97%;
float:none !important;
margin:0px 5px;}

.newsletter_bot {width:85px;
height:30px;
font-size:10px;}

.newsletter_bot_sec{margin-top:-1px;}

.log_in_bttn {margin-top: 0px;}

.log_in_button{ height:30px;}

.newsletter{ margin:0px;}

.search_ber_sec{ margin-bottom:0px;
margin-right:0px;}

.newsletter_input{ width:185px;}

.footer_in_touch ul li a {
font-size: 11px;
line-height:16px;
padding: 2px 6px;
text-align: center;}

.banner_tab_content p{ font-size:12px;
line-height:20px;}

/*banner image****************/

.view_more{ margin-top:0px;}

.my_choksey_sec.research_report{ width:100%;}

.banner_content_two_sec table td{ height:28px !important;
padding:0px 0px;}

#camera_wrap_1 {height:570px !important;}

#camera_wrap_1 img {height:570px !important;}


/*Circle part*************************/

#menu {
left: 100px;
top: 55px;}

#menu #on-check:checked ~ .info{ margin-top:330px;
    margin-left: -430px;
    height: auto;
    width: 380px;}



div.bhoechie-tab-menu div.list-group>a .currency_part {
margin-left: 3px;
font-size:12px;
padding-left:26px;}

div.bhoechie-tab-menu div.list-group>a .commodities {
margin-left: 3px;
font-size:12px;
padding-left:26px;}

div.bhoechie-tab-menu div.list-group>a .research_icon {
margin-left: 3px;
font-size:12px;
padding-left:26px;}

div.bhoechie-tab-menu div.list-group>a .insurance_icon {
margin-left: 3px;
font-size:12px;
padding-left:26px;}

div.bhoechie-tab-menu div.list-group>a .pms_icon {
margin-left: 3px;
font-size:12px;
padding-left:26px;}

div.bhoechie-tab-menu div.list-group>a .bond_icon {
margin-left: 3px;
font-size:12px;
padding-left:26px;}







#menu .info {margin-top: 331px !important;}

#menu .info {width:400px;}

#on-button > span {
height: 100px;
left: -18px;
top:25px;
width: 100px;}

#on-button::after {height: 100px;
width: 100px;
top:25px;}

.faux-shadow {
height: 100px;
left: -5px;
top: 61px;
width: 100px;}

#menu-items {
height: 100px;
left: -4px;
top: 41px;
width: 100px;}

.faux-shadow {
height: 100px;
left: -5px;
top: 41px;
width: 100px;}

#on-button {
height: 120px;
margin-left: -14px;
margin-top: 30px;
width: 120px;}

#on-button > span img{ padding-top:30px;}

#menu-items label {
height: 40px;
line-height: 38px;
width: 40px;}

#menu-items .top .ss-home{ top:80px;
left:30px;}

.curved-container{ margin:-39px auto auto 41px;
transform:rotate(-10deg);}

#menu-items .top .ss-compass {
    left: 157px;
    top: 20px;}
	
#on-button::after {
    left: -18px;}
	
.banner_tab_sub_heading{ width:23%;
padding:10px 7px;}

.banner_tab_sub_heading {
    width: 31% !important;}
	
#investment_bg img{ height:90% !important;
width:90% !important;}
	
.banner_tab_content{ width:100%;}

.curved-container3 span{ height:100px;}
	
.banner_tab_content.wealth_box{ width:100%;}

.curved-container span{ font-size:15px;
height:100px;}

.curved-container3 span{ font-size:15px;}

.curved-container2 span{ font-size:15px;}

.curved-container1 span{ font-size:15px;
height:100px;}

#on-check:checked ~ #menu-items {
    height: 280px;
    left: -96px;
    width: 280px;}
	
#on-check:checked ~ .faux-shadow {
    height: 280px;
    left: -96px;
    width: 280px;}
	
.curved-container3 {margin: -25px auto auto 42px;
transform:rotate(39deg);}

#menu-items .bottom .ss-rss {
    left: 71px;
    top: 205px;}

#menu-items .bottom .ss-refresh {
    left: 207px;
    top: 168px;}
	
.curved-container1 {margin:-56px auto auto 16px;}

.curved-container2 {margin: -55px auto auto 35px;}

#menu-items .bottom .ss-refresh img{ width:85% !important;}

#menu-items .top .ss-compass img{ width:95% !important;}

#menu-items .bottom .ss-rss img{ width:95% !important;}

.banner_tab_sub_heading {
padding:0px !important;
width:30%;}

#on-check:checked ~ #menu-items{ top:-48px;}

#on-check:checked ~ .faux-shadow {
top:-48px;}

.banner_tab_sub_heading ul li a {
    padding: 0px ;
}

.banner_tab_sub_heading ul li a .icon_part__text_sec{font-size: 11px !important;
    margin-left: 5px;
    width: 62%;
    line-height: 20px;
    float: left;
    margin-top: 6px;}

.banner_tab_sub_heading ul li{ padding:0px 0px 2px 5px;}

.banner_tab_content h3 {
    padding-bottom: 5px;}
	
.banner_tab_content {
padding: 5px 5px;
width:65%;}
	
.banner_tab_content p{ line-height:15px;
padding-bottom:3px;
font-size:11px;}

.camera_wrap .camera_pag .camera_pag_ul {
    top: -46px;}


/********************banner 02************************/
.markets{ width:100%;
margin:0px;}

.research_box_sec{ margin:0px;}

.research_box_sec{ width:100%;}

.my_choksey_sec{ width:100%;
 margin:0px;
 display:none;}
 
.about_choksey_bttn{ margin:15px 0px 10px 0px;}

.banner_bttn a{ font-size:14px;
padding:10px 50px;}

.about_choksey{ margin-bottom:0px;}
 
 .banner_content_two_sec h3 {font-size: 16px !important;
padding-bottom:10px;}

.dashboard_bttn a{ font-size:14px;}

.dashboard_bttn {margin-top: 10px;}

.camera_wrap .camera_pag .camera_pag_ul li{ width:42px;}

.camera_wrap .camera_pag .camera_pag_ul{ right:10px;}

.camera_pag_ul li img {
    height: 55px !important;
    width: 60px !important;
	display:none !important;}
 
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
font-size: 11px;
line-height: 20px;
padding: 3px 11px;}

.share_arrow img{ width:30% !important;
height:30% !important;}

.up_arrow img{ width:18% !important;
height:18% !important;}

.markets_box_sec{ margin-top:5px;}

.banner_content_two{ top:20px;}

/********************banner 03************************/

.banner_content_three_sec{ margin-top:0px;}

.about_choksey_text{ width:100%;
border:none;
padding:0px 10px;}

.about_choksey_text p { font-size:14px;}

.about_choksey_bttn { width:100%;
margin-top:30px;
margin-bottom:20px;}

.banner_bttn {top:0;
position:relative;
float:left;}

.current_time{ margin-left:0px !important;}

.footer_in_touch { float:right;
text-align:right;
margin-right:4px;}

.management_left { width:100%;
margin-top:10px;}

.image_part{ width:30%;}

.image_part img{ width:100% !important;
height:auto !important;}

.image_part_text{ padding:10px;
width:70%;}

.image_part_text h4{ font-size:18px !important;
padding-bottom:5px !important;}

.image_part_text p{ font-size:13px !important;
line-height:20px;}

#scrollbar1{ margin:0px;}

.wpf-demo-6 .view-caption{ padding:5px !important;}

.wpf-demo-6 .view-caption h4{ font-size:18px !important;
padding-bottom:5px;}

.wpf-demo-6 .view-caption p{ font-size:13px !important;}

.border_line{ width:100%;
margin-top:10px;}

.border_line.border_line_two{ width:100%;}

banner_content_three_sec{ margin-top:0px;}

/********************middle body************************/

.bse_nse_box {width: 100%;
margin-bottom:15px;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:375px;}

.bse_nse_tab {width: 100%;
margin-top:-11px;}

.news_feed_box_sec{ margin:15px 0px;
width:100%;}

.social_media_box{ margin-top:10px;}

.footer_bottom_right p{ text-align:left !important;}

.footer_bottom_right a{ padding-left:0px;}

.footer_bottom_right{ float:left;
text-align:left;}

/*wealth management*************************/

.inter_para_text{ width:100%;
float:none;}

.inter_para_image{ width:100%;
float:none;
margin-bottom:25px;}

.inter_para_image_one{ width:100%;
margin-bottom:25px;}

.inter_para_text_one{ width:100%;
float:none;
margin-bottom:30px;}

.inter_para_text_body{ padding:5% 20px 0 20px}

.request_bttn {
float: none;
margin-right:0px;
text-align: left;
margin-bottom:30px;}

.number_box{ float:none;
width:100%;}

.request_bttn a{ padding:12px 38px;}

.right_away_box{ float:none;
margin-bottom:15px;
width:100%;}

.right_away_box_area{ margin:0px 10px;
width:100%;
float:none;}

.field_box{ width:96%;}

.field_box_area{ width:48%;}

.contact_page2 textarea{ width:98%;}

.contact_page2 input[type="submit"]{ width:94%;}

/*company snapshot**************************/

.quote_text_box{ width:28%;}

.quote_text_box h3{ font-size:15px;}

.quote_text_box p{ font-size:12px;}

.quote_search_box{ width:72%;}

.search_ber_sec.for_quote_search{ float:none !important;}

.company_background{ margin-bottom:30px;}

.company_background_box table td{ padding:0px 3px;}

.company_background_box table td p{ font-size:14px !important;}

.company_background_box table td h4{ font-size:14px !important;}

.news_update_box a .news_time{ margin-right:15px;}

#bharti_airtel{ padding-bottom:0px;}

.news_background_box { margin-bottom:30px;}

.registration_details_box{ width:95%;
margin-bottom:20px;}

.registration_details_box_one{ width:95%;}

/*last update 29-10-16**********************/

.what_next_bttn_box{ margin:7px 0px;}

.what_next_bttn{ margin-bottom:12px;
font-size:16px;}

.what_next_bttn_one{ font-size:16px;}

.interoduction_sec_box ul li{ padding-bottom:5px;}

.rlAccordion > h3{ font-size:16px;}

.interoduction_sec_box ul li{ font-size:13px;
margin-bottom:2px;}

.interoduction_sec_box h4{ font-size:15px;}

h2{ font-size:20px;}

.address_details_box_two{ width:100%;
float:none;}

.address_details_box_two p{ text-align:left !important;}

.address_details_box_three{ width:100%;
float:none;}

.address_details_box_three p{ text-align:left !important;}

.footer_box.footer_products{ width:80%;}s

/* update on 04-11-16*********************************/

.banner_content_two_sec {margin: 50px auto 0;}

.footer_box{ width:100%;
height:auto;}

.footer_box.footer_products{ width:100% !important;
height:auto;}

.banner_tab_sub_heading ul li a{ padding:0px !important;}

.banner_tab_content p:nth-last-child(2){ display:none !important;}

.banner_tab_sub_heading ul li a .equity{ height:27px !important;}

.banner_tab_sub_heading ul li a .currency_part{ height:27px !important;}

.banner_tab_sub_heading ul li a .commodities{ height:24px !important;}

.banner_tab_sub_heading ul li a .research{ height:27px !important;}

.banner_tab_sub_heading ul li a .insurance{ height:22px !important;}

.banner_tab_sub_heading ul li a .pms{ height:24px !important;}

.banner_tab_sub_heading ul li a .bonds{ height:27px !important;}

.markets {height:330px;
          margin-bottom:30px;
}

.baner_contt_sec__box ul li {
    font-size: 11px;
    padding-bottom: 2px;
    line-height: 15px;}
	
.baner_contt_sec__box{ margin-bottom:7px;}

.slider_text{ top:2px;}

h1{ font-size:11px;
line-height:14px !important;
padding-bottom:2px;}

.slider_text p{ font-size:11px;
line-height:14px !important;
padding-bottom:2px;}

.slider_text_content{ width:75%;}

.slider_image_content{ width:25%;}

.slider_text h4 {
    font-size: 10px;
    line-height: 14px !important;
    padding-bottom: 2px}
	
.what_next_bttn{ width:395px;
 font-size:16px;
 height:42px;}

.what_next_bttn_one { width:395px;
margin-bottom:12px;
height:42px;}

#inner_page p strong {font-size: 13px;}

.what_next_bttn_one a{ font-size:16px;}

.research_box_individual{ width:100%;}

h3{ font-size:16px;
line-height:20px;}

.interoduction_sec_box img.wrap{ float:none;
width:100% !important;
margin:0px 0px 10px 0px !important;}

.interoduction_sec_box img.wrap1{ float:none;
width:100% !important;
margin:0px 0px 10px 0px !important;}

.quick_cott{ width:100%;}

.calculator_box{ margin-top:10px;}

.calculator_box ul li{ margin-bottom:10px;}

.calculator_box ul li a .box_one{ font-size:16px;}

.calculator_box ul li a .box_two{ font-size:16px;}

.calculator_box ul li a .box_three{ font-size:16px;}

.calculator_box ul li a .box_four{ font-size:16px;}

.calculator_box ul li a .box_five{ font-size:16px;}

.security_code input{ width:99%;}

.shares {margin-right: 10px;}

.what_nxt_bttn_box ul li{ margin-bottom:10px;}

.what_nxt_bttn_box ul li a .box_one{ font-size:13px;
width:390px;}

.what_nxt_bttn_box ul li a .box_two{ font-size:13px;
margin:0px 0px;
width:390px;}

.what_nxt_bttn_box ul li a .box_three{ font-size:13px;
width:390px;}

.my_choksey_sec.ind_my_choksey{display:block !important;
margin-bottom:30px !important;}

.research_box_sec.ind_research_box_sec{ display:block !important;
margin-bottom:30px !important;}

.interoduction_sec_box h4{ margin-top:-10px;}

.contact_name_field_calculator{ width:100% !important;
margin-right:0px !important;}

.contact_name_field{ width:100% !important;
margin-right:0px !important;
margin-bottom:20px;}

.all_calculator_box_sec h6{ font-size:22px;}

.banner_tab_content h5{ font-size:15px;
padding-bottom:10px;}

.search_sec_box ul li{ margin-bottom:30px !important;}
}



/* ----------- iPhone 6 --------------- (min-device-width: 375px and max-device-width:667px)*/

@media all and (max-width: 384px ){
	
/*navigaton*************************/

.footer_header{ margin-bottom:0px;
padding-bottom:3px;}

.modal-dialog { width:90%;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ font-size:9px;}

.registration_details_box_area h4{ font-size:9px;
line-height:12px;}

.newsletter_bot{ width:93px;}

.footer_bottom p{ font-size:7px !important;}

.banner_tab_content p{ line-height:13px;}

.baner_contt_sec__box ul li:nth-last-child(1){ display:none;}

#menu .info {margin-top: 326px !important;}

.newsletter_input {width:175px !important;}

.navbar-default .navbar-nav > li > a{ font-size:15px;}

.nav_box{ width:98%;}

#camera_wrap_1 {height:500px !important;}

.about_choksey_bttn{ padding:0px 10px;}

.bse_nse_box{ margin-bottom:0px;}

.camera_pag_ul li img{ display:none !important;}

.navbar-default .navbar-toggle{ border:1px solid #888888;}

.navbar-toggle:focus,.navbar-default .navbar-toggle:hover{ background:#f7901e !important;}

.dropdown-menu > li a:hover{}

.dropdown-menu{ min-width:100%;
border:none;
background:#4889b7;}

.footer_in_touch{ float:right;
margin-right:4px;}

.current_time{ margin-left:3px;}

.current_time p{ font-size:13px;}

.interoduction_sec_box h4{ width:100%;}

/*header*************************/

h2{ font-size:18px;
line-height:24px;}
	
.newsletter_input {width: 150px;}

.quote_text_box{ float:none;
width:100%;}

.about_choksey_text p {
font-size: 14px;
line-height: 25px;}

.management_left:nth-last-child(1){ display:none !important;}

.border_line.border_line_two {width: 96%;}

#menu {left: 105px;
top:55px;}

#menu #on-check:checked ~ .info {
    margin-left: -428px;
    margin-top: 330px;}
	
.banner_tab_content h4{ display:none;}

div.bhoechie-tab-menu div.list-group>a {height: 28px;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert {width: 310px;}

.banner_content_two_sec p {font-size: 11px !important;}

.dashboard_bttn a {font-size: 13px;}

#quote_sec p{ font-size:13px !important;
line-height:15px;
padding-top:10px;}

.news_update_box a .news_time{ width:24%;
font-size:14px;}

.news_update_box a .news_content{ font-size:14px;}

.company_background_box table td h4{ font-size:13px !important;}

#menu .info {width: 350px;}

.banner_tab_sub_heading{ width:34%;}

.banner_tab_content{ width:65%;}

.registration_details_box{ width:95%;
margin-bottom:20px;}

.registration_details_box_one{ width:95%;}

/*last update 29-10-16**********************/

.what_next_bttn_box{ margin:7px 0px;}

.what_next_bttn{ margin-bottom:12px;
font-size:14px;}

.what_next_bttn_one{ font-size:14px;
width:360px;}

.interoduction_sec_box ul li{ padding-bottom:5px;}

.rlAccordion > h3{ font-size:16px;}

.interoduction_sec_box ul li{ font-size:14px;}

.address_details_box_two{ width:100%;
float:none;}

.address_details_box_two p{ text-align:left !important;}

.address_details_box_three{ width:100%;
float:none;}

.address_details_box_three p{ text-align:left !important;}

.footer_box.footer_products{ width:80%;}

/* update on 04-11-16*********************************/

.banner_content_two_sec {margin: 30px auto 0;}

.footer_box{ width:100%;
height:auto;}

.footer_box.footer_products{ width:100% !important;
height:auto;}

.baner_contt_sec__box ul{ margin-bottom:3px;}

.banner_tab_sub_heading ul li{ margin-bottom:0px !important;}

h3{ font-size:15px;
line-height:20px;}

.research_box_individual{ width:100%;}

.slider_text h4{ display:none;}

.choksey_contt_sec p {
font-size: 12px !important;
line-height: 15px;}

#inner_page p strong{
font-size: 12px !important;
line-height: 15px;}

.research_box{ margin-top:0px;}

.what_next_bttn_one a {
    font-size: 14px;}
	
.what_next_bttn {
width: 360px;
font-size: 14px;
height: 42px;}

.calculator_box ul li a .box_one{ font-size:15px;
padding:10px 5px;}

.calculator_box ul li a .box_two{font-size:15px;
padding:10px 5px;}

.calculator_box ul li a .box_three{ font-size:15px;
padding:10px 5px;}

.calculator_box ul li a .box_four{ font-size:15px;
padding:10px 5px;}

.calculator_box ul li a .box_five{font-size:15px;
padding:10px 5px;}

.what_nxt_bttn_box ul li{ margin-bottom:10px;}

.what_nxt_bttn_box ul li a .box_one{ font-size:12px;
width:350px;
padding:10px 15px;}

.what_nxt_bttn_box ul li a .box_two{ font-size:12px;
margin:0px 0px;
width:350px;
padding:10px 15px;}

.what_nxt_bttn_box ul li a .box_three{ font-size:12px;
width:350px;
padding:10px 15px;}

.banner_tab_content h5{ font-size:13px;
padding-bottom:10px;}

.contact_name_field h4{ display:block !important;}




}

@media all and (max-width:375px ){
	
/*navigaton*************************/

.what_next_bttn_one a {
    font-size: 14px;}
	
.modal-dialog { width:90%;}

.footer_header{ margin-bottom:10px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ font-size:9px;}

.banner_tab_sub_heading ul li {
    padding-bottom: 3px;}

.registration_details_box_area h4{ font-size:9px;
line-height:12px;}

.interoduction_sec_box ul{ margin-bottom:0px;}


.footer_bottom_table{ margin-top:5px;}

.registration_details_box{ margin-bottom:5px;}

.footer_finish p {
font-size: 11px !important;
line-height: 16px;}

#camera_wrap_1{ height:497px !important;}

.navbar-default .navbar-nav > li > a{ font-size:14px;}

.dropdown-menu > li h3{ font-size:15px;}

.dropdown-menu > li a{ font-size:14px;}

.nav_box{ width:98%;}

.navbar-default .navbar-toggle{ border:1px solid #888888;}

.navbar-toggle:focus,.navbar-default .navbar-toggle:hover{ background:#f7901e !important;}

.dropdown-menu > li a:hover{}

.dropdown-menu{ min-width:100%;
border:none;
background:#4889b7;}

.search_ber_sec{ margin-bottom:0px;}

.about_choksey_bttn{ padding:0px 10px;}

.bse_nse_box{ margin-bottom:2px;}

/*header*************************/

.newsletter_bot {
width: 72px;}

.bttn a.log_in {padding: 3px 28px !important;}

.current_time{ margin-left:0px !important;}

.footer_in_touch{ margin-top:0px !important;}

.banner_tab_content p{ padding-bottom:0px;}

.rate {
font-size: 11px;
line-height:16px;
margin:2px auto 0;
width: 48px;}

.banner_content_two_sec table td h4{ font-size:13px;}

.dashboard_bttn a{ padding:10px 45px;}

.search_ber_sec{ margin-bottom:0px;}

.icon_text {width: 83%;}

.icon_text p{ font-size:14px !important;}

.shares img {padding-right:2px;}

.shares{ margin-right:2px;}

.shares:nth-last-child{ margin-right:0px !important;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert {
    width:318px;}
	
.ui-tabs .ui-tabs-nav li{ margin-right:3px;}
	
.bse_nse_tab{ margin:0px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ padding:3px 12px;}
	
	.registration_details_box{ width:95%;
margin-bottom:20px;}

.registration_details_box_one{ width:95%;}

/*last update 29-10-16**********************/

.what_next_bttn_box{ margin:7px 0px;}

.what_next_bttn{ margin-bottom:12px;
font-size:14px;}

.what_next_bttn_one{ font-size:14px;}

.interoduction_sec_box ul li{ padding-bottom:0px;}

.rlAccordion > h3{ font-size:16px;}

.interoduction_sec_box ul li{ font-size:12px;}

.address_details_box_two{ width:100%;
float:none;}

.address_details_box_two p{ text-align:left !important;}

.address_details_box_three{ width:100%;
float:none;}

.address_details_box_three p{ text-align:left !important;}

.footer_box.footer_products{ width:80%;}

.newsletter_input {
    width: 215px !important;}
	
.footer_box{ width:100%;
height:auto;}

.footer_box.footer_products{ width:100% !important;
height:auto;}

#investment_bg{ display:block;}

.banner_tab_content p:nth-last-child(2){ display:none !important;}

.read_more a{ font-size:11px;}

.baner_contt_sec__box ul{ margin-bottom:3px;}

.banner_tab_sub_heading ul li{ margin-bottom:0px !important;}

.markets {height:330px;
margin-bottom:30px;}

.what_next_bttn {
width: 360px;
font-size: 14px;
height: 42px;}

..what_next_bttn_one  {
width: 360px;
font-size: 16px;
height: 42px;}

.current_time{ margin-top:0px;}

.calculator_box ul li a .box_one{ font-size:15px;
padding:10px 5px;}

.calculator_box ul li a .box_two{font-size:15px;
padding:10px 5px;}

.calculator_box ul li a .box_three{ font-size:15px;
padding:10px 5px;}

.calculator_box ul li a .box_four{ font-size:15px;
padding:10px 5px;}

.calculator_box ul li a .box_five{font-size:15px;
padding:10px 5px;}

.log_in_button { padding: 1px 14px;}

.current_time{ padding-top:0px;}

.footer_bottom_table table td {padding: 0px 2px;}

.what_nxt_bttn_box ul li{ margin-bottom:10px;}

.what_nxt_bttn_box ul li a .box_one{ font-size:12px;
width:345px;
padding:10px 15px;}

.what_nxt_bttn_box ul li a .box_two{ font-size:12px;
margin:0px 0px;
width:345px;
padding:10px 15px;}

.what_nxt_bttn_box ul li a .box_three{ font-size:12px;
width:345px;
padding:10px 15px;}

.banner_tab_content h5{ font-size:13px;
padding-bottom:10px;}

.contact_name_field h4{ display:block !important;}
}



/* ----------- iPhone 5 and 5S --------------- (min-device-width: 320px and max-device-width:568px)*/

/* ----------- iPhone 4 and 4S  --------------- (min-device-width: 320px and max-device-width:480px)*/

@media all and (max-width:320px ){
	
h2{ font-size:20px;}

.modal-dialog { width:90%;}

.footer_bottom h2 {
    font-size: 13px;
    padding-bottom: 3px;
	line-height:18px;}
	
.footer_box ul li a{ font-size:13px;}

.footer_bottom_table table td{ 
padding:0px;}

.footer_bottom_table table p{ font-size:6px !important;}
	
.footer_bottom h3 {font-size: 10px;}
	
.newsletter_input {width: 120px;
font-size:11px;
padding-left:5px;}

.log_in_button {
    font-size: 12px;
    padding: 1px 9px;}
	
	.newsletter_input {
    width: 192px !important;}
	
.curved-container1 span {
    font-size: 13px;
}

.current_time p{ font-size:13px;}
	
.newsletter_bot {width: 84px;}

#camera_wrap_1 {height: 560px !important;}


.bttn a.log_in {padding: 3px 18px !important;}

.current_time p{ font-size:11px !important;}

.newsletter_input { width: 142px;}

#camera_wrap_1{ height:446px !important;}

#on-check:checked ~ #menu-items {
    height: 230px;
    left: -89px;
    width: 230px;
}

#on-check:checked ~ .faux-shadow {
height: 230px;
left: -89px;
width: 230px;}

#on-button {
    height: 85px;
    margin-left: -21px;
    margin-top: 20px;
    width: 85px;}

#on-button::after {
    height: 75px;
    left: -30px;
    top: 9px;
    width: 75px;}
	
#on-button > span {
    height: 75px;
    left: -32px;
    top: 10px;
    width: 75px;}
	
#menu-items {
    height: 75px;
    left: -14px;
    top:21px;
    width: 75px;}
	
.faux-shadow {
    height: 75px;
    left: -15px;
    top: 22px;
    width: 75px;}
	
#menu-items .top .ss-home {
    left: 20px;
    top: 65px;}
	
.curved-container span {
    font-size: 11px;}
	
.curved-container1 span {
font-size: 11px;}

.curved-container2 span {
font-size: 11px;}

.curved-container3 span {
font-size: 11px;}

.curved-container3 span {
    height: 86px;}
	
.curved-container1 span {
    height: 86px;}

#menu{ top:55px;}

.banner_tab_content h3{ font-size:12px;
line-height:18px;
padding-bottom:0px;}

.banner_tab_content h4{ font-size:11px;
line-height:15px;}
	
#menu-items .top .ss-compass {
    left: 118px;
    top: 16px;}
	
#menu-items .bottom .ss-rss {
    left: 62px;
    top: 161px;}

.curved-container2 {
margin: -37px auto auto 20px;
rotate(-28deg)}
	
#menu-items .bottom .ss-refresh {
    left: 155px;
    top: 131px;}
	
#menu #on-check:checked ~ .info {
    margin-left: -429px;
    margin-top: 280px;}
	
#menu .info {
    width: 318px;}
	
.banner_tab_sub_heading ul li a .equity{ display:block;}

.banner_tab_sub_heading ul li a .currency_part{ display:block;}	

.banner_tab_sub_heading ul li a .commodities{ display:block;}	

.banner_tab_sub_heading ul li a .research{ display:block;}	

.banner_tab_sub_heading ul li a .insurance{ display:block;}	

.banner_tab_sub_heading ul li a .pms{ display:block;}

.banner_tab_sub_heading ul li a .bonds{ display:block;}

.banner_tab_sub_heading ul li{ padding:0px !important;}	

.banner_tab_sub_heading {width: 31% !important;}

.banner_tab_content {width: 65%;}

.banner_content{ top:0;}

.banner_content_two_sec h3 {
    font-size: 15px !important;
    padding-bottom: 0;}
	
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
font-size: 9px;
line-height: 20px;
padding: 2px 7px;}

.banner_bttn a {
font-size: 13px;
padding: 10px 60px;}

.rate {
font-size: 11px;
line-height:18px;
margin:2px auto 0;
width: 48px;}

.bse_news_text h3{ font-size:15px;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:280px;}

.calculator_box ul li a .box_three{ font-size:16px;}

.shares{ margin-right:10px;}

.research_box_sec{ display:none !important;}

.curved-container1 {
    margin: -54px auto auto 24px;}
	
.bse_news_text h3 {
    font-size: 13px;}
	
	.registration_details_box{ width:95%;
margin-bottom:20px;}

.registration_details_box_one{ width:95%;}

.footer_finish p{ text-align:center !important;}

.address_details_box_two{ width:100% !important;
float:none !important;}

.address_details_box_three{ width:100% !important;
float:none !important;}

.address_details_box_three p{ text-align:left;}

/*last update 29-10-16**********************/

.what_next_bttn_box{ margin:7px 0px;}

.what_next_bttn{ margin-bottom:12px;
font-size:14px;
width:310px;}

.what_next_bttn{width:310px;}

.interoduction_sec_box ul li{ padding-bottom:5px;}

.rlAccordion > h3{ font-size:16px;}

.interoduction_sec_box ul li{ font-size:14px;}

.what_next_bttn_one a{ font-size:14px;}

.footer_box.footer_products{ width:80%;}

.newsletter_bot {width: 60px;}

.search_ber_sec{ margin-bottom:0px;}

#on-check:checked ~ #menu-items {
    height: 210px;
    left: -89px;
    width: 210px;}
	
#on-check:checked ~ .faux-shadow {
    height: 210px;
    left: -89px;
    width: 210px;}
	
	
#on-button > span img{ padding-top:27px;}

.footer_in_touch{ margin-right:4px;
margin-top:0px;}

.current_time{ margin-top:0px;}

#menu-items label { height:32px;
width:32px;}

.curved-container {
    font-size: 11px;
    margin: -39px auto auto 27px;
    transform: rotate(-10deg);}
	
.curved-container3 {
    margin: -30px auto auto 33px;
    transform: rotate(39deg);}
	
.curved-container1 { margin: -41px auto auto 17px;}

#menu .info {margin-top: 253px !important;
width:200px;}

.registration_details_box{ margin-bottom:5px;}

.footer_finish p {
    float: left;
    font-size: 11px !important;
    line-height: 16px;
    text-align: left !important;}
	
.footer_box{ width:100%;
height:auto;}

.footer_box.footer_products{ width:100% !important;
height:auto;}

.banner_tab_sub_heading ul li a .icon_part__text_sec{ font-size:11px !important;
line-height:14px;}

.about_choksey_text p:nth-last-child(2){ display:none !important;}

.markets {height:330px;
          margin-bottom:20px;
}

.banner_content_two_sec {margin: 10px auto 0;}

div.bhoechie-tab-menu div.list-group>a .currency_part {
margin-left: 2px;
font-size:11px;
padding-left:24px;}

div.bhoechie-tab-menu div.list-group>a .commodities {
margin-left: 2px;
font-size:11px;
padding-left:24px;}

div.bhoechie-tab-menu div.list-group>a .research_icon {
margin-left: 2px;
font-size:11px;
padding-left:24px;}

div.bhoechie-tab-menu div.list-group>a .insurance_icon {
margin-left: 2px;
font-size:11px;
padding-left:24px;}

div.bhoechie-tab-menu div.list-group>a .pms_icon {
margin-left: 2px;
font-size:11px;
padding-left:24px;}

div.bhoechie-tab-menu div.list-group>a .bond_icon {
margin-left: 2px;
font-size:11px;
padding-left:24px;}

.calculator_box ul li a .box_one{ font-size:15px;
padding:10px 5px;}

.calculator_box ul li a .box_two{font-size:15px;
padding:10px 5px;}

.calculator_box ul li a .box_three{ font-size:15px;
padding:10px 5px;}

.calculator_box ul li a .box_four{ font-size:15px;
padding:10px 5px;}

.calculator_box ul li a .box_five{font-size:15px;
padding:10px 5px;}

.what_nxt_bttn_box ul li{ margin-bottom:10px;}

.what_nxt_bttn_box ul li a .box_one{ font-size:14px;
width:310px;
padding:10px 15px;}

.what_nxt_bttn_box ul li a .box_two{ font-size:14px;
margin:0px 0px;
width:310px;
padding:10px 15px;}

.what_nxt_bttn_box ul li a .box_three{ font-size:14px;
width:310px;
padding:10px 15px;}

._2p3a{ width:300px !important;}

#menu #on-check:checked ~ .info{ width: 300px;}

.banner_tab_content h5{ font-size:13px;
padding-bottom:10px;}

.contact_name_field h4{ display:block !important;}
	
}




