﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="KR_Choksey.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
       <title>Push Notification</title>
    <link rel="manifest" href="manifest.json"/>
  <%--  <a href="manifest.json">manifest.json</a>--%>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <h2>Thankyou For Visiting Us.</h2>
        <p>Do you want KRChoksey to send you notification for creation of your wealth !</p>        
        <input id="Hidden1" type="hidden" runat="server" />
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="I agree" />
        <%--<asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>--%>
    </div>
        
        <script src="main.js"></script>
    </form>
</body>
</html>
