﻿@{
    ViewBag.Title = "Admin_Login";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm("Admin_Login", "AdminAccount", FormMethod.Post, new { @class = "contact_page4" }))
{
    <div style="text-align:center" class="@ViewBag.HideClass">
            @ViewBag.Message
        </div>
    <section id="mid_body">
        <section id="inner_page">
            <article class="interoduction_sec_box sign_up_box clearfix">
                <article class="sign_up_body clearfix">
                    <div class="heading">
                        <h2>Admin Login</h2>
                    </div>
                    <div class="choksey_contt_sec clearfix">
                        <div class="contact_image_sec clearfix"><img src="~/Content/images/register-image.jpg"></div>
                        <div class="contact_image_sec_one clearfix">
                            <div class="field_sec_box clearfix">
                                <input type="text" placeholder="Username*" value="" name="UserName" />
                            </div>
                            <div class="field_sec_box clearfix">
                                <input type="password" placeholder="Password*" value="" name="Password" />
                            </div>
                            <div class="field_sec_box clearfix">
                                <input value="Login" type="submit" id="SaveBtn">
                            </div>

                        </div>
                    </div>
                </article>
            </article>
        </section>
    </section>
}
