﻿@model KR_Choksey.Models.CmotsBSEQuoteDetails

    <article class="company_background_box clearfix">
@*@if (Model != null && Model.AutoId!=0)*@
@if (Model != null && Model.xchng != "")
{
        <article class="company_background_box_left clearfix">
            @if (Model.change != null)
            {
                if (Model.change.Contains('-'))
                {
                    <span><h5>@Model.price</h5></span>
                    <p>Change :<span style="color:#ff0000;"> @Model.pricediff (@Model.change %)</span></p>
                }
                else
                {
                    <span><h6>@Model.price</h6></span>
                    <p>Change :<span style="color:#28c255;"> @Model.pricediff (@Model.change %)</span></p>
                }
                @*<p>Date: @Convert.ToDateTime(@Model.upd_time).ToString("dd/MM/yyyy").Replace("/", "-")</p>*@
                <p>Date: @Model.upd_time</p>
            }
        </article>
        <article class="company_background_box_left clearfix">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" valign="bottom" width="50%">
                        <p>Open Price</p>
                    </td>
                    <td align="center" valign="bottom" width="50%">
                        <p>@Model.open_price</p>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="bottom" width="50%">
                        <p>High Price</p>
                    </td>
                    <td align="center" valign="bottom" width="50%">
                        <p>@Model.high_price</p>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="bottom" width="50%">
                        <p>Low Price</p>
                    </td>
                    <td align="center" valign="bottom" width="50%">
                        <p>@Model.low_price</p>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="bottom" width="50%">
                        <p>Volume</p>
                    </td>
                    <td align="center" valign="bottom" width="50%">
                        <p>@Model.volume</p>
                    </td>
                </tr>
            </table>

        </article>
}
else
{ 
    <h4>This Company is not listed in BSE</h4>
}
    </article>
