﻿<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="left" valign="middle" class="gray_bg_box">
            <h4>Scheme Name</h4>
        </td>
        <td align="left" valign="middle" class="gray_bg_box">
            <h4>Amount Invested (CR)</h4>
        </td>
        <td align="left" valign="middle" class="gray_bg_box">
            <h4>% Net Assets</h4>
        </td>
        <td align="left" valign="middle" class="gray_bg_box">
            <h4>Total Nav [CR.]</h4>
        </td>
    </tr>
    <tr>
        <td align="left" valign="middle">
            <p>Franklin India Prima Plus</p>
        </td>
        <td align="left" valign="middle">
            <p>344.92</p>
        </td>
        <td align="left" valign="middle">
            <p>3.71</p>
        </td>
        <td align="left" valign="middle">
            <p>9,284.00</p>
        </td>
    </tr>
    <tr>
        <td align="left" valign="middle">
            <p>Franklin India Prima Plus</p>
        </td>
        <td align="left" valign="middle">
            <p>344.92</p>
        </td>
        <td align="left" valign="middle">
            <p>3.71</p>
        </td>
        <td align="left" valign="middle">
            <p>9,284.00</p>
        </td>
    </tr>
    <tr>
        <td align="left" valign="middle">
            <p>Franklin India Prima Plus</p>
        </td>
        <td align="left" valign="middle">
            <p>344.92</p>
        </td>
        <td align="left" valign="middle">
            <p>3.71</p>
        </td>
        <td align="left" valign="middle">
            <p>9,284.00</p>
        </td>
    </tr>
    <tr>
        <td align="left" valign="middle">
            <p>Franklin India Prima Plus</p>
        </td>
        <td align="left" valign="middle">
            <p>344.92</p>
        </td>
        <td align="left" valign="middle">
            <p>3.71</p>
        </td>
        <td align="left" valign="middle">
            <p>9,284.00</p>
        </td>
    </tr>
    <tr>
        <td align="left" valign="middle">
            <p>Franklin India Prima Plus</p>
        </td>
        <td align="left" valign="middle">
            <p>344.92</p>
        </td>
        <td align="left" valign="middle">
            <p>3.71</p>
        </td>
        <td align="left" valign="middle">
            <p>9,284.00</p>
        </td>
    </tr>
    <tr>
        <td align="left" valign="middle">
            <p>Franklin India Prima Plus</p>
        </td>
        <td align="left" valign="middle">
            <p>344.92</p>
        </td>
        <td align="left" valign="middle">
            <p>3.71</p>
        </td>
        <td align="left" valign="middle">
            <p>9,284.00</p>
        </td>
    </tr>
    <tr>
        <td align="left" valign="middle">
            <p>Franklin India Prima Plus</p>
        </td>
        <td align="left" valign="middle">
            <p>344.92</p>
        </td>
        <td align="left" valign="middle">
            <p>3.71</p>
        </td>
        <td align="left" valign="middle">
            <p>9,284.00</p>
        </td>
    </tr>
    <tr>
        <td align="left" valign="middle">
            <p>Franklin India Prima Plus</p>
        </td>
        <td align="left" valign="middle">
            <p>344.92</p>
        </td>
        <td align="left" valign="middle">
            <p>3.71</p>
        </td>
        <td align="left" valign="middle">
            <p>9,284.00</p>
        </td>
    </tr>
    <tr>
        <td align="left" valign="middle">
            <p>Franklin India Prima Plus</p>
        </td>
        <td align="left" valign="middle">
            <p>344.92</p>
        </td>
        <td align="left" valign="middle">
            <p>3.71</p>
        </td>
        <td align="left" valign="middle">
            <p>9,284.00</p>
        </td>
    </tr>
    <tr>
        <td align="left" valign="middle">
            <p>Franklin India Prima Plus</p>
        </td>
        <td align="left" valign="middle">
            <p>344.92</p>
        </td>
        <td align="left" valign="middle">
            <p>3.71</p>
        </td>
        <td align="left" valign="middle">
            <p>9,284.00</p>
        </td>
    </tr>
    <tr>
        <td align="left" valign="middle">
            <p>Franklin India Prima Plus</p>
        </td>
        <td align="left" valign="middle">
            <p>344.92</p>
        </td>
        <td align="left" valign="middle">
            <p>3.71</p>
        </td>
        <td align="left" valign="middle">
            <p>9,284.00</p>
        </td>
    </tr>
    <tr>
        <td align="left" valign="middle">
            <p>Franklin India Prima Plus</p>
        </td>
        <td align="left" valign="middle">
            <p>344.92</p>
        </td>
        <td align="left" valign="middle">
            <p>3.71</p>
        </td>
        <td align="left" valign="middle">
            <p>9,284.00</p>
        </td>
    </tr>
    <tr>
        <td align="left" valign="middle">
            <p>Franklin India Prima Plus</p>
        </td>
        <td align="left" valign="middle">
            <p>344.92</p>
        </td>
        <td align="left" valign="middle">
            <p>3.71</p>
        </td>
        <td align="left" valign="middle">
            <p>9,284.00</p>
        </td>
    </tr>
    <tr>
        <td align="left" valign="middle">
            <p>Franklin India Prima Plus</p>
        </td>
        <td align="left" valign="middle">
            <p>344.92</p>
        </td>
        <td align="left" valign="middle">
            <p>3.71</p>
        </td>
        <td align="left" valign="middle">
            <p>9,284.00</p>
        </td>
    </tr>
</table>
