﻿@model KR_Choksey.Models.CmotsCompanyMaster
@{
    ViewBag.Title = "Company Details";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner">
            <div class="main_image clearfix">
                <div class="slider_text clearfix">
                    <div class="slider_text_content clearfix">
                        <h1 class="wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">Get a Holistic approach to manage all the areas of your finances</h1>
                        <!-- <h4 class="wow evnt_pakg fadeInUp animated" data-wow-duration="800ms" data-wow-delay="450ms">Wondering about how to hedge your investments against riskier assets and generating stable returns?</h4>
                        <p class="wow evnt_pakg fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="800ms">Your Concerns. Our Solutions.</p>-->
                    </div>
                    <div class="slider_image_content clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="1000ms"><img src="../Content/images/company-snapshot-banner-image.png" alt="i-fund-banner-image" title="i-fund-banner-image"></div>
                </div>
                <img src="../Content/images/inner-banner-bg.jpg" alt="Inner banner bg" title="Inner banner bg">
            </div>
        </section>

        <!------------------------------ Introduction Section ------------------------------>
        <section id="quote_sec">
            @Html.Action("Company_Search", "Company")
        </section>
        <!------------------------------ bharti_airtel ------------------------------>
        <section id="bharti_airtel">
            <article class="interoduction_sec_box">
                <article class="company_board_sec clearfix">
                    <div class="heading">
                        @if (Model != null)
                        {
                            <h2>@Model.companyname.ToUpper() (@Model.sectorname.ToUpper())</h2>
                        }
                    </div>
                    <div class="choksey_contt_sec clearfix">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="company_background clearfix">
                                    <div id="tabs1">
                                        <ul>
                                            <li><a href="#tabs-1">Company Background</a></li>
                                            <li><a href="#tabs-2">Board of Directors</a></li>
                                        </ul>
                                        <div id="tabs-1">
                                            @Html.Action("Company_Background", "Company")
                                        </div>
                                        <div id="tabs-2">
                                            @Html.Action("Company_BoardofDirectors", "Company")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="company_background clearfix">
                                    <div id="tabs13">
                                        <ul>
                                            <li><a href="#tabs-1">BSE</a></li>
                                            <li><a href="#tabs-2">NSE</a></li>
                                        </ul>
                                        <div id="tabs-1">
                                            @Html.Action("BSE_Status", "Company")
                                        </div>
                                        <div id="tabs-2">
                                            @Html.Action("NSE_Status", "Company")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="eod_box_sec clearfix">
                                        <div class="heading">
                                            <h3>EOD charts</h3>
                                        </div>
                                        <div class="eod_image_sec">
                                            <img src="../Content/images/eod-graph.jpg" alt="eod graph" title="eod graph">
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </article>
                <article class="company_board_sec clearfix">
                    <div class="heading">
                        <h3>Key Financial Ratios</h3>
                    </div>
                    <div class="choksey_contt_sec clearfix">
                        @Html.Action("Company_Financial_Ratios", "Company")
                    </div>
                </article>
                <article class="company_board_sec clearfix">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="choksey_contt_section">
                                <div class="heading">
                                    <h3>Company News</h3>
                                </div>
                                <div class="choksey_contt_sec">
                                    @Html.Action("Company_News", "Company")
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="choksey_contt_section">
                                <div class="heading">
                                    <h3>Share Holding Pattern</h3>
                                </div>
                                <article class="choksey_contt_sec clearfix">
                                    @Html.Action("Company_Share_Holding", "Company")
                                </article>
                            </div>
                        </div>
                    </div>
                </article>
                @*<article class="company_board_sec clearfix">
                        <div class="heading">
                            <h3>MF Holdings</h3>
                        </div>
                        <div class="choksey_contt_sec clearfix">
                            <div class="company_background clearfix">
                                <article class="company_background_box clearfix">
                                    @Html.Action("Company_MF_Holdings", "Company")
                                </article>
                            </div>
                        </div>
                    </article>*@
            </article>
        </section>
    </section>
</section>
