﻿
<article class="interoduction_sec_box">
    <article class="quote_text_box clearfix">
        <h3>Search Quotes by Company </h3>
    </article>
    <article class="quote_search_box clearfix">
        <div class="search_ber_sec for_quote_search clearfix">
            <div class="newsletter newsletter_quote clearfix">
                <input id="Company_Name" type="text" class="newsletter_input" value="" placeholder="Get Quote" />
                <input id="co_code" type="hidden" />
                @*<div class="newsletter_bot_sec">
                        <input id="cmp_submit" type="button" class="newsletter_bot" value="Go" onclick="cmp_submit()" />
                    </div>*@
            </div>
        </div>
        <p>Enter at least 3 characters of the company's name</p>
    </article>
</article>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
@*<link href="~/Content/Validations/jquery-ui.css" rel="stylesheet" />*@

<script src="~/Content/Validations/JqueryUi.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Company_Name").autocomplete({
            source: function (request, response) {
                $('.cmp_submit').prop('disabled', true);
                var customer = new Array();
                $.ajax({
                    url: "/Company/GetCompanyName",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Text,
                                Id: item.Value
                            }
                           // alert(item);
                        }));
                    }
                });
            },
            minLength: 3,
            select: function (event, ui) {                
                $('#co_code').val(ui.item.Id);
                window.location.href = '/Company/Company_Details?id=' + ui.item.Id;
            }
        });
    });
</script>

<style type="text/css">
    /* http://docs.jquery.com/UI/Autocomplete#theming*/
    .ui-autocomplete {
        position: absolute;
        cursor: default;
        background: #FFF;
    }

    /* workarounds */
    html .ui-autocomplete {
        width: 1px;
    }
    /* without this, the menu expands to 100% in IE6 */
    .ui-menu {
        list-style: none;
        padding: 2px;
        margin: 0;
        display: block;
        float: left;
    }

        .ui-menu .ui-menu {
            margin-top: -3px;
        }

        .ui-menu .ui-menu-item {
            margin: 0;
            padding: 0;
            zoom: 1;
            float: left;
            clear: left;
            width: 100%;
        }

            .ui-menu .ui-menu-item a {
                text-decoration: none;
                display: block;
                padding: .2em .4em;
                line-height: 1.5;
                zoom: 1;
            }

                .ui-menu .ui-menu-item a.ui-state-hover,
                .ui-menu .ui-menu-item a.ui-state-active {
                    font-weight: normal;
                    margin: -1px;
                }
</style>



@*<script type="text/javascript">
    function cmp_submit() {
        var Id = $("#co_code").val();
        window.location.href = '/Company/Company_Details?id=' + Id;
    }
</script>*@