﻿@model IEnumerable<KR_Choksey.Models.CmotsCompanyNews>


@if (Model != null && Model.Count() != 0)
{
    <div class="news_background_box clearfix">
        @{ int i = 0;
         int count = 0;
         foreach (var item in Model)
         {
             string dvName = "myModal" + (i + 1);
            <div class="all_news_box clearfix">
                <button type="button" class="news_box_button" data-toggle="modal" data-target="#@dvName">
                    @item.caption
                </button>
                <div class="modal fade" id="@dvName" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div style="max-height:400px;overflow:scroll;" class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body clearfix">
                                <div class="choksey_contt_sec clearfix">
                                    <div class="choksey_contt_box clearfix">
                                        <h4>@item.caption (@Convert.ToDateTime(item.date).ToString("dd/MM/yyyy").Replace("/", "-"))</h4>
                                        <p>@Html.Raw(item.memo)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             i++;
             count++;
         }
        }
    </div>
}
else
{
    <h4>Company News is not available for this company</h4>
}