﻿@*<div class="security_code">
    <form class="security_code" method="post" action="">
        <input type="text" placeholder="Enter Company Name (Min 4 Letters) " value="" id="Company_Name_Derivatives" />
    </form>
</div>*@

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
@*<link href="~/Content/Validations/jquery-ui.css" rel="stylesheet" />*@
@*<link href="~/Content/Validations/jquery-ui.css" rel="stylesheet" />*@
@*<link href="http://code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@

<script type="text/javascript">
    $(document).ready(function () {
        $("#Company_Name_Derivatives").autocomplete({
            source: function (request, response) {
                var customer = new Array();
                $.ajax({
                    url: "/Company/GetCompanyName",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Text,
                                Id: item.Value
                            }
                            alert(item);
                        }));
                    }
                });
            },
            minLength: 3,
            select: function (event, ui) {
                window.location.href = '/Company/Company_Details?id=' + ui.item.Id;
            }
        });

        $('ul.ui-autocomplete').css({
            color: 'red'
        });
    });
</script>
<div class="security_code">
    <form class="security_code" method="post" action="">
        <input type="text" placeholder="Enter Company Name (Min 4 Letters) " value="" id="Company_Name_Derivatives"/>
    </form>
</div>