﻿@model IEnumerable<KR_Choksey.Models.CmotsKeyFinancialRatios>
<div class="company_background clearfix">

    @if (Model != null && Model.Count() != 0)
    {
        <article class="company_background_box clearfix">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="left" valign="middle" class="gray_bg_box">
                        <h4>@ViewBag.Head1</h4>
                    </td>
                    <td align="left" valign="middle" class="gray_bg_box">
                        <h4>@ViewBag.Head2</h4>
                    </td>
                    <td align="left" valign="middle" class="gray_bg_box">
                        <h4>@ViewBag.Head3</h4>
                    </td>
                    <td align="left" valign="middle" class="gray_bg_box">
                        <h4>@ViewBag.Head4</h4>
                    </td>
                    <td align="left" valign="middle" class="gray_bg_box">
                        <h4>@ViewBag.Head5</h4>
                    </td>
                    <td align="left" valign="middle" class="gray_bg_box">
                        <h4>@ViewBag.Head6</h4>
                    </td>
                    <td align="left" valign="middle" class="gray_bg_box">
                        <h4>@ViewBag.Head7</h4>
                    </td>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td align="left" valign="middle">
                            <p><b>@item.columnname</b></p>
                        </td>
                        <td align="left" valign="middle">
                            <p>@item.period1 %</p>
                        </td>
                        <td align="left" valign="middle">
                            <p>@item.period2 %</p>
                        </td>
                        <td align="left" valign="middle">
                            <p>@item.period3 %</p>
                        </td>
                        <td align="left" valign="middle">
                            <p>@item.period4 %</p>
                        </td>
                        <td align="left" valign="middle">
                            <p>@item.period5 %</p>
                        </td>
                        <td align="left" valign="middle">
                            <p>@item.period6 %</p>
                        </td>
                    </tr>
                }
            </table>
        </article>
    }
    else
    {
        <h4>Key Financial Ratios is not available for this company</h4>
    }

</div>