﻿@model KR_Choksey.Models.CmotsShareHoldingPattern


@if (Model != null && Model.co_code != null)
{
    <article class="company_background_box clearfix">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="left" valign="middle" class="gray_bg_box">
                    @*<h4>Year</h4>*@
                </td>
                <td align="left" valign="middle" class="gray_bg_box">
                    <h4>No Of Shares</h4>
                </td>
                <td align="left" valign="middle" class="gray_bg_box">
                    <h4>Share Holding (%)</h4>
                </td>
            </tr>
            <tr>
                <td align="left" valign="middle">
                    <p>Total Non Promoters</p>
                </td>
                <td align="left" valign="middle">
                    <p>@Model.total_non_promoter_1</p>
                </td>
                <td align="left" valign="middle">
                    <h4>@Model.total_non_promoter_2</h4>
                </td>
            </tr>
            <tr>
                <td align="left" valign="middle">
                    <p>Total Promoters</p>
                </td>
                <td align="left" valign="middle">
                    <p>@Model.total_of_promoter_1</p>
                </td>
                <td align="left" valign="middle">
                    <h4>@Model.total_of_promoter_2</h4>
                </td>
            </tr>
            <tr>
                <td align="left" valign="middle">
                    <p>Total Public & others</p>
                </td>
                <td align="left" valign="middle">
                    <p>@Model.non_promoter_institution_1</p>
                </td>
                <td align="left" valign="middle">
                    <h4>@Model.non_promoter_institution_2</h4>
                </td>
            </tr>
            <tr>
                <td align="left" valign="middle">
                    <p>Total</p>
                </td>
                <td align="left" valign="middle">
                    <p>@Model.grand_total_1</p>
                </td>
                <td align="left" valign="middle">
                    <h4>@Model.grand_total_2</h4>
                </td>
            </tr>
        </table>
    </article>
}
else
{
    <h4>Share Holding Pattern is not available for this company</h4>
}
