﻿@*@model IEnumerable<KR_Choksey.Models.Dashboard_Details>*@
@model IEnumerable<KR_Choksey.Models.Client_Master>


<section id="mid_body">
    <section id="inner_page">
        <article class="interoduction_sec_box sign_up_box clearfix">
            <article class="sign_up_body clearfix">
                <div class="choksey_contt_sec clearfix">
                    @foreach (var data in Model)
                    {
                        <div class="heading">
                            <h2>Welcome @data.bo_short_name</h2>
                        </div>
                        <div class="choksey_contt_sec clearfix">
                            <div class="mutual_funds mutual_full_width clearfix">
                                <div class="cli_d clearfix">
                                    <label><span>Full Name</span></label>
                                    <label>@data.bo_long_name</label>
                                </div>

                                <div class="cli_d clearfix">
                                    <label><span>Client Code</span></label>
                                    <label>@data.bo_client_code</label>
                                </div>

                                <div class="cli_d clearfix">
                                    <label><span>Registered Address</span></label>
                                    <label>@data.bo_addr1</label>
                                </div>

                                <div class="cli_d clearfix">
                                    <label><span>City</span></label>
                                    <label>@data.bo_city</label>
                                </div>

                                <div class="cli_d clearfix">
                                    <label><span>State</span></label>
                                    <label>@data.bo_state</label>
                                </div>

                                <div class="cli_d clearfix">
                                    <label><span>Pan No.</span></label>
                                    <label>@data.bo_pan</label>
                                </div>

                                <div class="cli_d clearfix">
                                    <label><span>Email Id</span></label>
                                    <label>@data.bo_email</label>
                                </div>

                                <div class="cli_d clearfix">
                                    <label><span>Mobile Number</span></label>
                                    <label>@data.bo_mobile</label>
                                </div>

                                <div class="cli_d clearfix">
                                    <label><span>Bank Details</span></label>
                                    <label>@data.bo_bank_name</label>
                                </div>

                                <div class="cli_d clearfix">
                                    <label><span>DP Details</span></label>
                                    <label>@data.bo_client_dp_id</label>
                                </div>

                                <div class="view_d clearfix">
                                        <div class="easy_invest_bttn center_bttn clearfix">
                                            <a href="@Url.Action("ViewDashboard", "Account")">View Dashboard </a>
                                        </div>
                                    </div>

                                <div class="view_d clearfix">
                                    <div class="easy_invest_bttn center_bttn clearfix">
                                        @if (@ViewBag.ClientCode != "")
                                        {
                                            @*<a target="_blank" href="http://portfoliotracker.XXXXXXX.XXX?clientcode="@ViewBag.ClientCode >Portfolio Tracker </a>*@
                                            @*<a target="_blank" href="http://portfoliotracker.XXXXXXX.XXX?clientcode=@ViewBag.ClientCode">Portfolio Tracker </a>*@
                                            <a target="_blank" href="http://portfoliotracker.XXXXXXX.XXX/Redirect_Portfolio.aspx?clientcode=@ViewBag.ClientCode">Portfolio Tracker </a>
                                        }
                                        else
                                        {
                                            <a href="#">Portfolio Tracker </a>
                                        }

                                    </div>

                                </div>
                                <div class="view_d clearfix">
                                    <div class="easy_invest_bttn center_bttn clearfix">
                                        <a href="@Url.Action("LatestReports", "KRChokseyReports")">Research Reports </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </article>
        </article>
    </section>
    <div class="clear"></div>
</section>


@*<div class="mutual_funds mutual_full_width clearfix">
        @if (Model != null)
        {

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" valign="middle" class="mutual_heading">
                        <p>Company Name</p>
                    </td>
                    <td align="center" valign="middle" class="mutual_heading">
                        <p>NSE Quote(Now)</p>
                    </td>
                    <td align="center" valign="middle" class="mutual_heading">
                        <p>BSE Quote(Now)</p>
                    </td>
                    <td align="center" valign="middle" class="mutual_heading">
                        <p>News</p>
                    </td>

                </tr>

                @foreach (var item in Model)
                {
                    //string dvName = "newsdetails" + (i + 1);
                    <tr>
                        <td align="center" valign="middle">
                            <label>@item.CompanyName (@item.CompanySector)</label>
                        </td>
                        <td align="center" valign="middle">
                            <label>@item.NSE_Quote</label>
                        </td>
                        <td align="center" valign="middle">
                            <label>@item.BSE_Quote</label>
                        </td>
                        <td align="center" valign="middle">
                            <button type="button" class="news_box_button" data-toggle="modal" data-target="#newsdetails">
                                @item.Com_News
                            </button>
                            <div class="modal fade" id="newsdetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body clearfix">
                                            <div class="choksey_contt_sec clearfix">
                                                <div class="choksey_contt_box clearfix">
                                                    <h4>@item.Com_News</h4>
                                                    <p>@Html.Raw(item.Nws_Details)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>

                }
                @*i++;
                    count++;
            </table>
        }
        else
        {
            <h4>Nothing to show !</h4>
        }
    </div>*@


@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>


    <script src="~/Content/Validations/JqueryUi.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#linkdash').click(function () {
                window.location.href = 'http://localhost:11546/Company/Company_Details?id=' + ui.item.Id;
            });

        });
    </script>*@
