﻿@model KR_Choksey.Models.client_login
@{
    ViewBag.Title = "Enter Password";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}


<script src="~/Scripts/DevJS/CommonTextBoxValidations.js"></script>
<script src="~/Content/js/jquery-1.11.1.min.js"></script>
<script src="~/Content/js/jquery.min.js"></script>



@using (Html.BeginForm("Enter_Password", "Account", FormMethod.Post, new { @class = "contact_page4" }))
{
    <div style="text-align:center" class="@ViewBag.HideClass">
        @ViewBag.Message
    </div>
<section id="mid_body">
    <section id="inner_page">
        <article class="interoduction_sec_box sign_up_box clearfix">
            <article class="sign_up_body clearfix">
                <div class="heading">
                    <h2>Enter Your Password</h2>
                </div>
                <div class="choksey_contt_sec clearfix">
                    <div class="contact_image_sec clearfix"><img src="../Content/images/register-image.jpg"></div>
                    <div class="contact_image_sec_one clearfix">
                        @Html.HiddenFor(model => model.FK_client_master_code)
                        @Html.HiddenFor(model => model.username)
                        <div class="field_sec_box clearfix">
                            @*<input type="text" placeholder="Password *" value="" />*@
                            @Html.DisplayFor(model => model.username, null, new { @placeholder = "UserName *", Id = "UserName", maxlength = 10, @readonly="readonly" })
                        </div>
                            <div class="field_sec_box clearfix">
                                @*<input type="text" placeholder="Password *" value="" />*@
                                @Html.PasswordFor(model => model.password, new { @placeholder = "Password *", Id = "Password", maxlength=10 })
                                @Html.ValidationMessageFor(model => model.password, null, new { @class = "alert-danger" })
                            </div>
                            <div class="field_sec_box clearfix">
                                @*<input type="text" placeholder="Confirm Password *" value="" />*@
                                @Html.PasswordFor(model => model.password_confirm, new { @placeholder = "Confirm Password *", Id = "ConfirmPassword", maxlength = 10 })
                                @Html.ValidationMessageFor(model => model.password_confirm, null, new { @class = "alert-danger" })
                            </div>                            
                            <div class="field_sec_box clearfix">
                                <input value="Save" type="submit" id="SaveBtn" onclick="MatchPassword()">
                            </div>
                        
                    </div>
                </div>
            </article>
        </article>
    </section>
</section>
<div class="clear"></div>
    <script type="text/javascript">
    $(document).ready(function () {

        function MatchPassword() {
            var val = $("#Password").val();
            var cval = $("#ConfirmPassword").val();
            if (val != cval) {
                alert("Invalid number; must be ten digits")
                $("#Password").focus()
                return false
            } else {                
            }

        };
    });
    </script>
}