﻿<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="myModalLabel">Login</h2>
            </div>
            <div class="modal-body clearfix">
                <div class="modal_body_left clearfix">
                    <p><a href="@Url.Action("Index", "Home")"><img src="~/Content/images/kr-choksey-logo-login.png" alt="KRChoksey logo" title="KRChoksey logo"></a></p>
                    <div class="login_bttn_link_sec clearfix">
                        <div class="login_bttn clearfix">
                            <a href="http://portfolio.myXXXXXXX.XXX/" target="_blank">KRC Wealth Tracker</a>
                        </div>
                        <div class="login_bttn clearfix">
                            @*<a href="@Url.Action("PMS", "Product")" target="_blank" class="krc_account">My PMS Account</a>*@
                            @*<a href="http://www.krchokseypms.com/" target="_blank" class="krc_account">My PMS Account</a>*@
                            <a href="https://www.XXXXXXX.XXX/myportfolio/" target="_blank" class="krc_account">My PMS Account</a>
                        </div>
                        @*<div class="login_bttn clearfix">
                            <a href="http://www.pas.krchokseypms.com/" class="krc_account" target="_blank">My PAS Account</a>
                        </div>*@
                    </div>
                </div>
                <div class="modal_body_right clearfix">
                    <div id="tabs12">
                        <ul>
                            <li><a href="#tabs-1">Customer</a></li>
                            @*<li><a href="#tabs-2">Network Partner</a></li>*@
                        </ul>
                        <div id="tabs-1">
                            <div class="security_code">
                                <div class="login_box_sec clearfix">
                                    @*<p>Please fill up the forms </p>*@
                                    <form class="contact_page4" method="post" action="">
                                        <div class="choksey_contt_section clearfix">
                                            <input type="text" placeholder="User name" value="" id="UserName" name="UserName" />
                                            <input type="password" placeholder="Password" value="" id="Password" name="Password" />
                                            @*<p id="ErrorDiv" style="visibility:hidden;color:red; font-weight:bold;">Username or Password is incorrect !</p>*@                                            
                                            <input value="Sign In" type="button" id="SignIn" style="width:100%;background-color:#f7901e;color:white">
                                        </div>
                                    </form>
                                    <p><span><a href="@Url.Action("Forgot_Password","Account")">Forgot your password ?</a></span></p>
                                    @*<p><span><a href="@Url.Action("SignUp", "Account")" target="_blank">Create new account / Sign Up </a></span></p>*@
                                    <p><span><a href="@Url.Action("SignUp", "Account")" target="_blank">Sign Up to Start Creating Wealth</a></span></p>
                                    <p><span><a href=" http://www.krcintellect.com" target="_blank">Network Partner</a></span></p>
                                </div>
                            </div>
                        </div>
                        @*<div id="tabs-2">
                            <div class="security_code">
                                <div class="login_box_sec clearfix">
                                    <p>Please fill up the forms </p>
                                    <form class="contact_page4" method="post" action="">
                                        <div class="choksey_contt_section clearfix">
                                            <input type="text" placeholder="User name" value="" />
                                            <input type="text" placeholder="Password" value="" />
                                            <input value="Signin" type="submit">
                                        </div>
                                    </form>
                                    <p><span><a href="#">Forgot your password ?</a></span></p>
                                    <p><span><a href="#">Apply to become Network Partner</a></span></p>
                                    
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#SignIn').click(function () {
            var name1 = $('#UserName').val();
            var pwd1 = $('#Password').val();

            $.ajax({
                url: '@Url.Action("Login")',
                type: "POST",
                data: { UserName: name1, Password: pwd1 },
                error: function (xmlHttpRequest, errorText, thrownError) {

                    //alert(xmlHttpRequest + "|" + errorText + "|" + thrownError);
                    //document.getElementById('ErrorDiv').style.visibility = 'visible'
                },
                success: function (data) {
                    if (data == "Wrong Password")
                    {
                        alert('Enter Valid User Details')
                    }
                    else
                    {
                        window.location.href = data;
                    }
                    
                    @*alert();
                    var data = @System.Web.HttpContext.Current.Session["ReturnUrl"].ToString();
                    alert(data);*@
                    //document.getElementById('MainDiv').style.visibility = 'hidden'
                    //document.getElementById('SuccessDiv').style.visibility = 'visible'
                    //                        $('#myModalQuickSignup').style.visibility = 'hidden'
                }
            });
        });

    });
</script>
