﻿@model KR_Choksey.Models.Client_Master
@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

@*<script src="~/Scripts/DevJS/CommonTextBoxValidations.js"></script>*@
<script src="~/Content/js/jquery-1.11.1.min.js"></script>
<script src="~/Content/js/jquery.min.js"></script>

<script src="https://www.google.com/recaptcha/api.js" async="async" defer="defer"></script>

@using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { @class = "contact_page4" }))
{
    <div style="text-align:center" class="@ViewBag.HideClass">
        @ViewBag.Message
    </div>

<section id="mid_body">
    <section id="inner_page">
        <article class="interoduction_sec_box sign_up_box clearfix">
            <article class="sign_up_body clearfix">
                <article class="sign_up_box clearfix">
                    <article class="sign_up_box_left clearfix">
                        <form class="contact_page4" method="post" action="">
                            <div class="field_sec_box clearfix">
                                @Html.TextBoxFor(m => m.first_name, new { placeholder = "First Name *" })
                                @*<input type="text" placeholder="First Name *" value="" />*@
                            </div>
                            <div class="field_sec_box clearfix">
                                @Html.TextBoxFor(m => m.last_name, new { placeholder = "Last Name *" })
                                @*<input type="text" placeholder="Last Name *" value="" />*@
                            </div>
                            <div class="field_sec_box clearfix">
                                @Html.TextBoxFor(m => m.bo_email, new { placeholder = "Email Address *" })
                                @*<input type="text" placeholder="Email Address *" value="" />*@
                            </div>
                            <div class="field_sec_box clearfix">
                                @Html.TextBoxFor(m => m.bo_mobile, new { placeholder = "Mobile Number *" })
                                @*<input type="text" placeholder="Mobile Number *" value="" />*@
                            </div>
                            <div class="field_sec_box clearfix">
                                <div id="dvCaptcha" class="g-recaptcha" data-sitekey="6Lc_UQsUAAAAAKH_61ap6Yu3AMPi8MQX_8nV94u9"></div>
                            </div>
                            <div class="field_sec_box clearfix">
                                <input value="Sign up" id="sign-up" type="submit">
                            </div>
                        </form>
                        <p>By submitting above details, you are authorising us to call you & send promotional communication even though you being registered under NDNC.</p>
                        <div class="pls_login clearfix">
                            <!--<h4>If you are not our customer yet please login </h4>-->
                            <div class="log_in_bttn">
                                <button type="button" class="log_in_button" data-toggle="modal" data-target="#myModal">Login</button>
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h2 class="modal-title" id="myModalLabel">Login</h2>
                                            </div>
                                            <div class="modal-body clearfix">
                                                <div class="modal_body_left clearfix">
                                                    <p><a href="index.html"><img src="images/kr-choksey-logo-login.png" alt="KRChoksey logo" title="KRChoksey logo"></a></p>
                                                    <h3>KRChoksey Importance</h3>
                                                    <ul>
                                                        <li>Lorem Ipsum is simply dummy text </li>
                                                        <li>Lorem Ipsum is simply dummy text </li>
                                                        <li>Lorem Ipsum is simply dummy </li>
                                                        <li>Lorem Ipsum is simply dummy text </li>
                                                    </ul>
                                                </div>
                                                <div class="modal_body_right clearfix">
                                                    <div id="tabs">
                                                        <ul>
                                                            <li><a href="#tabs-10">Customer</a></li>
                                                            <li><a href="#tabs-11">Network Partner</a></li>
                                                        </ul>
                                                        <div id="tabs-10">
                                                            <div class="security_code">
                                                                <div class="login_box_sec clearfix">
                                                                    <h3>Sign in</h3>
                                                                    <p><a href="sign-up-page.html" target="_blank">Register a new account</a></p>
                                                                    <p><a href="#">Forgot password</a></p>
                                                                    <div class="deposite_sec clearfix">
                                                                        <ul>
                                                                            <li><a href="http://portfolio.myXXXXXXX.XXX/" target="_blank">KRC Wealth Tracker</a></li>
                                                                            <li><a href="pms.html" target="_blank">My PMS Account</a></li>
                                                                            <li><a href="http://www.pas.krchokseypms.com/" target="_blank">My PAS Account</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="tabs-11">
                                                            <div class="security_code">
                                                                <div class="login_box_sec clearfix">
                                                                    <h3>Sign in</h3>
                                                                    <p><a href="#" target="_blank">Apply to become Network Partner</a></p>
                                                                    <p><a href="#">Forgot password</a></p>
                                                                    <div class="deposite_sec clearfix">
                                                                        <ul>
                                                                            <li><a href="http://portfolio.myXXXXXXX.XXX/" target="_blank">KRC Wealth Tracker</a></li>
                                                                            <li><a href="pms.html" target="_blank">My PMS Account</a></li>
                                                                            <li><a href="http://www.pas.krchokseypms.com/" target="_blank">My PAS Account</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </article>
                    <article class="sign_up_box_left clearfix">
                        <div class="interoduction_content_sec_box clearfix">
                            <ul>
                                <li>Research </li>
                                <li>Online Trading </li>
                                <li>Financial Planning </li>
                                <li>i-equity - Equity Trading</li>
                                <li>i-derivatives - Future and Options</li>
                                <li>i-plan - Mutual Funds, Insurance</li>
                                <li>i-PMS - Portfolio Management</li>
                                <li>i-fund - Loan Against Shares</li>
                            </ul>
                        </div>
                        <div class="help_desk_box clearfix">
                            <h3>Helpdesk</h3>
                            <h4>+91-22-66965513 <strong>|</strong> +91-22-66965524</h4>
                            <h4>service@XXXXXXX.XXX</h4>
                        </div>
                    </article>
                    <article class="sign_up_box_left"><img src="~/Content/images/360-partner-image.png"></article>
                </article> 
            </article>
        </article>
    </section>
</section>

   
<div class="clear"></div>
   <script type="text/javascript">
       $(document).ready(function () {

           $("#MobileNumber").focusout(function () {
               var val = $("#MobileNumber").val();
               if (/^\d{10}$/.test(val)) {
                   // value is ok, use it
               } else {
                   alert("Invalid number; must be 10 digits")
                   $("#MobileNumber").focus()
                   return false
               }

           });

           $('#CapText').focusout(function () {
               var captext = $('#CapText').val();
               var capimg = $('#CapImg').val();
               if(captext == capimg)
               {
                   $('#SignUp').removeAttr('disabled');
                   $('#CapError').visibility = 'hidden';
               }
               else
               {
                   alert('Please Enter Valid Text!');
                   $('#CapText').focus();
                   $('#SignUp').attr('disabled', 'disabled');
                   //$('#CapError').visibility = 'visible';
                   //$('#CapError').val('Error! Entered Text Not Matching');
               }

           });

           $(function () {
               $('.number').keypress(function (event) {
                   if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                       event.preventDefault();
                   }

                   var text = $(this).val();

                   if ((text.indexOf('.') != -1) && (text.substring(text.indexOf('.')).length > 2)) {
                       event.preventDefault();
                   }
               });
           });

           $(function () {
               $('.OnlyNumeric').keydown(function (e) {
                   if (e.shiftKey || e.ctrlKey || e.altKey) {
                       e.preventDefault();
                   } else {
                       var key = e.keyCode;
                       if (!((key == 8) || (key == 46) || (key >= 35 && key <= 40) || (key >= 48 && key <= 57) || (key >= 96 && key <= 105))) {
                           e.preventDefault();
                       }
                   }
               });
           });
       });
   </script>
    
    
}