﻿@model KR_Choksey.Models.Client_Master
@{
    ViewBag.Title = "User Details";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

@*<script src="~/Scripts/DevJS/CommonTextBoxValidations.js"></script>*@
<script src="~/Content/js/jquery-1.11.1.min.js"></script>
<script src="~/Content/js/jquery.min.js"></script>


@using (Html.BeginForm("User_Details", "Account", FormMethod.Post, new { @class = "contact_page4" }))
{
    <div style="text-align:center" class="@ViewBag.HideClass">
        @ViewBag.Message
    </div>
<section id="mid_body">
    <section id="inner_page">
        <article class="interoduction_sec_box sign_up_box clearfix">
            <article class="sign_up_body clearfix">
                <div class="heading">
                    <h2>Personal Details</h2>
                </div>
                <div class="choksey_contt_sec clearfix">
                    <div class="contact_image_sec clearfix"><img src="../Content/images/register-image1.jpg" alt="Register image 01" title="Register image 01"></div>
                    <div class="contact_image_sec_one clearfix">
                        <p>Skip below to fill up this up later</p>
                        @*<form class="contact_page4" method="post" action="">*@
                            @Html.HiddenFor(model => model.client_master_code)
                        @Html.HiddenFor(model => model.first_name)
                        @Html.HiddenFor(model => model.last_name)
                        @Html.HiddenFor(model => model.bo_email)
                        @Html.HiddenFor(model => model.bo_mobile)
                           
                            <div class="field_sec_box clearfix">
                                @Html.TextBoxFor(model => model.bo_addr1, null, new { @placeholder = "Address 01 *", Id = "Address1", maxlength = 40 })
                                @Html.ValidationMessageFor(model => model.bo_addr1, null, new { @class = "alert-danger" })
                                @*<input type="text" placeholder="Address 01 *" value="" />*@
                            </div>
                            <div class="field_sec_box clearfix">
                                @Html.TextBoxFor(model => model.bo_addr2, null, new { @placeholder = "Address 02 *", Id = "Address2", maxlength = 40 })
                                @Html.ValidationMessageFor(model => model.bo_addr2, null, new { @class = "alert-danger" })
                                @*<input type="text" placeholder="Address 02 *" value="" />*@
                            </div>
                            <div class="field_sec_box clearfix">
                                @Html.TextBoxFor(model => model.bo_addr3, null, new { @placeholder = "Address 03 *", Id = "Address3", maxlength = 40 })
                                @Html.ValidationMessageFor(model => model.bo_addr3, null, new { @class = "alert-danger" })
                                @*<input type="text" placeholder="Address 03 *" value="" />*@
                            </div>
                            <div class="field_sec_box clearfix">
                                @Html.TextBoxFor(model => model.bo_zip, null, new { @placeholder = "Pincode *", Id = "Pincode", maxlength = 10 })
                                @Html.ValidationMessageFor(model => model.bo_zip, null, new { @class = "alert-danger" })
                                @*<input type="text" placeholder="Pincode *" value="" />*@
                            </div>
                            <div class="field_sec_box clearfix">
                               @Html.DropDownListFor(model => model.bo_city, ViewData["City1"] as IEnumerable<SelectListItem>,
                        "City", new { @class = ".chzn-select form-control ", id = "City" })
                            @Html.ValidationMessageFor(model => model.bo_city, null, new { @class = "alert-danger" })
                            </div>
                            <div class="field_sec_box clearfix">
                                @Html.DropDownListFor(model => model.bo_state, ViewData["State1"] as IEnumerable<SelectListItem>,
                        "State", new { @class = ".chzn-select form-control ", id = "State" })
                                @Html.ValidationMessageFor(model => model.bo_state, null, new { @class = "alert-danger" })
                                @*<select name="State">
                                    <option>State</option>
                                    <option>Andhrapradesh</option>
                                    <option>Assam</option>
                                    <option>Bihar</option>
                                    <option>West Bengal</option>
                                </select>*@
                            </div>
                            <div class="field_sec_box clearfix">
                                @Html.DropDownListFor(model => model.bo_country, ViewData["Country1"] as IEnumerable<SelectListItem>,
                            "Country", new { @class = ".chzn-select form-control ", id = "Country" })
                                @Html.ValidationMessageFor(model => model.bo_country, null, new { @class = "alert-danger" })
                                @*<select name="Country">
                                    <option>Country</option>
                                    <option>Inda (91)</option>
                                    <option>Inda (91)</option>
                                    <option>Inda (91)</option>
                                    <option>Inda (91)</option>
                                </select>*@
                            </div>
                            <div class="field_sec_box clearfix">
                                @Html.TextBoxFor(model => model.bo_dob, "{0:dd/MMM/yyyy}", new { @placeholder = "Date of Birth", Id = "datepicker" })
                                @*<input type="text" id="datepicker" placeholder="Date of Birth">*@
                            </div>
                            <div class="field_sec_box clearfix">
                                @Html.TextBoxFor(model => model.bo_pan, null, new { @placeholder = "Pan Card Nos.", Id = "Pan", maxlength = 20 })
                                @*<input type="text" placeholder="Pan Card Nos." value="" />*@
                            </div>
                            <div class="field_sec_box clearfix">
                                @Html.TextBoxFor(model => model.aadhaar, null, new { @placeholder = "Aadhar", Id = "Aadhar", maxlength = 12 })
                                @*<input type="text" placeholder="Aadhar" value="" />*@
                            </div>
                            <div class="field_sec_box clearfix">
                                @Html.DropDownListFor(model => model.income_slab, ViewData["IncomeSlab1"] as IEnumerable<SelectListItem>,
                        "Income Slab", new { @class = ".chzn-select form-control ", id = "income_slab" })
                                @Html.ValidationMessageFor(model => model.income_slab, null, new { @class = "alert-danger" })
                                @*<select name="Income Slab">
                                    <option>Income Slab</option>
                                    <option>0 - 01 Lac</option>
                                    <option>01 - 05 Lac</option>
                                    <option>05 - 10 Lac</option>
                                    <option>10 - 25 Lac</option>
                                    <option>25 - 01 Crore</option>
                                </select>*@
                            </div>
                            <div class="field_sec_box clearfix">
                                @Html.DropDownListFor(model => model.occupation, ViewData["Occupation1"] as IEnumerable<SelectListItem>,
                        "Occupation", new { @class = ".chzn-select form-control ", id = "Occupation" })
                                @Html.ValidationMessageFor(model => model.occupation, null, new { @class = "alert-danger" })
                                @*<select name="Occupation">
                                    <option>Occupation</option>
                                    <option>Aggriculture</option>
                                    <option>Business</option>
                                    <option>Housewife</option>
                                    <option>Others</option>
                                </select>*@
                            </div>
                            <div class="choksey_contt_section clearfix">
                                <input value="submit" type="submit">
                            </div>
                        @*</form>*@
                        <p><a href="@Url.Action("Index", "Home")">Skip</a></p>
                    </div>
                </div>
            </article>
        </article>
    </section>
</section>
<div class="clear"></div>


    <!--Calender Jquery Script -->
    <script>
        $(function () {
            //$("#datepicker").datepicker();
            $("#datepicker").datepicker({ dateFormat: 'dd/M/yy',customformat: true });
            //$("#datepicker").datepicker({ dateFormat: 'dd/M/yy', changeMonth: true, changeYear: true, customformat: true });
        });

        $(document).ready(function () {
            

        $('#Pincode').focusout(function (){
            var PinCode1 = $("#Pincode").val();
            $.ajax({
                url: "/Account/GetAllDetailsByPinCode",
                type: "Get",
                dataType: "json",
                data: { PinCode: PinCode1 },
                success: function (data) {
                    //alert(data.officename);
                    $('#City').val(data.DistrictName);
                    $('#State').val(data.StateName);
                    $('#Country').val(data.CountryName);
                   
                }
            });
        });
                
        });  

        
    </script>
    
}