﻿
@{
    ViewBag.Title = "User Dashboard";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
    <section id="inner_page">
        <article class="interoduction_sec_box sign_up_box clearfix">
            <article class="sign_up_body sign_full_body clearfix">
                <div class="heading">
                    <h2>Client Dashboard</h2>
                </div>
                <div class="choksey_contt_sec clearfix">
                    @*<h3>Equity and Derivatives</h3>*@
                    @*<div id="tabs13">
                        <ul>
                            <li><a href="#tabs-1">Open Positions</a></li>
                            <li><a href="#tabs-2">Demat Holding</a></li>
                            <li><a href="#tabs-3">Ledger</a></li>
                        </ul>
                        <article class="markets_box_sec clearfix">
                            <div id="tabs-1">
                                <div class="mutual_funds mutual_full_width clearfix">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="center" valign="middle" width="33%" class="mutual_heading">
                                                <p>Security Name</p>
                                            </td>
                                            <td align="center" valign="middle" width="33%" class="mutual_heading">
                                                <p>Quantity</p>
                                            </td>
                                            <td align="center" valign="middle" width="33%" class="mutual_heading">
                                                <p>Value</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="middle" width="33%">
                                                <label>label 01</label>
                                            </td>
                                            <td align="center" valign="middle" width="33%">
                                                <label>label 02</label>
                                            </td>
                                            <td align="center" valign="middle" width="33%">
                                                <label>label 03</label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div id="tabs-2">
                                <div class="mutual_funds mutual_full_width clearfix">
                                    <h4>DP ID: <span></span></h4>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="center" valign="middle" width="33%" class="mutual_heading">
                                                <p>Security Name</p>
                                            </td>
                                            <td align="center" valign="middle" width="33%" class="mutual_heading">
                                                <p>Quantity</p>
                                            </td>
                                            <td align="center" valign="middle" width="33%" class="mutual_heading">
                                                <p>CMP (from CMOTS)</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="middle" width="33%">
                                                <label>label 01</label>
                                            </td>
                                            <td align="center" valign="middle" width="33%">
                                                <label>label 02</label>
                                            </td>
                                            <td align="center" valign="middle" width="33%">
                                                <label>label 03</label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div id="tabs-3">
                                <div class="mutual_funds mutual_full_width clearfix">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="center" valign="middle" width="50%" class="mutual_heading">
                                                <p>Ledger Balance</p>
                                            </td>
                                            <td align="center" valign="middle" width="50%" class="mutual_heading">
                                                <p>INR nnnn</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="middle" width="50%">
                                                <label>label 01</label>
                                            </td>
                                            <td align="center" valign="middle" width="50%">
                                                <label>label 02</label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </article>
                    </div>*@
                    @*<h3>PMS</h3>*@
                    @*<div id="tabs14">
                        <ul>
                            <li><a href="#tabs-1">Chart</a></li>
                            <li><a href="#tabs-2">Holding</a></li>
                        </ul>
                        <article class="markets_box_sec clearfix">
                            <div id="tabs-1">
                                <p>Chart</p>
                            </div>
                            <div id="tabs-2">
                                <div class="mutual_funds mutual_full_width clearfix">
                                    <h4>DP ID: <span></span></h4>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="center" valign="middle" class="mutual_heading">
                                                <p>Scrip name</p>
                                            </td>
                                            <td align="center" valign="middle" class="mutual_heading">
                                                <p>Qty Held</p>
                                            </td>
                                            <td align="center" valign="middle" class="mutual_heading">
                                                <p>CMP</p>
                                            </td>
                                            <td align="center" valign="middle" class="mutual_heading">
                                                <p>Current Value</p>
                                            </td>
                                            <td align="center" valign="middle" class="mutual_heading">
                                                <p>Cost</p>
                                            </td>
                                            <td align="center" valign="middle" class="mutual_heading">
                                                <p>Gain/Loss</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="middle">
                                                <label>label 01</label>
                                            </td>
                                            <td align="center" valign="middle">
                                                <label>label 02</label>
                                            </td>
                                            <td align="center" valign="middle">
                                                <label>label 03</label>
                                            </td>
                                            <td align="center" valign="middle">
                                                <label>label 04</label>
                                            </td>
                                            <td align="center" valign="middle">
                                                <label>label 05</label>
                                            </td>
                                            <td align="center" valign="middle">
                                                <label>label 06</label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </article>
                    </div>*@
                    @Html.Action("Dashboard_Details", "Account")
                    

                </div>
            </article>
        </article>
    </section>
    <div class="clear"></div>
</section>

