﻿@model KR_Choksey.Models.PagedClientHold


<div class="mutual_funds mutual_full_width clearfix">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="middle" width="25%" class="mutual_heading">
                <p>Symbol</p>
            </td>
            <td align="center" valign="middle" width="25%" class="mutual_heading">
                <p>ISIN Code</p>
            </td>
            <td align="center" valign="middle" width="25%" class="mutual_heading">
                <p>Quantity </p>
            </td>
            <td align="center" valign="middle" width="25%" class="mutual_heading">
                <p>BOD Value</p>
            </td>
        </tr>

        @foreach(var data in Model.ClientHold)
        { 
        <tr>
            <td align="center" valign="middle" width="25%">@data.Symbol</td>
            <td align="center" valign="middle" width="25%">@data.ISIN_Code</td>
            <td align="center" valign="middle" width="25%">@data.Quantity</td>
            <td align="center" valign="middle" width="25%">@data.BOD_Value</td>
        </tr>
        }
        <tr>
            <td align="center" valign="middle" width="25%"></td>
            <td align="center" valign="middle" width="25%"></td>
            <td align="center" valign="middle" width="25%"></td>
            <td align="center" valign="middle" width="25%">
                <label>@ViewBag.HoldingValue</label>
            </td>
        </tr>
    </table>
</div>

