﻿@{
    ViewBag.Title = "User Dashboard";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
    <section id="inner_page">
        <article class="interoduction_sec_box clearfix">

            <div class="cli_d clearfix">
                <label><span>Client Code </span></label>
                <label>@ViewBag.ClientCodeD</label>
            </div>

            <div class="cli_d clearfix">
                <label><span>Client Name</span></label>
                <label>@ViewBag.ClientNameD</label>
            </div>

            <div class="choksey_contt_sec clearfix">
                <div id="tabs13">
                    <ul>
                        <li><a href="#tabs-1">Demat Holding</a></li>
                        <li><a href="#tabs-2">Ledger</a></li>
                    </ul>
                    <article class="markets_box_sec clearfix">
                        <div id="tabs-1">
                            @Html.Action("ViewDashboard_Demat", "Account")
                        </div>
                        <div id="tabs-2">
                            @Html.Action("ViewDashboard_Ledger", "Account")
                        </div>
                    </article>
                </div>
            </div>
        </article>
    </section>
    <div class="clear"></div>
</section>