﻿@model KR_Choksey.Models.ClientDashLedger


<div class="mutual_funds mutual_full_width clearfix">
    <div class="cli_d clearfix">
        <label><span>Client Code</span></label>
        <label>@ViewBag.ClientC</label>
    </div>

    <div class="cli_d clearfix">
        <label><span>Ledger Balance </span></label>
        <label>@ViewBag.LedBal</label>
    </div>

    <div class="cli_d clearfix">
        <label><span>As on Date</span></label>
        <label>@DateTime.Now.AddDays(-1).Date.ToString("dd/MMM/yyyy")</label>
    </div>

</div>