﻿@charset "utf-8";
/* CSS Document */

@media (min-width:1401px) and (max-width:1850px){
	
/*navigaton*************************/

.header_box{ width:99%;}

.newsletter_bot{ width:110px;}

.newsletter_input{ width:300px;}

.logo p span{ font-size:22px;}

.search_ber_sec{ margin:0px 0px;}

.current_time{ margin:0px 5px;}

.newsletter{ margin:0px 0px 0px 5px;}

.log_in_bttn{ margin:0px 5px;}


/*log_in*************************/

.modal_body_left img{ width:90%;}

.login_bttn a{ padding:15px 35px;}

.login_bttn a.krc_account{ padding:15px 49px;}

/*

.header_box{ width:100%;}

.current_time{ margin:0px 12px;}

.search_ber_sec{ margin:0px 12px 0px 0px;}

.log_in{ margin-right:0px;}

.newsletter_bot{ width:100px;}

.newsletter_input{ width:325px;}

/*banner01 modify*************************/

#camera_wrap_1{ height:700px !important;}

#menu .info { width:900px;
top:-80px;}

.banner_content{ top:50px;}

.banner_tab_sub_heading{ width:23%;
padding:10px 7px;}

.banner_tab_sub_heading ul li a{ font-size:16px;}

.banner_tab_sub_heading ul li a{ padding:7px 0 7px 30px;}

.share_news_box{ width:97%;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:780px;}

/*banner02 modify*************************/

.banner_content_two{ width:99%;
top:8px;}

.markets{ margin:0px 7px 5px 0px;
padding:0px 2px;
height:335px;}

.research_box_sec{ margin-bottom:5px;
height:335px;}

research_box_sec{ margin:0px 7px 12px 0px;
padding:5px;}

.my_choksey_sec{ margin:0px 7px 5px 0px;
padding:5px;
height:335px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ padding:0px 7px;}

.log_in a.sign_up{ margin-left:12px;
padding:7px 25px;}

.my_choksey_sec{ width:31%;}

.banner_content_two_sec table td h4{ font-size:14px;}

.banner_content_two_sec table td{ height:25px;
padding:0px 3px;}

.banner_content_two_sec p{ font-size:13px;}

.dashboard_sec{ padding:0px;
margin-top:5px;}

.markets_box_sec{ margin-top:5px;}

.heading p{ line-height:10px;}

.rate{ height:27px;}

/*banner03 modify*************************/
.about_choksey{ padding:0px;
margin-bottom:20px;
margin-top:50px;}

.about_choksey p{ font-size:16px;}

.choksey_contt_sec{ margin-top:15px;}

.banner_bttn{ top:150px;}

.image_part{ padding:0px;
margin:0px;
width:40%;}

.image_part img{ width:100%;}

/*.banner_box img{ width:95%;}*/

.image_part_text p{ font-size:15px !important;}

.banner_tab_sub_heading{ width:28% !important;}

#menu .info {width:900px !important;}

.banner_tab_content{ width:50% !important;
padding:20px 15px 15px 15px;	}

.banner_tab_image_sec img{ width:100% !important;}

.banner_tab_sub_heading ul li a .icon_part__text_sec{ font-size:16px !important;}



/*wealth management*************************/

.inter_para_image{ width:38%;}

.inter_para_image img{ width:100%;}

.inter_para_image_one{ width:38%;}

.inter_para_image_one img{ width:100%;}

.inter_para_text_body {padding: 5% 20px 0 40px;}

.inter_para_text_body_one {padding:2% 40px 0 20px;}

#apprtoach_sec ul{ margin-top:0px;}

#apprtoach_sec ul li{ margin-bottom:0px;
line-height:20px;}

/*footer*************************/

.footer_box_sec{ width:98%;}
}


@media (min-width:1281px) and (max-width:1400px){
/* (min-device-width: 1366px and max-device-width:660px)*/	
/*navigaton*************************/

.nav_box{ width:98%;}

/*header*************************/
	
.header_box{ width:98%;}

/*.current_time{ margin:0px 7px 0px 0px;}*/
	.current_time{ margin:11px 7px 0px 0px;}

.search_ber_sec{ margin:0px 0px 0px 0px;}

.log_in{ margin-right:0px;}

.newsletter_bot{ width:100px;}

.logo img{ width:78%;}

.newsletter_bot{ width:110px;}

.newsletter_input{ width:300px;}

.logo p span{ font-size:22px;}

.login_bttn a{ padding:15px 22px;}

.login_bttn a.krc_account {padding: 15px 35px;}

p{ font-size:15px;
line-height:25px;}

.choksey_contt_sec { margin-top:10px;}

/*banner01 modify*************************/

#camera_wrap_1{ height:500px !important;}

#menu .info { width:770px;
top:-80px;}

.border_line{ margin-top:10px;}

.banner_content{ top:-40px;}

.banner_tab_image_sec{ padding:100px 5px 10px 5px;}

.banner_tab_sub_heading{ width:23%;
padding:10px 7px;}

.banner_tab_sub_heading ul li a{ font-size:15px;}

.banner_tab_sub_heading ul li a{ padding:7px 0 7px 30px;}

.share_news_box{ width:97%;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:780px;}

.banner_tab_sub_heading{ width:29%;
padding:10px 5px;}

.banner_tab_content{ padding:10px 10px;}

.banner_tab_content h3{ padding-bottom:10px;}

.banner_tab_sub_heading ul li{ padding-bottom:18px;}

.banner_tab_sub_heading ul li a .icon_part__text_sec{ font-size:15px !important;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:700px;}

.icon_part__text_sec{ margin-left:3px !important;}

/*banner02 modify*************************/

.banner_content_two{ width:99%;
top:5px;}

.dashboard_bttn a{ font-size:13px;
padding:8px 45px;}

.markets{ margin:0px 7px 2px 0px;
padding:5px;
height:335px;}

.research_box_sec{ margin:0px 7px 2px 0px;
padding:5px;
height:335px;}

.my_choksey_sec{ margin:0px 7px 0px 0px;
padding:5px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ padding:2px 7px;}

.log_in a.sign_up{ margin-left:12px;
padding:7px 25px;}

.my_choksey_sec{ width:31%;
height:335px;}

.heading_left h3{ font-size:18px;
padding-bottom:4px;}

.heading_right img{ width:60%;}

.banner_content_two_sec table td h4{ font-size:14px;}

.banner_content_two_sec table td{ height:22px;
padding:0px 1px;}

.markets_box_sec{ margin-top:5px;}

.banner_content_two_sec p{ font-size:12px !important;}

.dashboard_sec{ padding:0px;
margin-top:0px;}

.heading p{ line-height:10px;}

.rate{ height:27px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ padding:2px 8px;
font-size:13px;}

.share_arrow img{ width:25% !important;
height:25% !important;}

/*banner03 modify*************************/

.about_choksey{ padding:0px;
margin-bottom:15px;}

.image_part_text{ width:38%;
padding:10px;}

.management_left{ width:49%;}

.image_part{ width:40%;}

.image_part img{ width:100%;}

.image_part_text{ width:57%;}

.banner_bttn{ top:114px;}

.banner_content_three_sec{ margin-top:20px;}

/*middle body modify*************************/

.bse_nse_box{ width:55%;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:600px;}

.bse_nse_tab{ width:45%;}

.icon_text{ width:84%;}

.shares img{ padding-right:3px;}

.shares:nth-last-child(1){ margin-right:0px;}

.media_icon_part{ width:13%;}

.media_icon_part img{ width:100%;}

/*navigaton***********************************************************************inner page********************************************************************************************/

.inter_para_image{ width:38%;}

.inter_para_image img{ width:100%;}

.inter_para_image_one{ width:38%;}

.inter_para_image_one img{ width:100%;}

.inter_para_text_body {padding: 5% 20px 0 40px;}

.inter_para_text_body_one {padding:2% 40px 0 20px;}

#apprtoach_sec ul{ margin-top:0px;}

#apprtoach_sec ul li{ margin-bottom:0px;
line-height:20px;}

/*company snapshot**************************/

.search_ber_sec.for_quote_search{ float:none !important;}

.address_details_box_left{ width:48%;}

.footer_bottom_box p{ font-size:12px;}

/*footer*************************/

.footer_box_sec{ width:96%;}

.registration_details_box{ width:48%;}

.footer_bottom{ margin-bottom:5px;}
}

@media (max-width:1280px){
	
/* (min-device-width: 1280px and max-device-width:600px)*/	
	
/*navigaton*************************/

.nav_box{ width:98%;}

header{ padding:12px 0px;}

/*header*************************/
	
.header_box{ width:99%;}

.current_time{ margin:0px 12px;}

.search_ber_sec{ margin:0px 0px 0px 0px;}

.log_in{ margin-right:0px;}

.newsletter{ margin-left:0px;}

.newsletter_bot{ width:100px;}

.current_time{ margin:0px;}

.logo img{ width:75%;}

.newsletter_input{ width:275px;}

.newsletter_input{ font-size:13px;}

p{ font-size:15px !important;
line-height:24px;}

.choksey_contt_sec { margin-top:15px;}

.login_bttn a{ padding:15px 22px;}

.login_bttn a.krc_account {padding: 15px 35px;}

.modal_body_left img {width: 100%;}

.modal_body_left{ padding:24px 10px;}

.logo{ width:26%;}

.logoimg{ width:100%;}

.sign_up_bttn a{ padding:11px 15px;}


/*banner01 modify*************************/

#camera_wrap_1{ height:475px !important;}

#menu .info { width:770px;}

.banner_tab_sub_heading ul li a .icon_part__text_sec{ font-size:15px;
margin-left:0px;}

.banner_content{ top:10px;}

#menu{ top:80px;}

.banner_tab_image_sec{ padding:100px 5px 10px 5px;}

.banner_tab_sub_heading{ width:33%;
padding:10px 7px;}

.banner_tab_sub_heading ul li a{ font-size:15px;}

.banner_tab_sub_heading ul li a{ padding:7px 0 7px 30px;}

.share_news_box{ width:97%;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:780px;}

.banner_tab_sub_heading{ width:25%;
padding:10px 5px;}

.banner_tab_content{ padding:10px 10px;
width:46%;}

.banner_tab_content h3{ padding-bottom:10px;}

.banner_tab_sub_heading ul li{ padding-bottom:18px;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:700px;}

.banner_tab_sub_heading ul li a .icon_part__text_sec{ font-size:15px !important;}

#on-check:checked ~ #menu-items {
    height: 420px;
    left: -138px;
    top: -50px;
    width: 420px;}
	
#on-check:checked ~ .faux-shadow {
     height: 420px;
    left: -175px;
    top: -50px;
    width: 420px;}
	
#on-check:checked ~ .faux-shadow{ left:-138px;}

#on-button{ margin-top:80px;}

#menu-items{ top:97px;}

#menu-items .top .ss-compass {
    left: 250px;
    top:33px;}
	
#menu-items .bottom .ss-rss {
    left: 99px;
    top: 322px;}
	
#menu-items .bottom .ss-refresh {
    left: 313px;
    top: 275px;}

/*banner02 modify*************************/

.banner_content_two{ width:99%;
top:20px;}

.markets{ margin:0px 7px 12px 0px;
padding:5px;
height:440px;}

.research_box_sec{ margin:0px 7px 12px 0px;
padding:5px;
height:440px;}

.my_choksey_sec{ margin:0px 7px 12px 0px;
padding:5px;
height:440px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ padding:2px 7px;}

.log_in a.sign_up{ margin-left:12px;
padding:7px 25px;}

.my_choksey_sec{ width:31%;}

.banner_content_two_sec table td h4{ font-size:14px;}

.banner_content_two_sec table td{ height:40px;
padding:0px 3px;}

.banner_content_two_sec p{ font-size:13px;}

.dashboard_sec{ padding:0px;
margin-top:10px;}

.heading p{ line-height:10px;}

.rate{ height:27px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ padding:2px 8px;
font-size:13px;}

.dashboard_bttn_sec{ display:block;}

/*banner03 modify*************************/

.about_choksey{ padding:0px;
margin-bottom:15px;}

.image_part_text{ width:60%;
padding:10px;}

.address_details_box_left{ width:48%;}

/*.banner_box img{ width:95%;}*/

.management_left{ width:49%;}

.image_part{ width:35%;}

.image_part img{ width:100%;}

.border_line{ margin-top:10px;}

/*middle body modify*************************/

.bse_nse_box{ width:55%;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:570px;}

.bse_nse_tab{ width:45%;}

.media_icon_part{ width:12%;
margin-right:10px;}

.media_icon_part img{ width:100%;}

.icon_text{ width:85%;}

/*wealth management*************************/

.inter_para_image{ width:38%;}

.inter_para_image img{ width:100%;}

.inter_para_image_one{ width:38%;}

.inter_para_image_one img{ width:100%;}

.inter_para_text_body {padding: 5% 20px 0 40px;}

.inter_para_text_body_one {padding:2% 40px 0 20px;}

#apprtoach_sec ul{ margin-top:0px;}

#apprtoach_sec ul li{ margin-bottom:0px;
line-height:20px;}

/*company snapshot**************************/

.search_ber_sec.for_quote_search{ float:none !important;}

.markets.market_dashboard{ display:none !important;}

.research_box_sec.researche_box_two{ display:none !important;}

.my_choksey_sec.research_report{ display:none !important;}

.banner_bttn {top: 150px;}

/*footer*************************/

.footer_box_sec{ width:96%;}

.contact_name_field_one:nth-last-child(1){ margin-right:0px;}

footer h3{ font-size:18px;}

.footer_bottom h2{ font-size:22px;}

.footer_bottom p{ font-size:12px !important;}

.address_details_box ul li{ width:auto !important;
margin-right:60px;}

.address_details_box ul li:nth-last-child(1){ margin-right:0px;}

/*last updated 29-10-16 modify*************************/

.interoduction_sec_box{ width:95%;}
}


@media (max-width:1200px){
	
/*navigaton*************************/

.navbar-default .navbar-nav > li > a{ font-size:17px;}

.nav_box{ width:98%;}

	
/*header**************************/
	
.logo{ width:24%;}

.logo img{ width:70%;}

.header_box {width: 99%;}

.newsletter_bot { width:80px;
font-size:13px;}

.bttn a.log_in {font-size: 15px;
padding: 3px 14px !important;}

.newsletter{ margin-right:5px;
margin-left:0px;}

.newsletter_input{ height:36px;}

.newsletter_bot{ height:36px;}

.current_time{ margin:0px !important;}

#on-button > span img{ width:100% !important;}

search_ber_sec{ margin-right:0px !important;}

.log_in_button{ padding:4px 15px;
font-size:13px;}

.sign_up_bttn a{ padding:9px 15px;}

.modal-dialog{ width:43%;}

.sign_up_bttn{ margin-top:3px;}

/*banner 01**************************/

#camera_wrap_1{ height:470px !important;}

.camera_wrap .camera_pag .camera_pag_ul{ top:-90px;}

#menu .info { width:700px;
margin-top:50px !important;}

.banner_box{ margin-top:-15px;}

.banner_tab_image_sec{ display:block;}

.banner_tab_sub_heading{ width:34%;}

.banner_tab_content{ width:65%;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:490px;}

.footer_in_touch ul li a{ font-size:18px;
padding:5px 10px;
margin:0px 3px;}

.footer_in_touch{ margin-left:5px;}

/*Banner 02**************************/

.markets{ margin-right:0px;
padding:3px;
height:380px;}

.research_box_sec{ margin:0px 5px 0px 5px;
width:42%;
padding:3px;
height:380px;}

.my_choksey_sec{ margin:0px;
padding:3px;
height:380px;}

.markets.market_dashboard{ display:none !important;}

.research_box_sec.researche_box_two{ display:none !important;}

.my_choksey_sec.research_report{ display:none !important;}

/*Banner 03**************************/

.banner_bttn{ top:115px;}

.image_part {width:38%;}

.image_part img{ width:100%;}

.image_part_text {
padding:5px;
width: 62%;}

.image_part_text h4{ padding-bottom:2px;}

.image_part_text p{ font-size:15px !important;
line-height:24px !important;}

#scrollbar1 .viewport{ width:96%;}

#scrollbar1{ margin:0px;}

.wpf-demo-6 .view-caption{ padding:10px !important;}up_arrow

.share_arrow img{ width:20% !important;
height:20% !important;}

.up_arrow img{ width:30% !important;
height:30% !important;}

.dashboard_bttn{ margin-top:20px;}
}


@media (max-width:1024px){
	
/*navigaton*************************/

.navbar-default .navbar-nav > li > a{ font-size:16px;}

.nav_box{ width:98%;}

/*header*************************/

header{ padding:25px 0px;}
	
.header_box{ width:98%;}

.current_time{ margin:0px 12px;}

.search_ber_sec{ margin:0px 0px 0px 0px;}

.log_in{ margin-right:0px;}

.newsletter_bot{ width:100px;}

.logo img{ width:75%;}

.newsletter_input{ width:200px;}

.sign_up_bttn a{ padding:10px 15px;
font-size:13px;}

.choksey_contt_sec { margin-top:10px;}

.newsletter_bot{ width:70px;}

.newsletter_bot{ font-size:12px;}

.bttn a.log_in{ padding:7px 15px !important;}	

.logo{ width:28%;}

.logo img{ width:70%;}

.logo p span{ font-size:20px;}

p{ font-size:15px !important;}

.login_bttn a { padding: 10px 9px;}

.login_bttn a.krc_account {padding: 10px 22px;}

.login_bttn{ margin-bottom:25px;}

.modal_body_right{ padding:10px 10px 0px 10px;}

.contact_page4 input{ height:40px;}

.modal_body_right{ width:55%;}

.login_bttn_link_sec{ margin-top:50px;}

.login_box_sec{ margin-top:17px;}

/*banner image*************************/

#camera_wrap_1{ height:520px !important;}

/*banner01 modify*************************/

#on-button > span img{ width:100% !important;
height:auto !important;
padding-top:50px;}

#menu-items .bottom .ss-rss img{
height:100% !important;}

#menu{ top:80px;}

#menu-items .top .ss-home img{ height:100% !important;}

.camera_pag_ul li img{ width:100px !important;
height:75px !important;}

.heading_right p a img{ height:auto !important;
width:auto !important;}

#menu-items .bottom .ss-refresh img{ height:100% !important;}

#menu #on-check:checked ~ .info{ margin-left:-50px;}

#menu-items .top .ss-compass img{ height:100% !important;}

#info-heart:checked ~ #menu-items, #menu-items .top .ss-home img{ 
height:100% !important;}

.banner_tab_image_sec{ display:none;}

.banner_tab_image_sec img{ display:none;}

#menu .info { width:600px;}

.banner_content{ top:0px;}

.banner_tab_image_sec{ padding:100px 5px 10px 5px;}

.banner_tab_sub_heading ul li a{ font-size:14px;}

.banner_tab_sub_heading ul li a{ padding:7px 0 7px 30px;}

.share_news_box{ width:97%;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:780px;}

.banner_tab_sub_heading{ width:32%;
padding:10px 5px;}

.banner_tab_content{ padding:10px 7px;
width:65%;}

.banner_tab_content h3{ padding-bottom:10px;}

.banner_tab_sub_heading ul li{ padding-bottom:18px;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:700px;}

.banner_tab_sub_heading ul li a{ font-size:14px;}

.banner_tab_content p{ font-size:15px !important;}

.read_more a{ font-size:14px;}

.quick_cott{ padding:0px;
margin-top:25px;}

.social_media_box::before{ background:none;}

.banner_tab_sub_heading ul li a{ padding:7px 0 7px 30px;}

.curved-container span{ font-size:18px;}

.curved-container2 span{ font-size:18px;}

.curved-container1 span{ font-size:18px;}

.curved-container3 span{ font-size:18px;}

/*Circle part*************************/

#on-check:checked ~ .faux-shadow{ height:350px;
width:350px;
left:-120px;}

#on-button{ margin-left:-15px;
margin-top:50px;
height:140px;
width:140px;}

#on-button::after{height: 120px;
    left: -19px;
    top: 46px;
    width: 120px;}

#on-button > span{
height: 120px;
left: -18px;
top: 47px;
width: 120px;}

#menu-items{ left:-3px;
top:61px;
height: 120px;
width: 120px;}

.faux-shadow{  left: -21px;
top: 61px;
height: 120px;
width: 120px;}

#on-check:checked ~ #menu-items {
height:350px;
width:350px;
left:-120px;}

#menu-items label{ height:50px;
width:50px;
line-height:66px;}

#menu-items .top .ss-home img{ width:70% !important;}

#menu-items .top .ss-home{ left:20px;}

#menu-items .top .ss-compass {
left: 230px;
top: 43px;}

#menu-items .bottom .ss-rss {
left: 92px;
top: 269px;}

#menu-items .bottom .ss-refresh {
left: 265px;
top: 210px;}

.banner_content{ left:9%;}

.banner_tab_sub_heading::before{ background:none;}

#menu #on-check:checked ~ .info{ margin-left:-30px;}

/*banner02 modify*************************/

.banner_content_two_sec p{ font-size:13px !important;}

.target_text{ margin-left:2px !important;}

.log_in a{ font-size:13px !important;
padding:7px 10px;
margin:0px 5px;}

.rate {
border: 1px solid #85dd7c;
font-size: 13px;
height: 24px;
line-height: 20px;
margin: 5px auto 0;
width: 50px;}

.view_more a{ font-size:13px;}

.banner_content_two_sec h3{ font-size:13px !important;}

.banner_content_two{ width:99% !important;}

.markets{ margin:0px 3px 0px 0px;
padding:3px;}

.dashboard_sec{ padding:0px;
margin:0px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ font-size:12px;
padding:2px 3px;
line-height:20px;}

.ui-tabs .ui-tabs-nav{ padding:0px;}

.banner_content_two_sec h4{ font-size:13px;}

.banner_content_two_sec table td{ height:30px !important;
padding:0px 0px;}

.banner_content_two_sec h4{ text-align:center;}

.banner_content_two_sec p{ font-size:13px !important;}

.heading_right p a img {
    height: 70% !important;
    width: 70% !important;}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{ border:none;}

.target_text p img{ height:100% !important;
width:100% !important;}

.research_box_sec{ padding:5px;
margin:0px 7px 0px 0px;}

.up_arrow img{ height:10% !important;
width:10%  !important;}

.share_arrow img{ height:50% !important;
width:50% !important;}

/*banner03 modify*************************/

.about_choksey_text{ width:75%;}

.about_choksey_bttn{ width:23%;}

.banner_bttn a{ padding:12px 25px;}

.about_choksey{ padding:0px;
margin-bottom:15px;}

.banner_bttn {top: 144px;}

.image_part img{ width:1005 !important;
height:100% !important;}

.image_part{ width:35%;}

.image_part_text{ width:65%;}

.wpf-demo-6:hover .view-caption{ padding:7px;}

#scrollbar1{ margin:10px;}

.wpf-demo-6 .view-caption h4{ margin-bottom:5px !important;}

#scrollbar1 .viewport{ width:98% !important;}

.my_choksey_sec{ width:31%;
padding:3px;
margin:0px 0px 15px 0px;}

.image_part_tex h4{ font-size:16px;}

.ui-tabs .ui-tabs-panel{ padding:0px;}

.view_more a{ font-size:12px;}

.wpf-demo-6 .view-caption h4{ font-size:20px !important;}


/*middle body modify*************************/

.bse_nse_box{ width:50%;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:440px;}

.bse_nse_tab{ width:50%;}

/*footer modify*************************/

.footer_box{ float:none;
width:100%;
margin-bottom:20px;}

.footer_box.footer_products{ width:45%;}

.address_details_box_left{ width:47%;}

.footer_bottom_table table td.mutual_sub_heading{ padding:0px;}

/*.registration_details_box{ margin-right:20px;
width:44%;}

.footer_bottom_table p{ line-height:22px;
font-size:11px;}

.footer_bottom_table table td{ padding:0px;}*/

/*wealth management*************************/

.inter_para_image{ width:38%;}

.inter_para_image img{ width:100%;}

.inter_para_image_one{ width:38%;}

.inter_para_image_one img{ width:100%;}

.inter_para_text_body {padding: 5% 20px 0 40px;}

.inter_para_text_body_one {padding:2% 40px 0 20px;}

#apprtoach_sec ul{ margin-top:0px;}

#apprtoach_sec ul li{ margin-bottom:0px;
line-height:20px;
font-size:16px;}

.icon_part{ width:18%;
height:180px;}

.portfolio_sec{ margin-top:30px;}

/*company snapshot**************************/

.quote_text_box{ width:32%;}

.search_ber_sec.for_quote_search{ float:none !important;}

.footer_box_left { width:50%;}
}



@media (min-width:768px) and (max-width:991px){
	
/*navigaton*************************/

.navbar-default .navbar-nav > li > a{ font-size:16px;}

.nav_box{ width:98%;}

h2{ font-size:26px;
line-height:34px;}

/*header*************************/
	
.logo{ width:28%;}

.sign_up_bttn a {
font-size: 12px;
padding: 9px 7px;}

.sign_up_bttn{ margin-top:0px;}

.log_in_button {
font-size: 12px;
padding:2px 8px;}

.newsletter_bot {width:55px;}

.logo img{ width:70%;}

.logo p span{ font-size:16px;}

.newsletter_input {width: 200px;
height:30px;
font-size:13px;}

.newsletter{ margin:0px 0px 0px 5px;}

.bttn a.log_in {padding: 3px 15px !important;}

.newsletter_bot{ height:32px;
font-size:11px;}

.current_time p{ font-size:12px !important;}

.search_ber_sec{ margin-right:0px;}

.current_time{ margin:0px;}

.newsletter_input{ width:140px;
font-size:11px;}

.all_bttn_sec{ margin-left:2px;}

.log_in_bttn{ margin-right:2px;}

.footer_in_touch ul li a {
font-size: 16px;
line-height: 20px;
margin: 0 2px;
padding: 4px 9px;}

.footer_in_touch{ margin-left:5px;}

.bse_nse_box {width: 100%;
margin-bottom:15px;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:670px;}

.bse_nse_tab {width: 100%;}

.share_news_box{ padding:10px 0px;}

.news_feed_box_sec{ margin-top:25px;}

.banner_tab_sub_heading ul li a {font-size: 13px;}

#menu .info {width: 385px;}

#camera_wrap_1{ height:470px !important;}

#menu{ left:55px;}

.banner_tab_sub_heading ul li a .icon_part__text_sec{ font-size:13px;
margin-left:0px;
width:67%;
line-height:20px;}

.banner_tab_sub_heading{ width:32%;
padding:10px 2px;}

.banner_tab_content.wealth_box{ width:100%;}

.banner_tab_content h3{ font-size:18px;
padding-bottom:5px;}

.banner_tab_content h4{ font-size:17px;
padding-bottom:5px;}

.baner_contt_sec__box ul li{ font-size:14px;}

.banner_tab_content p{ line-height:24px;
font-size:14px !important;}

.banner_tab_sub_heading ul li a .research {background:url(../images/research-icon.png) no-repeat 0px 0px;}

.banner_tab_sub_heading ul li a .insurance {background:url(../images/insurance-icon.png) no-repeat 0px 2px;}

.banner_tab_sub_heading ul li a .pms { background:url(../images/pms-icon.png) no-repeat 0px 0px;}

.banner_tab_sub_heading ul li a .bonds {background: rgba(0, 0, 0, 0) url("../images/bonds-icon.png") no-repeat scroll 0 0px;}

.media_icon_part{ width:10%;}

.icon_text{ width:87%;}

.social_media_box ul li{ margin-bottom:15px;}

.footer_bottom_right p{ text-align:left !important;}

.footer_bottom_right a{ padding-left:0px;}

.footer_bottom_right{ float:left;
text-align:left;}

#menu-items .top .ss-compass {
left: 192px;
top: 21px;}

.curved-container3 {
    height: 0;
    margin: -53px auto auto 56px;
    position: relative;
    transform: rotate(37deg);
    width: auto;}

.curved-container {
height: 0;
margin: -53px auto auto 56px;
position: relative;
transform: rotate(7deg);
width: auto;}

.banner_content{ top:45px;}

.curved-container2 {
height: 0;
margin: -72px auto auto 29px;
position: relative;
transform: rotate(-29deg);
width: auto;}

#menu-items .bottom .ss-refresh {
left: 271px;
top: 207px;}

.curved-container1 {
    height: 0;
    margin: -75px auto auto 23px;
    position: relative;
    transform: rotate(-61deg);
    width: auto;}

#menu-items .bottom .ss-rss {
left: 103px;
top: 275px;}

#menu #on-check:checked ~ .info{ margin-left:0px !important;}

#menu #on-check:checked ~ .info {
    margin-left: -69px !important;}
	
.investment_bg img{ width:100% !important;
height:100% !important;
margin-top:80px;}

/******************banner 02******************/

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ font-size:12px;
padding:2px 5px;}

.markets{ padding:2px;
margin-right:0px;
width:35%;
margin-bottom:0px;}

.up_arrow img{ height:10% !important;
width:10% !important;}

.markets_box_sec{ margin-top:5px;}

.research_box_sec{ padding:2px;
margin-right:0px;}

.rate {
border: 1px solid #85dd7c;
font-size: 12px;
height: 21px;
line-height:17px;
margin: 1px auto 0;
width: 45px;}

.my_choksey_sec{ width:100%;
padding:2px;
margin-bottom:5px;}

.log_in a {
font-size: 11px !important;
margin: 0 5px;
padding: 5px 9px;}

.share_arrow img{ height:20% !important;
width:20% !important;}

.banner_content_two_sec h4{ font-size:12px;}

.research_box_sec{ width:62%;
margin-bottom:2px;
margin-left:10px;}

.banner_content_two{ top:5px;}

.dashboard_bttn{ margin:0px;}

.dashboard_bttn a{ font-size:13px;
padding:7px 40px;}

/******************banner 03******************/

.about_choksey_text{ width:75%;
padding-right:5px;}

.about_choksey_text p{ font-size:14px !important;
line-height:21px}

.banner_bttn a{ padding:12px 8px;}

.banner_bttn a{ font-size:13px;
padding:12px 8px;}

.banner_bttn {top:121px;}

.image_part{ width:18%;}

.image_part img{ width:100% !important;
height:auto !important;}

.management_left{ width:100%;
margin:0px;}

.image_part_text{ padding:2px 5px;
width:80%;}

.image_part_text h4{ font-size:20px;
padding-bottom:7px;}

.image_part_text p{ font-size:14px !important;}

.management_left{ padding:0px;
margin:0px;}

.about_choksey{ margin-bottom:7px;}

.camera_wrap .camera_pag .camera_pag_ul {
    top: -50px;}

.wpf-demo-6 .view-caption { padding: 0 !important;}

#scrollbar2{ margin:5px;}

.border_line{ margin-top:5px;}

.dashboard_bttn a{ font-size:15px;}

/*wealth management*************************/

.inter_para_text{ width:100%;
float:none;}

.inter_para_image{ width:100%;
float:none;
margin-bottom:25px;}

.inter_para_image_one{ width:100%;
margin-bottom:25px;}

.inter_para_text_one{ width:100%;
float:none;
margin-bottom:30px;}

.inter_para_text_body{ padding:5% 20px 0 20px}

}

/*company snapshot**************************/

.quote_text_box{ width:28%;}

.quote_text_box h3{ font-size:15px;}

.quote_text_box p{ font-size:12px;}

.quote_search_box{ width:72%;}

.search_ber_sec.for_quote_search{ float:none !important;}

.company_background{ margin-bottom:30px;}

#bharti_airtel{ padding-bottom:0px;}

.footer_box.footer_products {
    width: 60%;}

/*------------large mobiles potrait and small mobile landscape-------------------------(Apple iPhone 6 Plus, 6s Plus 414x736)----*/

@media (max-width:767px){

/*navigaton*************************/

.navbar-default .navbar-nav > li > a{ font-size:16px;}

.nav_box{ width:98%;}

.navbar-default .navbar-toggle{ border:1px solid #888888;}

.navbar-toggle:focus,.navbar-default .navbar-toggle:hover{ background:#f7901e !important;}

.dropdown-menu > li a:hover{}

.dropdown-menu{ min-width:100%;
border:none;
background:#4889b7;}

h2{ font-size:22px;
line-height:26px;
padding-bottom:0px;}

	
/* ----------------------header----------------------------------*/

header{ padding:5px 0px;}

.header_box{ width:99%;}

.all_bttn_sec{ margin-left:2px;}
	
.logo{ width:22%;}

.newsletter_input{ height:30px;
font-size:11px;}

.bttn a.log_in {padding: 3px 32px !important;}

.newsletter_bot {font-size: 13px;
height:30px;}

.logo img{ width:60%;}

.logo p span{ font-size:15px;}


.newsletter_input {width: 160px;}

.log_in_button {
    font-size: 13px;
    padding: 1px 11px;}

.newsletter_bot {width:80px;}

.newsletter{ margin:0px;}

.search_ber_sec{ margin-bottom:20px;
margin-right:0px;}
	
/*banner image*************************/

.view_more{ margin-top:0px;}

#camera_wrap_1{ height:275px !important;}

.banner_tab_content h3{ font-size:17px;
padding-bottom:3px;
line-height:24px;}

.banner_tab_content h4{ font-size:16px;
line-height:22px;}

.my_choksey_sec.research_report{ width:100%;}

.banner_content_two_sec table td{ height:28px !important;
padding:0px 0px;}

.footer_in_touch{text-align:left;
float:left;}

.current_time{ margin-left:5px !important;}

.log_in_bttn{ margin-right:0px;}

.current_time p{ text-align:right;
padding-right:2px;
font-size:11px !important;}

.search_ber_sec{ margin-bottom:5px;}

.footer_in_touch ul li a {
font-size: 14px;
line-height: 20px;
padding: 2px 6px;
text-align: center;}

.banner_tab_content p:nth-last-child(2){ display:none;}

/*Circle part*************************/

#menu{ top:55px;
left:35px;}


#menu #on-check:checked ~ .info {}

#menu #on-check:checked ~ .info {margin-left: -115px;}

#menu #on-check:checked ~ .info{ margin-top:40px;}

#menu .info {width:460px;}

#on-button > span {
height: 100px;
left: -18px;
top:25px;
width: 100px;}

#on-button::after {height: 100px;
width: 100px;
top:25px;}

.faux-shadow {
height: 100px;
left: -5px;
top: 61px;
width: 100px;}

#menu-items {
height: 100px;
left: -4px;
top: 41px;
width: 100px;}

.faux-shadow {
height: 100px;
left: -5px;
top: 41px;
width: 100px;}

#on-button {
height: 120px;
margin-left: -14px;
margin-top: 30px;
width: 120px;}

#on-button > span img{ padding-top:40px;}

#menu-items label {
    height: 35px;
    line-height: 50px;
    width: 35px;}

#menu-items .top .ss-home {
left: 23px;
top: 78px;}

.curved-container{ margin:-46px auto auto 34px;
transform:rotate(9deg);}

#menu-items .top .ss-compass {
    left: 157px;
    top: 17px;}

.curved-container span{ font-size:13px;
height:100px;}

.curved-container3 span{ font-size:13px;
height:110px;}

.curved-container2 span{ font-size:13px;
height:110px;}

.curved-container1 span{ font-size:13px;
height:110px;}

#on-check:checked ~ #menu-items {
    height: 265px;
    left: -96px;
    width: 265px;}
	
#on-check:checked ~ .faux-shadow {
    height: 265px;
    left: -96px;
    width: 265px;}
	
.curved-container3 {
margin: -37px auto auto 44px;
transform: rotate(43deg);}

#menu-items .bottom .ss-rss {
    left: 68px;
    top: 205px;}

#menu-items .bottom .ss-refresh {
    left: 210px;
    top: 157px;}
	
.curved-container1 {margin: -52px auto auto 22px;}

.curved-container2 {
margin: -55px auto auto 28px;
transform: rotate(-24deg);}

#menu-items .bottom .ss-refresh img{ width:85% !important;}

#menu-items .top .ss-compass img{ width:95% !important;}

#menu-items .bottom .ss-rss img{ width:95% !important;}

.banner_tab_sub_heading {
padding: 5px 0px;
width:26%;}

.banner_tab_sub_heading ul li a .icon_part__text_sec{ font-size:12px !important;
margin-left:5px;
width:80%;
line-height:32px;}

.banner_tab_sub_heading ul li a .equity{ width:23px;}

.banner_tab_sub_heading ul li a .currency_part{ width:23px;}

.banner_tab_sub_heading ul li a .commodities{ width:23px;}

.banner_tab_sub_heading ul li a .research{ width:23px;}

.banner_tab_sub_heading ul li a .insurance{ width:23px;}

.banner_tab_sub_heading ul li a .pms{ width:23px;}

.banner_tab_sub_heading ul li a .bonds{ width:23px;}

.banner_tab_sub_heading {
padding: 5px 0;
width: 32% !important;}

.banner_tab_sub_heading::before{ background:none !important;}

.banner_tab_sub_heading ul li{ padding-bottom:5px;}

.banner_tab_content h3 {
padding-bottom: 5px;}

.banner_tab_content.wealth_box{ width:96%;}

.banner_tab_content {
padding:5px 10px;
width:67%;}

.camera_wrap .camera_pag .camera_pag_ul {
    top: -40px;}
	
.banner_tab_content p{ line-height:26px;
padding-bottom:12px;
font-size:13px !important;
display:block !important;
line-height:20px;}

.banner_tab_content p{ padding-bottom:0px;}

.baner_contt_sec__box ul li{ font-size:14px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ font-size:13px;
padding:3px 10px;}

.banner_content_two_sec table td h4 {font-size: 15px;}

/********************banner 02************************/


.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ font-size:13x;}

.banner_content_two_sec h4{ font-size:11px;}

.rate {
font-size: 11px;
height: 21px;
margin: -3px auto 0;
width: 45px;}

.banner_content_two{ top:5px;}

.banner_box{ margin:0px;}

.markets_box_sec{ margin-top:3px;}

.markets {height: 310px;}

.dashboard_bttn{ margin-top:0px;}

.about_choksey{ margin-top:5px;
margin-bottom:0px;}

.dashboard_bttn a{ padding:7px 45px;;}
	
.research_box_sec{ display:none;}

.banner_content_two_sec h3 {font-size: 16px !important;
padding-bottom:3px;}
	
.banner_content_two_sec p{ font-size:11px !important;}

.share_arrow img {
height: 25% !important;
width: 25% !important;}

.up_arrow img {
height: 15% !important;
width: 15% !important;}

.my_choksey_sec { display:none !important;}

.markets.market_dashboard{ padding:0px;
margin:0px;
width:100%;}

.dashboard_bttn{ margin-top:5px;}

.dashboard_bttn a{ font-size:13px;}


/********************banner 03************************/

.banner_content_three_sec{ margin-top:0px;}

.about_choksey_text{ width:80%;
padding:0px;
margin-bottom:5px;}

.choksey_contt_sec p{ font-size:12px !important;
line-height:18px;}

.border_line{ width:96%;
margin-top:3px;}

#on-check:checked ~ #menu-items{ left:-87px;}

#on-check:checked ~ .faux-shadow{ left:-87px;}

.blue_border_line {border: 2px solid #f7901e;}

.choksey_contt_sec {
    margin-top: 5px;}

.border_line.border_line_two{ width:96%;
margin-top:10px;}

.about_choksey_bttn { width:30%;
margin:0px;}

.banner_bttn a{ font-size:10px;
padding:5px 22px;}

.banner_bttn {top:134px;
position:relative;
float:left;}

.management{ display:none;}

footer h3{ font-size:16px;}

.footer_box ul li a{ font-size:14px;}

.management_left { width:45;
margin-top:0px;}

.image_part {width:15%;}

.image_part_text {width:85%;}

.image_part_text h4{ font-size:15px !important;
padding-bottom:0px;
line-height:18px;}

.management_left{ margin-right:10px;
width:48%;}

.management_left:nth-last-child(1){ margin-right:0px !important;}

.image_part_text{ height:106px;}

.image_part img{ width:100% !important;
height:100% !important;}

.image_part_text{ padding:0px 3px !important;}

.image_part_text p{ line-height:15px !important;
font-size:12px !important;}


/********************middle body************************/

.bse_nse_box {width: 100%;
margin-bottom:15px;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:650px;}

.bse_news_text h3{ font-size:15px;}

#share_news_ber{ padding:12px 0px;}

.bse_nse_tab {width: 100%;}

.news_feed_box_sec{ margin-top:25px;}

.footer_bottom_right p{ text-align:left !important;}

.footer_bottom_right a{ padding-left:0px;}

.footer_bottom_right{ float:left;
text-align:left;}

.markets{ width:100%;
margin-right:0px;
padding:1px;}

.research_box_sec{ width:100%;
margin-right:0px;}

.research_box_sec.researche_box_two{ width:100%;}

.target_text p img {
    height: 70% !important;
    width: 70% !important;}
	
/*wealth management*************************/

.inter_para_text{ width:100%;
float:none;}

.inter_para_image{ width:100%;
float:none;
margin-bottom:25px;}

.inter_para_image_one{ width:100%;
margin-bottom:25px;}

.inter_para_text_one{ width:100%;
float:none;
margin-bottom:30px;}

.inter_para_text_body{ padding:5% 20px 0 20px}

.request_bttn {
float: none;
margin-right:0px;
text-align: left;
margin-bottom:30px;}

.number_box{ float:none;
width:100%;}

.request_bttn a{ padding:12px 38px;}

.right_away_box{ float:none;
margin-bottom:15px;
width:100%;}

.right_away_box_area{ margin:0px 10px;
width:100%;
float:none;}

/*company snapshot**************************/

.quote_text_box{ width:28%;}

.quote_text_box h3{ font-size:15px;}

.quote_text_box p{ font-size:12px;}

.quote_search_box{ width:72%;}

.search_ber_sec.for_quote_search{ float:none !important;}

.company_background{ margin-bottom:30px;}

.company_background_box table td{ padding:0px 3px;}

.company_background_box table td p{ font-size:14px !important;}

.company_background_box table td h4{ font-size:14px !important;}

.news_update_box a .news_time{ margin-right:15px;}

#bharti_airtel{ padding-bottom:0px;}

.news_background_box { margin-bottom:30px;}

.footer_box.footer_products{ width:50% !important;}

.investment_bg img{ height:100% !important;
width:100% !important;
margin-top:30px;}

#menu .info {
    width: 430px;}

}

/*------------large mobiles potrait and small mobile landscape--------------(320x568, 600x960)-------*/

/*@media all and (min-width: 603px ) and (max-width: 767px )*/
	
@media (max-width:603px){
	
#camera_wrap_1 {
height:217px !important;}

	
.curved-container span {
    font-size: 13px;}
	
#on-button::after{ left:-29px;}
	
.logo{ width:22%;}
	
.logo img {width:65%;}

.newsletter_bot {
    width: 50px;
	font-size:10px;}
	
.curved-container {
margin: -20px auto auto 28px;
transform: rotate(-4deg);}

#menu-items .top .ss-compass {
    left: 102px;
    top: 12px;}

.curved-container3 {
    margin: -21px auto auto 29px;
    transform: rotate(42deg);}
	
.curved-container span{ font-size:12px;
height:90px;}

.curved-container1 span{ font-size:11px;
height:90px;}
	
.curved-container2 span{ font-size:11px;
height:90px;}
	
.curved-container3 span{ font-size:11px;
height:80px;}

.banner_tab_content p{ font-size:11px !important;
padding-bottom:3px;
line-height:15px;
text-align:justify;}

.baner_contt_sec__box ul li{ font-size:12px;
line-height:18px;
padding-bottom:3px;}

.about_choksey_text{ width:70%;}

.banner_tab_sub_heading{ width:20% !important;}

.banner_tab_content h4{ padding-bottom:0px;}

.banner_tab_content h3{ font-size:12px;
padding-bottom:0px;
line-height:15px;}

.banner_tab_content h4{ font-size:12px;
padding-bottom:0px;}

.curved-container span{ font-size:11px;
height:85px;}

.curved-container2 {
    margin: -37px auto auto 14px;
    transform: rotate(-26deg);}
	
.security_code input{ height:28px;}

.log_in_bttn{ margin-top:-4px;}

#share_news_ber{ padding-bottom:5px;}
	
#menu #on-check:checked ~ .info {
    margin-left: -200px;
	height:176px;}
	
.bse_nse_box{ margin-bottom:5px;}
	
.banner_tab_content{ padding:2px;}

.camera_wrap .camera_pag .camera_pag_ul li{ width:30px;
height:3px;
margin:20px 2px;}
	
.banner_tab_content.wealth_box{ width:100%;}

.curved-container1 span{ font-size:11px;
height:80px;}

.curved-container1 {
    margin: -36px auto auto 13px;}

#menu-items .bottom .ss-rss {
    left: 50px;
    top: 139px;}

.curved-container2 span{ font-size:11px;
height:85px;}

.curved-container4 span{ font-size:13px;
height:100px;}

#menu-items .bottom .ss-refresh {
    left: 140px;
    top: 107px;}

.logo p span{ font-size:11px;}

.newsletter_input{ width:98px;
font-size:9px;
height:26px;
padding-left:5px;}

.newsletter_bot{ height:26px;}

.newsletter_bot_sec{ background:none;
margin-top:-4px;}

.search_ber_sec{ margin-bottom:0px;}

#camera_wrap_1{ height:190px;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:480px;}

.js-marquee{ font-size:13px;}

.js-marquee strong{ font-size:13px;}

.js-marquee span{ font-size:13px;}

.icon_part{ width:12%;}

.banner_tab_sub_heading {padding:0px !important;
width: 32%;}

.banner_tab_sub_heading ul li a .icon_part__text_sec{ width:60%;}

#menu .info {width:335px;}

.banner_tab_sub_heading {
padding: 5px 0;
width:33% !important;}

.banner_tab_content p:nth-last-child(2){ display:block !important;
padding-bottom:0px !important;}

#scrollbar1 { margin:0px !important;}

#scrollbar2{ margin:0px !important;}

.image_part {width: 25%;}

.image_part_text {width: 75%;}

.camera_wrap .camera_pag .camera_pag_ul{ top:-32px;}

.footer_in_touch ul li a { margin:0px;
font-size:13px;}

.log_in_button{ font-size:11px;
padding:1px 7px;
margin-top:-1px;
height:26px;}

.footer_bottom p{ font-size:9px !important;
line-height:14px;}

.bse_news_text h3 {
color: #fff;
font-size: 13px !important;
line-height: 26px !important;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ font-size:11px;}

footer{ padding:30px 0px 15px 0px;}

.footer_bottom h2 {
    font-size: 17px;
    line-height: 22px;}
	
.footer_box ul li{ padding-bottom:3px;
line-height:24px;}

.footer_top{ padding-bottom:0px;
margin-bottom:7px;}

.footer_bottom {
    margin-bottom: 2px;
    padding-bottom: 7px;}

.footer_choksey {
    margin-bottom: 2px;}
	
.registration_details_box_area h4{ font-size:12px;
line-height:16px;}

.footer_finish p{ font-size:12px !important;}

.camera_pag_ul li img {
    height: 30px !important;
    width: 50px !important;
	border:1px solid #e6e6e6;}

.address_details_box{ margin-top:3px;}

.footer_bottom h3{ font-size:13px;
line-height:18px;}


/*circle**********************/

#on-check:checked ~ #menu-items{ height:240px;
width:250px;}

#on-check:checked ~ .faux-shadow{ height:240px;
width:250px;}

#menu{ left:51px;}

#on-button::after {
    height: 90px;
    top: 3px;
    width: 90px;}
	
#on-button > span {
height: 90px;
left: -30px;
top: 2px;
width:90px;}
	

#menu-items{ height:90px;
width:90px;
left:-14px;
top:18px;}

.faux-shadow{ height:55px;
width:55px;
left:-14px;
top:18px;}

#menu-items .top .ss-home{ left:16px;}

/*last update 29-10-16**********************/

.what_next_bttn_box{ margin:7px 0px;}

.interoduction_sec_box ul li{ padding-bottom:5px;}

.footer_box.footer_products{ width:50%;}

#on-check:checked ~ #menu-items {
    left: -83px;}
	
#on-check:checked ~ .faux-shadow{    left: -83px;}

#menu-items .top .ss-home {
    top: 47px;}
	
#menu-items label{ line-height:24px;
height:30px;
width:30px;}

#menu-items .top .ss-home {
    transform: rotateZ(-50deg);}
	
#menu-items .top .ss-home img {
    width: 50% !important;}

/*for circle 02-11-16**********************/

#on-button::after{ height:55px;
width:55px;}

#on-button{ height:70px;
width:70px;
margin-left:-22px;
margin-top:12px;}

#on-button > span img{ padding-top:5px;
width:100% !important;}

.faux-shadow{ height:55px;
width:55px;}

#on-button > span{ height:55px;
width:55px;}

#menu-items{ height:55px;
width:55px;}

#on-check:checked ~ #menu-items{ height:185px;
width:185px;
top:-42px;}

#on-check:checked ~ .faux-shadow {
height:185px;
width:185px;
top:-42px;}

.about_choksey_bttn{ width:20%;}
}

/* ------------------------------------- iPhone 6+ ------------------------------------------- (min-device-width: 414px and max-device-width: 736px)*/
@media all and (max-width: 480px ){
	
/*navigaton*************************/

.navbar-default .navbar-nav > li > a{ font-size:16px;}

.nav_box{ width:98%;}

.navbar-default .navbar-toggle{ border:1px solid #888888;}

.navbar-toggle:focus,.navbar-default .navbar-toggle:hover{ background:#f7901e !important;}

.dropdown-menu > li a:hover{}

.dropdown-menu{ min-width:100%;
border:none;
background:#4889b7;}

.newsletter_input {
    width:135px !important;
}

/* ---------header-----------*/

header{ padding:5px 0px;}
	
.logo{ width:100%;
margin-bottom:5px;
text-align:center;}

.logo img{ width:30%;
text-align:center;}

.logo p{ text-align:center;}

.logo p span { font-size: 10px;}

.newsletter_input{ height:30px;
font-size:10px;}

.bttn a.log_in {padding: 3px 32px !important;}

.newsletter_bot {font-size: 13px;
height:35px;}

.header_right{ width:100%;
float:none !important;
margin:0px 5px;}

.newsletter_bot {width:55px;
height:30px;
font-size:10px;}

.newsletter_bot_sec{margin-top:-2px;}

.log_in_bttn {margin-top: -1px;}

.log_in_button{ height:29px;}

.newsletter{ margin:0px;}

.search_ber_sec{ margin-bottom:0px;
margin-right:0px;}

.newsletter_input{ width:185px;}

.footer_in_touch ul li a {
font-size: 11px;
line-height:16px;
padding: 2px 6px;
text-align: center;}

.banner_tab_content p{ font-size:12px;
line-height:20px;}

/*banner image****************/

.view_more{ margin-top:0px;}

.my_choksey_sec.research_report{ width:100%;}

.banner_content_two_sec table td{ height:28px !important;
padding:0px 0px;}

#camera_wrap_1 {height:570px !important;}

#camera_wrap_1 img {height:570px !important;}


/*Circle part*************************/

#menu {
left: 120px;
top: 55px;}

#menu #on-check:checked ~ .info{ margin-top:330px;
margin-left:-462px;
height:auto;}

#menu .info {margin-top: 331px !important;}

#menu .info {width:385px;}

#on-button > span {
height: 100px;
left: -18px;
top:25px;
width: 100px;}

#on-button::after {height: 100px;
width: 100px;
top:25px;}

.faux-shadow {
height: 100px;
left: -5px;
top: 61px;
width: 100px;}

#menu-items {
height: 100px;
left: -4px;
top: 41px;
width: 100px;}

.faux-shadow {
height: 100px;
left: -5px;
top: 41px;
width: 100px;}

#on-button {
height: 120px;
margin-left: -14px;
margin-top: 30px;
width: 120px;}

#on-button > span img{ padding-top:40px;}

#menu-items label {
height: 40px;
line-height: 38px;
width: 40px;}

#menu-items .top .ss-home{ top:80px;
left:30px;}

.curved-container{ margin:-39px auto auto 41px;
transform:rotate(-10deg);}

#menu-items .top .ss-compass {
    left: 157px;
    top: 20px;}
	
#on-button::after {
    left: -18px;}
	
.banner_tab_sub_heading{ width:23%;
padding:10px 7px;}

.banner_tab_sub_heading {
    width: 30% !important;}
	
#investment_bg img{ height:60% !important;
width:60% !important;}
	
.banner_tab_content{ width:100%;}

.curved-container3 span{ height:100px;}
	
.banner_tab_content.wealth_box{ width:100%;}

.curved-container span{ font-size:15px;
height:100px;}

.curved-container3 span{ font-size:15px;}

.curved-container2 span{ font-size:15px;}

.curved-container1 span{ font-size:15px;
height:100px;}

#on-check:checked ~ #menu-items {
    height: 280px;
    left: -96px;
    width: 280px;}
	
#on-check:checked ~ .faux-shadow {
    height: 280px;
    left: -96px;
    width: 280px;}
	
.curved-container3 {margin: -25px auto auto 42px;
transform:rotate(39deg);}

#menu-items .bottom .ss-rss {
    left: 71px;
    top: 205px;}

#menu-items .bottom .ss-refresh {
    left: 207px;
    top: 168px;}
	
.curved-container1 {margin:-56px auto auto 16px;}

.curved-container2 {margin: -55px auto auto 35px;}

#menu-items .bottom .ss-refresh img{ width:85% !important;}

#menu-items .top .ss-compass img{ width:95% !important;}

#menu-items .bottom .ss-rss img{ width:95% !important;}

.banner_tab_sub_heading {
padding:0px !important;
width:30%;}

#on-check:checked ~ #menu-items{ top:-48px;}

#on-check:checked ~ .faux-shadow {
top:-48px;}

.banner_tab_sub_heading ul li a .icon_part__text_sec{ font-size:13px;
margin-left:5px;
width:67%;
line-height:20px;}

.banner_tab_sub_heading ul li{ padding:0px 0px 2px 5px;}

.banner_tab_content h3 {
    padding-bottom: 5px;}
	
.banner_tab_content {
padding: 10px 7px;
width:69%;}
	
.banner_tab_content p{ line-height:22px;
padding-bottom:12px;
font-size:16px;}

.camera_wrap .camera_pag .camera_pag_ul {
    top: -46px;}

.banner_tab_content p:nth-last-child(2){ display:none;}

/********************banner 02************************/
.markets{ width:100%;
margin:0px;}

.research_box_sec{ margin:0px;}

.research_box_sec{ width:100%;}

.my_choksey_sec{ width:100%;
 margin:0px;
 display:none;}
 
.about_choksey_bttn{ margin:15px 0px 10px 0px;}

.banner_bttn a{ font-size:14px;
padding:10px 50px;}

.about_choksey{ margin-bottom:0px;}
 
 .banner_content_two_sec h3 {font-size: 16px !important;
padding-bottom:10px;}

.dashboard_bttn a{ font-size:14px;}

.dashboard_bttn {margin-top: 10px;}

.camera_wrap .camera_pag .camera_pag_ul li{ width:42px;}

.camera_wrap .camera_pag .camera_pag_ul{ right:10px;}

.camera_pag_ul li img {
    height: 55px !important;
    width: 60px !important;}
 
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
font-size: 13px;
line-height: 20px;
padding: 3px 7px;}

.share_arrow img{ width:30% !important;
height:30% !important;}

.up_arrow img{ width:18% !important;
height:18% !important;}

.markets_box_sec{ margin-top:5px;}

.banner_content_two{ top:20px;}

/********************banner 03************************/

.banner_content_three_sec{ margin-top:0px;}

.about_choksey_text{ width:100%;
border:none;
padding:0px 10px;}

.about_choksey_text p { font-size:14px;}

.about_choksey_bttn { width:100%;
margin-top:30px;
margin-bottom:20px;}

.banner_bttn {top:0;
position:relative;
float:left;}

.current_time{ margin-left:10px !important;}

.footer_in_touch { float:right;
text-align:right;
margin-right:20px;}

.management_left { width:100%;
margin-top:10px;}

.image_part{ width:30%;}

.image_part img{ width:100% !important;
height:auto !important;}

.image_part_text{ padding:10px;
width:70%;}

.image_part_text h4{ font-size:18px !important;
padding-bottom:5px !important;}

.image_part_text p{ font-size:13px !important;
line-height:20px;}

#scrollbar1{ margin:0px;}

.wpf-demo-6 .view-caption{ padding:5px !important;}

.wpf-demo-6 .view-caption h4{ font-size:18px !important;
padding-bottom:5px;}

.wpf-demo-6 .view-caption p{ font-size:13px !important;}

.border_line{ width:100%;
margin-top:10px;}

.border_line.border_line_two{ width:100%;}

banner_content_three_sec{ margin-top:0px;}

/********************middle body************************/

.bse_nse_box {width: 100%;
margin-bottom:15px;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:340px;}

.bse_nse_tab {width: 100%;}

.news_feed_box_sec{ margin-top:25px;}

.footer_bottom_right p{ text-align:left !important;}

.footer_bottom_right a{ padding-left:0px;}

.footer_bottom_right{ float:left;
text-align:left;}

/*wealth management*************************/

.inter_para_text{ width:100%;
float:none;}

.inter_para_image{ width:100%;
float:none;
margin-bottom:25px;}

.inter_para_image_one{ width:100%;
margin-bottom:25px;}

.inter_para_text_one{ width:100%;
float:none;
margin-bottom:30px;}

.inter_para_text_body{ padding:5% 20px 0 20px}

.request_bttn {
float: none;
margin-right:0px;
text-align: left;
margin-bottom:30px;}

.number_box{ float:none;
width:100%;}

.request_bttn a{ padding:12px 38px;}

.right_away_box{ float:none;
margin-bottom:15px;
width:100%;}

.right_away_box_area{ margin:0px 10px;
width:100%;
float:none;}

.field_box{ width:96%;}

.field_box_area{ width:48%;}

.contact_page2 textarea{ width:98%;}

.contact_page2 input[type="submit"]{ width:94%;}

/*company snapshot**************************/

.quote_text_box{ width:28%;}

.quote_text_box h3{ font-size:15px;}

.quote_text_box p{ font-size:12px;}

.quote_search_box{ width:72%;}

.search_ber_sec.for_quote_search{ float:none !important;}

.company_background{ margin-bottom:30px;}

.company_background_box table td{ padding:0px 3px;}

.company_background_box table td p{ font-size:14px !important;}

.company_background_box table td h4{ font-size:14px !important;}

.news_update_box a .news_time{ margin-right:15px;}

#bharti_airtel{ padding-bottom:0px;}

.news_background_box { margin-bottom:30px;}

.registration_details_box{ width:95%;
margin-bottom:20px;}

.registration_details_box_one{ width:95%;}

/*last update 29-10-16**********************/

.what_next_bttn_box{ margin:7px 0px;}

.what_next_bttn{ margin-bottom:12px;
font-size:16px;}

.what_next_bttn_one{ font-size:16px;}

.interoduction_sec_box ul li{ padding-bottom:5px;}

.rlAccordion > h3{ font-size:16px;}

.interoduction_sec_box ul li{ font-size:16px;}

.address_details_box_two{ width:100%;
float:none;}

.address_details_box_two p{ text-align:left !important;}

.address_details_box_three{ width:100%;
float:none;}

.address_details_box_three p{ text-align:left !important;}

.footer_box.footer_products{ width:80%;}

}



/* ----------- iPhone 6 --------------- (min-device-width: 375px and max-device-width:667px)*/

@media all and (max-width: 384px ){
	
/*navigaton*************************/

.navbar-default .navbar-nav > li > a{ font-size:15px;}

.nav_box{ width:98%;}

.navbar-default .navbar-toggle{ border:1px solid #888888;}

.navbar-toggle:focus,.navbar-default .navbar-toggle:hover{ background:#f7901e !important;}

.dropdown-menu > li a:hover{}

.dropdown-menu{ min-width:100%;
border:none;
background:#4889b7;}

.footer_in_touch{ float:right;
margin-right:20px;}

.current_time{ margin-left:3px;}

.current_time p{ font-size:13px;}

/*header*************************/

	h2{ font-size:26px;}
	
.newsletter_input {width: 150px;}

.quote_text_box{ float:none;
width:100%;}

.about_choksey_text p {
font-size: 14px;
line-height: 25px;}

.management_left:nth-last-child(1){ display:none !important;}

.border_line.border_line_two {width: 96%;}

#menu {left: 105px;
top: 70px;}

#menu #on-check:checked ~ .info {
    margin-left: -446px;
    margin-top: 330px;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert {width: 310px;}

.banner_content_two_sec p {font-size: 11px !important;}

.dashboard_bttn a {font-size: 13px;}

#quote_sec p{ font-size:13px !important;
line-height:15px;
padding-top:10px;}

.news_update_box a .news_time{ width:24%;
font-size:14px;}

.news_update_box a .news_content{ font-size:14px;}

.company_background_box table td h4{ font-size:13px !important;}

#menu .info {width: 365px;}

.banner_tab_sub_heading{ width:34%;}

.banner_tab_content{ width:65%;}

.registration_details_box{ width:95%;
margin-bottom:20px;}

.registration_details_box_one{ width:95%;}

/*last update 29-10-16**********************/

.what_next_bttn_box{ margin:7px 0px;}

.what_next_bttn{ margin-bottom:12px;
font-size:14px;}

.what_next_bttn_one{ font-size:14px;}

.interoduction_sec_box ul li{ padding-bottom:5px;}

.rlAccordion > h3{ font-size:16px;}

.interoduction_sec_box ul li{ font-size:14px;}

.address_details_box_two{ width:100%;
float:none;}

.address_details_box_two p{ text-align:left !important;}

.address_details_box_three{ width:100%;
float:none;}

.address_details_box_three p{ text-align:left !important;}

.footer_box.footer_products{ width:80%;}
}

@media all and (max-width:375px ){
	
/*navigaton*************************/

.navbar-default .navbar-nav > li > a{ font-size:14px;}

.dropdown-menu > li h3{ font-size:15px;}

.dropdown-menu > li a{ font-size:14px;}

.nav_box{ width:98%;}

.navbar-default .navbar-toggle{ border:1px solid #888888;}

.navbar-toggle:focus,.navbar-default .navbar-toggle:hover{ background:#f7901e !important;}

.dropdown-menu > li a:hover{}

.dropdown-menu{ min-width:100%;
border:none;
background:#4889b7;}

/*header*************************/

.newsletter_bot {
width: 92px;}

.bttn a.log_in {padding: 3px 28px !important;}

.current_time{ margin-left:3px !important;}

.banner_tab_content p{ padding-bottom:5px;}

.rate {
font-size: 11px;
line-height:16px;
margin:2px auto 0;
width: 48px;}

.banner_content_two_sec table td h4{ font-size:13px;}

.dashboard_bttn a{ padding:10px 45px;}

.search_ber_sec{ margin-bottom:5px;}

.icon_text {width: 83%;}

.icon_text p{ font-size:14px !important;}

.shares img {padding-right:2px;}

.shares{ margin-right:2px;}

.shares:nth-last-child{ margin-right:0px !important;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert {
    width: 295px;}
	
	.registration_details_box{ width:95%;
margin-bottom:20px;}

.registration_details_box_one{ width:95%;}

/*last update 29-10-16**********************/

.what_next_bttn_box{ margin:7px 0px;}

.what_next_bttn{ margin-bottom:12px;
font-size:14px;}

.what_next_bttn_one{ font-size:14px;}

.interoduction_sec_box ul li{ padding-bottom:5px;}

.rlAccordion > h3{ font-size:16px;}

.interoduction_sec_box ul li{ font-size:14px;}

.address_details_box_two{ width:100%;
float:none;}

.address_details_box_two p{ text-align:left !important;}

.address_details_box_three{ width:100%;
float:none;}

.address_details_box_three p{ text-align:left !important;}

.footer_box.footer_products{ width:80%;}
}


/* ----------- iPhone 5 and 5S --------------- (min-device-width: 320px and max-device-width:568px)*/

/* ----------- iPhone 4 and 4S  --------------- (min-device-width: 320px and max-device-width:480px)*/

@media all and (max-width:320px ){

.newsletter_input {width: 120px;
font-size:11px;
padding-left:5px;}

.log_in_button {
    font-size: 12px;
    padding: 1px 22px;}
	
	.newsletter_input {
    width: 148px !important;}
	
.curved-container1 span {
    font-size: 13px;
}

.current_time p{ font-size:13px;}
	
.newsletter_bot {width: 84px;}

#camera_wrap_1 {height: 560px !important;}


.bttn a.log_in {padding: 3px 18px !important;}

.current_time p{ font-size:13px !important;}

.newsletter_input { width: 142px;}

#camera_wrap_1{ height:446px !important;}

#on-check:checked ~ #menu-items {
    height: 230px;
    left: -89px;
    width: 230px;
}

#on-check:checked ~ .faux-shadow {
height: 230px;
left: -89px;
width: 230px;}

#on-button {
    height: 100px;
    margin-left: -21px;
    margin-top: 22px;
    width: 100px;}

#on-button::after {
    height: 85px;
    left: -28px;
    top: 12px;
    width: 85px;}
	
#on-button > span {
 height:85px;
    left: -27px;
    top: 12px;
    width:85px;}
	
#menu-items {
    height: 85px;
    left: -14px;
    top:21px;
    width: 85px;}
	
.faux-shadow {
    height: 85px;
    left: -15px;
    top: 22px;
    width: 85px;}
	
#menu-items .top .ss-home {
    left: 20px;
    top: 65px;}
	
.curved-container span {
    font-size: 14px;}
	
.curved-container1 span {
font-size: 14px;}

.curved-container2 span {
font-size: 14px;}

.curved-container3 span {
font-size: 14px;}

.curved-container3 span {
    height: 86px;}
	
.curved-container1 span {
    height: 86px;}

#menu{ top:55px;}

.banner_tab_content h3{ font-size:14px;}
	
#menu-items .top .ss-compass {
    left: 135px;
    top: 19px;}
	
#menu-items .bottom .ss-rss {
    left: 61px;
    top: 171px;}
	
#menu-items .bottom .ss-refresh {
    left: 177px;
    top: 126px;}
	
#menu #on-check:checked ~ .info {
    margin-left: -446px;
    margin-top: 280px;}
	
#menu .info {
    width: 318px;}
	
.banner_tab_sub_heading ul li a .equity{ display:none;}

.banner_tab_sub_heading ul li a .currency_part{ display:none;}	

.banner_tab_sub_heading ul li a .commodities{ display:none;}	

.banner_tab_sub_heading ul li a .research{ display:none;}	

.banner_tab_sub_heading ul li a .insurance{ display:none;}	

.banner_tab_sub_heading ul li a .pms{ display:none;}

.banner_tab_sub_heading ul li a .bonds{ display:none;}

.banner_tab_sub_heading ul li{ padding:0px !important;}	

.banner_tab_sub_heading {width: 30% !important;}

.banner_tab_content {width: 69%;}

.banner_content{ top:0;}

.banner_content_two_sec h3 {
    font-size: 15px !important;
    padding-bottom: 0;}
	
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    font-size: 12px;
    line-height: 20px;
    padding: 2px 6px;}

.rate {
font-size: 11px;
line-height:18px;
margin:2px auto 0;
width: 48px;}

.bse_news_text h3{ font-size:15px;}

.marquee, .marquee-with-options, .marquee-vert-before, .marquee-vert{ width:260px;}

.calculator_box ul li a .box_three{ font-size:16px;}

.shares{ margin-right:10px;}

.research_box_sec{ display:none !important;}

.curved-container1 {
    margin: -54px auto auto 24px;}
	
.bse_news_text h3 {
    font-size: 13px;}
	
	.registration_details_box{ width:95%;
margin-bottom:20px;}

.registration_details_box_one{ width:95%;}

.footer_finish p{ text-align:center !important;}

.address_details_box_two{ width:100% !important;
float:none !important;}

.address_details_box_three{ width:100% !important;
float:none !important;}

.address_details_box_three p{ text-align:left;}

/*last update 29-10-16**********************/

.what_next_bttn_box{ margin:7px 0px;}

.what_next_bttn{ margin-bottom:12px;
font-size:14px;}

.interoduction_sec_box ul li{ padding-bottom:5px;}

.rlAccordion > h3{ font-size:16px;}

.interoduction_sec_box ul li{ font-size:14px;}

.what_next_bttn_one a{ font-size:14px;}

.footer_box.footer_products{ width:80%;}



	
}




