﻿@{
    ViewBag.Title = "Wealth Management";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}


<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner">
            <div class="main_image clearfix">
                <div class="slider_text clearfix">
                    <div class="slider_text_content clearfix">
                        <h1 class="wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">Hopes. Dreams. Life Goals.</h1>
                        <h4 class="wow evnt_pakg fadeInUp animated" data-wow-duration="800ms" data-wow-delay="450ms">
                            Buying a home. Starting a Business. Owning a Car.
                            Child’s Higher Studies. Daughter’s Marriage.
                            Dream Vacation. Comfortable Retirement.
                        </h4>
                        <p class="wow evnt_pakg fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="800ms">You Dream. WE Help Fulfil.</p>
                    </div>
                    <div class="slider_image_content clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="1000ms"><img src="~/Content/images/financial-banner-image.png" alt="financial-banner-image" title="financial-banner-image"></div>
                </div>
                <img src="~/Content/images/inner-banner-bg.jpg" alt="Inner banner bg" title="Inner banner bg">
            </div>
        </section>
        <!------------------------------ About kr choksey Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="1600ms" data-wow-delay="1100ms">
                    <h2>Financial Planning</h2>
                </div>
                <div class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1900ms" data-wow-delay="1400ms">
                    <h3>Why do you need Financial Planning?</h3>
                    <p>We live in a world of uncertainty. A structured Financial Planning takes the uncertainty out of financial decisions and helps you plan a brighter future. It further ensures you a peace of mind by way of:</p>
                    <ul>
                        <li>Setting realistic financial and personal goals</li>
                        <li>Assessing your current financial health </li>
                        <li>Developing a realistic, comprehensive investment plan to meet your financial goals across changing personal circumstances across stages of your life</li>
                    </ul>
                    <div class="inner_page_pad_box_one clearfix">
                        <h3>Brief details</h3>
                        <p>We@KRChoksey plan and allocate wealth as per your needs. Our coordinated wealth management strategy can prepare a complete financial planning route map based on your long-term and short-term goals. Be it Planning your business, tax planning, marriage, child education, retirement or personal savings. You name it, we have it. </p>
                        <h3>So, what next?</h3>
                        <div class="what_next_bttn_box clearfix">
                            <div class="what_next_bttn clearfix">
                                <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                            </div>
                            <div class="what_next_bttn_one clearfix">
                                <a href="mailto: service@XXXXXXX.XXX"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> service@XXXXXXX.XXX</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </section>
</section>

@*<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner"><img src="~/Content/images/wealth-management-banner.jpg" alt="Wealth management banner" title="Wealth management banner"></section>
        <!------------------------------ About kr choksey Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading">
                    <h2>Financial Planning</h2>
                </div>
                <div class="choksey_contt_sec clearfix">
                    <h3>Why do you need Financial Planning?</h3>
                    <p>We live in a world of uncertainty. A structured Financial Planning takes the uncertainty out of financial decisions and helps you plan a brighter future. It further ensures you a peace of mind by way of:</p>
                    <ul>
                        <li>Setting realistic financial and personal goals</li>
                        <li>Assessing your current financial health </li>
                        <li>Developing a realistic, comprehensive investment plan to meet your financial goals across changing personal circumstances across stages of your life</li>
                    </ul>
                    <div class="inner_page_pad_box_one clearfix">
                        <h3>Brief details</h3>
                        <p>We@KRChoksey plan and allocate wealth as per your needs. Our coordinated wealth management strategy can prepare a complete financial planning route map based on your long-term and short-term goals. Be it Planning your business, tax planning, marriage, child education, retirement or personal savings. You name it, we have it. </p>
                        <h3>So, what next?</h3>
                        <div class="what_next_bttn_box clearfix">
                            <div class="what_next_bttn clearfix">
                                <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                            </div>
                            <div class="what_next_bttn_one clearfix">
                                <a href="mailto: eservice@XXXXXXX.XXX?subject=Enquiry from Financial Planing"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </section>
</section>*@



