﻿@{
    ViewBag.Title = "i-Equity";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner">
            <div class="main_image clearfix">
                <div class="slider_text clearfix">
                    <div class="slider_text_content clearfix">
                        <h1 class="wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">Business Expansions, Liquidity.Investments. Unforeseen Expenses</h1>
                        <h4 class="wow evnt_pakg fadeInUp animated" data-wow-duration="800ms" data-wow-delay="450ms">Looking for funding options to meet you immediate or short-team investment requirements? </h4>
                        <p class="wow evnt_pakg fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="800ms">Your Search. Our Answer. </p>
                    </div>
                    <div class="slider_image_content clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="900ms" data-wow-delay="700ms"><img src="~/Content/images/i-equity-banner-image.png" alt="financial-banner-image" title="financial-banner-image"></div>
                </div>
                <img src="~/Content/images/inner-banner-bg.jpg" alt="Inner banner bg" title="Inner banner bg">
            </div>
        </section>
        <!------------------------------ About kr choksey Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="1600ms" data-wow-delay="1100ms">
                    <h2>i-equity</h2>
                </div>
                <div class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1900ms" data-wow-delay="1400ms">
                    <h3>Why equity trading?</h3>
                    <p>Equity trading gives you the option to grow your investments with the market dynamics. It can fulfil your short-term as well as long-term financial goals, depending on your needs. At KRChoksey, our expert advisers will always guide you on the best scripts and the investment timing in order to book profits and minimise risks market volatility risks. </p>
                    <h3>Brief details</h3>
                    <ul>
                        <li>Online and offline trading solutions with value-added tools & services</li>
                        <li>Instant notifications about news, results, company updates and calls</li>
                        <li>Lower transaction costs </li>
                        <li>Online research and support</li>
                    </ul>
                    <h3>So, what next?</h3>
                    <div class="what_next_bttn_box clearfix">
                        <div class="what_next_bttn clearfix">
                            <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                        </div>
                        <div class="what_next_bttn_one clearfix">
                            <a href="mailto: service@XXXXXXX.XXX"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> service@XXXXXXX.XXX</a>
                        </div>
                        <div class="what_next_bttn_one  download_bttn clearfix">
                            <a href="#"><img src="~/Content/images/download-icon.png" alt="Download icon" title="Download icon">Download</a>
                        </div>
                    </div>
                </div>

            </article>
        </section>
    </section>
</section>



@*<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner"><img src="~/Content/images/i-equity-banner.jpg" alt="I-equity banner" title="I-equity banner"></section>
        <!------------------------------ About kr choksey Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading">
                    <h2>i-Equity</h2>
                </div>
                <div class="choksey_contt_sec clearfix">
                    <h3>Why equity trading?</h3>
                    <p>Equity trading gives you the option to grow your investments with the market dynamics. It can fulfil your short-term as well as long-term financial goals, depending on your needs. At KRChoksey, our expert advisers will always guide you on the best scripts and the investment timing in order to book profits and minimise risks market volatility risks. </p>
                    <h3>Brief details</h3>
                    <ul>
                        <li>Online and offline trading solutions with value-added tools & services</li>
                        <li>Instant notifications about news, results, company updates and calls</li>
                        <li>Lower transaction costs </li>
                        <li>Online research and support</li>
                    </ul>
                    <h3>So, what next?</h3>
                    <div class="what_next_bttn_box clearfix">
                        <div class="what_next_bttn clearfix">
                            <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                        </div>
                        <div class="what_next_bttn_one clearfix">
                            <a href="mailto: eservice@XXXXXXX.XXX?subject=Enquiry from i-Equity"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </section>
</section>*@





