﻿@{
    ViewBag.Title = "i-Lend";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner">
            <div class="main_image clearfix">
                <div class="slider_text clearfix">
                    <div class="slider_text_content clearfix">
                        <h1 class="wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">Earn additional income on your investments</h1>
                        <h4 class="wow evnt_pakg fadeInUp animated" data-wow-duration="800ms" data-wow-delay="450ms">Earn lending fee with complete protection.</h4>
                        <p class="wow evnt_pakg fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="800ms">Your Wish. Our Solution.</p>
                    </div>
                    <div class="slider_image_content clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="1000ms"><img src="~/Content/images/i-lend-banner-image.png" alt="i-lend-banner-image" title="i-lend-banner-image"></div>
                </div>
                <img src="~/Content/images/inner-banner-bg.jpg" alt="Inner banner bg" title="Inner banner bg">
            </div>
        </section>
        <!------------------------------ About kr choksey Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="1600ms" data-wow-delay="1100ms">
                    <h2>i-lend</h2>
                </div>
                <div class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1900ms" data-wow-delay="1400ms">
                    <h3>Why to invest in I lend?</h3>
                    <ul>
                        <li>Easy way of earning lending fees from borrower of your stock.</li>
                        <li>Continue to keep all beneficiary rights with yourself. </li>
                        <li>Assured 100 % protection of holdings. </li>
                        <li>Earnings dose not impact on your short & long term taxation implication. </li>
                    </ul>
                    <h3>Brief details</h3>
                    <ul>
                        <li>The Securities Lending and Borrowing (hereinafter referred as SLB) is a scheme that has been launched to enable settlement of securities sold short. </li>
                        <li>SLB enables lending of idle securities by the investors through the clearing corporation/clearing house of stock exchanges to earn a return through the same. </li>
                        <li>SLB allows short sellers to borrow securities for making delivery. Securities in the F&O segment are eligible for short selling.</li>
                        <li>Securities in the F&O segment are eligible for SLB.</li>
                        <li>It is 100% safe product to earn fixed income by lending your shares to exchange for fixed period and to earn income on the same.</li>
                    </ul>
                    <h3>So, what next?</h3>
                    <div class="what_next_bttn_box clearfix">
                        <div class="what_next_bttn clearfix">
                            <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                        </div>
                        <div class="what_next_bttn_one clearfix">
                            <a href="mailto: service@XXXXXXX.XXX"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> service@XXXXXXX.XXX</a>
                        </div>
                        <div class="what_next_bttn_one download_bttn clearfix">
                            <a href="#"><img src="~/Content/images/download-icon.png" alt="Download icon" title="Download icon">Download</a>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </section>
</section>



@*<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner"><img src="~/Content/images/i-lend-banner.jpg" alt="i-lend banner" title="i-lend banner"></section>
        <!------------------------------ About kr choksey Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading">
                    <h2>i-lend</h2>
                </div>
                <div class="choksey_contt_sec clearfix">
                    <h3>Why to invest in I lend?</h3>
                    <ul>
                        <li>Easy way of earning lending fees from borrower of your stock.</li>
                        <li>Continue to keep all beneficiary rights with yourself. </li>
                        <li>Assured 100 % protection of holdings. </li>
                        <li>Earnings dose not impact on your short & long term taxation implication. </li>
                    </ul>
                    <h3>Brief details</h3>
                    <ul>
                        <li>The Securities Lending and Borrowing (hereinafter referred as SLB) is a scheme that has been launched to enable settlement of securities sold short. </li>
                        <li>SLB enables lending of idle securities by the investors through the clearing corporation/clearing house of stock exchanges to earn a return through the same. </li>
                        <li>SLB allows short sellers to borrow securities for making delivery. Securities in the F&O segment are eligible for short selling.</li>
                        <li>Securities in the F&O segment are eligible for SLB.</li>
                        <li>It is 100% safe product to earn fixed income by lending your shares to exchange for fixed period and to earn income on the same.</li>
                    </ul>
                    <h3>So, what next?</h3>
                    <div class="what_next_bttn_box clearfix">
                        <div class="what_next_bttn clearfix">
                            <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                        </div>
                        <div class="what_next_bttn_one clearfix">
                            <a href="mailto: eservice@XXXXXXX.XXX?subject=Enquiry from i-Lend"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </section>
</section>*@


