﻿@{
    ViewBag.Title = "i-Plan";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}




<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner">
            <div class="main_image clearfix">
                <div class="slider_text clearfix">
                    <div class="slider_text_content clearfix">
                        <h1 class="wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">Fixed Income. Secure Future.Safeguarding Losses.</h1>
                        <h4 class="wow evnt_pakg fadeInUp animated" data-wow-duration="800ms" data-wow-delay="450ms">Are you looking forward to build your savings and secure them?</h4>
                        <p class="wow evnt_pakg fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="800ms">Your Queries. Our Offerings.</p>
                    </div>
                    <div class="slider_image_content clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="1000ms"><img src="~/Content/images/i-plan-banner-image.png" alt="i-plan-banner-image" title="i-plan-banner-image"></div>
                </div>
                <img src="~/Content/images/inner-banner-bg.jpg" alt="Inner banner bg" title="Inner banner bg">
            </div>
        </section>
        <!------------------------------ i-Fund Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="1600ms" data-wow-delay="1100ms">
                    <h2>I - Plan</h2>
                </div>
                <div class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1900ms" data-wow-delay="1400ms">
                    <div id="first">
                        <h3>Mutual Funds</h3>
                        <div>
                            <h3>Why invest in Mutual Funds?</h3>
                            <ul>
                                <li>Professional management</li>
                                <li>Diversification </li>
                                <li>More choice</li>
                                <li>Affordability</li>
                                <li>Tax benefits</li>
                                <li>Liquidity</li>
                                <li>Rupee-cost averaging</li>
                                <li>Transparency</li>
                                <li>Zero-execution charges</li>
                                <li>Dedicated relationship manager</li>
                                <li>Online & Offline Tracking System of your Investments</li>
                            </ul>

                            <h3>Brief details</h3>
                            <ul>
                                <li>A Mutual Fund is a trust that pools the savings of several investors, invests in capital market instruments such as shares, debentures and other securities and distributes income realized to its unit holders in proportion to the number of units owned by them</li>
                                <li>Thus, a mutual fund is a suitable investment for the common man as it offers an opportunity to invest in a diversified, professionally managed basket of securities at a relatively low cost</li>
                                <li>However, mutual fund investments are subject to market risk. We strongly recommend our customers to read and understand the key information before buying any fund.</li>
                            </ul>
                            <h4>Types of Mutual Funds:</h4>
                            <ul>
                                <li>Liquid Mutual Fund</li>
                                <li>Short term Debt Fund</li>
                                <li>Long Term Debt Fund</li>
                                <li>Equity Mutual Fund</li>
                                <li>Balanced and Hybrid Mutual Fund</li>
                            </ul>

                            <h3>So, what next?</h3>
                            <div class="what_next_bttn_box clearfix">
                                <div class="what_next_bttn clearfix">
                                    <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                                </div>
                                <div class="what_next_bttn_one clearfix">
                                    <a href="mailto: service@XXXXXXX.XXX"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> service@XXXXXXX.XXX</a>
                                </div>
                            </div>
                        </div>

                        <h3>Fixed Income</h3>
                        <div>
                            <h3>Why invest in fixed income instruments?</h3>
                            <ul>
                                <li>Wide array of fixed income product offering - Company Fixed Deposits, Bonds, NCDs, and Capital Gain Bonds (Section 54EC)</li>
                                <li>Flexibility to choose your investment amount, tenure, interest payment and maturity periods </li>
                                <li>Feature to help you get all your financial investments under one roof</li>
                                <li>Dedicated Research and Advisory desk to help you with customized recommendations based on your needs (on select a/c’s)</li>
                                <li>Regular updates via email on new products and recommendations</li>
                            </ul>

                            <h3>Brief details</h3>
                            <p>Fixed Income is a type of investing style for which periodic income is received at regular intervals at a secured & unchanged rate. It is safe and static in nature.</p>
                            <ul>
                                <li>Ideal instruments for people with very low risk appetite and capital protection </li>
                                <li>Easy to judge safety level of companies, since most of the instruments are rated</li>
                                <li>Attractive returns at interest rates higher than bank’s Fixed Deposits</li>
                                <li>Higher Interest rates for senior citizens</li>
                                <li>Liquidity- most of the issuers offer pre-mature withdrawal Option</li>
                                <li>Flexible tenure – Deposit tenures varying from 1 to 7 year</li>
                                <li>Most of the issuers offer flexibility of selecting interest frequencies from monthly, quarterly and annual compounding</li>
                                <li>Gain tax advantage by investing in tax free bonds</li>
                                <li>Regular income for low risk appetite investor</li>
                            </ul>


                            <h3>So, what next?</h3>
                            <div class="what_next_bttn_box clearfix">
                                <div class="what_next_bttn clearfix">
                                    <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                                </div>
                                <div class="what_next_bttn_one clearfix">
                                    <a href="mailto: service@XXXXXXX.XXX"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> service@XXXXXXX.XXX</a>
                                </div>
                            </div>
                        </div>

                        <h3>Protection </h3>
                        <div>
                            <h3>Life Insurance</h3>
                            <h4>Why Life Insurance?</h4>
                            <ul>
                                <li>Risks and uncertainties are an unavoidable part of life's design - death, accident and illnesses are built into the working of the universe, waiting to happen</li>
                                <li>Life insurance is man's answers to such vagaries of lifez</li>
                            </ul>

                            <h3>Brief details</h3>
                            <ul>
                                <li><strong>Protection & Risk cover</strong> to safeguard against losses suffered on account of an unforeseen event like death or accident</li>
                                <li><strong>Income Replacement</strong> to the dependents to take care of the day-to-day living expenses in the absence of the bread winner.</li>
                                <li><strong>Income Replacement</strong> to the dependents to take care of the day-to-day living expenses in the absence of the bread winner.</li>
                                <li><strong>Long Term Savings Creation for creating</strong> a corpus of savings to achieve long term goals like children's higher education, marriage, prepayment of outstanding mortgages, etc</li>
                                <li><strong>Retirement Planning</strong> to plan an adequate annuity to lead a comfortable, independent and carefree retired life</li>
                                <li><strong>Maintenance of Standard of Living</strong> of the family and ensure continuity in the long term plans of the family</li>
                                <li><strong>Tax planning</strong> as per the prevailing income tax laws and are subject to amendment from time to time</li>
                            </ul>
                            <h4>Product offerings</h4>
                            <ul>
                                <li>Protection Plans</li>
                                <li>Savings & Investment Plans</li>
                                <li>Retirement Plans</li>
                                <li>Child Plans</li>
                                <li>All Plans</li>
                            </ul>
                            <h3>General Insurance </h3>
                            <h4>Why General Insurance?</h4>
                            <p>Every asset has a value. General insurance provides protection to the economic value of assets against the damage resulted out of unnatural and unforeseen circumstances.</p>
                            <h3>Brief details</h3>
                            <ul>
                                <li><strong>General Insurance</strong> or Non-life insurance means insurance other than life insurance such as fire, marine, accident, medical, motor vehicle and household insurance; Insurance is provided against tangible assets in the form of building, vehicles, machinery and other tangible properties</li>
                                <li><strong>Health Insurance</strong> takes care of medical expenses following hospitalization from sudden illness or accident</li>
                                <li><strong>Personal Accident Insurance</strong> provides compensation for loss of life or injury (partial or permanent) caused by an accident including reimbursement of cost of treatment and the use of hospital facilities for the treatment</li>
                                <li><strong>Travel Insurance </strong> covers the insured against various eventualities while traveling abroad; it covers the insured against personal accident, medical expenses and repatriation, loss of checked baggage, passport etc</li>
                                <li><strong>Motor Insurance </strong> covers the act of liability as per the Motor Vehicles Act as well as insurers all liability and damage caused to one's vehicles</li>
                            </ul>

                            <h3>So, what next?</h3>
                            <div class="what_next_bttn_box clearfix">
                                <div class="what_next_bttn clearfix">
                                    <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                                </div>
                                <div class="what_next_bttn_one clearfix">
                                    <a href="mailto: service@XXXXXXX.XXX"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> service@XXXXXXX.XXX</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </article>
        </section>
    </section>
</section>



@*<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner"><img src="~/Content/images/iplan-banner.jpg" alt="iplan banner" title="iplan banner"></section>
        <!------------------------------ i-Fund Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading">
                    <h2>i-Plan</h2>
                </div>
                <div class="choksey_contt_sec clearfix">
                    <div id="first">
                        <h3>Mutual Funds</h3>
                        <div>
                            <h3>Why invest in Mutual Funds?</h3>
                            <ul>
                                <li>Professional management</li>
                                <li>Diversification </li>
                                <li>More choice</li>
                                <li>Affordability</li>
                                <li>Tax benefits</li>
                                <li>Liquidity</li>
                                <li>Rupee-cost averaging</li>
                                <li>Transparency</li>
                                <li>Zero-execution charges</li>
                                <li>Dedicated relationship manager</li>
                                <li>Online & Offline Tracking System of your Investments</li>
                            </ul>

                            <h3>Brief details</h3>
                            <ul>
                                <li>A Mutual Fund is a trust that pools the savings of several investors, invests in capital market instruments such as shares, debentures and other securities and distributes income realized to its unit holders in proportion to the number of units owned by them</li>
                                <li>Thus, a mutual fund is a suitable investment for the common man as it offers an opportunity to invest in a diversified, professionally managed basket of securities at a relatively low cost</li>
                                <li>However, mutual fund investments are subject to market risk. We strongly recommend our customers to read and understand the key information before buying any fund.</li>
                            </ul>
                            <h4>Types of Mutual Funds:</h4>
                            <ul>
                                <li>Liquid Mutual Fund</li>
                                <li>Short term Debt Fund</li>
                                <li>Long Term Debt Fund</li>
                                <li>Equity Mutual Fund</li>
                                <li>Balanced and Hybrid Mutual Fund</li>
                            </ul>

                            <h3>So, what next?</h3>
                            <div class="what_next_bttn_box clearfix">
                                <div class="what_next_bttn clearfix">
                                    <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                                </div>
                                <div class="what_next_bttn_one clearfix">
                                    <a href="mailto: eservice@XXXXXXX.XXX?subject=Enquiry from i-Plan (Mutual Funds)"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                                </div>
                            </div>
                        </div>

                        <h3>Fixed Income</h3>
                        <div>
                            <h3>Why invest in fixed income instruments?</h3>
                            <ul>
                                <li>Wide array of fixed income product offering - Company Fixed Deposits, Bonds, NCDs, and Capital Gain Bonds (Section 54EC)</li>
                                <li>Flexibility to choose your investment amount, tenure, interest payment and maturity periods </li>
                                <li>Feature to help you get all your financial investments under one roof</li>
                                <li>Dedicated Research and Advisory desk to help you with customized recommendations based on your needs (on select a/c’s)</li>
                                <li>Regular updates via email on new products and recommendations</li>
                            </ul>

                            <h3>Brief details</h3>
                            <p>Fixed Income is a type of investing style for which periodic income is received at regular intervals at a secured & unchanged rate. It is safe and static in nature.</p>
                            <ul>
                                <li>Ideal instruments for people with very low risk appetite and capital protection </li>
                                <li>Easy to judge safety level of companies, since most of the instruments are rated</li>
                                <li>Attractive returns at interest rates higher than bank’s Fixed Deposits</li>
                                <li>Higher Interest rates for senior citizens</li>
                                <li>Liquidity- most of the issuers offer pre-mature withdrawal Option</li>
                                <li>Flexible tenure – Deposit tenures varying from 1 to 7 year</li>
                                <li>Most of the issuers offer flexibility of selecting interest frequencies from monthly, quarterly and annual compounding</li>
                                <li>Gain tax advantage by investing in tax free bonds</li>
                                <li>Regular income for low risk appetite investor</li>
                            </ul>


                            <h3>So, what next?</h3>
                            <div class="what_next_bttn_box clearfix">
                                <div class="what_next_bttn clearfix">
                                    <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                                </div>
                                <div class="what_next_bttn_one clearfix">
                                    <a href="mailto: eservice@XXXXXXX.XXX?subject=Enquiry from i-Plan (Fixed Income)"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                                </div>
                            </div>
                        </div>

                        <h3>Protection </h3>
                        <div>
                            <h3>Life Insurance</h3>
                            <h4>Why Life Insurance?</h4>
                            <ul>
                                <li>Risks and uncertainties are an unavoidable part of life's design - death, accident and illnesses are built into the working of the universe, waiting to happen</li>
                                <li>Life insurance is man's answers to such vagaries of lifez</li>
                            </ul>

                            <h3>Brief details</h3>
                            <ul>
                                <li><strong>Protection & Risk cover</strong> to safeguard against losses suffered on account of an unforeseen event like death or accident</li>
                                <li><strong>Income Replacement</strong> to the dependents to take care of the day-to-day living expenses in the absence of the bread winner.</li>
                                <li><strong>Income Replacement</strong> to the dependents to take care of the day-to-day living expenses in the absence of the bread winner.</li>
                                <li><strong>Long Term Savings Creation for creating</strong> a corpus of savings to achieve long term goals like children's higher education, marriage, prepayment of outstanding mortgages, etc</li>
                                <li><strong>Retirement Planning</strong> to plan an adequate annuity to lead a comfortable, independent and carefree retired life</li>
                                <li><strong>Maintenance of Standard of Living</strong> of the family and ensure continuity in the long term plans of the family</li>
                                <li><strong>Tax planning</strong> as per the prevailing income tax laws and are subject to amendment from time to time</li>
                            </ul>
                            <h4>Product offerings</h4>
                            <ul>
                                <li>Protection Plans</li>
                                <li>Savings & Investment Plans</li>
                                <li>Retirement Plans</li>
                                <li>Child Plans</li>
                                <li>All Plans</li>
                            </ul>
                            <h3>General Insurance </h3>
                            <h4>Why General Insurance?</h4>
                            <p>Every asset has a value. General insurance provides protection to the economic value of assets against the damage resulted out of unnatural and unforeseen circumstances.</p>
                            <h3>Brief details</h3>
                            <ul>
                                <li><strong>General Insurance</strong> or Non-life insurance means insurance other than life insurance such as fire, marine, accident, medical, motor vehicle and household insurance; Insurance is provided against tangible assets in the form of building, vehicles, machinery and other tangible properties</li>
                                <li><strong>Health Insurance</strong> takes care of medical expenses following hospitalization from sudden illness or accident</li>
                                <li><strong>Personal Accident Insurance</strong> provides compensation for loss of life or injury (partial or permanent) caused by an accident including reimbursement of cost of treatment and the use of hospital facilities for the treatment</li>
                                <li><strong>Travel Insurance </strong> covers the insured against various eventualities while traveling abroad; it covers the insured against personal accident, medical expenses and repatriation, loss of checked baggage, passport etc</li>
                                <li><strong>Motor Insurance </strong> covers the act of liability as per the Motor Vehicles Act as well as insurers all liability and damage caused to one's vehicles</li>
                            </ul>

                            <h3>So, what next?</h3>
                            <div class="what_next_bttn_box clearfix">
                                <div class="what_next_bttn clearfix">
                                    <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                                </div>
                                <div class="what_next_bttn_one clearfix">
                                    <a href="mailto: eservice@XXXXXXX.XXX?subject=Enquiry from i-Plan (Protection)"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </article>
        </section>
    </section>
</section>*@


