﻿
@{
    ViewBag.Title = "i-PMS";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner">
            <div class="main_image clearfix">
                <div class="slider_text clearfix">
                    <div class="slider_text_content clearfix">
                        <h1 class="wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">No time to track your portfolio?</h1>
                        <h4 class="wow evnt_pakg fadeInUp animated" data-wow-duration="800ms" data-wow-delay="450ms">Worries about your investment positions as you are caught up with your daily business/job commitments?</h4>
                        <p class="wow evnt_pakg fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="800ms">Your Worries. Our Monitoring Solutions.</p>
                    </div>
                    <div class="slider_image_content clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="1000ms"><img src="~/Content/images/i-pms-banner-image.png" alt="i-pms-banner-image" title="i-pms-banner-image"></div>
                </div>
                <img src="~/Content/images/inner-banner-bg.jpg" alt="Inner banner bg" title="Inner banner bg">
            </div>
        </section>
        <!------------------------------ About kr choksey Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="1600ms" data-wow-delay="1100ms">
                    <h2>Portfolio Management</h2>
                </div>
                <div class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1900ms" data-wow-delay="1400ms">
                    <h3>Why do you need Portfolio Management Services (PMS)?</h3>
                    <ul>
                        <li>Provides you professional support to manage your portfolio</li>
                        <li>Ensures personalized management to generate higher returns in various investment cycles</li>
                        <li>Enhances returns through timely decision & online monitoring of portfolio</li>
                    </ul>
                    <h3>Brief details </h3>
                    <p>Active investors, Corporates, NRIs and professionals seeking to earn better ROI and ride with the India growth story can opt for our PMS services. We ensure that:</p>
                    <ul>
                        <li>Your portfolio is customised with the strategies as per your need</li>
                        <li>Your objectives to investment in equities and return expectations are primarily set</li>
                        <li>Your portfolio will be regularly tracked, monitored and reviewed reducing your attention and time to be spent on portfolio</li>
                        <li>With fast changing dynamics and business environment, we provide customer centric solutions for wealth creation</li>
                    </ul>
                    <h3>So, what next?</h3>
                    <div class="what_next_bttn_box clearfix">
                        <div class="what_next_bttn clearfix">
                            <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                        </div>
                        <div class="what_next_bttn_one clearfix">
                            <a href="mailto: service@XXXXXXX.XXX"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> service@XXXXXXX.XXX</a>
                        </div>
                        <div class="what_next_bttn_one download_bttn clearfix">
                            <a href="#"><img src="~/Content/images/download-icon.png" alt="Download icon" title="Download icon">Download</a>
                        </div>
                    </div>
                </div>

            </article>
        </section>
        <!------------------------------ Vision Section ------------------------------>

    </section>
</section>




@*<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner"><img src="~/Content/images/i-pms-banner.jpg" alt="i-pms banner" title="i-pms banner"></section>
        <!------------------------------ About kr choksey Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading">
                    <h2>Portfolio Management</h2>
                </div>
                <div class="choksey_contt_sec clearfix">
                    <h3>Why do you need Portfolio Management Services (PMS)?</h3>
                    <ul>
                        <li>Provides you professional support to manage your portfolio</li>
                        <li>Ensures personalized management to generate higher returns in various investment cycles</li>
                        <li>Enhances returns through timely decision & online monitoring of portfolio</li>
                    </ul>
                    <h3>Brief details </h3>
                    <p>Active investors, Corporates, NRIs and professionals seeking to earn better ROI and ride with the India growth story can opt for our PMS services. We ensure that:</p>
                    <ul>
                        <li>Your portfolio is customised with the strategies as per your need</li>
                        <li>Your objectives to investment in equities and return expectations are primarily set</li>
                        <li>Your portfolio will be regularly tracked, monitored and reviewed reducing your attention and time to be spent on portfolio</li>
                        <li>With fast changing dynamics and business environment, we provide customer centric solutions for wealth creation</li>
                    </ul>
                    <h3>So, what next?</h3>
                    <div class="what_next_bttn_box clearfix">
                        <div class="what_next_bttn clearfix">
                            <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                        </div>
                        <div class="what_next_bttn_one clearfix">
                            <a href="mailto: eservice@XXXXXXX.XXX?subject=Enquiry from i-PMS"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                        </div>
                    </div>
                </div>

            </article>
        </section>
        <!------------------------------ Vision Section ------------------------------>

    </section>
</section>*@

