﻿
@{
    ViewBag.Title = "Insurance";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}
<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner"><img src="~/Content/images/wealth-management-banner.jpg" alt="Wealth management banner" title="Wealth management banner"></section>
        <!------------------------------ Introduction Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <article class="inter_para_text">
                    <article class="inter_para_text_body approach clearfix">
                        <div class="heading">
                            <h2>Introduction</h2>
                        </div>
                        <div class="choksey_contt_sec">
                            <p>Kisan Ratilal Choksey is one of the India’s largest insurance broking firm licensed by IRDA to act as a broker for Life as well as Non Life insurance sector. It also serves as a distribution partner to all major insurance companies with a wide range of insurance product offering.</p>
                            <p>Kisan Ratilal Choksey believes that "Your protection is our satisfaction". We offer different kinds of insurance solutions catering to customer’s insurance needs. Our experts evaluate your specific needs and study the risk profile. Based on the results of these evaluations, our experts suggest the most cost effective, integrated insurance package that is specifically suited to your risk profile. We offer a comprehensive basket of products both in life & non-life insurance space and deliver great value to customers.</p>
                        </div>
                    </article>
                </article>
                <article class="inter_para_image">
                    <img src="~/Content/images/research-intro-image.jpg" alt="Research Introduction image" title="Research Introduction image">
                </article>
            </article>
        </section>
        <!------------------------------ Overview Section ------------------------------>
        <section id="online_trading">
            <article class="interoduction_sec_box clearfix">
                <article class="insurance_body clearfix">
                    <div class="heading">
                        <h2>Overview</h2>
                    </div>
                    <div class="choksey_contt_sec">
                        <p>Insurance is a mechanism of risk transfer and sharing by pooling of risks and funds among a group of individuals who are exposed to similar kinds of risks for the benefit of those who suffer loss on account of the risk. Insurance is, thus, a financial tool designed to protect the financial well-being of you and your dependents in the case of unexpected loss. </p>
                        <h3>Why insurance?</h3>
                        <p>Insurance is there to provide protection for yourself, your investment and your business. Disaster could take any form; car breaks down, roof leaks, a major home fire, an automobile accident that leads to a legal action and someone in the family becomes ill. Insurance gives you peace of mind and you know that if anything happens to you, your family or your business that you will be financially secure. The best course of action is to prepare for the worst and hope for the best.</p>
                        <h3>Why KRC?</h3>
                        <div class="insurance_policy clearfix">
                            <ul>
                                <li>We offer different kinds of insurance solutions catering to customer’s insurance needs</li>
                                <li>Our experts evaluate your specific needs and study the risk profile</li>
                                <li>Based on the results of these evaluations, our experts suggest the most cost effective, integrated insurance package that is specifically suited to your risk profile</li>
                                <li>Tie-ups with multiple Life & General insurance companies</li>
                            </ul>
                        </div>
                        <h3>Our Offerings </h3>
                        <p>We offer different kinds of insurance solutions catering to customer’s insurance needs</p>
                        <h3>Life Insurance Solutions</h3>
                        <p>Life Insurance, besides being a tool to protect dependents against inopportune early death of the insurer, it also acts as a means of savings for higher education of children, their marriage and old age requirements. Additionally, life insurance acts as an effective tool in tax-planning and disciplined savings.</p>
                        <h3>Term Insurance Plan</h3>
                        <p>Term insurance is a type of life insurance policy that provides coverage for a certain period of time, or a specified "term" of years. If the insured dies during the time period specified in the policy and the policy is active - or in force - then a death benefit will be paid. The premium cost is lower in younger years.</p>
                        <h3>Whole Life Insurance Plan</h3>
                        <p>Whole Life plan is also known as straight life/ ordinary life. It remains effective throughout the insured’s lifetime, provided the premiums are paid. A certain aforementioned amount is paid to the nominee in the event the insured dies. The policyholder at any time withdraws the policy or borrows against it. The maturity age for this policy is 100 years. If the insured lives past the maturity age, the policy will become matured endowment. The death benefit under this plan is tax free. Whole life insurance is indicated for individuals in a variety of situations. These situations include the need to provide dependent family members with funding after the head of a household dies; to liquidate business debts, mortgages or provide family members with funds to pay down debts; to fund requests from charities; and to ensure cash is instantly or quickly available to surviving family members.</p>
                        <h3>Endowment Insurance Plan</h3>
                        <p>Endowment plan is a type of life insurance coverage which is applicable only for specified period. Like any other Life Insurance, here also you will get assured sum after maturity and in case of death of the policy holder the nominee will be benefited by the amount. Endowment is a combination of Insurance and Savings. Endowment plans are useful in meeting special lump sum needs such as college expenses or for buying a retirement home.</p>
                        <h3>Money Back Insurance Plan</h3>
                        <p>In a money back plan, the insured person gets a percentage of sum assured at regular intervals, instead of getting the lump sum amount at the end of the term. It is an endowment plan with the benefit of liquidity. This policy is suitable for risk-averse individuals who wish to save through an insurance plan and also maintain liquidity throughout. In case of death of the insured person, the nominee gets the entire sum assured and the survival benefits are not deducted.</p>
                        <h3>General Insurance Solutions</h3>
                        <p>K R Choksey also provides a wide range of General Insurance products that suit Clients’ requirements. It offers research based advice which helps to secure and protect the assets from a calamity or disaster. The tangible assets are susceptible to damages and a need to protect the economic value of the assets is needed. For this purpose, general insurance products are bought as they provide protection against unforeseeable contingencies like damage and loss of the asset.</p>
                        <h3>Health insurance </h3>
                        <p>
                            Health is an integral part of our lives. Hence it is an imperative for individuals to protect their health and also insure it against any unforeseen situations which might incur huge medical expenses. Keeping this in mind, the Health insurance services offered at KRC are quiet in line with the decision that needs to be taken by its clients when it comes to Health/medical insurance. At KRC, a dedicated team looks after the insured’s needs and ensures that the insurance solution provided meets its requirement in an optimal manner.
                            Clients’ and their family’s need is the prime focus when it comes to offering a solution. Hence one can be assured of a suitable and convenient plan that is proposed to them.
                            This policy covers an individual or family from the expensive medical treatment in respect to critical illness or accident following hospitalization. It covers the treatment cost, boarding expenses and pre and post hospitalization expenses.
                        </p>
                        <h3>Personal accident policy</h3>
                        <p>
                            A personal accident policy is recommended to individuals not only to protect their families in the event of accidental death (which life insurance already does), but also to cover disablement, leading to loss of earning capacity, at competitive premium rates
                            This Policy offers compensation in case of death or bodily injury to the insured person directly or solely as a result of an accident by external, visible and violent means.
                        </p>
                        <h3>Group insurance policy</h3>
                        <p>This Policy is a comprehensive health package designed for individuals or a group of people to cover the medical expenses incurred by them in the event of Hospitalization. Besides the standard built-in covers, additional covers such as pre existing disease, maternity etc can be provided under Group Health Insurance. This Insurance Policy helps organizations to deal with the risk of uncertainty and the increasing threat of accidents to their employees. </p>
                        <h3>Car insurance </h3>
                        <p>A policy purchased by vehicle owners to mitigate costs associated with getting into an auto accident. Instead of paying out of pocket for auto accidents, people pay annual premiums to an auto insurance company; the company then pays all or most of the costs associated with an auto accident or other vehicle damage. This insurance covers for the loss or damage caused to the automobile or its parts due to natural and man-made calamities. It provides accident cover for individual owners of the vehicle while driving and also for passengers and third party legal liability.</p>
                        <h3>Fire insurance policy</h3>
                        <p>Fire insurance is a contract under which the insurer in return for a consideration (premium) agrees to indemnify the insured for the financial loss which the latter may suffer due to destruction of or damage to property or goods, caused by fire, during a specified period.</p>
                        <h3>Travel insurance policy</h3>
                        <p>Travel insurance is insurance that is intended to cover medical expenses, trip cancellation, lost luggage, flight accident and other losses incurred while travelling, either internationally or within one's own country.</p>
                        <h3>Features</h3>
                        <div class="mutual_funds clearfix">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" valign="middle" class="mutual_heading" width="25%">
                                        <p>Achieve Financial Goals</p>
                                    </td>
                                    <td align="center" valign="middle" class="mutual_heading" width="25%">
                                        <p>Provide Protection</p>
                                    </td>
                                    <td align="center" valign="middle" class="mutual_heading" width="25%">
                                        <p>Savings with Protection</p>
                                    </td>
                                    <td align="center" valign="middle" class="mutual_heading" width="25%">
                                        <p>Children’s Future</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" width="25%"><img src="~/Content/images/insurance-goals.png" alt="Insurance goals" title="Insurance goals"></td>
                                    <td align="center" valign="middle" width="25%"><img src="~/Content/images/provided-protection-icon.png" alt="Provided protection Icon" title="Provided protection Icon"></td>
                                    <td align="center" valign="middle" width="25%"><img src="~/Content/images/saving-protection-icon.png" alt="Saving protection Icon" title="Saving protection Icon"></td>
                                    <td align="center" valign="middle" width="25%"><img src="~/Content/images/childrens-future-icon.png" alt="Childrens future Icon" title="Childrens future Icon"></td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" width="25%">
                                        <p>You can achieve financial goal like Retirement Planning, Child Education, Loan Security, Wealth Creation, Single Premium, and Tax Savings</p>
                                    </td>
                                    <td align="center" valign="middle" width="25%">
                                        <p>Secure your family’s future in this increasingly uncertain world and don’t leave their dreams to fate.</p>
                                    </td>
                                    <td align="center" valign="middle" width="25%">
                                        <p>Strike the right balance between living comfortably today and staying financially secure in the future with small disciplined savings at regular intervals.</p>
                                    </td>
                                    <td align="center" valign="middle" width="25%">
                                        <p>Give your child the freedom to pursue his/her real passion by ensuring that you give him the right financial support</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" width="25%" class="mutual_heading">
                                        <p>Retirement Planning</p>
                                    </td>
                                    <td align="center" valign="middle" width="25%" class="mutual_heading">
                                        <p>Health & Wellness</p>
                                    </td>
                                    <td align="center" valign="middle" width="25%" class="mutual_heading">
                                        <p>Wealth With Protection</p>
                                    </td>
                                    <td align="center" valign="middle" width="25%" class="mutual_heading">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" width="25%"><img src="~/Content/images/retirement-planning-icon.png" alt="Retirement planning icon" title="Retirement planning icon"></td>
                                    <td align="center" valign="middle" width="25%"><img src="~/Content/images/health-wellness-icon.png" alt="Health wellness Icon" title="Health wellness Icon"></td>
                                    <td align="center" valign="middle" width="25%"><img src="~/Content/images/wealth-with-protection-icon.png" alt="Wealth protection Icon" title="Wealth protection Icon"></td>
                                    <td align="center" valign="middle" width="25%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" width="25%">
                                        <p>Plan your retirement well to build a good corpus because during retired life, income stops but expenses don’t.</p>
                                    </td>
                                    <td align="center" valign="middle" width="25%">
                                        <p>Plan and ensure that you spend time with your loved ones when they need you the most rather than worrying about medical expenses.</p>
                                    </td>
                                    <td align="center" valign="middle" width="25%">
                                        <p>Secure your family’s dreams and live through life’s highs and lows with confidence while you reach your financial milestones as planned.</p>
                                    </td>
                                    <td align="center" valign="middle" width="25%">&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </article>
            </article>
        </section>
        <!------------------------------ Our Approach ------------------------------>
        <section id="online_trading">
            <article class="interoduction_sec_box clearfix">
                <article class="insurance_body clearfix">
                    <div class="heading">
                        <h2>Our Approach</h2>
                    </div>
                    <div class="choksey_contt_sec">
                        <p>Our approach is all about taking precautions to reduce the risk of loss and make savings on insurance premiums. We assist you in identifying risks by analyzing the causes and thereby, help you to adopt appropriate risk management procedures and systems to reduce the risks. </p>
                        <p>We, at KRC, believe in structured insurance settlement. We help our clients with complete end-to-end services starting from notification of claim to investigation /survey to negotiations, till the final settlement.</p>
                        <p>We have developed a Standard Operating Procedure to deal with claims. It includes prompt filing of claim and investigation, interaction with surveyor for survey of loss, assessment of loss, finalization of report and early issuance of report to insurance company followed by quick and cost-effective settlement.</p>
                        <h3>Life and non life insurance</h3>
                        <div class="insurance_policy clearfix">
                            <ul>
                                <li>We offer you both, life and non life policies. We first rationalize the existing covers, and only then suggest package policies</li>
                                <li>Design comprehensive insurance programs such that our clients get the maximum protection for their assets and from their liabilities</li>
                                <li>Invite quotations from Insurance companies</li>
                                <li>Compile all the required information for sourcing appropriate insurance quotes</li>
                                <li>Evaluate quotations received, in order to arrive at the most appropriate cover and best rate</li>
                                <li>Negotiate with insurance companies for optimum premium</li>
                                <li>Complete all formalities and procedures for issuance of the insurance policy</li>
                            </ul>
                        </div>
                        <h3>Risk management</h3>
                        <div class="insurance_policy clearfix">
                            <ul>
                                <li>Firstly, we try to understand client business/ projects by collecting details, to identify the risks and exposures associated with them</li>
                                <li>Visit their plant site (if required) for a physical risk inspection, to get to know the process and hazards associated with them</li>
                                <li>Suggest you appropriate insurance solutions and loss minimization measures after assessing the risks</li>
                                <li>Assist you in choosing the insurance company for placing insurable risk</li>
                            </ul>
                        </div>
                        <h3>Claim settlement</h3>
                        <div class="insurance_policy clearfix">
                            <ul>
                                <li>Assist in handling claims, including negotiations with surveyors and insurer</li>
                                <li>We expedite the claim settlement on behalf of the insured</li>
                                <li>Maintain a proper record of transactions and timely renewal reminders</li>
                            </ul>
                        </div>
                        <h3>Policy reviewing</h3>
                        <div class="insurance_policy clearfix">
                            <ul>
                                <li>We review from time to time, various ongoing policies</li>
                                <li>Verify the policy wordings and figures with the requirements</li>
                                <li>Auditing the policy wordings and gap analysis</li>
                                <li>Amend polices if needed</li>
                            </ul>
                        </div>
                        <h3>Procedures of Claim Settlement</h3>
                        <div class="insurance_policy clearfix">
                            <ul>
                                <li>Registration of claims with insurance companies, whenever claims are reported to us</li>
                                <li>Follow up with insurance companies for deputation of surveyor for survey and assessment of loss</li>
                                <li>Assisting the insured in compiling the documents to be provided to the surveyor</li>
                                <li>Follow up with the surveyor for speedy submission of surveyor report to insurance companies</li>
                                <li>Assisting the insured in complying with queries, if any, from the surveyor/insurance companies</li>
                                <li>Follow up with the insurance companies for fast settlement of the claims</li>
                                <li>Settlement of Claim</li>
                            </ul>
                        </div>
                        <h3>Value addition for our customers</h3>
                        <div class="insurance_policy clearfix">
                            <ul>
                                <li>Comprehensive Risk Portfolio Management including identification, measurement, assessment and handling of the risk, of which insurance is an integral part</li>
                                <li>Designing of customized and qualitative insurance programme</li>
                                <li>Offer of choices while recommending suitable insurance policies </li>
                                <li>Assistance in deciding sum insured to avoid under-insurance</li>
                                <li>Due to our volume of business, knowledge of market and expertise, we are able to obtain the best possible premium rates</li>
                                <li>Selection of Policy wording and clauses where choice is available</li>
                                <li>Assistance in processing of claims to obtain fair and prompt settlement from Insurance Companies</li>
                                <li>Extensive rapport and liaison with insurance companies</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </article>
        </section>
        <!------------------------------ calculator portfolio  ------------------------------>
        <section id="calculator_portfolio">
            <article class="container">
                <article class="row">
                    <article class="portfolio_sec clearfix">
                        <div class="choksey_contt_sec clearfix">
                            <div class="portfolio_box clearfix">
                                <div class="request_back_sec clearfix">
                                    <div class="request_bttn">
                                        <a href="#">Request Call Back</a>
                                    </div>
                                    <div class="number_box">
                                        <input type="text" class="newsletter_input" value="" placeholder="Enter 10 Digit Mobile no" />
                                    </div>
                                </div>
                                <p><span>Our Relationship Managers shall connect back within 12 hours</span></p>
                            </div>
                            <div class="form_box_sec clearfix">
                                <div class="right_away_box clearfix">
                                    <h3>Get in touch <span>with us right away</span></h3>
                                    <h2>999 999 9999</h2>
                                </div>
                                <div class="right_away_box_area clearfix">
                                    <h3>Interested, send me more details</h3>
                                    <form class="contact_page2" method="post" action="">
                                        <div class="field_box clearfix">
                                            <div class="field_box_area clearfix">
                                                <input type="text" placeholder="Your Number" value="" />
                                            </div>
                                            <div class="field_box_area clearfix">
                                                <input type="text" placeholder="Phone Number" value="" />
                                            </div>
                                            <div class="field_box_area clearfix">
                                                <input type="text" placeholder="Email Address" value="" />
                                            </div>
                                        </div>
                                        <div class="field_box clearfix">
                                            <textarea name="Message" cols="" rows="" placeholder="Message"></textarea>
                                        </div>
                                        <div class="little_contt_section clearfix">
                                            <input value="submit" type="submit">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </article>

                </article>
            </article>
        </section>
    </section>
</section>

