﻿@{
    ViewBag.Title = "Online trading";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
    <section id="inner_banner">
        <div class="main_image clearfix">
            <div class="slider_text clearfix">
                <div class="slider_text_content clearfix">
                    <h1 class="wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">Lightning fast terminal.</h1>
                    <h4 class="wow evnt_pakg fadeInUp animated" data-wow-duration="800ms" data-wow-delay="450ms">Trade online and enhance your returns.</h4>
                    <p class="wow evnt_pakg fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="800ms">Your desire. Our solutions.</p>
                </div>
                <div class="slider_image_content clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="1000ms"><img src="~/Content/images/online-trading-banner-image.png" alt="images/online-trading-banner" title="images/online-trading-banner"></div>
            </div>
            <img src="~/Content/images/inner-banner-bg.jpg" alt="Inner banner bg" title="Inner banner bg">
        </div>
    </section>
    <section id="interoduction_sec">
        <article class="interoduction_sec_box clearfix">
            <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="1600ms" data-wow-delay="1100ms">
                <h2>Online trading</h2>
            </div>
            <div class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1900ms" data-wow-delay="1400ms">
                <h3>Why online trading?</h3>
                <p>Our User-friendly Online Trading portal helps investors to buy and sell their trades online using the online platform. </p>
                <h3>Brief details</h3>
                <ul>
                    <li>Get real-time prices for NSE & BSE, Cash and F&O </li>
                    <li>Live market watch with customizable overviews</li>
                    <li>Live tic by tic charting facilities</li>
                    <li>More than 30 Technical Indicators</li>
                    <li>Pre-defined as well as customizable market alert tools</li>
                    <li>Integrated trading window for lightning fast order entry</li>
                </ul>
                <h3>So, what next?</h3>
                <div class="what_next_bttn_box clearfix">
                    <div class="what_next_bttn clearfix">
                        <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                    </div>
                    <div class="what_next_bttn_one clearfix">
                        <a href="mailto: service@XXXXXXX.XXX"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> service@XXXXXXX.XXX</a>
                    </div>
                </div>
                <h3>Trade NOW With our Online Trading Terminals</h3>
                <div class="deposite_sec  clearfix">
                    <ul>
                        <li class="no_choksey_bg"><a href="https://online.krctrades.com/">Trade Fast</a></li>
                        <li class="no_choksey_bg"><a href="https://www.nowonline.in/">Trade Now</a></li>
                        <li class="no_choksey_bg"><a href="https://www.krctrades.com/">Trade Net</a></li>
                    </ul>
                </div>
            </div>
        </article>
    </section>
</section>



@*<section id="mid_body">
        <section id="inner_page">
            <!------------------------------ Banner ------------------------------>
            <section id="inner_banner"><img src="~/Content/images/online-trading-banner.jpg" alt="Online trading banner" title="Online trading banner"></section>
            <!------------------------------ About kr choksey Section ------------------------------>
            <section id="interoduction_sec">
                <article class="interoduction_sec_box clearfix">
                    <div class="heading">
                        <h2>Online trading</h2>
                    </div>
                    <div class="choksey_contt_sec clearfix">
                        <h3>Why online trading?</h3>
                        <p>Our User-friendly Online Trading portal helps investors to buy and sell their trades online using the online platform. </p>
                        <h3>Brief details</h3>
                        <ul>
                            <li>Get real-time prices for NSE & BSE, Cash and F&O </li>
                            <li>Live market watch with customizable overviews</li>
                            <li>Live tic by tic charting facilities</li>
                            <li>More than 30 Technical Indicators</li>
                            <li>Pre-defined as well as customizable market alert tools</li>
                            <li>Integrated trading window for lightning fast order entry</li>
                        </ul>
                        <h3>So, what next?</h3>
                        <div class="what_next_bttn_box clearfix">
                            <div class="what_next_bttn clearfix">
                                <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                            </div>
                            <div class="what_next_bttn_one clearfix">
                                <a href="mailto: eservice@XXXXXXX.XXX?subject=Enquiry from Online Trading"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                            </div>
                        </div>
                        <h3>Trade NOW With our Online Trading Terminals</h3>
                        <div class="deposite_sec  clearfix">
                            <ul>
                                <li class="no_choksey_bg"><a href="https://online.krctrades.com/">Trade Fast</a></li>
                                <li class="no_choksey_bg"><a href="https://www.nowonline.in/">Trade Now</a></li>
                                <li class="no_choksey_bg"><a href="https://www.krctrades.com/">Trade Net</a></li>
                            </ul>
                        </div>

                    </div>
                </article>
            </section>
        </section>
    </section>*@





