﻿@{
    ViewBag.Title = "Research";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}


<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner">
            <div class="main_image clearfix">
                <div class="slider_text clearfix">
                    <div class="slider_text_content clearfix">
                        <h1 class="wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">Research-driven approach. Conviction. Real-time news updates and notifications. </h1>
                        <h4 class="wow evnt_pakg fadeInUp animated" data-wow-duration="800ms" data-wow-delay="450ms">Looking forward to understand a company’s business fundamentals and technical charts?</h4>
                        <p class="wow evnt_pakg fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="800ms">Your queries. Our analysis. </p>
                    </div>
                    <div class="slider_image_content clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="1000ms"><img src="~/Content/images/research-banner-image.png" alt="research-banner-image" title="research-banner-image"></div>
                </div>
                <img src="~/Content/images/inner-banner-bg.jpg" alt="Inner banner bg" title="Inner banner bg">
            </div>
        </section>
        <!------------------------------ Why KRChoksey Research Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="1600ms" data-wow-delay="1100ms">
                    <h2>Research</h2>
                </div>
                <div class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1900ms" data-wow-delay="1400ms">
                    <h3>Why KRChoksey Research?</h3>
                    <p>Research being our core strength, a dedicated research team is available to provide clients with both fundamental as well as technical research. We identify the potential growth in a company and the right value you pay for it. Till date we have identified over 66 companies across small, mid and large cap and identified the valuations for efficient investing. </p>
                    <p>The team is actively covered in leading local and international newspapers, news channels as well as newswires/magazines and covers more than two-thirds of the total BSE market float. </p>
                    <h3>Brief details</h3>
                    <h4>Fundamental research</h4>
                    <p>Focus on high growth, undervalued companies with an aim of wealth creation Research products include:</p>
                    <div class="research_box clearfix">
                        <div class="research_box_individual clearfix">
                            <ul>
                                <li>Coverage of 66 companies</li>
                                <li>9 report types</li>
                            </ul>
                        </div>

                    </div>
                    <h3>Technical Research</h3>
                    <p>Focuses on forecasting the probable future price movements based on an examination of past price movements to anticipate “likely” to happen prices over time. Technical analysis is applicable to stocks, indices, commodities, futures or any tradable instrument where the price is influenced by the forces of supply and demand.</p>
                    <h4>Technical Analysis syndrome, a complex psychic</h4>
                    <ul>
                        <li>Technical analysis is based on the belief that past market trends can predict the future behaviour for the market and for individual stocks</li>
                        <li>Uses the charts to identify trends and changes in those trends</li>
                        <li>Demand & Supply scenario plays crucial role in the analysis</li>
                        <li>Prices move in trends and usually follow known patterns</li>
                    </ul>
                    <h4>Meets the expectations!!!!!</h4>
                    <ul>
                        <li>If an investor can correctly interpret a chart's "message" and predict a stock's movement, he or she can make good amount of money</li>
                        <li>Combining technical and fundamental analysis is the best way to evaluate entry points and exit, even for long term investment</li>
                    </ul>
                    <h4>Our offerings include:</h4>
                    <ul>
                        <li>Reports (derivative, index & cash stocks)</li>
                        <li>Stocks Recommendation</li>
                        <li>Technical Trading</li>
                        <li>PMS - technical</li>
                    </ul>
                    <h3>So, what next?</h3>
                    <div class="what_next_bttn_box clearfix">
                        <div class="what_next_bttn clearfix">
                            <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                        </div>
                        <div class="what_next_bttn_one clearfix">
                            <a href="mailto: service@XXXXXXX.XXX"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> service@XXXXXXX.XXX</a>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </section>

</section>


@*<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner"><img src="~/Content/images/research-banner.jpg" alt="Research banner" title="Research banner"></section>
        <!------------------------------ Why KRChoksey Research Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading">
                    <h2>Research</h2>
                </div>
                <div class="choksey_contt_sec clearfix">
                    <h3>Why KRChoksey Research?</h3>
                    <p>Research being our core strength, a dedicated research team is available to provide clients with both fundamental as well as technical research. We identify the potential growth in a company and the right value you pay for it. Till date we have identified over 66 companies across small, mid and large cap and identified the valuations for efficient investing. </p>
                    <p>The team is actively covered in leading local and international newspapers, news channels as well as newswires/magazines and covers more than two-thirds of the total BSE market float. </p>
                    <h3>Brief details</h3>
                    <h4>Fundamental research</h4>
                    <p>Focus on high growth, undervalued companies with an aim of wealth creation Research products include:</p>
                    <div class="research_box clearfix">
                        <div class="research_box_individual clearfix">
                            <ul>
                                <li>Coverage of 66 companies</li>
                                <li>9 report types</li>
                            </ul>
                        </div>
                    </div>
                    <h3>Technical Research</h3>
                    <p>Focuses on forecasting the probable future price movements based on an examination of past price movements to anticipate “likely” to happen prices over time. Technical analysis is applicable to stocks, indices, commodities, futures or any tradable instrument where the price is influenced by the forces of supply and demand.</p>
                    <h4>Technical Analysis syndrome, a complex psychic</h4>
                    <ul>
                        <li>Technical analysis is based on the belief that past market trends can predict the future behaviour for the market and for individual stocks</li>
                        <li>Uses the charts to identify trends and changes in those trends</li>
                        <li>Demand & Supply scenario plays crucial role in the analysis</li>
                        <li>Prices move in trends and usually follow known patterns</li>
                    </ul>
                    <h4>Meets the expectations!!!!!</h4>
                    <ul>
                        <li>If an investor can correctly interpret a chart's "message" and predict a stock's movement, he or she can make good amount of money</li>
                        <li>Combining technical and fundamental analysis is the best way to evaluate entry points and exit, even for long term investment</li>
                    </ul>
                    <h4>Our offerings include:</h4>
                    <ul>
                        <li>Reports (derivative, index & cash stocks)</li>
                        <li>Stocks Recommendation</li>
                        <li>Technical Trading</li>
                        <li>PMS - technical</li>
                    </ul>
                    <h3>So, what next?</h3>
                    <div class="what_next_bttn_box clearfix">
                        <div class="what_next_bttn clearfix">
                            <a href="tel:+912266965513"><img src="~/Content/images/call-icon.png" alt="Call icon" title="Call icon">+91 22 6696 5513</a>
                        </div>
                        <div class="what_next_bttn_one clearfix">
                            <a href="mailto: eservice@XXXXXXX.XXX?subject=Enquiry from Research"><img src="~/Content/images/mail-icon.png" alt="Mail icon" title="Mail icon"> eservice@XXXXXXX.XXX</a>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </section>
</section>*@


