﻿
@{
    ViewBag.Title = "Subscribe";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner"><img src="~/Content/images/wealth-management-banner.jpg" alt="Wealth management banner" title="Wealth management banner"></section>
        <!------------------------------ Subscribe Report------------------------------>
        <section id="online_trading">
            <article class="interoduction_sec_box clearfix">
                <article class="insurance_body clearfix">
                    <div class="heading">
                        <h2>Subscribe Report</h2>
                    </div>
                    <article class="choksey_contt_sec clearfix">
                        <div class="mutual_funds mutual_funds_box clearfix">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td colspan="3" align="center" valign="middle" class="mutual_heading">
                                        <p>KRC SMS Blasters</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" width="33%">
                                        <p>Short Term SMS Calls</p>
                                    </td>
                                    <td align="center" valign="middle" width="33%">
                                        <p>KRC Blasters </p>
                                    </td>
                                    <td align="center" valign="middle" width="33%">
                                        <p><span><a href="krc-blasters.html" target="_blank">Instant Information and informed ideas provided to you on the move SMS Alerts with daily 2-4 intraday/intraweek calls.</a></span></p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="mutual_funds mutual_funds_box clearfix">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td colspan="3" align="center" valign="middle" class="mutual_heading">
                                        <p>KRC Research Reports</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" width="33%">
                                        <p>Short Term & Medium Term Reports</p>
                                    </td>
                                    <td align="center" valign="middle" width="33%">
                                        <p>Daily  & Weekly Technicals</p>
                                    </td>
                                    <td align="center" valign="middle" width="33%">
                                        <p><span><a href="daily-technicals.html" target="_blank">Post-market analysis with Technical Calls ,Weekly Technicals provides view of market on weekly basis with an action guide charted for the Week </a></span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" width="33%">
                                        <p>Long Term Reports</p>
                                    </td>
                                    <td align="center" valign="middle" width="33%">
                                        <p>KRC Equity Research</p>
                                    </td>
                                    <td align="center" valign="middle" width="33%">
                                        <p><span><a href="equity-research.html" target="_blank">A daily corporate analysis report. </a></span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" width="33%">
                                        <p>Derivatives Market Reports</p>
                                    </td>
                                    <td align="center" valign="middle" width="33%">
                                        <p>Derivative Strategy on F&O</p>
                                    </td>
                                    <td align="center" valign="middle" width="33%">
                                        <p><span><a href="#">Daily Guide for taking the right position in Futures & Options</a></span></p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="mutual_funds mutual_funds_box clearfix">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" valign="middle" class="mutual_heading">
                                        <p>Pick any one or multiple from Below</p>
                                    </td>
                                    <td align="center" valign="middle" class="mutual_heading">
                                        <p>Subscription Charges</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" class="mutual_sub_heading">
                                        <p><span>Report Subscription</span></p>
                                    </td>
                                    <td align="center" valign="middle" class="mutual_sub_heading">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" valign="middle" width="25%" style="border-bottom:none;border-top:none;">
                                                    <p><span>Monthly</span></p>
                                                </td>
                                                <td align="center" valign="middle" width="25%" style="border-bottom:none;border-top:none;">
                                                    <p><span>Quarterly</span></p>
                                                </td>
                                                <td align="center" valign="middle" width="25%" style="border-bottom:none;border-top:none;">
                                                    <p><span>Half Yearly</span></p>
                                                </td>
                                                <td align="center" valign="middle" width="25%" style="border-bottom:none;border-top:none;">
                                                    <p><span>Yearly</span></p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle">
                                        <p>Equity Research - via Email</p>
                                    </td>
                                    <td align="center" valign="middle" style="padding:0px;" class="mutual_para_one">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p><span>900</span></p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p><strong>1500</strong></p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p><strong>2400</strong></p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px; border:none;" width="25%">
                                                    <p><strong>4000</strong></p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle">
                                        <p>Daily & Weekly Technicals - via Email</p>
                                    </td>
                                    <td align="center" valign="middle" style="padding:0px;" class="mutual_para_one">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p>900</p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p><strong>1500</strong></p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p><strong>3000</strong></p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px; border:none;" width="25%">
                                                    <p><strong>4000</strong></p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle">
                                        <p>Derivative Research - via Email</p>
                                    </td>
                                    <td align="center" valign="middle" style="padding:0px;" class="mutual_para_one">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p>900</p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p><strong>1500</strong></p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p><strong>2400</strong></p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px; border:none;" width="25%">
                                                    <p><strong>4000</strong></p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" class="mutual_sub_heading">
                                        <p><span>SMS Subscription</span></p>
                                    </td>
                                    <td align="center" valign="middle" class="mutual_sub_heading">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" valign="middle" width="25%" style="border-bottom:none;border-top:none;">
                                                    <p><span>Monthly</span></p>
                                                </td>
                                                <td align="center" valign="middle" width="25%" style="border-bottom:none;border-top:none;">
                                                    <p><span>Quarterly</span></p>
                                                </td>
                                                <td align="center" valign="middle" width="25%" style="border-bottom:none;border-top:none;">
                                                    <p><span>Half Yearly</span></p>
                                                </td>
                                                <td align="center" valign="middle" width="25%" style="border-bottom:none;border-top:none;">
                                                    <p><span>Yearly</span></p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle">
                                        <p>Blasters - via SMS for Equity & Derivatives Trading Calls</p>
                                    </td>
                                    <td align="center" valign="middle" style="padding:0px;" class="mutual_para_one">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p>750</p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p>2200</p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p><strong>3000</strong></p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px; border:none;" width="25%">
                                                    <p><strong>5000</strong></p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" class="mutual_sub_heading">
                                        <p><span>Combo Offers</span></p>
                                    </td>
                                    <td align="center" valign="middle" class="mutual_sub_heading">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" valign="middle" width="25%" style="border-bottom:none;border-top:none;">
                                                    <p><span>Monthly</span></p>
                                                </td>
                                                <td align="center" valign="middle" width="25%" style="border-bottom:none;border-top:none;">
                                                    <p><span>Quarterly</span></p>
                                                </td>
                                                <td align="center" valign="middle" width="25%" style="border-bottom:none;border-top:none;">
                                                    <p><span>Half Yearly</span></p>
                                                </td>
                                                <td align="center" valign="middle" width="25%" style="border-bottom:none;border-top:none;">
                                                    <p><span>Yearly</span></p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" valign="middle" width="20%" class="mutual_para">
                                                    <p>All Reports</p>
                                                </td>
                                                <td align="center" valign="middle" style="border:none;" width="80%">
                                                    <p>Reports ( Equity Research, Daily & Weekly Technicals & Derivatives Research)</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="center" valign="middle" style="padding:0px;" class="mutual_para_one">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p>2700</p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p>3700</p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p>7500</p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px; border:none;" width="25%">
                                                    <p>10500</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" valign="middle" width="20%" class="mutual_para">
                                                    <p>Basic </p>
                                                </td>
                                                <td align="center" valign="middle" style="border:none;" width="80%">
                                                    <p>Any 1 report + SMS</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="center" valign="middle" style="padding:0px;" class="mutual_para_one">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p>2200</p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p>4500</p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p>6000</p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px; border:none;" width="25%">
                                                    <p>10500</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" valign="middle" width="20%" class="mutual_para">
                                                    <p>Premium </p>
                                                </td>
                                                <td align="center" valign="middle" style="border:none;" width="80%">
                                                    <p>Any 2 reports + SMS</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="center" valign="middle" style="padding:0px;" class="mutual_para_one">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p>2500</p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p>6000</p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p>9000</p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px; border:none;" width="25%">
                                                    <p>12000</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" valign="middle" width="20%" class="mutual_para">
                                                    <p>Platinum  </p>
                                                </td>
                                                <td align="center" valign="middle" style="border:none;" width="80%">
                                                    <p>All Reports + SMS</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="center" valign="middle" style="padding:0px;" class="mutual_para_one">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p>3400</p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p>7500</p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px;" class="mutual_para" width="25%">
                                                    <p><strong>10500</strong></p>
                                                </td>
                                                <td align="center" valign="middle" style="padding:0px; border:none;" width="25%">
                                                    <p><strong>12500</strong></p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </article>
                </article>
            </article>
        </section>
    </section>
</section>

