﻿
@{
    ViewBag.Title = "Equity Research";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner"><img src="~/Content/images/wealth-management-banner.jpg" alt="Wealth management banner" title="Wealth management banner"></section>
        <!------------------------------ Subscribe Report------------------------------>
        <section id="online_trading">
            <article class="interoduction_sec_box clearfix">
                <article class="insurance_body clearfix">
                    <div class="heading">
                        <h2>KRC Equity Research</h2>
                    </div>
                    <article class="choksey_contt_sec clearfix">
                        <p>A KRC Research Divsion product, KRC Equity Research is a daily corporate analysis report providing cutting-edge information with unique analytical points that delves into the hidden and obvious significance of corporate developments and breakthroughs in the market. The immediacy of the analysis helps the investor client to place the impact of a particular development in the market and help them make informed investment decisions. Clients can accrue of this on paid subscription.</p>
                        <table width="50%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" valign="middle">
                                    <p><span><a href="http://www.krchoksey.com/ekrc/common/Sample_Rep/gm/1.htm">View Sample Report</a></span></p>
                                </td>
                                <td align="center" valign="middle">
                                    <p><span><a href="@Url.Action("Research_Subscribe", "Product")">Subscribe</a></span></p>
                                </td>
                            </tr>
                        </table>
                    </article>
                </article>
            </article>
        </section>
    </section>
</section>

