﻿
@{
    ViewBag.Title = "Technicals";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner"><img src="~/Content/images/wealth-management-banner.jpg" alt="Wealth management banner" title="Wealth management banner"></section>
        <!------------------------------ Subscribe Report------------------------------>
        <section id="online_trading">
            <article class="interoduction_sec_box clearfix">
                <article class="insurance_body clearfix">
                    <div class="heading">
                        <h2>Daily Technicals</h2>
                    </div>
                    <article class="choksey_contt_sec clearfix">
                        <p>KRC Daily Technicals provides our Investor Client view of market on preopening market with an action guide charted for the next day of trading.</p>
                        <div class="insurance_policy clearfix">
                            <ul>
                                <li>Technical calls for short term</li>
                                <li>1 Positional Call - (1-2 Weeks)</li>
                                <li>Intraday Trading Levels - Nifty 50 Stocks1</li>
                            </ul>
                        </div>
                        <p><span>To View Our Past Perfomance <a href="http://www.krchoksey.com/ekrc/content/sreports/Daily%20Technical%20Performance%20Report.pdf">Click Here</a></span></p>
                    </article>
                </article>
            </article>
        </section>

    </section>
</section>

