﻿
@{
    ViewBag.Title = "Strategy";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner"><img src="~/Content/images/wealth-management-banner.jpg" alt="Wealth management banner" title="Wealth management banner"></section>
        <!------------------------------ Subscribe Report------------------------------>
        <section id="online_trading">
            <article class="interoduction_sec_box clearfix">
                <article class="insurance_body clearfix">
                    <div class="heading">
                        <h2>Derivative Strategy On Futures</h2>
                    </div>
                    <article class="choksey_contt_sec clearfix">
                        <p>A Derivatives Division product, the Daily Guide on Futures provides the stock position to be taken in the Derivatives Market supplemented with critical strategic guidance for stop loss and profit booking for short to medium term investment. The report is customized to the client's risk profile. Clients can accrue of this product on paid subscription</p>
                        <div class="insurance_policy clearfix">
                            <ul>
                                <li>Daily Recommendation for Stock Futures</li>
                            </ul>
                        </div>
                        <p><span><a href="@Url.Action("Research_Subscribe", "Product")">Subscribe</a></span></p>
                    </article>
                </article>
            </article>
        </section>
    </section>
</section>

