﻿
@{
    ViewBag.Title = "Shares";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}
<section id="mid_body">
    <section id="inner_page">
        <!------------------------------ Banner ------------------------------>
        <section id="inner_banner"><img src="~/Content/images/wealth-management-banner.jpg" alt="Wealth management banner" title="Wealth management banner"></section>
        <!------------------------------ Introduction Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <article class="inter_para_text">
                    <article class="inter_para_text_body clearfix">
                        <div class="heading">
                            <h2>Introduction</h2>
                        </div>
                        <div class="choksey_contt_sec">
                            <p>In today's financial marketplace, A well-maintained portfolio is vital to any investor's success. As an individual or a corporate investor, one needs to know how to determine an asset allocation that best conforms to your investment goals and strategies. In other words, your portfolio should meet your future needs for capital and give you peace of mind. Investors can construct portfolios aligned to their goals and investment strategies by following a systematic approach.</p>
                        </div>
                    </article>
                </article>
                <article class="inter_para_image">
                    <img src="../Content/images/introduction-image.jpg" alt="introduction-image" title="introduction-image">
                </article>
            </article>
        </section>
        <!------------------------------ Approach Section  ------------------------------>
        <section id="apprtoach_sec">
            <article class="interoduction_sec_box clearfix">
                <article class="inter_para_image_one">
                    <img src="../Content/images/approach-image.jpg" alt="Approach-image" title="Approach-image">
                </article>
                <article class="inter_para_text_one">
                    <article class="inter_para_text_body_one clearfix">
                        <div class="heading">
                            <h2>Our Approach</h2>
                        </div>
                        <div class="choksey_contt_sec">
                            <p>Key part of managing wealth is getting the right investment advice. We at KRChoksey keep our clients at the centre and we plan and allocate wealth as per your needs</p>
                            <p>We follow a total coordinated wealth management strategy that helps addressing the financial concerns at each stage of life.</p>
                            <ul>
                                <li>Long term short term goals</li>
                                <li>Planning your business Tax Planning</li>
                                <li>Corporate Goals</li>
                                <li>Marriage Plans Child Education</li>
                                <li>Retirement planning</li>
                                <li>Savings tools</li>
                            </ul>
                        </div>
                    </article>
                </article>
            </article>
        </section>
        <!------------------------------ We follow  ------------------------------>
        <section id="we_follow">
            <article class="we_follow_heading clearfix">
                <h2>Steps <span>We follow</span></h2>
            </article>
            <article class="choksey_contt_sec clearfix">
                <article class="container">
                    <article class="row">
                        <article class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="single-effect">
                                <figure class="wpf-demo-6">
                                    <div class="stratedgy_box clearfix">
                                        <div class="icon_part"><img src="../Content/images/strategy-objective-icon.png" alt="Kr Choksey Image" title="Kr Choksey Image"></div>
                                        <div class="objectives_box clearfix">
                                            <div class="heading">
                                                <h4>Strategy Objective</h4>
                                            </div>
                                            <div class="choksey_contt_section">
                                                <ul>
                                                    <li> Active portfolio management</li>
                                                    <li> Long term capital gains via investments majorly in large-caps</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <figcaption class="view-caption">
                                        <div id="scrollbar3">
                                            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                                            <div class="viewport">
                                                <div class="overview">
                                                    <h4>Strategy Objective</h4>
                                                    <ul>
                                                        <li> Active portfolio management</li>
                                                        <li> Long term capital gains via investments majorly in large-caps</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </article>
                        <article class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="single-effect">
                                <figure class="wpf-demo-6">
                                    <div class="stratedgy_box clearfix">
                                        <div class="icon_part"><img src="../Content/images/construct-icon.png" alt="construct Image" title="construct Image"></div>
                                        <div class="objectives_box clearfix">
                                            <div class="heading">
                                                <h4>Strategy Construct </h4>
                                            </div>
                                            <div class="choksey_contt_section">
                                                <p>
                                                    Number of Stocks: 15-20 stocks for a portfolio
                                                    Scrip and sector allocation limit: >= 10% for stocks and >=20% for sectors
                                                    Weight allocation:  >Rs 25000 Cr market cap 65-70% <rs 25000 cr market
                                                                                                           cap 30-35%>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <figcaption class="view-caption">
                                        <div id="scrollbar3">
                                            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                                            <div class="viewport">
                                                <div class="overview">
                                                    <h4>Strategy Objective</h4>
                                                    <p>
                                                        Number of Stocks: 15-20 stocks for a portfolio
                                                        Scrip and sector allocation limit: >= 10% for stocks and >=20% for sectors
                                                        Weight allocation:  >Rs 25000 Cr market cap 65-70% <rs 25000 cr market
                                                                                                               cap 30-35%>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </article>
                        <article class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="single-effect">
                                <figure class="wpf-demo-6">
                                    <div class="stratedgy_box clearfix">
                                        <div class="icon_part"><img src="../Content/images/investment-icon.png" alt="investment-icon" title="investment-icon"></div>
                                        <div class="objectives_box clearfix">
                                            <div class="heading">
                                                <h4>Investment strategy</h4>
                                            </div>
                                            <div class="choksey_contt_section">
                                                <ul>
                                                    <li>Wealth Creation: 70% large cap holdings and balance in mid-caps</li>
                                                    <li> Value investment with focus on low valuations and high earnings potential companies</li>
                                                    <li>Time horizon: 3-5 years</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <figcaption class="view-caption">
                                        <div id="scrollbar3">
                                            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                                            <div class="viewport">
                                                <div class="overview">
                                                    <h4>Investment strategy</h4>
                                                    <ul>
                                                        <li>Wealth Creation: 70% large cap holdings and balance in mid-caps</li>
                                                        <li> Value investment with focus on low valuations and high earnings potential companies</li>
                                                        <li>Time horizon: 3-5 years</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </article>
                        <article class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="single-effect">
                                <figure class="wpf-demo-6">
                                    <div class="stratedgy_box clearfix">
                                        <div class="icon_part"><img src="../Content/images/allocation-icon.png" alt="Allocation icon" title="Allocation icon"></div>
                                        <div class="objectives_box clearfix">
                                            <div class="heading">
                                                <h4>Asset Allocation</h4>
                                            </div>
                                            <div class="choksey_contt_section">
                                                <p>Based on your requirements you assets will be allocated In three different areas of investments</p>
                                            </div>
                                        </div>
                                    </div>

                                    <figcaption class="view-caption">
                                        <div id="scrollbar3">
                                            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                                            <div class="viewport">
                                                <div class="overview">
                                                    <h4>Asset Allocation</h4>
                                                    <p>Based on your requirements you assets will be allocated In three different areas of investments</p>
                                                    <a href="index.html">Suman</a>
                                                </div>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </article>
                    </article>
                </article>
            </article>
        </section>
        <!------------------------------ calculator portfolio  ------------------------------>
        <section id="calculator_portfolio">
            <article class="container">
                <article class="row">
                    <!------- calculator --------->
                    <article class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <article class="calculator clearfix">
                            <div class="heading">
                                <h2>Calculators</h2>
                            </div>
                            <div class="calculator_box clearfix">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <div class="box_one clearfix"><img src="../Content/images/calculator-icon.png" alt="Calculator Icon" title="Calculator Icon">EMI Calculator</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <div class="box_two clearfix"><img src="../Content/images/planner-icon.png" alt="Goal planner Icon" title="Goal planner Icon">Goal Planner</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <div class="box_three clearfix"><img src="../Content/images/wealth-icon.png" alt="Wealth Icon" title="Wealth Icon">Wealth Accumulation Calculator</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <div class="box_four clearfix"><img src="../Content/images/insurance-calculator-icon.png" alt="Insurance Icon" title="Insurance Icon">Insurance Need Calculator</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <div class="box_five clearfix"><img src="../Content/images/retirement-icon.png" alt="Retirement Icon" title="Retirement Icon">Retirement Calculator</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    </article>
                    <!------- My Portfolio --------->
                    <article class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <article class="portfolio_sec clearfix">
                            <div class="heading">
                                <h2>Design my portfolio</h2>
                            </div>
                            <div class="choksey_contt_sec clearfix">
                                <div class="portfolio_box clearfix">
                                    <p>A well-maintained portfolio is vital to any investor's success. Investors can construct portfolios aligned to their goals and investment strategies by following a systematic approach. </p>
                                    <div class="request_back_sec clearfix">
                                        <div class="request_bttn">
                                            <a href="#">Request Call Back</a>
                                        </div>
                                        <div class="number_box">
                                            <input type="text" class="newsletter_input" value="" placeholder="Enter 10 Digit Mobile no" />
                                        </div>
                                    </div>
                                    <p><span>Our Relationship Managers shall connect back within 12 hours</span></p>
                                </div>
                                <div class="form_box_sec clearfix">
                                    <div class="right_away_box clearfix">
                                        <h3>Get in touch <span>with us right away</span></h3>
                                        <h2>999 999 9999</h2>
                                    </div>
                                    <div class="right_away_box_area clearfix">
                                        <h3>Interested, send me more details</h3>
                                        <form class="contact_page2" method="post" action="">
                                            <div class="field_box clearfix">
                                                <div class="field_box_area clearfix">
                                                    <input type="text" placeholder="Phone Number" value="" />
                                                </div>
                                                <div class="field_box_area clearfix">
                                                    <input type="text" placeholder="Phone Number" value="" />
                                                </div>
                                            </div>
                                            <div class="field_box clearfix">
                                                <textarea name="Email Address" cols="" rows=""></textarea>
                                            </div>
                                            <div class="little_contt_section clearfix">
                                                <input value="submit" type="submit">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </article>
                </article>
            </article>
        </section>
    </section>
</section>

