﻿@model KR_Choksey.Models.KrcSIPContacts
@{
    ViewBag.Title = "Mutual Fund | KRChoksey";
    Layout = "~/Views/Shared/_LayoutLP.cshtml";
}

@*<script src="~/Scripts/DevJS/CommonTextBoxValidations.js"></script>*@
<script src="~/Content/js/jquery-1.11.1.min.js"></script>
<script src="~/Content/js/jquery.min.js"></script>

<script src="https://www.google.com/recaptcha/api.js" async="async" defer="defer"></script>

@using (Html.BeginForm("MutualFund", "LP", FormMethod.Post, new { @class = "contact_page4" }))
{
    <div style="text-align:center" class="@ViewBag.HideClass">
        @ViewBag.Message
    </div>
    
    <!------------------------------ mid_body Section ------------------------------>
    <section id="mid_body">
        <section id="inner_page">
            <section id="inner_banner">
                <div class="main_image clearfix">
                    <div class="slider_text dd_dc clearfix">
                        <div class="slider_dd_content clearfix">
                            <h1 class="wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">Invest in Mutual Fund</h1>
                        </div>
                    </div>
                    <img src="~/Content/images/mutual-fund-bg.jpg" alt="Mutual Fund bg" title="Mutual Fund bg">
                </div>
            </section>
            <section id="interoduction_sec">
                <article class="mutual_fund_page clearfix">
                    <article class="interoduction_sec_box clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="700ms" data-wow-delay="500ms">
                        <article class="mutual_fund_page_l clearfix"><img src="~/Content/images/mutual-fund-graphics.png" alt="mutual fund graphics" title="mutual fund graphics"></article>
                        <article class="mutual_fund_page_l clearfix" id="processing">
                            @*<form class="contact_page4" method="post" action="">*@

                            <div class="field_sec_box clearfix">
                                @*<input type="text" placeholder="Your Name *" value="" />*@
                                @Html.TextBoxFor(model => model.Name, null, new { placeholder = "Your Name *", id = "Name" })
                                @Html.ValidationMessageFor(model => model.Name, null, new { @class = "alert-danger" })
                            </div>
                            <div class="field_sec_box clearfix">
                                @*<input type="text" placeholder="Email Address *" value="" />*@
                                @Html.TextBoxFor(model => model.EmailId, null, new { placeholder = "Email Address *", id = "EmailId" })
                                @Html.ValidationMessageFor(model => model.EmailId, null, new { @class = "alert-danger" })
                            </div>
                            <div class="field_sec_box clearfix">
                                @*<input type="text" placeholder="Mobile Number *" value="" />*@
                                @Html.TextBoxFor(model => model.PhoneNumber, null, new { @class = "number", placeholder = "Mobile Number *", maxlength = 10, id = "Mobile" })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, null, new { @class = "alert-danger" })
                            </div>
                            <div class="field_sec_box clearfix">
                                @*<input type="text" placeholder="Aadhar Number / PAN Number *" value="" />*@
                                @Html.TextBoxFor(model => model.Aadhar_PAN, null, new { @class = "number", placeholder = "Aadhar Number / PAN Number ", maxlength = 40, id = "Aadhar_PAN" })
                                @Html.ValidationMessageFor(model => model.Aadhar_PAN, null, new { @class = "alert-danger" })
                            </div>
                            <div class="field_sec_box clearfix">
                                @*<textarea name="Message" cols="" rows="" placeholder="Any Query"></textarea>*@
                                @Html.TextAreaFor(model => model.QuickTopic, new { placeholder = "Any Query", id = "AnyQuery" })
                                @Html.ValidationMessageFor(model => model.QuickTopic, null, new { @class = "alert-danger" })
                            </div>

                            <div class="field_sec_box clearfix">
                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PMutualFund" id="MutualFundID" type="checkbox" value="MutualFund"> Mutual Fund</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PInsurance" id="Insurance" type="checkbox" value="Insurance"> Insurance</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PFinancialPlanning" id="FinancialPlanning" type="checkbox" value="FinancialPlanning"> Financial Planning</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PIFund" id="IFund" type="checkbox" value="IFund"> i-fund</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PIPms" id="IPms" type="checkbox" value="IPms">i-PMS</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PIBrokerage" id="IBrokerage" type="checkbox" value="IBrokerage">i-Brokerage</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PILend" id="ILend" type="checkbox" value="ILend">i-Lend</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PIHold" id="IHold" type="checkbox" value="IHold">i-Hold (Demat)</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PSubBrokerage" id="SubBrokerage" type="checkbox" value="SubBrokerage">Sub Brokerage</label>
                                </div>
                            </div>

                            <div class="field_sec_box clearfix">
                                <div id="dvCaptcha" class="g-recaptcha" data-sitekey="6Lc_UQsUAAAAAKH_61ap6Yu3AMPi8MQX_8nV94u9"></div>
                            </div>

                            <div class="field_sec_box clearfix">
                                @*<input value="submit" type="button" onclick="QuickPost();">*@
                                <input value="submit" type="submit" >
                                @*<input id="Contact" value="Submit" type="button" style="width:100%;background-color:#f7901e;color:white" onclick="QuickPost();">*@
                                
                            </div>

                            @*</form>*@
                        </article>
                    </article>
                </article>
            </section>
            <section id="interoduction_sec">
                <article class="interoduction_sec_box clearfix">
                    <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="1600ms" data-wow-delay="1100ms">
                        <h2>Mutual Fund</h2>
                    </div>
                    <div class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1900ms" data-wow-delay="1400ms">
                        <p>A Mutual Fund is a trust that pools the savings of several investors, invests in capital market instruments such as shares, debentures and other securities and distributes income realized to its unit holders in proportion to the number of units owned by them</p>
                        <p>Thus, a mutual fund is a suitable investment for the common man as it offers an opportunity to invest in a diversified, professionally managed basket of securities at a relatively low cost</p>
                        <p>However, mutual fund investments are subject to market risk. We strongly recommend our customers to read and understand the key information before buying any fund.</p>

                        <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="1600ms" data-wow-delay="1100ms">
                            <h2>Why invest in Mutual Fund?</h2>
                        </div>
                        <div class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1900ms" data-wow-delay="1400ms">
                            <ul>
                                <li>Professional management of funds by dedicated relationship manager</li>
                                <li>Diversification of Portfolio</li>
                                <li>Affordability</li>
                                <li>Tax benefits</li>
                                <li>Liquidity</li>
                                <li>Rupee-cost averaging</li>
                                <li>Transparency</li>
                                <li>Zero-execution charges</li>
                                <li>Online & Offline Tracking System of your Investments</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </section>
        </section>
    </section>


    <script type="text/javascript">
    //$(document).ready(function () {

    //$('#Contact').click(function () {
        function QuickPost() {

            

        //alert('QP');
        var name1 = $('#Name').val();
        var emailid1 = $('#EmailId').val();
        var phone = $('#Mobile').val();
        var topic = $('#AnyQuery').val();
        var aadhar_pan = $('#Aadhar_PAN').val();

        var DMutualFund = document.getElementById("MutualFundID").checked;
        var DInsurance = document.getElementById("Insurance").checked;
        var DFinancialPlanning = document.getElementById("FinancialPlanning").checked;
        var DIFund = document.getElementById("IFund").checked;
        var DIPms = document.getElementById("IPms").checked;
        var DIBrokerage = document.getElementById("IBrokerage").checked;
        var DILend = document.getElementById("ILend").checked;
        var DIHold = document.getElementById("IHold").checked;
        var DSubBrokerage = document.getElementById("SubBrokerage").checked;
        //alert('Manish')

        if (DMutualFund == true) {
            DMutualFund = 'Mutual Fund, ';
            //alert(DMutualFund);
        }
        if (DInsurance == true) {
            DInsurance = 'Insurance, ';
        }
        if (DFinancialPlanning == true) {
            DFinancialPlanning = 'Financial Planning, ';
        }
        if (DIFund == true) {
            DIFund = 'i-fund, ';
        }
        if (DIPms == true) {
            DIPms = 'i-PMS, ';
        }
        if (DIBrokerage == true) {
            DIBrokerage = 'i-Brokerage, ';
        }
        if (DILend == true) {
            DILend = 'i-Lend, ';
        }
        if (DIHold == true) {
            DIHold = 'i-Hold (Demat), ';
        }
        if (DSubBrokerage == true) {
            DSubBrokerage = 'Sub Brokerage, ';
        }

        //alert('Manish');

        if (name1 == "") {
            alert('Please Enter Name!')
        }
        else if (emailid1 == "") {
            alert('Please Enter Email Id!')
        }
        else if (phone == "") {
            alert('Please Enter Phone!')
        }
        //else if (aadhar_pan == "") {
        //    alert('Please Enter Aadhar / PAN!')
        //}
        else {
            $('#processing').html('<p><center>Processing, please wait...<img src="../../Content/images/loading.gif" style="height: 30%; width: 30%; "/></center></p>');


            $.ajax({
                url: '@Url.Action("SIP")',
                type: "POST",
                data: {
                    Name: name1, EmailId: emailid1, PhoneNumber: phone, QuickTopic: topic, Aadhar_Pan: aadhar_pan, PMutualFund: DMutualFund, PInsurance: DInsurance,
                    PFinancialPlanning: DFinancialPlanning,
                    PIFund: DIFund,
                    PIPms: DIPms,
                    PIBrokerage: DIBrokerage,
                    PILend: DILend,
                    PIHold: DIHold,
                    PSubBrokerage: DSubBrokerage
                },
                error: function (xmlHttpRequest, errorText, thrownError) {

                    $('#myModalQuickSignup').style.visibility = 'hidden'
                    alert(xmlHttpRequest + "|" + errorText + "|" + thrownError);
                },
                success: function (data) {

                    //window.location.href = data;

                    if (data == "Success") {
                        alert('Thanks for contacting us! Our team shall get back to you very soon.');
                        window.location.href = "https://www.XXXXXXX.XXX/LP/MutualFund";
                    }
                    else {
                        alert(data);
                        //window.location.href = "http://localhost:11546/LP/MutualFund";
                        window.location.href = "https://www.XXXXXXX.XXX/LP/MutualFund";
                    }
                    $('#myModalQuickSignup').style.visibility = 'hidden'
                }
            });

        }
    }//);

    //});
    </script>
    
}

