﻿@model KR_Choksey.Models.KrcSIPContacts
@{
    ViewBag.Title = "PMS | KRChoksey";
    Layout = "~/Views/Shared/_LayoutLP.cshtml";
    //Layout = null;
}

@*<script src="~/Scripts/DevJS/CommonTextBoxValidations.js"></script>*@
<script src="~/Content/js/jquery-1.11.1.min.js"></script>
<script src="~/Content/js/jquery.min.js"></script>

<script src="https://www.google.com/recaptcha/api.js" async="async" defer="defer"></script>

@using (Html.BeginForm("PMS", "LP", FormMethod.Post, new { @class = "contact_page4" }))
{
    <div style="text-align:center" class="@ViewBag.HideClass">
        @ViewBag.Message
    </div>
    <!------------------------------ mid_body Section ------------------------------>
    <section id="mid_body">
        <section id="inner_page">
            <section id="inner_banner">
                <div class="main_image clearfix">
                    <div class="slider_text sip_invest clearfix">
                        <div class="slider_dd_content clearfix">
                            <h1 class="wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">Portfolio Management Services</h1>
                            <h5 class="wow evnt_pakg fadeInUp animated" data-wow-duration="800ms" data-wow-delay="450ms">investment strategy</h5>
                            <div class="pms_text clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="1000ms" style="padding-top: 0%;"><img src="~/Content/images/i-pms-banner-image.png" alt="i-pms-banner-image" title="i-pms-banner-image"></div>
                        </div>
                    </div>
                    <img src="~/Content/images/inner-banner-bg.jpg" alt="Inner banner bg" title="Inner banner bg">
                </div>
            </section>
            <section id="interoduction_sec">
                <article class="dd_dc_page clearfix">
                    <article class="interoduction_sec_box clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="700ms" data-wow-delay="500ms">
                        <article class="mutual_fund_page_l port_folio clearfix"><img src="~/Content/images/portfolio-management-services.png" alt="portfolio management services" title="portfolio management services"></article>
                        <article class="mutual_fund_page_l clearfix">
                            @*<form class="contact_page4" method="post" action="">
                                <div class="field_sec_box clearfix">
                                    <input type="text" placeholder="Your Name *" value="" />
                                </div>
                                <div class="field_sec_box clearfix">
                                    <input type="text" placeholder="Email Address *" value="" />
                                </div>
                                <div class="field_sec_box clearfix">
                                    <input type="text" placeholder="Mobile Number *" value="" />
                                </div>
                                <div class="field_sec_box clearfix">
                                    <input type="text" placeholder="Aadhar or PAN Number" value="" />
                                </div>
                                <div class="field_sec_box clearfix">
                                    <textarea name="Message" cols="" rows="" placeholder="Any Query"></textarea>
                                </div>
                                <div class="field_sec_box clearfix">
                                    <input value="submit" type="submit">
                                </div>

                                <div class="field_sec_box clearfix">
                                    <h3>Also interested in:</h3>
                                    <div class="pop_form clearfix">
                                        <label> <input style="width:auto !important;" name="item1" id="item1" type="checkbox" value="one">Mutual Fund</label>
                                    </div>

                                    <div class="pop_form clearfix">
                                        <label> <input style="width:auto !important;" name="item1" id="item1" type="checkbox" value="one"> Insurance</label>
                                    </div>

                                    <div class="pop_form clearfix">
                                        <label> <input style="width:auto !important;" name="item1" id="item1" type="checkbox" value="one"> Financial Planning</label>
                                    </div>

                                    <div class="pop_form clearfix">
                                        <label> <input style="width:auto !important;" name="item1" id="item1" type="checkbox" value="one"> i-fund</label>
                                    </div>

                                    <div class="pop_form clearfix">
                                        <label> <input style="width:auto !important;" name="item1" id="item1" type="checkbox" value="one">i-PMS</label>
                                    </div>

                                    <div class="pop_form clearfix">
                                        <label> <input style="width:auto !important;" name="item1" id="item1" type="checkbox" value="one">i-Brokerage</label>
                                    </div>

                                    <div class="pop_form clearfix">
                                        <label> <input style="width:auto !important;" name="item1" id="item1" type="checkbox" value="one">i-Lend</label>
                                    </div>

                                    <div class="pop_form clearfix">
                                        <label> <input style="width:auto !important;" name="item1" id="item1" type="checkbox" value="one">i-Hold (Demat)</label>
                                    </div>

                                    <div class="pop_form clearfix">
                                        <label> <input style="width:auto !important;" name="item1" id="item1" type="checkbox" value="one">Sub Brokerage</label>
                                    </div>

                                </div>
                                <p style="font-size: 12px;"><strong>Disclamier:</strong> By submitting above details, you are authorising us to call you & send promotional communication even though you being registered under NDNC.</p>
                            </form>*@

                            <div class="field_sec_box clearfix">
                                @*<input type="text" placeholder="Your Name *" value="" />*@
                                @Html.TextBoxFor(model => model.Name, null, new { placeholder = "Your Name *", id = "Name" })
                                @Html.ValidationMessageFor(model => model.Name, null, new { @class = "alert-danger" })
                            </div>
                            <div class="field_sec_box clearfix">
                                @*<input type="text" placeholder="Email Address *" value="" />*@
                                @Html.TextBoxFor(model => model.EmailId, null, new { placeholder = "Email Address *", id = "EmailId" })
                                @Html.ValidationMessageFor(model => model.EmailId, null, new { @class = "alert-danger" })
                            </div>
                            <div class="field_sec_box clearfix">
                                @*<input type="text" placeholder="Mobile Number *" value="" />*@
                                @Html.TextBoxFor(model => model.PhoneNumber, null, new { @class = "number", placeholder = "Mobile Number *", maxlength = 10, id = "Mobile" })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, null, new { @class = "alert-danger" })
                            </div>
                            <div class="field_sec_box clearfix">
                                @*<input type="text" placeholder="Aadhar Number / PAN Number *" value="" />*@
                                @Html.TextBoxFor(model => model.Aadhar_PAN, null, new { @class = "number", placeholder = "Aadhar Number / PAN Number ", maxlength = 40, id = "Aadhar_PAN" })
                                @Html.ValidationMessageFor(model => model.Aadhar_PAN, null, new { @class = "alert-danger" })
                            </div>
                            <div class="field_sec_box clearfix">
                                @*<textarea name="Message" cols="" rows="" placeholder="Any Query"></textarea>*@
                                @Html.TextAreaFor(model => model.QuickTopic, new { placeholder = "Any Query", id = "AnyQuery" })
                                @Html.ValidationMessageFor(model => model.QuickTopic, null, new { @class = "alert-danger" })
                            </div>

                            <div class="field_sec_box clearfix">
                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PMutualFund" id="MutualFundID" type="checkbox" value="MutualFund"> Mutual Fund</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PInsurance" id="Insurance" type="checkbox" value="Insurance"> Insurance</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PFinancialPlanning" id="FinancialPlanning" type="checkbox" value="FinancialPlanning"> Financial Planning</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PIFund" id="IFund" type="checkbox" value="IFund"> i-fund</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PIPms" id="IPms" type="checkbox" value="IPms">i-PMS</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PIBrokerage" id="IBrokerage" type="checkbox" value="IBrokerage">i-Brokerage</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PILend" id="ILend" type="checkbox" value="ILend">i-Lend</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PIHold" id="IHold" type="checkbox" value="IHold">i-Hold (Demat)</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PSubBrokerage" id="SubBrokerage" type="checkbox" value="SubBrokerage">Sub Brokerage</label>
                                </div>

                            </div>

                            <div class="field_sec_box clearfix">
                                <div id="dvCaptcha" class="g-recaptcha" data-sitekey="6Lc_UQsUAAAAAKH_61ap6Yu3AMPi8MQX_8nV94u9"></div>
                            </div>

                            <div class="field_sec_box clearfix">
                                @*<input value="submit" type="button" onclick="QuickPost();">*@
                                @*<input value="submit" type="submit" >*@
                                @*<input id="Contact" value="Submit" type="button" style="width:100%;background-color:#f7901e;color:white" onclick="QuickPost();">*@
                                <input id="Contact" value="Submit" type="submit" style="width:100%;background-color:#f7901e;color:white">
                            </div>
                            <p style="font-size: 12px;"><strong>Disclamier:</strong> By submitting above details, you are authorising us to call you & send promotional communication even though you being registered under NDNC.</p>

                        </article>
                    </article>
                </article>
            </section>

            <section id="interoduction_sec">
                <article class="interoduction_sec_box">
                    <article class="sip_invest clearfix">
                        <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="200ms" data-wow-delay="400ms">
                        </div>
                        <div class="sip_invest_bx clearfix">
                            <p>Portfolio Management Services provides you professional support to manage your portfolio and ensures personalized management to generate higher returns in various investment cycles through timely decision & online monitoring of portfolio.</p>
                            <p>Portfolio Management Services (PMS) as an equity investment solution has been a popular choice amongst High Net-worth Individuals (HNIs) whose portfolio value is Rs.25 lakhs and above. Active investors, Corporates, NRIs and professionals seeking to earn better ROI and ride with the India growth story can opt for our PMS services. We also offer SIP in equity</p>
                        </div>
                    </article>
                </article>
            </section>

            <section id="interoduction_sec">
                <article class="interoduction_sec_box">
                    <article class="sip_invest clearfix">
                        <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="200ms" data-wow-delay="400ms">
                            <h2>Why invest in <span>Portfolio Management Service?</span></h2>
                        </div>
                        <div class="sip_invest_bx clearfix">
                            <ul>
                                <li class="wow evnt_pakg fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                    <h3>Liquidity</h3>
                                    <p>Equity investment is most liquid asset, therefore investing and withdrawal is not an issue</p>
                                </li>

                                <li class="wow evnt_pakg fadeInUp animated" data-wow-duration="600ms" data-wow-delay="800ms">
                                    <h3> Professional guidance</h3>
                                    <p>PMS provides exclusive access to the research and reports and also an expertise to guide you</p>
                                </li>

                                <li class="wow evnt_pakg fadeInUp animated" data-wow-duration="800ms" data-wow-delay="1000ms">
                                    <h3> Better returns and risk management</h3>
                                    <p>Your objectives to investment in equities and return expectations are primarily set and KRChoksey works on achieving it</p>
                                </li>

                                <li class="wow evnt_pakg fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="1200ms">
                                    <h3>Ongoing portfolio monitoring by experts</h3>
                                    <p>Your portfolio will be regularly tracked, monitored and reviewed reducing your attention and time to be spent on portfolio</p>
                                </li>

                                <li class="wow evnt_pakg fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="1400ms">
                                    <h3>Customer Centric Solutions</h3>
                                    <p>With fast changing dynamics and business environment, we provide customer centric solutions for wealth creation</p>
                                </li>
                                <li class="wow evnt_pakg fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="1400ms">
                                    <h3>No administrative hassle</h3>
                                </li>
                            </ul>
                        </div>
                    </article>
                </article>
            </section>

            <section id="interoduction_sec">
                <article class="interoduction_sec_box">
                    <article class="sip_invest clearfix">
                        <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="200ms" data-wow-delay="400ms">
                            <h2>Why invest with   <span>KRChoksey? </span></h2>
                        </div>
                        <div class="sip_invest_bx clearfix">
                            <h6><img src="~/Content/images/pms-graph-image.jpg" alt="pms graph image" title="pms graph image"></h6>
                            <p style="width: 70%; text-align: center; margin:  auto;">KRCHOKSEY PMS has customized approach to customer portfolio management and focus on objective i.e the need of customer  to generate decent returns. Our portfolio has outperformed indices. Our portfolio has generated returns of YTD 20-03-2017 34% vs market returns of 18%. </p>
                            <!--<p style="font-size: 12px;"><strong>Disclaimer :</strong> Performance data shown represents past performance and is no guarantee for the future results.</p>-->
                        </div>
                    </article>
                </article>
            </section>

            <section id="interoduction_sec">
                <article class="orange_bg clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1100ms" data-wow-delay="900ms">
                    <article class="interoduction_sec_box clearfix">
                        <h3>In case you have any queries in above matters, you may send us a mail at</h3>
                        <h2>service@XXXXXXX.XXX</h2>
                        <h3>or call us at</h3>
                        <h2>022-66965523</h2>
                    </article>
                </article>
            </section>

            <section id="interoduction_sec">
                <article class="manage_bg clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1100ms" data-wow-delay="900ms">
                    <article class="interoduction_sec_box orange_service clearfix">
                        <h2>we manage! <span>you earn!</span></h2>
                    </article>
                </article>
            </section>



        </section>
    </section>


    <script type="text/javascript">
    //$(document).ready(function () {

    //$('#Contact').click(function () {
    function QuickPost() {
        //alert('QP');
        var name1 = $('#Name').val();
        var emailid1 = $('#EmailId').val();
        var phone = $('#Mobile').val();
        var topic = $('#AnyQuery').val();
        var aadhar_pan = $('#Aadhar_PAN').val();

        var DMutualFund = document.getElementById("MutualFundID").checked;
        var DInsurance = document.getElementById("Insurance").checked;
        var DFinancialPlanning = document.getElementById("FinancialPlanning").checked;
        var DIFund = document.getElementById("IFund").checked;
        var DIPms = document.getElementById("IPms").checked;
        var DIBrokerage = document.getElementById("IBrokerage").checked;
        var DILend = document.getElementById("ILend").checked;
        var DIHold = document.getElementById("IHold").checked;
        var DSubBrokerage = document.getElementById("SubBrokerage").checked;
        //alert('Manish')

        if (DMutualFund == true) {
            DMutualFund = 'Mutual Fund, ';
            //alert(DMutualFund);
        }
        if (DInsurance == true) {
            DInsurance = 'Insurance, ';
        }
        if (DFinancialPlanning == true) {
            DFinancialPlanning = 'Financial Planning, ';
        }
        if (DIFund == true) {
            DIFund = 'i-fund, ';
        }
        if (DIPms == true) {
            DIPms = 'i-PMS, ';
        }
        if (DIBrokerage == true) {
            DIBrokerage = 'i-Brokerage, ';
        }
        if (DILend == true) {
            DILend = 'i-Lend, ';
        }
        if (DIHold == true) {
            DIHold = 'i-Hold (Demat), ';
        }
        if (DSubBrokerage == true) {
            DSubBrokerage = 'Sub Brokerage, ';
        }

        //alert('Manish');

        if (name1 == "") {
            alert('Please Enter Name!')
        }
        else if (emailid1 == "") {
            alert('Please Enter Email Id!')
        }
        else if (phone == "") {
            alert('Please Enter Phone!')
        }
        //else if (aadhar_pan == "") {
        //    alert('Please Enter Aadhar / PAN!')
        //}
        else {
            $('#processing').html('<p><center>Processing, please wait...<img src="../../Content/images/loading.gif" style="height: 30%; width: 30%; "/></center></p>');

            $.ajax({
                url: '@Url.Action("SIP")',
                type: "POST",
                data: {
                    Name: name1, EmailId: emailid1, PhoneNumber: phone, QuickTopic: topic, Aadhar_Pan:aadhar_pan, PMutualFund: DMutualFund, PInsurance: DInsurance,
                    PFinancialPlanning: DFinancialPlanning,
                    PIFund: DIFund,
                    PIPms: DIPms,
                    PIBrokerage: DIBrokerage,
                    PILend: DILend,
                    PIHold: DIHold,
                    PSubBrokerage: DSubBrokerage
                },
                error: function (xmlHttpRequest, errorText, thrownError) {

                    $('#myModalQuickSignup').style.visibility = 'hidden'
                    alert(xmlHttpRequest + "|" + errorText + "|" + thrownError);
                },
                success: function (data) {

                    //window.location.href = data;

                    if (data == "Success") {

                        //document.getElementById('MainDiv').style.visibility = 'hidden'
                        //document.getElementById('ErrorText').style.visibility = 'visible'
                        //document.getElementById('ErrorText').style.color = 'green';
                        //$('#ErrorText').val('Thanks for contacting us! Our team shall get back to you very soon.');
                        alert('Thanks for contacting us! Our team shall get back to you very soon.');
                        //window.location.href = "http://localhost:11546/LP/SIP";
                        window.location.href = "https://www.XXXXXXX.XXX/LP/SIP";
                    }
                    else {
                        alert(data);
                        //window.location.href = "http://localhost:11546/LP/SIP";
                        window.location.href = "https://www.XXXXXXX.XXX/LP/SIP";
                        //$('#ErrorText').val(data);
                        //document.getElementById('MainDiv').style.visibility = 'visible'
                        //document.getElementById('SuccessDiv').style.visibility = 'visible'

                        //document.getElementById('ErrorText').style.color = 'red';
                    }
                    $('#myModalQuickSignup').style.visibility = 'hidden'
                }
            });

        }
    }//);

    //});
    </script>


}