﻿@model KR_Choksey.Models.KrcSIPContacts
@{
    ViewBag.Title = "SIP | KRChoksey";
    Layout = "~/Views/Shared/_LayoutLP.cshtml";
    //Layout = null;
}

@*<script src="~/Scripts/DevJS/CommonTextBoxValidations.js"></script>*@
<script src="~/Content/js/jquery-1.11.1.min.js"></script>
<script src="~/Content/js/jquery.min.js"></script>

<script src="https://www.google.com/recaptcha/api.js" async="async" defer="defer"></script>

@using (Html.BeginForm("SIP", "LP", FormMethod.Post, new { @class = "contact_page4" }))
{
    <div style="text-align:center" class="@ViewBag.HideClass">
        @ViewBag.Message
    </div>
    <!------------------------------ mid_body Section ------------------------------>
    <section id="mid_body">
        <section id="inner_page">
            <section id="inner_banner">
                <div class="main_image clearfix">
                    <div class="slider_text sip_invest clearfix">
                        <div class="slider_dd_content clearfix">
                            <h1 class="wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">Systematic Investment Plan</h1>
                            <h1 class="wow evnt_pakg fadeInUp animated" data-wow-duration="350ms" data-wow-delay="150ms">‘SIP’</h1>
                            <h5 class="wow evnt_pakg fadeInUp animated" data-wow-duration="800ms" data-wow-delay="450ms">investment strategy</h5>
                        </div>
                    </div>
                    <img src="~/Content/images/inner-banner-bg.jpg" alt="Inner banner bg" title="Inner banner bg">
                </div>
            </section>
            <section id="interoduction_sec">
                <article class="dd_dc_page clearfix">
                    <article class="interoduction_sec_box clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="700ms" data-wow-delay="500ms">
                        <article class="mutual_fund_page_l clearfix"><img src="~/Content/images/sip-image.png" alt="SIP Image" title="SIP Image"></article>
                        <article class="mutual_fund_page_l clearfix" id="processing">
                            @*<form class="contact_page4" method="post" action="">*@

                            <div class="field_sec_box clearfix">
                                @*<input type="text" placeholder="Your Name *" value="" />*@
                                @Html.TextBoxFor(model => model.Name, null, new { placeholder = "Your Name *", id = "Name" })
                                @Html.ValidationMessageFor(model => model.Name, null, new { @class = "alert-danger" })
                            </div>
                            <div class="field_sec_box clearfix">
                                @*<input type="text" placeholder="Email Address *" value="" />*@
                                @Html.TextBoxFor(model => model.EmailId, null, new { placeholder = "Email Address *", id = "EmailId" })
                                @Html.ValidationMessageFor(model => model.EmailId, null, new { @class = "alert-danger" })
                            </div>
                            <div class="field_sec_box clearfix">
                                @*<input type="text" placeholder="Mobile Number *" value="" />*@
                                @Html.TextBoxFor(model => model.PhoneNumber, null, new { @class = "number", placeholder = "Mobile Number *", maxlength = 10, id = "Mobile" })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, null, new { @class = "alert-danger" })
                            </div>
                            <div class="field_sec_box clearfix">
                                @*<input type="text" placeholder="Aadhar Number / PAN Number *" value="" />*@
                                @Html.TextBoxFor(model => model.Aadhar_PAN, null, new { @class = "number", placeholder = "Aadhar Number / PAN Number ", maxlength = 40, id = "Aadhar_PAN" })
                                @Html.ValidationMessageFor(model => model.Aadhar_PAN, null, new { @class = "alert-danger" })
                            </div>
                            <div class="field_sec_box clearfix">
                                @*<textarea name="Message" cols="" rows="" placeholder="Any Query"></textarea>*@
                                @Html.TextAreaFor(model => model.QuickTopic, new { placeholder = "Any Query", id = "AnyQuery" })
                                @Html.ValidationMessageFor(model => model.QuickTopic, null, new { @class = "alert-danger" })
                            </div>

                            <div class="field_sec_box clearfix">
                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PMutualFund" id="MutualFundID" type="checkbox" value="MutualFund"> Mutual Fund</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PInsurance" id="Insurance" type="checkbox" value="Insurance"> Insurance</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PFinancialPlanning" id="FinancialPlanning" type="checkbox" value="FinancialPlanning"> Financial Planning</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PIFund" id="IFund" type="checkbox" value="IFund"> i-fund</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PIPms" id="IPms" type="checkbox" value="IPms">i-PMS</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PIBrokerage" id="IBrokerage" type="checkbox" value="IBrokerage">i-Brokerage</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PILend" id="ILend" type="checkbox" value="ILend">i-Lend</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PIHold" id="IHold" type="checkbox" value="IHold">i-Hold (Demat)</label>
                                </div>

                                <div class="pop_form clearfix">
                                    <label> <input style="width:auto !important;" name="PSubBrokerage" id="SubBrokerage" type="checkbox" value="SubBrokerage">Sub Brokerage</label>
                                </div>
                                
                            </div>

                            <div class="field_sec_box clearfix">
                                <div id="dvCaptcha" class="g-recaptcha" data-sitekey="6Lc_UQsUAAAAAKH_61ap6Yu3AMPi8MQX_8nV94u9"></div>
                            </div>
                            
                            <div class="field_sec_box clearfix">
                                @*<input value="submit" type="button" onclick="QuickPost();">*@
                                @*<input value="submit" type="submit" >*@
                                @*<input id="Contact" value="Submit" type="button" style="width:100%;background-color:#f7901e;color:white" onclick="QuickPost();">*@
                                <input id="Contact" value="Submit" type="submit" style="width:100%;background-color:#f7901e;color:white" >
                            </div>

                            @*</form>*@
                        </article>
                    </article>
                </article>
            </section>

            <section id="interoduction_sec">
                <article class="interoduction_sec_box clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="700ms" data-wow-delay="500ms">
                    <p>Systematic Investment Plan is an investment strategy wherein an investor needs to invest the same amount of money in a particular mutual fund at every stipulated time period.</p>
                    <p>A SIP is a flexible and easy investment plan. Your money is auto-debited from your bank account and invested into a specific mutual fund scheme. You are allocated certain number of units based on the ongoing market rate (called NAV or net asset value) for the day.</p>
                    <p>Every time you invest money, additional units of the scheme are purchased at the market rate and added to your account. Hence, units are bought at different rates and investors benefit from Rupee-Cost Averaging and the Power of Compounding.</p>
                    <p>SIPs help to achieve financial goals by investing small sums of money on a monthly basis that eventually leads to accumulating the required corpus for reaching the financial goal.</p>
                </article>
            </section>

            <section id="invest">
                <article class="dd_dc_page clearfix">
                    <article class="interoduction_sec_box sip_in_bx clearfix">
                        <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="200ms" data-wow-delay="400ms">
                            <h2>what do you wish</h2>
                            <h2>to <span> invest </span> for?</h2>
                        </div>
                        <div class="choksey_contt_sec clearfix">
                            <article class="invest_bx_sec clearfix">
                                <article class="invest_bx clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="250ms" data-wow-delay="450ms">
                                    <article class="invest_cr_bx clearfix"><img src="~/Content/images/tax-saving-icon.jpg" title="Tax saving icon" title="Tax saving icon"></article>
                                    <article class="invest_contt_bx clearfix">
                                        <h3>Tax Saving</h3>
                                    </article>
                                </article>

                                <article class="invest_bx clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="400ms" data-wow-delay="650ms">
                                    <article class="invest_cr_bx clearfix"><img src="~/Content/images/wealth-invest-icon.jpg" title="Wealth invest icon" title="Wealth invest icon"></article>
                                    <article class="invest_contt_bx clearfix">
                                        <h3>Wealth</h3>
                                    </article>
                                </article>

                                <article class="invest_bx clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="550ms" data-wow-delay="800ms">
                                    <article class="invest_cr_bx clearfix"><img src="~/Content/images/retairement-icon.jpg" title="Retairement icon" title="Retairement icon"></article>
                                    <article class="invest_contt_bx clearfix">
                                        <h3>Retirement</h3>
                                    </article>
                                </article>

                                <article class="invest_bx clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="700ms" data-wow-delay="950ms">
                                    <article class="invest_cr_bx clearfix"><img src="~/Content/images/child-education-icon.jpg" title="Child education icon" title="Child education icon"></article>
                                    <article class="invest_contt_bx clearfix">
                                        <h3>Child education</h3>
                                    </article>
                                </article>

                                <article class="invest_bx clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="850ms" data-wow-delay="1100ms">
                                    <article class="invest_cr_bx clearfix"><img src="~/Content/images/home-invest-icon.jpg" title="Home invest icon" title="Home invest icon"></article>
                                    <article class="invest_contt_bx clearfix">
                                        <h3>Home</h3>
                                    </article>
                                </article>

                                <article class="invest_bx clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="1250ms">
                                    <article class="invest_cr_bx clearfix"><img src="~/Content/images/car-icon.jpg" title="car icon" title="car icon"></article>
                                    <article class="invest_contt_bx clearfix">
                                        <h3>Car</h3>
                                    </article>
                                </article>


                            </article>
                        </div>
                    </article>
                </article>
            </section>

            <section id="interoduction_sec">
                <article class="interoduction_sec_box">
                    <article class="sip_invest clearfix">
                        <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="200ms" data-wow-delay="400ms">
                            <h2>Why invest in <span>SIP?</span></h2>
                        </div>
                        <div class="sip_invest_bx clearfix">
                            <ul>
                                <li class="wow evnt_pakg fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                    <h3>Disciplined Saving</h3>
                                    <p>Discipline is the key to successful investments. When you invest through SIP, you commit yourself to save regularly. Every investment is a step towards attaining your financial objectives.</p>
                                </li>

                                <li class="wow evnt_pakg fadeInUp animated" data-wow-duration="600ms" data-wow-delay="800ms">
                                    <h3>Flexibility</h3>
                                    <p>While it is advisable to continue SIP investments with a long-term perspective, there is no compulsion. Investors can discontinue the plan at any time as SIPs are done in open-ended funds. One can also increase/ decrease the amount being invested.</p>
                                </li>

                                <li class="wow evnt_pakg fadeInUp animated" data-wow-duration="800ms" data-wow-delay="1000ms">
                                    <h3>Invest in an easy manner</h3>
                                    <p>Register for an SIP online and fill the required details. Ensure availability of funds. A professional manager will invest the money every month according to your financial goal. One can make it simpler by opting for Auto Debit from your bank account for an amount of your choice.</p>
                                </li>

                                <li class="wow evnt_pakg fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="1200ms">
                                    <h3>Rupee cost averaging</h3>
                                    <p>With volatile markets, most investors remain skeptical about the best time to invest and try to 'time' their entry into the market. Rupee-cost averaging allows you to opt out of the guessing game. A SIP investor, while investing every month would end up buying more units when markets goes down and buying less units when market goes up. During volatile period, it may allow you to achieve a lower average cost per unit.</p>
                                </li>

                                <li class="wow evnt_pakg fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="1400ms">
                                    <h3>Power of Compounding</h3>
                                    <p>The rule for compounding is simple - the sooner you start investing, the more time your money has to grow. As the time given to investment increases, the wealth builds at an accelerated pace because of compounding effect.</p>
                                </li>
                            </ul>
                        </div>
                    </article>
                </article>
            </section>

            <section id="interoduction_sec">
                <article class="orange_bg clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1100ms" data-wow-delay="900ms">
                    <article class="interoduction_sec_box clearfix">
                        <h3>In case you have any queries in above matters, you may send us a mail at</h3>
                        <h2>service@XXXXXXX.XXX</h2>
                        <h3>or call us at</h3>
                        <h2>022-66965523</h2>
                    </article>
                </article>
            </section>

            <section id="interoduction_sec">
                <article class="manage_bg clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1100ms" data-wow-delay="900ms">
                    <article class="interoduction_sec_box orange_service clearfix">
                        <h2>we manage! <span>you earn!</span></h2>
                    </article>
                </article>
            </section>



        </section>
    </section>


    <script type="text/javascript">
    //$(document).ready(function () {

    //$('#Contact').click(function () {
    function QuickPost() {
        //alert('QP');
        var name1 = $('#Name').val();
        var emailid1 = $('#EmailId').val();
        var phone = $('#Mobile').val();
        var topic = $('#AnyQuery').val();
        var aadhar_pan = $('#Aadhar_PAN').val();

        var DMutualFund = document.getElementById("MutualFundID").checked;
        var DInsurance = document.getElementById("Insurance").checked;
        var DFinancialPlanning = document.getElementById("FinancialPlanning").checked;
        var DIFund = document.getElementById("IFund").checked;
        var DIPms = document.getElementById("IPms").checked;
        var DIBrokerage = document.getElementById("IBrokerage").checked;
        var DILend = document.getElementById("ILend").checked;
        var DIHold = document.getElementById("IHold").checked;
        var DSubBrokerage = document.getElementById("SubBrokerage").checked;
        //alert('Manish')

        if (DMutualFund == true) {
            DMutualFund = 'Mutual Fund, ';
            //alert(DMutualFund);
        }
        if (DInsurance == true) {
            DInsurance = 'Insurance, ';
        }
        if (DFinancialPlanning == true) {
            DFinancialPlanning = 'Financial Planning, ';
        }
        if (DIFund == true) {
            DIFund = 'i-fund, ';
        }
        if (DIPms == true) {
            DIPms = 'i-PMS, ';
        }
        if (DIBrokerage == true) {
            DIBrokerage = 'i-Brokerage, ';
        }
        if (DILend == true) {
            DILend = 'i-Lend, ';
        }
        if (DIHold == true) {
            DIHold = 'i-Hold (Demat), ';
        }
        if (DSubBrokerage == true) {
            DSubBrokerage = 'Sub Brokerage, ';
        }

        //alert('Manish');

        if (name1 == "") {
            alert('Please Enter Name!')
        }
        else if (emailid1 == "") {
            alert('Please Enter Email Id!')
        }
        else if (phone == "") {
            alert('Please Enter Phone!')
        }
        //else if (aadhar_pan == "") {
        //    alert('Please Enter Aadhar / PAN!')
        //}
        else {
            $('#processing').html('<p><center>Processing, please wait...<img src="../../Content/images/loading.gif" style="height: 30%; width: 30%; "/></center></p>');

            $.ajax({
                url: '@Url.Action("SIP")',
                type: "POST",
                data: {
                    Name: name1, EmailId: emailid1, PhoneNumber: phone, QuickTopic: topic, Aadhar_Pan:aadhar_pan, PMutualFund: DMutualFund, PInsurance: DInsurance,
                    PFinancialPlanning: DFinancialPlanning,
                    PIFund: DIFund,
                    PIPms: DIPms,
                    PIBrokerage: DIBrokerage,
                    PILend: DILend,
                    PIHold: DIHold,
                    PSubBrokerage: DSubBrokerage
                },
                error: function (xmlHttpRequest, errorText, thrownError) {

                    $('#myModalQuickSignup').style.visibility = 'hidden'
                    alert(xmlHttpRequest + "|" + errorText + "|" + thrownError);
                },
                success: function (data) {

                    //window.location.href = data;

                    if (data == "Success") {

                        //document.getElementById('MainDiv').style.visibility = 'hidden'
                        //document.getElementById('ErrorText').style.visibility = 'visible'
                        //document.getElementById('ErrorText').style.color = 'green';
                        //$('#ErrorText').val('Thanks for contacting us! Our team shall get back to you very soon.');
                        alert('Thanks for contacting us! Our team shall get back to you very soon.');
                        //window.location.href = "http://localhost:11546/LP/SIP";
                        window.location.href = "https://www.XXXXXXX.XXX/LP/SIP";
                    }
                    else {
                        alert(data);
                        //window.location.href = "http://localhost:11546/LP/SIP";
                        window.location.href = "https://www.XXXXXXX.XXX/LP/SIP";
                        //$('#ErrorText').val(data);
                        //document.getElementById('MainDiv').style.visibility = 'visible'
                        //document.getElementById('SuccessDiv').style.visibility = 'visible'

                        //document.getElementById('ErrorText').style.color = 'red';
                    }
                    $('#myModalQuickSignup').style.visibility = 'hidden'
                }
            });

        }
    }//);

    //});
    </script>


}