﻿@*@model IEnumerable<KR_Choksey.Areas.Admin.Models.ResearchRptUpload>*@
@{
    ViewBag.Title = "KRChoksey Reports";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="interoduction_sec">
    <article class="interoduction_sec_box clearfix">
        <div>
            <h2>KRChoksey Research Reports</h2>
            <h3></h3>
        </div>
        <div id="tabs20">
            <ul>
                <li><a href="#tabs-1">Research</a></li>
                <li><a href="#tabs-2">PMS</a></li>
            </ul>
            <div id="tabs-1">
                @Html.Action("LatestResearchReport", "KRChokseyReports")
            </div>
            <div id="tabs-2">
               @Html.Action("LatestPMSReport", "KRChokseyReports")
            </div>

        </div>

    </article>
</section>
     
