﻿@{
    ViewBag.Title = "GetBSEData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetBSEData</h2>

@using (Html.BeginForm("GetBSEData", "OnlineCMOTSApi", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{

    <div class="jumbotron">
        @*<h1>ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

    <div class="row">

        <input type="text" id="Mobile" name="Mobile" />

        <input type="submit" id="Post" name="Post" />

        <input type="text" name="lname" id="lname" />
        <input type="text" name="currprice" id="currprice" />
        <input type="text" name="currtime" id="currtime" />
        <input type="text" name="prevclose" id="prevclose" />

    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {

        myFunc();

        function myFunc() {


            $.ajax(
      {
          type: 'GET',
          url: "http://krchokseyapi.cmlinks.com/Equity/Equity.svc/IntradayChart/SENSEX",
          data: { responsetype: "json" },
          success: function (response) {
              //alert(response);
              var result = response.slice(83, -4);
              //alert(result);
              $("#Mobile").val(result);

              $.each($.parseJSON(result), function (idx, obj) {
                  //alert(obj.lname);
                  $("#lname").val(obj.lname);
                  $("#currprice").val(obj.currprice);
                  $("#currtime").val(obj.currtime);
                  $("#prevclose").val(obj.prevclose);
              });

              mpost();
          },
          error: function (xhr, ajaxOptions, thrownError) {
             // alert('GET failed.');
          }

      });

        }



        function mpost()
        {
            $.ajax(
     {

         type: 'POST',
         url: "/OnlineCMOTSApi/GetBSEData/",
         data: { lname: $('#lname').val(), currprice: $('#currprice').val(), currtime:$('#currtime').val(), prevclose:$('#prevclose').val() },
         success: function (response) {

         },
         error: function (xhr, ajaxOptions, thrownError) {
           //  alert('Post failed.');
         }

     });
        }
    });



    </script>
}