﻿
@{
    ViewBag.Title = "GetBSENetPriceLosersData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetBSENetPriceLosersData</h2>

@using (Html.BeginForm("GetBSENetPriceLosersData", "OnlineCMOTSApi", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{

    <div class="jumbotron">
        @*<h1>ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

    <div class="row">

        <input type="text" id="Mobile" name="Mobile" />

        <input type="submit" id="Post" name="Post" />

        <input type="text" name="stk_exchange" id="stk_exchange" />
        <input type="text" name="sc_code" id="sc_code" />
        <input type="text" name="co_code" id="co_code" />
        <input type="text" name="symbol" id="symbol" />
        <input type="text" name="co_name" id="co_name" />
        <input type="text" name="sc_group" id="sc_group" />
        <input type="text" name="upd_time" id="upd_time" />
        <input type="text" name="open_price" id="open_price" />
        <input type="text" name="high_price" id="high_price" />
        <input type="text" name="low_price" id="low_price" />
        <input type="text" name="close_price" id="close_price" />
        <input type="text" name="bbuy_qty" id="bbuy_qty" />
        <input type="text" name="bbuy_price" id="bbuy_price" />
        <input type="text" name="bsell_qty" id="bsell_qty" />
        <input type="text" name="bsell_price" id="bsell_price" />
        <input type="text" name="prevclose" id="prevclose" />
        <input type="text" name="prevdate" id="prevdate" />
        <input type="text" name="perchg" id="perchg" />
        <input type="text" name="netchg" id="netchg" />
        <input type="text" name="vol_traded" id="vol_traded" />
        <input type="text" name="pervol" id="pervol" />
        <input type="text" name="val_traded" id="val_traded" />
        <input type="text" name="fiftytwoweekhigh" id="fiftytwoweekhigh" />
        <input type="text" name="fiftytwoweeklow" id="fiftytwoweeklow" />
        <input type="text" name="prev_vol_traded" id="prev_vol_traded" />
        <input type="text" name="prev_value_traded" id="prev_value_traded" />
        <input type="text" name="offerprice" id="offerprice" />
        <input type="text" name="offerqty" id="offerqty" />
        <input type="text" name="lname" id="lname" />

    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {

        myFunc();

        function myFunc() {


            $.ajax(
      {
          type: 'GET',
          url: "http://krchokseyapi.cmlinks.com/Equity/Equity.svc/gainerslosers/bse/bse_sensex/lose/today/10",
          data: { responsetype: "json" },
          success: function (response) {
              //alert(response);
              var result = response.slice(82, -4);
              //alert(result);
              $("#Mobile").val(result);

              //$.each($.parseJSON(result), function (idx, obj)
              //{
              //    //alert(obj.bbuy_qty);
              //    //alert(obj.bbuy_price);
              //    $("#stk_exchange").val(obj.stk_exchange);
              //    $("#sc_code").val(obj.sc_code);
              //    $("#co_code").val(obj.co_code);
              //    $("#symbol").val(obj.symbol);
              //    $("#co_name").val(obj.co_name);
              //    $("#sc_group").val(obj.sc_group);
              //    $("#upd_time").val(obj.upd_time);
              //    $("#open_price").val(obj.open_price);
              //    $("#high_price").val(obj.high_price);
              //    $("#low_price").val(obj.low_price);
              //    $("#close_price").val(obj.close_price);
              //    $("#bbuy_qty").val(obj.bbuy_qty);
              //    $("#bbuy_price").val(obj.bbuy_price);
              //    $("#bsell_qty").val(obj.bsell_qty);
              //    $("#bsell_price").val(obj.bsell_price);
              //    $("#prevclose").val(obj.prevclose);
              //    $("#prevdate").val(obj.prevdate);
              //    $("#perchg").val(obj.perchg);
              //    $("#netchg").val(obj.netchg);
              //    $("#vol_traded").val(obj.vol_traded);
              //    $("#pervol").val(obj.pervol);
              //    $("#val_traded").val(obj.val_traded);
              //    $("#fiftytwoweekhigh").val(obj.fiftytwoweekhigh);
              //    $("#fiftytwoweeklow").val(obj.fiftytwoweeklow);
              //    $("#prev_vol_traded").val(obj.prev_vol_traded);
              //    $("#prev_value_traded").val(obj.prev_value_traded);
              //    $("#offerprice").val(obj.offerprice);
              //    $("#offerqty").val(obj.offerqty);
              //    $("#lname").val(obj.lname);

              //});

              mpost(result);
          },
          error: function (xhr, ajaxOptions, thrownError) {
             // alert('GET failed.');
          }

      });

        }

        function mpost(result) {
            $.ajax(
     {

         type: 'POST',
         url: "/OnlineCMOTSApi/GetBSENetPriceLosersData/",
         data:
             {
                 result1: result
             },
         success: function (response) {

         },
         error: function (xhr, ajaxOptions, thrownError) {
             //  alert('Post failed.');
         }

     });
        }

     //   function mpost()
     //   {
     //       $.ajax(
     //{

     //    type: 'POST',
     //    url: "/OnlineCMOTSApi/GetBSENetPriceLosersData/",
     //    data:
     //        {
     //            stk_exchange: $('#stk_exchange').val(),
     //            sc_code: $("#sc_code").val(),
     //            co_code: $("#co_code").val(),
     //           symbol: $("#symbol").val(),
     //           co_name: $("#co_name").val(),
     //           sc_group: $("#sc_group").val(),
     //           upd_time: $("#upd_time").val(),
     //           open_price: $("#open_price").val(),
     //           high_price: $("#high_price").val(),
     //           low_price: $("#low_price").val(),
     //           close_price: $("#close_price").val(),
     //           bbuy_qty: $("#bbuy_qty").val(),
     //           bbuy_price: $("#bbuy_price").val(),
     //           bsell_qty: $("#bsell_qty").val(),
     //           bsell_price: $("#bsell_price").val(),
     //           prevclose: $("#prevclose").val(),
     //           prevdate: $("#prevdate").val(),
     //           perchg: $("#perchg").val(),
     //           netchg: $("#netchg").val(),
     //           vol_traded: $("#vol_traded").val(),
     //           pervol: $("#pervol").val(),
     //           val_traded: $("#val_traded").val(),
     //           fiftytwoweekhigh: $("#fiftytwoweekhigh").val(),
     //           fiftytwoweeklow: $("#fiftytwoweeklow").val(),
     //           prev_vol_traded: $("#prev_vol_traded").val(),
     //           prev_value_traded: $("#prev_value_traded").val(),
     //           offerprice: $("#offerprice").val(),
     //           offerqty: $("#offerqty").val(),
     //           lname: $("#lname").val()
     //        },
     //    success: function (response) {

     //    },
     //    error: function (xhr, ajaxOptions, thrownError) {
     //      //  alert('Post failed.');
     //    }

     //});
     //   }
    });



    </script>
}
