﻿
@{
    ViewBag.Title = "GetCmotsCompanyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetCmotsCompanyList</h2>

@using (Html.BeginForm("GetCmotsCompanyList", "OnlineCMOTSApi", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{

    <div class="jumbotron">
        @*<h1>ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

    <div class="row">

        <input type="text" id="CompanyDetails" name="CompanyDetails" />

        <input type="submit" id="Post" name="Post" />


    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {

        myFunc();

        function myFunc() {


            $.ajax(
      {
          type: 'GET',
          url: "http://krchokseyapi.cmlinks.com/Company-Information/Company-Info.svc/StockMaster",
          data: { responsetype: "json" },
          success: function (response) {
              //alert(response);
              var result = response.slice(48, -3);
              //alert(result);
              $("#CompanyDetails").val(result);


              mpost(result);
          },
          error: function (xhr, ajaxOptions, thrownError) {
             // alert('GET failed.');
          }

      });

        }

        function mpost(result) {
            $.ajax(
     {

         type: 'POST',
         url: "/OnlineCMOTSApi/GetCmotsCompanyList/",
         data:
             {
                 group: result
             },
         success: function (response) {

         },
         error: function (xhr, ajaxOptions, thrownError) {
             //  alert('Post failed.');
         }

     });
        }

    });



    </script>
}
