﻿@model KR_Choksey.Models.CmotsCorporateNews
@{
    ViewBag.Title = "Corporate News";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}


<section id="mid_body">
    <section id="inner_page">

        <!------------------------------ About kr choksey Section ------------------------------>
        <section id="interoduction_sec">
            <article class="interoduction_sec_box clearfix">
                <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="1600ms" data-wow-delay="1100ms">
                    <h2>Corporate News</h2>
                </div>
                <div class="choksey_contt_sec clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="1900ms" data-wow-delay="1400ms">
                    <h3>@Html.DisplayFor(model => model.heading)</h3>

                    <p>@Html.Raw(@ViewData["arttext"]) </p>

                    <h5>@Html.DisplayFor(model => model.date)</h5>
                </div>

            </article>
        </section>
        <!------------------------------ Vision Section ------------------------------>

    </section>
</section>

