﻿<!DOCTYPE html>
<html>
<head>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KCPMLG9');</script>
    <!-- End Google Tag Manager -->


    <meta charset="utf-8">
    @*<title>@ViewBag.Title | KRChoksey</title>*@
    <title>@ViewBag.Title</title>
    @if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Favicon-->
    @*<link rel="icon" href="~/Content/images/android-icon-96x96.png" type="image/x-icon" />
        <link rel="shortcut icon" href="~/Content/images/android-icon-96x96.png" type="image/x-icon" />*@
    <link rel="icon" href="~/Content/images/FavIcon_72X72_18012017.jpg" type="image/x-icon" />
    <link rel="shortcut icon" href="~/Content/images/FavIcon_72X72_18012017.jpg" type="image/x-icon" />
    <!-- font awesome Css -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.css" type="text/css">
    <!-- Horizonta tab Jquery Css -->
    <link rel="stylesheet" href="~/Content/css/jquery-ui-1.10.4.custom.min.css" type="text/css">
    <!-- Verticle Text Scrool in banner 03 Css -->
    <link rel="stylesheet" href="~/Content/css/website.css" type="text/css" media="screen" />
    <!-- Text Bend Css -->
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css">
    <!-- Image Overlay Effect -->
    <link rel="stylesheet" href="~/Content/css/camera.css" type="text/css">
    <!-- Abimation cssEffect -->
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- Image Overlay Effect -->
    <link rel="stylesheet" href="~/Content/css/main.css" type="text/css">
    <!-- circle-tab-jquery Css -->
    <link rel="stylesheet" href="~/Content/css/circle-tab-jquery.css" type="text/css">
    <!-- bootstrap Css -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css">
    <!-- kr_choksey Css -->
    <link rel="stylesheet" href="~/Content/css/kr_choksey.css" type="text/css">
    <!-- Responsive Css -->
    <link rel="stylesheet" href="~/Content/css/responsive.css" type="text/css">


    <style type="text/css">
        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('../Content/images/loading.gif') 50% 50% no-repeat rgb(249,249,249);
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script type="text/javascript">

        $(window).load(function () {
            $(".loader").fadeOut("slow");
        });
    </script>
    <script type="text/javascript">
        //For Sec Popup
        $(function () {
            var QCt = setTimeout(QCPOPUP, 30000);
            function QCPOPUP() {
                var value = '@Request.RequestContext.HttpContext.Session["UserId"]';

                if (value == "") {

                    $("#btn").trigger('click');
                }
            }
        });
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-89732986-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KCPMLG9"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->


    <div class="loader"></div>
    <div id="page">
        <!------------------------------ header Section ------------------------------>
        <header>
            <article class="header_box clearfix">
                <div class="logo wow evnt_pakg fadeInUp animated" data-wow-duration="500ms" data-wow-delay="200ms">
                    <p><a href="@Url.Action("Index", "Home")"><img src="~/Content/images/kr-choksey-logo.png" alt="kr choksey logo" title="kr choksey logo"></a></p>
                    @*<p><a href="http://www.XXXXXXX.XXX:83/" target="_blank">Return to Old Website</a></p>*@
                </div>
                @*<span class="oldWebsiteLink"><a href="http://www.XXXXXXX.XXX:83/" target="_blank">Return to Old Website</a></span>*@
                <div class="header_right clearfix">
                    <div class="search_ber_sec clearfix">
                        <div class="newsletter clearfix">
                            @Html.Action("Web_Search", "Home")
                        </div>
                        <div class="all_bttn_sec clearfix">
                            @if (@System.Web.HttpContext.Current.Session["UserId"] != null)
                            {
                                @*<label><b>Hi,</b> @System.Web.HttpContext.Current.Session["UserId"].ToString()</label>*@
                                <label><b>Hi,</b><a href="@Url.Action("User_Dashboard", "Account" )"> @System.Web.HttpContext.Current.Session["UserId"].ToString()</a></label>
                                <div class="log_in_bttn">
                                    @*<p><a href="@Url.Action("Log_Out", "Account" )">Log Out</a></p>*@
                                    <label><a href="@Url.Action("Log_Out", "Account" )">Log Out</a></label>
                                </div>
                            }
                            else if (@System.Web.HttpContext.Current.Session["UserId"] == null)
                            {
                                Session["ReturnUrl"] = Request.Url;
                                <div class="log_in_bttn">
                                    <button type="button" class="log_in_button" data-toggle="modal" data-target="#myModal">Login</button>
                                    @{Html.RenderAction("Login", "Account");}
                                    @*@if (@System.Web.HttpContext.Current.Session["QuickContPopUp"] == null)
                                    {
                                        <button type="button" id="btn" data-toggle="modal" data-target="#myModalQuickSignup" style="display:none;"></button>
                                        Html.RenderAction("QuickContact", "Home");
                                    }
                                    else if (@System.Web.HttpContext.Current.Session["QuickContPopUp"].ToString() == "No")
                                    {

                                    }
                                    else if (@System.Web.HttpContext.Current.Session["QuickContPopUp"].ToString() == "Yes")
                                    {
                                        <button type="button" id="btn" data-toggle="modal" data-target="#myModalQuickSignup" style="display:none;"></button>
                                        Html.RenderAction("QuickContact", "Home");
                                    }*@
                                    @*<button type="button" id="btn" data-toggle="modal" data-target="#myModalQuickSignup" style="display:none;"></button>
                                        @{Html.RenderAction("QuickContact", "Home");}*@
                                </div>
                            }
                        </div>
                    </div>
                    <div class="current_time clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="700ms" data-wow-delay="400ms">
                        <p>@Html.Label(string.Format("{0:dddd, MMMM d, yyyy}", System.DateTime.Now))</p>
                    </div>
                    <div class="footer_in_touch clearfix wow bounceIn animated" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <ul>
                            <li><a href="https://www.facebook.com/krchoksey" target="_blank"><i class="fa fa-facebook-f" aria-hidden="true" style="padding: 11px 4px;"></i></a></li>
                            @*<li><a href="javascript:void(0)" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>*@
                            @*<li><a href="https://www.youtube.com/channel/UCd1oqAY-Nht5FF3WfIMuHVQ" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>*@
                            <li><a href="https://www.youtube.com/channel/UCE3BdbGxR-cmAwYM5Gk0gHw" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/KRChokseyShares" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </article>
        </header>
        <nav class="navbar navbar-default">
            <div class="nav_box ">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wealth<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Financial_Planning", "Product")">Financial Planning</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Research<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Research", "Product")">Research</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Invest<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("i_Equity", "Product")">i-equity</a></li>
                                <li><a href="@Url.Action("i_Derivatives", "Product")">i-derivatives</a></li>
                                <li><a href="@Url.Action("i_Plan", "Product")">i-plan</a></li>
                                <li><a href="@Url.Action("i_PMS", "Product")">i-PMS</a></li>
                                <li><a href="@Url.Action("i_Fund", "Product")">i-fund</a></li>
                                <li><a href="@Url.Action("i_Hold", "Product")">i-hold</a></li>
                                <li><a href="@Url.Action("i_Lend", "Product")">i-lend</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trade<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Online_trading", "Product")">Online Trading</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("About_Us", "Home")">About KRChoksey</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Support<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Contact_Us", "Home")">Contact Us</a></li>
                                <li><a href="@Url.Action("Downloads", "Home")">Downloads</a></li>
                                <li><a href="@Url.Action("Locate_Us", "Home")">Locate Us</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("Careers", "Home")">Careers</a></li>
                        @*<li><a href="@Url.Action("Network_Partner", "Home")">Network Partner</a></li>*@
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Network Partner<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Network_Partner", "Home")">Network Partner Details</a></li>
                                <li><a href="@Url.Action("Network_Partner_Enquiry", "Home")">Network Partner Enquiry</a></li>
                                <li><a href="http://www.krcintellect.com/">Network Partner Login</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!------------------------------ mid_body Section ------------------------------>
        @RenderBody()
        <!------------------------------ Footer ------------------------------>
        <footer>
            <article class="footer_box_sec clearfix">
                <!--<article class="footer_form_box_sec clearfix">
                    <form class="contact_page5" method="post" action="">
                        <div class="choksey_contt_section clearfix">
                            <div class="contact_name_field_one">
                                <input type="text" placeholder="First Name *" value="" />
                            </div>
                            <div class="contact_name_field_one">
                                <input type="text" placeholder="Last Name *" value="" />
                            </div>
                            <div class="contact_name_field_one">
                                <input type="text" placeholder="Email Address *" value="" />
                            </div>
                            <div class="contact_name_field_one">
                                <input type="text" placeholder="Mobile Number *" value="" />
                            </div>
                            <div class="contact_name_field_one clearfix">
                                <input value="submit" type="submit">
                            </div>
                        </div>
                    </form>
                </article>-->
                <article class="footer_top clearfix">
                    <article class="footer_box footer_products clearfix">
                        <div class="footer_header wow evnt_pakg fadeInUp animated" data-wow-duration="500ms" data-wow-delay="200ms">
                            <h3>Products</h3>
                        </div>
                        <div class="choksey_contt_sec clearfix wow bounceIn animated" data-wow-duration="1100ms" data-wow-delay="700ms">
                            <div class="footer_box_left clearfix">
                                <ul>
                                    <li><a href="@Url.Action("Financial_Planning", "Product")">Financial Planning</a></li>
                                    <li><a href="@Url.Action("Research", "Product")">Research</a></li>
                                    <li><a href="@Url.Action("i_Equity", "Product")">i-equity</a></li>
                                    <li><a href="@Url.Action("i_Derivatives", "Product")">i-derivatives</a></li>
                                    <li><a href="@Url.Action("i_Plan", "Product")">i-plan</a></li>
                                </ul>
                            </div>
                            <div class="footer_box_left clearfix">
                                <ul>
                                    <li><a href="@Url.Action("i_PMS", "Product")">i-PMS</a></li>
                                    <li><a href="@Url.Action("i_Fund", "Product")">i-fund</a></li>
                                    <li><a href="@Url.Action("i_Hold", "Product")">i-hold</a></li>
                                    <li><a href="@Url.Action("i_Lend", "Product")">i-lend</a></li>
                                    <li><a href="@Url.Action("Online_trading", "Product")">Online Trading</a></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <article class="footer_box clearfix">
                        <article class="choksey_contt_section clearfix">
                            <div class="footer_header wow evnt_pakg fadeInUp animated" data-wow-duration="500ms" data-wow-delay="200ms">
                                <h3>Support</h3>
                            </div>
                            <div class="choksey_contt_sec clearfix wow bounceIn animated" data-wow-duration="1100ms" data-wow-delay="700ms">
                                <ul>
                                    <li><a href="@Url.Action("Contact_Us", "Home")">Contact Us</a></li>
                                    <li><a href="@Url.Action("Downloads", "Home")">Downloads</a></li>
                                    <li><a href="@Url.Action("Locate_Us", "Home")">Locate Us</a></li>
                                </ul>
                            </div>
                        </article>
                        <article class="choksey_contt_sec clearfix">
                            <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="700ms" data-wow-delay="300ms">
                                <h3>About KRChoksey</h3>
                            </div>
                            <div class="choksey_contt_sec clearfix wow bounceIn animated" data-wow-duration="1100ms" data-wow-delay="700ms">
                                <ul>
                                    <li><a href="@Url.Action("About_Us", "Home")">About KRChoksey</a></li>
                                </ul>
                            </div>
                        </article>
                    </article>
                    <article class="footer_box clearfix">
                        <div class="footer_header wow evnt_pakg fadeInUp animated" data-wow-duration="500ms" data-wow-delay="200ms">
                            <h3>Others</h3>
                        </div>
                        <div class="choksey_contt_sec clearfix wow bounceIn animated" data-wow-duration="1100ms" data-wow-delay="700ms">
                            <ul>
                                <li><a href="@Url.Action("Careers", "Home")">Careers</a></li>
                                <li><a href="@Url.Action("Disclaimer", "Home")">Disclaimer</a></li>
                                <li><a href="@Url.Action("Terms_of_Use", "Home")">Terms of Use</a></li>
                                <li><a href="@Url.Action("Privacy_Statement", "Home")">Privacy Statement</a></li>
                                <li><a href="@Url.Action("SiteMap", "Home")">Sitemap</a></li>
                                <li><a href="@Url.Action("Policies", "Home")">Policies & Procedures</a></li>
                            </ul>
                        </div>
                    </article>
                    <article class="footer_box clearfix">
                        <div class="footer_header wow evnt_pakg fadeInUp animated" data-wow-duration="500ms" data-wow-delay="200ms">
                            <h3>Login</h3>
                        </div>
                        <div class="choksey_contt_sec clearfix wow bounceIn animated" data-wow-duration="1100ms" data-wow-delay="700ms">
                            <ul>
                                <li><a href="#">My KRChoksey</a></li>
                                <li><a href="http://portfolio.myXXXXXXX.XXX">KRC Wealth Tracker</a></li>
                                @*<li><a href="http://www.krchokseypms.com">My PMS Account</a></li>*@
                                <li><a href="https://www.XXXXXXX.XXX/myportfolio/">My PMS Account</a></li>
                                <!--@*<li><a href="http://www.pas.krchokseypms.com">My PAS Account</a></li>*@-->
                                <li><a href="https://online.krctrades.com"></a></li>
                                <li><a href="https://www.nowonline.in">Trade Now</a></li>
                                <li><a href="https://www.krctrades.com">Trade Net</a></li>
                                <li><a href="http://www.krcintellect.com/lasvfdir_krc/">i-fund</a></li>
                            </ul>
                        </div>
                    </article>
                    <article class="footer_box clearfix">
                        <div class="footer_header wow evnt_pakg fadeInUp animated" data-wow-duration="500ms" data-wow-delay="200ms">
                            <h3>Important Links</h3>
                        </div>
                        <div class="choksey_contt_sec clearfix wow bounceIn animated" data-wow-duration="1100ms" data-wow-delay="700ms">
                            <ul>
                                <li><a target="_blank" href="http://www.sebi.gov.in/sebiweb/">SEBI</a></li>
                                <li><a target="_blank" href="http://www.bseindia.com/">BSE</a></li>
                                <li><a target="_blank" href="http://www.nseindia.com/">NSE</a></li>
                                <li><a target="_blank" href="http://www.cdslindia.com/">CDSL</a></li>
                                <li><a target="_blank" href="http://www.mcxindia.com/">MCX</a></li>
                                <li><a target="_blank" href="https://www.irdai.gov.in/Defaulthome.aspx?page=H1">IRDA</a></li>
                                <li><a target="_blank" href="https://www.amfiindia.com/">AMFI</a></li>
                            </ul>
                        </div>
                    </article>
                    <article class="footer_box clearfix">
                        <article class="choksey_contt_section clearfix">
                            <div class="footer_header wow evnt_pakg fadeInUp animated" data-wow-duration="500ms" data-wow-delay="200ms">
                                <h3>Network Partner</h3>
                            </div>
                            <div class="choksey_contt_sec clearfix wow bounceIn animated" data-wow-duration="1100ms" data-wow-delay="700ms">
                                <ul>
                                    <li><a href="@Url.Action("Network_Partner_Enquiry", "Home")">Network Partner Enquiry</a></li>
                                    <li><a href="http://www.krcintellect.com/">Network Partner Login</a></li>
                                </ul>
                            </div>
                        </article>
                        @*<article class="choksey_contt_sec clearfix">
                                <div class="heading wow evnt_pakg fadeInUp animated" data-wow-duration="700ms" data-wow-delay="300ms">
                                    <h3>Useful Links</h3>
                                </div>
                                <div class="choksey_contt_sec clearfix wow bounceIn animated" data-wow-duration="1100ms" data-wow-delay="700ms">
                                    <ul>
                                        <li><a href="#">Sitemap</a></li>
                                    </ul>
                                </div>
                            </article>*@
                    </article>
                </article>
                <article class="footer_bottom clearfix wow evnt_pakg fadeInUp animated" data-wow-duration="700ms" data-wow-delay="300ms">
                    <div class="heading">
                        <h2>Centralised Helpdesk :<span><a href="tel:+912266965513"> +91-22-66965513</a> |<a href="tel:+912266965524"> +91-22-66965524</a></span> | <span><a href="mailto:service@XXXXXXX.XXX">service@XXXXXXX.XXX</a></span></h2>
                    </div>
                    <div class="heading">
                        <h3>Investor Attention</h3>
                    </div>
                    <div class="footer_bottom_box clearfix">
                        <p><strong>Attention Investors</strong> - Prevent Unauthorized Transactions in your account. Update your mobile numbers/email IDs with your stock broker/DP. Receive information of your transactions directly from Exchange/DP on your mobile/email at the end of the day. Issued in the interest of the Investors. </p>
                        <p><strong>Info about KYC Procedure</strong> : KYC is one time exercise while dealing in securitiesw markets - once KYC is done through a SEBI registered intermediary (broker, DP, Mutual Fund, etc.), you need not undergo the same process again when you approach another intermediary. </p>
                        <p>No need to issue cheques by investors while subscribing to IPO. Just write the bank account number & sign in the application form to authorise your bank to make payment in case of allotment. No worries for refund as the money remains in investor's account. </p>
                        <div class="address_details_box clearfix">
                            <div class="address_details_box_left clearfix">
                                <div class="footer_bottom_box clearfix">
                                    <p><strong>Registered Address :</strong> 1102, Stock Exchange Tower, Dalal Street, Mumbai 400001, Maharashtra, India</p>
                                </div>
                            </div>
                            <div class="address_details_box_right clearfix">
                                <div class="footer_bottom_box clearfix">
                                    <p><strong>Corporate Address :</strong> 5th Floor, Abhishek Building, Off New Link Road, Andheri West, Behind Monginis Cake Factory, Mumbsi 400053, Maharashtra, India</p>
                                </div>
                            </div>
                        </div>
                        <div class="footer_bottom_box clearfix">
                            <h3>Regulatory Registration Details</h3>
                            <div class="registration_details_box_area clearfix">
                                <div class="registration_details_box clearfix">
                                    <h4>Kisan Ratilal Choksey Shares And Securities Private Limited</h4>
                                    <div class="footer_bottom_box clearfix">
                                        <p>CIN: U67120MH1997PTC108958 &nbsp; &nbsp; | NSE Member ID: 9758 &nbsp; &nbsp; | BSE Member ID: 385 &nbsp; &nbsp; | MCX-SX Member ID: 10840</p>
                                        <div class="footer_bottom_table clearfix">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td align="center" valign="middle" class="mutual_sub_heading">
                                                        <p>Segment</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>NSE Cash</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>NSE Derivatives</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>NSE Currency</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>BSE Cash</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>BSE Derivatives</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>BSE Currency</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center" valign="middle" class="mutual_sub_heading">
                                                        <p>Registration No.</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>INB230975832</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>INF230975832</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>INE230975832</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>INB010975834</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>INF010975834</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>INE010975834</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="footer_bottom_table clearfix">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td align="center" valign="middle" class="mutual_sub_heading">
                                                        <p>Segment</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>MCX-SX Capital Market</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>MCX-SX F&O</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>MCX-SX CD</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>PMS</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>CDSL</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>AMFI</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center" valign="middle" class="mutual_sub_heading">
                                                        <p>Registration No.</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>INB260975835</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>INF260975835</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>INE260975835</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>INP000001124</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>IN-DP-CDSL-07-99</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>ARN-6734</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="registration_details_box_one clearfix">
                                    <div class="footer_choksey clearfix">
                                        <h4>KRChoksey Commodity Brokers Private Limited</h4>
                                        <p>CIN: U74992MH2006PTC163544 &nbsp; &nbsp; | MCX Member ID: 40915 | &nbsp; &nbsp; | NCDEX Member ID: 1158</p>
                                        <div class="footer_bottom_table clearfix">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td align="center" valign="middle" class="mutual_sub_heading">
                                                        <p>Segment</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>MCX SEBI</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>MCX FMC</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>NCDEX SEBI</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>NCDEX FMC</p>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td align="center" valign="middle" class="mutual_sub_heading">
                                                        <p>Registration No.</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>INZ000032234</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>MCX/TCM/CORP/0841</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>INZ000032234</p>
                                                    </td>
                                                    <td align="center" valign="middle">
                                                        <p>NCDEX/TCM/CORP/1133</p>
                                                    </td>

                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="footer_choksey_bottom clearfix">
                                        <h4>KRChoksey Investment Managers Private Limited</h4>
                                        <p>CIN: U74140MH2006PTC164367</p>
                                        <p>AMFI Registration Number: ARN-70180</p>
                                    </div>
                                    <div class="footer_choksey_bottom clearfix">
                                        <h4>KRC Insurance Advisors Limited</h4>
                                        <p>CIN: U65910MH1988PLC047966</p>
                                        <p>IRDA Registration: CA-0278</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="footer_finish clearfix">
                    <div class="choksey_contt_section clearfix">
                        <div class="address_details_box_two clearfix">
                            <p>© KRChoksey 2016 | All Rights Reserved</p>
                        </div>
                        <div class="address_details_box_three clearfix">
                            <p>Design & Developed By <span><a href="http://promotedge.com/" target="_blank">PromotEdge</a></span></p>
                        </div>
                    </div>
                    <div class="choksey_contt_section clearfix">
                        <div class="address_details_box_three clearfix">
                            <p>Content powered by C-MOTS Infotech( ISO 9001:2008 certified )</p>
                        </div>
                    </div>
                </article>
            </article>
        </footer>
    </div>


    @*<script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-89732986-1', 'auto');
        ga('send', 'pageview');

        </script>*@

    <!--for browser id-->
    @*<script src="../main.js"></script>*@

    <!--base js -->
    <script type="text/ecmascript" src="~/Content/js/jquery-1.11.1.min.js"></script>
    <!--bootstrap js -->
    <script type="text/ecmascript" src="~/Content/js/bootstrap.min.js"></script>
    <!--marquee Js-->
    <script src="~/Content/js/jquery.marquee.js" type="text/javascript"></script>
    <!--auto verticale Js-->
    <script src="~/Content/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <!-- Accordian Jquery Js -->
    <script src="~/Content/js/scripts.js" type='text/javascript'></script>
    <script src="~/Content/js/rlaccordion.min.js" type='text/javascript'></script>
    <!-- animation plugin -->
    <script type="text/javascript" src="~/Content/js/wow.min.js"></script>
    <!-- Verticle Text Scrool in banner 03 Js -->
    <script type="text/javascript" src="~/Content/js/jquery.tinyscrollbar.min.js"></script>

    <script type="text/ecmascript" src="~/Content/js/jquery.min.js"></script>

    <script type='text/javascript' src='~/Content/js/jquery.easing.1.3.js'></script>
    <script type='text/javascript' src='~/Content/js/camera.min.js'></script>



    <!--added on 14.11.16-->
    <!--Auto Scroll Script -->
    <script>
        $(function () {
            var $mwo = $('.marquee-with-options');
            $('.marquee').marquee();
            $('.marquee-with-options').marquee({
                //speed in milliseconds of the marquee
                speed: 30000,
                //gap in pixels between the tickers
                gap: 30,
                //gap in pixels between the tickers
                delayBeforeStart: 0,
                //'left' or 'right'
                direction: 'left',
                //true or false - should the marquee be duplicated to show an effect of continues flow
                duplicated: true,
                //on hover pause the marquee - using jQuery plugin https://github.com/tobia/Pause
                pauseOnHover: true
            });
        });
    </script>

    <!--Horizonta tab Jquery Script -->
    <script>
        $(function () {
            $("#tabs").tabs();
            $("#tabs1").tabs();
            $("#tabs2").tabs();
            $("#tabs3").tabs();
            $("#tabs4").tabs();
            $("#tabs5").tabs();
            $("#tabs6").tabs();
            $("#tabs7").tabs();
            $("#tabs8").tabs();
            $("#tabs9").tabs();
            $("#tabs10").tabs();
            $("#tabs11").tabs();
            $("#tabs12").tabs();
            $("#tabs13").tabs();
            $("#tabs14").tabs();
            $("#tabs15").tabs();
            $("#tabs16").tabs();
            $("#tabs20").tabs();
        });
    </script>

    <!--Calender Jquery Script -->
    <script>
        $(function () {
            $("#datepicker").datepicker();

        });
    </script>


    <!--Animation jquery script -->
    <script>
        // page animation script

        var wow = new WOW({

            boxClass: 'wow',      // animated element css class (default is wow)
            animateClass: 'animated', // animation css class (default is animated)
            offset: 120,          // distance to the element when triggering the animation (default is 0)
            mobile: false,       // trigger animations on mobile devices (default is true)
            live: true        // act on asynchronously loaded content (default is true)

        }

        );

        wow.init();

    </script>



    <script>
        $(document).ready(function () {
            $("div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
                e.preventDefault();
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active");
                var index = $(this).index();
                $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
            });
        });
    </script>

    <!--text bend Script-->
    <script>
        $(document).ready(function () {
            var str = $('.curved-text').html();
            var curved = '';
            for (var i = 0, len = str.length; i < len; i++) {
                curved += '<span class="char';
                curved += i;
                curved += '">';
                curved += str[i];
                curved += '</span>';
            }
            $('.curved-text').html(curved);
        });
    </script>

    <script>
        $(document).ready(function () {
            var str = $('.curved-text2').html();
            var curved = '';
            for (var i = 0, len = str.length; i < len; i++) {
                curved += '<span class="char';
                curved += i;
                curved += '">';
                curved += str[i];
                curved += '</span>';
            }
            $('.curved-text2').html(curved);
        });
    </script>

    <script>
        $(document).ready(function () {
            var str = $('.curved-text3').html();
            var curved = '';
            for (var i = 0, len = str.length; i < len; i++) {
                curved += '<span class="char';
                curved += i;
                curved += '">';
                curved += str[i];
                curved += '</span>';
            }
            $('.curved-text3').html(curved);
        });
    </script>

    <script>
        $(document).ready(function () {
            var str = $('.curved-text4').html();
            var curved = '';
            for (var i = 0, len = str.length; i < len; i++) {
                curved += '<span class="char';
                curved += i;
                curved += '">';
                curved += str[i];
                curved += '</span>';
            }
            $('.curved-text4').html(curved);
        });
    </script>
    <!--Verticle Text Scrool in banner 03 Script -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#scrollbar1').tinyscrollbar();
        });
    </script>
    <!--Banner Script-->
    <script>
        jQuery(function () {
            jQuery('#camera_wrap_1').camera({
                thumbnails: true,
                autoplay: false,
                thumbnails: true,
                autoAdvance: false,
                mobileAutoAdvance: false,

            });

            jQuery('#camera_wrap_2').camera({
                height: '400px',
                loader: 'bar',
                pagination: false,

                thumbnails: true
            });
        });
    </script>

    <!--Bootstrap Drpdown Script-->
    <script>
        $('ul.nav li.dropdown').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
        });
    </script>



</body>
</html>