@import url("//fonts.googleapis.com/css?family=Open+Sans");
@import url("//fonts.googleapis.com/css?family=Cabin");
/*
	Tutorial: Css3 Image hover effect
	Author : WpFreeware
	Author URI: http://www.wpfreeware.com/

*/
/* BASE - Base tyles, Variables, Mixins, etc. */
/* Style for Demo */


.primary-btn {
  padding: 10px 15px;
  color: #2980b9;
  font-size: 18px;
}
.primary-btn span {
  margin-left: 5px;
}


/* Seventh Section */
#seventh-section {
  background-color: #e67e22;
  display: inline;
  width: 100%;
  float: left;
}
#seventh-section .seventh-section-area {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
  padding: 150px 0;
}
#seventh-section .seventh-section-area h2 {
  color: #fff;
  margin-bottom: 40px;
}
#seventh-section .seventh-section-area .single-effect {
  display: inline-block;
  margin: 0 18px;
}
#seventh-section .seventh-section-area .single-effect h3 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 20px;
}
#seventh-section .seventh-section-area .single-effect .hover {
  background-color: #FFF;
  color: #888;
}



.wrapp-inner {
  float: left;
  display: inline;
  width: 100%;
}

/*  Start CSS3 Image Hover Effect */


/*  Demo 6 */
.wpf-demo-6 {
  background-color:rgba(0,0,0,0.3);
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.wpf-demo-6 img {
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.wpf-demo-6:hover .view-caption {
  opacity: 1;
  background-color:#313131;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  padding:20px;
}
.wpf-demo-6:hover .view-caption:hover h4 {
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.wpf-demo-6:hover .view-caption:hover a {
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.wpf-demo-6 .view-caption {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding: 20% 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.wpf-demo-6 .view-caption h4 {
  color: #fff;
  font-size:24px;
  font-weight: normal;
  margin-bottom: 15px;
  margin-top: 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: scale(0.4);
  -o-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
}
.wpf-demo-6 .view-caption a {
  color: #fff;
  font-size: 18px;
  margin-top: 14%;
  display: inline-block;
  border: 2px solid #fff;
  padding: 10px 15px;
  line-height: 18px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: scale(0.4);
  -o-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
}
.wpf-demo-6 .view-caption a:hover {
  color: #D24D57;
  border-color: #D24D57;
}








/*****************************************/
